<%= render "govuk_publishing_components/components/warning_text", {
  text: "Changes to government appear instantly on the live site.",
} %>
<%= form_for [:admin, government], as: :government do |form| %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Name"
    },
    name: "name",
    id: "government_name",
    heading_level: 3,
    heading_size: "m",
    value: government.name,
    error_message: errors_for_input(government.errors, :wont_be_empty)
  } %>

  <%= render "components/datetime_fields", {
    date_only: true,
    prefix: "government",
    field_name: "government[start_date]",
    id: "government_start_date",
    heading_level: 3,
    heading_size: "m",
    date_hint: "For example, 01 August 2015",
    date_heading: "Start date",
    year: {
      value: government.start_date.to_date
    },
    month: {
      value: government.start_date.to_date
    },
    day: {
      value: government.start_date.to_date
    },
    error_items: errors_for_input(government.errors, :wont_be_empty)
  } %>

  <% if government.ended? %>
    <%= render "components/datetime_fields", {
      date_only: true,
      prefix: "government",
      field_name: "government[end_date]",
      id: "government_end_date",
      heading_level: 3,
      heading_size: "m",
      date_hint: "For example, 01 August 2022",
      date_heading: "End date",
      year: {
        value: government.end_date.to_date
      },
      month: {
        value: government.end_date.to_date
      },
      day: {
        value: government.end_date.to_date
      },
    } %>
  <% else %>
    <%= render "components/datetime_fields", {
      date_only: true,
      prefix: "government",
      field_name: "government[end_date]",
      id: "government_end_date",
      heading_level: 3,
      heading_size: "m",
      date_hint: "For example, 01 August 2022",
      date_heading: "End date",
    } %>
  <% end %>

  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", {
      text: "Save"
    } %>
    <%= link_to("cancel", admin_governments_path(), class: "govuk-link") %>
  </div>
<% end %>
