<%= form_for [:admin, government], as: :government do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/warning_text", {
        text: "Changes to government appear instantly on the live site.",
      } %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Name"
        },
        name: "government[name]",
        id: "government_name",
        heading_size: "l",
        value: government.name,
        error_message: errors_for_input(government.errors, :name)
      } %>

      <%= render "components/datetime_fields", {
        date_only: true,
        prefix: "government",
        field_name: "start_date",
        id: "government_start_date",
        heading_size: "l",
        date_hint: "For example, 01 August 2015",
        date_heading: "Start date",

        year: {
          value: government.start_date.to_date,
          start_year: 1800
        },
        month: {
          value: government.start_date.to_date
        },
        day: {
          value: government.start_date.to_date
        },

        error_items: errors_for_input(government.errors, :start_date)
      } %>

      <% if government.ended? %>
        <%= render "components/datetime_fields", {
          date_only: true,
          prefix: "government",
          field_name: "end_date",
          id: "government_end_date",
          heading_level: 3,
          heading_size: "m",
          date_hint: "For example, 01 August 2022",
          date_heading: "End date",
          year: {
            value: government.end_date.to_date,
            start_year: 1800
          },
          month: {
            value: government.end_date.to_date
          },
          day: {
            value: government.end_date.to_date
          },
        } %>
      <% else %>
        <%= render "components/datetime_fields", {
          date_only: true,
          prefix: "government",
          field_name: "end_date",
          id: "government_end_date",
          heading_level: 3,
          heading_size: "m",
          date_hint: "For example, 01 August 2022",
          date_heading: "End date",
        } %>
      <% end %>

      <div class="govuk-button-group govuk-!-margin-bottom-8">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save"
        } %>
        <%= link_to("cancel", admin_governments_path(), class: "govuk-link") %>
      </div>
      <% if government.persisted? %>
        <%= link_to("Prepare to close this government", prepare_to_close_admin_government_path(government), class:
          "govuk-link gem-link--destructive") %>
      <% end %>
    </div>
  </div>
<% end %>
