<% page_title "Governments" %>
<h1>Governments</h1>

<% if can?(:manage, Government) %>
  <p>
    <%= link_to "Create a government", new_admin_government_path %>
  </p>
<% end %>

<table class="governments table table-striped table-bordered add-top-margin">
  <thead>
    <tr class="table-header">
      <th width="70%">Name</th>
      <th width="15%">Start date</th>
      <th width="15%">End date</th>
    </tr>
  </thead>

  <tbody>
    <% @governments.each do |government| %>
      <%= content_tag_for(:tr, government) do %>
        <td>
          <% if can?(:manage, Government) %>
            <%= link_to government.name, edit_admin_government_path(government) %>
          <% else %>
            <%= government.name %>
          <% end %>
        </td>
        <td>
          <%= government.start_date.to_fs(:govuk_date) %>
        </td>
        <td>
          <%= government.end_date.to_fs(:govuk_date) if government.end_date %>
        </td>
      <% end %>
    <% end %>

    <% if @governments.empty? %>
      <tr>
        <td colspan="3">No governments have been created.</td>
      </tr>
    <% end %>
  </tbody>
</table>
