<%= form_with model: topical_event, url: [:admin, topical_event], multipart: true do |form| %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Name (required)",
      heading_size: "l",
    },
    value: topical_event.name,
    name: "topical_event[name]",
    id: "topical_event_name",
    error_items: errors_for(topical_event.errors, :name),
  } %>

  <%= render "govuk_publishing_components/components/character_count", {
    textarea: {
      label: {
        text: "Summary (required)",
        heading_size: "l",
      },
      value: topical_event.summary,
      name: "topical_event[summary]",
      rows: 4,
      error_items: errors_for(topical_event.errors, :summary),
    },
    maxlength: MaxLengths::SUMMARY,
    id: "topical_event_summary",
  } %>

  <%= render "components/govspeak_editor", {
    label: {
      heading_size: "l",
      text: "Description (required)",
    },
    value: topical_event.description,
    heading_size: "l",
    name: "topical_event[description]",
    id: "topical_event_description",
    rows: 20,
    error_items: errors_for(topical_event.errors, :description),
    margin_bottom: 8,
  } %>

  <div class="govuk-!-margin-bottom-8">
    <%= form.fields_for :logo do |_image_fields| %>
      <%= render "components/single_image_upload", {
        title: "Logo",
        name: "topical_event[logo_attributes]",
        image_id: "topical_event_logo_file",
        image_name: "topical_event[logo_attributes][file]",
        alt_text_name: "topical_event[logo_alt_text]",
        alt_text_id: "topical_event_logo_alt_text",
        filename: topical_event.logo.filename,
        page_errors: topical_event.errors.any?,
        error_items: errors_for(topical_event.errors, :"logo.file"),
        image_src: topical_event.logo.url,
        image_alt: topical_event.logo_alt_text,
        image_cache_name: "topical_event[logo_attributes][file_cache]",
        image_cache: topical_event.logo.file_cache.presence,
        image_uploaded: topical_event.logo.all_asset_variants_uploaded?,
      } %>
    <% end %>
  </div>

  <div class="govuk-!-margin-bottom-8">
    <%= render "govuk_publishing_components/components/fieldset", {
      legend_text: "Duration",
      heading_size: "l",
      margin_bottom: 2,
    } do %>
      <%= render "components/datetime_fields", {
        ga4_section: "Duration",
        date_only: true,
        prefix: "topical_event",
        field_name: "start_date",
        id: "topical_event_start_date",
        heading_size: "m",
        date_hint: "For example, 01 08 2015",
        date_heading: "Start date",
        margin_bottom: 2,
        year: {
          id: "topical_event_start_date(1i)",
          name: "topical_event[start_date(1i)]",
          value: params.dig("topical_event", "start_date(1i)") || topical_event.start_date&.year,
          label: "Year",
          width: 4,
        },
        month: {
          id: "topical_event_start_date(2i)",
          name: "topical_event[start_date(2i)]",
          value: params.dig("topical_event", "start_date(2i)") || topical_event.start_date&.month,
          label: "Month",
          width: 2,
        },
        day: {
          id: "topical_event_start_date(3i)",
          name: "topical_event[start_date(3i)]",
          value: params.dig("topical_event", "start_date(3i)") || topical_event.start_date&.day,
          label: "Day",
          width: 2,
        },
        error_items: errors_for(topical_event.errors, :start_date),
      } %>

      <%= render "components/datetime_fields", {
        ga4_section: "Duration",
        date_only: true,
        prefix: "topical_event",
        field_name: "end_date",
        id: "topical_event_end_date",
        heading_size: "m",
        date_hint: "For example, 01 08 2022",
        date_heading: "End date",
        year: {
          id: "topical_event_end_date(1i)",
          name: "topical_event[end_date(1i)]",
          value: params.dig("topical_event", "end_date(1i)") || topical_event.end_date&.year,
          label: "Year",
          width: 4,
        },
        month: {
          id: "topical_event_end_date(2i)",
          name: "topical_event[end_date(2i)]",
          value: params.dig("topical_event", "end_date(2i)") || topical_event.end_date&.month,
          label: "Month",
          width: 2,
        },
        day: {
          id: "topical_event_end_date(3i)",
          name: "topical_event[end_date(3i)]",
          value: params.dig("topical_event", "end_date(3i)") || topical_event.end_date&.day,
          label: "Day",
          width: 2,
        },
        error_items: errors_for(topical_event.errors, :end_date),
      } %>
    <% end %>
  </div>

  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Social media accounts",
    heading_size: "l",
    data_attributes: {
      ga4_section: "Social media accounts",
    },
  } do %>
    <%= render "govuk_publishing_components/components/add_another", {
      fieldset_legend: "Account",
      add_button_text: "Add account",
      items: form.object.social_media_accounts.each_with_index.map do  |social_media_account, index|
        {
          fields: render(partial: "admin/topical_events/social_media_account_fields", locals: { form:, social_media_account:, index: }),
          destroy_checkbox: render("govuk_publishing_components/components/checkboxes", { name: "topical_event[social_media_accounts_attributes][#{index}][_destroy]", items: [{label: "Delete", value: "1" }]}),
        }
      end,
      empty: render(partial: "admin/topical_events/social_media_account_fields", locals: { form:, social_media_account: SocialMediaAccount.new, index: form.object.social_media_accounts.length }),
      data_attributes: {
        ga4_start_index: 0,
      },
    } %>
  <% end %>

  <div class="govuk-button-group govuk-!-margin-top-8">
    <%= render "govuk_publishing_components/components/button", {
      text: "Save",
    } %>

    <% if @topical_event.persisted? %>
      <%= link_to("Cancel", admin_topical_event_path(@topical_event), class: "govuk-link") %>
    <% else %>
      <%= link_to("Cancel", admin_topical_events_path, class: "govuk-link") %>
    <% end %>
  </div>
<% end %>
