<%= form_with model: topical_event, url: [:admin, topical_event], multipart: true do |form| %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Name (required)",
      heading_size: "l",
    },
    value: topical_event.name,
    name: "topical_event[name]",
    id: "topical_event_name",
    error_items: errors_for(topical_event.errors, :name),
  } %>

  <%= render "govuk_publishing_components/components/character_count", {
    textarea: {
      label: {
        text: "Summary (required)",
        heading_size: "l",
      },
      value: topical_event.summary,
      name: "topical_event[summary]",
      rows: 4,
      error_items: errors_for(topical_event.errors, :summary),
    },
    maxlength: MaxLengths::SUMMARY,
    id: "topical_event_summary",
  } %>

  <%= render "components/govspeak_editor", {
    label: {
      heading_size: "l",
      text: "Description (required)",
    },
    value: topical_event.description,
    heading_size: "l",
    name: "topical_event[description]",
    id: "topical_event_description",
    rows: 20,
    error_items: errors_for(topical_event.errors, :description),
    margin_bottom: 8,
  } %>

  <div class="govuk-!-margin-bottom-8">
    <%= form.fields_for :logo do |_image_fields| %>
      <%= render "components/single_image_upload", {
        title: "Logo",
        name: "topical_event[logo_attributes]",
        image_id: "topical_event_logo_file",
        image_name: "topical_event[logo_attributes][file]",
        alt_text_name: "topical_event[logo_alt_text]",
        alt_text_id: "topical_event_logo_alt_text",
        filename: topical_event.logo.filename,
        page_errors: topical_event.errors.any?,
        error_items: errors_for(topical_event.errors, :"logo.file"),
        image_src: topical_event.logo.url,
        image_alt: topical_event.logo_alt_text,
        image_cache_name: "topical_event[logo_attributes][file_cache]",
        image_cache: topical_event.logo.file_cache.presence,
        image_uploaded: topical_event.logo.all_asset_variants_uploaded?,
      } %>
    <% end %>
  </div>

  <div class="govuk-button-group govuk-!-margin-top-8">
    <%= render "govuk_publishing_components/components/button", {
      text: "Save",
    } %>

    <% if @topical_event.persisted? %>
      <%= link_to("Cancel", admin_topical_event_path(@topical_event), class: "govuk-link") %>
    <% else %>
      <%= link_to("Cancel", admin_topical_events_path, class: "govuk-link") %>
    <% end %>
  </div>
<% end %>
