<%= form_with model: topical_event, url: [:admin, topical_event], multipart: true do |form| %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Name (required)",
      heading_size: "l"
    },
    value: topical_event.name,
    name: "topical_event[name]",
    id: "topical_event_name",
    error_items: errors_for(topical_event.errors, :name)
  } %>

  <%= render "govuk_publishing_components/components/character_count", {
    textarea: {
      label: {
        text: "Summary (required)",
        heading_size: "l"
      },
      value: topical_event.summary,
      name: "topical_event[summary]",
      rows: 4,
      error_items: errors_for(topical_event.errors, :summary)
    },
    maxlength: 160,
    id: "topical_event_summary",
  } %>

  <%= render "components/govspeak-editor", {
    label: {
      heading_size: "l",
      text: "Description (required)",
    },
    value: topical_event.description,
    heading_size: "l",
    name: "topical_event[description]",
    id: "topical_event_description",
    rows: 20,
    error_items: errors_for(topical_event.errors, :description),
    margin_bottom: 8,
  } %>

  <div class="govuk-!-margin-bottom-8">
    <%= render "components/single-image-upload", {
      title: "Logo",
      name: "topical_event",
      image_id: "topical_event_logo",
      image_name: "topical_event[logo]",
      alt_text_name: "topical_event[logo_alt_text]",
      alt_text_id: "topical_event_logo_alt_text",
      filename: topical_event.logo.filename,
      page_errors: topical_event.errors.any?,
      error_items: errors_for(topical_event.errors, :logo),
      image_src: topical_event.logo.url,
      image_alt: topical_event.logo_alt_text,
      image_cache_name: "topical_event[logo_cache]",
      image_cache: (topical_event.logo.image_cache if topical_event.logo.image_cache.present?)
    } %>
  </div>

  <div class="govuk-!-margin-bottom-8">
    <%= render "govuk_publishing_components/components/fieldset", {
      legend_text: "Duration",
      heading_size: "l",
      margin_bottom: 2
    } do %>
      <%= render "components/datetime_fields", {
        date_only: true,
        prefix: "topical_event",
        field_name: "start_date",
        id: "topical_event_start_date",
        heading_size: "m",
        date_hint: "For example, 01 August 2015",
        date_heading: "Start date",
        margin_bottom: 2,
        year: {
          value: topical_event.start_date&.year
        },
        month: {
          value: topical_event.start_date&.month
        },
        day: {
          value: topical_event.start_date&.day,
        },
        error_items: errors_for(topical_event.errors, :start_date)
      } %>

      <%= render "components/datetime_fields", {
        date_only: true,
        prefix: "topical_event",
        field_name: "end_date",
        id: "topical_event_end_date",
        heading_size: "m",
        date_hint: "For example, 01 August 2022",
        date_heading: "End date",
        year: {
          value: topical_event.end_date&.year
        },
        month: {
          value: topical_event.end_date&.month
        },
        day: {
          value: topical_event.end_date&.day
        },
      } %>
    <% end %>
  </div>

  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Social media accounts",
    heading_size: "l"
  } do %>
    <div data-module="AddAnother" data-add-text="Add account" class="govuk-!-margin-bottom-4">
      <%= form.fields_for :social_media_accounts do |social_media_form| %>
        <div class="js-duplicate-fields-set">
          <div class="govuk-!-margin-bottom-6">
            <div class="govuk-!-margin-bottom-4">
              <%= render "govuk_publishing_components/components/select", {
                id: "topical_event_social_media_accounts_attributes_#{social_media_form.index}_social_media_service_id",
                label: "Service (required)",
                name: "topical_event[social_media_accounts_attributes][#{social_media_form.index}][social_media_service_id]",
                heading_size: "m",
                options: [{ text: "", value: "" }] +
                  SocialMediaService.all.map { |social_media|
                    {
                      text: social_media.name,
                      value: social_media.id,
                      selected: social_media_form.object.social_media_service_id == social_media.id
                    }
                  },
                full_width: true
              } %>
            </div>
            <%= render "govuk_publishing_components/components/input", {
              label: {
                text: "URL (required)"
              },
              name: "topical_event[social_media_accounts_attributes][#{social_media_form.index}][url]",
              id: "topical_event_social_media_accounts_attributes_#{social_media_form.index}_url",
              value: social_media_form.object.url,
              heading_size: "m",
              error_items: errors_for(social_media_form.object.errors, :url)
            } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="govuk-button-group govuk-!-margin-top-8">
    <%= render "govuk_publishing_components/components/button", {
      text: "Save"
    } %>

    <% if @topical_event.persisted? %>
      <%= link_to("Cancel", admin_topical_event_path(@topical_event), class: "govuk-link") %>
    <% else %>
      <%= link_to("Cancel", admin_topical_events_path, class: "govuk-link") %>
    <% end %>
  </div>
<% end %>
