<%= content_tag_for(:tr, topical_event) do %>
  <td class="name">
    <%= link_to topical_event.name, [:admin, topical_event], title: "Edit #{human_friendly_model_name.downcase} #{topical_event.name}" %>
  </td>
  <td class="summary"><%= truncate(topical_event.summary, length: 130, separator: ' ') %></td>
  <td class="description"><%= truncate(topical_event.description, length: 130, separator: ' ') %></td>
  <td class="details"><%= topical_event_contents_breakdown(topical_event) %></td>
  <td class="duration">
    <% if topical_event.start_date && topical_event.end_date %>
      <%= topical_event.start_date %> to <%= topical_event.end_date %>
    <% end %>
  </td>
<% end %>
