<% page_title "Unpublish statistics announcement" %>

<div class="stats-form-wrapper">
  <h1>
    <span class="stats-small-heading">
      <%= @statistics_announcement.title %>
    </span>
    <span class="stats-heading">
      Unpublish statistics announcement
    </span>
  </h1>

  <div class="add-bottom-margin lead">
    <p>Take announcements off GOV.UK if they:</p>
    <ul>
      <li>are a duplicate of another announcement</li>
      <li>have been published too soon or in error</li>
    </ul>

    <p>
      <strong>If the statistics are no longer being released, <%= link_to "cancel the release", [:cancel, :admin, @statistics_announcement] %>.</strong>
    </p>
  </div>

  <%= form_for @statistics_announcement, url: admin_statistics_announcement_unpublish_path(@statistics_announcement), method: :post, html: { class: "well" } do |form| %>
    <%= form.errors %>
    <div class="form-group">
      <%= form.text_field :redirect_url, required: true, rows: 5, class: 'form-control', label_text: 'Redirect to URL' %>
    </div>

    <%= form.submit('Unpublish', class: "btn btn-lg btn-primary btn-danger") %>
    <%= link_to('Cancel', admin_statistics_announcement_path(@statistics_announcement), class: 'btn btn-default btn-lg add-left-margin') %>
  <% end %>
</div>
