<%= content_tag_for(:tr, document_series) do %>
  <td class="name">
    <%= link_to document_series.name, admin_organisation_document_series_path(document_series.organisation, document_series), title: "view document series #{document_series.name}" %>
  </td>
  <td class="organisation"><%= document_series.organisation.name %></td>
  <td class="count"><%= document_series.editions.count %></td>
  <td>
    <%= link_to "Edit", edit_admin_organisation_document_series_path(document_series.organisation, document_series), class: 'btn', title: "view document series #{document_series.name}" %>
  </td>
  <td>
    <%= button_to 'Delete', admin_organisation_document_series_path(document_series.organisation, document_series), method: :delete, title: "Delete", confirm: "Are you sure you want to delete the document series?", class: "btn btn-danger" %>
  </td>
<% end %>
