<%= content_tag_for(:tr, document_series) do %>
  <td class="name">
    <%= link_to document_series.name, admin_organisation_document_series_path(document_series.organisation, document_series), title: "view document series #{document_series.name}" %>
    <%= link_to "(edit)", edit_admin_organisation_document_series_path(document_series.organisation, document_series), title: "view document series #{document_series.name}" %>
  </td>
  <td class="organisation"><%= document_series.organisation.name %></td>
  <td class="count"><%= document_series.editions.count %></td>
<% end %>