<% page_title "#{@document_series.name}", "Document series" %>

<p><%= link_to "Back to #{@document_series.organisation.name}", admin_organisation_path(@document_series.organisation) %></p>

<p><%= link_to "View on public site", organisation_document_series_path(@document_series.organisation, @document_series) %></p>

<h1><%= @document_series.name %></h1>

<div class="description"><%= govspeak_to_html @document_series.description %></div>

<% if @document_series.editions.any? %>
  <ul>
    <% @document_series.editions.each do |edition| %>
      <%= content_tag_for :li, edition do %>
        <%= document_series_edition_with_state(edition) %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No associated editions</p>
<% end %>

<%= link_to "Edit", edit_admin_organisation_document_series_path(@document_series.organisation, @document_series), class: "btn" %>
<%= button_to 'Delete', admin_organisation_document_series_path(@document_series.organisation, @document_series), method: :delete, title: "Delete", confirm: "Are you sure you want to delete the document series?", class: "btn btn-danger" %>
