<% page_title "#{@document_series.name}", "Document series" %>

<p><%= link_to "Back to #{@document_series.organisation.name}", document_series_admin_organisation_path(@document_series.organisation) %></p>
<h1><%= @document_series.name %></h1>
<p><%= link_to "View on public site", organisation_document_series_path(@document_series.organisation, @document_series) %></p>

<%= document_series_tab_navigation(@document_series.organisation, @document_series) do %>

  <div class="summmary">
    <%= @document_series.summary %>
  </div>

  <%= govspeak_to_html @document_series.description %>

  <ul class="actions">
    <li><%= link_to "Edit details", edit_admin_organisation_document_series_path(@document_series.organisation, @document_series) %></li>
    <li><%= link_to 'Delete this series', admin_organisation_document_series_path(@document_series.organisation, @document_series), method: :delete, confirm: "Are you sure you want to delete the document series?" %></li>
  </ul>
<% end %>
