<% page_title @world_location.title %>
<% page_class "world-locations-show" %>
<% atom_discovery_link_tag atom_feed_url_for(@world_location), t("feeds.latest_activity") %>

<%= content_tag_for(:article, @world_location) do %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          context: t("world_location.headings.news"),
          title: @world_location.title,
        } %>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-8">
          <aside class="heading-extra">
              <%= render 'shared/available_languages', object: @world_location %>
              <% lang = "lang=en" unless I18n.locale.eql?(:en) %>
              <%= render 'shared/featured_links', links: @world_location.featured_links.only_the_initial_set, lang: lang %>
          </aside>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('world_location.headings.featured'),
          font_size: "l",
          margin_bottom: 4,
          padding: true,
          border_top: 2,
        } %>
        <section class="featured-news items-<%= @feature_list.current_feature_count %>" id="featured-documents">
          <% if @feature_list.any_current_features? %>
          <div class="govuk-grid-row govuk-!-padding-bottom-8">
            <%= render partial: 'shared/featured',
              collection: @feature_list.current_featured,
              as: :feature
            %>
          </div>
          <% end %>
        </section>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-7">
        <%= render partial: 'shared/recently_updated',
          locals: {
            recently_updated: @recently_updated,
            atom_url: atom_feed_url_for(@world_location),
            see_all_link: latest_path(world_locations: [@world_location]),
            documents_source: Locale.current.english? ? 'rummager' : nil 
        } %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds world-locations__our-mission govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('world_location.headings.mission'),
          font_size: "l",
          padding: true,
          border_top: 2,
        } %>
        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <%= govspeak_to_html(@world_location.mission_statement) %>
        <% end %>
      </div>
    </div>

    <% if (@non_statistics_publications + @announcements + @statistics_publications).any? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">    
        <%= render "govuk_publishing_components/components/heading", {
          text: t('world_location.headings.documents'),
          font_size: "l",
          margin_bottom: 3,
          padding: true,
          border_top: 2,
        } %>  
        <% if @announcements.any? %>
          <%= render partial: "shared/document_list_from_rummager", locals: {
            documents: @announcements,
            type: :announcements,
            documents_count: @announcements.count,
            heading: t('world_location.headings.announcements'),
            world_location_news: "1",
            see_all_text: t_see_all_our(:announcement)
          } %>
        <% end %>
        <% if @non_statistics_publications.any? %>
          <div id="publications" class="document-block documents-<%= document_block_counter %>">
            <%= render "govuk_publishing_components/components/heading", {
              text: t('world_location.headings.publications'),
              heading_level: 3,
              margin_bottom: 2,
              padding: true,
              border_top: 2,
            } %>  
            <%= render partial: "shared/list_description", locals: { editions: @non_statistics_publications } %>
            <p class="govuk-body">
              <%= link_to t_see_all_our(:publication), publications_filter_path(@world_location), class: "govuk-link" %>
            </p>
          </div>
        <% end %>
        <% if @statistics_publications.any? %>
          <div id="statistics-publications" class="document-block documents-<%= document_block_counter %>">
            <%= render "govuk_publishing_components/components/heading", {
              text: t('world_location.headings.statistics'),
              heading_level: 3,
              margin_bottom: 2,
              padding: true,
              border_top: 2,
            } %>  
            <%= render partial: "shared/list_description", locals: { editions: @statistics_publications } %>
            <p class="govuk-body">
              <%= link_to t_see_all_our(:statistics), publications_filter_path(@world_location, publication_filter_option: 'statistics'), class: "govuk-link" %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
