<% page_title "Edit translation for: #{@english_corporate_information_page.title}" %>

<h1>Edit '<%= @translation_locale.native_language_name %> (<%= @translation_locale.english_language_name %>)' translation for: <%= @english_corporate_information_page.title %></h1>

<%= form_for @translated_corporate_information_page, url: [:admin, @organisational_entity, @translated_corporate_information_page, translation_locale], method: :put do |form| %>
  <%= form.errors %>

  <%= form.translated_text_area :summary, rows: 2 %>

  <%= form.translated_text_area :body, rows: 20 %>

  <%= form.save_or_cancel cancel: [:admin, @organisational_entity, @english_corporate_information_page] %>
<% end %>
