<% page_title "Edit translation for: #{@english_corporate_information_page.title}" %>

<h1>Edit '<%= @translation_locale.native_language_name %> (<%= @translation_locale.english_language_name %>)' translation for: <%= @english_corporate_information_page.title %></h1>

<%= form_for @translated_corporate_information_page, url: admin_worldwide_organisation_corporate_information_page_translation_path(@worldwide_organisation, @translated_corporate_information_page, translation_locale), method: :put do |form| %>
  <%= form.errors %>

  <%= form.translated_text_area :summary, rows: 2 %>

  <%= form.translated_text_area :body %>

  <%= form.save_or_cancel cancel: admin_worldwide_organisation_corporate_information_page_translations_path(@worldwide_organisation, @english_corporate_information_page) %>
<% end %>
