<% page_title @organisational_entity.name + " translations" %>
<section>
  <nav class="actions">
    <% if @missing_locales.any? %>
      <%= form_tag [:admin, @organisational_entity, @corporate_information_page, :translations] do %>
        <%= label_tag :translation_locale, 'Locale' %>
        <%= select_locale :translation_locale, @missing_locales %>
        <%= submit_tag "Create translation", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </nav>
</section>

<h1>Translations for <%= @organisational_entity.name %></h1>
<table id="worldwide-organisations-translations" class="table table-striped">
  <thead>
    <tr>
      <th>Locale</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @translated_locales.each do |locale| %>
      <tr>
        <td class="locale">
          <%= link_to locale.native_language_name, [ :edit, :admin, @organisational_entity, @corporate_information_page, locale ] %> (<%= link_to "view", polymorphic_path([@organisational_entity, @corporate_information_page], format: locale) %>)
        </td>
        <td class="actions">
          <%= button_to 'Delete',
                [ :admin, @organisational_entity, @corporate_information_page, locale ],
                method: :delete,
                class: "btn btn-danger",
                data: { confirm: "Are you sure you want to delete this translation?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
