<% if publication = statistics_announcement.publication %>

  <div class="stats-linked-document">
    <h3 class="remove-top-margin">
      <span class="stats-small-heading">
        Announcement connected to <%= publication.current_state %> document
      </span>
      <span class="stats-heading">
        <%= link_to publication.title, [:admin, publication] %>
      </span>
    </h3>
    <hr >
    <p>
      <% if publication.pre_publication? %>
      When the connected document is published this announcement will redirect to it.
      <% else %>
      The connected document replaced this announcement on <%= publication.public_timestamp.to_fs(:long_ordinal) %>.
      <% end %>
      <span class="js-document-announcement-linker"></span>
    </p>
    <%= render "document_linker", statistics_announcement: statistics_announcement %>
  </div>
<% else %>
  <div class="alert alert-warning add-vertical-margins">
    <h3 class="remove-top-margin">
      Connect a draft publication to this announcement
    </h3>
    <p>When the connected document is published this announcement will redirect to it.</p>
    <p class="js-document-announcement-linker">
      <%= link_to "Draft new document", new_admin_publication_path(statistics_announcement_id: statistics_announcement) %>
    </p>
    <%= render "document_linker", statistics_announcement: statistics_announcement %>
  </div>
<% end %>
