<%= form_for [:admin, statistics_announcement], html: {class: 'form-large'} do |form| %>
  <%= form.hidden_field :publication_id %>
  <%= form.errors %>

  <div class="form-group">
    <%= form.label  :publication_type_id, 'Statistics type', required: true %>
    <label class="block-label">
      <%= form.radio_button(:publication_type_id, PublicationType::Statistics.id) %>
      <span class="label-title">Statistics</span>
      <span class="muted">Official statistics produced by government.</span>
    </label>
    <label class="block-label">
      <%= form.radio_button(:publication_type_id, PublicationType::NationalStatistics.id) %>
      <span class="label-title">National Statistics</span>
      <span class="muted">Official statistics approved by the UK Statistics Authority.<br/>
      The National Statistics logo will display on this announcement.</span>
    </label>
  </div>
  <div class="form-group">
    <%= form.text_field :title, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.text_area :summary, rows: 5, required: true, class: 'form-control' %>
  </div>
  <div class="form-group stats-chosen-wrapper">
    <%= form.label  :organisation_id, 'Organisation', required: true %>
    <%= form.select :organisation_id,
                  options_from_collection_for_select(Organisation.with_translations, 'id', 'name', statistics_announcement.organisation_id),
                  {},
                  class: 'chzn-select' %>
  </div>
  <div class="form-group stats-chosen-wrapper">
    <%= form.label  :topic_id, 'Topic', required: true %>
    <%= form.select :topic_id,
                  options_from_collection_for_select(Topic.all, 'id', 'name', statistics_announcement.topic_id),
                  { prompt: 'Select a topic' },
                  class: 'chzn-select' %>
  </div>
  <% if statistics_announcement.new_record? %>
    <%= form.fields_for :current_release_date do |fields| %>
      <hr />
      <div class="form-group">
        <%= fields.label :release_date, "Release date", required: true %>
        <%= fields.datetime_select :release_date, {
            start_year: Date.today.year,
            end_year: Date.today.year + 5,
            minute_step: 15,
            default: (Date.tomorrow + 9.5.hours)
          }, { class: 'date form-control' } %>

        <%= fields.check_box :confirmed, label_text: 'Confirmed date?' %>
      </div>
      <hr />
      <div class="form-group">
        <div class="bold add-label-margin">Display date</div>
        <% StatisticsAnnouncementDate::PRECISION.each do |key, value| %>
          <% key_class = key.to_s.sub(/_/, '-') %>
          <label class="block-label js-label-<%= key_class %>">
            <%= fields.radio_button(:precision, value) %>
            <span class="label-title"><%= key.to_s.humanize %></span>
            <span class="muted js-example-<%= key_class %>"></span>
          </label>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= form.save_or_cancel_buttons buttons: { save: statistics_announcement.new_record? ? 'Publish announcement' : 'Save and publish changes' }, cancel: [:admin, statistics_announcement] %>
<% end %>
