<%= form_for [:admin, statistics_announcement] do |form| %>
  <%= form.hidden_field :publication_id %>
  <%= form.errors %>

  <div class="form-group">
    <%= form.label  :publication_type_id, 'Statistics type', required: true %>
    <label class="block-label">
      <%= form.radio_button(:publication_type_id, PublicationType::OfficialStatistics.id) %>
      <span class="label-title">Official statistics</span>
      <span class="text-muted">Statistics governed by the UK Statistics Authority.</span>
    </label>
    <label class="block-label">
      <%= form.radio_button(:publication_type_id, PublicationType::NationalStatistics.id) %>
      <span class="label-title">National Statistics</span>
      <span class="text-muted">Official statistics approved by the UK Statistics Authority.<br/>
      The National Statistics logo will display on this announcement.</span>
    </label>
  </div>

  <%= form.text_field :title, required: true, class: 'form-control' %>
  <%= form.text_area :summary, rows: 5, required: true, class: 'form-control' %>

  <div class="form-group stats-chosen-wrapper">
    <%= form.label  :organisation_ids, 'Organisations', required: true %>
    <%= form.select :organisation_ids,
                  options_for_select(taggable_organisations_container, statistics_announcement.organisation_ids),
                  { }, multiple: true, class: 'chzn-select form-control' %>
  </div>
  <div class="form-group stats-chosen-wrapper">
    <%= form.label  :topic_ids, 'Policy Areas', required: true %>
    <%= form.select :topic_ids,
                  options_for_select(taggable_topics_container, statistics_announcement.topic_ids),
                  { prompt: 'Select a topic' },
                  multiple: true,
                  class: 'chzn-select form-control' %>
  </div>
  <% if statistics_announcement.new_record? %>
    <%= form.fields_for :current_release_date do |fields| %>
      <hr />
      <%= render 'release_date', form: fields %>
    <% end %>
  <% end %>

  <%= form.save_or_cancel_buttons buttons: { save: statistics_announcement.new_record? ? 'Publish announcement' : 'Save and publish changes' }, cancel: [:admin, statistics_announcement] %>
<% end %>
