<%= form_with model: statistics_announcement, url: [:admin, statistics_announcement] do |form| %>
  <%= form.hidden_field :publication_id %>
  <%= render "govuk_publishing_components/components/radio", {
    heading: "Statistics type (required)",
    heading_size: "l",
    name: "statistics_announcement[publication_type_id]",
    id: "statistics_announcement_publication_type_id",
    items: [
      {
        value: 5,
        text: "Official Statistics",
        name: "statistics_announcement[publication_type_id]",
        id: "statistics_announcement_publication_type_id_5",
        hint_text: "Statistics governed by the UK Statistics Authority.",
        bold: true,
        checked: statistics_announcement.publication_type_id == 5
      },
      {
        value: 15,
        text: "National Statistics",
        name: "statistics_announcement[publication_type_id]",
        id: "statistics_announcement_publication_type_id_15",
        hint_text: "Official Statistics approved by the UK Statistics Authority. The National Statistics logo will display on this announcement.",
        bold: true,
        checked: statistics_announcement.publication_type_id == 15
      }
    ],
    error_items: errors_for(statistics_announcement.errors, :publication_type_id),
  } %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Title (required)",
      heading_size: "l"
    },
    value: statistics_announcement.title,
    id: "statistics_announcement_title",
    name: "statistics_announcement[title]",
    error_message: errors_for_input(statistics_announcement.errors, :title),
  } %>
  <%= render "govuk_publishing_components/components/textarea", {
    label: {
      text: "Summary (required)",
      heading_size: "l"
    },
    value: statistics_announcement.summary,
    id: "statistics_announcement_summary",
    name: "statistics_announcement[summary]",
    rows: 5,
    error_message: errors_for_input(statistics_announcement.errors, :summary),
  } %>

  <%= render "components/autocomplete", {
    id: "statistics_announcement_organisations",
    label: {
      text: "Organisations (required)",
      heading_size: "l"
    },
    name: "statistics_announcement[organisation_ids][]",
    select: {
      options:  options_from_collection_for_select(Organisation.with_translations.order("organisation_translations.name"), 'id', 'name', statistics_announcement.organisation_ids),
      multiple: true
    },
    error_items: errors_for(statistics_announcement.errors, :organisations),
  } %>

  <% if statistics_announcement.new_record? %>
      <%= render '/admin/shared/release_date', {
        current_release_date: statistics_announcement.current_release_date,
        name_prefix: "#{statistics_announcement.class.name&.underscore}[current_release_date_attributes]",
        id_prefix: "#{statistics_announcement.class.name&.underscore}_current_release_date"
      } %>
  <% end %>

  <div class="govuk-button-group govuk-!-margin-top-8">
    <%= render "govuk_publishing_components/components/button", {
      text: statistics_announcement.new_record? ? "Publish announcement" : "Save and publish changes",
      data_attributes: {
        module: "gem-track-click",
        "track-category": "form-button",
        "track-action": "#{form.object.class.name.demodulize.underscore.dasherize}-button",
        "track-label": statistics_announcement.new_record? ? "Publish announcement" : "Save and publish changes"
      }
    } %>
    <%= link_to("Cancel", [:admin, statistics_announcement], class: "govuk-link") %>
  </div>

<% end %>
