<div class="form-group">
  <%= form.label :release_date, "Release date", required: true %>
  <div class="form-inline add-label-margin">
    <%= form.datetime_select :release_date, {
        start_year: Date.today.year,
        end_year: Date.today.year + 5,
        minute_step: 15,
        default: (Date.tomorrow + 9.5.hours)
      }, { class: 'date form-control' } %>
  </div>

  <%= form.check_box :confirmed, label_text: 'Confirmed date?' %>
</div>
<hr />
<div class="form-group">
  <div class="bold add-label-margin">Display date</div>
  <% StatisticsAnnouncementDate::PRECISION.each do |key, value| %>
    <% key_class = key.to_s.sub(/_/, '-') %>
    <label class="block-label js-label-<%= key_class %>">
      <%= form.radio_button(:precision, value) %>
      <span class="label-title"><%= key.to_s.humanize %></span>
      <span class="text-muted js-example-<%= key_class %>"></span>
    </label>
  <% end %>
</div>
