<% content_for :page_class, 'statistics-announcements edit' %>
<% page_title "Cancel statistics release" %>

<div class="stats-form-wrapper">
  <h1>
    <span class="stats-small-heading">
      <%= @statistics_announcement.title %>
    </span>
    <span class="stats-heading">
      Cancel statistics release
    </span>
  </h1>

  <%= form_for [:publish_cancellation, :admin, @statistics_announcement], method: :post, html: {class: 'form-large'} do |form| %>
    <%= form.errors %>

    <div class="form-group">
      <%= form.text_area :cancellation_reason, rows: 5, required: true, label_text: 'Official reason for cancellation' %>
    </div>

    <div class="form-actions">
      <p>Cancelled announcements will show on GOV.UK until one month after their release date. The cancellation reason will be visible on the announcement.</p>
      <%= form.submit "Publish cancellation", class: "btn btn-large btn-danger add-right-margin" %>
      <%= link_to "Don’t cancel", [:admin, @statistics_announcement], class: "btn btn-large" %>
    </div>
  <% end %>
</div>
