<% page_title "Statistics announcements" %>
<h1>Statistics announcements</h1>
<%= render 'warning' %>

<%= link_to "Create announcement", new_admin_statistics_announcement_path, class: "btn btn-large add-bottom-margin", title: "Create a statistics announcement" %>

<div class="row-fluid">
  <div class="span3 span3-responsive">
    <%= form_tag admin_statistics_announcements_path, class: "filter-options", method: :get do %>
    <h2 class="remove-top-margin remove-bottom-margin">Filter</h2>

    <div class="filter-grouping">
      <%= label_tag :search_title, 'Title or slug' %>
      <div class="btn-enter-wrapper">
        <%= search_field_tag :title, @filter.options[:title], id: 'search_title', placeholder: 'Search title' %>
      </div>

      <%= label_tag :organisation_id %>
      <div class="btn-enter-wrapper">
        <%= select_tag :organisation_id,
                       admin_organisation_filter_options(current_user, @filter.options[:organisation_id]),
                       class: "chzn-select" %>
      </div>

      <%= label_tag :dates, "Release date" %>
      <div class="btn-enter-wrapper">
        <%= select_tag :dates, options_for_select([
                                 ["All announcements", nil],
                                 ["Future releases", 'future'],
                                 ["Past releases", 'past'],
                               ], @filter.options[:dates]),
                               class: "chzn-select" %>
      </div>

      <%= label_tag :unlinked_only, "Publications" %>
      <%= label_tag :unlinked_only, class: "checkbox remove-top-margin", style: "font-weight: normal" do %>
        <%= check_box_tag :unlinked_only, "1", @filter.options[:unlinked_only] %>
        Releases without a linked statistics publication
      <% end %>
    </div>

    <%= submit_tag 'Search', class: 'btn add-bottom-margin' %>
    <p><%= link_to "Reset", admin_statistics_announcements_path %></p>
  <% end %>
  </div>

  <div class="span9" id="search_results">
    <% if @statistics_announcements.present? %>
      <table class="statistics-announcements table table-striped">

        <thead>
          <tr class="table-header">
            <th>Announcement title</th>
            <th>Document</th>
            <th>Organisations</th>
            <th>Topics</th>
            <th>Display date</th>
            <th>Release date</th>
          </tr>
        </thead>
        <tbody>
          <% @statistics_announcements.each do |statistics_announcement| %>
            <%= content_tag_for :tr, statistics_announcement, class: "statistics_announcement #{'warning' unless statistics_announcement.publication}" do %>
              <td>
                <%= link_to statistics_announcement.title, [:admin, statistics_announcement] %>
                <%= content_tag(:span, "cancelled", class: "badge badge-important add-left-margin") if statistics_announcement.cancelled? %>
              </td>
              <td>
                <% if publication = statistics_announcement.publication %>
                  <%= link_to(publication.title, [:admin, publication]) %>
                  (<%= publication.current_state %>)
                <% else %>
                  <strong>(no document)</strong>
                <% end %>
              </td>
              <td><%= organisations_list(statistics_announcement.organisations) %></td>
              <td><%= statistics_announcement.topics.map(&:name).to_sentence %></td>
              <td>
                <%= statistics_announcement.display_date %>
                (<%= statistics_announcement.confirmed? ? 'confirmed' : 'provisional' %>)
              </td>
              <td><%= statistics_announcement.release_date.to_s(:long_ordinal) %></td>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @statistics_announcements, theme: 'twitter-bootstrap' %>
    <% else %>
      <div class="no-content no-content-bordered">No statistics announcements found</div>
    <% end %>
  </div>
</div>
