<% content_for :page_class, 'statistics-announcements edit' %>
<% page_title "Edit cancellation reason" %>

<div class="stats-form-wrapper">
  <h1>
    <span class="stats-small-heading">
      <%= @statistics_announcement.title %>
    </span>
    <span class="stats-heading">
      Edit cancellation reason
    </span>
  </h1>

  <%= form_for [:admin, @statistics_announcement] do |form| %>
    <%= form.errors %>

    <div class="form-group">
      <%= form.text_area :cancellation_reason, rows: 5, required: true, label_text: 'Official reason for cancellation' %>
    </div>

    <div class="form-actions">
      <p class="add-bottom-margin">Cancelling an announcement cannot be undone. The cancelled announcement will remain on GOV.UK.</p>
      <%= form.submit "Update cancellation reason", class: "btn btn-lg btn-danger add-right-margin" %>
      <%= link_to "Don’t update", [:admin, @statistics_announcement], class: "btn btn-lg" %>
    </div>
  <% end %>
</div>
