<% content_for :page_class, 'statistics-announcements-show' %>
<% page_title "Statistics announcement: #{@statistics_announcement.title}" %>

<div class="span8">
  <h1>
    <div class="stats-announce-item">
      <%= @statistics_announcement.display_type %>
    </div>
    <div class="stats-announce-action">
      <%= @statistics_announcement.title %>
    </div>
  </h1>
  <%= link_to "View announcement on GOV.UK", @statistics_announcement %>

  <%= render 'document_status', statistics_announcement: @statistics_announcement %>

  <dl class="stats-details dl-horizontal">
    <dt>Release date:</dt>
    <dd>
      <%= @statistics_announcement.release_date.to_s(:date_with_time) %>
    </dd>
    <dt>Display date:</dt>
    <dd>
      <%= @statistics_announcement.display_date %>
      (<%= @statistics_announcement.confirmed? ? 'confirmed' : 'provisional' %>)
    </dd>
    <% if @statistics_announcement.last_change_note.present? %>
      <dt>Change note:</dt>
      <dd>
        <%= @statistics_announcement.last_change_note %>
      </dd>
    <% end %>
    <dt>Type:</dt>
    <dd><%= @statistics_announcement.display_type %></dd>
    <dt>Organisation:</dt>
    <dd><%= @statistics_announcement.organisation.name %></dd>
    <dt>Topic:</dt>
    <dd><%= @statistics_announcement.topic.name %></dd>
  </dl>

  <p class="stats-summary">
    <%= @statistics_announcement.summary %>
  </p>

  <div class="form-large form-actions">
    <%= link_to "Edit announcement details", [:edit, :admin, @statistics_announcement], class: "btn add-right-margin"%>
    <%= link_to "Change release date", new_admin_statistics_announcement_change_path(@statistics_announcement), class: "btn"%>
  </div>
</div>

<div class="span4">
  <h3 class="add-vertical-margins">History</h3>
  <ul class="unstyled">
    <% @statistics_announcement.statistics_announcement_dates.reverse.each do |previous_date| %>
      <li class="add-bottom-margin">
        Release date set to &ldquo;<%= previous_date.display_date %>&rdquo;<br />
        <%= previous_date.creator ? linked_author(previous_date.creator) : "User (removed) "%>
        <%= absolute_time(previous_date.created_at, class: "created_at") %>
      </li>
    <% end %>
  </ul>
</div>
