<div class="format-advice">
  <p class="govuk-body"><strong>Use this format for:</strong> Public speeches by ministers or other named spokespeople, ministerial statements to Parliament and bylined articles.</p>
  <p class="govuk-body">Do not use for: statements <em>not</em> made to Parliament (use the “news article” format for those).</p>
</div>

<%= standard_edition_form(edition) do |form| %>
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Associations",
    heading_level: 3,
    heading_size: "l",
    id: "associations"
  } do %>
    <div class="govuk-!-margin-bottom-4">
      <%= render 'topical_event_fields', form: form, edition: edition %>
      <%= render 'world_location_fields', form: form, edition: edition %>
      <%= render 'organisation_fields', form: form, edition: edition %>        
    </div>
  <% end %>
<% end %>
