<% initialise_script "GOVUK.AdminSpeechForm", el: '.js-edition-form', speech_type_label_data: speech_type_label_data %>

<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>
    <fieldset>
      <legend>Associations</legend>
      <%= render partial: 'related_policy_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'topic_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>
      <% if edition.imported? %>
        <p>This document contains temporary organisation associations to allow for import. These fields will be overwritten once the deliverer of the speech is chosen.</p>
        <hr>
      <% end %>
      <%= render partial: 'world_location_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'worldwide_priority_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'topical_event_fields', locals: { form: form, edition: edition } %>
    </fieldset>

    <%= render partial: 'first_published_at', locals: { form: form, edition: edition } %>
  <% end %>
<% end %>
