<% initialise_script "GOVUK.AdminSpeechesForm", el: '.js-edition-form', speech_type_label_data: speech_type_label_data %>

<div class="format-advice">
  <p class="govuk-body"><strong>Use this format for:</strong> Public speeches by ministers or other named spokespeople, ministerial statements to Parliament and bylined articles.</p>
  <p class="govuk-body">Do <em>not</em> use for: statements <em>not</em> made to Parliament (use the “news article” format for those).</p>
</div>

<%= standard_edition_form(edition, @information, preview_design_system: true) do |form| %>
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Associations",
    heading_level: 3,
    heading_size: "l",
    id: "associations"
  } do %>
    <%= render 'legacy_topical_event_fields', form: form, edition: edition %>
    <%= render 'world_location_fields', form: form, edition: edition %>
    <%= render 'organisation_fields', form: form, edition: edition %>
  <% end %>
<% end %>
