<div class="role_appointment">
<% cache_if edition.role_appointment_id.nil?, taggable_role_appointments_cache_digest do %>
  <%= form.label :role_appointment_id, 'Speaker' %>
  <%= form.select :role_appointment_id,
                  options_for_select(taggable_role_appointments_container, edition.role_appointment_id),
                  { include_blank: true },
                  class: 'chzn-select form-control',
                    data: { placeholder: "Choose a person…" } %>
<% end %>
</div>

<div class="edition_person_override">
  <%= form.text_field :person_override, label_text: "Speaker" %>
</div>

<div class="checkbox">
  <%= label_tag :person_override_active, nil do %>
    <%= check_box_tag :person_override_active, "1", edition.person_override? %> Speaker does not have a profile on GOV.UK (for example, the King)
  <% end %>
</div>
