<div class="g2 first">
  <section class="document">
    <%= render partial: 'navigation', locals: { document: @document } %>
    <%= render partial: "rejected_by", locals: { document: @document } %>

    <article class="document_view">
      <h1 class="title"><%= @document.title %></h1>
      <p class="summary"><%= @document.summary %></p>
      <div class="body">
        <%= govspeak_to_admin_html @document.body %>
      </div>
      <p class="details"><span class="type"><%= @document.speech_type.name %></span> for speech delivered by <span class="ministerial_role"><%= link_to @document.role_appointment.role, @document.role_appointment.role %></span> on <span class="delivered_on"><%= @document.delivered_on.to_s(:long_ordinal) %></span> at <span class="location"><%= @document.location %></span></p>
      <p class="written_by">Written by <span class="authors"><%= @document.author_names.to_sentence %></span></p>
    </article>

  </section>

  <%= render partial: "editorial_remarks", locals: { document: @document } %>
</div>

<div class="g1">
  <section class="container">
    <h1>Countries</h1>
    <% if @document.countries.any? %>
      <%= render partial: "countries/list", locals: {countries: @document.countries} %>
    <% else %>
      <p>This document isn't assigned to any countries.</p>
    <% end %>
  </section>

  <section class="container">
    <h1>Related Policies</h1>
    <% if @document.related_policies.any? %>
      <%= render partial: "admin/documents/related", locals: {related_documents: @document.related_policies} %>
    <% else %>
      <p>This document doesn't have any related policies.</p>
    <% end %>
  </section>
</div>
