<% page_title @edition.title %>
<div class="g2 first">
  <section class="document">
    <%= render partial: 'navigation', locals: { edition: @edition } %>
    <%= render partial: "rejected_by", locals: { edition: @edition } %>

    <article class="document_view">
      <%= render partial: "standard_elements", locals: { edition: @edition } %>
      <p class="details"><span class="type"><%= @edition.speech_type.name %></span> for speech delivered by <span class="ministerial_role"><%= link_to @edition.role_appointment.role, @edition.role_appointment.role %></span> on <span class="delivered_on"><%= @edition.delivered_on.to_s(:long_ordinal) %></span> at <span class="location"><%= @edition.location %></span></p>
      <%= render partial: "authors", locals: { edition: @edition } %>
    </article>

  </section>

  <%= render partial: "editorial_remarks", locals: { edition: @edition } %>
  <%= render partial: "admin/edition_publishing/form", locals: { edition: @edition } %>
</div>

<div class="g1">
  <section class="container">
    <h1>Countries</h1>
    <% if @edition.countries.any? %>
      <%= render partial: "countries/list", locals: {countries: @edition.countries} %>
    <% else %>
      <p>This document isn't assigned to any countries.</p>
    <% end %>
  </section>

  <section class="container">
    <h1>Related Policies</h1>
    <% if @edition.related_policies.any? %>
      <%= render partial: "admin/editions/related", locals: {related_documents: @edition.related_policies} %>
    <% else %>
      <p>This document doesn't have any related policies.</p>
    <% end %>
  </section>

  <% if @edition.images.any? %>
    <section class="images">
      <h1>Images</h1>
      <% @edition.images.each do |image| %>
        <%= image_tag image.url, id: dom_id(image) %>
      <% end %>
    </section>
  <% end %>
</div>
