<div class="g2 first">
  <section class="document">
    <%= render partial: 'navigation', locals: { document: @document } %>

    <article class="document_view">
      <h1 class="title"><%= @document.title %></h1>
      <div class="body">
        <%= govspeak_to_html @document.body %>
      </div>
      <p class="delivery">Delivered by <span class="ministerial_role"><%= link_to @document.role_appointment.role, @document.role_appointment.role %></span> on <span class="date"><%= @document.delivered_on.to_s(:long_ordinal) %></span> at <span class="location"><%= @document.location %></span></p>
      <p class="written_by">Written by <span class="author"><%= @document.author.name %></span></p>
    </article>

  </section>
</div>
