<% parent_class = "content_block_manager_content_block_edition" %>

<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @form.content_block_edition, parent_class:)) %>

<%= form_with(
      url: @form.url,
      method: :post,
      model: [content_block_manager, @form.content_block_edition]) do |f| %>
  <%= hidden_field_tag "content_block/edition[document_attributes][block_type]",
                       @form.schema.block_type %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Title",
    },
    name: "content_block/edition[title]",
    id: "#{parent_class}_title",
    value: @form.content_block_edition&.title,
    error_items: errors_for(@form.content_block_edition.errors, "title".to_sym),
  } %>

  <%=
    render ContentBlockManager::ContentBlockEdition::Details::FormComponent.new(
      content_block_edition: @form.content_block_edition,
      schema: @form.schema,
    )
  %>

  <%= render "components/autocomplete", {
    id: "#{parent_class}_lead_organisation",
    name: "content_block/edition[organisation_id]",
    error_items: errors_for(@form.content_block_edition.errors, "lead_organisation".to_sym),
    label: {
      text: "Lead organisation",
    },
    select: {
      multiple: false,
      options: [""] + taggable_organisations_container,
      selected: @form.content_block_edition.edition_organisation&.organisation_id,
    },
    autocomplete_configuration_options: {
      showAllValues: true,
    },
  } %>

  <%= render "govuk_publishing_components/components/textarea", {
    label: {
      text: "Instructions to publishers (optional)",
    },
    name: "content_block/edition[instructions_to_publishers]",
    id: "#{parent_class}_instructions_to_publishers",
    value: @form.content_block_edition&.instructions_to_publishers,
    error_items: errors_for(@form.content_block_edition.errors, "instructions_to_publishers".to_sym),
  } %>

  <div class="govuk-button-group govuk-!-margin-bottom-6">
    <%= render "govuk_publishing_components/components/button", {
      text: "Save and continue",
      name: "save_and_continue",
      value: "Save and continue",
      type: "submit",
    } %>
    <%= render "govuk_publishing_components/components/button", {
      text: "Cancel",
      href: @form.back_path,
      secondary_solid: true,
    } %>
  </div>
<% end %>
