<%= form.errors %>

<%= form.label :person_id, 'Person' %>
<%= form.select :person_id,
                options_for_select(disambiguated_people_names, form.object.person_id),
                {include_blank: true},
                class: 'chzn-select form-control',
                data: { placeholder: "Choose person…" },
                disabled: !form.object.new_record? %>

<% if form.object.new_record? %>
  <p>Once an appointment has been created the person cannot be changed. This preserves a person’s relationship to associated speeches.</p>
<% end %>

<div class="form-group">
  <%= form.label :started_at %>
  <div class="form-inline">
    <%= form.date_select :started_at, { include_blank: true, start_year: Date.today.year, end_year: 1700 }, { :class => "date form-control" } %>
  </div>
</div>

<% if params[:make_current].blank? %>
  <div class="form-group">
    <%= form.label :ended_at %>
    <div class="form-inline">
      <%= form.date_select :ended_at, { include_blank: true, start_year: Date.today.year, end_year: 1700 }, { :class => "date form-control" } %>
    </div>
  </div>
<% end %>

<% if params[:make_current] %>
  <%= form.hidden_field :make_current, value: true %>
<% end %>
