<% page_title "Edit appointment to #{@role_appointment.role.name}"  %>

<div class="span8">
  <h1>Edit appointment to position of <%= @role_appointment.role.name %> </h1>

  <%= form_for [:admin, @role_appointment] do |form| %>
    <%= form.errors %>

    <%= form.label :person_id, 'Person' %>
    <%= form.select :person_id, options_from_collection_for_select(Person.all, 'id', 'name', form.object.person_id), {include_blank: true}, class: 'chzn-select', data: { placeholder: "Choose person..." }, disabled: true %>
    <p>Once an appointment has been created the person cannot be changed, to preserve this person's relationship to any associated speeches.</p>

    <%= form.label :started_at %>
    <%= form.date_select :started_at, { include_blank: true }, { :class => "date" } %>
    <%= form.label :ended_at %>
    <%= form.date_select :ended_at, { include_blank: true }, { :class => "date" } %>

    <%= form.save_or_cancel cancel: edit_admin_role_path(@role_appointment.role) %>
  <% end %>

  <% if @role_appointment.destroyable? %>
    <%= button_to "Delete", admin_role_appointment_path(@role_appointment), method: :delete, class: "btn btn-danger" %>
  <% else %>
    <p>Cannot delete</p>
  <% end %>
</div>

<div class="span4">
  <section class="speeches">
    <h2>Speeches during this appointment</h2>

    <% if @role_appointment.speeches.any? %>
      <ul class="speeches">
      <% @role_appointment.speeches.each do |speech| %>
        <li><%= link_to speech.title, [:admin, speech] %></li>
      <% end %>
      </ul>
    <% else %>
      <p>None</p>
    <% end %>
  </section>

  <h2>Other appointments to this role</h2>
  <% if @role_appointment.other_appointments_for_same_role.any? %>
    <%= render partial: "admin/role_appointments/list", locals: {role_appointments: @role_appointment.other_appointments_for_same_role }%>
  <% else %>
    <p>None</p>
  <% end %>
</div>