<% page_title "Create new appointment to #{@role_appointment.role.name}"  %>
<h1>Create new appointment to position of <%= @role_appointment.role.name %> </h1>

<%= form_for [:admin, @role_appointment.role.becomes(Role), @role_appointment] do |form| %>
  <%= form.errors %>

  <%= form.label :person_id, 'Person' %>
  <%= form.select :person_id, options_from_collection_for_select(Person.all, 'id', 'name', form.object.person_id), {include_blank: true}, class: 'chzn-select', data: { placeholder: "Choose person..." } %>
  <%= form.label :started_at %>
  <%= form.date_select :started_at, { include_blank: true }, { :class => "date" } %>
  <% if form.object.persisted? || params[:make_current].blank? %>
    <%= form.label :ended_at %>
    <%= form.date_select :ended_at, { include_blank: true }, { :class => "date" } %>
  <% end %>

  <% if params[:make_current] %>
    <%= form.hidden_field :make_current, value: true %>
  <% end %>

  <%= form.save_or_cancel cancel: edit_admin_role_path(@role_appointment.role) %>
<% end %>