<% content_for :page_title, "Bulk upload for: #{attachable.title}" %>
<% content_for :title, "Bulk upload" %>
<% content_for :context, "Attachments for #{attachment.attachable_model_name}" %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @bulk_upload, parent_class: "bulk_upload")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-margin-bottom-8">
      <%= render "govuk_publishing_components/components/inset_text", {
        text: "Bulk uploading from Zip files is no longer supported. Please select directly the files you wish to upload.",
      } %>

      <%= render "govuk_publishing_components/components/details", {
        title: "You must upload attachments in an open standards format.",
      } do %>
        <p>For example, if an attachment is text-based and designed to be edited it should be uploaded to GOV.UK as an .odt (OpenDocument text) file instead of a closed format like .docx.</p>
        <p>Read more about <%= link_to "open standards formats", "https://www.gov.uk/guidance/content-design/planning-content#open-formats", class: "govuk-link govuk-link--no-visited-state" %>.</p>
      <% end %>
    </div>

    <%= form_for @bulk_upload, url: polymorphic_url([:admin, typecast_for_attachable_routing(attachable), @bulk_upload]) + "/upload_files", multipart: true do |form| %>

      <%= form.hidden_field :edition, value: @edition %>

      <%= render "govuk_publishing_components/components/file_upload", {
        label: {
          text: "Select files for upload",
          hint: "You can choose multiple files to be uploaded",
        },
        name: "bulk_upload[files][]",
        id: "bulk_upload_files",
        error_items: errors_for(@bulk_upload.errors, :files),
        javascript: true,
        multiple: true,
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", { text: "Upload and continue" } %>

        <%= link_to("Cancel", attachable_attachments_path(attachable), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
