<% content_for :page_title, "Bulk upload for: #{@edition.title}" %>
<% content_for :title, "Bulk upload" %>
<% content_for :context, "Attachments for #{@edition.format_name}" %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_edition_attachments_path(@edition)
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @zip_file, url: upload_zip_admin_edition_bulk_uploads_path(@edition), multipart: true do |form| %>
      <% content_for :error_summary, render('shared/error_summary', object: @zip_file, parent_class: "zip_file", class_name: @zip_file.class.name.demodulize.underscore.humanize.downcase) %>

      <%= render "govuk_publishing_components/components/file_upload", {
        label: {
          text: "Upload a zip file"
        },
        name: "bulk_upload_zip_file[zip_file]",
        id: "zip_file_zip_file",
        error_items: errors_for(@zip_file.errors, :zip_file)
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Upload zip",
        } %>

        <%= link_to("Cancel", admin_edition_attachments_path(@edition), class: "govuk-link") %>
      </div>
    <% end %>
  </div>
</div>
