<% content_for :page_title, "Bulk upload for: #{@edition.title}" %>
<% content_for :title, "Bulk upload" %>
<% content_for :context, "Attachments for #{@edition.format_name}" %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @bulk_upload, parent_class: "bulk_upload")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @bulk_upload, url: upload_zip_admin_edition_bulk_uploads_path(@edition), multipart: true do |form| %>

      <%= form.hidden_field :edition, value: @edition %>

      <%= render "govuk_publishing_components/components/file_upload", {
        label: {
          text: "Select files for upload",
          hint: "You can choose multiple files to be uploaded",
        },
        name: "bulk_upload[files][]",
        id: "bulk_upload_files",
        error_items: errors_for(@bulk_upload.errors, :files),
        javascript: true,
        multiple: true,
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", { text: "Upload and continue" } %>

        <%= link_to("Cancel", admin_edition_attachments_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
