<% content_for :page_title, "Bulk upload for: #{@edition.title}" %>
<% content_for :title, "Edit file attachments" %>
<% content_for :context, "Attachments for publication" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-8">
      <%= form_for @bulk_upload, url: admin_edition_bulk_uploads_path(@edition) do |form| %>
        <% content_for :error_summary, render('shared/error_summary', object: @bulk_upload, parent_class: "bulk_upload", class_name: @bulk_upload.class.name.demodulize.underscore.humanize.downcase) %>

        <% @bulk_upload.attachments.each.with_index do |attachment, i| %>
          <%= form.fields_for :attachments, attachment do |attachment_fields| %>
            <%= render "govuk_publishing_components/components/heading", {
              text: "File: " + attachment_fields.object.filename,
              font_size: "l",
              padding: true
            } %>

            <%= render "govuk_publishing_components/components/input", {
              label: {
                text: "Title (required)"
              },
              name: "bulk_upload[attachments_attributes][#{i}][title]",
              id: "bulk_upload_attachments_#{i}_title",
              autofocus: true,
              margin_top: 10,
              heading_level: 2,
              heading_size: "m",
              value: attachment_fields.object.title
            } %>

            <% if @edition.allows_attachment_references? %>
              <%= render 'admin/attachments/reference_fields', attachable: @edition, form: attachment_fields, attachment: attachment, heading_size: "m", subheading_size: "s" %>
            <% end %>

            <%= render "govuk_publishing_components/components/checkboxes", {
              name: "bulk_upload[attachments_attributes][#{i}][accessible]",
              items: [
                {
                  label: "Attachment is accessible",
                  value: "1",
                  checked: attachment.accessible
                }
              ]
            } %>

            <%= attachment_fields.fields_for :attachment_data, attachment_fields.object.attachment_data, include_id: false do |attachment_data_fields| %>
              <%= attachment_data_fields.hidden_field :file_cache %>
              <% if attachment_data_fields.object.to_replace_id %>
                <%= attachment_data_fields.hidden_field(:to_replace_id, value: attachment_data_fields.object.to_replace_id) %>
              <% end %>
            <% end %>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <% end %>
        <% end %>

        <div class="govuk-button-group">
          <%= render "govuk_publishing_components/components/button", {
            text: "Save",
            data_attributes: {
              module: "gem-track-click",
              "track-category": "form-button",
              "track-action": "bulk-upload-button"
            }
          } %>

          <%= link_to("Cancel", admin_edition_attachments_path(@edition), class: "govuk-link") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
