<%= content_tag_for(:article, news_article) do %>
  <% if display == "expanded" %>
    <div class="img">
      <% if news_article.image.present? %>
        <%= link_to image_tag(news_article.image_url), public_document_path(news_article) %>
      <% else %>
        <%= link_to image_tag('evil_placeholder.png'), public_document_path(news_article) %>
      <% end %>
    </div>
  <% end %>
  <div class="text">
    <h2><%= link_to news_article.title, public_document_path(news_article), class: "title" %></h2>
    <% if display != "compact" %>
      <p class="summary">
        <%= news_article.summary %>
      </p>
    <% end %>
    <div class="meta">
      <span class="published_at">Posted <%= time_ago(news_article.published_at, class: 'published_at') %></span>
      <% news_article.policy_areas.uniq.each do |pa| %>
        <%= link_to pa.name, policy_area_path(pa), class: "policy_area" %>
      <% end %>
    </div>
  </div>
<% end %>