<%= content_tag_for(:article, speech, class: "speech") do %>
  <% if display == "expanded" %>
    <div class="img"><%= link_to image_tag("evil_placeholder.png"), public_document_path(speech) %></div>
  <% end %>
  <div class="text">
    <h2><%= link_to speech.title, public_document_path(speech), class: "title", title: "View #{speech.title}" %></h2>
    <% if display != "compact" %>
      <p class="summary">
        <%= speech.summary %>
      </p>
    <% end %>
    <div class="meta">
      <span class="published_at">Posted <%= time_ago(speech.first_published_at, class: 'first_published_at') %></span>
      <%= link_to speech.role_appointment.person.name, speech.role_appointment.role, class: "ministerial_role" %>
    </div>
  </div>
<% end %>