<% page_title "News & Speeches" %>
<div class="g3f group">
  <h1 class="page_title">News &amp; speeches</h1>
  <% if @featured_news_articles.any? %>
    <section class="featured_items" id="featured-news-articles">
      <% @featured_news_articles.each do |news_article| %>
        <%= content_tag_for(:article, news_article) do %>
          <div class="img">
            <% if news_article.featured_document_image.present? %>
              <%= image_tag(news_article.featured_document_image.image_url) %>
            <% end %>
          </div>
          <h2><%= link_to news_article.title, public_document_path(news_article), class: "title" %></h2>
          <p class="summary"><%= news_article.summary %></p>
          <p class="meta">
            <span class="published_at">Posted <%= render_datetime_microformat(news_article, :published_at) do %>
                <%= time_ago_in_words(news_article.published_at) %> ago
              <% end %>
            </span>
            <% news_article.policy_areas.uniq.each do |pa| %>
              <%= link_to pa.name, policy_area_path(pa), class: "policy_area" %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </section>
  <% end %>

  <% if @announced_today.any? %>
    <section class="announcements group" id="last_24_hours">
      <h1>In the last 24 hours</h1>
      <div class="expanded group">
        <%= announcement_group(@announced_today.take(3), groups_of: 3, partial: "expanded") %>
      </div>
      <%= announcement_group(@announced_today.from(3), groups_of: 3, class: "group", partial: "default") %>
    </section>
  <% end %>

  <% if @announced_in_last_7_days.any? %>
    <section class="announcements group" id="last_7_days">
      <h1>In the last 7 days</h1>
      <% if @announced_today.any? %>
        <%= announcement_group(@announced_in_last_7_days, groups_of: 3, class: "group", partial: "default") %>
      <% else %>
        <div class="expanded group">
          <%= announcement_group(@announced_in_last_7_days.take(3), groups_of: 3, partial: "expanded") %>
        </div>
        <div class="articles">
          <%= announcement_group(@announced_in_last_7_days.from(3), groups_of: 3, class: "group", partial: "default") %>
        </div>
      <% end %>
    </section>
  <% end %>

  <p class="further_articles">View all <%= link_to "news", news_articles_path %> or <%= link_to "speeches", speeches_path %></p>
</div>