<% page_title t('announcements.heading') %>
<% page_class "documents-index" %>
<% atom_discovery_link_tag filter_atom_feed_url, "Recent announcements" %>
<%
  heading = [t('announcements.heading')]
  heading << "<span>: #{@filter.selected_announcement_filter_option.label}</span>" if @filter.selected_announcement_filter_option
  heading = heading.join('').html_safe
%>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true, heading: heading } %>
  </div>
</header>

<div class="block-2 filter-form">
  <div class="inner-block">
    <% if Locale.current.english? %>
      <%= render partial: "documents/filter_form",
                 locals: {
                   document_type: :announcement,
                   filters: [
                     :keyword, :date, :announcement_type,
                     :locations, :department, :topic,
                     :include_world_location_news
                   ]
                 } %>
    <% else %>
      <%= render partial: "documents/filter_form",
                 locals: {
                   document_type: :announcement,
                   filters: [ :locations ]
                 } %>
    <% end %>
  </div>
</div>

<div class="block-4 filtered-results">
  <div class="inner-block">
    <% if Locale.current.english? %>
      <%= render partial: "documents/filter_results",
                locals: { filter: @filter,
                          result_type: "announcement" } %>
    <% end %>
    <%= render 'shared/feeds', atom_url: filter_atom_feed_url %>
    <div class="filter-results js-filter-results" id="announcements-container" aria-live="polite">
      <%= render_mustache('documents/filter_table', @filter.as_hash) %>
    </div>
  </div>
</div>
