<% page_title t('announcements.heading') %>
<% page_class "announcements-index document-filter-page" %>
<% atom_discovery_link_tag filter_atom_feed_url, "Recent announcements" %>
<%
  heading = [t('announcements.heading')]
  heading << "<span>: #{@filter.selected_announcement_type_option.label}</span>" if @filter.selected_announcement_type_option
  heading.join('').html_safe
%>

<header class="block heading-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true, heading: heading } %>
  </div>
</header>

<div class="block-2">
  <div class="inner-block">
    <% if Locale.current.english? %>
      <%= render partial: "documents/filter_form",
                 locals: {
                   document_type: :announcement,
                   filters: [
                     :keyword, :date, :announcement_type,
                     :locations, :department, :topic,
                     :relevant_to_local_government,
                     :include_world_location_news
                   ]
                 } %>
    <% else %>
      <%= render partial: "documents/filter_form",
                 locals: {
                   document_type: :announcement,
                   filters: [ :locations ]
                 } %>
    <% end %>
  </div>
</div>

<div class="block-4">
  <div class="inner-block">
    <% if Locale.current.english? %>
      <%= render partial: "documents/filter_results", locals: { filter: @filter } %>
    <% end %>
    <%= render partial: 'shared/feeds',
        locals: { atom_url: filter_atom_feed_url,
                  govdelivery_url: filter_email_signup_url(document_type: 'announcement_type_all') }
    %>
    <div class="filter-results js-filter-results" id="announcements-container" aria-live="polite">
      <%= render_mustache('documents/filter_table', @filter.as_hash) %>
    </div>
  </div>
</div>
