<div class="g3f">
  <h1 class="page_title"><%= "News & speeches" %></h1>
  <% if @featured_news_articles.any? %>
    <section class="featured_items">
      <ul id="featured-news-articles">
        <% @featured_news_articles.each do |news_article| %>
          <%= content_tag_for(:li, news_article) do %>
            <div class="inner">
              <%= link_to news_article.title, public_document_path(news_article), class: "title" %>
              <p class="metadata">
                <%= render_datetime_microformat(news_article, :published_at) do %>
                  <%= time_ago_in_words(news_article.published_at) %> ago
                <% end %>
              </p>
            </div>
          <% end %>
        <% end %>
      </ul>
    </section>
  <% end %>

  <div class="g1">
    <%= render partial: "documents/news_articles", locals: {news_articles: @news_articles} %>
  </div>
  <div class="g1">
    <%= render partial: "documents/speeches", locals: {speeches: @speeches} %>
  </div>
</div>