<%= standard_edition_form(edition) do |form| %>
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Associations",
    heading_level: 2,
    heading_size: "l",
    id: "associations",
  } do %>
    <div class="govuk-!-margin-bottom-4">
      <%= render "world_location_fields", form: form, edition: edition %>
      <%= render "role_fields", form: form, edition: edition %>
      <%= render "organisation_fields", form: form, edition: edition, required: true %>
    </div>
  <% end %>
<% end %>
