<%= render "govuk_publishing_components/components/heading", {
  text: "Pages",
  heading_level: 2,
  font_size: "l",
  margin_bottom: 2,
} %>

<div class="parts-wrapper" data-module="parts">
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Parts (govspeak available)",
    heading_size: "m",
  } do %>
    <div class="govuk-accordion" data-module="govuk-accordion" id="parts">
      <div class="govuk-accordion__wrapper">
        <% @edition.worldwide_organisation_pages.each do |page| %>
          <%= render "page", page:, form: %>
        <% end %>
      </div>
    </div>

    <%= render "page_template", form: %>

    <%= render "govuk_publishing_components/components/button", {
      text: "Add new part",
      secondary_solid: true,
      classes: "js-add-new-part",
    } %>
  <% end %>
</div>
