<% page_title "Fact Checking for " + @edition.title %>

<div class="row">
  <div class="col-md-8">
    <p class="lead">Please review all content:</p>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#document" data-toggle="tab">Document</a></li>
        <% if @edition.attachments.any? %>
          <li><a href="#attachments" data-toggle="tab">Attachments</a></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <section class="document_page tab-pane active" id="document">
          <%= render partial: 'admin/editions/legacy_edition', locals: { edition: @edition } %>
        </section>
        <% if @edition.attachments.any? %>
          <section class="attachments_page tab-pane" id="attachments">
            <%= render partial: 'admin/editions/legacy_show_attachments', locals: { edition: @edition } %>
          </section>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="alert alert-info">
      <p>Please check this document for factual accuracy and comment in the form below.</p>
    </div>

    <% if @fact_check_request.instructions.present? %>
    <section id="fact_check_request_instructions">
      <h4 class="alert-heading">Extra instructions</h4>
      <p class="well">&ldquo;<%= @fact_check_request.instructions %>&rdquo;</p>
    </section>
    <% end %>

    <%= form_for([:admin, @fact_check_request]) do |fact_check_form| %>
      <%= fact_check_form.text_area :comments, rows: 20 %>
      <%= fact_check_form.submit "Submit", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
