<p>Please check this document for factual accuracy and comment in the form below.</p>

<% if @fact_check_request.instructions.present? %>
<section id="fact_check_request_instructions">
  <h2>Extra instructions</h2>
  <p><%= @fact_check_request.instructions %></p>
</section>
<% end %>

<div class="document_view">
  <h1 class="title"><%= @document.title %></h1>
  <div class="body">
    <%= govspeak_to_admin_html @document.body %>
  </div>
  <p class="written_by">Written by <span class="authors"><%= @document.author_names.to_sentence %></span></p>
</div>

<% if @document.has_supporting_pages? %>
  <section id="supporting_pages">
    <h1>Supporting pages</h1>
    <% @document.supporting_pages.each do |supporting_page| %>
      <div class="document_view">
        <h1 class="title"><%= supporting_page.title %></h1>
        <div class="body">
          <%= govspeak_to_admin_html supporting_page.body %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>

<div>
  <% if @document.has_supporting_pages? %>
    <p>Please indicate whether your comments refer to the main document or supporting page.</p>
  <% end %>

  <%= form_for([:admin, @fact_check_request]) do |fact_check_form| %>
    <%= fact_check_form.text_area :comments %>
    <%= fact_check_form.submit "Submit" %>
  <% end %>
</div>