<% page_title "Fact Checking for " + @edition.title %>

<div class="span8">
  <p class="lead">Please review all content:</p>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#document" data-toggle="tab">Document</a></li>
    </ul>
    <div class="tab-content">
      <section class="document_page tab-pane active" id="document">
        <%= render partial: 'admin/editions/edition', locals: { edition: @edition } %>
      </section>
    </div>
  </div>
</div>

<div class="span4">
  <div class="alert alert-info">
    <p>Please check this document for factual accuracy and comment in the form below.</p>
  </div>

  <% if @fact_check_request.instructions.present? %>
  <section id="fact_check_request_instructions">
    <h4 class="alert-heading">Extra instructions</h4>
    <p class="well">&ldquo;<%= @fact_check_request.instructions %>&rdquo;</p>
  </section>
  <% end %>

  <%= form_for([:admin, @fact_check_request]) do |fact_check_form| %>
    <%= fact_check_form.text_area :comments %>
    <%= fact_check_form.submit "Submit", class: "btn" %>
  <% end %>
</div>
