<% page_title "Fact checking for " + @edition.title %>
<% content_for :title, "Fact check request" %>
<% content_for :context, @edition.title %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Please review all content:</p>
    
    <%= render "govuk_publishing_components/components/tabs", {
      tabs: [
        {
          id: "document_tab",
          label: "Document",
          content: render('admin/editions/edition', edition: @edition)
        },
        *(if @edition.attachments.present?
            [{
              id: "attachment_tab",
              label: "Attachments",
              content: render('admin/editions/show_attachments', edition: @edition)
            }]
          end),
      ]
    } %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/notice", {
      title: "Please check this document for factual accuracy and comment in the form below."
    } %>

    <% if @fact_check_request.instructions.present? %>
      <h2 class="govuk-heading-m">Extra instructions</h2>

      <%= render "govuk_publishing_components/components/inset_text", {
        text: @fact_check_request.instructions
      } %>
    <% end %>

    <%= form_for([:admin, @fact_check_request]) do |form| %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Comments",
          bold: true,
        },
        name: "fact_check_request[comments]",
        id: "fact_check_request_comments",
        rows: 20,
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Submit"
      } %>
    <% end %>
  </div>
</div>
