<p>You've been asked to review this policy for factual accuracy. Please read it, and then provide any comments in the form below</p>

<% if @fact_check_request.instructions.present? %>
<section id="fact_check_request_instructions">
  <h2>Extra instructions</h2>
  <p><%= @fact_check_request.instructions %></p>
</section>
<% end %>

<div class="document_view">
  <h1 class="title"><%= @document.title %></h1>
  <div class="body">
    <%= govspeak_to_html @document.body %>
  </div>
  <p class="written_by">Written by <span class="author"><%= @document.author.name %></span></p>
</div>

<% if @document.has_supporting_documents? %>
  <section id="supporting_documents">
    <h1>Supporting documents</h1>
    <% @document.supporting_documents.each do |supporting_document| %>
      <div class="document_view">
        <h1 class="title"><%= supporting_document.title %></h1>
        <div class="body">
          <%= govspeak_to_html supporting_document.body %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>

<div>
  <%= form_for([:admin, @fact_check_request]) do |fact_check_form| %>
    <%= fact_check_form.text_area :comments %>
    <%= fact_check_form.submit "Submit" %>
  <% end %>
</div>