<% content_for :page_title, "Thanks for your fact check response" %>
<% content_for :title, "Fact check request" %>
<% content_for :context, @edition.title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="document_page" id="<%= dom_id(@edition) %>">
      <%= render 'admin/editions/edition', edition: @edition %>
    </section>
    <% if @edition.attachments.any? %>
      <%= render 'show_attachments', edition: @edition  %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="fact_check_request govuk-body">
      <p class="details">
        <span class="from govuk-body govuk-!-font-weight-bold"><%= @fact_check_request.email_address %></span>
        on
        <span class="time govuk-body"><%= @fact_check_request.updated_at.to_fs(:long_ordinal) %></span>
      </p>

      <div class="comments">
        <%= format_in_paragraphs(@fact_check_request.comments, class: "govuk-body") %>
      </div>
    </div>
  </div>
</div>
