<%
  id ||= "#{name}-#{SecureRandom.hex(4)}"
  preview_id = "#{id}-preview"
  error_id = "#{id}-error"
  label_id = "#{id}-label"
  label[:bold] ||= false
  hint ||= nil
  hint_id ||= "#{id}-hint"
  value ||= nil
  error_items ||= nil
  rows ||= 12
  right_to_left ||= false

  data_attributes ||= {}
  data_attributes[:module] ||= ""
  data_attributes[:module] << " govspeak-editor"
  data_attributes[:module] = data_attributes[:module].strip

  textarea_data_attributes ||= {}
  textarea_data_attributes[:module] ||= ""
  textarea_data_attributes[:module] << " paste-html-to-govspeak"
  textarea_data_attributes[:module] = textarea_data_attributes[:module].strip

  preview_button_data_attributes ||= {}
  preview_button_data_attributes["content-target"] = "##{id}"

  classes = "app-c-govspeak-editor govuk-form-group"
  classes << " govuk-form-group--error" if error_items

  dir = right_to_left ? "rtl" : nil
%>

<%= tag.div class: classes, data: data_attributes do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half ">
      <%= render "govuk_publishing_components/components/label", {
        id: label_id,
        html_for: id,
        hint_id: hint_id,
        hint_text: hint,
      }.merge(label.symbolize_keys) %>
    </div>
    <div class="govuk-grid-column-one-half app-c-govspeak-editor__preview-button-wrapper">
      <%= render "govuk_publishing_components/components/button", {
        text: "Preview",
        secondary_quiet: true,
        margin_bottom: hint ? 5 : 2,
        classes: "js-app-c-govspeak-editor__preview-button",
        data_attributes: preview_button_data_attributes,
        aria_controls: preview_id,
        aria_describedby: label_id,
        type: "button",
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Back to edit",
        secondary_quiet: true,
        margin_bottom: hint ? 5 : 2,
        classes: "js-app-c-govspeak-editor__back-button",
        data_attributes: preview_button_data_attributes,
        aria_controls: preview_id,
        aria_describedby: label_id,
        type: "button",
      } %>
    </div>
  </div>
  <% if Flipflop.govspeak_visual_editor? && current_user.can_see_visual_editor_private_beta? %>
    <%= render "govuk_publishing_components/components/inset_text", {
    } do %>
      <p class="govuk-body">Visual Editor is not available for this document due to one of the following reasons. The visual editor will be available for new documents.</p>
      <ul>
        <li>You or someone else chose to stop using the visual editor for this document</li>
        <li>You or someone else edited this document using the markdown editor</li>
        <li>This document was created before the launch of the visual editor</li>
        <li class="app-no-js">You have JavaScript disabled</li>
      </ul>
    <% end %>
  <% end %>
  <div class="app-c-govspeak-editor__textarea">
    <%= render "govuk_publishing_components/components/textarea", {
      name: name,
      id: id,
      rows: rows,
      value: value,
      error_items: error_items,
      data: textarea_data_attributes,
      margin_bottom: 0,
      describedby: hint_id,
      right_to_left: right_to_left,
      right_to_left_help: false,
    } %>
  </div>

  <%= tag.div class: "app-c-govspeak-editor__preview js-locale-switcher-custom", 'aria-live': "polite", id: preview_id, dir: dir do %>
    <p class="govuk-body" dir="ltr">Generating preview, please wait.</p>
  <% end %>
  <%= tag.div class: "app-c-govspeak-editor__error js-locale-switcher-custom", 'aria-live': "polite", id: error_id, dir: dir do %>
    <p class="govuk-error-message" dir="ltr">There is an error in your Markdown. Select Back to edit and review your markdown.</p>
  <% end %>
<% end %>
