<%
  x ||= 0
  y ||= 0
  versions ||= []
  height ||= 0
  width ||= 0
  target_width ||= 0
  target_height ||= 0
  image ||= nil
  edition ||= nil
%>

<%= tag.div class: "app-c-image-cropper govuk-grid-column-row", tabindex: "0", data: { module: "image-cropper", filename:, type:, width:, height:, x:, y:, versions:, target_width:, target_height: }, "aria-live" => "polite" do %>
  <%= tag.div class: "govuk-grid-column-two-thirds app-c-image-cropper__container" do %>
    <input class="js-cropped-image-input" name="<%= name %>[x]" hidden value="<%= x %>">
    <input class="js-cropped-image-input" name="<%= name %>[y]" hidden value="<%= y %>">
    <input class="js-cropped-image-input" name="<%= name %>[height]" hidden value="<%= height %>">
    <input class="js-cropped-image-input" name="<%= name %>[width]" hidden value="<%= width %>">
    <% if image.image_data&.original_uploaded? %>
      <%= tag.img class: "app-c-image-cropper__image", src: image.image_data.url %>
    <% else %>
      <div data-module="image-processing-checker" data-image-link="<%= admin_edition_image_path(edition, image) %>">
        <template class="js-image-preview">
          <%= tag.img class: "app-c-image-cropper__image" %>
        </template>
        <template class="js-image-preview-failure">
          <span class="govuk-tag govuk-tag--red">
            Failed to load image. Please refresh the page.
          </span>
        </template>
        <div class="js-image-processing-status">
          <%= render "/components/loading_spinner", content: "Loading image for cropping..." %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render "admin/edition_images/image_information", image:, edition: %>
<% end %>
