<ul id="<%= id %>-list" class="govuk-list">
  <% items.each_with_index do | item, index | %>
    <li>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" type="checkbox" name="<%= name %>" value="<%= item[:value] %>" id="<%= id %>-<%= index %>"
          <% if check_item?(item) %> checked <% end %>
        >
        <label class="govuk-label govuk-checkboxes__label" for="<%= id %>-<%= index %>">
          <%= item[:label] %>
        </label>
        <% if item[:items].present? %>
          <%= render "components/miller-columns-list", {
            id: "#{id}-#{index}",
            name: "#{name}",
            items: item[:items],
          } %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
