<%
  error_items ||= []
  page_errors ||= false
  data_attributes ||= {}
  image_src ||= nil
  image_alt ||= nil
  image_cache ||= nil
  title ||= "Image (required)"
  alt_text_name ||= "#{name}[image_alt_text]"
  alt_text_id ||= "#{id}_image_alt_text"
  image_name ||= "#{name}[image]"
  image_id ||= "#{id}_image"
  image_cache_name ||= "#{name}[image_cache]"
  remove_alt_text_field ||= false

  root_classes = %w(app-c-single-image-upload govuk-form-group)
%>

<%= tag.div class: root_classes, data: data_attributes do %>
  <%= render "govuk_publishing_components/components/heading", {
    text: title,
    font_size: "l",
    margin_bottom: 3
  } %>

  <% if image_src %>
    <%= render "govuk_publishing_components/components/heading", {
      text: "Uploaded image",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 3
    } %>

    <% if page_errors %>
      <%= hidden_field_tag image_cache_name, image_cache %>
      <p class="govuk-body"><strong>File name: </strong><%= filename %></p>
      <% unless remove_alt_text_field %>
        <p class="govuk-body"><strong>Alt text: </strong><%= image_alt == "" ? "None" : image_alt %></p>
      <% end %>
    <% else %>
      <div class="govuk-grid-row app-c-single-image-upload__uploaded-image">
        <div class="govuk-grid-column-one-quarter">
          <img src="<%= image_src %>" alt="" class="app-view-edition-resource__preview">
        </div>
        <% unless remove_alt_text_field %>
          <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body govuk-!-margin-0"><strong>Alt text: </strong><%= image_alt == "" ? "None" : image_alt %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <% image_label = "Replace image" %>
    <% label_size = "m" %>
  <% else %>
    <% image_label = "Upload image" %>
    <% label_size = nil %>
  <% end %>

  <%= render "govuk_publishing_components/components/file_upload", {
    label: {
      text: image_label,
      heading_size: label_size
    },
    name: image_name,
    hint: "Images must be 960px by 640px",
    id: image_id,
    value: image_src,
    error_items: error_items
  } %>

  <% unless remove_alt_text_field %>
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Image description (alt text)"
      },
      name: alt_text_name,
      id: alt_text_id,
      value: image_alt
    } %>
  <% end %>
<% end %>
