<%
  error_items ||= []
  data_attributes ||= {}
  image_src ||= nil
  image_alt ||= nil

  root_classes = %w(app-c-single-image-upload govuk-form-group)
%>

<%= tag.div class: root_classes, data: data_attributes do %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Image (required)",
    font_size: "l",
    margin_bottom: 3
  } %>

  <% if image_src %>
    <%= render "govuk_publishing_components/components/heading", {
      text: "Uploaded image",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 3
    } %>

    <div class="govuk-grid-row app-c-single-image-upload__uploaded-image">
      <div class="govuk-grid-column-one-quarter">
        <img src="<%= image_src %>" alt="" class="app-view-edition-images__image">
      </div>

      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body govuk-!-margin-0"><strong>Alt text: </strong><%= image_alt == "" ? "None" : image_alt %></p>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <% image_label = "Replace image" %>
    <% label_size = "m" %>
  <% else %>
    <% image_label = "Upload image" %>
    <% label_size = nil %>
  <% end %>

  <%= render "govuk_publishing_components/components/file_upload", {
    label: {
      text: image_label,
      heading_size: label_size
    },
    name: "#{name}[image]",
    hint: "Images must be 960px by 640px",
    id: "#{id}_image",
    value: image_src,
    error_items: error_items
  } %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Image description (alt text)"
    },
    name: "#{name}[image_alt_text]",
    id: "#{id}_image_alt_text",
    value: image_alt
  } %>
<% end %>
