<%
  id ||= "app-c-translated-textarea-#{SecureRandom.hex(4)}"
  textarea ||= {}
  textarea_label = textarea.dig(:label, :text).gsub("(required)", "").strip
  details ||= {}
  details_text = details[:text]
  details_title = details[:title] || sanitize("Original text for #{textarea_label.downcase}")
  govspeak_editor ||= false
%>

<%= content_tag :div, class: "app-c-translated-textarea", id: id do %>
  <% if govspeak_editor %>
    <div class="app-c-translated-textarea__govspeak_editor">
      <%= render "components/govspeak-editor", textarea.symbolize_keys %>
    </div>
  <% else %>
    <div class="app-c-translated-textarea__textarea">
      <%= render "govuk_publishing_components/components/textarea", textarea.symbolize_keys %>
    </div>
  <% end %>

  <% if details_text.present? %>
    <div class="app-c-translated-textarea__english-translation govuk-!-margin-bottom-6">
      <%= render("govuk_publishing_components/components/details", title: details_title) do %>
        <%= details_text %>
      <% end %>
    </div>
  <% else %>
    <%= render "govuk_publishing_components/components/inset_text", text: "There is no #{details_title.downcase}" %>
  <% end %>
<% end %>
