<% content_for :context, context %>
<% content_for :title, "#{@action} #{@subschema.name.humanize(capitalize: false)}" %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: back_path,
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with url: content_block_manager.content_block_manager_content_block_workflow_path(
      @content_block_edition,
      step: @step_name,
      ), method: :put, id: "embedded_objects" do %>

      <% if @content_block_edition.details[@subschema.block_type] %>
        <% @content_block_edition.details[@subschema.block_type].keys.each do |k| %>
          <div data-test-id="embedded_<%= k %>">
            <%= render ContentBlockManager::Shared::EmbeddedObjects::SummaryCardComponent.new(
              content_block_edition: @content_block_edition,
              object_type: @subschema.block_type,
              object_title: k,
              is_editable: true,
              redirect_url: request.fullpath,
              ) %>
          </div>
          <% end %>
      <% else %>
        <% if I18n.exists?("content_block_edition.create.embedded_objects.#{@subschema.id}") %>
          <%= render "govuk_publishing_components/components/hint", {
            text: t("content_block_edition.create.embedded_objects.#{@subschema.id}"),
          } %>
        <% end %>
      <% end %>

      <% if @content_block_edition.document.is_new_block? %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Add a #{@subschema.name.singularize.downcase}",
          href: content_block_manager.new_embedded_object_content_block_manager_content_block_edition_path(
            @content_block_edition,
            object_type: @subschema.block_type,
          ),
          secondary_solid: true,
          margin_bottom: 6,
        } %>
      <% end %>
    <% end %>

    <%= render ContentBlockManager::Shared::ContinueOrCancelButtonGroup.new(
      form_id: "embedded_objects",
      content_block_edition: @content_block_edition,
      ) %>
  </div>
</div>
