<% content_for :context, context %>
<% content_for :title, "Preview #{@content_block_document.block_type.humanize.downcase}" %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: back_path,
  } %>
<% end %>

<p class="govuk-body">
  This list shows the places where the change will be made. It does not include content in PDFs or beyond <a href="https://gov.uk" class="govuk-link">GOV.UK</a>.
</p>

<%=
  render(
    ContentBlockManager::ContentBlock::Document::Show::HostEditionsRollupComponent.new(
      rollup: @host_content_items.rollup,
      ),
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with(
        url: content_block_manager.content_block_manager_content_block_workflow_path(
          edition_id: @content_block_edition.id,
          step: :review_links,
          ),
        id: "review_links",
        method: :put,
        ) do %>
          <%= render(
                ContentBlockManager::ContentBlock::Document::Show::HostEditionsTableComponent.new(
                  is_preview: true,
                  caption: "List of locations",
                  host_content_items: @host_content_items,
                  current_page: @page,
                  order: @order,
                  content_block_edition: @content_block_edition,
                  ),
                ) %>
      <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render ContentBlockManager::Shared::ContinueOrCancelButtonGroup.new(
          form_id: "review_links",
          content_block_edition: @content_block_edition,
          ) %>
      </div>
    </div>
  </div>
</div>
