<% content_for :context, context %>
<% content_for :title, "Preview #{@content_block_document.block_type.humanize.downcase}" %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_block_manager.new_content_block_manager_content_block_document_edition_path(@content_block_document),
  } %>
<% end %>

<p class="govuk-body">
  The list does not include content in PDF or beyond <a href="https://gov.uk" class="govuk-link">GOV.UK</a>.
</p>

<%=
  render(
    ContentBlockManager::ContentBlock::Document::Show::HostEditionsRollupComponent.new(
      rollup: @host_content_items.rollup,
      ),
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
          ContentBlockManager::ContentBlock::Document::Show::HostEditionsTableComponent.new(
            is_preview: true,
            caption: "List of locations",
            host_content_items: @host_content_items,
            current_page: @page,
            order: @order,
            content_block_edition: @content_block_edition,
            ),
          ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <div class="govuk-button-group">
          <%= form_with(
                url: content_block_manager.content_block_manager_content_block_workflow_path(
                  edition_id: @content_block_edition.id,
                  step: :review_links,
                ),
                method: :put,
              ) do %>
              <%= render "govuk_publishing_components/components/button", {
                text: "Save and continue",
                name: "save_and_continue",
                value: "Save and continue",
                type: "submit",
              } %>
            <% end %>
            <%= render ContentBlockManager::Shared::CancelAndDeleteButtonComponent.new(url: content_block_manager.
                content_block_manager_content_block_edition_path(
                  @content_block_edition, redirect_path:
                    content_block_manager.content_block_manager_content_block_document_path(@content_block_edition.document)
                  ),
                ) %>
          </div>
      </div>
    </div>

  </div>
</div>
