<% content_for :context, "Manage #{add_indefinite_article @content_block_document.block_type.humanize}" %>
<% content_for :title, "Where the change will appear" %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_block_manager.new_content_block_manager_content_block_document_edition_path(@content_block_document),
  } %>
<% end %>

<p class="govuk-body">The new <%= @content_block_document.block_type.humanize.downcase %> will appear on the following content after you publish the change.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
          ContentBlockManager::ContentBlock::Document::Show::HostEditionsTableComponent.new(
            is_preview: true,
            caption: "Content it appears in",
            host_content_items: @host_content_items,
            ),
          ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <div class="govuk-button-group">
          <%= form_with(
                url: content_block_manager.content_block_manager_content_block_workflow_path(
                  edition_id: @content_block_edition.id,
                  step: ContentBlockManager::ContentBlock::Editions::WorkflowController::UPDATE_BLOCK_STEPS[:review_links],
                ),
                method: :put,
              ) do %>
              <%= render "govuk_publishing_components/components/button", {
                text: "Save and continue",
                name: "save_and_continue",
                value: "Save and continue",
                type: "submit",
              } %>
            <% end %>
            <%= render partial: "content_block_manager/content_block/shared/cancel_delete_button",
                       locals: {
                         url: content_block_manager.content_block_manager_content_block_edition_path(
                           @content_block_edition,
                           redirect_path: content_block_manager.content_block_manager_content_block_document_path(@content_block_edition.document),
                         ),
                       } %>
          </div>
      </div>
    </div>

  </div>
</div>
