<% content_for :context, "Create a content block" %>
<% content_for :title, "Review #{@content_block_edition.block_type.humanize.downcase}" %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_block_manager.content_block_manager_content_block_documents_path,
  } %>
<% end %>

<% if @error_summary_errors %>
  <%= render "govuk_publishing_components/components/error_summary", {
    title: "There is a problem",
    items: @error_summary_errors,
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
          ContentBlockManager::ContentBlockEdition::Show::ConfirmSummaryListComponent.new(
            content_block_edition: @content_block_edition,
            ),
          ) %>
  </div>
</div>

<%= form_with(url: @url, method: :put) do %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/checkboxes", {
      name: "is_confirmed",
      id: "is_confirmed",
      heading: "Confirm",
      visually_hide_heading: true,
      no_hint_text: true,
      error: @confirm_error_copy,
      items: [
        {
          label: "By creating this content block you are confirming that, to the best of your knowledge, the details you are providing are correct.",
          value: true,
        },
      ],
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <div>
          <%= render "govuk_publishing_components/components/button", {
            text: is_scheduling? ? "Schedule" : "Publish",
            name: "confirm",
            type: "submit",
          } %>
      <% end %>
        </div>
        <div>
          <%= render ContentBlockManager::Shared::CancelAndDeleteButtonComponent.new(url: content_block_manager.
              content_block_manager_content_block_edition_path(@content_block_edition),
            ) %>
          </div>
      </div>
  </div>
</div>
