<% content_for :context, context %>
<% content_for :title, "Review #{@content_block_edition.block_type.humanize.downcase}" %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: back_path,
  } %>
<% end %>

<% if @error_summary_errors %>
  <%= render "govuk_publishing_components/components/error_summary", {
    title: "There is a problem",
    items: @error_summary_errors,
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
          ContentBlockManager::ContentBlockEdition::Show::ConfirmSummaryListComponent.new(
            content_block_edition: @content_block_edition,
            ),
          ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with(
          url: content_block_manager.content_block_manager_content_block_workflow_path(@content_block_edition, step: :review),
          method: :put,
          id: "review",
          ) do %>
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "is_confirmed",
          id: "is_confirmed",
          heading: "Confirm",
          visually_hide_heading: true,
          no_hint_text: true,
          error: @confirm_error_copy,
          items: [
            {
              label: "By #{@content_block_edition.document.is_new_block? ? "creating" : "editing"} this content block you are confirming that, to the best of your knowledge, the details you are providing are correct.",
              value: true,
            },
          ],
        } %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render ContentBlockManager::Shared::ContinueOrCancelButtonGroup.new(
      form_id: "review",
      button_text: is_scheduling? ? "Schedule" : "Publish",
      content_block_edition: @content_block_edition,
    ) %>
  </div>
</div>
