<% content_for :context, "Manage #{add_indefinite_article @content_block_edition.document.block_type.humanize}" %>
<% content_for :title, "When do you want to publish the change?" %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_block_manager.content_block_manager_content_block_workflow_path(
      edition_id: @content_block_edition.id,
      step: ContentBlockManager::ContentBlock::Editions::WorkflowController::UPDATE_BLOCK_STEPS[:review_links],
    ),
  } %>
<% end %>

<%
  year_param = params.dig("scheduled_at", "scheduled_publication(1i)")
  month_param = params.dig("scheduled_at", "scheduled_publication(2i)")
  day_param = params.dig("scheduled_at", "scheduled_publication(3i)")
  hour_param = params.dig("scheduled_at", "scheduled_publication(4i)")
  minute_param =  params.dig("scheduled_at", "scheduled_publication(5i)")
  is_scheduled_param = params["schedule_publishing"]
%>

<p class="govuk-body">Choose when you would like the change to be made.</p>

<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @content_block_edition)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: content_block_manager.content_block_manager_content_block_workflow_path(
      edition_id: @content_block_edition.id,
      step: ContentBlockManager::ContentBlock::Editions::WorkflowController::UPDATE_BLOCK_STEPS[:schedule_publishing],
      ),
      method: :put do %>

      <%= render "govuk_publishing_components/components/radio", {
        name: "schedule_publishing",
        id: "schedule_publishing",
        heading_size: "xl",
        error_items: errors_for(@content_block_edition.errors, :schedule_publishing),
        items: [
          {
            value: "now",
            checked:  is_scheduled_param == "now",
            text: "Publish the change now",
          },
          {
            value: "schedule",
            checked: is_scheduled_param == "schedule",
            text: "Schedule the change for the future",
            conditional: render("components/datetime_fields", {
              heading_size: "s",
              field_name: "scheduled_publication",
              prefix: "scheduled_at",
              date_heading: "Date",
              date_hint: "For example, 01 08 2025",
              time_hint: "For example, 09:30 or 19:30",
              error_items: errors_for(@content_block_edition.errors, :scheduled_publication),
              year: {
                value: year_param.blank? ? nil : year_param.to_i,
                id: "scheduled_at_scheduled_publication_1i",
                name: "scheduled_at[scheduled_publication(1i)]",
                label: "Year",
                width: 4,
              },
              month: {
                value: month_param.blank? ? nil : month_param.to_i,
                id: "scheduled_at_scheduled_publication_2i",
                name: "scheduled_at[scheduled_publication(2i)]",
                label: "Month",
                width: 2,
              },
              day: {
                value: day_param.blank? ? nil : day_param.to_i,
                id: "content_block_manager/content_block/edition_scheduled_publication",
                name: "scheduled_at[scheduled_publication(3i)]",
                label: "Day",
                width: 2,
              },
              hour: {
                value: hour_param.blank? ? nil : hour_param.to_i,
                id: "scheduled_at_scheduled_publication_4i",
                name: "scheduled_at[scheduled_publication(4i)]",
              },
              minute: {
                value: minute_param.blank? ? nil : minute_param.to_i,
                id: "scheduled_at_scheduled_publication_5i",
                name: "scheduled_at[scheduled_publication(5i)]",
              },
            }),
          },
        ],
      } %>

      <div class="govuk-button-group">
        <div>
          <%= render "govuk_publishing_components/components/button", {
            text: "Save and continue",
            name: "save_and_continue",
            value: "Save and continue",
            type: "submit",
          } %>
      <% end %>
        </div>
        <div>
          <%= render partial: "content_block_manager/content_block/shared/cancel_delete_button",
                     locals: {
                       url: content_block_manager.content_block_manager_content_block_edition_path(
                         @content_block_edition,
                         redirect_path: content_block_manager.content_block_manager_content_block_document_path(@content_block_edition.document),
                       ),
                     } %>
        </div>
      </div>
  </div>
</div>
