<section class="govuk-grid-row corporate-information" id="corporate-info">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: t('worldwide_organisation.headings.corporate_information'),
      border_top: 5,
      padding: true,
    } %>

    <div class="corporate-information-block">
      <nav class="group sub_navigation" role="navigation">
        <ul class="govuk-list">
          <% organisation.corporate_information_pages.published.by_menu_heading(:our_information).each do |corporate_information_page| %>
            <% corporate_information_page.extend(UseSlugAsParam) %>
            <li <%= corporate_information_page.title_lang %> ><%= link_to corporate_information_page.title, corporate_information_page.public_path(locale: locale), class: "govuk-link" %></li>
          <% end %>

          <% organisation.corporate_information_pages.published.by_menu_heading(:jobs_and_contracts).each do |corporate_information_page| %>
            <% corporate_information_page.extend(UseSlugAsParam) %>
            <li <%= corporate_information_page.title_lang %> ><%= link_to corporate_information_page.title, corporate_information_page.public_path(locale: locale), class: "govuk-link" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <p class="govuk-body information">
      <% if organisation.corporate_information_pages.published.for_slug("publication-scheme").present? %>
        <%= t('worldwide_organisation.corporate_information.publication_scheme_html',
              link: t_corporate_information_page_link(organisation, "publication-scheme")) %>
      <% end %>
      <% if organisation.corporate_information_pages.published.for_slug("welsh-language-scheme").present? %>
        <%= t('worldwide_organisation.corporate_information.welsh_language_scheme_html',
              link: t_corporate_information_page_link(organisation, "welsh-language-scheme")) %>
      <% end %>
      <% if organisation.corporate_information_pages.published.for_slug("personal-information-charter").present? %>
        <%= t('worldwide_organisation.corporate_information.personal_information_charter_html',
              link: t_corporate_information_page_link(organisation, "personal-information-charter")) %>
      <% end %>
    </p>
  </div>
</section>
