<%
  world_locations ||= organisation.world_locations
  link_to_organisation ||= false
  object_for_translation ||= organisation
%>
<header class="worldwide-organisation-header govuk-grid-row">
  <div class="govuk-grid-column-two-thirds logo">
    <%= render "govuk_publishing_components/components/organisation_logo", {
      organisation: {
        name: translated_organisation_logo_name(organisation),
        url: link_to_organisation ? worldwide_organisation_path(organisation) : nil,
        crest: "single-identity",
      },
      heading_level: 1,
      inline: true,
    } %>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-padding-top-2">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render partial: 'shared/available_languages', locals: { object: object_for_translation } %>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full metadata">
        <dl>
          <% if world_locations.any? %>
            <dt><%= t('worldwide_organisation.location') %>:</dt>
            <dd class="js-hide-other-links"><%= world_locations.map {|l| link_to(l.name, l.public_path, class: "govuk-link") }.to_sentence.html_safe %></dd>
          <% end %>
          <dt><%= t('worldwide_organisation.part_of') %>:</dt>
          <dd lang="en"><%= organisation.sponsoring_organisations.map {|o| link_to(o.name, o.public_path, class: "sponsoring-organisation govuk-link") }.to_sentence.html_safe %></dd>
        </dl>
      </div>
    </div>
  </div>
</header>
