<%
  world_locations ||= organisation.world_locations
  object_for_translation ||= organisation
%>
<header class="block worldwide-organisation-header">
  <div class="inner-block floated-children">
    <div class="logo">
      <h1>
        <%= render "govuk_publishing_components/components/organisation_logo", {
            organisation: {
                name: organisation_logo_name(organisation),
                brand: "department-for-international-trade",
                crest: "dit"
            }
        } %>
      </h1>

    </div>
    <div class="headings-block">
      <%= render partial: 'shared/available_languages', locals: {object: object_for_translation } %>
    </div>
    <div class="metadata">
      <dl>
        <% if world_locations.any? %>
          <dt><%= t('worldwide_organisation.location') %>:</dt>
          <dd class="js-hide-other-links"><%= world_locations.map {|l| link_to(l.name, l) }.to_sentence.html_safe %></dd>
        <% end %>
        <dt><%= t('worldwide_organisation.part_of') %>:</dt>
        <dd><%= organisation.sponsoring_organisations.map {|o| link_to(o.name, o, class: "sponsoring-organisation") }.to_sentence.html_safe %></dd>
      </dl>
    </div>
  </div>
</header>
