<%
  world_locations ||= organisation.world_locations
  link_to_organisation ||= false
  object_for_translation ||= organisation
%>
<header class="block worldwide-organisation-header">
  <div class="inner-block floated-children">
    <div class="logo">
      <h1>
        <% if link_to_organisation %>
          <%= link_to content_tag(:span, organisation_logo_name(organisation)), organisation, class: logo_classes(class_name: 'single-identity', size: 'large', stacked: true) %>
        <% else %>
          <%= content_tag :span, content_tag(:span, organisation_logo_name(organisation)), class: logo_classes(class_name: 'single-identity', size: 'large', stacked: true) %>
        <% end %>
      </h1>
    </div>
    <div class="headings-block">
      <%= render partial: 'shared/available_languages', locals: {object: object_for_translation } %>
    </div>
    <div class="metadata">
      <dl>
        <% if world_locations.any? %>
          <dt><%= t('worldwide_organisation.location') %>:</dt>
          <dd><%= world_locations.map {|l| link_to(l.name, l) }.to_sentence.html_safe %></dd>
        <% end %>
        <dt><%= t('worldwide_organisation.part_of') %>:</dt>
        <dd><%= organisation.sponsoring_organisations.map {|o| link_to(o.name, o, class: "sponsoring-organisation") }.to_sentence.html_safe %></dd>
      </dl>
    </div>
  </div>
</header>
