<%= content_tag_for(:div, worldwide_organisation) do %>
  <% worldwide_organisation.sponsoring_organisations.each do |organisation| %>
    <%= render "govuk_publishing_components/components/organisation_logo", {
      organisation: {
        name: sanitize(organisation.name),
        url: worldwide_organisation,
        url: "/government/organisations/foreign-commonwealth-development-office",
        crest: "org",
        brand: "foreign-commonwealth-office",
      }
    } %>
  <% end %>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <%= render "govuk_publishing_components/components/heading", {
    text: worldwide_organisation.name,
    heading_level: 3,
    font_size: "s",
    margin_bottom: 2,
  } %>

  <p class="govuk-body"><%= worldwide_organisation.summary %></p>
  <p class="govuk-body govuk-!-margin-bottom-4">
    <%= link_to t('worldwide_organisation.find_out_more'), worldwide_organisation, class: "govuk-link" %>
  </p>
  <%= render('contacts/organisation_contact', contact: worldwide_organisation.main_office) if worldwide_organisation.main_office.present? %>

<% end %>
