<% page_title @worldwide_organisation.name %>
<% page_class "worldwide-organisations-show govuk-width-container" %>

<%= render partial: "header", locals: {
  organisation: @worldwide_organisation,
  world_locations: @world_locations
} %>

<section class="govuk-grid-row" id="about-us">
  <div class="about-us govuk-grid-column-two-thirds worldwide-org-content">
    <p class="govuk-body-l worldwide-org-summary"><%= @worldwide_organisation.summary %></p>
    <div class="worldwide-org-description">
      <% if @draft %>
        <%= govspeak_edition_to_html @worldwide_organisation.draft_about_us %>
      <% else %>
        <%= govspeak_edition_to_html @worldwide_organisation.about_us %>
      <% end %>
    </div>
  </div>
  <% social = t_social_media_accounts(@worldwide_organisation.social_media_accounts, @_request) %>
  <% if social.any? %>
    <aside class="social-media-links govuk-grid-column-one-third">
      <div class="content">
        <h2><%= t("worldwide_organisation.headings.follow_us") %></h2>
        <%= render "shared/social_media_accounts", socialable: social, followus: true %>
      </div>
    </aside>
  <% end %>
</section>

<% if ([@primary_role]+@other_roles).compact.any?(&:has_appointment?) %>
  <section class="govuk-grid-row" id="people">
    <div class="govuk-grid-column-full">
      <h2 class="keyline-header"><%= t("worldwide_organisation.headings.our_people" ) %></h2>
    </div>
    <%= render( partial: "people/person",
        locals: {
          person: @primary_role.current_person,
          roles: [@primary_role],
          hlevel: "h3",
          wrapping_element: :div,
          extra_class: "govuk-grid-column-one-quarter",
        }
      ) if @primary_role %>
    <div class="govuk-grid-column-three-quarters">
      <ul class="govuk-list govuk-grid-row">
        <% @other_roles.each.with_index do |role, i| %>
          <%= render( partial: "people/person",
            locals: {
              person: role.current_person,
              roles: [role],
              hlevel: "h3",
              hide_image: true,
              extra_class: (i + 1) % 4 == 0 ? "govuk-grid-column-one-third clear-column" : "govuk-grid-column-one-third",
            }
          ) %>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>

<% if @main_office %>
  <section class="govuk-grid-row contact-us" id="contact-us">
    <h2 class="keyline-header">
      <%= t("worldwide_organisation.headings.contact_us" ) %>
    </h2>
    <%= render partial: "contacts/contact", locals: {
      contact: @main_office,
      is_main: true,
      lang: t_lang_translated_locales(@main_office.contact)
    } %>
    <% @home_page_offices.each do |home_page_office| %>
      <%= render partial: "contacts/contact", locals: {
        contact: home_page_office,
        lang: t_lang_translated_locales(home_page_office.contact)
      } %>
    <% end %>
  </section>
<% end %>

<% if @worldwide_organisation.corporate_information_pages.any? %>
  <%= render partial: "corporate_information", locals: {
    organisation: @worldwide_organisation
  } %>
<% end %>
