<% page_title @worldwide_organisation.name %>
<% page_class "worldwide-organisations-show" %>

<div class="block organisation-header">
  <div class="inner-block floated-children">
    <header>
      <div class="content">
        <% if @world_locations.any? %>
          <h2 class="world-location"><%= @world_locations.map {|l| link_to(l.title, l) }.to_sentence %></h2>
        <% end %>
        <h1 class="<%= logo_classes(class_name: 'single-identity', size: 'large', stacked: true) %>">
          <span><%= format_with_html_line_breaks(h(@worldwide_organisation.logo_formatted_name)) %></span>
        </h1>
        <p class="sponsoring-organisations">
          <%= t('worldwide_organisation.part_of') %> <%= @worldwide_organisation.sponsoring_organisations.map {|o| link_to(o.name, o, class: "sponsoring-organisation") }.to_sentence.html_safe %>
        </p>
      </div>
    </header>
    <aside class="organisation-social-media-links">
      <div class="content">
        <%= render 'shared/social_media_accounts', socialable: @worldwide_organisation, followus: true %>
      </div>
    </aside>
  </div>
</div>

<section class="block about-block" id="about-us">
  <div class="inner-block">
    <h1 class="keyline-header"><%= t('worldwide_organisation.about_us' ) %></h1>
    <div class="content">
      <p class="summary"><%= @worldwide_organisation.summary %></p>
      <div class="description">
        <%= govspeak_to_html @worldwide_organisation.description %>
      </div>
    </div>
  </div>
</section>

<section class="block about-block" id="our-services">
  <div class="inner-block">
    <h1 class="keyline-header"><%= t('worldwide_organisation.our_services' ) %></h1>
    <div class="content">
      <%= govspeak_to_html @worldwide_organisation.services %>
    </div>
  </div>
</section>

<section class="block people" id="people">
  <div class="inner-block floated-children">
    <h1 class="keyline-header"><%= t('worldwide_organisation.our_people' ) %></h1>
    <%= render( partial: 'people/person',
                locals: {
                  person: @primary_role.current_person,
                  roles: [@primary_role],
                  hlevel: 'h2',
                  wrapping_element: :div }) if @primary_role %>
    <ul class="people-list">
      <% clear_person = 0 %>
      <% @other_roles.each do |role| %>
        <%= render( partial: 'people/person',
                    locals: {
                      person: role.current_person,
                      roles: [role],
                      hlevel: 'h2',
                      hide_image: true,
                      extra_class: ((clear_person += 1) % 3 == 1 ? 'clear-person' : '')}) %>
      <% end %>
    </ul>
  </div>
</section>

<% if @main_office %>
  <section class="block contact-us" id="contact-us">
    <div class="inner-block floated-children">
      <h1 class="keyline-header"><%= t('worldwide_organisation.contact_us' ) %></h1>
      <%= render partial: 'contacts/contact', locals: {contact: @main_office, is_main: true} %>
      <%= render partial: 'contacts/contact', collection: @other_offices %>
    </div>
  </section>
<% end %>
