<% content_for :page_title, "Edit topics: " + @statistics_announcement.title %>
<% content_for :context, @statistics_announcement.title %>
<% content_for :title, "Topic taxonomy tags"%>

<%= render 'admin/shared/tagging/taxonomy_group_description' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Selected Topics",
      margin_bottom: 2,
    } %>

    <%= form_for @tag_form, url: admin_statistics_announcement_tags_path(@statistics_announcement), method: :put, data: {
      module: "track-selected-taxons"
    } do |form| %>
      <%= form.hidden_field :previous_version %>

      <%= render "admin/shared/tagging/taxonomy_group_selector", {
        form: form,
        tag_form: @tag_form
      } %>

      <div class="govuk-button-group govuk-!-margin-top-7">
        <%= render "govuk_publishing_components/components/button", {
          text: "Update tags",
          data_attributes: {
            module: 'gem-track-click',
            track_category: 'form-button',
            track_label: "Save tagging changes",
            track_action: "taxonomy-tag-form-button",
          }
        } %>

        <%= link_to("Cancel", admin_statistics_announcement_path(@statistics_announcement), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
