<% page_title @document.title, "Detailed guidance" %>
<% page_class "detailed-guides-show" %>

<%= api_link_tag api_detailed_guide_url(@document.document) %>

<div class="document_page <%= @document.type.downcase %><% @document.mainstream_categories.each do |cat| %> category-<%= cat.slug %><% end %>">
  <div class="block-1">
    <div class="inner-block">
      <div class="meta">
        <%= render partial: 'change_notes', locals: {document: @document} %>
      </div>
      <section class="page-header js-hide-extra-logos">
        <ul class="organisations-icon-list">
          <% @document.sorted_organisations.each do |organisation| %>
            <%= content_tag_for(:li, organisation, class: organisation_brand_colour_class(organisation)) do %>
              <%= link_to organisation_path(organisation),
                          class: logo_classes(organisation: organisation, size: 'medium') do %>
                <span><%= organisation_logo_name(organisation, false) %></span>
              <% end %>
            <% end %>
          <% end %>
        </ul>
        <%= render partial: "title", locals: {
          topics: @topics,
          document: @document
        }%>

        <% if @document.replaces_businesslink? %>
          <div class="replaces-businesslink">
            <p>
              This replaces
              <span class="businesslink-logo">
                <span class="visuallyhidden">Business Link</span>
              </span>
            </p>
          </div>
        <% end %>
      </section>

    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <%= render partial: "document_contextual", locals: {edition: @document} %>
      <%= national_statistics_logo(@document) %>
    </div>
  </div>
  <div class="block-3">
    <div class="inner-block">
      <% if @document.has_related_mainstream_content? %>
        <aside class="related-mainstream-content information-block" role="complementary">
          <div class="inner">
            <h4>Too much detail?<br>See these quick guides</h4>
            <p>
              <%= link_to @document.related_mainstream_content_title, @document.related_mainstream_content_url %>
              <% if @document.has_additional_related_mainstream_content? %>
                <br>
                <%= link_to @document.additional_related_mainstream_content_title, @document.additional_related_mainstream_content_url %>
              <% end %>
            </p>
          </div>
        </aside>
      <% end %>
      <%= render partial: "document_content" %>
    </div>
  </div>
  <div class="block-4 block related-links js-back-to-content-stop">
    <div class="inner-block">
      <div class="js-back-to-content back-to-content visuallyhidden">
        <a href="#page-navigation">Back to contents</a>
      </div>
      <aside id="more-like-this" class="aside-more-like-this">
        <h1>More like this</h1>
        <% if @categories.any? %>
          <section id="guide-categories" class="categories">
            <div class="inner">
              <h2>All detailed guidance about</h2>
              <ul>
                <% @categories.each do |category| %>
                  <%= content_tag_for(:li, category) do %>
                    <%= link_to category.title, mainstream_category_path(category) %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </section>
        <% end %>

        <% if @document.part_of_published_collection? %>
          <section id="document-collection" class="document-collection">
            <div class="inner">
              <h2>This is part of a collection</h2>
              <ul>
                <%= list_of_li_links_to_document_collections(@document) %>
              </ul>
            </div>
          </section>
        <% end %>

        <% if @document.published_related_detailed_guides.any? %>
          <section class="related-guidance">
            <div class="inner">
              <h2>Related detailed guidance</h2>
              <ul class="related-detailed-guides">
                <% @document.published_related_detailed_guides.each do |detailed_guide| %>
                  <%= content_tag_for(:li, detailed_guide) do %>
                    <%= link_to detailed_guide.title, public_document_path(detailed_guide), title: "View #{detailed_guide.title}" %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </section>
        <% end %>
      </aside>
    </div>
  </div>
 </div>
