<article class="document_view">
  <h1 class="title"><%= document.title %></h1>
  <div class="body">
    <%= govspeak_to_html document.body %>
  </div>
  <p class="attachment"><%= link_to_attachment(document.attachment) %></p>
  <p class="opening_on"><%= consultation_opening_phrase(document) %></p>
  <p class="closing_on"><%= consultation_closing_phrase(document) %></p>
  <p class="written_by">Written by <span class="author"><%= document.author.name %></span></p>
</article>
