<article class="document">
  <%= render partial: "standard_elements", locals: { edition: edition } %>

  <div class="body">
    <div class="govspeak">
      <%= render partial: "documents/attachments", locals: { object_with_attachments: edition }  %>
    </div>
  </div>

  <p class="opening_at"><%= consultation_opening_phrase(edition) %></p>
  <p class="closing_at"><%= consultation_closing_phrase(edition) %></p>

  <% if edition.has_consultation_participation? %>
    <div class="participation">
      <% if edition.consultation_participation.has_link? %>
        <p class="online">
          <%= link_to 'Respond online', edition.consultation_participation.link_url %>
        </p>
      <% end %>
      <% if edition.consultation_participation.has_email? %>
        <p class="email">
          <%= mail_to edition.consultation_participation.email %>
        </p>
      <% end %>
      <% if edition.consultation_participation.has_postal_address? %>
        <div class="postal-address">
          <%= format_with_html_line_breaks(edition.consultation_participation.postal_address) %>
        </div>
      <% end %>
    </div>
  <% end %>
</article>
