<%= consultation_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>

    <%= render partial: 'external_fields', locals: { form: form, edition: edition } %>

    <div class="js-external-url-set">
      <fieldset>
        <legend>Ways to respond</legend>
        <%= form.fields_for :consultation_participation, edition.consultation_participation || edition.build_consultation_participation do |participation_fields| %>
          <%= participation_fields.text_field :link_url, label_text: 'Link URL' %>
          <%= participation_fields.text_field :email %>
          <%= participation_fields.text_area :postal_address, rows: "4", style: "width: auto" %>
          <%= participation_fields.fields_for :consultation_response_form, participation_fields.object.consultation_response_form || participation_fields.object.build_consultation_response_form do |response_form_fields| %>
            <%= response_form_fields.text_field :title, label_text: "Downloadable response form title", required: false %>
            <% if response_form_fields.object.persisted? %>
              <div class="attachment">
                <p>Current data: <%= link_to File.basename(response_form_fields.object.consultation_response_form_data.file.path), response_form_fields.object.consultation_response_form_data.file.url %></p>
                <p>Actions: <%= attachment_action_fields(response_form_fields, :consultation_response_form_data) %></p>
                <%= consultation_response_form_data_fields(response_form_fields) %>
              </div>
            <% else %>
              <%= consultation_response_form_data_fields(response_form_fields) %>
            <% end %>
          <% end %>
        <% end %>
      </fieldset>
    </div>

    <div class="js-external-url-set">
      <%= render partial: 'html_version_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'inline_attachments_info', locals: { form: form, edition: edition } %>
    </div>

    <fieldset>
      <legend>Associations</legend>
      <%= render partial: 'related_policy_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'topic_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>
      <div class="js-external-url-set">
        <%= render partial: 'minister_fields', locals: { form: form, edition: edition } %>
        <%= render partial: 'topical_event_fields', locals: { form: form, edition: edition } %>
        <%= render partial: 'worldwide_priority_fields', locals: { form: form, edition: edition } %>
        <%= render partial: 'nation_fields', locals: { form: form, edition: edition } %>
      </div>
    </fieldset>
  <% end %>
<% end %>
