<div class="format-advice">
  <p><strong>Use this format for:</strong> Consultations (officially “documents requiring collective agreement across government”, including calls for evidence).</p>

  <p>Check you have read the current <a href="https://www.gov.uk/government/publications/consultation-principles-guidance">consultation principles</a>.</p>
</div>

<%= consultation_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>
    <fieldset>
      <legend>Held on another website</legend>
      <%= form.check_box :external, label_text: "This #{edition.class.name.humanize.downcase} is held on another website" %>
      <div class="js-external-url">
        <%= form.text_field :external_url, label_text: "External link URL" %>
      </div>
    </fieldset>

    <div class="js-external-url-set">
      <fieldset>
        <legend>Ways to respond</legend>
        <%= form.fields_for :consultation_participation, edition.consultation_participation || edition.build_consultation_participation do |participation_fields| %>
          <%= participation_fields.text_field :link_url, label_text: 'Link URL' %>
          <%= participation_fields.text_field :email %>
          <%= participation_fields.text_area :postal_address, rows: "4", style: "width: auto" %>
          <%= participation_fields.fields_for :consultation_response_form, participation_fields.object.consultation_response_form || participation_fields.object.build_consultation_response_form do |response_form_fields| %>
            <%= response_form_fields.text_field :title, label_text: "Downloadable response form title", required: false %>
            <% if response_form_fields.object.persisted? %>
              <div class="attachment">
                <p>Current data: <%= link_to File.basename(response_form_fields.object.consultation_response_form_data.file.path), response_form_fields.object.consultation_response_form_data.file.url %></p>
                <p>Actions: <%= attachment_action_fields(response_form_fields, :consultation_response_form_data) %></p>
                <%= consultation_response_form_data_fields(response_form_fields) %>
              </div>
            <% else %>
              <%= consultation_response_form_data_fields(response_form_fields) %>
            <% end %>
          <% end %>
        <% end %>
      </fieldset>
    </div>

    <div class="js-external-url-set">
      <%= render 'html_version_fields', form: form, edition: edition %>
      <%= render 'inline_attachments_info', form: form, edition: edition %>
    </div>

    <fieldset>
      <legend>Associations</legend>
      <div class="js-external-url-set">
        <%= render 'appointment_fields', form: form, edition: edition %>
      </div>

      <%= render 'topical_event_fields', form: form, edition: edition %>

      <div class="js-external-url-set">
        <%= render 'nation_fields', form: form, edition: edition %>
      </div>

      <%= render 'organisation_fields', form: form, edition: edition %>
    </fieldset>

    <fieldset>
      <legend>Consultation principles</legend>
      <%= form.check_box :read_consultation_principles, label_text: 'We have considered the <a href="https://www.gov.uk/government/publications/consultation-principles-guidance">consultation principles</a>'.html_safe %>
    </fieldset>
  <% end %>
<% end %>
