<%= standard_edition_form(edition) do |form| %>
  <%= render partial: 'attachment_fields', locals: { form: form, edition: edition, parent_type: :edition }%>

  <fieldset>
    <legend>Associations</legend>
    <%= render partial: 'related_policy_fields', locals: { form: form, edition: edition } %>
    <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>
    <%= render partial: 'minister_fields', locals: { form: form, edition: edition } %>
    <%= render partial: 'nation_fields', locals: { form: form, edition: edition } %>
  </fieldset>

  <fieldset>
    <legend>Consultation response</legend>
    <%= form.fields_for :response do |response_fields| %>
      <%= response_fields.text_area :summary, rows: 2 %>
      <%= response_fields.fields_for :consultation_response_attachments do |response_attachments_fields| %>
        <%= response_attachments_fields.fields_for :attachment do |attachment_fields| %>
          <%= attachment_fields.hidden_field :file_cache %>
          <%= attachment_fields.text_field :title %>
          <%= attachment_fields.file_field :file %>
          <% if attachment_fields.object.file_cache.present? %>
            <span class="already_uploaded"><%= File.basename(attachment_fields.object.file_cache) %> already uploaded</span>
          <% end %>
          <% unless attachment_fields.object.new_record? %>
            <p>Uploaded file: <%= link_to File.basename(attachment_fields.object.file.path), attachment_fields.object.file.url %></p>
            <% checkbox_args = nested_attribute_destroy_checkbox_options(response_attachments_fields) %>
            <% checkbox_args[0].merge!(label_text: "(uncheck to remove)") %>
            <%= response_attachments_fields.check_box :_destroy, *checkbox_args  %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </fieldset>
<% end %>
