<% content_for :context, @unpublishing.edition.title %>
<% content_for :page_title, "Edit #{withdrawal_or_unpublishing(@unpublishing.edition)} explanation" %>
<% content_for :title, "Edit #{withdrawal_or_unpublishing(@unpublishing.edition)} explanation" %>
<% content_for :title_margin_bottom, 6 %>
<% content_for :error_summary, render('shared/error_summary', object: @unpublishing, parent_class: "edition", class_name: "#{withdrawal_or_unpublishing(@unpublishing.edition)} explanation") %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
        text: "Reason for #{withdrawal_or_unpublishing(@unpublishing.edition)}",
        font_size: "l",
        margin_bottom: 3
    } %>
    <p class="govuk-body govuk-!-margin-bottom-6"><%= @unpublishing.unpublishing_reason.as_sentence.capitalize %></p>

    <%= form_for @unpublishing, url: admin_edition_unpublishing_path(@unpublishing.edition) do |f| %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          heading_size: "l",
          text: "Public explanation",
        },
        hint: "This is shown on the live site",
        name: "unpublishing[explanation]",
        id: "unpublishing_explanation",
        value: @unpublishing.explanation,
        data: {
          module: "paste-html-to-govspeak"
        },
        error_items: errors_for(@unpublishing.errors, :explanation)
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Update #{withdrawal_or_unpublishing(@unpublishing.edition)} explanation",
          margin_bottom: 8
        } %>

        <%= link_to("Cancel", [:admin, @unpublishing.edition], class: "govuk-link") %>
      </div>
    <% end %>
  </section>
</div>
