<div class="well feature-list">
  <%= label_tag "ordering[#{classification_featuring.id}]" do %>
      <div><i class="icon-align-justify" style="opacity:0.1"></i></div>
      <% if classification_featuring.offsite? %>
      <div><%= link_to(classification_featuring.title, polymorphic_path([:edit, :admin, classification_featuring.classification, classification_featuring.offsite_link])) %></div>
      <div class="type"><%= classification_featuring.offsite_link.link_type.titleize %> (offsite link)</div>
      <div></div>
      <div>
        <%= link_to('Unfeature', polymorphic_path([:admin, classification_featuring.classification, classification_featuring]), confirm: "Unfeature '#{classification_featuring.title}'?", method: :delete, class: "btn btn-danger") %>
      </div>
      <% else %>
      <div><%= link_to(classification_featuring.title, admin_edition_path(classification_featuring.edition)) %></div>
      <div class="type"><%= classification_featuring.edition.type.titleize %> (document)</div>
      <div><%=l classification_featuring.edition.major_change_published_at.to_date %></div>
      <div>
        <%= link_to('Unfeature', polymorphic_path([:admin, classification_featuring.classification, classification_featuring]), confirm: "Unfeature '#{classification_featuring.title}'?", method: :delete, class: "btn btn-danger") %>
      </div>
      <% end %>
  <% end %>
  <%= text_field_tag "ordering[#{classification_featuring.id}]", classification_featuring.ordering, class: "ordering js-hidden" %>
</div>
