<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Published</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tagged_editions.each do |edition| %>
      <%= content_tag_for :tr, edition do %>
        <td class="type"><%= edition.type.titleize %></td>
        <td><%= link_to edition.title, admin_edition_path(edition) %></td>
        <td><%=l edition.major_change_published_at.to_date %></td>
        <% featuring = @classification.featuring_of(edition) %>
        <td><%= "Featured" if featuring %></td>
        <td>
          <% if featuring %>
            <%= form_for([:admin, @classification, featuring], method: :delete, html: {class: "button_to"}) do |f| %>
              <%= f.submit "Unfeature", class: "btn btn-danger" %>
            <% end %>
          <% else %>
            <%= link_to "Feature", polymorphic_path([:new, :admin, @classification, :classification_featuring], edition_id: edition.id), class: "btn" %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @tagged_editions, theme: 'twitter-bootstrap' %>
