<% page_title "Featured items on " + @classification.name %>

<% content_for :current_tab do %>
  <p class="warning">Warning: changes to featured content appear instantly on the live site.</p>

  <h2>Featured documents</h2>
  <p>A maximum of 5 featured documents will be displayed on the live site.</p>

  <% if @classification.classification_featurings.many? %>

    <p class="alert alert-info">
    To change the order of your featured documents, drag them up or down and then click "Save features order".
    </p>

    <%= form_for [:admin, @classification] do |form| %>
      <fieldset class="sortable">
        <%= form.fields_for :classification_featurings do |cf_form| %>
          <div class="well">
            <%= cf_form.text_field :ordering, label_text: link_to(cf_form.object.edition.title, admin_edition_path(cf_form.object.edition)), class: "ordering" %>
          </div>
        <% end %>
      </fieldset>
      <%= form.submit "Save features order", class: "btn" %>
    <% end %>

  <% elsif @classification.classification_featurings.any? %>

    <% @classification.classification_featurings.each do |cf| %>
      <div class="well">
        <%= link_to(cf.edition.title, admin_edition_path(cf.edition)) %>
      </div>
    <% end %>

  <% else %>
    None
  <% end %>

  <h2>Published documents</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Published</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @classification.editions.published.each do |edition| %>
        <%= content_tag_for :tr, edition do %>
          <td class="type"><%= edition.type.titleize %></td>
          <td><%= link_to edition.title, admin_edition_path(edition) %></td>
          <td><%=l edition.major_change_published_at.to_date %></td>
          <% featuring = @classification.featuring_of(edition) %>
          <td><%= "Featured" if featuring %></td>
          <td>
            <% if featuring %>
              <%= form_for([:admin, @classification, featuring], method: :delete, html: {class: "button_to"}) do |f| %>
                <%= f.submit "Unfeature", class: "btn btn-danger" %>
              <% end %>
            <% else %>
              <%= link_to "Feature", polymorphic_path([:new, :admin, @classification, :classification_featuring], edition_id: edition.id), class: "btn" %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render partial: "admin/classifications/tab_wrapper", locals: { model: @classification } %>
