<% page_title "Featured items on " + @topical_event.name %>

<% content_for :current_tab do %>
  <h2>Currently featured</h2>
  <p class="warning">Warning: changes to featured content appear instantly on the live site.</p>
  <p>A maximum of 5 featured items will be displayed on the live site.</p>

  <% if @classification_featurings.many? %>
    <p>
      To change the order of your featured documents, drag them up or down and then click "Save ordering".
    </p>

    <%= form_tag [:order, :admin, @topical_event, ClassificationFeaturing], method: :put do %>
      <fieldset class="sortable">
        <%= render @classification_featurings %>
      </fieldset>
      <%= submit_tag "Save ordering", class: "btn btn-default" %>
    <% end %>

  <% elsif @classification_featurings.any? %>
    <%= render @classification_featurings %>

  <% else %>
    <p class="no-content no-content-bordered">Nothing currently featured.</p>
  <% end %>

  <hr />
  <h2 class="feature-title add-bottom-margin">Feature new documents tagged with ‘<%= @topical_event.name %>’</h2>

  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'admin/editions/filter_options', locals: { filter_by: [:title, :type, :author, :organisation], filter_action: admin_topic_classification_featurings_url(@topical_event) } %>
    </div>
    <div class="col-md-9" id="search_results">
      <%= render partial: 'admin/classification_featurings/featured_documents' %>
    </div>
  </div>

  <h2 class="feature-title">Feature new non-GOV.UK government link</h2>
  <% if @featurable_offsite_links.any? %>
    <%= render partial: 'admin/classification_featurings/featurable_offsite_links', locals: { classification_featurings: @classification_featurings, featurable_offsite_links: @featurable_offsite_links } %>
  <% else %>
    <p class="no-content no-content-bordered">There are currently no non-GOV.UK government links.</p>
  <% end %>
  <%= link_to "Create a non-GOV.UK government link", polymorphic_path([:new, :admin, @topical_event, :offsite_link]), class: "btn btn-default" %>
<% end %>

<%= render partial: "admin/topical_events/tab_wrapper", locals: { model: @topical_event } %>
