<% page_title "Featured items on " + @classification.name %>

<% content_for :current_tab do %>
  <h2>Currently featured</h2>
  <p class="warning">Warning: changes to featured content appear instantly on the live site.</p>
  <p>A maximum of 5 featured items will be displayed on the live site.</p>

  <% if @classification_featurings.many? %>
    <p>
      To change the order of your featured documents, drag them up or down and then click "Save ordering".
    </p>

    <%= form_tag [:order, :admin, @classification, ClassificationFeaturing], method: :put do %>
      <fieldset class="sortable">
        <%= render @classification_featurings %>
      </fieldset>
      <%= submit_tag "Save ordering", class: "btn" %>
    <% end %>

  <% elsif @classification_featurings.any? %>
    <%= render @classification_featurings %>

  <% else %>
    <p>Nothing has been featured yet.</p>

  <% end %>

  <hr />
  <h2 class="feature-title add-bottom-margin">Feature new documents tagged with ‘<%= @classification.name %>’</h2>

  <div class="row-fluid">
    <div class="span3">
      <%= render partial: 'admin/editions/filter_options', locals: { filter_by: [:title, :type, :author, :organisation], filter_action: admin_topic_classification_featurings_url(@classification) } %>
    </div>
    <div class="span9" id="search_results">
      <%= render partial: 'admin/classification_featurings/featured_documents' %>
    </div>
  </div>

  <div class="row-fluid">
    <h2 class="feature-title">Feature new offsite link</h2>
    <% if @featurable_offsite_links.any? %>
      <div class="row-fluid">
        <%= render partial: 'admin/classification_featurings/featurable_offsite_links', locals: { classification_featurings: @classification_featurings, featurable_offsite_links: @featurable_offsite_links } %>
      </div>
    <% else %>
      <p>There are currently no offsite links.</p>
    <% end %>
    <%= link_to "Create an offsite link", polymorphic_path([:new, :admin, @classification, :offsite_link]), class: "btn" %>
  </div>
<% end %>

<%= render partial: "admin/classifications/tab_wrapper", locals: { model: @classification } %>
