<% page_title "Feature document" %>

<h2>Feature '<%= @classification_featuring.edition.title %>' within '<%= @classification.name %>'</h2>

<div class="row-fluid">
  <div class="span6">
    <%= form_for [:admin, @classification, @classification_featuring], builder: Whitehall::FormBuilder do |form| %>
      <%= form.errors %>
      <%= form.hidden_field :edition_id %>

      <%= form.fields_for :image do |image_fields| %>
        <div class="control-group">
          <%= image_fields.label :file, 'Select an image to be shown when featuring', class: "control-label" %>
          <div class="controls">
            <%= image_fields.file_field :file %>
            <% if image_fields.object.file_cache.present? %>
              <span class="already_uploaded"><%= File.basename(image_fields.object.file_cache) %> already uploaded</span>
            <% end %>
            <%= image_fields.hidden_field :file_cache %>
          </div>
        </div>
      <% end %>
      <%= form.text_field :alt_text, horizontal: true, label_text: "Image description (alt text)" %>
      <%= form.save_or_cancel cancel: polymorphic_path([:admin, @classification, :classification_featurings]) %>
    <% end %>
  </div>
</div>
