<h2><%= title %></h1>

<table id="world-locations" class="table table-striped table-bordered">
  <thead>
    <tr class="table-header">
      <th width="10%">Type</th>
      <th width="60%">Location</th>
      <th width="10%">Status</th>
      <th width="30%">Translations</th>
    </tr>
  </thead>

  <tbody>
    <% world_locations.each do |world_location| %>
      <%= content_tag_for(:tr, world_location) do %>
        <td class="type"><%= world_location.world_location_type.name %></td>

        <td>
          <p>
            <%= link_to world_location.name, [:admin, world_location.world_location_news], class: "name" %>
          </p>
          <p>
            <% if world_location.world_location_news.mission_statement.present? %>
              <span class="mission_statement"><%= format_with_html_line_breaks(world_location.world_location_news.mission_statement) %></span>
            <% else %>
              <em>No mission statement yet</em>, <%= link_to "create one", edit_admin_world_location_news_path(world_location.world_location_news) %>.
            <% end %>
          </p>
        </td>

        <td class="status"><%= world_location.active? ? "active" : "inactive" %></td>

        <td class="translations">
          <% if world_location.non_english_translated_locales.any? %>
            <%= world_location.non_english_translated_locales.map do |locale|
              link_to "#{locale.english_language_name} (#{locale.native_language_name})", edit_admin_world_location_news_translation_path(world_location, locale.code)
            end.to_sentence.html_safe %>
          <% else %>
            none
          <% end %>
        </td>

      <% end %>
    <% end %>

  </tbody>
</table>
