<% page_title @world_location_news.name %>
<% page_class "world-location-show" %>

<%= content_tag_for(:div, @world_location_news) do %>
  <div class="world-location-header">
    <h1>
      <span class="name"><%= @world_location_news.name %></span>
    </h1>
    <p>
      <%= link_to "View on website", @world_location_news.public_url(cachebust_url_options) %>
  </div>

  <section class="world-location-details">
    <%= tab_navigation_for(@world_location_news) %>

    <div class="mission-statement lead">
      <%= govspeak_to_html @world_location_news.mission_statement %>
    </div>

    <div class="form-actions">
      <%= link_to "Edit", [:edit, :admin, @world_location_news], class: "btn btn-lg btn-primary" %>
    </div>
  </section>
<% end %>
