<section class="app-view-whats-new__section" id="<%= heading.parameterize(separator: '-')%>">
  <%= render "govuk_publishing_components/components/heading", {
    text: heading,
    font_size: "m",
    margin_bottom: 3,
  } %>

  <%= render_govspeak(body_govspeak) if defined?(body_govspeak) %>
  <%= render(partial: "admin/whats_new/updates", locals: { updates: updates }) if defined?(updates) %>
  <%= render partial: "admin/whats_new/back_to_top" %>
</section>
