<% content_for :page_title, "#{@edition.title}: Worldwide tags" %>
<% content_for :context, @edition.title %>
<% content_for :title, "Worldwide tags" %>
<%= render "admin/tracking/subtype_tracking", document_type: @edition.type, document: @edition %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Selected topics",
      margin_bottom: 2,
    } %>

    <%= form_for(
      @tag_form,
      url: admin_edition_world_tags_path(@edition),
      method: :put,
      as: :taxonomy_tag_form,
      data: { module: "track-selected-taxons" },
    ) do |form| %>
      <%= form.hidden_field :previous_version %>

      <%= render partial: "/components/miller-columns", locals: {
        id: "taxonomy_tag_form[taxons]",
        searchable: true,
        items: @world_taxonomy.all_world_taxons_transformed(@tag_form.selected_taxons),
      } %>

      <%= render "govuk_publishing_components/components/details", {
        title: "Changes are applied to a live page as soon as you update the tags"
      } do %>
        If this content has already been published and you add new topics, then the last published edition will appear on those topic pages immediately, before you publish a new edition.
      <% end %>

      <div class="govuk-button-group govuk-!-margin-top-7">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save topic changes",
          data_attributes: {
              module: 'gem-track-click',
              track_category: 'form-button',
              track_label: "Save topic changes",
              track_action: "world-taxonomy-tag-form-button",
          }
        } %>

        <%= link_to("Cancel", admin_edition_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
