<% page_title "Edit topics: " + @edition.title %>

<div class="row">
  <h1><%= @edition.title %></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Worldwide</h2>
    <hr>

    <%= form_for(
      @tag_form,
      url: admin_edition_world_tags_path(@edition),
      method: :put
    ) do |form| %>
      <%= form.hidden_field :previous_version %>

      <div class="form-group"
        data-module="taxonomy-tree-checkboxes"
        data-content-id="<%= @edition.content_id %>"
        data-content-format="<%= @edition.content_store_document_type %>"
        data-content-public-path="<%= public_document_path(@edition) %>">

        <%= render(
          partial: "/admin/shared/tagging/taxonomy",
          locals: {
            selected_taxons: @tag_form.selected_taxons,
            level_one_taxons: @world_taxonomy.all_world_taxons
          }
        ) %>
      </div>

      <h2>Selected topics</h2>
      <div class="content content-bordered hidden" data-module="breadcrumb-preview">
      </div>

      <p class="warning">
        Warning: topic changes to published content appear instantly on the live site.
      </p>

      <div class="publishing-controls well">
        <%= form.form_actions(
          buttons: { save: 'Save topic changes' },
          cancel: admin_edition_path(@edition)
        ) %>
      </div>
    <% end %>
  </div>
</div>
