<section class="govuk-grid-column-one-third">
  <% if image.persisted? %>
    <img src="<%= image.url %>" alt="Image preview" class="app-view-edition-images__image govuk-!-margin-bottom-4">
  <% end %>
  <h2 class="govuk-heading-m">Image information</h2>
  <ul class="govuk-list">
    <% if image.bitmap? %>
      <li><strong>Width: </strong><%= image.width %>px</li>
      <li><strong>Height: </strong><%= image.height %>px</li>
    <% end %>
    <li><strong>Format: </strong><%= image.content_type %></li>
    <li><strong>File name: </strong><%= image.filename %></li>
  </ul>
</section>
