<%
  image_kind ||= Whitehall.image_kinds.fetch("default")
  text = image_kind.permitted_uses.include?("govspeak_embed") ? "Upload an image" : "Upload #{image_kind.display_name} image"
%>

<%= form_tag(
  admin_edition_images_path(@edition),
  id: "#{image_kind.name}_image_upload_form",
  multipart: true,
) do %>
  <%= render "govuk_publishing_components/components/file_upload", {
    label: {
      text:,
    },
    heading_level: 2,
    heading_size: "l",
    javascript: true,
    multiple: @edition.allows_multiple_of_image_kind?(image_kind.permitted_uses.first),
    name: "images[][image_data][file]",
    id: "edition_images_image_data_file",
    hint: raw('Images can be JPEG, PNG, SVG or GIF files. If you are uploading more than one image, <a class="govuk-link" href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/images-and-videos">read the image guidance</a> on using unique file names.'),
    error_items: @new_image.present? ? errors_for(@new_image.errors, :"image_data.file") : nil,
    accept: "image/png, image/jpeg, image/gif, image/svg+xml",
  } %>

  <%= hidden_field_tag("images[][image_data][image_kind]", image_kind.name) %>

   <%= render "govuk_publishing_components/components/details", {
      title: "You must use an SVG for charts and diagrams",
    } do %>
      SVGs allow users to magnify images without losing quality.
      Find out <%= link_to "how to create an SVG file (opens in new tab)",
      "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/images-and-videos#creating-an-svg-file",
      class: "govuk-link",
      target: "_blank",
      rel: "noopener" %>.
    <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Upload",
    margin_bottom: 10,
  } %>
<% end %>
