<%= form_tag(
  admin_edition_images_path(@edition),
  multipart: true,
) do %>
  <%= render "govuk_publishing_components/components/file_upload", {
    label: {
      text: "Upload an image",
    },
    heading_level: 2,
    heading_size: "l",
    name: "image[image_data][file]",
    id: "edition_images_image_data_file",
    hint: raw('Images can be JPEG, PNG, SVG or GIF files. If you are uploading more than one image, <a class="govuk-link" href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/images-and-videos">read the image guidance</a> on using unique file names.'),
    error_items: @new_image.present? ? errors_for(@new_image.errors, :"image_data.file") : nil,
    accept: "image/png, image/jpeg, image/gif, image/svg+xml",
  } %>

  <% if @edition.permitted_image_kinds.size == 1 %>
    <%= hidden_field_tag("image[image_data][image_kind]", @edition.permitted_image_kinds.first.name) %>
  <% else %>
    <%= render "govuk_publishing_components/components/radio", {
      heading: "What kind of image is this?",
      name: "image[image_data][image_kind]",
      items: @edition.permitted_image_kinds.map do |image_kind|
        {
          value: image_kind.name,
          text: image_kind.display_name,
        }
      end,
    } %>
  <% end %>

   <%= render "govuk_publishing_components/components/details", {
      title: "You must use an SVG for charts and diagrams",
    } do %>
      SVGs allow users to magnify images without losing quality.
      Find out <%= link_to "how to create an SVG file (opens in new tab)",
      "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/images-and-videos#creating-an-svg-file",
      class: "govuk-link",
      target: "_blank",
      rel: "noopener" %>.
    <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Upload",
    margin_bottom: 10,
  } %>
<% end %>
