<section data-module="image-processing-checker" data-image-link="<%= admin_edition_image_path(edition, image) %>" class="govuk-grid-column-one-third">

  <template id="image-preview">
    <% if !image.bitmap? %>
      <img alt="Image preview" class="app-view-edition-resource__preview govuk-!-margin-bottom-4">
    <% end %>
  </template>

  <div class="app-c-image-cropper__controls-container" hidden>
    <h2 class="govuk-heading-m">Crop controls</h2>
  </div>
  <div class="app-c-image-cropper__image-information" hidden>
    <h2 class="govuk-heading-m">Crop outlines</h2>
    <ul class="govuk-list">
      <template id="crop-checkbox">
        <li class="app-c-image-cropper__crop-key" data-crop-box>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="" type="checkbox" checked="true" value="show">
            <label class="govuk-label govuk-checkboxes__label" for="">
            </label>
          </div>
        </li>
      </template>
    </ul>
  </div>

  <h2 class="govuk-heading-m">Image information</h2>

  <% unless image.image_data&.original_uploaded? %>
    <div class="govuk-!-margin-bottom-4 js-image-processing-status">
      <span class="govuk-tag govuk-tag--green">Processing</span>
    </div>
  <% end %>

  <ul class="govuk-list">
    <% if image.bitmap? && image.image_data.dimensions.present? %>
      <li><strong>Width: </strong><%= image.width %>px</li>
      <li><strong>Height: </strong><%= image.height %>px</li>
    <% end %>
    <li><strong>Format: </strong><%= image.content_type %></li>
    <li><strong>File name: </strong><%= image.filename %></li>
  </ul>
</section>
