<%= render "govuk_publishing_components/components/heading", {
  text: "Uploaded images",
  font_size: "l",
} %>
<div>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Lead image",
    font_size: "m",
    padding: true
  } %>

  <%= render "govuk_publishing_components/components/details", {
        title: "Using a lead image",
      } do %>
    <p class="govuk-body">Using a lead image is optional. To use a lead image either select the
    default image for your organisation or upload an image and select it as
    the lead image.</p>
    <p class="govuk-body">The lead image appears at the top of the document. It cannot be used
    in the document body.</p>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Use default image",
    secondary_solid: true,
    margin_bottom: 4
  } %>
</div>

<div>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Images available to use in document",
    font_size: "m",
    padding: true
  } %>

  <%= render "govuk_publishing_components/components/inset_text", {
    text: "Use the 'Insert image' button in the document tab to add images to body copy.",
    margin_top: 0
  } %>
</div>

<% if edition.images %>
  <ul class="govuk-list">
    <% edition.images.each_with_index do |image, index| %>
      <li class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <% if image.url.present? %>
            <img src="<%= image.url %>" alt="Image <%= index + 1 %>" class="app-view-edition-images__image">
          <% end %>
        </div>
        <ul class="app-view-edition-images__details govuk-grid-column-two-thirds govuk-list govuk-list--bullet">
          <li><strong>Caption: </strong><%= image.caption.blank? ? "None" : image.caption %></li>
          <% if image.alt_text %><li><strong>Alt text: </strong><%= image.alt_text.blank? ? "None" : image.alt_text %></li><% end %>
          <li><strong>Markdown code: </strong><span>[Image:&nbsp;<%=image.image_data.carrierwave_image %>]</span></li>
        </ul>
        <div class="app-view-edition-images__actions govuk-grid-column-full govuk-button-group">
          <%= link_to("Edit details", edit_admin_edition_image_path(@edition, image), class: "govuk-link") %>
          <%= link_to("Delete image", confirm_destroy_admin_edition_image_path(@edition, image), class: "govuk-link gem-link--destructive") %>
        </div>
      </li>
      <% if image != edition.images.last %>
        <li aria-hidden="true"><hr class="app-view-edition-images__section-break govuk-section-break govuk-section-break--visible"></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
