<% content_for :context, @edition.title %>
<% content_for :page_title, "Crop image" %>
<% content_for :title, "Crop image" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">

  <section class="govuk-grid-column-two-thirds">
    <%= form_tag admin_edition_images_path(@edition), multipart: true do %>
      <p class="govuk-body govuk-!-margin-bottom-7 app-no-js">The image you selected needs to be cropped to fit on GOV.UK. Enable JavaScript in your browser or use an alternative browser to crop and resize the image.</p>

      <p class="govuk-body govuk-!-margin-bottom-7 app-js-only">Use your cursor or the arrow keys and “<kbd>+</kbd>” and “<kbd>-</kbd>” to select a part of the image. The part you select will be resized for GOV.UK. The shape is fixed.</p>

      <%= render "components/image-cropper", {
        name: "image[image_data][file]",
        src: @data_url,
        filename: @new_image.filename,
        type: @new_image.content_type
      } %>

      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save and continue",
          data_attributes: {
            module: "gem-track-click",
            "track-category": "form-button",
            "track-action": "#{@edition.class.name.demodulize.underscore.dasherize}-button",
            "track-label": "Save and continue"
          }
        } %>

        <%= link_to("Cancel", admin_edition_images_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </section>

  <%= render "image_information", image: @new_image%>

</div>
