<% content_for :context, @edition.title %>
<% content_for :page_title, "Add image details" %>
<% content_for :title, "Add image details" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">

  <section class="govuk-grid-column-two-thirds">
    <%= form_tag [:admin, :edition, :image], id: image, method: :patch do %>
      <p class="govuk-body-lead">You can leave any image detail blank if you do not need it.</p>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Caption and credit",
          heading_size: "l",
        },
        name: "image[caption]",
        id: "image_caption",
        value: image.caption,
        rows: 2,
        hint: raw("Name a person in a photo or add image credit. <a class='govuk-link' href='https://www.gov.uk/guidance/content-design/images'>Read the image copyright standards</a>. The text appears next to the image."),
        margin_bottom: 4,
      } %>

      <% if image.alt_text.blank? %>
        <h2 class="govuk-heading-l">Alt text</h2>

        <p class="govuk-body">If your image is informative, you should describe the image in the body text below the image so it’s available to everyone.</p>

        <p class="govuk-body">You do not need to provide an alt text description for decorative images.</p>
      <% else %>
        <%= render "govuk_publishing_components/components/textarea", {
          label: {
            text: "Alt text",
            heading_size: "l",
          },
          name: "image[alt_text]",
          id: "image_alt_text",
          value: image.alt_text,
          rows: 5,
          hint: tag.p("You should write the alt text description in the body copy below the image so it’s available to everyone.", class: "govuk-!-margin-bottom-0 govuk-!-margin-top-0"),
          margin_bottom: 4,
        } %>
      <% end %>

      <p class="govuk-body"><a href="https://www.gov.uk/guidance/content-design/images" class="govuk-link" target="_blank">Using informative and decorative images on GOV.UK (opens in new tab)</a></p>

      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
        } %>

        <%= link_to("Cancel", admin_edition_images_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </section>

  <%= render "image_information" %>

</div>
