<% content_for :context, @edition.title %>
<% content_for :page_title, "Edit image details" %>
<% content_for :title, "Edit image details" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">

  <section class="govuk-grid-column-two-thirds">
    <%= form_tag [:admin, :edition, :image], id: image, multipart: true, method: :patch do %>
      <p class="govuk-body-lead">You can leave any image detail blank if you do not need it.</p>

      <%= hidden_field_tag("image[image_data][image_kind]", image.image_data.image_kind) %>

      <% if image.can_be_cropped? && image.image_data&.original_uploaded? %>
        <%= render "components/image_cropper", {
          name: "image[image_data][crop_data]",
          src: image_url,
          filename: image.filename,
          type: image.content_type,
          width: image_kind_config.valid_width,
          height: image_kind_config.valid_height,
          x: image.image_data.crop_data_x,
          y: image.image_data.crop_data_y,
        } %>
      <% end %>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Caption and credit",
          heading_size: "l",
        },
        name: "image[caption]",
        textarea_id: "image_caption",
        value: image.caption,
        rows: 2,
        hint: raw("Name a person in a photo or add image credit. <a class='govuk-link' href='https://www.gov.uk/guidance/content-design/images'>Read the image copyright standards</a>. The text appears next to the image."),
        margin_bottom: 4,
      } %>

      <p class="govuk-body"><a href="https://www.gov.uk/guidance/content-design/images" class="govuk-link" target="_blank">Using informative and decorative images on GOV.UK (opens in new tab)</a></p>

      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
        } %>

        <%= link_to("Cancel", admin_edition_images_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </section>

  <%= render "image_information" %>

</div>
