<% content_for :context, "#{@edition.title}" %>
<% content_for :page_title, "Images for #{@edition.format_name}" %>
<% content_for :title, "Images for #{@edition.format_name}" %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @images.flat_map { |image| image&.errors&.errors }, parent_class: "edition_images")) if @images.present? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/secondary_navigation", {
      aria_label: "Document navigation",
      items: secondary_navigation_tabs_items(@edition, request.path),
    } %>

    <% @edition.permitted_image_usages.reject { |usage| usage.multiple }.each do |usage| %>

      <% current_image = @edition.images.usable_as(usage).first %>

      <% if current_image %>
        <%= render "govuk_publishing_components/components/heading", {
          text: usage.label.blank? ? "Uploaded image" : "Uploaded #{usage.label} image",
          heading_level: 2,
          font_size: "l",
          margin_bottom: 2,
        } %>
        <ul id="uploaded_<%= usage.label || usage.key %>_image_list" class="govuk-list">
          <%= render Admin::EditionImages::ImageComponent.new(edition: @edition, image: current_image, last_image: true) %>
        </ul>
      <% else %>
        <%= render "image_upload", image_usage: usage %>
      <% end %>
    <% end %>

    <% @edition.permitted_image_usages.select { |usage| usage.multiple }.each do |usage| %>
      <%= render "image_upload", image_usage: usage %>

      <%= render "govuk_publishing_components/components/heading", {
        text: "Uploaded images",
        font_size: "l",
      } %>

      <% if @edition.is_a? StandardEdition %>
        <% if @edition.type_instance.form("images").present? %>
          <%= form_for [:admin, @edition] do %>
            <%= hidden_field_tag :redirect_to, admin_edition_images_path(@edition) %>

            <% root_block = ConfigurableContentBlocks::Factory.new(@edition).build_block("default_object") %>
            <%= render(root_block, {
              schema: @edition.type_instance.form("images"),
              content: @edition.block_content,
              path: ConfigurableContentBlocks::Path.new,
              right_to_left: @edition.rtl?,
              errors: @edition.errors,
              required_attributes: @edition.type_instance.required_attributes,
              root: true,
            }) %>

            <div class="govuk-button-group">
              <%= render "govuk_publishing_components/components/button", {
                text: "Save",
                value: "save",
                name: "save",
              } %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= render Admin::EditionImages::LeadImageComponent.new(edition: @edition) %>
      <% end %>

      <%= render "govuk_publishing_components/components/heading", {
        text: "Images available to use in document",
        font_size: "m",
        padding: true,
      } %>

      <% current_images = @edition.images.usable_as(usage) %>
      <% current_images =  current_images - [@edition.lead_image].compact if @edition.can_have_custom_lead_image? %>

      <% if current_images.present? %>
        <%= render "govuk_publishing_components/components/inset_text", {
          text: "Copy the image markdown code to add images to the document body.",
          margin_top: 0,
        } %>

        <ul id="uploaded_<%= usage.label || usage.key %>_image_list" class="govuk-list">
          <% current_images.each do |image| %>
            <%= render Admin::EditionImages::ImageComponent.new(edition: @edition, image: image, last_image: image == current_images.last) %>
          <% end %>
        </ul>
      <% else %>
        <p class="govuk-body">No images uploaded</p>
      <% end %>
    <% end %>
  </div>
</div>
