<% content_for :context, "#{@edition.title}" %>
<% content_for :page_title, "Images for #{@edition.format_name}" %>
<% content_for :title, "Images for #{@edition.format_name}" %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @images.flat_map { |image| image&.errors&.errors }, parent_class: "edition_images")) if @images.present? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/secondary_navigation", {
      aria_label: "Document navigation",
      items: secondary_navigation_tabs_items(@edition, request.path),
    } %>

    <% @edition.permitted_image_usages.reject { |usage| usage.multiple? }.each do |image_usage| %>
      <% image = @edition.images.usable_as(image_usage).first %>
      <%= render Admin::EditionImages::ImageCardComponent.new(edition: @edition, image:, image_usage:) %>
    <% end %>

    <% @edition.permitted_image_usages.select { |usage| usage.multiple? }.each_with_index do |usage, multiple_upload_section_index| %>
      <%= render Admin::EditionImages::ImageUploadComponent.new(edition: @edition, new_image: @new_image, image_usage: usage) %>

      <% if usage.embeddable? %>
        <% if @edition.is_a?(StandardEdition) %>
          <% if @edition.type_instance.form("images").present? %>
            <%= form_for [:admin, @edition] do %>
              <%= hidden_field_tag :redirect_to, admin_edition_images_path(@edition) %>

              <%= render ConfigurableContentBlocks::DefaultObject.new(@edition, @edition.type_instance.form("images").merge("root" => true), ConfigurableContentBlocks::Path.new) %>
              <div class="govuk-button-group">
                <%= render "govuk_publishing_components/components/button", {
                  text: "Save",
                  value: "save",
                  name: "save",
                } %>
              </div>
            <% end %>
          <% end %>
          <%= render "govuk_publishing_components/components/heading", {
            text: usage.label.blank? ? "Uploaded images" : "Uploaded #{usage.label} images",
            font_size: "l",
          } %>
        <% else %>
          <%= render "govuk_publishing_components/components/heading", {
            text: "Uploaded images",
            font_size: "l",
          } %>
          <%= render Admin::EditionImages::LeadImageComponent.new(edition: @edition) %>
        <% end %>

        <%= render "govuk_publishing_components/components/heading", {
          text: "Images available to use in document",
          font_size: "m",
          padding: true,
        } %>
      <% else %>
        <%= render "govuk_publishing_components/components/heading", {
          text: usage.label.blank? ? "Uploaded images" : "Uploaded #{usage.label} images",
          font_size: "l",
          padding: true,
        } %>
      <% end %>

      <% current_images = @edition.images.usable_as(usage) %>
      <% current_images = current_images - [@edition.lead_image].compact if @edition.can_have_custom_lead_image? %>

      <% if current_images.present? %>
        <% if usage.embeddable? %>
          <%= render "govuk_publishing_components/components/inset_text", {
            text: "Copy the image markdown code to add images to the document body.",
            margin_top: 0,
          } %>
        <% end %>

        <div id="uploaded_<%= usage.label || usage.key %>_image_list" class="govuk-list">
          <% current_images.group_by(&:image_kind).each do |kind, images| %>
            <%= render "govuk_publishing_components/components/heading", {
              text: Whitehall.image_kinds.fetch(kind).display_name_without_dimensions,
              heading_level: 3,
              font_size: "m",
              padding: true,
            } if usage.kinds.size > 1 %>
            <ul id="uploaded_<%= usage.label || usage.key %>_<%= kind %>_image_list" class="govuk-list">
              <% images.each_with_index do |image, idx| %>
                <%= render Admin::EditionImages::ImageComponent.new(edition: @edition, image: image, image_usage: usage) %>
                <% unless (idx + 1) == images.size %>
                  <li aria-hidden="true">
                    <hr class="app-view-edition-resource__section-break govuk-section-break govuk-section-break--visible">
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% else %>
        <p class="govuk-body">No images uploaded</p>
      <% end %>

      <% unless multiple_upload_section_index == @edition.permitted_image_usages.select { |usage| usage.multiple? }.count - 1 %>
        <hr aria-hidden="true" class="app-view-edition-resource__section-break govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      <% end %>
    <% end %>
  </div>
</div>
