<div class="span8">
  <section>
    <h1><%= page_title %></h1>

    <p class="warning">Warning: changes to <%= human_friendly_model_name.downcase %>s appear instantly on the live site.</p>

    <%= form_for [@topical_event, @about_page], url: url do |form| %>
      <%= form.errors %>
      <fieldset>
        <%= form.text_field :name, required: true %>
        <%= form.text_field :read_more_link_text, required: true %>
      </fieldset>
      <fieldset>
        <%= form.text_area :summary, rows: 5, required: true %>
        <%= form.text_area :body, required: true %>
      </fieldset>

      <%= form.save_or_cancel cancel: admin_topical_event_about_pages_path(@topical_event, @about_page) %>
    <% end %>
  </section>
</div>

<div class="span4">
  <%= simple_formatting_sidebar %>
</div>
