<p class="warning">Warning: changes to <%= human_friendly_model_name.downcase %>s appear instantly on the live site.</p>

<%= form_for [@subject, @page], url: url do |form| %>
  <%= form.errors %>
  <fieldset>
    <%= form.text_field :name, required: true %>
    <%= form.text_field :read_more_link_text, required: true %>
  </fieldset>
  <fieldset>
    <%= form.text_area :summary, rows: 5, required: true %>
    <%= form.text_area :body, required: true %>
  </fieldset>

  <%= form.save_or_cancel cancel: url_for([:admin, @subject, :about_pages]) %>
<% end %>
