<div class="alphabetical_list g3">
  <% ministerial_roles.group_by {|r| (r.current_person_surname || '-').first.upcase }.sort.in_groups_of(3, false) do |row| %>
    <div class="group alphabetical_row g3f">
      <% row.each do |letter, ministerial_roles_group| %>
        <div class="alphabetical_group g1" id="ministerial_roles_<%= letter.downcase %>">
          <h2><%= letter %></h2>
          <%= render_list_of_ministerial_roles ministerial_roles_group do |ministerial_role| %>
            <div class="image_holder">
              <%= link_to image_for_ministerial_role(ministerial_role), ministerial_role %>
            </div>
            <h3 class="current_appointee"><%= ministerial_role.current_person_name %></h3>
            <p class="role"><%= link_to ministerial_role.name, ministerial_role %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>