<section class="alphabetical_list" id="ministerial_roles">
  <% ministerial_roles.group_by {|r| (r.current_person_surname || '-').first.upcase }.sort.in_groups_of(3, false) do |row| %>
    <% row.each do |letter, ministerial_roles_group| %>
      <div class="alphabetical_row" id="ministerial_roles_<%= letter.downcase %>">
        <h2 class="alphabetical_list_letter"><%= letter %></h2>
        <%= render_list_of_ministerial_roles ministerial_roles_group do |ministerial_role| %>
          <div class="inner">
            <div class="image_holder">
              <%= link_to ministerial_role.current_person_image, ministerial_role %>
            </div>
            <h3 class="current_appointee"><%= ministerial_role.current_person_name %></h3>
            <p class="role"><%= ministerial_role.link %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</section>