<li class="ministerial_role">
  <div class="inner">
    <div class="image_holder">
      <%= link_to person.image, person %>
    </div>
    <<%= hlevel %> class="current-appointee"><%= link_to "<span>#{person.title}</span> <strong>#{person.forename} #{person.surname} #{person.letters}</strong>".html_safe, person.path %></<%= hlevel %>>
    <p class="role">
      <%= roles.map { |role| role.link }.join(", ").html_safe %>
    </p>
  </div>
</li>
