<% page_title "Ministers" %>
<% page_class "ministers-index" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page-header minister">
      <h1 class="page_title">Ministers</h1>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <section class="cab_ministers">
      <h1 class="label">Cabinet ministers</h1>
      <ul id="cabinet" class="cabinet_list">
        <% @cabinet_ministerial_roles.each_with_index do |(person, roles), i| %>
          <%= render partial: "people/person",
              locals: {
                person: person,
                roles: roles,
                hlevel: "h2",
                hide_image: false,
                extra_class: (i % 4 == 0) ? 'clear-person' : ''
          } %>
        <% end %>
      </ul>
    </section>
  </div>
</div>

<div class="block-3 ministers-by-organisation">
  <div class="inner-block">
    <h1>Ministers by organisation</h1>
    <% @ministerial_roles_by_organisation.each do |organisation, ministers| %>
      <%= content_tag_for :section, organisation do %>
        <h2>
          <%= link_to organisation_path(organisation), class: logo_classes(class_name: organisation.organisation_logo_type.class_name,  size: 'medium', stacked: true) do %>
            <span><%= format_with_html_line_breaks(organisation.logo_formatted_name) %></span>
          <% end %>
        </h2>
        <ul class="minister-list">
          <% ministers.each.with_index do |role_appointment, i| %>
            <%= render partial: "people/person",
                locals: {
                  person: role_appointment.person,
                  roles: [role_appointment.role],
                  hlevel: "h3",
                  prefix: 'by-organisation',
                  hide_image: true,
                  extra_class: (i % 3 == 0) ? 'clear-person' : ''
                } %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
