<% page_title "Ministers" %>
<% page_class "ministers-index govuk-width-container" %>

<header class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: "Ministers"
    } %>

    <% unless @is_during_reshuffle %>
      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: sanitize("Read biographies and responsibilities of <a href=\"#cabinet-ministers\" class=\"govuk-link\">Cabinet ministers</a> and all <a href=\"#ministers-by-department\" class=\"govuk-link\">ministers by department</a>, as well as the <a href=\"#whips\" class=\"govuk-link\">whips</a> who help co-ordinate parliamentary business.")
      } %>
    <% end %>
  </div>
</header>

<% if @is_during_reshuffle %>
  <%= render "govuk_publishing_components/components/notice", {
    description_govspeak: bare_govspeak_to_html(@reshuffle_messaging),
  } %>
<% else %>

<section class="cab_ministers govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Cabinet ministers",
      id: "cabinet-ministers",
      margin_bottom: 4,
      padding: true,
    } %>
  </div>
  <ul id="cabinet" class="cabinet-list govuk-list">
    <% @cabinet_ministerial_roles.each_with_index do |(person, roles), i| %>
      <%= render partial: "people/person",
        locals: {
          extra_class: (i % 4 == 0) ? 'govuk-grid-column-one-quarter clear-column' : 'govuk-grid-column-one-quarter',
          hide_image: false,
          hlevel: "h3",
          person: person,
          roles: roles,
        } %>
    <% end %>
  </ul>
</section>

<% if @also_attends_cabinet.any? %>
  <section class="cab_ministers govuk-grid-row govuk-!-padding-top-9">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Also attends Cabinet",
        id: "also-attends-cabinet-ministers",
        margin_bottom: 4,
        padding: true,
      } %>
    </div>
    <ul id="also-attends-cabinet" class="cabinet-list govuk-list">
      <% @also_attends_cabinet.each_with_index do |(person, roles), i| %>
        <%= render partial: "people/person",
            locals: {
              display_cabinet_attendance: true,
              extra_class: (i % 4 == 0) ? 'govuk-grid-column-one-quarter clear-column' : 'govuk-grid-column-one-quarter',
              hide_image: false,
              hlevel: "h3",
              person: person,
              roles: roles,
        } %>
      <% end %>
    </ul>
  </section>
<% end %>

<section class="ministers-by-organisation govuk-grid-row govuk-!-padding-top-9">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Ministers by department",
        id: "ministers-by-department",
        margin_bottom: 4,
        padding: true,
      } %>
    </div>
    <% @ministers_by_organisation.each do |organisation, ministers| %>
      <%= content_tag_for :section, organisation do %>
        <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-7">
          <%= render "govuk_publishing_components/components/organisation_logo", {
            organisation: {
              name: sanitize(format_with_html_line_breaks(organisation.logo_formatted_name)),
              url: organisation.public_path(locale: I18n.default_locale),
              brand: organisation[:slug],
              crest: organisation.organisation_crest,
            },
            heading_level: 3,
          } %>
        </div>
        <div class="govuk-grid-column-three-quarters govuk-!-padding-bottom-7">
          <ul class="minister-list govuk-list govuk-grid-row">
            <% ministers.with_unique_people.each.with_index do |role, i| %>
              <%= render partial: "people/person",
                  locals: {
                    extra_class: (i % 3 == 0) ? 'govuk-grid-column-one-third clear-column' : 'govuk-grid-column-one-third',
                    hide_image: true,
                    hlevel: "h4",
                    person: PersonPresenter.new(role.current_person, self),
                    prefix: "by-organisation-#{organisation.slug}",
                    roles: ministers.roles_for(role.current_person),
                  } %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
</section>

<section class="ministers-by-organisation whips">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Whips",
        id: "whips",
        margin_bottom: 4,
        padding: true,
      } %>
    </div>
  </div>

  <% @whips_by_organisation.each do |whip_organisation, whips| %>
    <%= content_tag_for :div, whip_organisation, class: "govuk-grid-row" do %>
      <div class="govuk-grid-column-one-quarter">
        <%= render "govuk_publishing_components/components/heading", {
          font_size: 24,
          text: whip_organisation.name,
          id: "whip-#{whip_organisation.name.parameterize}",
          heading_level: 3,
          margin_bottom: 2,
        } %>
      </div>
      <div class="govuk-grid-column-three-quarters govuk-!-padding-bottom-8">
        <ul class="minister-list govuk-list">
          <% whips.unique_people.each.with_index do |person, i| %>
            <%= render partial: "people/person",
              locals: {
                extra_class: (i % 3 == 0) ? 'govuk-grid-column-one-third clear-column' : 'govuk-grid-column-one-third',
                hide_image: true,
                hlevel: "h4",
                person: PersonPresenter.new(person, self),
                prefix: 'by-organisation',
                roles: whips.roles_for(person),
              } %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</section>

<% end %>
