<% page_title @ministerial_role.name %>
<%= content_tag_for :div, @ministerial_role, class: 'g4f ministerial-department ministerial_role_page ' + ministerial_role_organisation_class(@ministerial_role) do %>
  <section class="g4 page_header ministerial_role minister">
    <h1 class="role_name"><%= @ministerial_role.name %></h1>
    <h2 class="current_person_name"><%= @ministerial_role.current_person_name %></h2>
    <div class="meta">
      <% @ministerial_role.organisations.each do |organisation| %>
        <%= link_to organisation_display_name(organisation), organisation_path(organisation), class: "organisation tag", id: dom_id(organisation) %>
      <% end %>
    </div>
  </section>

  <% unless @ministerial_role.responsibilities.blank? %>
  <section class="g4f responsibilities">
    <h3>Responsibilities</h3>
    <div class="g4 content"><%= govspeak_to_html @ministerial_role.responsibilities %></div>
  </section>
  <% end %>

  <section class="g4 current_person">
    <div class="g2f biography">
      <h3>Biography</h3>
      <%= govspeak_to_html(@ministerial_role.current_person_biography) %>
    </div>
    <div class="g1 image">
      <figure class="img">
        <%= image_for_ministerial_role @ministerial_role %>
        <figcaption class="name"><%= @ministerial_role.current_person_name %></figcaption>
      </figure>
    </div>
  </section>

  <section class="g4f documents">
  <% if @announcements.any? %>
    <div class="g2">
      <section id="announcements" class="latest_documents">
      <h1 class="label">News &amp; speeches</h1>
      <ul class="news_and_speeches">
        <% @announcements.each do |announcement| %>
          <%= render partial: 'documents/document_li', locals: { document: announcement } %>
        <% end %>
      </ul>
      </section>
    </div>
  <% end %>

  <% if @policies.any? %>
    <div class="g1">
      <section id="policies" class="latest_documents">
      <h1 class="label">Policies</h1>
      <ul class="policies">
        <% @policies.each do |policy| %>
          <%= render partial: 'documents/document_li', locals: { document: policy } %>
        <% end %>
      </ul>
      </section>
    </div>
  <% end %>

  <% if @publications.any? || @consultations.any? %>
    <div class="g1">
      <% if @publications.any? %>
        <section id="publications" class="latest_documents">
        <h1 class="label">Publications</h1>
        <ul class="publications">
          <% @publications.each do |publication| %>
            <%= render partial: 'documents/document_li', locals: { document: publication } %>
          <% end %>
        </ul>
        </section>
      <% end %>
      <% if @consultations.any? %>
        <section id="consultations" class="latest_documents">
        <h1 class="label">Consultations</h1>
        <ul class="consultations">
          <% @consultations.each do |consultation| %>
            <%= render partial: 'documents/document_li', locals: { document: consultation } %>
          <% end %>
        </ul>
        </section>
      <% end %>
    </div>
  <% end %>

  <% unless @announcements.any? || @policies.any? || @publications.any? || @consultations.any? %>
    <p class="nothing_related">At present we do not have any related content.</p>
  <% end %>
  </section>
<% end %>
