<% page_title @ministerial_role.name %>
<%= content_tag_for :div, @ministerial_role, class: 'ministerial-department ministerial_role_page ' + ministerial_role_organisation_class(@ministerial_role) do %>

  <div class="block-1">
    <div class="inner-block">
      <header class="page-header ministerial_role minister">
      <hgroup>
        <h1 class="role_name"><%= @ministerial_role.name %></h1>
        <h2 class="current_person_name"><%= @ministerial_role.current_person_link %></h2>
      </hgroup>
      </header>
    <section id="document-organisations">
      <h1 class="visuallyhidden">Organisations</h1>
      <ul class="organisations">
      <% @ministerial_role.organisations.each do |organisation| %>
        <%= content_tag_for(:li, organisation, :class => organisation_logo_classes(organisation)) do %>
          <span class="organisation-logo-small">
            <%= link_to format_with_html_line_breaks(h(organisation.logo_formatted_name)), organisation_path(organisation) %>
          </span>
        <% end %>
      <% end %>
      </ul>
    </section>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
    <% unless @ministerial_role.responsibilities.blank? %>
    <section class="responsibilities">
      <h3 class="visuallyhidden">Responsibilities</h3>
      <div class="content"><%= govspeak_to_html @ministerial_role.responsibilities %></div>
    </section>
    <% end %>
    </div>
  </div>

  <% if @announcements.any? %>
  <div class="block-3">
    <div class="inner-block">
    <div>
      <section id="announcements" class="latest_documents">
      <h1 class="label"><%= h "News & speeches" %></h1>
      <ul class="news_and_speeches">
        <% @announcements.each do |announcement| %>
          <%= render partial: 'documents/document_li', locals: { document: announcement } %>
        <% end %>
      </ul>
      </section>
    </div>
    </div>
  </div>
  <% end %>

  <% if @policies.any? %>
  <div class="block-4">
    <div class="inner-block">
        <section id="policies" class="latest_documents">
        <h1 class="label">Policies</h1>
        <ul class="policies">
          <% @policies.each do |policy| %>
            <%= render partial: 'documents/document_li', locals: { document: policy } %>
          <% end %>
        </ul>
        </section>
    </div>
  </div>
  <% end %>

  <% if @publications.any? || @consultations.any? %>
  <div class="block-5">
    <div class="inner-block">
      <% if @publications.any? %>
        <section id="publications" class="latest_documents">
        <h1 class="label">Publications</h1>
        <ul class="publications">
          <% @publications.each do |publication| %>
            <%= render partial: 'documents/document_li', locals: { document: publication } %>
          <% end %>
        </ul>
        </section>
      <% end %>
      <% if @consultations.any? %>
        <section id="consultations" class="latest_documents">
        <h1 class="label">Consultations</h1>
        <ul class="consultations">
          <% @consultations.each do |consultation| %>
            <%= render partial: 'documents/document_li', locals: { document: consultation } %>
          <% end %>
        </ul>
        </section>
      <% end %>
    </div>
  </div>
  <% end %>

  <% unless @announcements.any? || @policies.any? || @publications.any? || @consultations.any? %>
  <div class="block-6">
    <div class="inner-block">
    <p class="nothing_related">At present we do not have any related content.</p>
    </div>
  </div>
  <% end %>
<% end %>
