<% page_title @ministerial_role.name %>
<div class="g3f">
  <section class="page_header ministerial_role minister">
    <h1 class="page_title ministerial_role has_meta"><%= @ministerial_role.name %></h1>
    <p class="meta">
      <% @ministerial_role.organisations.each do |organisation| %>
        <%= link_to organisation_display_name(organisation), organisation_path(organisation), class: "organisation", id: dom_id(organisation) %>
      <% end %>
    </p>
  </section>

  <section class="current_person page_detail">
    <div class="img"><%= image_tag @ministerial_role.current_person_image_url || 'blank-person.png' %></div>
    <h2 class="name"><%= @ministerial_role.current_person_name %></h2>
    <div class="biography">
      <%= format_in_paragraphs(@ministerial_role.current_person_biography) %>
    </div>
  </section>

  <% if @announcements.any? %>
    <div class="g2 related_documents">
      <section class="news_and_speeches">
        <h1>News &amp; speeches</h1>
        <%= announcement_group(@announcements, groups_of: 3, class: "", partial: "default") %>
      </section>
    </div>
  <% end %>

  <% if @policies.any? %>
    <div class="g1 related_documents">
      <%= render partial: "documents/policies", object: @policies %>
    </div>
  <% end %>

  <% if @publications.any? %>
    <div class="g1 related_documents">
      <%= render partial: "documents/publications", object: @publications %>
    </div>
  <% end %>

  <% if @consultations.any? %>
    <div class="g1 related_documents">
      <%= render partial: "documents/consultations", object: @consultations %>
    </div>
  <% end %>

  <% unless @announcements.any? || @policies.any? || @publications.any? || @consultations.any? %>
    <p class="nothing_related">At present we do not have any related content.</p>
  <% end %>

</div>

