<% page_title @ministerial_role.name %>
<%= content_tag_for :div, @ministerial_role, class: 'g4f ministerial-department ministerial_role_page ' + ministerial_role_organisation_class(@ministerial_role) do %>
  <section class="g4 page_header ministerial_role minister">
    <h1 class="role_name"><%= @ministerial_role.name %></h1>
    <h2 class="current_person_name"><%= @ministerial_role.current_person_name %></h2>
  </section>

  <div class="g4f">
    <section class="g1" id="document_organisations">
      <h1 class="visuallyhidden">Organisations</h1>
      <ul class="organisations">
      <% @ministerial_role.organisations.each do |organisation| %>
        <%= content_tag_for(:li, organisation, :class => organisation_logo_classes(organisation)) do %>
          <span class="organisation_logo_small">
            <%= link_to format_with_html_line_breaks(h(organisation.logo_formatted_name)), organisation_path(organisation) %>
          </span>
        <% end %>
      <% end %>
      </ul>
    </section>

    <% unless @ministerial_role.responsibilities.blank? %>
    <section class="g3 responsibilities">
      <h3 class="visuallyhidden">Responsibilities</h3>
      <div class="content"><%= govspeak_to_html @ministerial_role.responsibilities %></div>
    </section>
    <% end %>

    <section class="g3 current_person">
      <div class="g2f biography">
        <h1 class="label">Biography</h1>
        <%= govspeak_to_html(@ministerial_role.current_person_biography) %>
      </div>
      <div class="g1 image">
        <figure class="img">
          <%= image_for_ministerial_role @ministerial_role %>
          <figcaption class="name"><%= @ministerial_role.current_person_name %></figcaption>
        </figure>
      </div>
    </section>
  </div>

  <section class="g4f documents">
  <% if @announcements.any? %>
    <div class="g2">
      <section id="announcements" class="latest_documents">
      <h1 class="label">News &amp; speeches</h1>
      <ul class="news_and_speeches">
        <% @announcements.each do |announcement| %>
          <%= render partial: 'documents/document_li', locals: { document: announcement } %>
        <% end %>
      </ul>
      </section>
    </div>
  <% end %>

  <% if @policies.any? %>
    <div class="g1">
      <section id="policies" class="latest_documents">
      <h1 class="label">Policies</h1>
      <ul class="policies">
        <% @policies.each do |policy| %>
          <%= render partial: 'documents/document_li', locals: { document: policy } %>
        <% end %>
      </ul>
      </section>
    </div>
  <% end %>

  <% if @publications.any? || @consultations.any? %>
    <div class="g1">
      <% if @publications.any? %>
        <section id="publications" class="latest_documents">
        <h1 class="label">Publications</h1>
        <ul class="publications">
          <% @publications.each do |publication| %>
            <%= render partial: 'documents/document_li', locals: { document: publication } %>
          <% end %>
        </ul>
        </section>
      <% end %>
      <% if @consultations.any? %>
        <section id="consultations" class="latest_documents">
        <h1 class="label">Consultations</h1>
        <ul class="consultations">
          <% @consultations.each do |consultation| %>
            <%= render partial: 'documents/document_li', locals: { document: consultation } %>
          <% end %>
        </ul>
        </section>
      <% end %>
    </div>
  <% end %>

  <% unless @announcements.any? || @policies.any? || @publications.any? || @consultations.any? %>
    <p class="nothing_related">At present we do not have any related content.</p>
  <% end %>
  </section>
<% end %>
