<div class="g2">
  <h1 class="ministerial_role"><%= @ministerial_role.name %></h1>
  <h2 class="person"><%= @ministerial_role.current_person_name %></h2>
</div>

<div class="g1 secondary">
  <%= render partial: "documents/policies", object: @policies %>
  <%= render partial: "documents/publications", object: @publications %>
  <%= render partial: "documents/news_articles", object: @news_articles %>
  <%= render partial: "documents/speeches", object: @speeches %>

  <section id="organisations">
    <h1>Organisations</h1>
    <%= render partial: "organisations/list", locals: {organisations: @ministerial_role.organisations} %>
  </section>
</div>