<% page_title @ministerial_role.name %>
<% page_class "ministerial-role-show" %>

<%= content_tag_for :div, @ministerial_role, class: 'two-column-page biographical-page ministerial-department ' + ministerial_role_organisation_class(@ministerial_role) do %>
  <div class="block-1">
    <div class="inner-block">
      <header class="page-header person">
      <hgroup>
        <h1 class="name"><%= @ministerial_role.name %></h1>
        <ul class="current-person single">
          <li><%= @ministerial_role.current_person.name %></li>
        </ul>
      </hgroup>
      </header>
    </div>
  </div>

  <div class="block-2 ">
    <div class="inner-block js-stick-at-top-when-scrolling">
      <section class="contextual-info in-page-navigation ">
        <h1>Contents</h1>
        <nav role="navigation">
          <ul>
            <li><%= link_to "Responsibilities", '#responsibilities' %></li>
            <% if @ministerial_role.occupied? %>
              <li><%= link_to "Current role holder", "#current-role-holder" %></li>
            <% end %>
            <% if @ministerial_role.published_policies.any? %>
              <li><%= link_to "Policy", "#policies" %></li>
            <% end %>
            <% if @ministerial_role.announcements.any? %>
              <li><%= link_to "Announcements", "#announcements" %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block" id="responsibilities">
      <%= content_tag_for :section, @ministerial_role, class: "responsibilities" do %>
        <%= render  partial: 'organisations/organisations_logo_list',
                    locals: {
                      organisations: @ministerial_role.organisations,
                      external_links: false,
                      remove_line_breaks: false
                    } %>

        <h1>Responsibilities</h1>
        <%= @ministerial_role.responsibilities %>
      <% end %>

      <% if @ministerial_role.occupied? %>
        <section class="current-role-holder" id="current-role-holder">
          <h1>Current role holder: <span class="name"><%= @ministerial_role.current_person.name %></span></h1>
          <%= @ministerial_role.current_person.biography %>
          <div class="read-more">
            <%= link_to "More about this person", @ministerial_role.current_person %>
          </div>
        </section>
      <% end %>

      <% if @ministerial_role.previous_appointments.any? %>
        <section class="previous-roles" id="previous-holders-of-this-role">
          <h1>Previous holders of this role</h1>

          <table class="document-list">
            <thead class="visuallyhidden">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
              </tr>
            </thead>

            <tbody>
              <% @ministerial_role.previous_appointments.each do |appointment| %>
                <%= content_tag_for :tr, appointment, class: "document-row" do %>
                  <td class="date attribute">
                    <%= appointment.date_range %>
                  </td>
                  <th scope="row" class="title attribute"><%= appointment.person_link %></th>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </section>
      <% end %>

      <% if @ministerial_role.published_policies.any? %>
        <section class="policy" id="policies">
          <h1>Policy</h1>
          <p>under the responsibility of <%= @ministerial_role.name_with_definite_article %></p>

          <table class="document-list">
            <thead class="visuallyhidden">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
              </tr>
            </thead>

            <tbody>
              <% @ministerial_role.published_policies.each do |policy| %> 
                <%= content_tag_for :tr, policy, class: "document-row" do %>
                  <th scope="row" class="title attribute"><%= policy.link %></th>
                  <td class="date attribute"><%= policy.published_at %></td>
                <% end %>
              <% end %>
            </tbody>
          </table>

          <div class="read-more">
            <%= link_to "View all policies", :policies %>
          </div>
        </section>
      <% end %>

      <% if @ministerial_role.announcements.any? %>
        <section class="announcements" id="announcements">
          <h1>Announcements</h1>
          <p>by the <%= @ministerial_role.name %></p>

          <table class="document-list">
            <thead class="visuallyhidden">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
              </tr>
            </thead>

            <tbody>
              <% @ministerial_role.announcements.each do |announcement| %>
                <%= content_tag_for :tr, announcement, class: "document-row" do %>
                  <th scope="row" class="title attribute"><%= announcement.link %></th>
                  <td class="date attribute"><%= announcement.display_date_microformat %></td>
                <% end %>
              <% end %>
            </tbody>
          </table>

          <div class="read-more">
            <%= link_to "View all announcements", :announcements %>
          </div>
        </section>
      <% end %>
    </div>
  </div>
<% end %>
