<% page_title @ministerial_role.name %>
<% page_class "ministerial-role-show biographical-page" %>

<%= content_tag_for :div, @ministerial_role, class: 'two-column-page ministerial-department ' + ministerial_role_organisation_class(@ministerial_role) do %>
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render partial: 'shared/heading',
                locals: { type: t('roles.ministerial'),
                        heading: @ministerial_role.name,
                        big: true, extra: true} %>

      <div class="heading-extra">
        <div class="inner-heading">
          <%= render partial: 'shared/available_languages', locals: {object: @ministerial_role } %>
        </div>
      </div>

      <aside class="meta metadata-list">
        <div class="inner-heading">
          <dl>
            <dt><%= t('document.headings.organisations', count: @ministerial_role.organisations.count) %>:</dt>
            <dd>
              <%= render  partial: 'organisations/organisations_name_list',
                          locals: { lead_organisations: @ministerial_role.organisations } %>
            </dd>
            <% if @ministerial_role.occupied? %>
              <dt><%= t('roles.headings.current_holder') %>:</dt>
              <dd><%= link_to @ministerial_role.current_person.name, @ministerial_role.current_person %></dd>
            <% end %>
          </dl>
        </div>
      </aside>
      <% unless @ministerial_role.occupied? %>
        <aside class="status-block"><h2>This is not a current government role</h2></aside>
      <% end %>
    </div>
  </header>

  <div class="block-2 ">
    <div class="inner-block js-stick-at-top-when-scrolling">
      <section class="contextual-info in-page-navigation ">
        <h1><%= t('document.contents') %></h1>
        <nav role="navigation">
          <ul>
            <li><%= link_to t('roles.headings.responsibilities'), '#responsibilities' %></li>
            <% if @ministerial_role.occupied? %>
              <li><%= link_to t('roles.headings.current_holder'), "#current-role-holder" %></li>
            <% end %>
            <% if @ministerial_role.published_policies.any? %>
              <li><%= link_to t('policies.heading'), "#policies" %></li>
            <% end %>
            <% if @ministerial_role.previous_appointments.any? %>
              <li><%= link_to t('roles.headings.previous_holders'), "#previous-holders-of-this-role" %></li>
            <% end %>
            <% if @ministerial_role.announcements.any? %>
              <li><%= link_to t('announcements.heading'), "#announcements" %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block" id="responsibilities">
      <%= content_tag_for :section, @ministerial_role, class: "responsibilities" do %>
        <h1><%= t('roles.headings.responsibilities') %></h1>
        <%= @ministerial_role.responsibilities %>
      <% end %>

      <% if @ministerial_role.occupied? %>
        <section class="current-role-holder" id="current-role-holder">
          <h1><%= t('roles.headings.current_holder') %>: <span class="name"><%= @ministerial_role.current_person.name %></span></h1>
          <%= @ministerial_role.current_person.biography %>
          <div class="read-more">
            <%= link_to t('people.read_more'), @ministerial_role.current_person %>
          </div>
        </section>
      <% end %>

      <% if @ministerial_role.supports_historical_accounts? || @ministerial_role.previous_appointments.any? %>
        <section class="previous-roles" id="previous-holders-of-this-role">
          <h1><%= t('roles.previous_holders') %></h1>
          <% if @ministerial_role.supports_historical_accounts? %>
            <p>Find out more about previous holders of this role in our <%= link_to "past #{@ministerial_role.name.pluralize}", historic_appointments_path(@ministerial_role.historic_param) %> section.</p>
          <% elsif @ministerial_role.previous_appointments.any? %>
            <ol class="document-list">
              <% @ministerial_role.previous_appointments.each do |appointment| %>
                <%= content_tag_for :li, appointment, class: "document-row" do %>
                  <h3><%= appointment.person_link %></h3>
                  <ul class="attributes">
                    <li class="date"><%= appointment.date_range %></li>
                  </ul>
                <% end %>
              <% end %>
            </ol>
          <% end %>
        </section>
      <% end %>

      <% if @ministerial_role.published_policies.any? %>
        <section class="policy" id="policies">
          <h1><%= t('policies.heading') %></h1>
          <p><%= policies_responsible(@ministerial_role.current_person, @ministerial_role) %></p>

          <%= render 'ministerial_roles/policies', role: @ministerial_role %>

        </section>
      <% end %>

      <%= render 'shared/announcement_list', announcer: @ministerial_role %>
    </div>
  </div>
<% end %>
