<%= tab_navigation_for(policy_advisory_group) do %>
  <%= form_for [:admin, policy_advisory_group] do |policy_advisory_group_form| %>
    <%= policy_advisory_group_form.errors %>

    <fieldset>
      <%= policy_advisory_group_form.text_field :name %>
      <%= policy_advisory_group_form.text_field :email %>
      <%= policy_advisory_group_form.text_area :summary %>
      <%= policy_advisory_group_form.text_area :description, class: "previewable" %>
    </fieldset>

    <h3>Attachments</h3>
    <% if policy_advisory_group.persisted? %>
      <%= render 'admin/attachments/markdown_codes', attachable: policy_advisory_group %>
    <% else %>
      <p>
        If you'd like to add an attachment to this policy advisory group,
        please save it first. You'll then find a new tab at the top of the page
        that you can use to upload, edit and delete attachments.
      </p>
    <% end %>

    <p class="warning">Warning: changes to policy advisory groups appear instantly on the live site.</p>
    <%= policy_advisory_group_form.save_or_cancel cancel: admin_policy_advisory_groups_path %>
  <% end %>
<% end %>
