<% page_title "Edit " + @policy_advisory_group.email %>

<div class="span8">
  <section>
    <h1>Edit policy advisory group</h1>
    <p class="warning">Warning: changes to policy advisory groups appear instantly on the live site.</p>
    <%= tab_navigation_for(@policy_advisory_group) do %>
      <%= render "form", policy_advisory_group: @policy_advisory_group %>
    <% end %>
  </section>
</div>

<div class="span4">
  <%= sidebar_tabs govspeak_help: "Formatting help" do |tabs| %>
    <%= tabs.pane id: "govspeak_help" do %>
      <%= render partial: "admin/editions/govspeak_help" %>
    <% end %>
  <% end %>
</div>
