<% content_for :page_class, 'document-series-groups index' %>
<% page_title "#{@series.name}", "Document series" %>

<p><%= link_to "Back to #{@series.organisation.name}", document_series_admin_organisation_path(@series.organisation) %></p>
<h1><%= @series.name %></h1>
<p><%= link_to "View on public site", organisation_document_series_path(@series.organisation, @series) %></p>

<%= document_series_tab_navigation(@series.organisation, @series) do %>
  <p class="warning">
    Warning: Changes you make to document series' appear instantly
    on the live site
  </p>

  <div>
    <% @groups.each do |group| %>
      <section class="group">
        <hgroup>
          <h2>Group: <%= group.heading %></h2>
          <ul class="actions">
            <li>
              <%= link_to 'Edit heading and body', edit_admin_document_series_group_path(@series, group) %>
            </li>
            <li>
              <%= link_to 'Delete', delete_admin_document_series_group_path(@series, group) %>
            </li>
          </ul>
        </hgroup>
        <% if group.latest_editions.empty? %>
          <p class="alert alert-info">
            This group doesn't have any documents in it yet &ndash; add some
            by searching for documents (above), or moving them here from another group.
          </p>
        <% else %>
          <%= form_tag admin_document_series_group_members_path(@series, group), method: 'delete' do %>
            <ul class="controls">
              <li>
                <%= check_box_tag :select_all, group.id, false, id: nil, class: 'checkbox' %>
              </li>
              <li class="remove">
                <%= submit_tag 'Remove', class: 'btn btn-mini btn-info' %>
              </li>
              <% if other_groups(group).size > 0 %>
                <li class="move">
                  Move selected to
                  <%= select_tag :new_group_id, options_from_collection_for_select(other_groups(group), :id, :heading) %>
                  <%= submit_tag 'Move', class: 'btn btn-mini btn-info' %>
                </li>
              <% end %>
            </ul>
            <ol class="document-list">
              <%= render partial: 'series_document', collection: group.latest_editions, as: :edition, locals: { document_series: @series } %>
            </ol>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </div>

  <p class="add-group">
    <i class="icon-plus"></i> <%= link_to 'Add a new group', new_admin_document_series_group_path(@series) %>
  </p>
<% end %>
