<h1>New <%= @content_block.block_type %></h1>

<%= form_with(model: @content_block, local: true) do |form| %>
  <%= hidden_field_tag "content_block[block_type]", @content_block.block_type %>
  <% @content_block.properties.each do |name, value| %>
    <div class="field">
      <%= form.label name %>
      <%= text_field_tag "content_block[properties][#{name}]", value, autocomplete: "off" %>
    </div>
  <% end %>
  <%= form.submit %>
<% end %>
