<% atom_discovery_link_tag polymorphic_url(person, format: :atom), "Announcements" %>

<% if person.announcements.any? %>
  <section class="announcements" id="announcements">
    <div class="filter-feed">
      <%= link_to_feed polymorphic_url(person, format: :atom) %>
    </div>
    <h1>Announcements</h1>
    <p>by <%= person.name %></p>

    <table class="document-list">
      <thead class="visuallyhidden">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Announcement Type</th>
        </tr>
      </thead>

      <tbody>
        <% person.announcements.each do |announcement| %>
          <%= content_tag_for :tr, announcement, class: "document-row" do %>
            <th scope="row" class="title attribute">
              <%= announcement.link %>
            </th>
            <td class="date attribute">
              <%= announcement.display_date_microformat %>
            </td>
            <td class="announcement_type attribute">
              <%= announcement.display_type %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="read-more">
      <%= link_to "View all announcements", :announcements %>
    </div>
  </section>
<% end %>
