<% atom_discovery_link_tag polymorphic_url(person, format: :atom), t('announcements.heading') %>

<% if person.announcements.any? %>
  <section class="announcements" id="announcements">
    <div class="filter-feed">
      <%= link_to_feed polymorphic_url(person, format: :atom) %>
    </div>
    <h1><%= t('announcements.heading') %></h1>
    <p>by <%= person.name %></p>

    <ol class="document-list">
      <% person.announcements.each do |announcement| %>
        <%= content_tag_for :li, announcement, class: "document-row" do %>
          <h3><%= announcement.link %></h3>
          <ul class="attributes">
            <li class="date"><%= announcement.display_date_microformat %></li>
            <li class="display-type"><%= announcement.display_type %></li>
          </ul>
        <% end %>
      <% end %>
    </ol>

    <div class="read-more">
      <%= link_to t('announcements.view_all'), :announcements %>
    </div>
  </section>
<% end %>
