<%
  hide_image ||= false
  extra_class ||= ""
%>
<% if person.model.present? %>
  <%= content_tag_for(:li, person, class: "person-excerpt #{extra_class}") do %>
    <div class="inner">
      <% unless hide_image %>
        <div class="image_holder">
          <%= link_to person.image, person %>
        </div>
      <% end %>
      <<%= hlevel %> class="current-appointee"><%= person.link %></<%= hlevel %>>
      <p class="role">
        <%= roles.map { |role| role.link }.join(", ").html_safe %>
      </p>
    </div>
  <% end %>
<% end %>
