<%
  hide_image ||= false
  extra_class ||= ""
  prefix ||= nil
  wrapping_element ||= :li
  display_cabinet_attendance ||= false
%>
<% if person.model.present? %>
  <%= content_tag_for(wrapping_element, person, prefix, class: "person-excerpt #{extra_class}") do %>
    <div class="inner">
      <% unless hide_image %>
        <% if person.image %>
          <div class="image-holder">
            <%= link_to person.image, person, class: "img", tabindex: '-1', aria: {hidden: true} %>
          </div>
        <% else %>
          <div class="blank-person">
            <div class="blank-person-inner">
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="text">
        <<%= hlevel %> class="current-appointee"><%= person.link %></<%= hlevel %>>
        <p class="role">
          <%= joined_list(roles.map { |role| role.link }).html_safe %>
          <%= roles_footnotes(roles, display_cabinet_attendance) -%>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
