<%
  hide_image ||= false
  extra_class ||= nil
  prefix ||= nil
  wrapping_element ||= :li
  display_cabinet_attendance ||= false

  wrapper_classes = %w(app-person govuk-clearfix)
  wrapper_classes << extra_class unless extra_class.nil?

  roles_classes = %w(govuk-body-s app-person__roles)
  roles_classes << "app-person__roles--with-image" unless hide_image
%>
<% if person.model.present? %>
  <%= content_tag_for(wrapping_element, person, prefix, class: wrapper_classes.join(" ") ) do %>
    <% unless hide_image %>
      <% if person.image %>
        <div class="app-person__image-holder">
          <%= link_to person.image, person.public_path(locale: I18n.default_locale), class: "aspect-ratio-3:2", tabindex: '-1', aria: { hidden: true } %>
        </div>
      <% else %>
        <div class="blank-person">
          <div class="blank-person-inner">
          </div>
        </div>
      <% end %>
    <% end %>
    <<%= hlevel %> class="current-appointee govuk-!-margin-bottom-1"><%= person.link %></<%= hlevel %>>
    <p class="<%= roles_classes.join(" ") %>" lang="en">
      <%= joined_list(roles.map { |role| role.link }).html_safe %>
      <%= roles_footnotes(roles, display_cabinet_attendance) -%>
    </p>
  <% end %>
<% end %>
