<% page_title "People" %>
<% page_class "people-index" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { type: "People",
                        heading: "All ministers and senior officials<br>on&nbsp;GOV.UK".html_safe,
                        big: true } %>
  </div>
</header>

<div class="block-2">
  <div class="inner-block">
    <section class="simple-alphabetical-list people">
      <% @people.group_by {|p| (p.surname || '-').first.upcase }.sort.each do |letter, people_group| %>
        <div class="alphabetical-row" id="people_<%= letter.downcase %>">
          <h2 class="alphabetical-list-letter"><%= letter %></h2>
          <ul>
          <% people_group.each do |person| %>
            <%= content_tag_for :li, person do %>
              <%= person.link %>
            <% end %>
          <% end %>
          </ul>
        </div>
      <% end %>
    </section>
  </div>
</div>
