<% page_title @person.name %>
<% page_class "people-show biographical-page" %>

<%= content_tag_for :div, @person, class: "two-column-page" do %>
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render partial: 'shared/heading',
                locals: { type: @person.current_role_appointments.map { |a| a.role.name }.to_sentence,
                          heading: @person.name,
                          big: true, extra: true } %>
      <div class="heading-extra">
        <div class="inner-heading">
          <%= render partial: 'shared/available_languages', locals: {object: @person } %>
        </div>
      </div>
    </div>
  </header>

  <div class="block-2 ">
    <div class="inner-block js-stick-at-top-when-scrolling">
      <section class="contextual-info in-page-navigation ">
        <div class="image">
          <figure class="img">
            <%= @person.image %>
          </figure>
        </div>
        <h1><%= t('document.contents') %></h1>
        <nav role="navigation">
          <ul>
            <li><%= link_to t('people.biography'), '#biography' %></li>
            <li><%= link_to t('roles.heading', count: @person.current_role_appointments.count), "#current-roles" %></li>
            <% if @person.previous_role_appointments.any? %>
              <li><%= link_to t('people.previous_roles'), "#previous-roles" %></li>
            <% end %>
            <% if @person.has_policy_responsibilities? %>
              <li><%= link_to t('policies.heading'), "#policy" %></li>
            <% end %>
            <% if @person.announcements.any? %>
              <li><%= link_to t('announcements.heading'), "#announcements" %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <section class="biography" id="biography">
        <h1 class="label"><%= t('people.biography') %></h1>
        <%= @person.biography %>
      </section>

      <div class="current-roles" id="current-roles">
        <% @person.current_role_appointments.each do |appointment| %>
          <%= content_tag_for :section, appointment, class: "role" do %>
            <% if appointment.role.worldwide? %>
              <%= render partial: 'worldwide_organisations/logo_list', locals: { worldwide_organisations: appointment.role.worldwide_organisations } %>
            <% else %>
              <%= render  partial: 'organisations/organisations_logo_list', locals: { organisations: appointment.role.organisations } %>
            <% end %>

            <h1 id="<%= appointment.role.name.parameterize%>"><%= appointment.role.name %></h1>

            <%= appointment.role.responsibilities %>
            <% if appointment.role.ministerial? %>
              <div class="read-more">
                <%= link_to t('roles.read_more'), appointment.role %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <% if @person.previous_role_appointments.any? %>
        <section class="previous-roles" id="previous-roles">
          <h1><%= t('people.previous_roles_in_government') %></h1>

          <ol class="document-list">
            <% @person.previous_role_appointments.each do |appointment| %>
              <%= content_tag_for :li, appointment, class: "document-row" do %>
                <h3><%= appointment.role_link %></h3>
                <ul class="attributes">
                  <li class="date"><%= appointment.date_range %></li>
                </ul>
              <% end %>
            <% end %>
          </ol>
        </section>
      <% end %>

      <% if @person.has_policy_responsibilities? %>
        <div id="policy">
          <% @person.current_ministerial_roles.each do |role| %>
            <% if role.published_policies.any? %>
              <section class="policy">
                <h1><%= t('policies.heading') %></h1>
                <p><%= policies_responsible(@person, role) %></p>

                <%= render partial: 'ministerial_roles/policies',
                           locals: { role: role } %>
              </section>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <%= render partial: 'people/announcment_list',
                  locals: { person: @person } %>
    </div>
  </div>
<% end %>
