<% page_title @person.name %>
<% page_class "people-show biographical-page" %>

<%= content_tag_for :div, @person, class: "two-column-page" do %>
  <div class="block-1">
    <div class="inner-block">
      <header class="page-header person">
      <hgroup>
        <h1 class="name"><%= @person.name %></h1>
        <% if @person.current_role_appointments.any? %>
        <ul class="current-role <%= @person.current_role_appointments.size == 1 ? 'single' : 'multiple' %>">
          <% @person.current_role_appointments.each do |appointment| %>
            <li><%= appointment.role.name %></li>
          <% end %>
        </ul>
      <% end %>
      </hgroup>
      </header>
    </div>
  </div>

  <div class="block-2 ">
    <div class="inner-block js-stick-at-top-when-scrolling">
      <section class="contextual-info in-page-navigation ">
        <h1>Contents</h1>
        <nav role="navigation">
          <ul>
            <li><%= link_to "Biography", '#biography' %></li>
            <li><%= link_to (@person.current_role_appointments.count == 1 ? "Role" : "Roles"), "#current-roles" %></li>
            <% if @person.has_policy_responsibilities? %>
              <li><%= link_to "Policy", "#policy" %></li>
            <% end %>
            <% if @person.announcements.any? %>
              <li><%= link_to "Announcements", "#announcements" %></li>
            <% end %>
          </ul>
        </nav>

        <div class="image">
          <figure class='img'>
            <%= @person.image %>
          </figure>
        </div>
      </section>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <section class="biography" id="biography">
        <h1 class="label">Biography</h1>
        <%= @person.biography %>
      </section>

      <div class="current-roles" id="current-roles">
        <% @person.current_role_appointments.each do |appointment| %>
          <%= content_tag_for :section, appointment, class: "role" do %>
            <%= render  partial: 'organisations/organisations_logo_list',
                        locals: {
                          organisations: appointment.role.organisations,
                          external_links: false,
                          remove_line_breaks: false
                        } %>
            
            <h1 id="<%= appointment.role.name.parameterize%>"><%= appointment.role.name %></h1>

            <%= appointment.role.responsibilities %>
            <% if appointment.role.ministerial? %>
              <div class="read-more">
                <%= link_to "More about this role", appointment.role %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <% if @person.previous_role_appointments.any? %>
        <section class="previous-roles" id="previous-roles">
          <h1>Previous roles in government</h1>

          <table class="document-list">
            <thead class="visuallyhidden">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
              </tr>
            </thead>

            <tbody>
              <% @person.previous_role_appointments.each do |appointment| %>
                <%= content_tag_for :tr, appointment, class: "document-row" do %>
                  <td class="date attribute">
                    <%= appointment.date_range %>
                  </td>
                  <th scope="row" class="title attribute"><%= appointment.role_link %></th>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </section>
      <% end %>

      <% if @person.has_policy_responsibilities? %>
        <div id="policy">
          <% @person.current_ministerial_roles.each do |role| %>
            <% if role.published_policies.any? %>
              <section class="policy">
                <h1>Policy</h1>
                <p>under the responsibility of <%= @person.name %> as <%= role.name %></p>

                <%= render partial: 'ministerial_roles/policies',
                           locals: { role: role } %>
              </section>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <%= render partial: 'people/announcment_list',
                  locals: { person: @person } %>
    </div>
  </div>
<% end %>
