<div class="app-view-edition-summary__main">
  <section class="app-view-edition-summary__section">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Document",
      heading_level: 2,
      font_size: "l",
      margin_bottom: 3,
    } %>
    <%=
      status_text = [@edition.state.capitalize]
      # TODO: remove unpublishing information once we have a separate state for unpublished editions
      status_text << "(unpublished #{time_ago_in_words(@edition.unpublishing.created_at)} ago)" if @edition.unpublishing.present?

      render "govuk_publishing_components/components/summary_list", {
        borderless: true,
        items: [
          { field: "Status", value: status_text.join(' ') },
          { field: "Change type", value: @edition.minor_change? ? 'Minor' : 'Major' },
          { field: "Organisations", value: joined_list(@edition.organisations.map { |o| o.name }) },
          { field: "Type of document", value: edition_type(@edition) },
        ]
      }
    %>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Summary",
      heading_level: 3,
      font_size: 'm',
      margin_bottom: 3,
    } %>
    <p class="govuk-body"><%= @edition.summary %></p>
  </section>

  <section class="app-view-edition-summary__section">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Preview",
      heading_level: 2,
      font_size: "l",
      margin_bottom: 3,
    } %>
    <%= render "govuk_publishing_components/components/list", {
      items: [
        *(link_to("View on website", public_document_url(@edition), class: "govuk-link") if @edition.publicly_visible?),
        *(link_to("Preview on website #{"- English" if @edition.translatable? && @edition.available_in_multiple_languages?}".strip,
                  public_document_url(@edition), class: "govuk-link", target: '_blank') + " (open in new tab)" if @edition.available_in_english?),
      ].compact
    } %>

    <% if @edition.translatable? && @edition.available_in_multiple_languages? %>
      <%= render "govuk_publishing_components/components/details", {
        title: "Preview translated pages"
      } do %>
        <%= render "govuk_publishing_components/components/list", {
          items: @edition.non_english_translated_locales.map do |locale|
            (link_to("Preview on website - #{locale.native_and_english_language_name}",
                    public_document_url(@edition, locale:), class: 'govuk-link', target: '_blank') + " (open in new tab)")
          end
        } %>
      <% end %>
    <% end %>

    <% if @edition.has_enabled_shareable_preview? %>
      <%= render "govuk_publishing_components/components/details", {
        title: "Share document preview"
      } do %>
        <p class="govuk-body">Send this preview link to someone so they can see the content and how the document will appear on GOV.UK.</p>
        <p class="govuk-body">No password is needed and anyone with the preview link can view it. You're responsible for who you share draft documents with. </p>
        <p class="govuk-body">The preview link will expire on <%= Date.today.next_month.strftime('%-d %B %Y') %> or when the document is published.</p>

        <%= render "govuk_publishing_components/components/copy_to_clipboard", {
          label: "Copy and send this link to someone and they’ll be able to preview your draft on GOV.UK.",
          copyable_content: preview_document_url_with_auth_bypass_token(@edition),
          button_text: "Copy link"
        } %>

        <% if !@edition.publicly_visible? %>
          <p class="govuk-body govuk-!-margin-top-7">Reset and generate a new preview link if you've shared the preview with the wrong person or if the link has expired. This will disable the previous preview link.</p>
          <%= form_with(url: update_bypass_id_admin_edition_path(@edition), method: :patch) do |f| %>
            <input type="hidden" name="_method" value="patch" />
            <%= render "govuk_publishing_components/components/button", {
              text: "Generate new link",
              secondary_quiet: true
            } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </section>

  <section class="app-view-edition-summary__section">
    <%= render "govuk_publishing_components/components/summary_list", {
      title: "Topic taxonomy tags",
      heading_level: 2,
      heading_size: "l",
      edit: {
        href: edit_admin_edition_tags_path(@edition.id),
        link_text: @edition_taxons.any? ? "Change tags" : "Add tags"
      }
    } do %>
      <% @edition_taxons.map(&:full_path).each do | tag_path | %>
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <% tag_path.each do | path | %>
              <li class="govuk-breadcrumbs__list-item app-view-edition-summary__topic-tag-list-item"><%= path[:title] %></li>
            <% end %>
          </ol>
        </div>
      <% end %>

      <% unless @edition_taxons.any? %>
        <%= render "govuk_publishing_components/components/warning_text", {
          text: "Please add a tag before publishing"
        } %>
      <% end %>
    <% end %>
  </section>

  <section class="app-view-edition-summary__section">
    <%= render "govuk_publishing_components/components/summary_list", {
      title: "Specialist Topic tags",
      heading_level: 2,
      heading_size: "l",
      edit: {
        href: edit_admin_edition_legacy_associations_path(@edition.id),
        link_text: @edition.has_legacy_tags? ? "Change specialist topic tags" : "Add specialist topic tags"
      }
    } do %>
      <% if @edition.has_legacy_tags? %>
        <% if @edition.has_primary_sector? %>
          <%= render "govuk_publishing_components/components/heading", {
            text: "Primary specialist topics",
            font_size: "m",
            heading_level: 3,
            margin_bottom: 3,
          } %>
          <%= render "govuk_publishing_components/components/list", {
            visible_counters: true,
            items: [specialist_sector_name(@edition.primary_specialist_sector_tag)]
          } %>
        <% end %>
        <% if @edition.has_secondary_sectors? %>
          <%= render "govuk_publishing_components/components/heading", {
            text: "Secondary specialist topics",
            font_size: "m",
            heading_level: 3,
            margin_bottom: 3,
          } %>
          <%= render "govuk_publishing_components/components/list", {
            visible_counters: true,
            items: specialist_sector_names(@edition.secondary_specialist_sector_tags)
          } %>
        <% end %>
      <% else %>
        <p class="govuk-body">No specialist topic tags for this document</p>
      <% end %>
    <% end %>
  </section>

  <% if @edition.allows_attachments? %>
    <section class="app-view-edition-summary__section">
      <%= render "govuk_publishing_components/components/summary_list", {
        title: "Attachments",
        heading_level: 2,
        heading_size: "l",
        edit: {
          href: admin_edition_attachments_path(@edition.id),
          link_text: "#{@edition.attachments.any? ? "Modify" : "Add"} attachments"
        }
      } do %>
        <% if @edition.attachments.any? %>
          <%= render "govuk_publishing_components/components/table", {
            sortable: true,
            head: [
              {
                text: "Title"
              },
              {
                text: "Filename"
              },
              {
                text: "Actions"
              }
            ],
            rows: @edition.attachments.map do | attachment |
              [
                { text: attachment[:title] },
                { text: link_to_attachment(attachment, preview: !@edition.published?, full_url: true) },
                { text: (link_to("Edit", edit_admin_edition_attachment_path(@edition.id, attachment[:id]), class: "govuk-link") unless @edition.published?) } ,
              ]
            end
          } %>
        <% else %>
          <p class="govuk-body">No attachments for this document</p>
        <% end %>
      <% end %>
    </section>
  <% end %>

  <% if @edition.translatable? %>
    <section class="app-view-edition-summary__section">
      <%= render "govuk_publishing_components/components/summary_list", {
        title: "Translations",
        heading_level: 2,
        heading_size: "l",
        edit: ({
          href: new_admin_edition_translation_path(@edition.id),
          link_text: "Add translation"
        } if @edition.editable? and @edition.missing_translations.any?)
      } do %>
        <% if @edition.non_english_translations.any? %>
          <%= render "govuk_publishing_components/components/table", {
            sortable: true,
            head: [
              {
                text: "Locale"
              },
              {
                text: "Title"
              },
              {
                text: "Actions"
              }
            ],
            rows: @edition.non_english_translations.map do | translation |
              [
                { text: Locale.new(translation.locale).native_and_english_language_name },
                { text: translation.title },
                {
                  text: raw([
                    *(link_to("Edit", edit_admin_edition_translation_path(@edition, translation.locale), class: "govuk-link") if @edition.editable?),
                    *(form_with(url: admin_edition_translation_path(@edition, translation.locale), method: :delete) do |f|
                      link_to("Delete", "#", { class: "govuk-link gem-link--destructive", role: "button", data: { module: "form-submit-link" } })
                    end if @edition.can_delete?),
                  ].compact().join(' '))
                }
              ]
            end
          } %>
        <% else %>
          <p class="govuk-body">No additional translations to this document</p>
        <% end %>
      <% end %>
    </section>
  <% end %>

  <section class="app-view-edition-summary__section">
    <%= render "govuk_publishing_components/components/summary_list", {
      title: "Associated user needs",
      heading_level: 2,
      heading_size: "l",
      edit: ({
        href: admin_edit_needs_path(content_id: @edition.document.content_id),
        link_text: "#{@edition.document.associated_needs.any? ? "Modify" : "Add"} associated user needs"
      } if @edition.id == @edition.document.latest_edition.id)
    } do %>
      <% if @edition.document.associated_needs.any? %>
        <%= render "govuk_publishing_components/components/table", {
          sortable: true,
          head: [
            {
              text: "User need"
            },
            {
              text: "Actions"
            }
          ],
          rows: @edition.document.associated_needs.map do | need |
            [
              { text: need["title"] },
              {
                text: link_to("View need in Maslow", need["base_url"], class: "govuk-link")
              }
            ]
          end
        } %>
      <% else %>
        <p class="govuk-body">No associated user needs for this document</p>
      <% end %>
    <% end %>
  </section>
</div>
