<div class="app-view-edition-summary__main">
  <section class="app-view-edition-summary__section page-header">
    <div class="app-view-edition-summary__document-summary">
      <p class="govuk-body-lead"><%= @edition.summary %></p>
    </div>

    <div>
      <%=
        status_text = [@edition.state.capitalize]
        # TODO: remove unpublishing information once we have a separate state for unpublished editions
        status_text << "(unpublished #{time_ago_in_words(@edition.unpublishing.created_at)} ago)" if @edition.unpublishing.present?

        render "govuk_publishing_components/components/summary_list", {
          borderless: true,
          items: [
            { field: "Status", value: status_text.join(' ') },
            { field: "Change type", value: @edition.minor_change? ? 'Minor' : 'Major' },
            { field: "Organisations", value: joined_list(@edition.organisations.map { |o| o.name }) },
            { field: "Type of document", value: edition_type(@edition) },
          ]
        }
      %>
    </div>

    <% if @edition.non_english_edition? %>
      <%= render "components/inset_prompt", {
        description: "This document is #{@edition.primary_language_name}-only"
      } %>
    <% end %>
  </section>

  <%= render partial: 'admin/editions/show/main_notices', locals: { edition: @edition } %>

  <section class="app-view-edition-summary__section">
    <% if not @edition.publicly_visible? %>
      <%= render "govuk_publishing_components/components/heading", {
        text: "Preview",
        heading_level: 2,
        font_size: "l",
        margin_bottom: 3,
      } %>
      <p class="govuk-body">
        <%= link_to("Preview on website #{"- English" if @edition.translatable? && @edition.available_in_multiple_languages?} (opens in new tab)".strip,
        preview_document_url(@edition),
        class: "govuk-link",
        target: "_blank",
        data: {
          module: "gem-track-click",
          "track-category": "button-clicked",
          "track-action": "#{@edition.model_name.singular.dasherize}-button",
          "track-label": "Preview on website",
        }) if @edition.available_in_english? %>
      </p>
      <% if @edition.translatable? && @edition.available_in_multiple_languages? %>
        <%= render "govuk_publishing_components/components/details", {
          title: "Preview translated pages"
        } do %>
          <%= render "govuk_publishing_components/components/list", {
            items: @edition.non_english_translated_locales.map do |locale|
              (link_to("Preview on website - #{locale.native_and_english_language_name}",
                      public_document_url(@edition, locale:),
                      class: 'govuk-link',
                      target: '_blank',
                      data: {
                        module: "gem-track-click",
                        "track-category": "button-clicked",
                        "track-action": "#{@edition.model_name.singular.dasherize}-button",
                        "track-label": "Preview on website - #{locale.native_and_english_language_name}",
                      }) + "")
            end
          } %>
        <% end %>
      <% end %>
      <% if @edition.has_enabled_shareable_preview? %>
        <%= render "govuk_publishing_components/components/details", {
          title: "Share document preview"
        } do %>
          <p class="govuk-body">Send this preview link to someone so they can see the content and how the document will appear on GOV.UK.</p>
          <p class="govuk-body">No password is needed and anyone with the preview link can view it. You're responsible for who you share draft documents with. </p>
          <p class="govuk-body">The preview link will expire on <%= Date.today.next_month.strftime('%-d %B %Y') %> or when the document is published.</p>

          <%= render "govuk_publishing_components/components/copy_to_clipboard", {
            label: "Copy and send this link to someone and they’ll be able to preview your draft on GOV.UK.",
            copyable_content: preview_document_url_with_auth_bypass_token(@edition),
            button_text: "Copy link"
          } %>
          <% if !@edition.publicly_visible? %>
            <p class="govuk-body govuk-!-margin-top-7">Reset and generate a new preview link if you've shared the preview with the wrong person or if the link has expired. This will disable the previous preview link.</p>
            <%= form_with(url: update_bypass_id_admin_edition_path(@edition), method: :patch) do |f| %>
              <input type="hidden" name="_method" value="patch" />
              <%= render "govuk_publishing_components/components/button", {
                text: "Generate new link",
                secondary_quiet: true
              } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </section>

  <% if @edition.change_note_required? && @edition.change_note %>
    <section class="app-view-edition-summary__section">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Public change note",
        heading_level: 2,
        font_size: "l",
        margin_bottom: 3,
      } %>
      <p class="govuk-body">
        <%= @edition.change_note %>
      </p>
    </section>
  <% end %>

  <section class="app-view-edition-summary__section app-view-edition-summary__taxonomy-topics">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Topic taxonomy tags",
      heading_level: 2,
      font_size: "l",
      margin_bottom: 3,
    } %>

    <p class="govuk-body">
      <%= link_to(@edition_taxons.any? ? "Change tags" : "Add tags",
                  edit_admin_edition_tags_path(@edition.id), class: 'govuk-link') %>
    </p>

    <% @edition_taxons.map(&:full_path).each do | tag_path | %>
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list app-view-edition-summary__topic-tag-list">
          <% tag_path.each do | path | %>
            <li class="govuk-breadcrumbs__list-item app-view-edition-summary__topic-tag-list-item"><%= path[:title] %></li>
          <% end %>
        </ol>
      </div>
    <% end %>
    <% unless @edition_taxons.any? %>
      <%= render "govuk_publishing_components/components/warning_text", {
        text: "Please add a tag before publishing"
      } %>
    <% end %>
  </section>

  <section class="app-view-edition-summary__section">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Specialist topic tags",
      heading_level: 2,
      font_size: "l",
      margin_bottom: 3,
    } %>

    <p class="govuk-body">
      <%= link_to(@edition.has_legacy_tags? ? "Change specialist topic tags" : "Add specialist topic tags",
                  edit_admin_edition_legacy_associations_path(@edition.id), class: 'govuk-link') %>
    </p>

    <% if @edition.has_legacy_tags? %>
      <% if @edition.has_primary_sector? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: "Primary specialist topics",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 3,
        } %>
        <div class="app-view-edition-summary__primary-specialist-sector">
          <%= render "govuk_publishing_components/components/list", {
            visible_counters: true,
            items: [specialist_sector_name(@edition.primary_specialist_sector_tag)]
          } %>
        </div>
      <% end %>
      <% if @edition.has_secondary_sectors? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: "Secondary specialist topics",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 3,
        } %>
        <div class="app-view-edition-summary__secondary-specialist-sectors">
          <%= render "govuk_publishing_components/components/list", {
            visible_counters: true,
            items: specialist_sector_names(@edition.secondary_specialist_sector_tags)
          } %>
        </div>
      <% end %>
    <% else %>
      <p class="govuk-body">No specialist topic tags for this document</p>
    <% end %>
  </section>

  <% if @edition.can_be_tagged_to_worldwide_taxonomy? %>
    <section class="app-view-edition-summary__section app-view-edition-summary__world-taxonomy">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Worldwide",
        heading_level: 2,
        font_size: "l",
        margin_bottom: 3,
      } %>

      <p class="govuk-body">
        <%= link_to(@edition_world_taxons.map(&:full_path).any? ? "Change tags" : "Add tags", edit_admin_edition_world_tags_path(@edition.id), class: 'govuk-link') %>
      </p>

      <% if @edition_world_taxons.map(&:full_path).any? %>
        <% @edition_world_taxons.map(&:full_path).each do | tag_path | %>
          <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list app-view-edition-summary__topic-tag-list">
              <% tag_path.each do | path | %>
                <li class="govuk-breadcrumbs__list-item app-view-edition-summary__topic-tag-list-item"><%= path[:title] %></li>
              <% end %>
            </ol>
          </div>
        <% end %>
      <% else %>
        <p class="govuk-body">No worldwide related tags</p>
      <% end %>
    </section>
  <% end %>

  <% if @edition.allows_attachments? %>
    <section class="app-view-edition-summary__section app-view-edition-summary__section--attachments">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Attachments",
        heading_level: 2,
        font_size: "l",
        margin_bottom: 3,
      } %>

      <% if @edition.editable? %>
        <p class="govuk-body">
          <%= link_to("#{@edition.attachments.any? ? "Modify" : "Add"} attachments",
                      admin_edition_attachments_path(@edition.id),
                      class: 'govuk-link',
                      data: {
                        module: "gem-track-click",
                        "track-category": "button-clicked",
                        "track-action": "#{@edition.model_name.singular.dasherize}-button",
                        "track-label": "Modify attachments",
                      }) %>
        </p>
      <% end %>

      <% if @edition.attachments.any? %>
        <%= render "govuk_publishing_components/components/table", {
          head: [
            {
              text: "Title"
            },
            {
              text: "Filename"
            },
            @edition.published? ? {
              text: "Actions"
            } : nil
          ].compact,
          rows: @edition.attachments.map do | attachment |
            [
              { text: attachment[:title] },
              { text: link_to_attachment(attachment, preview: !@edition.published?, full_url: true, class: "govuk-link") },
              @edition.published? ? { text: link_to("Edit", edit_admin_edition_attachment_path(@edition.id, attachment[:id]), class: "govuk-link") } : nil,
            ].compact
          end
        } %>
      <% else %>
        <p class="govuk-body">No attachments for this document</p>
      <% end %>
    </section>
  <% end %>
  <% if @edition.translatable? %>
    <section class="app-view-edition-summary__section">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Translations",
        heading_level: 2,
        font_size: "l",
        margin_bottom: 3,
      } %>
      <% if @edition.editable? && @edition.missing_translations.any? %>
        <p class="govuk-body">
          <%= link_to("Add translation",
                      new_admin_edition_translation_path(@edition.id), class: 'govuk-link') %>
        </p>
      <% end %>
      <% if @edition.non_english_translations.any? %>
        <%= render "govuk_publishing_components/components/table", {
          head: [
            {
              text: "Locale"
            },
            {
              text: "Title"
            },
            (@edition.editable? || @edition.can_delete?) ? {
              text: "Actions"
            } : nil
          ].compact,
          rows: @edition.non_english_translations.map do | translation |
            [
              { text: Locale.new(translation.locale).native_and_english_language_name },
              { text: translation.title },
              (@edition.editable? || @edition.can_delete?) ? {
                text: raw([
                  *(link_to("Edit", edit_admin_edition_translation_path(@edition, translation.locale), class: "govuk-link app-view-edition-summary__table-link") if @edition.editable?),
                  *(link_to("Delete", confirm_destroy_admin_edition_translation_path(@edition, translation.locale), class: "govuk-link gem-link--destructive") if @edition.can_delete?),
                ].compact().join(' '))
              } : nil
            ].compact
          end
        } %>
      <% else %>
        <p class="govuk-body">No translations for this document</p>
      <% end %>
    </section>
  <% end %>

  <section class="app-view-edition-summary__section app-view-edition-summary__section-user-needs">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Associated user needs",
      heading_level: 2,
      font_size: "l",
      margin_bottom: 3,
    } %>
    <% if @edition.id == @edition.document.latest_edition.id %>
      <p class="govuk-body">
        <%= link_to("#{@edition.document.associated_needs.any? ? "Modify" : "Add"} associated user needs",
                    admin_edit_needs_path(content_id: @edition.document.content_id), class: 'govuk-link') %>
      </p>
    <% end %>
    <% if @edition.document.associated_needs.any? %>
      <%= render "govuk_publishing_components/components/table", {
        head: [
          {
            text: "User need"
          },
          {
            text: "Actions"
          }
        ],
        rows: @edition.document.associated_needs.map do | need |
          [
            { text: "As a #{need["details"]["role"]},\n I need to #{need["details"]["goal"]},\n So that #{need["details"]["benefit"]}" },
            {
              text: link_to("View need in Maslow", Whitehall.maslow.need_page_url(need["content_id"]), class: "govuk-link")
            }
          ]
        end
      } %>
    <% else %>
      <p class="govuk-body">No associated user needs for this document</p>
    <% end %>
  </section>
</div>
