<li class="document-row">
  <h3><%= link_to statistics_announcement.title, statistics_announcement_path(statistics_announcement) %></h3>
  <ul class="attributes">
    <li><%= statistics_announcement.release_date_text %></li>
    <li><%= statistics_announcement.document_type %></li>
    <%- statistics_announcement.organisations.each do |org| -%>
      <li><%= link_to org.name, organisation_path(org) %></li>
    <%- end -%>
    <%- statistics_announcement.topics.each do |topic| -%>
      <li><%= link_to topic.name, topic_path(topic) %></li>
    <%- end -%>
  </ul>
</li>
