<% page_title @announcement.title, "Statistics release announcement" %>
<% page_class "statistics-announcements-show" %>

<article>
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render partial: 'shared/heading',
                 locals: { type: "Statistics release announcement",
                           heading: @announcement.title,
                           extra: true } %>
      <div class="heading-extra">
        <div class="inner-heading">
          <%= national_statistics_logo(@announcement) %>
        </div>
      </div>

      <aside class="meta metadata-list">
        <div class="inner-heading">
          <dl>
            <% if @announcement.cancelled? %>
              <dt>Proposed release:</dt>
              <dd><%= @announcement.display_date %></dd>
              <dt>Cancellation date:</dt>
              <dd><%= absolute_time(@announcement.cancelled_at) %></dd>
            <% else %>
              <dt>Release date:</dt>
              <dd><%= @announcement.display_date %> (<%= @announcement.state %>)</dd>
            <% end %>

            <% if @announcement.organisations.any?  %>
              <dt><%= t('document.headings.organisations', count: @announcement.organisations.length) %>:</dt>
              <dd>
                <%= array_of_links_to_organisations(@announcement.organisations).to_sentence.html_safe %>
              </dd>
            <% end %>
            <% if @announcement.topics.any?  %>
              <dt><%= t('document.headings.topics', count: @announcement.topics.length) %>:</dt>
              <dd>
                <%= topic_links_sentence(@announcement.topics) %>
              </dd>
            <% end %>
          </dl>
        </div>
      </aside>
    </div>
  </header>

  <div>
    <div class="inner-block">
      <% if @announcement.cancelled? %>
        <div class="status-block">
          <h2>Statistics release cancelled</h2>
          <p><%= @announcement.cancellation_reason %></p>
        </div>
      <% end %>

      <div class="summary">
        <p><%= @announcement.summary %></p>
      </div>

      <% if @announcement.last_change_note.present? %>
        <div class="release-date-change-information">
          <h3>The release date has been changed</h3>
          <aside class="meta metadata-list">
            <div class="inner-heading">
              <dl>
                <dt>Previous date:</dt>
                <dd><%= @announcement.previous_display_date %></dd>
                <dt>Reason for change:</dt>
                <dd><%= @announcement.last_change_note %></dd>
              </dl>
            </div>
          </aside>
        </div>
      <% end %>
    </div>
  </div>
</article>
