<% page_title @announcement.title, "Statistics release announcement" %>
<% page_class "statistics-announcements-show" %>

<div class="beta-notice">
  <p><strong>BETA:</strong> This is a new service.</p>
</div>

<article>
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render partial: 'shared/heading',
                 locals: { type: "Statistics release announcement",
                           heading: @announcement.title,
                           extra: true } %>


      <aside class="meta">
        <div class="inner-heading">
          <dl>
            <dt>Release date:</dt>
            <dd><%= @announcement.display_date_with_confirmed_status %></dd>

            <% if @announcement.organisations.any?  %>
              <dt><%= t('document.headings.organisations', count: @announcement.organisations.length) %>:</dt>
              <dd>
                <%= organisations_link_sentence(@announcement.organisations) %>
              </dd>
            <% end %>
            <% if @announcement.topics.any?  %>
              <dt><%= t('document.headings.topics', count: @announcement.topics.length) %>:</dt>
              <dd>
                <%= topic_links_sentence(@announcement.topics) %>
              </dd>
            <% end %>
          </dl>
        </div>
      </aside>
    </div>
  </header>

  <div>
    <div class="inner-block">
      <div class="summary">
        <p><%= @announcement.summary %></p>
      </div>

      <% if @announcement.release_date_change_note.present? %>
        <div class="release-date-change-information">
          <h3>This statistics's release date has been changed.</h3>
          <aside class="meta">
            <div class="inner-heading">
              <dl>
                <dt>Previous date:</dt>
                <dd><%= @announcement.previous_display_date %></dd>
                <dt>Reason for change:</dt>
                <dd><%= @announcement.release_date_change_note %></dd>
              </dl>
            </div>
          </aside>
        </div>
      <% end %>
    </div>
  </div>
</article>
