<% page_title "Search" %>

<div class="g3f">
  <section class="page_header search">
    <h1 class="page_title title">Found <%= pluralize(@results.length, "result") %> for "<%= @search_term %>"</h1>
  </section>
</div>

<div class="g3f search_results">
  <% if @results.any? %>
    <ul>
      <% @results.each do |result| %>
        <li class="search">
          <h2><%= link_to result["title"], result["link"] %></h2>
          <% if result["highlight"] %>
            <p class="highlight"><%= search_highlight(result["highlight"]) %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="notfound">We can't find any results for "<%= @search_term %>".</p>
  <% end %>
</div>