<% content_for :context, @content_block_edition.title %>
<% content_for :title, "Review #{@subschema.name.singularize.downcase}" %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_block_manager.edit_embedded_object_content_block_manager_content_block_edition_path(
      @content_block_edition,
      object_type: @subschema.block_type,
      object_title: @object_title,
    ),
  } %>
<% end %>

<% if flash[:error] %>
  <%= render "govuk_publishing_components/components/error_summary", {
    title: "There is a problem",
    items: [{ text: flash[:error], href: "#is_confirmed-0" }],
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render ContentBlockManager::Shared::EmbeddedObjects::SummaryCardComponent.new(
      content_block_edition: @content_block_edition,
      object_type: @subschema.block_type,
      object_title: @object_title,
    ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with(
          url: content_block_manager.publish_embedded_object_content_block_manager_content_block_edition_path(
            @content_block_edition,
            object_type: @subschema.block_type,
            object_title: @object_title,
          ),
          id: "review",
          method: :post,
          ) do %>
      <%= render "govuk_publishing_components/components/checkboxes", {
        name: "is_confirmed",
        id: "is_confirmed",
        heading: "Confirm",
        visually_hide_heading: true,
        no_hint_text: true,
        error: flash[:error],
        items: [
          {
            label: "I confirm that the details I’ve put into the content block have been checked and are factually correct.",
            value: true,
          },
        ],
      } %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render ContentBlockManager::Shared::ContinueOrCancelButtonGroup.new(
      form_id: "review",
      button_text: "Create",
      content_block_edition: @content_block_edition,
      ) %>
  </div>
</div>
