<% content_for :page_class, 'document-series-groups index' %>
<% page_title "#{@collection.title}", "Document series" %>

<h1><%= @collection.title %></h1>
<p><%= link_to "View on public site", document_collection_path(@collection) %></p>

<%= edition_editing_tabs(@collection) do %>
  <%= render partial: 'changes_go_live' %>

  <%= form_tag admin_document_series_new_member_path(@collection), class: 'document-finder' do %>
    <h2>Add a document</h2>
    <div>
      <label for="title">Add</label>
      <div class="document-finder">
        <%= search_field_tag :title, '', placeholder: 'Title or slug&hellip;'.html_safe, results: 5, autosave: 'unique', autofocus: true %>
        <input value="Find" type="button" id="find-documents" class="btn btn-mini">
        <%= image_tag 'loading-666666.gif', class: 'js-loader' %>
        <p class="tip">
          Only the first 10 results are returned - be as specific as you can
        </p>
      </div>
      to the
      <%= select_tag :group_id, options_from_collection_for_select(@groups, :id, :heading, session[:document_series_selected_group_id]) %>
      group
      <%= submit_tag 'Add', class: 'btn btn-info' %>
      <%= hidden_field_tag :document_id %>
    </div>
  <% end %>

  <div>
    <% @groups.each do |group| %>
      <section class="group">
        <hgroup>
          <h2>Group: <%= group.heading %></h2>
          <ul class="actions">
            <li>
              <%= link_to 'Edit group heading and body', edit_admin_document_collection_group_path(@collection, group) %>
            </li>
            <li>
              <%= link_to 'Delete group', delete_admin_document_collection_group_path(@collection, group) %>
            </li>
          </ul>
        </hgroup>
        <% if group.latest_editions.empty? %>
          <p class="alert alert-info">
            This group doesn't have any documents in it yet &ndash; add some
            by searching for documents (above), or moving them here from another group.
          </p>
        <% else %>
          <%= form_tag admin_document_series_group_members_path(@collection, group), method: 'delete' do %>
            <ul class="controls">
              <li>
                <%= check_box_tag :select_all, group.id, false, id: nil, class: 'checkbox' %>
              </li>
              <li class="remove">
                <%= submit_tag 'Remove', class: 'btn btn-mini btn-info' %>
              </li>
              <% if other_groups(group).size > 0 %>
                <li class="move">
                  Move selected to
                  <%= select_tag :new_group_id, options_from_collection_for_select(other_groups(group), :id, :heading) %>
                  <%= submit_tag 'Move', class: 'btn btn-mini btn-info' %>
                </li>
              <% end %>
            </ul>
            <ol class="document-list">
              <%= render partial: 'series_document', collection: group.latest_editions, as: :edition, locals: { document_series: @collection } %>
            </ol>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </div>

  <p class="add-group">
    <i class="icon-plus"></i> <%= link_to 'Add a new group', new_admin_document_collection_group_path(@collection) %>
  </p>
<% end %>
