<%= form.fields_for(:attachment_data, include_id: false) do |attachment_data_fields| %>
  <% if attachment_data_fields.object.filename %>
    <%= attachment_data_fields.hidden_field(:to_replace_id, value: attachment_data_fields.object.to_replace_id || attachment_data_fields.object.id) %>
    <p>Current file: <%= link_to attachment_data_fields.object.filename, attachment_data_fields.object.url %></p>
  <% end %>

  <%= attachment_data_fields.label :file, (attachment_data_fields.object.filename ? 'Replace file' : nil), required: false %>
  <%= attachment_data_fields.file_field :file %>

  <%= form.check_box :accessible, label_text: "Attachment is accessible" %>
  <% if attachment_data_fields.object.file_cache.present? %>
    <span class="already_uploaded"><%= File.basename(attachment_data_fields.object.file_cache) %> already uploaded</span>
  <% end %>
  <%= attachment_data_fields.hidden_field :file_cache %>
<% end %>
