<%= form.fields_for(:attachment_data, include_id: false) do |attachment_data_fields| %>
  <% if attachment_data_fields.object.filename %>
    <%= attachment_data_fields.hidden_field(:to_replace_id, value: attachment_data_fields.object.to_replace_id || attachment_data_fields.object.id) %>
    <p class="govuk-body">Current file: <%= link_to attachment_data_fields.object.filename, attachment_data_fields.object.url, class: "govuk-link" %></p>
  <% end %>

  <%= render "govuk_publishing_components/components/file_upload", {
    label: {
      text: attachment_data_fields.object.filename ? 'Replace file' : 'File',
      heading_level: 2,
      heading_size: "l",
    },
    name: "attachment[attachment_data_attributes][file]",
    id: "attachment_attachment_data_file",
    hint: raw("You must upload attachments in an <a class='govuk-link' href='https://www.gov.uk/guidance/content-design/planning-content#open-formats'>open standards format</a>."),
    error_items: errors_for(attachment_data_fields.object.errors, :file),
  } %>

  <%= form.hidden_field :accessible, value: "0" %>

  <%= render "govuk_publishing_components/components/checkboxes", {
    name: "attachment[accessible]",
    items: [
      {
        label: "Attachment is accessible",
        value: "1",
        checked: attachment.accessible
      }
    ]
  } %>

  <% if attachment_data_fields.object.file_cache.present? %>
    <p class="govuk-body already_uploaded"><%= File.basename(attachment_data_fields.object.file_cache) %> already uploaded</p>
  <% end %>

  <%= attachment_data_fields.hidden_field :file_cache %>
<% end %>
