<% initialise_script "GOVUK.AttachmentForm" %>

<%= form_for attachment, url: [:admin, typecast_for_attachable_routing(attachable), attachment.becomes(Attachment)], as: :attachment do |form| %>
  <%= form.errors %>

  <%= form.text_field :title %>

  <% if attachable.allows_attachment_references? %>
    <%= render 'reference_fields', attachable: attachable, form: form %>
  <% end %>

  <% if attachment.is_a?(HtmlAttachment) %>
    <%= form.check_box :manually_numbered_headings %>
    <div class="js-manual-numbering-help<%= ' js-hidden' unless attachment.manually_numbered_headings? %>">
     <pre>
## 1. First heading
### 1.1 First sub-heading
### 1.2 Second sub-heading
### Unnumbered sub-heading

Manually number your headings as appropriate using the above numbering scheme.</pre>
    </div>
    <%= form.text_area :body, class: "previewable" %>
  <% else %>
  <%= render 'attachment_data_fields', form: form %>
  <% end %>

  <%= hidden_field_tag :html, params[:html] %>

  <%= form.save_or_cancel cancel: attachable_attachments_path(attachable) %>
<% end %>
