<%
  name ||= "attachment"
  heading_level ||= 2
  heading_size ||= "l"
  subheading_size ||= nil
  margin_bottom ||= 8
%>

<%= form_for attachment, url: [:admin, typecast_for_attachable_routing(attachable), attachment.becomes(Attachment)], as: :attachment, html: { :class => "app-view-attachments__form", data: { module: "LocaleSwitcher ga4-visual-editor-event-handlers", "rtl-locales": Locale.right_to_left.collect(&:to_param) }}, multipart: true do |form| %>

  <div class="govuk-!-margin-bottom-<%= margin_bottom %> app-view-attachments__form-title js-locale-switcher-field">
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Title (required)",
      },
      name: "#{name}[title]",
      id: "#{name}_title",
      heading_level:,
      heading_size:,
      value: form.object.title,
      error_items: errors_for(attachment.errors, :title),
      right_to_left: (true if form.object.rtl_locale?),
      right_to_left_help: false,
    } %>
  </div>

  <% if attachable.allows_attachment_references? %>
    <%= render "admin/attachments/reference_fields", attachable: attachable, form: form, attachment: attachment, heading_size: heading_size, subheading_size:, name:, margin_bottom: %>
  <% end %>

  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", { text: "Save" } %>

    <%= link_to("Cancel", attachable_attachments_path(attachable), class: "govuk-link govuk-link--no-visited-state") %>
  </div>
<% end %>
