<% initialise_script "GOVUK.AdminAttachmentsForm", selector: '.js-attachment-form', right_to_left_locales: Locale.right_to_left.collect(&:to_param) %>

<%= form_for attachment, url: [:admin, typecast_for_attachable_routing(attachable), attachment.becomes(Attachment)], as: :attachment, html: { :class => "js-attachment-form" }, multipart: true do |form| %>
  <% content_for :error_summary, render('shared/error_summary', object: attachment, parent_class: "attachment", class_name: @attachment.class.name.demodulize.underscore.humanize.downcase) %>

  <div class="govuk-!-margin-bottom-8">
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Title (required)"
      },
      name: "attachment[title]",
      id: "attachment_title",
      heading_level: 2,
      heading_size: "l",
      value: form.object.title,
      error_items: errors_for(attachment.errors, :title)
    } %>
  </div>

  <% if attachable.allows_attachment_references? %>
    <%= render 'reference_fields', attachable: attachable, form: form, attachment: attachment, heading_size: heading_size, subheading_size: subheading_size %>
  <% end %>

  <% if attachment.is_a?(HtmlAttachment) %>
    <%= form.fields_for :govspeak_content do |govspeak_fields| %>
      <%= hidden_field_tag 'attachment[govspeak_content_attributes][manually_numbered_headings]', "0" %>

      <div class="govuk-!-margin-bottom-8">
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "attachment[govspeak_content_attributes][manually_numbered_headings]",
          heading: "Manually numbered headings",
          heading_level: 2,
          heading_size: "l",
          hint_text: "",
          items: [
            {
              label: "Use manually numbered headings",
              value: "1",
              checked: form.object.govspeak_content.manually_numbered_headings,
              conditional: sanitize("<p>Manually number your headings using the numbering scheme below.</p><code>## 1. First heading<br />### 1.1 First sub-heading<br />### 1.2 Second sub-heading<br />### Unnumbered sub-heading</code>")
            }
          ]
        } %>
      </div>

      <%= render "components/govspeak-editor", {
        label: {
          heading_size: "l",
          text: "Body (required)"
        },
        name: "attachment[govspeak_content_attributes][body]",
        rows: 20,
        id: "attachment_govspeak_content_body",
        value: form.object.govspeak_content.body,
        error_items: errors_for(attachment.errors, :"govspeak_content.body"),
      } %>
    <% end %>
  <% elsif attachment.is_a?(ExternalAttachment) %>
    <div class="govuk-!-margin-bottom-8">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "External url (required)"
        },
        name: "attachment[external_url]",
        id: "attachment_external_url",
        heading_level: 2,
        heading_size: "l",
        value: form.object.external_url,
        error_items: errors_for(attachment.errors, :external_url)
      } %>
    </div>
  <% else %>
    <div class="govuk-!-margin-bottom-8">
      <%= render 'attachment_data_fields', form: form %>
    </div>
  <% end %>

  <%= hidden_field_tag :type, params[:type] %>

  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", {
      text: "Save",
      data_attributes: {
        module: "track-button-click",
        "track-category": "form-button",
        "track-action": "#{attachment.readable_type}-attachment-button"
      }
    } %>

    <%= link_to("Cancel", attachable_attachments_path(attachable), class: "govuk-link") %>
  </div>
<% end %>
