<%= form_for attachment, url: [:admin, typecast_for_attachable_routing(attachable), attachment], as: :attachment, html: { :class => "app-view-attachments__form", data: { module: "LocaleSwitcher", "rtl-locales": Locale.right_to_left.collect(&:to_param) }}, multipart: true do |form| %>

  <%= render "form_fields", form:, attachment:, attachable:, heading_size:, subheading_size: %>

  <%= hidden_field_tag(:type, params[:type]) %>

  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", { text: "Save" } %>

    <%= link_to("Cancel", attachable_attachments_path(attachable), class: "govuk-link govuk-link--no-visited-state") %>
  </div>
<% end %>
