<% if attachable.respond_to?(:translated_locales) && attachable.translated_locales.many? %>
  <%= form.label :locale, 'Display language' %>
  <p class="help-block">This determines the translations of the publication that the attachment will appear in.</p>
  <%= form.select :locale, options_for_locales(attachable.translated_locales), include_blank: 'All languages' %>
<% end %>

<div class="govuk-!-margin-bottom-8">
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "ISBN"
    },
    name: "attachment[isbn]",
    heading_level: 2,
    heading_size: "l",
    value: form.object.isbn.blank? ? "" : form.object.isbn
  } %>
</div>

<div class="govuk-!-margin-bottom-8">
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Unique reference"
    },
    name: "attachment[unique_reference]",
    heading_level: 2,
    heading_size: "l",
    value: form.object.unique_reference.blank? ? "" : form.object.unique_reference
  } %>
</div>

<%
  if form.object.unnumbered_command_paper.eql?(false)
    numbered_command_paper = true
    unnumbered_command_paper = false
  elsif form.object.unnumbered_command_paper.eql?(true)
    numbered_command_paper = false
    unnumbered_command_paper = true
  else
    numbered_command_paper = false
    unnumbered_command_paper = false
  end
%>

<div class="govuk-!-margin-bottom-8">
  <%= render "govuk_publishing_components/components/radio", {
    heading: "Command paper number",
    heading_level: 2,
    heading_size: "l",
    name: "attachment[unnumbered_command_paper]",
    id_prefix: "command_paper_number_conditional",
    items: [
      {
        value: "0",
        text: "Numbered",
        checked: numbered_command_paper,
        conditional: render("govuk_publishing_components/components/input", {
          label: {
            text: "The number must start with one of " + Attachment::VALID_COMMAND_PAPER_NUMBER_PREFIXES.join(', ') + ", followed by a space. If a suffix is provided, it must be a Roman numeral. Example: CP 521-IV"
          },
          name: "attachment[command_paper_number]"
        })
      },
      {
        value: "1",
        text: "Unnumbered",
        checked: unnumbered_command_paper,
      }
    ]
  } %>
</div>

<% if attachable.can_have_attached_house_of_commons_papers? %>
  <%= render 'admin/attachments/hoc_reference_fields', form: form %>
<% end %>
