<% page_title "Editing #{attachment.attachable_model_name} #{attachment.readable_type} attachment" %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/back_link", href: attachable_attachments_path(attachable) %>

    <span class="govuk-caption-xl">Attachments for <%= attachment.attachable_model_name %></span>

    <h1 class="govuk-heading-xl">Edit <%= attachment.readable_type %> attachment</h1>

    <%= render partial: 'form', locals: { attachable: attachable, attachment: attachment } %>
  </section>

  <% if attachment.html? %>
    <div class="col-md-4">
      <%= simple_formatting_sidebar hide_inline_attachments_help: true, show_footnote_help: true, show_stat_headline_help: true %>
    </div>
  <% end %>
</div>
