<% page_title "Attachments for: #{@attachable.title}" %>
<% page_class "attachments index" %>

<div class="span8">
  <section>
    <h1>Edit <%= @attachable.type.underscore.humanize.downcase %></h1>

    <%= attachable_editing_tabs(@attachable) do %>
      <ul class="actions">
        <li>
          <%= link_to 'Upload new attachment', new_admin_edition_attachment_path(@attachable) %>
        </li>
        <li>
          <%= link_to 'Upload from ZIP file&hellip;'.html_safe, new_admin_edition_bulk_upload_path(@attachable) %>
        </li>
      </ul>

      <%= render('attachments', attachable: @attachable) if @attachable.attachments.any? %>
    <% end %>
  </section>
</div>
