<% page_title "Attachments for: #{@edition.title}" %>
<% page_class "attachments index" %>

<div class="span10">
  <section>
		<h1>Edit <%= @edition.type.titleize %></h1>

		<%= edition_editing_tabs(@edition) do %>
      <ul class="actions">
        <li>
          <%= link_to 'Upload new attachment', new_admin_edition_attachment_path(@edition) %>
        </li>
        <li>
          <%= link_to 'Upload from ZIP file&hellip;'.html_safe, new_admin_edition_bulk_upload_path(@edition) %>
        </li>
      </ul>

			<ul class="existing-attachments">
				<% @edition.attachments.each do |attachment| %>
					<li class="clearfix well">
					  <%= attachment_thumbnail(attachment) %>
					  <span class="title"><%= attachment.title %></span>
					  <span class="file">File: <%= link_to attachment.filename, attachment.url %></span>
					  <%= attachment_metadata_tag(attachment) %>

				    <ul class="actions">
				      <li>
				        <%= link_to 'Edit', edit_admin_edition_attachment_path(@edition, attachment) %>
				      </li>
				      <li>
				        <%= link_to 'Delete', admin_edition_attachment_path(@edition, attachment), method: 'delete', confirm: 'Are you sure you want to delete this attachment?' %>
				      </li>
				    </ul>
					</li>
				<% end %>
			</ul>
		<% end %>
	</section>
</div>
