<% page_title "Add #{attachment.readable_type} attachment to: #{attachment.attachable_model_name}" %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/back_link", href: attachable_attachments_path(attachable) %>

    <span class="govuk-caption-xl">Attachments for <%= attachment.attachable_model_name %></span>

    <h1 class="govuk-heading-xl">Add <%= attachment.readable_type %> attachment</h1>

    <%= render 'form', attachable: attachable %>
  </section>

  <% if attachment.html? %>
    <div>
      <%= simple_formatting_sidebar hide_inline_attachments_help: true, show_footnote_help: true, show_stat_headline_help: true %>
    </div>
  <% end %>
</div>
