
<% content_for :title_margin_bottom, 6 %>

<% if @error_summary_errors %>
  <%= render "govuk_publishing_components/components/error_summary", {
    title: "There is a problem",
    items: @error_summary_errors,
  } %>
<% end %>

<div class="govuk-grid-row content-block-manager-header">
    <div class="govuk-grid-column-one-half">
      <h1 class="gem-c-title__text govuk-heading-xl">
        Content Block Manager
      </h1>
    </div>
    <div class="govuk-grid-column-one-half content-block-manager-header--column-right">
      <div>
        <span class="govuk-!-margin-right-2">
          <%= render "govuk_publishing_components/components/button", {
            text: "Create content block",
            href: content_block_manager.new_content_block_manager_content_block_document_path,
          } %>
        </span>
          <%= render "govuk_publishing_components/components/button", {
            text: "Raise a support request",
            href: support_url,
            secondary_solid: true,
          } %>
      </div>
    </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render(
          ContentBlockManager::ContentBlock::Document::Index::FilterOptionsComponent.new(
            filters: @filters,
            errors: @errors,
            ),
          ) %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= pluralize(@content_block_documents.total_count, "result") %></h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p class="govuk-body"><strong>Sorted by last updated first</strong></p>
    <% @content_block_documents.each do |content_block_document| %>
      <%= render ContentBlockManager::ContentBlock::Document::Index::SummaryCardComponent.new(content_block_document:) %>
    <% end %>

    <%= paginate(@content_block_documents, theme: "govuk_paginator") %>
  </div>
</div>
