<% content_for :context, "View #{@content_block_document.block_type.humanize.downcase}" %>
<% content_for :title, @content_block_document.title %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_block_manager.content_block_manager_content_block_documents_path,
  } %>
<% end %>
<% content_for :title_side do %>
  <div class="support-request-wrapper">
    <%= render "govuk_publishing_components/components/button", {
      text: "Raise a support request",
      href: support_url,
      secondary_solid: true,
    } %>
  </div>
<% end %>

<%=
  render(
    ContentBlockManager::ContentBlock::Document::Show::HostEditionsRollupComponent.new(
      rollup: @host_content_items.rollup,
    ),
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Details</h2>
    <%= render(
          ContentBlockManager::ContentBlock::Document::Show::SummaryListComponent.new(
            content_block_document: @content_block_document,
          ),
        ) %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-8">
  <div class="govuk-grid-column-full">
    <%= render(
      ContentBlockManager::ContentBlock::Document::Show::HostEditionsTableComponent.new(
        caption: "List of locations",
        host_content_items: @host_content_items,
        current_page: @page,
        order: @order,
        content_block_edition: @content_block_document.latest_edition,
      ),
    ) %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-8">
  <div class="govuk-grid-column-full">
    <%= render(
          ContentBlockManager::ContentBlock::Document::Show::DocumentTimelineComponent.new(
            content_block_versions: @content_block_versions,
          ),
        ) %>
  </div>
</div>
