<% content_for :page_full_width, true %>
<% content_for :page_title, @content_block_document.title %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_block_manager.content_block_manager_content_block_documents_path,
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-xl"><%= @content_block_document.title %></h1>
  </div>
  <div class="govuk-grid-column-one-half content-block-manager-header--column-right">
      <%= render "govuk_publishing_components/components/button", {
        text: "Edit #{@content_block_document.block_type.humanize.downcase}",
        href: content_block_manager.new_content_block_manager_content_block_document_edition_path(@content_block_document),
      } %>
  </div>
</div>

<% if @content_block_document.has_newer_draft? %>
  <%
    content_for :banner, render("govuk_publishing_components/components/notice", {
      title: "There’s a saved draft of this content block",
      description_govspeak: sanitize("<p>#{link_to "Continue editing", content_block_manager.content_block_manager_content_block_workflow_path(@content_block_document.latest_draft, step: :edit_draft)}</p>"),
      show_banner_title: false,
    })
  %>
<% end %>

<%=
  render(
    ContentBlockManager::ContentBlock::Document::Show::HostEditionsRollupComponent.new(
      rollup: @host_content_items.rollup,
    ),
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
          ContentBlockManager::ContentBlock::Document::Show::SummaryCardComponent.new(
            content_block_document: @content_block_document,
          ),
        ) %>
  </div>
</div>

<% grouped_subschemas(@schema).each do |group, subschemas| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l subschema-listing__heading"><%= h group.titleize %></h2>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <%= render("govuk_publishing_components/components/button", {
        text: "Add #{add_indefinite_article group.humanize.singularize.downcase}",
        href: content_block_manager.new_content_block_manager_content_block_document_embedded_object_path(
          @content_block_document,
          group:,
          ),
        margin_bottom: 6,
      }) %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render ContentBlockManager::ContentBlock::Document::Show::EmbeddedObjects::TabGroupComponent.new(
        content_block_document: @content_block_document,
        subschemas: subschemas,
        ) %>
    </div>
  </div>
<% end %>

<% ungrouped_subschemas(@schema).each do |subschema| %>
  <div class="subschema-listing" data-testid="<%= subschema.id %>_listing">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l subschema-listing__heading"><%= h subschema.name %></h2>

        <%= render ContentBlockManager::ContentBlock::Document::Show::EmbeddedObjects::SubschemaItemsComponent.new(
          content_block_edition: @content_block_document.latest_edition,
          subschema: subschema,
          ) %>
      </div>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row govuk-!-padding-top-8">
  <div class="govuk-grid-column-full">
    <%= render(
      ContentBlockManager::ContentBlock::Document::Show::HostEditionsTableComponent.new(
        caption: "List of locations",
        host_content_items: @host_content_items,
        current_page: @page,
        order: @order,
        content_block_edition: @content_block_document.latest_edition,
      ),
    ) %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-8">
  <div class="govuk-grid-column-full">
    <%= render(
          ContentBlockManager::ContentBlock::Document::Show::DocumentTimelineComponent.new(
            content_block_versions: @content_block_versions,
            schema: @schema,
          ),
        ) %>
  </div>
</div>
