<% page_title @organisation.name + " financial reports" %>
<div class="row-fluid organisation-header">
  <div class="span8">
    <h1><%= @organisation.name %></h1>
    <%= link_to "View on website", @organisation%>
  </div>
</div>

<%= tab_navigation_for(@organisation) do %>
  <h2>Updating the <%= @financial_report.year %> Financial Report from <%= @organisation.name %></h2>
  <%= form_for @financial_report, url: {action: "update"} do |f| %>
    <%= f.errors %>
    <%= f.text_field :year %>
    <%= f.text_field :funding %>
    <%= f.text_field :spending %>
    <%= f.save_or_cancel cancel: admin_organisation_financial_reports_path(@organisation) %>
  <% end %>
<% end %>
