<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_organisations_path
  } %>
<% end %>
<% content_for :page_title, "#{@organisation.name} financial reports" %>
<% content_for :title, @organisation.name %>
<% content_for :context, organisation_context_block(current_user, @organisation) %>
<% content_for :title_margin_bottom, 4 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= view_on_website_link_for @organisation, class: "govuk-link" %></p>
  </div>
</div>

<%= render "components/secondary_navigation", {
  aria_label: "Organisation navigation tabs",
  items: secondary_navigation_tabs_items(@organisation, request.path)
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Financial Reports",
      font_size: "l",
      margin_bottom: 6
    } %>

    <%= render "govuk_publishing_components/components/button", {
      text: "Create new report",
      href: new_admin_organisation_financial_report_path(@organisation),
      margin_bottom: 6,
      data_attributes: {
        module: "gem-track-click",
        "track-category": "form-button",
        "track-action": "financial-report-button",
        "track-label": "Create new report"
      }
    } %>

    <% if @organisation.financial_reports.present? %>
      <div class="govuk-table--with-actions app-view-financial-reports__listing">
        <%= render "govuk_publishing_components/components/table", {
          head: [
            {
              text: "Year"
            },
            {
              text: "Funding"
            },
            {
              text: "Spending"
            },
            {
              text: tag.span("Actions", class: "govuk-visually-hidden")
            }
          ],
          rows: @organisation.financial_reports.map do |report|
            [
              {
                text: tag.span(report.year, class: "govuk-!-font-weight-bold")
              },
              {
                text: number_to_currency(report.funding, precision: 0, unit: '&pound;'.html_safe)
              },
              {
                text: number_to_currency(report.spending, precision: 0, unit: '&pound;'.html_safe)
              },
              {
                text:
                  link_to(sanitize("Edit #{tag.span(" report for #{report.year}", class: "govuk-visually-hidden")}"), edit_admin_organisation_financial_report_path(@organisation, report), class: "govuk-link") +
                  link_to(sanitize("Delete #{tag.span(" report for #{report.year}", class: "govuk-visually-hidden")}"), confirm_destroy_admin_organisation_financial_report_path(@organisation, report), class: "govuk-link gem-link--destructive govuk-!-margin-left-3")
              }
            ]
          end
        } %>
      </div>
    <% else %>
      <%= render "govuk_publishing_components/components/inset_text", {
        text: "There are no financial reports associated with this organisation",
        margin_top: 0
      } %>
    <% end %>
  </div>
</div>
