<% content_for :page_title, "#{@edition.title}: Change notes" %>
<% content_for :context, @edition.title %>
<% content_for :title, "Delete change note" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Change published at: <%= I18n.l(@edition_to_change.major_change_published_at, format: :long_ordinal) %></p>
    <p class="govuk-body">Current change note: <%= @edition_to_change.change_note %></p>

    <%= form_tag [:admin, :edition_change_note], id: @edition_to_change, method: :delete do %>
      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Delete",
          destructive: true,
        } %>

        <%= link_to("Cancel", admin_edition_change_notes_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
