<div class="tab-pane" id="documents">
  <% if @organisation.featured_edition_organisations.any? %>
    <h2>Featured documents</h2>
    <%= form_for [:admin, @organisation], as: :organisation do |form| %>
      <fieldset class="sortable">
        <%= form.fields_for :edition_organisations, @organisation.featured_edition_organisations do |fe_form| %>
          <div class="well">
            <%= fe_form.text_field :ordering, label_text: link_to(fe_form.object.edition.title, admin_edition_path(fe_form.object.edition)), class: "ordering" %>
          </div>
        <% end %>
      </fieldset>
      <%= form.submit "Save", class: "btn" %>
    <% end %>
  <% end %>

  <h2>Published documents (<%= link_to "View all", admin_editions_path(organisation: @organisation.slug, state: :active)%>)</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Published</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @editions.each do |edition| %>
        <%= content_tag_for :tr, edition do %>
          <td class="type"><%= edition.type.titleize %></td>
          <td><%= link_to edition.title, admin_edition_path(edition) %></td>
          <td><%=l edition.published_at.to_date %></td>
          <% association = edition.association_with_organisation(@organisation) %>
          <td><%= "Featured" if association.featured? %></td>
          <td>
            <% if association.featured? %>
              <%= form_for([:admin, association], html: {class: "button_to"}) do |f| %>
                <%= f.hidden_field :featured, value: false %>
                <%= f.submit "Unfeature", class: "btn btn-danger" %>
              <% end %>
            <% else %>
              <%= link_to "Feature", edit_admin_edition_organisation_path(association), class: "btn" %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
