<%
  documents_page ||= false
%>
<ul class="nav nav-tabs">
  <li<% unless documents_page %> class="active"<% end %>><a href="<%= admin_organisation_path(organisation) %>#details"<% unless documents_page %> data-toggle="tab"<% end %>>Details</a></li>
  <li><a href="<%= admin_organisation_path(organisation) %>#contacts"<% unless documents_page %> data-toggle="tab"<% end %>>Contacts</a></li>
  <li><a href="<%= admin_organisation_path(organisation) %>#social_media_accounts"<% unless documents_page %> data-toggle="tab"<% end %>>Social Media Accounts</a></li>
  <li><a href="<%= admin_organisation_path(organisation) %>#about-us"<% unless documents_page %> data-toggle="tab"<% end %>>About Us</a></li>
  <li><a href="<%= admin_organisation_path(organisation) %>#groups"<% unless documents_page %> data-toggle="tab"<% end %>>Governance groups</a></li>
  <li><a href="<%= admin_organisation_path(organisation) %>#people"<% unless documents_page %> data-toggle="tab"<% end %>>People</a></li>
  <li<% if documents_page %> class="active"<% end %>><%= link_to 'Featured documents', documents_admin_organisation_path(organisation) %></li>
  <li><a href="<%= admin_organisation_path(organisation) %>#document_series"<% unless documents_page %> data-toggle="tab"<% end %>>Document Series</a></li>
  <li><a href="<%= admin_organisation_path(organisation) %>#corporate_information_pages"<% unless documents_page %> data-toggle="tab"<% end %>>Corporate Information Pages</a></li>
</ul>
