<% page_title edition_page_title(@document), t_display_type(@document, 10) %>

<%= content_tag_for :article, @document, nil, class: "document-page #{@document.type.downcase}" do %>
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render  partial: 'header',
                  locals: {
                    header_title: t_display_type(@document),
                    document: @document,
                    policies: @related_policies,
                    topics: @document.topics
                  } %>
    </div>
  </header>

  <div class="block-2 ">
    <div class="inner-block">
      <%= render partial: "document_summary", locals: { document: @document } %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <%= render partial: "document_sidebar", locals: { document: @document } %>
    </div>
  </div>
  <div class="block-4">
    <div class="inner-block">
      <div class="document body">
        <%= govspeak_edition_to_html @document %>
      </div>
    </div>
  </div>
  <div class="block-5">
    <div class="inner-block">
      <%= render partial: 'documents/document_footer_meta', locals: { document: @document, policies: @related_policies } %>
    </div>
  </div>
<% end %>
