<% page_title @document.title, "News" %>

<div class="g3f">
  <section class="page_header news">
    <h1 class="page_title title has_meta"><%= @document.title %></h1>
    <div class="meta">
      <%= announcement_metadata(@document) %>
      <% @related_policies.map { |d| d.policy_areas }.flatten.uniq.each do |policy_area| %>
        <%= link_to policy_area.name, policy_area_path(policy_area), class: "policy_area tag", id: dom_id(policy_area) %>
      <% end %>
      <% @document.organisations.each do |organisation| %>
        <%= link_to organisation_display_name(organisation), organisation_path(organisation), class: "organisation tag" %>
      <% end %>
      <% @document.ministerial_roles.each do |ministerial_role| %>
        <%= link_to ministerial_role.current_person_name, ministerial_role, class: "minister tag" %>
      <% end %>
      <% @document.countries.each do |country| %>
        <%= link_to country.name, country_path(country), class: "country tag", id: dom_id(country) %>
      <% end %>
    </div>
  </section>
</div>

<div id="news_page" class="g3f document_page">
  <div class="g2 document_view">
    <article class="document">
      <div class="body">
        <% if @document.image.present? %>
          <figure class="image">
            <div class="img"><%= image_tag(@document.image_url, alt: @document.image_alt_text) %></div>
            <% if @document.image_caption.present? %>
              <figcaption><%= @document.image_caption %></figcaption>
            <% end %>
          </figure>
        <% end %>
        <%= govspeak_to_html @document.body %>
      </div>
      <% if @document.notes_to_editors.present? %>
        <section id="notes_to_editors">
          <h1>Notes to editors</h1>
          <div class="notes_to_editors">
            <%= govspeak_to_html @document.notes_to_editors %>
          </div>
        </section>
      <% end %>
    </article>
  </div>

  <% if @related_policies.any? %>
    <div class="g1f related_documents">
      <section id="related-policies">
        <h1>Related policies</h1>
        <ul>
          <% @related_policies.each do |related_policy| %>
            <%= content_tag_for :li, related_policy do %>
              <%= link_to related_policy.title, public_document_path(related_policy) %>
            <% end %>
          <% end %>
        </ul>
      </section>
    </div>
  <% end %>
</div>