<% page_title @document.title, "News" %>

<div class="document-page <%= @document.type.downcase %>">
  <article>
    <div class="block-1">
      <div class="inner-block">
        <section class="page-header">
          <h1 class="page_title">
            <span class="inner">
              <span class="label">News</span> <%= @document.title %>
            </span>
          </h1>
          <aside class="meta">
            <dl>
              <dt class="organisations visuallyhidden">Organisations:</dt>
              <dd class="organisations">
                <%= render  partial: 'organisations/organisations_logo_list',
                            locals: { organisations: @document.organisations } %>
              </dd>
              <% if @document.state != 'published' %>
                <dt class="change-notes-title">Published:</dt>
                <dd>Preview</dd>
              <% else %>
                <%-
                  history = @document.change_history
                  most_recent_change = history.first.published_at
                -%>
                <% if history.length == 1 %>
                  <dt class="change-notes-title">Published:</dt>
                  <dd><%= absolute_date(most_recent_change, class: 'published-at') %></dd>
                <% else %>
                  <dt class="change-notes-title">Updated:</dt>
                  <dd class="js-toggle-change-notes change-notes">
                    <%= absolute_date(most_recent_change, class: 'published-at toggle') %>
                    <div class="overlay js-hidden" id="change-notes">
                      <dl>
                        <% history.each do |change| %>
                          <dt class="note"><%= change.note %></dt>
                          <dd class="time"><%= absolute_time(change.published_at, class: 'published-at') %></dd>
                        <% end %>
                      </dl>
                    </div>
                  </dd>
                <% end %>
              <% end %>
              <% if @related_policies.any? %>
                <dt>Part of:</dt>
                <dd><%= list_of_links_to_policies(@related_policies) %></dd>
              <% end %>
              <% if @document.respond_to?(:ministerial_roles) && @document.ministerial_roles.any? %>
                <dt>Ministers:</dt>
                <dd><%= list_of_links_to_ministers(@document.ministerial_roles) %></dd>
              <% end %>
            </dl>
            <%= national_statistics_logo(@document) %>
          </aside>
        </section>
      </div>
    </div>
    <div class="block-2">
      <div class="inner-block">
        <div class="summary">
          <p><%= @document.summary %></p>
        </div>
      </div>
    </div>

    <div class="block-3">
      <div class="inner-block">
        <aside class="pullout-image">
          <%= image_tag 'placeholder.jpg', alt: 'placeholder' %>
          <p>Image caption.</p>
        </aside>
      </div>
    </div>

    <div class="block-4">
      <div class="inner-block">
        <div class="document">
          <div class="body">
            <%= govspeak_to_html @document.body, @document.images %>
          </div>
          <% if @document.notes_to_editors.present? %>
            <section id="notes_to_editors">
              <h1>Notes to editors</h1>
              <div class="notes_to_editors">
                <%= govspeak_to_html @document.notes_to_editors %>
              </div>
            </section>
          <% end %>
        </div>
      </div>
    </div>
  </article>
</div>
