<section class="document_view">
  <%= render partial: "standard_elements", locals: { document: document } %>

  <p>Publication date: <span class="publication_date"><%= document.publication_date.to_s(:long_ordinal) %></span></p>
  <p>Unique reference: <span class="unique_reference"><%= document.unique_reference %></span></p>
  <p>ISBN: <span class="isbn"><%= document.isbn %></span></p>
  <% if document.research? %>
    <p class="research">This is a research paper.</p>
  <% end %>
  <p><%= link_to "Order a copy", document.order_url, class: "order_url button", title: "Order a copy of the publication" %></p>

  <%= render partial: "attachments", locals: { document: document } %>
</section>