<section class="contextual-info">
  <p>Publication date: <span class="publication_date"><%= edition.publication_date.to_s(:long_ordinal) %></span></p>
  <% if edition.publication_type.present? %>
    <p>Publication type: <span class="publication_type"><%= edition.publication_type.singular_name %></span></p>
  <% end %>
  <% if edition.unique_reference.present? %>
    <p>Unique reference: <span class="unique_reference"><%= edition.unique_reference %></span></p>
  <% end %>
  <% if edition.isbn.present? %>
    <p>ISBN: <span class="isbn"><%= edition.isbn %></span></p>
  <% end %>
  <% if edition.command_paper_number.present? %>
    <p>Command paper number: <span class="command_paper_number"><%= edition.command_paper_number %></span></p>
  <% end %>
  <% if edition.order_url.present? %>
    <p>
      <%= link_to "Order a copy", edition.order_url, class: "order_url button", title: "Order a copy of the publication" %>
      <% if edition.price %>
        <span class="price"><%= number_to_currency(edition.price, unit: "&pound;")%></span>
      <% end %>
    </p>
  <% end %>
</section>