<% page_title "Publications" %>
<% page_class "documents-index publications-index" %>
<% atom_discovery_link_tag filter_atom_feed_url, "Recent publications" %>
<%
  heading = [t('publications.heading')]
  heading << "<span>: #{@filter.selected_publication_filter_option.label.downcase}</span>" if @filter.selected_publication_filter_option
  heading = heading.join('').humanize.html_safe
%>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: heading } %>
  </div>
</header>

<div class="filtered-index">
  <%= render partial: "documents/filter_form",
             locals: {
               document_type: :publication,
               filters: if Locale.current.english?
                          [
                            :keyword, :date, :publication_type, :locations,
                            :department, :official_document_status, :taxon, :subtaxon
                          ]
                        else
                          [ :locations ]
                        end
             } %>

  <div class="filter-results-block">
    <div class="inner-block">
      <% if Locale.current.english? %>
        <%= render partial: "documents/filter_results",
                  locals: { filter: @filter,
                            result_type: "publication" } %>
      <% end %>
      <%= render 'shared/feeds', atom_url: filter_atom_feed_url %>
      <div class="filter-results js-filter-results" aria-live="polite">
        <%= render_mustache('documents/filter_table', @filter.as_hash) %>
      </div>
    </div>
  </div>
</div>

<script id="statistics-moved-notice" type="text/html">
  <div class="statistics-notice">
    <h2 class="">Statistics publications have moved.</h2>
    <p>Find a list of published and upcoming government statistics in the <a href="/government/statistics">statistics section</a>.</p>
  </div>
</script>
