<% page_title t('publications.heading') %>
<% page_class "documents-index publications-index" %>
<% atom_discovery_link_tag filter_atom_feed_url, t("publications.recent") %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        title: t('publications.heading')
      } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="filtered-index govuk-!-margin-bottom-4">
        <%= render partial: "documents/filter_form",
          locals: {
            document_type: :publication,
            filters: [ :locations ],
        } %>
      </div>

      <div class="filter-results-block govuk-!-margin-bottom-4">
        <div class="filter-results js-filter-results">
          <%= render partial: 'documents/filter_table', locals: { filter: @filter.as_hash } %>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render 'shared/feeds', atom_url: filter_atom_feed_url %>
    </div>
  </div>
</div>

<script id="statistics-moved-notice" type="text/html">
  <div class="statistics-notice">
    <h2 class="govuk-heading-l"><%= t("publications.statistics.moved_notice") %></h2>
    <p class="govuk-body"><%= t("publications.statistics.link_to_published_statistics", link: "/government/statistics" ) %></p>
  </div>
</script>
