<% page_title "Publications" %>
<% page_class "documents-index" %>
<% atom_discovery_link_tag filter_atom_feed_url, "Recent publications" %>
<%
  heading = [t('publications.heading')]
  heading << "<span>: #{@filter.selected_publication_filter_option.label}</span>" if @filter.selected_publication_filter_option
  heading = heading.join('').html_safe
%>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: heading } %>
  </div>
</header>

<%= render 'statistical_release_announcements/upcoming_calendar_tabs' if params[:publication_filter_option] == "statistics"  %>

<div class="block-2 filter-form">
  <div class="inner-block">
    <% if Locale.current.english? %>
      <%= render partial: "documents/filter_form",
                 locals: {
                   document_type: :publication,
                   filters: [
                     :keyword, :date, :publication_type, :locations,
                     :department, :topic, :official_document_status
                   ]
                 } %>
    <% else %>
      <%= render partial: "documents/filter_form",
                 locals: {
                   document_type: :publication,
                   filters: [ :locations ]
                 } %>
    <% end %>
  </div>
</div>

<div class="block-4 filter-results-block">
  <div class="inner-block">
    <% if Locale.current.english? %>
      <%= render partial: "documents/filter_results",
                locals: { filter: @filter,
                          result_type: "publication" } %>
    <% end %>
    <%= render 'shared/feeds', atom_url: filter_atom_feed_url %>
    <div class="filter-results js-filter-results" id="publications-container" aria-live="polite">
      <%= render_mustache('documents/filter_table', @filter.as_hash) %>
    </div>
  </div>
</div>
