<% page_title "Publications" %>
<% page_class "publications-index document-filter-page" %>
<% atom_discovery_link_tag filter_atom_feed_url, "Recent publications" %>
<%
  heading = [t('publications.heading')]
  heading << "<span>: #{@filter.selected_publication_filter_option.label}</span>" if @filter.selected_publication_filter_option
  heading = heading.join('').html_safe
%>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: heading } %>
  </div>
</header>

<div class="block-2">
  <div class="inner-block">
    <% if Locale.current.english? %>
      <%= render partial: "documents/filter_form",
                 locals: {
                   document_type: :publication,
                   filters: [
                     :keyword, :date, :publication_type,
                     :relevant_to_local_government, :locations,
                     :department, :topic
                   ]
                 } %>
    <% else %>
      <%= render partial: "documents/filter_form",
                 locals: {
                   document_type: :publication,
                   filters: [ :locations ]
                 } %>
    <% end %>
  </div>
</div>

<div class="block-4">
  <div class="inner-block">
    <% if Locale.current.english? %>
      <%= render partial: "documents/filter_results", locals: { filter: @filter } %>
    <% end %>
    <%= render partial: 'shared/feeds',
        locals: { atom_url: filter_atom_feed_url,
                  govdelivery_url: filter_email_signup_url(document_type: 'publication_type_all') }
    %>
    <div class="filter-results js-filter-results" id="publications-container" aria-live="polite">
      <%= render_mustache('documents/filter_table', @filter.as_hash) %>
    </div>
  </div>
</div>
