<% page_title @document.title, "Publications" %>

<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <section class="page-header icon">
        <%= render partial: "title", locals: { document: @document } %>
        <div class="meta-context meta">
          <%= part_of_policy_paragraph(@related_policies) %>
          <%= applies_to_countries_paragraph(@document) %>
          <%= only_applies_to_nations_paragraph(@document) %>
        </div>
      </section>

      <div class="meta-changes">
        <%= render partial: 'change_notes', locals: {document: @document} %>
      </div>

      <% if @document.attachments.present? %>
        <div class="govspeak">
          <%= render partial: "documents/attachment",
                    object: @document.attachments.first,
                    locals: { alternative_format_contact_email: @document.alternative_format_contact_email,
                              extra_description: @document.summary } %>

  <% if @document.attachments.present? && @document.attachments[1..-1].any? %>
      <div class="no-thumbnail">
        <h1>Supporting documents</h1>
          <div class="govspeak">
            <% @document.attachments[1..-1].each do |attachment| %>
              <%= render partial: "documents/attachment", object: attachment, locals: {hide_thumbnail: true, alternative_format_contact_email: @document.alternative_format_contact_email} %>
            <% end %>
          </div>
      </div>
  <% end %>

        </div>
      <% else %>
        <p class="extra-description summary"><%= @document.summary %></p>
      <% end %>
      <% if @document.part_of_series? %>
        <p class="document-series">
          <span>This publication is part of a series:</span> <%= link_to @document.document_series.name, organisation_document_series_path(@document.document_series.organisation, @document.document_series) %>
        </p>
      <% end %>
    </div>
  </div>

  <% if @document.respond_to?(:organisations) && @document.organisations.any? %>
    <div class="block-2">
      <div class="inner-block">
          <h1>Published by</h1>
      </div>
    </div>

    <div class="block-3">
      <div class="inner-block">
        <section id="document-organisations">
          <h1 class="visuallyhidden">Organisations</h1>
          <%= render  partial: 'organisations/organisations_logo_list',
                      locals: {
                        organisations: @document.organisations,
                        extra_class: 'single-line',
                        remove_line_breaks: true
                      } %>
        </section>
        <%= national_statistics_logo(@document) %>
      </div>
    </div>
  <% else %>
    <div class="block-3">
      <%= national_statistics_logo(@document) %>
    </diV>
  <% end %>


  <div class="block-4">
    <div class="inner-block">
      <%= render partial: "document_contextual", locals: {edition: @document} %>
    </div>
  </div>

  <div class="block-5">
    <div class="inner-block">
      <%= render partial: "document_content" %>
    </div>
  </div>

</div>



