<% page_title edition_page_title(@document), t('publications.heading') %>

<%= content_tag_for :article, @document, nil, class: "document-page #{@document.type.downcase}" do %>
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render partial: 'header',
                 locals: {
                   header_title: @document.display_type,
                   document: @document,
                   policies: @related_policies
                 } %>
    </div>
  </header>

  <div class="block-2 ">
    <div class="inner-block">
      <%= render partial: "document_summary", locals: { document: @document } %>
    </div>
  </div>

  <div class="block-2 heading-block">
    <div class="inner-block">
      <%= render partial: "documents/attachment_full_width",
                 locals: { document: @document, external: @document.external? } %>
    </div>
  </div>

  <div class="block-3 heading-block">
    <div class="inner-block">
      <section id="details">
        <div class="head-section">
          <h1><%= t('publications.headings.detail') %></h1>
        </div>
        <div class="content">
          <article>
            <div class="body">
              <%= govspeak_edition_to_html @document %>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>

  <div class="block-5">
    <div class="inner-block">
      <%= render partial: 'documents/document_footer_meta', locals: { document: @document, policies: @related_policies } %>
    </div>
  </div>
<% end %>
