<% page_title @document.title, "Publications" %>

<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <section class="page-header icon">
        <%= render partial: "title", locals: { document: @document } %>
        <div class="meta-context meta">
          <%= part_of_policy_paragraph(@related_policies) %>
          <%= part_of_collections_paragraph(@document.document_collections) %>
          <%= applies_to_countries_paragraph(@document) %>
          <%= only_applies_to_nations_paragraph(@document) %>
        </div>
      </section>

      <div class="meta-changes">
        <%= render partial: 'change_notes', locals: {document: @document} %>
      </div>

      <% if @document.attachments.present? %>
        <div class="govspeak">
          <%= render partial: "documents/attachment",
                    object: @document.attachments.first,
                    locals: { alternative_format_contact_email: @document.alternative_format_contact_email,
                              extra_description: @document.summary } %>
        </div>
      <% else %>
        <p class="extra-description summary"><%= @document.summary %></p>
      <% end %>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
        <h1>Publisher</h1>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
        <%= render partial: "department", locals: { document: @document } %>
      <%= national_statistics_logo(@document) %>
    </div>
  </div>

  <div class="block-4">
    <div class="inner-block">
      <%= render partial: "document_contextual", locals: {edition: @document} %>
    </div>
  </div>

  <div class="block-5">
    <div class="inner-block">
      <%= render partial: "document_content" %>
    </div>
  </div>

  <% if @document.attachments.present? && @document.attachments[1..-1].any? %>
    <div class="block-6">
      <div class="inner-block">
          <h1>Supporting documents</h1>
      </div>
    </div>

    <div class="block-7">
      <div class="inner-block">
        <div class="govspeak">
          <% @document.attachments[1..-1].each do |attachment| %>
            <%= render partial: "documents/attachment", object: attachment, locals: {alternative_format_contact_email: @document.alternative_format_contact_email} %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>



