<% page_title @document.title, "Publications" %>

<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <%= render partial: "documents/header_publication_consultation" %>
      <%= render partial: "documents/attachment_full_width",
                locals: { document: @document } %>
      <% if @document.part_of_series? %>
        <p class="document-series">
          <span>This publication is part of a series:</span> <%= link_to @document.document_series.name, organisation_document_series_path(@document.document_series.organisation, @document.document_series) %>
        </p>
      <% end %>
    </div>
  </div>

    <div class="block-2">
      <div class="inner-block">
        <% if @document.respond_to?(:organisations) && @document.organisations.any? %>
          <section id="document-organisations" class="heading-block">
            <h1>Published by</h1>
            <div class="content">
              <%= render  partial: 'organisations/organisations_logo_list',
                          locals: {
                            organisations: @document.organisations,
                            extra_class: 'single-line',
                            remove_line_breaks: true
                          } %>
              <%= national_statistics_logo(@document) %>
            </div>
          </section>
        <% else %>
            <%= national_statistics_logo(@document) %>
        <% end %>
        <section id="details" class="heading-block">
          <h1>Detail</h1>
          <div class="content">
            <article>
              <div class="body">
                <%= govspeak_edition_to_html @document %>
              </div>
            </article>
          </div>
        </section>
    </div>
  </div>
</div>
