<% page_title "Edit legacy associations: " + @edition.title %>
<div class="row">
  <h1><%= @edition.title %></h1>
</div>

<% if flash[:legacy_associations_changed] %>
  <div class="row">
    <div class="alert alert-success" role="alert">
      <strong>
        Suggestions
        <span class="label label-default">New</span>
      </strong>

      <p>
        Some suggestions have been made below.
      </p>

      <p>
        This happens automatically when tagging new content to the
        Topic Taxonomy, to reduce the amount of manual work required
        to tag content.
      </p>

      <p>
        You can still edit the selections below.
      </p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% initialise_script "GOVUK.adminEditionsForm", selector: '.js-edition-form', right_to_left_locales: Locale.right_to_left.collect(&:to_param) %>
    <%= form_for @edition, url: admin_edition_legacy_associations_path(@edition), as: :edition, method: :put,
        html: { class: edition_form_classes(@edition) } do |form| %>
      <fieldset>
        <legend>Associations</legend>

        <div class="important-associations">
          <% if @edition.can_be_related_to_policies? %>
            <%= render 'admin/shared/policy_fields', form: form %>
          <% end %>
          <% if @edition.can_be_associated_with_topics? %>
            <%= render 'policy_area_fields', form: form, edition: @edition %>
          <% end %>
        </div>
      </fieldset>
      <%= render 'specialist_sector_fields', form: form, edition: @edition %>
      <div class="publishing-controls well">
        <%= form.form_actions(buttons: { save: 'Save legacy associations' }, cancel: @cancel_path) %>
      </div>
    <% end %>
  </div>
</div>
