<% content_for :context, @edition.title %>
<% content_for :page_title, "Specialist topic tagging" %>
<% content_for :title, "Specialist topic tagging" %>
<% content_for :title_margin_bottom, 6 %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_edition_path(@edition)
  } %>
<% end %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= form_for @edition, url: admin_edition_legacy_associations_path(@edition), as: :edition, method: :put,
        html: { class: edition_form_classes(@edition) } do |form| %>

      <%= render 'specialist_sector_fields', form: form, edition: @edition %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Update specialist topics",
          margin_bottom: 8,
        } %>

        <%= link_to("Cancel", @path, class: "govuk-link") %>
      </div>
    <% end %>
  </section>
</div>
