<div class="format-advice">
  <p><strong>Use this format for:</strong> Frequently updated (“live”) statistical data files.</p>

  <p>Do <em>not</em> use for: less frequently updated (eg quarterly) data. Use a publication (subtype: statistics) instead.</p>
</div>


<% if current_user.can_remove_edit_tabs? %>
  <%= standard_edition_form(edition, @information) do |form| %>

    <%= render partial: 'inline_attachments_info', locals: { form: form, edition: edition } %>

    <fieldset>
      <legend>Associations</legend>
      <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>
    </fieldset>
  <% end %>
<% else %>
  <%= edition_editing_tabs(edition) do %>
    <%= standard_edition_form(edition, @information) do |form| %>

      <%= render partial: 'inline_attachments_info', locals: { form: form, edition: edition } %>

      <fieldset>
        <legend>Associations</legend>
        <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>
      </fieldset>
    <% end %>
  <% end %>
<% end %>
