<div class="format-advice">
  <p><strong>Use this format for:</strong> Press releases, news stories and responses to media coverage including official statements.</p>

  <p>Do <em>not</em> use for: promoting the publication of other content (eg statistics).</p>
</div>

<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>
    <%= render 'inline_attachments_info', form: form, edition: edition %>

    <fieldset>
      <legend>Associations</legend>
      <p>You'll be able to select policies, policy areas and specialist sectors later.</p>
      <%= render 'appointment_fields', form: form, edition: edition %>
      <%= render 'topical_event_fields', form: form, edition: edition %>
      <%= render 'worldwide_organisation_fields', form: form, edition: edition %>
      <%= render 'world_location_fields', form: form, edition: edition %>
      <%= render 'organisation_fields', form: form, edition: edition %>
    </fieldset>
  <% end %>
<% end %>
