<%
  documents ||= []
%>
<% if documents.nil? || documents.empty? %>
  <p>No <%= title %></p>
<% else %>
  <ol class="document-list list-unstyled">
    <% documents.each do |edition| %>
      <%= content_tag_for(:li, edition, class: 'document-row') do %>
        <h3 class="add-label-margin"><%= link_to edition.title, admin_edition_path(edition) %></h3>
        <ul class="attributes list-unstyled list-inline text-muted">
          <li class="updated-by">Updated <%= time_ago_in_words edition.updated_at %> ago by <%= linked_author(edition.last_author, class: 'link-muted') %></li>
          <li class="type"><%= edition.type.titleize %></li>
          <% if edition.force_published? %>
            <li><span class="force_published label label-danger">not reviewed</span></li>
          <% end %>
          <% if edition.access_limited? %>
            <li><span class="access_limited label label-danger">limited access</span></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ol>
<% end %>
