<% page_title 'Dashboard' %>
<% page_class 'dashboard-index' %>

<h1>Dashboard</h1>

<div class="row quick-links">
  <div class="col-md-4">
    <h3>Writing and publishing</h3>
    <ul>
      <li><a href="https://www.gov.uk/guidance/style-guide">GOV.UK style guide</a></li>
      <li><a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk">How to publish content on GOV.UK</a></li>
      <li><a href="https://www.gov.uk/guidance/content-design">Planning, writing and managing content</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Product development</h3>
    <ul>
      <li><a href="https://insidegovuk.blog.gov.uk/">Inside GOV.UK blog</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Support</h3>
    <ul>
      <li><a href="https://www.gov.uk/support/internal">GDS support form (Zendesk)</a></li>
      <li><%= link_to "Find in admin bookmarklet", admin_find_in_admin_bookmarklet_instructions_index_path %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4 draft-documents">
    <h2>My draft documents</h2>
    <%= render partial: 'document_table', locals: { documents: @draft_documents, title: 'draft documents' } %>
  </div>
  <div class="col-md-4">
    <h2>Documents to review</h2>
    <ol class="document-list list-unstyled">
      <% @reviewables.each do |reviewable| %>
        <li class="document-row">
          <h3 class="add-label-margin">
            <%= link_to reviewable.title, admin_edition_path(reviewable.edition, review_by: reviewable.review_by) %>
          </h3>
          <ul class="attributes list-unstyled list-inline text-muted">
            <li class="type">
              Expiring: <%= reviewable.review_by.to_date.to_s(:rfc822) %>
            </li>
          </ul>
        </li>
      <% end %>
    </ol>
  </div>
  <% if current_user.organisation %>
    <div class="col-md-4 force-published-documents">
      <h2>
        <%= organisation_acronym_or_name(current_user.organisation) %>’s
        force-published documents
      </h2>
      <%= render partial: 'document_table', locals: { documents: @force_published_documents, title: 'force published documents' } %>
      <p><%= link_to "See all", admin_editions_path(state: :force_published, organisation: current_user.organisation) %></p>
    </div>
  <% end %>
</div>
