<ol class="topics collection-list <%= collection_list_class(topics) %>">
  <% topics.each do |topic| %>
    <%= content_tag_for(:li, topic, class: 'topic collection-item') do %>
      <div class="container">
        <h2><%= link_to topic.name, topic_path(topic) %></h2>
        <div class="summary">
          <p><%= topic.description %> <%= link_to "Read more", topic_path(topic) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</ol>
