<ol class="topics group <%= (topics.length > 8 ? 'ultra-wide' : (topics.length > 4 ? 'wide' : '')) %>">
  <% topics.each do |topic| %>
    <%= content_tag_for(:li, topic, class: 'topic') do %>
    <div class="container">
      <h2><%= link_to topic.name, topic_path(topic) %></h2>
      <div class="summary">
        <%= govspeak_to_html topic.description %>
        <% if topic.published_specialist_guides.any? or topic.published_policies.any? %>
          <ul class="publication-count">
            <% if topic.published_policies.any? %>
              <li class="policies">
                <%= link_to "Contains #{pluralize(topic.published_policies.length, "policy")}", policies_filter_path(topic, organisation) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
</ol>
