<% page_title @classification.name, "Topics" %>
<% page_class "topics-show" %>
<% atom_discovery_link_tag topic_url(@classification, format: 'atom'), "Latest activity on #{@classification.name}" %>

<%= content_tag_for(:div, @classification, class: "classification #{@classification.class.name.underscore}") do %>

  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render partial: 'shared/heading',
                locals: { type: "Topic",
                          heading: @classification.name,
                          big: true, extra: true } %>

      <aside class="meta">
        <div class="inner-heading">
          <dl>
            <dt><%= t('document.headings.organisations', count: @classification.organisations.length) %>:</dt>
            <dd>
              <%= render  partial: 'organisations/organisations_name_list',
                          locals: { organisations: @classification.organisations,
                                    lead_organisations: @classification.lead_organisations } %>
            </dd>
            <% if @related_classifications.any? %>
              <dt>Related topics:</dt>
              <dd class="js-hide-other-links related-topics">
                <%= @related_classifications.map { |topic| link_to(topic.name, topic_path(topic)) }.to_sentence.html_safe %>
              </dd>
            <% end %>
          </dl>
        </div>
      </aside>
    </div>
  </header>

  <div class="block">
    <div class="inner-block">
      <section class="what">
         <%= govspeak_to_html @classification.description %>
       </section>
    </div>
  </div>

  <div class="block">
    <div class="inner-block">
      <section class="featured-news items-<%= @featured_editions.length %>">
        <% if @featured_editions.any? %>
          <%= render partial: 'shared/featured_news',
                     collection: @featured_editions,
                     as: :edition,
                     locals: { image_size: :s465 } %>
          <%= render partial: 'shared/recently_updated',
                     locals: { recently_updated: @recently_changed_documents,
                               atom_url: classification_url(@classification, format: "atom"),
                               extra_class: 'panel',
                               govdelivery_url: filter_email_signup_url(topic: @classification.slug) } %>
        <% end %>
      </section>
    </div>
  </div>

  <div class="block block-4">
    <div class="inner-block">
      <% if @policies.any? %>
        <section id="policies" class="policies heading-block">
          <h1 class="label">Policies
            <span class="count"><%= @policies.count %></span>
          </h1>

          <div class="content">
            <%= render partial: "policies/list_description", locals: { policies: @policies.limit(5) } %>
            <% if @policies.count > 5 %>
              <p class="see-all">
                <%= link_to "See all #{@policies.count} policies", policies_filter_path(@classification) %>
              </p>
            <% end %>
          </div>
        </section>
      <% end %>
    </div>
  </div>


  <% document_block_count = 0 %>
  <div class="documents-grid <%= "grid-size-#{[@announcements, @publications].compact.select(&:any?).length}" %>">
    <div class="inner-block">
      <% if @announcements.any? %>
        <section id="announcements" class="document-block documents-<%= document_block_count+=1 %>">
          <h1 class="label">Announcements</h1>
          <div class="content">
            <%= render partial: "announcements/list_description", locals: {announcements: @announcements} %>
            <p class="see-all">
              <%= link_to "See all announcements", announcements_filter_path(@classification) %>
            </p>
          </div>
        </section>
      <% end %>
      <% if @publications.any? %>
        <section id="publications" class="document-block documents-<%= document_block_count+=1 %>">
          <h1 class="label">Publications</h1>
          <div class="content">
            <%= render partial: "publications/list_description", locals: {publications: @publications} %>
            <p class="see-all">
              <%= link_to 'See all publications', publications_filter_path(@classification) %>
            </p>
          </div>
        </section>
      <% end %>
    </div>
  </div>

  <% if @detailed_guides.any? %>
    <div class="block-6">
      <div class="inner-block">
        <section class="detailed-guidance">
          <h1 class="label">Detailed guidance categories</h1>
          <div class="content">
            <ol class="collection-list one-column">
              <% @detailed_guides.each do |detailed_guide| %>
                <%= content_tag_for(:li, detailed_guide, class: 'topic collection-item') do %>
                  <div class="container">
                    <h2><%= link_to detailed_guide.title, public_document_path(detailed_guide) %></h2>
                    <div class="summary">
                      <p>
                        <%= detailed_guide.summary %>
                        <%= link_to "Read more", public_document_path(detailed_guide) %>
                      </p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </ol>
          </div>
        </section>
      </div>
    </div>
  <% end %>
<% end %>
