<div class="g2">
  <section class="topic">
    <%= content_tag_for :article, @topic do %>
      <h1 class="name"><%= @topic.name %></h1>
      <p class="description"><%= @topic.description %></p>
    <% end %>
  </section>
  <% if @featured_policies.any? %>
  <section>
    <h1>Priority policies</h1>
    <ul class="featured policies">
      <% @featured_policies.each do |policy| %>
        <li>
          <%= content_tag_for :article, policy, class: "featured_policy" do %>
            <h2><%= link_to policy.title, public_document_path(policy) %></h2>
            <p>Updated <%= time_ago_in_words policy.updated_at %> ago</p>
            <% if document = policy.most_recently_updated_related_document %>
              <p><%= link_to document.title, public_document_path(document) %></p>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
  <% end %>
  <%= render partial: "documents/policies", object: @policies, locals: {title: "All Policies"} %>
</div>

<div class="g1 secondary">
  <%= render partial: "documents/recently_changed_documents", object: @recently_changed_documents %>
  <%= render partial: "documents/news_articles", object: @news_articles %>
</div>
