<% page_title @classification.name, "Topics" %>
<% page_class "topics-show" %>
<% atom_discovery_link_tag atom_feed_url_for(@classification), "Latest activity on #{@classification.name}" %>

<%= content_tag_for(:div, @classification, class: "classification #{@classification.class.name.underscore}") do %>

  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render partial: 'shared/heading',
                locals: { type: "Topic",
                          heading: @classification.name,
                          big: true, extra: true } %>

      <aside class="heading-extra">
        <%= render 'shared/top_tasks', top_tasks: @classification.top_tasks.only_the_initial_set %>
      </aside>

      <aside class="meta">
        <div class="inner-heading">
          <dl>
            <dt><%= t('document.headings.organisations', count: @classification.organisations.length) %>:</dt>
            <dd>
              <%= render  partial: 'organisations/organisations_name_list',
                          locals: { organisations: @classification.organisations,
                                    lead_organisations: @classification.lead_organisations } %>
            </dd>
            <% if @related_classifications.any? %>
              <dt>Related topics:</dt>
              <dd class="js-hide-other-links related-topics">
                <%= @related_classifications.map { |topic| link_to(topic.name, topic_path(topic)) }.to_sentence.html_safe %>
              </dd>
            <% end %>
          </dl>
        </div>
      </aside>
    </div>
  </header>

  <div class="block">
    <div class="inner-block">
      <section class="what">
         <%= govspeak_to_html @classification.description %>
       </section>
    </div>
  </div>

  <% if @featured_editions.any? %>
    <div class="block">
      <div class="inner-block">
        <section class="featured-news items-<%= @featured_editions.length %>">
          <%= render partial: 'shared/featured_news',
                     collection: @featured_editions,
                     as: :edition,
                     locals: { image_size: :s465 } %>
          <%= render partial: 'shared/recently_updated',
                     locals: { recently_updated: @recently_changed_documents,
                               atom_url: atom_feed_url_for(@classification),
                               extra_class: 'panel' } %>
        </section>
      </div>
    </div>
  <% end %>

  <div class="block block-4 heading-block">
    <div class="inner-block">
      <% if @policies.any? %>
        <section id="policies" class="policies">
          <div class="head-section">
            <h1 class="label">Policies
              <span class="count"><%= @policies.count %></span>
            </h1>
          </div>
          <div class="content">
            <%= render partial: "policies/list_description", locals: { policies: @policies.limit(5) } %>
            <% if @policies.count > 5 %>
              <p class="see-all">
                <%= link_to "See all #{@policies.count} policies", policies_filter_path(@classification) %>
              </p>
            <% end %>
          </div>
        </section>
      <% end %>
    </div>
  </div>

  <div class="documents-grid <%= topic_grid_size_class(@announcements, @consultations, @publications, @statistics) %>">
    <div class="inner-block">
      <%= render(partial: 'document_list', locals: { documents: @announcements, type: :announcements }) if @announcements.any? %>
      <%= render(partial: 'document_list', locals: { documents: @consultations, type: :consultations }) if @consultations.any? %>
      <%= render(partial: 'document_list', locals: { documents: @publications, type: :publications }) if @publications.any? %>
      <%= render(partial: 'document_list', locals: { documents: @statistics, type: :publications, heading: 'Statistics' }) if @statistics.any? %>
    </div>
  </div>

  <% if @detailed_guides.any? %>
    <div class="block-6">
      <div class="inner-block">
        <section class="detailed-guidance">
          <h1 class="label">Detailed guides</h1>
          <div class="content">
            <ol class="collection-list one-column">
              <% @detailed_guides.each do |detailed_guide| %>
                <%= content_tag_for(:li, detailed_guide, class: 'topic collection-item') do %>
                  <div class="container">
                    <h2><%= link_to detailed_guide.title, public_document_path(detailed_guide) %></h2>
                    <div class="summary">
                      <p>
                        <%= detailed_guide.summary %>
                        <%= link_to "Read more", public_document_path(detailed_guide) %>
                      </p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </ol>
          </div>
        </section>
      </div>
    </div>
  <% end %>
<% end %>
