<%= content_tag_for :section, @topic do %>
  <h1 class="name"><%= @topic.name %></h1>
  <div class="description"><%= @topic.description %></div>
  <section class="resource_list">
    <h1>Published policies</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <% @topic.editions.published.each do |edition| %>
          <%= content_tag_for(:tr, edition) do %>
            <td class="title"><%= link_to edition.title, document_path(edition.document), title: "View #{edition.title}" %></td>
            <td class="author"><%= edition.author.name %></td>
          <% end %>
        <% end %>
        <% if @topic.editions.published.empty? %>
          <tr>
            <td colspan="2">Our authors have not published any policies in this topic at present.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>