<div class="g2">
  <section class="topic">
    <%= content_tag_for :article, @topic do %>
      <h1 class="name"><%= @topic.name %></h1>
      <p class="description"><%= @topic.description %></p>
    <% end %>
  </section>
</div>

<div class="g1 secondary">
  <% if @recently_changed_documents.any? %>
    <section id="recently-changed">
      <h1>Recently changed</h1>
      <ul>
        <% @recently_changed_documents.each do |document| %>
          <%= content_tag_for :li, document do %>
            <%= link_to document.title, public_document_path(document), class: "title" %>
            <span class="time">(<%= distance_of_time_in_words_to_now(document.published_at) %> ago)</span>
          <% end %>
        <% end %>
      </ul>
    </section>
  <% end %>
  <%= render partial: "documents/policies", object: @policies %>
  <%= render partial: "documents/news_articles", object: @news_articles %>
</div>
