<div class="g2">
  <section class="topic">
    <%= content_tag_for :article, @topic do %>
      <h1 class="name"><%= @topic.name %></h1>
      <p class="description"><%= @topic.description %></p>
    <% end %>
  </section>
</div>

<div class="g1 secondary">
  <%= render partial: "documents/recently_changed", object: @recently_changed_documents %>
  <%= render partial: "documents/policies", object: @policies %>
  <%= render partial: "documents/news_articles", object: @news_articles %>
</div>
