<section class="topic g2">
  <%= content_tag_for :article, @topic do %>
    <h1 class="name"><%= @topic.name %></h1>
    <p class="description"><%= @topic.description %></p>
  <% end %>
</section>

<%= render partial: "documents/policies", object: @policies %>

<%= render partial: "documents/publications", object: @publications %>
