<% page_title @topic.name, "Topics" %>
<% page_class "topics-show" %>
<% atom_discovery_link_tag topic_url(@topic, format: 'atom'), "Latest activity on #{@topic.name}" %>

<div class="block-1">
  <div class="inner-block">
    <section class="page-header">
      <h1><span class="label">Topic:</span> <span class="topic"><%= @topic.name %></span></h1>
      <div class="meta js-hide-extra-logos">
        <%= render partial: 'organisations/organisations_logo_list',
                   locals: { organisations: @topic.organisations,
                             remove_line_breaks: true,
                             extra_class: 'single-line' } %>
      </div>
      <%= link_to_feed topic_url(@topic, format: 'atom') %>
    </section>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <div class="document">
      <%= govspeak_to_html @topic.description %>
    </div>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section class="contextual js-stick-at-top-when-scrolling">
      <h2>Contents</h2>
      <ol role="navigation">
        <% if @policies.any? %>
          <li><%= link_to 'Policies in this topic', '#policies'%></li>
        <% end %>
        <% if @detailed_guides.any? %>
          <li><%= link_to 'Detailed guidance', '#detailed-guidance' %></li>
        <% end %>
        <% if @recently_changed_documents.any? %>
          <li><%= link_to 'Latest updates', '#recently-changed' %></li>
        <% end %>
        <% if @related_topics.any? %>
          <li><%= link_to 'Related topics', '#related-topics' %></li>
        <% end %>
      </ol>
    </section>
  </div>
</div>

<div class="block-4">
  <div class="inner-block">
    <% if @policies.any? %>
      <section id="policies" class="policies">
        <h1>Policies in this topic:</h1>
        <ul class="policies">
          <% @policies.each do |policy| %>
            <%= content_tag_for :li, policy, class: "featured_policy" do %>
              <h2><%= link_to policy.title, public_document_path(policy),
                              title: "View #{policy.title}" %></h2>
              <p class="summary"><%= policy.summary %></p>
            <% end %>
          <% end %>
        </ul>
      </section>
    <% end %>
    <% if @detailed_guides.any? %>
      <section id="detailed-guidance" class="detailed-guidance">
        <h1>Detailed guidance:</h1>
        <ul>
          <% @detailed_guides.each do |detailed_guide| %>
            <%= content_tag_for :li, detailed_guide, class: "document-row" do %>
              <%= link_to detailed_guide.title, public_document_path(detailed_guide),
                          title: "View #{detailed_guide.title}"%>
            <% end %>
          <% end %>
        </ul>
        <%= link_to 'View all', detailed_guides_filter_path(@topic), class: 'view-all' %>
      </section>
    <% end %>
    <%= render partial: "documents/recently_changed_documents",
              object: @recently_changed_documents[0...5],
              locals: { title: "Latest updates" } %>

    <%= render partial: "related_topics", object: @related_topics %>
  </div>
</div>

