<% page_title "Licences Index" %>

<% @licences.each do |licence| %>
  <p><%=licence.title %>
  <%= licence.sectors.each do |sector| %>
    <p><%= sector.title %></p>
  <% end %>
  <p><%= licence.activity %></p>
  <p><%= link_to("View", admin_licence_path(licence.id)) %> <%= link_to("Edit", edit_admin_licence_path(licence.id)) %></p>
<% end %>
