<% page_title "Edit Coronavirus travel for #{@world_location.name}" %>
<% rag_options = [["Red", "red"], ["Amber", "amber"], ["Green", "green"]] %>
<% required_test_options = [{label: "2 day", value: "two_day"}, {label: "8 day", value: "eight_day"}] %>

<div class="row">
  <section class="col-md-8">
    <h1>Edit Coronavirus Travel for <%= @world_location.name %></h1>
    <p class="warning">Warning: changes appear instantly on the live site.</p>
    <%= form_with url: admin_coronavirus_travel_path(@world_location), model: @coronavirus_travel, method: :put do |form| %>
      <div class="form-group">
        <%= form.label :rag_status, 'RAG Status' %>
        <%= form.select :rag_status, rag_options, { include_blank: true }, { class: "form-control input-md-2" } %>
      </div>
      <div class="form-group">
        <%= form.label :required_tests, 'Required tests' %>
        <% required_test_options.each do |test| %>
            <%= form.check_box test[:value].to_sym, label_text: test[:label] %>
        <% end %>
      </div>
      <p class="warning">Warning: changes appear instantly on the live site.</p>
      <%= form.save_or_cancel cancel: admin_coronavirus_travel_path(@world_location) %>
    <% end %>
  </section>
</div>
