<% page_title "Edit Coronavirus travel for #{@world_location.name}" %>
<% rag_options = [["Red", "red"], ["Amber", "amber"], ["Green", "green"]] %>

<div class="row">
  <section class="col-md-8">
    <h1>Edit Coronavirus Travel for <%= @world_location.name %></h1>
    <p class="warning">Warning: changes appear instantly on the live site.</p>
    <%= form_with url: admin_coronavirus_travel_path(@world_location), model: @coronavirus_travel, method: :put do |form| %>
      <div class="form-group">
        <%= form.label :rag_status, 'Current RAG Status' %>
        <%= form.select :rag_status, rag_options, { include_blank: true }, { class: "form-control input-md-2" } %>
      </div>

      <div class="form-group">
        <%= form.label :watchlist_rag_status, 'Watchlist RAG Status' %>
        <%= form.select :watchlist_rag_status, rag_options, { include_blank: true }, { class: "form-control input-md-2" } %>
      </div>

      <div class="form-group">
        <%= form.label :next_rag_status, 'Next RAG Status' %>
        <%= form.select :next_rag_status, rag_options, { include_blank: true }, { class: "form-control input-md-2" } %>
      </div>

      <%= form.label :next_rag_applies_at, "Time next RAG Status takes affect" %>
      <div class="form-inline add-label-margin">
        <%= form.datetime_select :next_rag_applies_at, {
            start_year: Date.today.year,
            end_year: Date.today.year + 5,
            minute_step: 15,
            include_blank: true,
          }, { class: 'date form-control' } %>
      </div>

      <%= form.check_box :status_out_of_date, label_text: "Information is out of date" %>

      <p class="warning">Warning: changes appear instantly on the live site.</p>
      <%= form.save_or_cancel cancel: admin_coronavirus_travel_path(@world_location) %>
    <% end %>
  </section>
</div>
