<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_topical_events_path
  } %>
<% end %>
<% content_for :context, "Topical events" %>
<% content_for :page_title, "Read more about #{@topical_event.name}" %>
<% content_for :title, @topical_event.name %>
<% content_for :title_margin_bottom, 4 %>

<p class="govuk-body"><%= view_on_website_link_for @topical_event, class: "govuk-link" %></p>

<div class="govuk-!-margin-bottom-8">
  <%= render "components/secondary_navigation", {
    aria_label: "Topical Events tabs",
    items: topical_event_nav_items(@topical_event, request.path)
  } %>
</div>
<% if @topical_event_about_page.present? %>
  <%= render "govuk_publishing_components/components/summary_list", {
    title: "About page",
    heading_level: 2,
    heading_size: "l",
    items: [
      {
        field: "Name",
        value: @topical_event_about_page.name,
      },
      {
        field: "Read more link text",
        value: @topical_event_about_page.read_more_link_text,
      },
      {
        field: "Summary",
        value: @topical_event_about_page.summary,
      },
      {
        field: "Body",
        value: govspeak_to_html(@topical_event_about_page.body),
      }
    ],
    edit: {
      href: [:edit, :admin, @topical_event, :topical_event_about_pages],
      link_text: "Edit",
    }
  } %>
<% else %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "About page",
    margin_bottom: 6
  } %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Create new about page",
    href: new_admin_topical_event_topical_event_about_pages_path

  } %>
  <%= render "govuk_publishing_components/components/inset_text", {
    text: "There is no about page associated with this topical event."
  } %>
<% end %>
