<%= form_for [:admin, @document, supporting_document] do |form| %>
  <%= form.hidden_field :lock_version %>
  <%= form.label :title %>
  <%= form.text_field :title, disabled: disabled %>
  <%= form.label :body %>
  <%= form.text_area :body, disabled: disabled %>
  <% unless disabled %>
    <fieldset class="clear">
      <%= form.submit 'Save' %>
      <span class="or_cancel">
        or
        <%= link_to 'cancel', (supporting_document.new_record? ? admin_document_path(@document) : admin_supporting_document_path(supporting_document)) %>
      </span>
    </fieldset>
  <% end %>
<% end %>