<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>

    <fieldset>
      <legend>Associations</legend>
      <%= render partial: 'topic_fields', locals: { form: form, edition: edition } %>

      <%= form.label :primary_mainstream_category_id, 'Primary detailed guidance category' %>
      <%= form.select :primary_mainstream_category_id, mainstream_category_options(edition, edition.primary_mainstream_category_id), {}, class: 'chzn-select', data: { placeholder: "Choose a primary detailed guidance category..."} %>

      <%= form.label :other_mainstream_category_ids, 'Other detailed guidance categories' %>
      <%= form.select :other_mainstream_category_ids, mainstream_category_options(edition, edition.other_mainstream_category_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose other detailed guidance categories..."} %>

      <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>

      <%= form.label :outbound_related_document_ids, 'Related guides' %>
      <%= form.select :outbound_related_document_ids, options_from_collection_for_select(DetailedGuide.alphabetical.latest_edition.active, :document_id, :title, edition.outbound_related_document_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose related detailed guides..."} %>
    </fieldset>

    <%= render partial: 'inline_attachments_info', locals: { form: form, edition: edition } %>

    <fieldset>
      <legend>User Need</legend>

      <%= form.fields_for :user_needs, UserNeed.new do |f| %>
        <p class='new-user-need'>
          <span><%= f.text_field :user, label_text: 'As a', size: 35, placeholder: "e.g. manufacturer of medical devices" %></span>
          <span><%= f.text_field :need, label_text: 'I need to', size: 50, placeholder: "e.g. know how to register my product" %></span>
          <span><%= f.text_field :goal, label_text: 'so that', size: 80, placeholder: "e.g. I can market it in-line with legislation" %></span>
        </p>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Related Mainstream Content</legend>
      <%= form.text_field :related_mainstream_content_url %>
      <%= form.text_field :related_mainstream_content_title %>
      <%= form.text_field :additional_related_mainstream_content_url %>
      <%= form.text_field :additional_related_mainstream_content_title %>
    </fieldset>

    <%= render partial: 'nation_fields', locals: { form: form, edition: edition } %>

    <%= render partial: 'first_published_at', locals: { form: form, edition: edition } %>
  <% end %>
<% end %>
