<div class="format-advice">
  <p>Detailed guides tell users the steps they need to take to complete a specific task. They are usually aimed at specialist or professional audiences.</p><p>Read the <a href="https://www.gov.uk/guidance/content-design/content-types#detailed-guide" target="_blank">detailed guides guidance</a> in full.</p>
</div>

<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>

    <fieldset>
      <legend>Associations</legend>
      <%= render 'admin/shared/policy_fields', form: form %>
      <%= render partial: 'topic_fields', locals: { form: form, edition: edition } %>

      <%= form.text_field :need_ids, label_text: 'Maslow Need IDs (enter a comma-separated list)', placeholder: "Enter a comma-separated list of Maslow Need IDs", value: edition.need_ids.join(", ") %>

      <%= render partial: 'specialist_sector_fields', locals: { form: form, edition: edition } %>

      <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>

      <% cache_if edition.related_detailed_guide_ids.empty?, taggable_detailed_guides_cache_digest do %>
        <%= form.label :related_detailed_guide_ids, 'Related guides' %>
        <%= form.select :related_detailed_guide_ids, options_for_select(taggable_detailed_guides_container, edition.related_detailed_guide_ids), {}, multiple: true, class: 'chzn-select form-control', data: { placeholder: "Choose related detailed guides…"} %>
      <% end %>
    </fieldset>

    <%= render partial: 'inline_attachments_info', locals: { form: form, edition: edition } %>

    <fieldset>
      <legend>Related mainstream content</legend>
      <p>
        Link to the top-level URL for mainstream content - not a specific chapter.
      </p>
      <%= form.text_field :related_mainstream_content_url %>
      <%= form.text_field :additional_related_mainstream_content_url %>
    </fieldset>

    <%= render partial: 'nation_fields', locals: { form: form, edition: edition } %>
  <% end %>
<% end %>
