<% page_title @document_series.name, @organisation.name %>
<% page_class "document-series-page" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { type: 'Series', heading: @document_series.name } %>

    <aside class="meta">
      <div class="inner-heading">
        <dl>
          <dt><%= t('document.headings.organisations', count: 1) %>:</dt>
          <dd>
            <%= render  partial: 'organisations/organisations_name_list',
                        locals: { lead_organisations: [@organisation] } %>
          </dd>
          <% unless @document_series.published_editions.empty? %>
            <% most_recent_change = @document_series.published_editions.first.public_timestamp %>
            <dt class="change-notes-title"><%= t('change_notes.page_history') %>:</dt>
            <dd class="change-notes">
              <%= t('change_notes.published_at', date: absolute_date(most_recent_change, class: 'published-at')).html_safe %>
            </dd>
          <% end %>
        </dl>
      </div>
    </aside>
  </div>
</header>

<% unless @document_series.summary.blank? %>
  <div class="block summary">
    <div class="inner-block">
      <p><%= @document_series.summary %></p>
    </div>
  </div>
<% end %>

<div class="block-2 ">
  <div class="inner-block">
    <div class="contextual-info js-stick-at-top-when-scrolling">
      <% content_headers = govspeak_headers(@document_series.description) %>
    </div>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section id="document_series" class="group">

      <% unless @document_series.description.blank? %>
        <div class="description" id="this-series">
          <%= govspeak_to_html @document_series.description %>
        </div>
      <% end %>

      <% if @editions.any? %>
        <div class="editions">
          <ol class="document-list">
            <% @editions.each do |edition| %>
              <%= content_tag_for :li, edition, class: "document-row" do %>
                <h3><%= edition.link %></h3>
                <ul class="attributes">
                  <li class="date"><%= edition.display_date_microformat %></li>
                  <li class="display-type attribute"><%= edition.display_type %></li>
                </ul>
              <% end %>
            <% end %>
          </ol>
        </div>
      <% end %>
    </section>
  </div>
</div>
