<%
  show_corporate_reports ||= false
  show_access_our_information_header ||= false
%>
<section class="corporate-information" id="corporate-info">
  <h1><%= t('organisation.headings.corporate_information') %></h1>
  <div class="corporate-information-block">
    <% if show_access_our_information_header %>
      <h2><%= t('organisation.corporate_information.access_our_info') %></h2>
    <% end %>
    <nav class="group sub_navigation" role="navigation">
      <ul>
        <% if organisation.organisation_chart_url.present? %>
          <li><%= link_to t('organisation.corporate_information.organisation_chart'), organisation.organisation_chart_url %></li>
        <% end %>
        <% organisation.corporate_information_pages.by_menu_heading(:our_information).each do |corporate_information_page| %>
          <li><%= link_to corporate_information_page.title, organisation_corporate_information_page_path(organisation, corporate_information_page.slug) %></li>
        <% end %>
        <% if show_corporate_reports && organisation.has_published_publications_of_type?(PublicationType::CorporateReport) %>
          <li><%= link_to t('organisation.headings.corporate_reports'), publications_filter_path(organisation, publication_type: 'corporate-reports') %></li>
        <% end %>
        <% if organisation.has_published_publications_of_type?(PublicationType::TransparencyData) %>
          <li><%= link_to t('organisation.corporate_information.transparency'), publications_filter_path(organisation, publication_type: 'transparency-data') %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="corporate-information-block">
    <h2><%= t('organisation.corporate_information.jobs_and_contacts') %></h2>
    <nav class="group sub_navigation" role="navigation">
      <ul>
        <% organisation.corporate_information_pages.by_menu_heading(:jobs_and_contracts).each do |corporate_information_page| %>
          <li><%= link_to corporate_information_page.title, organisation_corporate_information_page_path(organisation, corporate_information_page.slug) %></li>
        <% end %>
        <li><a href="https://jobsstatic.civilservice.gov.uk/csjobs.html" rel="external">Jobs</a></li>
      </ul>
    </nav>
  </div>
  <p class="information">
    <% if organisation.corporate_information_pages.for_slug("publication-scheme").present? %>
      <%= t('worldwide_organisation.corporate_information.publication_scheme_html',
              link: t_corporate_information_page_link(organisation, "publication-scheme")) %>
    <% end %>
      <% if organisation.corporate_information_pages.for_slug("welsh-language-scheme").present? %>
        <%= t('worldwide_organisation.corporate_information.welsh_language_scheme_html',
              link: t_corporate_information_page_link(organisation, "welsh-language-scheme")) %>
    <% end %>
    <% if organisation.corporate_information_pages.for_slug("personal-information-charter").present? %>
      <%= t('worldwide_organisation.corporate_information.personal_information_charter_html',
            link: t_corporate_information_page_link(organisation, "personal-information-charter")) %>
    <% end %>
    <% if organisation.corporate_information_pages.for_slug('social-media-use').present? %>
      <%= t('worldwide_organisation.corporate_information.social_media_use_html',
            link: t_corporate_information_page_link(organisation, 'social-media-use')) %>
    <% end %>
  </p>
</section>
