<%
  logo_size ||= 'large'
  show_mainstream_links ||= false
  link_to_organisation ||= false
  sub_organisation = organisation.organisation_type.sub_organisation?
  logo_size = 'medium' if sub_organisation
  languages_available ||= false
%>

<header class="page-header">
  <% if sub_organisation %>
    <div class="sub-organisation-name">
      <ul class="organisations-icon-list">
        <% organisation.parent_organisations.each do |organisation| %>
          <%= content_tag_for(:li, organisation, class: organisation.slug) do %>
            <%= link_to organisation_path(organisation),
                        class: logo_classes(class_name: organisation.organisation_logo_type.class_name, size: 'medium') do %>
              <span><%= organisation_logo_name(organisation, false) %></span>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <h1><%= link_to_organisation ? link_to(organisation.name, organisation_path(organisation)) : organisation.name %></h1>
    </div>
  <% else %>
    <h1>
      <% if link_to_organisation %>
        <%= link_to content_tag(:span, organisation_logo_name(organisation)),
                    organisation_path(organisation),
                    class: logo_classes(class_name: organisation.organisation_logo_type.class_name, size: logo_size, stacked: true) %>
      <% else %>
        <span class="<%= logo_classes(class_name: organisation.organisation_logo_type.class_name, size: logo_size, stacked: true) %>">
          <span><%= organisation_logo_name(organisation) %></span>
        </span>
      <% end %>
    </h1>
  <% end %>

  <%= content_tag_if_not_empty :aside, class: "organisation-mainstream-links" do %>
    <% if languages_available %>
      <%= render partial: 'shared/available_languages', locals: {object: @organisation} %>
    <% end %>
    <% if show_mainstream_links && organisation.mainstream_links.any? && !sub_organisation %>
      <ul>
        <% organisation.mainstream_links.only_the_initial_set.each do |link| %>
          <li><%= link_to link.title, link.url, ({rel: 'external'} if is_external?(link.url)) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</header>
