<%
  logo_size ||= 'large'
  show_mainstream_links ||= false
  sub_organisation = organisation.organisation_type.sub_organisation?
  if sub_organisation
    logo_size = 'medium'
  end
%>

<header class="page-header">
  <% unless sub_organisation %>
    <%= content_tag :h1 do %>
      <span class="<%= logo_classes(class_name: organisation.organisation_logo_type.class_name, size: logo_size, stacked: true) %>">
        <span><%= organisation_logo_name(organisation) %></span>
      </span>
    <% end %>
  <% end %>
  <% if sub_organisation %>
    <%= content_tag :div, class: "sub-organisation-name" do %>


        <ul class="organisations-icon-list">
          <% organisation.parent_organisations.each do |organisation|%>
            <%= content_tag_for(:li, organisation, class: organisation.slug) do %>
              <%= link_to organisation_path(organisation),
                          class: logo_classes(class_name: organisation.organisation_logo_type.class_name, size: 'medium') do %>
                <span><%= organisation_logo_name(organisation, false) %></span>
              <% end %>
            <% end %>
          <% end %>
        </ul>

      <h1>
        <%= organisation.name %>
      </h1>
    <% end %>
  <% end %>

  <%= content_tag_if_not_empty :aside, class: "organisation-mainstream-links" do %>
    <%= render partial: 'shared/available_languages', locals: {object: @organisation} %>

    <% if show_mainstream_links && organisation.mainstream_links.any? && !sub_organisation %>
      <ul>
        <% organisation.mainstream_links.only_the_initial_set.each do |link| %>
          <li><%= link_to link.title, link.url, ({rel: 'external'} if is_external?(link.url)) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</header>
