<%
  link_to_organisation ||= false
  logo_size ||= 'large'
%>
<header class="page-header">
  <%= content_tag :h1, class: organisation_h1_class(organisation) do %>
    <% if link_to_organisation %>
      <%= link_to organisation_path(organisation), class: organisation_logo_classes(organisation, size: logo_size, stacked: true) do %>
        <span><%= format_with_html_line_breaks(h(organisation.logo_formatted_name)) %></span>
      <% end %>
    <% else %>
      <span class="<%= organisation_logo_classes(organisation, size: logo_size, stacked: true) %>">
        <span><%= format_with_html_line_breaks(h(organisation.logo_formatted_name)) %></span>
      </span>
    <% end %>
  <% end %>
  <% if organisation.organisation_mainstream_links.any? %>
    <div class="organisation-mainstream-links">
      <h4>Quick links</h4>
      <ul>
        <% organisation.organisation_mainstream_links.each do |link| %>
          <li><%= link_to link.title, link.url %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</header>
