<%
  link_to_organisation ||= false
  logo_size ||= 'large'
  show_mainstream_links ||= false

  link_to_sub_organisation = link_to_organisation

  if organisation.organisation_type.sub_organisation?
    sub_organisation = organisation
    organisation = sub_organisation.parent_organisations.first
    link_to_organisation = true
    logo_size = 'large'
  else
    sub_organisation = nil
  end
%>
<header class="page-header">
  <%= content_tag :h1 do %>
    <% if link_to_organisation %>
      <%= link_to organisation_path(organisation), class: organisation_logo_classes(organisation, size: logo_size, stacked: true) do %>
        <span><%= format_with_html_line_breaks(h(organisation.logo_formatted_name)) %></span>
      <% end %>
    <% else %>
      <span class="<%= organisation_logo_classes(organisation, size: logo_size, stacked: true) %>">
        <span><%= format_with_html_line_breaks(h(organisation.logo_formatted_name)) %></span>
      </span>
    <% end %>
  <% end %>
  <% if sub_organisation %>
    <%= content_tag :div, class: "sub-organisation-name" do %>
      <h2>
        <% if link_to_sub_organisation %>
          <%= link_to sub_organisation.name, organisation_path(sub_organisation), class: "sub-organisation-name" %>
        <% else %>
          <%= sub_organisation.name %>
        <% end %>
      </h2>
    <% end %>
  <% end %>
  <% if show_mainstream_links && organisation.organisation_mainstream_links.any? && sub_organisation.nil? %>
    <aside class="organisation-mainstream-links">
      <h4>Quick links</h4>
      <ul>
        <% organisation.organisation_mainstream_links.each do |link| %>
          <li><%= link_to link.title, link.url %></li>
        <% end %>
      </ul>
    </aside>
  <% end %>
</header>
