<%
  logo_size ||= 'large'
  show_featured_links ||= false
  link_to_organisation ||= false
  languages_available ||= false
%>

<header class="page-header">
  <h1><%= organisation_logo(organisation, linked: link_to_organisation, size: logo_size) %></h1>

  <%= content_tag_if_not_empty :aside, class: "heading-extra" do %>
    <% if languages_available %>
      <%= render partial: 'shared/available_languages', locals: {object: @organisation} %>
    <% end %>
    <% if show_featured_links %>
      <%= render 'shared/featured_links', links: organisation.visible_featured_links %>
    <% end %>
  <% end %>

  <% if organisation.type.sub_organisation? %>
    <p class="parent-organisations">
      Part of
      <%=
        organisation.parent_organisations.map { |parent_org|
          link_to parent_org.name, organisation_path(parent_org)
        }.to_sentence.html_safe
      %>
    </p>
  <% end %>
</header>
