<section class="page_header organisation">
  <h1 class="page_title name has_meta">
    <% if local_assigns.has_key?(:title) %>
      <%= title %>
    <% else %>
      <%= format_with_html_line_breaks(organisation.logo_formatted_name) %>
    <% end %>
  </h1>
  <% if organisation.acronym.present? %>
    <h2 class="acronym">(<%= organisation.acronym %>)</h2>
  <% end %>
  <div class="meta">
    <% if organisation.organisation_type %>
      <h2 class="category"><%= organisation.organisation_type.name %></h2>
    <% end %>
    <% organisation.parent_organisations.each do |organisation| %>
      <%= link_to organisation_display_name(organisation), organisation_path(organisation), class: "organisation tag" %>
    <% end %>
  </div>
</section>

<section id="about_us" class="info">
  <p class="description">
    <%= format_with_html_line_breaks(organisation.description) %>
  </p>
</section>

<%= render 'navigation', organisation: organisation %>
