<%
  block_class ||= 'other-departments'
  block_id ||= false  
  header_text ||= nil
  include_works_with ||= false
  show_govuk_status ||= false
%>

<div class="heading-block js-filter-block <%= "js-hide-department-children " if include_works_with %><%= block_class %>" <%= raw("id=\"#{block_id}\"") if block_id %>>
  <% if header_text %>
    <header class="type-heading">
      <h1><%= raw(header_text) %></h1>
      <%= organisation_count_paragraph(organisations, with_live_on_govuk: show_govuk_status) %>
    </header>
  <% end %>

  <div class="content">
    <ol>
      <% organisations.each do |organisation| %>
        <%= render list_item_partial, organisation: organisation, include_works_with: include_works_with %>
      <% end %>
    </ol>
  </div>
</div>
