<nav class="group">
  <%= organisation_navigation_link_to 'Home', organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'About', about_organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'News', news_organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'Contact Details', contact_details_organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'Ministers', ministers_organisation_path(organisation) %>
</nav>
