<nav class="group sub_navigation">
  <%= organisation_navigation_link_to 'Home', organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'About', about_organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'News & speeches', announcements_organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'Policies', policies_organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'Publications', publications_organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'Consultations', consultations_organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'Ministers', ministers_organisation_path(organisation) %>
  <%= organisation_navigation_link_to 'Contact', contact_details_organisation_path(organisation) %>
</nav>
