<%
  extra_class ||= ""
%>
<%= content_tag_for(:article, edition, nil, class: "#{edition_organisation_class(edition)} #{extra_class}") do %>
  <div class="content">
    <%= link_to public_document_path(edition) do %>
      <span class="img"><%= edition.image_tag %></span>
      <h2><%= edition.title %></h2>
    <% end %>
    <% unless edition.summary.blank? %>
      <p class="summary"><%= truncate(edition.summary, length: 150, separator: ' ') %></p>
    <% end %>
  </div>
<% end %>
