<%
  extra_class ||= ""
  external_links ||= false
  remove_line_breaks ||= false
%>

<ul class="organisations-icon-list<%= " multiple-orgs" if organisations.length > 1 %>">
  <% if organisations.length > 1 %>
    <li class="single-identity organisation hm-government">
      <span class="organisation-logo-small">
        <span><%= remove_line_breaks ? "HM Government" : "HM Government".html_safe %></span>
      </span>
    </li>
  <% end %>
  <% organisations.each do |organisation| %>
    <%= content_tag_for(:li, organisation,
          class: organisation_logo_classes(organisation, no_single_identity: (organisations.length > 1))) do %>
      <%= link_to organisation_path(organisation),
            title: organisation.logo_formatted_name,
            class: "organisation-logo-small #{extra_class}" do %>
        <span><%= remove_line_breaks ? organisation.logo_formatted_name : format_with_html_line_breaks(h(organisation.logo_formatted_name)) %></span>
      <% end %>
    <% end %>
  <% end %>
</ul>
