<%
  lead_organisations ||= []
  organisations ||= []
  show_hm_government = lead_organisations.length == 0
%>
<div class="organisations-icon-list logo-icon-list js-toggle-org-list">
  <% if organisations.length > 1 %>
    <% if show_hm_government %>
      <h3 class="organisation hm-government">
        <span class="organisation-logo organisation-logo-stacked-single-identity">
          <span>HM Government</span>
        </span>
      </h3>
    <% end %>
    <ul>
      <% lead_organisations.each do |organisation| %>
        <%= content_tag_for :li, organisation, class: organisation_brand_colour_class(organisation) do %>
          <%= link_to organisation,
                      class: logo_classes(class_name: organisation.organisation_logo_type.class_name, stacked: !show_hm_government, use_identity: !show_hm_government) do %>
            <span><%= organisation_logo_name(organisation, !show_hm_government) %></span>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <% if (organisations - lead_organisations).any? %>
      <span class="toggle show-other-content"><%= t("organisation.headings.plus_others") %></span>
      <div class="organisations-box overlay js-hidden"><div class="organisations-box-inner">
        <% organisations_grouped_by_type(organisations).each do |type, organisations| %>
          <% unless type.executive_office? %>
            <h3 class="organisation-group-type"><%= t("organisation.type.#{type.name}", count: organisations.length) %></h3>
          <% end %>
          <ol>
            <% organisations.each do |organisation| %>
              <%= content_tag_for :li, organisation, 'by-type' do %>
                <%= link_to organisation.name, organisation %>
              <% end %>
            <% end %>
          </ol>
        <% end %>
      </div></div>
    <% end %>
  <% else %>
    <% organisations.each do |organisation| %>
      <%= content_tag_for(:div, organisation, class: organisation_brand_colour_class(organisation)) do %>
        <%= link_to organisation,
                    class: logo_classes(class_name: organisation.organisation_logo_type.class_name, stacked: true, use_identity: true) do %>
          <span><%= organisation_logo_name(organisation) %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
