<% page_title "About " + @organisation.name %>

<%= organisation_wrapper(@organisation, class: "g3f") do %>
  <%= render 'header', organisation: @organisation %>
  <div class="g1f">
    <%= render 'navigation', organisation: @organisation %>
  </div>

  <div class="g3f about_page">
    <div class="g2">
      <article class="document">
        <div class="body">
          <%= govspeak_to_html @organisation.about_us %>
        </div>
      </article>
    </div>
    <div class="g1">
      <nav role="navigation">
        <ul>
          <li>View <%= link_to "management team", management_team_organisation_path(@organisation)%></li>
        </ul>
      </nav>
    </div>
  </div>

  <% if @corporate_publications.any? %>
    <%= article_section("Corporate publications", @corporate_publications, {id: 'publications'}) do |publication| %>
      <h2 class="article_title"><%= link_to publication.title, public_document_path(publication), title: "View #{publication.title}" %></h2>
      <span class="metadata">
        Updated <%= time_ago(publication.updated_at, class: 'updated_at') %>
      </span>
    <% end %>
  <% end %>
<% end %>