<% page_title "About ", @organisation.name %>
<% page_class "organisations-about organisation-page" %>

<%= organisation_wrapper(@organisation) do %>
  <article id="what-we-do">
    <div class="block-1">
      <div class="inner-block">
        <%= render partial: 'header', locals: {
              organisation: @organisation,
              link_to_organisation: true
            } %>

        <div class="contextual-info js-stick-at-top-when-scrolling">
          <nav>
            <h1>About us</h1>
            <ol>
              <li><%= link_to t('organisation.headings.what_we_do'), "#what-we-do" %></li>
              <% govspeak_headers(@organisation.about_us).each do |header| %>
                <li><%= link_to header.text, "##{header.id}" %></li>
              <% end %>
              <% if has_any_transparency_pages?(@organisation) %>
                <li><%= link_to t('organisation.headings.corporate_information'), "#corporate-info" %></li>
              <% end %>
              <% if @corporate_publications.any? %>
                <li><%= link_to t('organisation.headings.corporate_reports'), "#corporate-reports" %></li>
              <% end %>
            </ol>
          </nav>
        </div>
      </div>
    </div>
      <div class="block-2">
        <div class="inner-block">
          <%= content_tag :p, class: 'homepage-link' do %>
            <%= link_to "#{@organisation.name} homepage", organisation_path(@organisation) %>
          <% end %>
          <aside class="organisation-top-tasks">
            <%= render partial: 'shared/available_languages', locals: {object: @organisation, linkable: [:about, @organisation]} %>
          </aside>
          <h1 class="main"><%= t('organisation.headings.what_we_do') %></h1>
          <p class="description">
            <%= @organisation.description %>
          </p>
          <div class="body">
            <%= govspeak_to_html @organisation.about_us %>
          </div>
          <% if has_any_transparency_pages?(@organisation) %>
            <%= render partial: 'corporate_information',
                       locals: { organisation: @organisation, show_access_our_information_header: true } %>
          <% end %>
          <% if @corporate_publications.any? %>
            <section class="corporate-publications" id="corporate-reports">
              <h1><%= t('organisation.headings.corporate_reports') %></h1>
              <ul>
                <% @corporate_publications.each do |publication| %>
                  <%= content_tag_for :li, publication, class: 'item' do %>
                    <h3 class="title"><%= link_to publication.title, public_document_path(publication) %></h3>
                    <span class="metadata">
                      <%= absolute_date(publication.public_timestamp) %>
                    </span>
                  <% end %>
                <% end %>
              </ul>
            </section>
          <% end %>
        </div>
      </div>
  </article>
<% end %>
