<% page_title "About " + @organisation.name %>

<%= organisation_wrapper(@organisation, class: "g3f") do %>
  <%= render 'header', organisation: @organisation %>

  <div class="g3f about_page">
    <div class="g2">
      <article class="document">
        <div class="body">
          <%= govspeak_to_html @organisation.about_us %>
        </div>
      </article>
    </div>
    <div class="g1">
      <nav>
        <ul>
          <li>View <%= link_to "management team", management_team_organisation_path(@organisation)%></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="g3f">
    <% if @organisation.child_organisations.any? %>
      <section id="child_organisations" class="info">
        <h1>Associated organisations</h1>
        <% in_columns(@organisation.child_organisations, 4) do |organisation_group| %>
          <div class="g1">
            <% organisation_group.each do |organisation| %>
              <ul>
                <%= content_tag_for(:li, organisation) do %>
                  <%= if organisation.active?
                        link_to organisation.name, organisation_path(organisation)
                      else
                        organisation.name
                      end %>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
      </section>
    <% end %>
  </div>

  <% if @corporate_publications.any? %>
    <%= article_section("Corporate publications", @corporate_publications, {id: 'publications'}) do |publication| %>
      <h2 class="article_title"><%= link_to publication.title, public_document_path(publication), title: "View #{publication.title}" %></h2>
      <span class="metadata">
        Updated <%= time_ago(publication.updated_at, class: 'updated_at') %>
      </span>
    <% end %>
  <% end %>
<% end %>