<% page_title "About " + @organisation.name %>

<div class="g3f organisation">
  <section class="page_header organisation">
    <h1 class="page_title"><%= @organisation.name %>
      <% if @organisation.acronym.present? %>
        (<%= @organisation.acronym %>)
      <% end %>
    </h1>
    <% if @organisation.organisation_type %>
      <h2 class="category"><%= @organisation.organisation_type.name %></h2>
    <% end %>
  </section>
  <%= render 'navigation', organisation: @organisation %>

  <div class="g3f document_page">
    <div class="g2 document_view">
      <article class="document">
        <div class="body">
          <%= govspeak_to_html @organisation.about_us %>
        </div>
      </article>
    </div>
  </div>
</div>