<% page_title "About ", @organisation.name %>
<% page_class "organisations-about organisation-page" %>

<%= organisation_wrapper(@organisation) do %>
  <article id="what-we-do">
    <div class="block-1">
      <div class="inner-block">
        <%= render partial: 'organisations/header', locals: {
              organisation: @organisation,
              link_to_organisation: true
            } %>
        <div class="contextual-info js-stick-at-top-when-scrolling">
          <nav>
            <h1>About us</h1>
            <ol>
              <li><%= link_to "What we do", "#what-we-do" %></li>
              <% govspeak_headers(@organisation.about_us).each do |header| %>
                <li><%= link_to header.text, "##{header.id}" %></li>
              <% end %>
              <% if has_any_transparency_pages?(@organisation) %>
                <li><%= link_to "Corporate information", "#corporate-info" %></li>
              <% end %>
              <% if @corporate_publications.any? %>
                <li><%= link_to "Corporate reports", "#corporate-reports" %></li>
              <% end %>
            </ol>
          </nav>
        </div>
      </div>
    </div>
      <div class="block-2">
        <div class="inner-block">
          <h1 class="main">What we do</h1>
          <p class="description">
            <%= @organisation.description %>
          </p>
          <div class="body">
            <%= govspeak_to_html @organisation.about_us %>
          </div>
          <% if has_any_transparency_pages?(@organisation) %>
            <%= render partial: 'corporate_information',
                       locals: { organisation: @organisation } %>
          <% end %>
          <% if @corporate_publications.any? %>
            <section class="corporate-publications" id="corporate-reports">
              <h1>Corporate reports</h1>
              <ul>
                <% @corporate_publications.each do |publication| %>
                  <%= content_tag_for :li, publication, class: 'item' do %>
                    <h3 class="title"><%= link_to publication.title, public_document_path(publication) %></h3>
                    <span class="metadata">
                      Updated <%= relative_time(publication.updated_at, class: 'updated-at') %>
                    </span>
                  <% end %>
                <% end %>
              </ul>
            </section>
          <% end %>
        </div>
      </div>
  </article>
<% end %>
