<% page_title "About ", @organisation.name %>

<%= render "beta_warning", organisation: @organisation %>
<%= organisation_wrapper(@organisation, class: "g4") do %>
  <%= render 'header', organisation: @organisation, title: "About" %>
  <div class="g1f sidebar">
    <%= render 'sidebar', organisation: @organisation %>
  </div>

  <div class="g3f about_page">
    <div class="g2">
      <article class="document">
        <div class="body">
          <%= govspeak_to_html @organisation.about_us %>
        </div>
      </article>
    </div>
    <div class="g1">
      <nav role="navigation">
        <ul>
          <li>View <%= link_to "management team", management_team_organisation_path(@organisation)%></li>
        </ul>
      </nav>
    </div>
    <% if @corporate_publications.any? %>
      <div class="g1">
      </div>
      <div class="g3">
        <%= article_section("Corporate publications", @corporate_publications, {id: 'publications',  article_wrapper_class: "g1"}) do |publication| %>
          <h2 class="article_title"><%= link_to publication.title, public_document_path(publication), title: "View #{publication.title}" %></h2>
          <span class="metadata">
            Updated <%= time_ago(publication.updated_at, class: 'updated_at') %>
          </span>
        <% end %>
      </div>
    <% end %>

  </div>

<% end %>