<% page_title "Agencies & Partners", @organisation.name %>
<% page_class "organisation_subpages" %>

  <div class="block-1">
    <div class="inner-block">
      <%= render "beta_warning", organisation: @organisation %>
    </div>
  </div>

<%= organisation_wrapper(@organisation, class: "") do %>
  <div class="block-2">
    <div class="inner-block">
      <%= render 'header', organisation: @organisation, title: "Agencies &amp; partners" %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <div class="sidebar sub_navigation_container">
        <%= render 'sidebar', organisation: @organisation %>
      </div>
    </div>
  </div>

  <div class="block-4">
    <div class="inner-block">
      <% if @organisation.child_organisations.any? %>
        <section id="child_organisations" class="info">
          <% in_columns(@organisation.child_organisations, 3) do |organisation_group| %>
            <div>
              <% organisation_group.each do |organisation| %>
                <ul>
                  <%= content_tag_for(:li, organisation) do %>
                    <%= if organisation.active?
                          link_to organisation.name, organisation_path(organisation)
                        else
                          organisation.name
                        end %>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>
        </section>
      <% end %>
    </div>
  </div>

<% end %>