<% page_title "News", @organisation.name %>

<%= render "beta_warning", organisation: @organisation %>
<%= organisation_wrapper(@organisation, class: "g4") do %>
  <%= render 'header', organisation: @organisation %>
  <div class="g1 org_sidebar">
    <%= render 'sidebar', organisation: @organisation %>
  </div>

  <% if @announcements.any? %>
    <div class="g3f">
      <%= article_section("News & Speeches", @announcements, {id: 'announcements'}) do |announcement| %>
        <h2 class="article_title"><%= link_to announcement.title, public_document_path(announcement), title: "View #{announcement.title}", class: "title" %></h2>
        <% if announcement.summary.present? %><p class="summary"><%= announcement.summary %></p><% end %>
        <span class="metadata">
          Updated <%= time_ago(announcement.updated_at, class: 'updated_at') %>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>