<% page_title "News", @organisation.name %>
<% page_class "organisation_subpages" %>

  <div class="block-1">
    <div class="inner-block">
      <%= render "beta_warning", organisation: @organisation %>
    </div>
  </div>

<%= organisation_wrapper(@organisation, class: "") do %>
  <div class="block-2">
    <div class="inner-block">
      <%= render 'header', organisation: @organisation, title: "News &amp; Speeches" %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <div class="sidebar sub_navigation_container">
        <%= render 'sidebar', organisation: @organisation %>
      </div>
    </div>
  </div>


  <div class="block-4">
    <div class="inner-block">
      <% if @announcements.any? %>
        <div>
          <h1>News &amp; Speeches</h1>
          <% @announcements.each do |announcement| %>
            <%= content_tag_for :div, announcement, class: 'item' do %>
              <h2 class="article_title"><%= link_to announcement.title, public_document_path(announcement), title: "View #{announcement.title}", class: "title" %></h2>
              <% if announcement.summary.present? %><p class="summary"><%= announcement.summary %></p><% end %>
              <span class="metadata">
                Updated <%= relative_time(announcement.updated_at, class: 'updated_at') %>
              </span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
