<% page_title "Consultations", @organisation.name %>
<% page_class "organisation_subpages" %>

<%= organisation_wrapper(@organisation, class: "") do %>
  <div class="block-1">
    <div class="inner-block">
      <%= render 'header', organisation: @organisation, title: "Consultations" %>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <div class="sidebar sub_navigation_container">
        <%= render 'sidebar', organisation: @organisation %>
      </div>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <% if @consultations.any? %>
        <div>
          <h1>Consultations</h1>
          <% @consultations.each do |consultation| %>
          <%#= article_section("Consultations", @consultations, {id: 'consultations', article_wrapper_class: ""}) do |consultation| %>
            <%= content_tag_for :div, consultation, class: 'item' do %>
              <h2 class="article_title"><%= link_to consultation.title, public_document_path(consultation), title: "View #{consultation.title}" %></h2>
              <span class="metadata">
                Updated <%= relative_time(consultation.updated_at, class: 'updated_at') %>
              </span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
