<% page_title @organisation.name %>

<%= organisation_wrapper(@organisation, class: "g3 hcard") do %>
  <%= render 'header', organisation: @organisation %>
  <div class="g1f">
    <%= render 'navigation', organisation: @organisation %>
  </div>


  <div class="g2f contact_page">
    <% addresses = @organisation.contacts.select { |c| c.address.present? } %>
    <% others = @organisation.contacts - addresses %>

    <div class="g2">
      <% addresses.each do |contact| %>
        <div class="organisation_contact">
          <% if contact.address.present? %>
            <div class="adr">
              <h3><%= contact.description %></h3>
              <p class="fn org name"><%= @organisation.name %></p>
              <% if @organisation.acronym.present? %>
                <p class="nickname"><%= @organisation.acronym %></p>
              <% end %>
              <p class="street-address"><%= format_with_html_line_breaks(contact.address) %></p>
              <p class="postal-code"><%= contact.postcode %></p>
            </div>
          <% else %>
            <h3><%= contact.description %></h3>
          <% end %>
          <% if contact.email.present? %>
            <p class="email"><span class="type">Email</span> <%= mail_to contact.email, contact.email, :class => "email" %></p>
          <% end %>
          <% contact.contact_numbers.each do |number| %>
            <p class="tel"><%= number.number %><span class="type"> <%= number.label %> </span></p>
          <% end %>
          <% if contact.mappable? %>
            <p><%= link_to_google_map(contact) %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="g1">
      <% others.each do |contact| %>
        <div class="organisation_contact">
          <h3><%= contact.description %></h3>
          <% if contact.email.present? %>
            <p class="email"><span class="type">Email</span> <%= mail_to contact.email, contact.email, :class => "email" %></p>
          <% end %>
          <% contact.contact_numbers.each do |number| %>
            <p class="tel"><%= number.number %><span class="type"> <%= number.label %> </span></p>
          <% end %>
          <% if contact.mappable? %>
            <p><%= link_to_google_map(contact) %></p>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
<% end %>