<% page_title "Contact", @organisation.name %>
<% page_class "organisation_subpages" %>

  <div class="block-1">
    <div class="inner-block">
      <%= render "beta_warning", organisation: @organisation %>
    </div>
  </div>

<%= organisation_wrapper(@organisation, class: "hcard") do %>
  <div class="block-2">
    <div class="inner-block">
      <%= render 'header', organisation: @organisation, title: "Contacts" %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <div class="sidebar sub_navigation_container">
        <%= render 'sidebar', organisation: @organisation %>
      </div>
    </div>
  </div>


  <div class="block-4">
    <div class="inner-block">
      <% addresses = @organisation.contacts.select { |c| c.address.present? } %>
      <% others = @organisation.contacts - addresses %>

      <div>
        <% addresses.each do |contact| %>
          <div class="organisation_contact">
            <% if contact.address.present? %>
              <div class="adr">
                <h3><%= contact.description %></h3>
                <p class="fn org name"><%= @organisation.name %></p>
                <% if @organisation.acronym.present? %>
                  <p class="nickname"><%= @organisation.acronym %></p>
                <% end %>
                <p class="street-address"><%= format_with_html_line_breaks(contact.address) %></p>
                <p class="postal-code"><%= contact.postcode %></p>
              </div>
            <% else %>
              <h3><%= contact.description %></h3>
            <% end %>
            <% if contact.email.present? %>
              <p class="email"><span class="type">Email</span> <%= mail_to contact.email, contact.email, :class => "email" %></p>
            <% end %>
            <% contact.contact_numbers.each do |number| %>
              <p class="tel"><%= number.number %><span class="type"> <%= number.label %> </span></p>
            <% end %>
            <% if contact.mappable? %>
              <p><%= link_to_google_map(contact) %></p>
            <% end %>
          </div>
        <% end %>
      </div>

      <div>
        <% others.each do |contact| %>
          <div class="organisation_contact">
            <h3><%= contact.description %></h3>
            <% if contact.email.present? %>
              <p class="email"><span class="type">Email</span> <%= mail_to contact.email, contact.email, :class => "email" %></p>
            <% end %>
            <% contact.contact_numbers.each do |number| %>
              <p class="tel"><%= number.number %><span class="type"> <%= number.label %> </span></p>
            <% end %>
            <% if contact.mappable? %>
              <p><%= link_to_google_map(contact) %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  
<% end %>