<% page_title @organisation.name %>
<% page_class "organisation_homepage" %>
<%= organisation_wrapper(@organisation, class: "hcard group") do %>

  <div class="block-1">
    <div class="inner-block">
      <%= render "beta_warning", organisation: @organisation %>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <div>
        <%= render 'header', organisation: @organisation %>
      </div>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <div>
        <p class="parent_organisations"><%= organisation_display_name_and_parental_relationship(@organisation) %></p>
        <p class="description"><%= @organisation.description %></p>
      </div>
    </div>
  </div>

  <div class="block-4">
    <div class="inner-block">
      <div class="govuk-status">
        <% if @organisation.joining? %>
        This organisation currently has a separate website but will soon be incorporated into GOV.UK
        <% else %>
        This organisation has a separate website
        <% end %>
      </div>
      <div class="url">
        Go to: <%= link_to @organisation.url %>
      </div>
    </div>
  </div>

  <% if @recently_updated.present? %>
    <div class="block-5">
      <div class="inner-block">
          <section id="recently_updated" class="latest_documents">
            <h1 class="label">Recent mentions on gov.uk</h1>
            <%= render partial: "shared/recently_updated", locals: {recently_updated: @recently_updated} %>
          </section>
      </div>
    </div>
  <% end %>
<% end %>
