<% page_title "Departments, agencies & public bodies" %>
<% page_class "index-list-page" %>
<%= api_link_tag api_organisations_url %>

<div class="organisations-index">
  <div class="block-1">
    <div class="inner-block">
      <header class="page-header js-filter-list">
        <h1 class="title">Departments, agencies &amp; public&nbsp;bodies</h1>
        <form class="js-filter-form"><label for="whats-the-latest-from" class="label">What&rsquo;s the latest<br />from <input name="whats-the-latest-from" id="whats-the-latest-from" placeholder="Example: Home Office"> ?</label></form>
      </header>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">

      <%= render 'index_section', organisations:      @organisations.executive_offices,
                                  block_class:        'executive-offices',
                                  block_id:           'executive-offices',
                                  list_item_partial:  'index_item_with_branding',
                                  show_govuk_status:  true  %>

      <%= render 'index_section', organisations:      @organisations.ministerial_departments,
                                  block_class:        'ministerial-departments',
                                  block_id:           'ministerial-departments',
                                  header_text:        'Ministerial departments',
                                  include_works_with: true,
                                  list_item_partial:  'index_item_with_branding',
                                  show_govuk_status:  true  %>

      <%= render 'index_section', organisations:      @organisations.non_ministerial_departments,
                                  header_text:        'Non ministerial departments',
                                  block_id:           'non-ministerial-departments',
                                  include_works_with: true,
                                  list_item_partial:  'index_item_plain',
                                  show_govuk_status:  !Whitehall::organisations_transition_visualisation_feature_enabled,
                                  show_transition_state: Whitehall::organisations_transition_visualisation_feature_enabled %>

      <%= render 'index_section', organisations:      @organisations.agencies_and_government_bodies,
                                  header_text:        'Agencies &amp; other public bodies',
                                  block_id:           'agencies-and-government-bodies',
                                  list_item_partial:  'index_item_plain',
                                  show_govuk_status:  false,
                                  show_transition_state: Whitehall::organisations_transition_visualisation_feature_enabled %>

      <%= render 'index_section', organisations:      @organisations.public_corporations,
                                  header_text:        'Public corporations',
                                  block_id:           'public-corporations',
                                  list_item_partial:  'index_item_plain',
                                  show_govuk_status:  false %>

      <%= render 'index_section', organisations:      @organisations.devolved_administrations,
                                  header_text:        'Devolved administrations',
                                  block_id:           'devolved-administrations',
                                  list_item_partial:  'index_item_plain',
                                  show_govuk_status:  false %>
    </div>
    <div class="js-filter-no-results">
      <p>No departments match that filter.</p>
    </div>
    <p class="omissions">Errors or omissions? <a href="https://www.gov.uk/feedback/contact">Tell us here</a>. For an official list of non&ndash;departmental public bodies (accurate as at December 2013) see <a href="https://www.gov.uk/government/publications/public-bodies-2013">Public Bodies 2013</a>
    </p>
  </div>
</div>
