<% page_title "Departments, agencies & public bodies" %>

<div class="g4f organisations_index_page">
  <section class="g4 page_header">
    <h1 class="page_title">Departments, agencies &amp; public bodies</h1>
  </section>

  <div class="g1">
    <nav class="organisations_type_links" role="navigation">
      View departments &amp; agencies by:
      <ul class="jump_list">
      <% @organisations_by_type.each do |type, _| %>
        <li>
          <%= link_to "#{type.name.pluralize}", organisations_path(anchor: type.name.pluralize.downcase.gsub(/\s/, "_")) %>
        </li>
      <% end %>
      </ul>
      <p>You can also
        <%= link_to "view alphabetically", alphabetical_organisations_path %>.
      </p>
    </nav>

  </div>

  <div class="g3f">
    <% @organisations_by_type.each do |type, organisations| %>
      <% if type.ministerial_department? %>
        <div class="organisation_type">
          <section class="g3f">
            <%= content_tag(:h1, type.name.pluralize, id: type.name.pluralize.downcase.gsub(/\s/, "_"), class: "g3 label") %>
            <%= render partial: "organisations_logo_list", locals: { organisations: organisations } %>
          </section>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="g4f non_ministerial_departments">
    <% @organisations_by_type.each do |type, organisations| %>
      <% if !type.ministerial_department? %>
        <div class="organisation_type">
          <section class="g4f">
            <div class="hack g1">
              &nbsp;
            </div>
            <div class="g3f">
            <%= content_tag(:h1, type.name.pluralize, id: type.name.pluralize.downcase.gsub(/\s/, "_"), class: "g3 label") %>
            </div>
            <%= render partial: "grouped_list", locals: { organisations: organisations } %>
           </section>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
