<% page_title "Departments, agencies & public bodies" %>

<div class="organisations-index">
  <div class="block-1">
    <div class="inner-block">
      <header class="page-header js-filter-list">
        <h1 class="page_title">Departments, agencies &amp; public&nbsp;bodies</h1>
      </header>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <div class="heading-block ministerial-departments js-hide-department-children js-filter-block">
        <h1 id="departments">Ministerial departments</h1>
        <div class="content">
          <ol>
            <% @ministerial_departments.each do |ministerial_department| %>
              <%= content_tag_for :li, ministerial_department,
                                  class: 'department js-filter-item',
                                    "data-filter-terms" => filter_terms(ministerial_department) do %>
                <h2 id="<%= ministerial_department.slug %>" class="<%= ministerial_department.slug %>">
                  <%= link_to organisation_path(ministerial_department), class: organisation_logo_classes(ministerial_department, size: 'medium') do %>
                    <span><%= ministerial_department.logo_formatted_name %></span>
                  <% end %>
                </h2>
                <% if ministerial_department.agencies_and_public_bodies.any? %>
                  <p class="works-with">Works with <%= ministerial_department.agencies_and_public_bodies.count %> agencies &amp; public bodies</p>
                  <div class="organisations-box js-hidden"><div class="organisations-box-inner">
                    <p><%= link_to "#{ministerial_department.name} homepage", organisation_path(ministerial_department) %></p>
                    <% ministerial_department.agencies_and_public_bodies_by_type.each do |type,departments| %>
                      <h3><%= type.name %></h3>
                      <ol>
                        <% departments.each do |department| %>
                          <%= content_tag_for :li, department do %>
                            <%= link_to department.name, organisation_path(department) %>
                          <% end %>
                        <% end %>
                      </ol>
                    <% end %>
                  </div></div>
                <% end %>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
      <div class="heading-block other-departments js-filter-block">
        <h1 id="non-ministerial-departments">Non ministerial departments</h1>
        <div class="content">
          <ol class="index-list">
            <% @non_ministerial_departments.each do |organisation| %>
              <%= content_tag_for :li, organisation, class: 'js-filter-item',
                            "data-filter-terms" => filter_terms(organisation) do %>
                <%= link_to organisation.name, organisation_path(organisation) %>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>

      <div class="heading-block other-departments js-filter-block">
        <h1 id="agencies-and-public-bodies">Agencies &amp; other public bodies</h1>
        <div class="content">
          <ol class="index-list">
            <% @agencies_and_government_bodies.each do |organisation| %>
              <%= content_tag_for :li, organisation, class: 'js-filter-item',
                            "data-filter-terms" => filter_terms(organisation) do %>
                <%= link_to organisation.name, organisation_path(organisation) %>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>

      <div class="heading-block other-departments js-filter-block">
        <h1 id="public-corporations">Public corporations</h1>
        <div class="content">
          <ol class="index-list">
            <% @public_corporations.each do |organisation| %>
              <%= content_tag_for :li, organisation, class: 'js-filter-item',
                            "data-filter-terms" => filter_terms(organisation) do %>
                <%= link_to organisation.name, organisation_path(organisation) %>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>

    </div>
    <div class="js-filter-no-results">
      <p>No departments match that filter.</p>
    </div>
    <p class="omissions">Errors or omissions? <a href="https://www.gov.uk/feedback/contact">Tell us here</a>. The Cabinet Office will publish a definitive list of non-ministerial public bodies shortly.</p>
  </div>
</div>
