<% page_title "Ministers", @organisation.name %>
<% page_class "organisation_subpages" %>

  <div class="block-1">
    <div class="inner-block">
      <%= render "beta_warning", organisation: @organisation %>
    </div>
  </div>



<%= organisation_wrapper(@organisation, class: "") do %>
  <div class="block-2">
    <div class="inner-block">
      <%= render 'header', organisation: @organisation, title: "Ministers" %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <div class="sidebar sub_navigation_container">
        <%= render 'sidebar', organisation: @organisation %>
      </div>
    </div>
  </div>

  <div class="block-4">
    <div class="inner-block">
      <% if @ministerial_roles.any? %>
        <div>
          <h1>Ministers</h1>
          <% @ministerial_roles.each do |ministerial_role| %>
          <%#= article_section("Ministers", @ministerial_roles, {id: 'ministers', article_wrapper_class: ""}) do |ministerial_role| %>
          <%= content_tag_for :div, ministerial_role do %>
            <div class="image_holder">
              <%= ministerial_role.current_person_image %>
            </div>
            <h2 class="article_title current-appointee"><%= ministerial_role.current_person_link %></h2>
            <p class="role"><%= ministerial_role.link %></p>
          <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>