<% page_title "Ministers", @organisation.name %>

<%= organisation_wrapper(@organisation, class: "g3") do %>
  <%= render 'header', organisation: @organisation %>
  <div class="g1f">
    <%= render 'navigation', organisation: @organisation %>
  </div>

  <% if @ministerial_roles.any? %>
    <div class="g2f">
      <%= article_section("Ministers", @ministerial_roles, {id: 'ministers'}) do |ministerial_role| %>
        <div class="image_holder">
          <%= image_for_ministerial_role(ministerial_role) %>
        </div>
        <h2 class="article_title"><%= link_to ministerial_role.name, ministerial_role %></h2>
        <p class="current_appointee"><%= ministerial_role.current_person_name %></p>
      <% end %>
    </div>
  <% end %>
<% end %>