<% page_title "Ministers", @organisation.name %>

<%= render "beta_warning", organisation: @organisation %>
<%= organisation_wrapper(@organisation, class: "g4") do %>
  <%= render 'header', organisation: @organisation, title: "Ministers" %>
  <div class="g1f sidebar">
    <%= render 'sidebar', organisation: @organisation %>
  </div>

  <% if @ministerial_roles.any? %>
    <div class="g3f">
      <%= article_section("Ministers", @ministerial_roles, {id: 'ministers', article_wrapper_class: "g1"}) do |ministerial_role| %>
        <div class="image_holder">
          <%= ministerial_role.current_person_image %>
        </div>
        <h2 class="article_title current_appointee"><%= ministerial_role.current_person_name %></h2>
        <p class="role"><%= ministerial_role.link %></p>
      <% end %>
    </div>
  <% end %>
<% end %>