<% page_title "#{@organisation.name} Ministers" %>
<div class="g3f organisation">
  <%= render 'header', organisation: @organisation, title: "#{@organisation.name} Ministers" %>

  <% if @organisation.ministerial_roles.any? %>
    <div class="g3f">
      <%= article_section("Our people", @organisation.ministerial_roles, {id: 'ministers'}) do |ministerial_role| %>
        <div class="image_holder">
          <%= image_for_ministerial_role(ministerial_role) %>
        </div>
        <h2 class="article_title"><%= link_to ministerial_role.name, ministerial_role %></h2>
        <p class="current_appointee"><%= ministerial_role.current_person_name %></p>
      <% end %>
    </div>
  <% end %>

</div>