<% page_title "#{@organisation.name} Ministers" %>
<div class="g3f organisation">
  <%= render 'header', organisation: @organisation, title: "#{@organisation.name} Ministers" %>

  <div class="g3 page_detail">
    <% if @organisation.ministerial_roles.any? %>
    <section id="ministers">
      <%= render_list_of_ministerial_roles(@organisation.ministerial_roles) do |ministerial_role| %>
        <div class="image_holder">
          <%= image_for_ministerial_role(ministerial_role) %>
        </div>
        <h3><%= link_to ministerial_role.name, ministerial_role %></h3>
        <p class="current_appointee"><%= ministerial_role.current_person_name %></p>
      <% end %>
    </section>
    <% end %>
  </div>
</div>