<% page_title @organisation.name %>
<% page_class "organisations-external" %>
<%= organisation_wrapper(@organisation, class: "hcard group") do %>

  <div class="block-1">
    <div class="inner-block">
      <div>
        <%= render 'header', organisation: @organisation, locals: {logo_size: 'medium'} %>
      </div>
    </div>
  </div>

  <div class="block-4">
    <div class="inner-block">
      <aside class="govuk-status status-block">
        <h2><%= organisation_govuk_status_description(@organisation) %></h2>
        <%= superseding_organisations_paragraph_for(@organisation) %>
      </aside>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <div class="description">
        <%= govspeak_to_html @organisation.description %>
        <p class="parent_organisations"><%= organisation_display_name_and_parental_relationship(@organisation) %></p>

        <p><%= link_to @organisation.url, @organisation.url, class: 'url-link' %></p>
      </div>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <% if @organisation.url.present? %>
        <section class="thumbnail">
          <%= link_to image_tag(organisation_site_thumbnail_path(@organisation), size: '287x215', alt: 'Thumbnail screenshot of website'), @organisation.url, title: "Open the current #{@organisation.name} website" %>
        </section>
      <% end %>
    </div>
  </div>

  <%= render 'documents' if (@non_statistics_publications + @announcements + @consultations + @statistics_publications).any? %>
<% end %>
