<% page_title "Policies", @organisation.name %>
<% page_class "organisation_subpages" %>

  <div class="block-1">
    <div class="inner-block">
      <%= render "beta_warning", organisation: @organisation %>
    </div>
  </div>

<%= organisation_wrapper(@organisation, class: "") do %>
  <div class="block-2">
    <div class="inner-block">
      <%= render 'header', organisation: @organisation, title: "Policies" %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <div class="sidebar sub_navigation_container">
        <%= render 'sidebar', organisation: @organisation %>
      </div>
    </div>
  </div>

  <div class="block-4">
    <div class="inner-block">
      <% if @policies.any? %>
        <div>
          <h1>Polcies</h1>
          <% @policies.each do |policy| %>
          <%#= article_section("Policies", @policies, {id: 'policies', article_wrapper_class: ""}) do |policy| %>
          
            <%= content_tag_for :div, policy, class: 'item' do %>
              <h2 class="article_title"><%= link_to policy.title, public_document_path(policy), title: "View #{policy.title}", class: "title" %></h2>
              <span class="metadata">
                Updated <%= relative_time(policy.updated_at, class: 'updated_at') %>
              </span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
