<% page_title "Policies", @organisation.name %>

<%= render "beta_warning", organisation: @organisation %>
<%= organisation_wrapper(@organisation, class: "g3") do %>
  <%= render 'header', organisation: @organisation, title: "Policies" %>
  <div class="g1f">
    <%= render 'sidebar', organisation: @organisation %>
  </div>

  <% if @policies.any? %>
    <div class="g2f">
      <%= article_section("Policies", @policies, {id: 'policies'}) do |policy| %>
        <h2 class="article_title"><%= link_to policy.title, public_document_path(policy), title: "View #{policy.title}", class: "title" %></h2>
        <span class="metadata">
          Updated <%= time_ago(policy.updated_at, class: 'updated_at') %>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>