<div class="<%= organisation_class(@organisation) %>">

<div class="block-1">
  <div class="inner-block">
    <% page_title @organisation.name %>
    <%= organisation_wrapper(@organisation, class: "hcard group") do %>
    <%= render "beta_warning", organisation: @organisation %>
  </div>
</div>

  <div class="block-2">
    <div class="inner-block">
      <div>
        <%= render 'header', organisation: @organisation %>
      </div>
    </div>
  </div>

<div class="block-3">
  <div class="inner-block">
    <div>
      <%= render partial: "shared/hero_rotator", locals: {news_articles: @featured_news_articles, options: {organisational_context: true}} %>
    </div>
  </div>
</div>

<div class="block-4">
  <div class="inner-block">
    <div class="sidebar<% if @featured_news_articles.any? %> sub_navigation_container<% end %>">
      <%= render 'sidebar', organisation: @organisation %>
    </div>
  </div>
</div>

<div class="block-5">
  <div class="inner-block">
      <section id="recently_updated" class="latest_documents">
        <h1 class="label">Latest</h1>
        <%= render(partial: "shared/recently_updated",
         locals: {recently_updated: @recently_updated}
        ) if @recently_updated.present? %>
      </section>
  </div>
</div>

<div class="block-6">
  <div class="inner-block">
      <section id="who">
        <h1 class="label">People</h1>
        <% roles = [@organisation.top_ministerial_role, @organisation.top_civil_servant].compact %>
        <% if ministerial_role = @organisation.top_ministerial_role %>
          <section id="ministers">
            <h1 class="visuallyhidden">Minister</h1>
            <%= content_tag_for(:article, ministerial_role) do %>
              <div class="image_holder">
                <%= image_for_ministerial_role(ministerial_role) %>
              </div>
              <h3 class="current_appointee"><%= ministerial_role.current_person_name %></h3>
              <p class="role"><%= link_to ministerial_role.name, ministerial_role %></p>
            <% end %>
            <p class="view_all"><%= link_to 'View all ministers', ministers_organisation_path(@organisation) %></p>
          </section>
        <% end %>
        <% if management_role = @organisation.top_civil_servant %>
          <section id="management">
            <h1 class="visuallyhidden">Management</h1>
            <%= content_tag_for(:article, management_role) do %>
              <div class="image_holder">
                <%= image_for_ministerial_role(management_role) %>
              </div>
              <h3 class="current_appointee"><%= management_role.current_person_name %></h3>
              <p class="role"><%= management_role.name %></p>
            <% end %>
            <p class="view_all"><%= link_to 'View management team', management_team_organisation_path(@organisation) %></p>
          </section>
        <% end %>
      </section>
  </div>
</div>

<div class="block-7">
  <div class="inner-block">
      <%= render partial: "documents/policy_topics", object: @organisation.policy_topics, title: "Our policy topics" %>
  </div>
</div>
<% end %>

</div>