<%= content_tag_for :article, @organisation do %>
  <h1 class="name"><%= @organisation.name %></h1>
<% end %>

<%= render partial: "documents/policies", object: @organisation.published_policies %>
<%= render partial: "documents/publications", object: @organisation.published_publications %>

<% if @organisation.roles.any? %>
<section id="ministers">
  <h1>Ministers</h1>
  <%= render partial: "roles/list", locals: {roles: @organisation.roles} %>
</section>
<% end %>