<%= content_tag_for :article, @organisation do %>
  <h1 class="name"><%= @organisation.name %></h1>
<% end %>

<%= render partial: "documents/policies", object: @organisation.published_policies %>
<%= render partial: "documents/publications", object: @organisation.published_publications %>

<% if @organisation.roles.any? %>
<section id="ministers">
  <h1>Ministers</h1>
  <ul class="ministers">
    <% @organisation.roles.each do |role| %>
      <%= content_tag_for(:li, role) do %>
        <span class="title"><%= role.name %></span>
        <% if role.person %>
          &mdash;
          <span class="name"><%= role.person.name %></span>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</section>
<% end %>