<% page_title @organisation.name %>
<% page_class "organisations-show" %>
<%= organisation_wrapper(@organisation, class: "hcard group") do %>

  <div class="block-1">
    <div class="inner-block">
      <div>
        <%= render 'header', organisation: @organisation %>
      </div>
    </div>
  </div>

  <% if @featured_editions.any? %>
    <div class="block-2">
      <div class="inner-block">
        <section class="organisation-news items-<%= @featured_editions.length %>" id="featured-documents">
          <%= render partial: 'news',
                    locals: { edition: @featured_editions.first,
                              extra_class: 'first' } %>
          <% @featured_editions.to_a.from(1).each_with_index do |edition, i| %>
            <%= render partial: 'news',
                      locals: { edition: edition,
                                extra_class: "secondary item-#{i}" } %>
          <% end %>
        </section>
      </div>
    </div>
  <% end %>

  <div class="block-4">
    <div class="inner-block">
      <section id="recently_updated" class="latest_documents">
          <h1 class="label">Latest</h1>
        <%= render(partial: "shared/recently_updated",
         locals: {recently_updated: @recently_updated}
        ) if @recently_updated.present? %>
      </section>
    </div>
  </div>

  <div class="block-5">
    <div class="inner-block">
      <section id="what-we-do">
        <h1 class="label">What we do</h1>
        <p class="description"><%= @organisation.description %></p>
        <p class="parent_organisations"><%= organisation_display_name_and_parental_relationship(@organisation) %></p>
        <p><%= organisation_navigation_link_to "See #{@organisation.acronym}'s priorities, business plan and more", about_organisation_path(@organisation) %></p>
        <% if @organisation.department? %>
          <p>
            <%= organisation_navigation_link_to 'See all of our agencies & partners', agencies_and_partners_organisation_path(@organisation) %>
          </p>
        <% end %>
      </section>
    </div>
  </div>

  <div class="block-6">
    <div class="inner-block">
      <% if @topics.any? %>
        <section id="topics">
          <h1 class="label">We focus on these topics</h1>
          <%= render partial: "topics/list_description", locals: {topics: @topics, organisation: @organisation} %>
        </section>
      <% end %>
    </div>
  </div>

  <div class="block-7">
    <div class="inner-block">
      <% if @policies.any? %>
        <section id="policies" class="heading-block">
          <h1 class="label">Our policies</h1>
          <div class="content">
            <%= render partial: "policies/list_description", locals: {policies: @policies} %>
            <p class="see-all">
              <%= link_to 'See all of our policies', policies_filter_path(@organisation) %>
            </p>
          </div>
        </section>
      <% end %>
      <% if @publications.any? %>
        <section id="publications" class="heading-block">
          <h1 class="label">Our publications</h1>
          <div class="content">
            <%= render partial: "publications/list_description", locals: {publications: @publications} %>
            <p class="see-all">
              <%= link_to 'See all of our publications', publications_filter_path(@organisation) %>
            </p>
          </div>
        </section>
      <% end %>
      <% if @announcements.any? %>
        <section id="announcements" class="heading-block">
          <h1 class="label">Our announcements</h1>
          <div class="content">
            <%= render partial: "announcements/list_description", locals: {announcements: @announcements} %>
            <p class="see-all">
              <%= link_to "See all of our announcements", announcements_filter_path(@organisation) %>
            </p>
          </div>
        </section>
        <% end %>
    </div>
  </div>


  <div class="block-9">
    <div class="inner-block">
      <section id="who">
        <% if @ministers.any? %>
          <section id="ministers">
            <h1 class="label">Our ministers</h1>
            <ul>
              <% @ministers.each do |minister| %>
                <%= content_tag_for(:li, minister) do %>
                  <div class="inner">
                    <h1 class="visuallyhidden">Minister</h1>
                    <div class="image_holder">
                      <%= minister.current_person_image %>
                    </div>
                    <h3 class="current-appointee"><%= minister.current_person_link %></h3>
                    <p class="role"><%= minister.link %></p>
                  </div>
                <% end %>
              <% end %>
            </ul>
          </section>
        <% end %>


        <% if @civil_servants.any? %>
          <section id="management">
            <h1 class="label">Our management</h1>
            <ul>
                <%= content_tag_for(:li, @civil_servants.first) do %>
                  <div class="inner">
                    <h1 class="visuallyhidden">Board member</h1>
                    <div class="image_holder">
                      <%= @civil_servants.first.current_person_image %>
                    </div>
                    <h3 class="current-appointee"><%= @civil_servants.first.current_person_link %></h3>
                    <p class="role"><%= @civil_servants.first.link %></p>
                  </div>
                <% end %>
            </ul>

            <ul class="management-secondary">
              <% @civil_servants.to_a.from(1).each do |civil_servant| %>
                <%= content_tag_for(:li, civil_servant) do %>
                  <div class="inner">
                    <h1 class="visuallyhidden">Board member</h1>
                    <h3 class="current-appointee"><%= civil_servant.current_person_link %></h3>
                    <p class="role"><%= civil_servant.link %></p>
                  </div>
                <% end %>
              <% end %>
            </ul>

          </section>
        <% end %>


        <% if @organisation.military_roles.any? %>
          <section id="military">
            <h1 class="label">Military</h1>
            <% if @top_military_role %>
              <ul>
                <%= content_tag_for(:li, @top_military_role) do %>
                  <div class="inner">
                    <div class="image_holder">
                      <%= @top_military_role.current_person_image %>
                    </div>
                    <h3 class="current-appointee"><%= @top_military_role.current_person_link %></h3>
                    <p class="role"><%= @top_military_role.link %></p>
                  </div>
                <% end %>
              </ul>
            <% end %>
            <p class="view_all"><%= link_to "View all chiefs of staff", chiefs_of_staff_organisation_path(@organisation) %></p>
          </section>
        <% end %>
      </section>
    </div>
  </div>

  <div class="block-10">
    <div class="inner-block">
      <h1 class="label">Contact <%= @organisation.display_name %></h1>
      <div id="org-contacts">
        <% addresses = @organisation.contacts.select { |c| c.address.present? } %>
        <% others = @organisation.contacts - addresses %>
        <div class="addresses">
          <% addresses.each do |contact| %>
            <div class="organisation_contact complex">
              <div class="contact-inner">
                <h2><%= contact.description %></h2>
                <% if contact.address.present? %>
                  <div class="adr">
                    <p class="fn org name"><%= @organisation.name %></p>
                    <% if @organisation.acronym.present? %>
                      <p class="nickname"><%= @organisation.acronym %></p>
                    <% end %>
                    <p class="street-address"><%= format_with_html_line_breaks(contact.address) %></p>
                    <p class="postal-code"><%= contact.postcode %></p>
                  </div>
                <% end %>
                <% if contact.email.present? %>
                  <p class="email"><span class="type">Email</span> <%= mail_to contact.email, contact.email, :class => "email" %></p>
                <% end %>
                <% contact.contact_numbers.each do |number| %>
                  <p class="tel"><span class="type"><%= number.label %></span> <%= number.number %></p>
                <% end %>
                <% if contact.mappable? %>
                  <p><%= link_to_google_map(contact) %></p>
                <% end %>
              </div>
            </div>
          <% end %>

          <% others.each do |contact| %>
            <div class="organisation_contact simple">
              <div class="contact-inner">
                <h2><%= contact.description %></h2>
                <% if contact.email.present? %>
                  <p class="email"><span class="type">Email</span> <%= mail_to contact.email, contact.email, :class => "email" %></p>
                <% end %>
                <% contact.contact_numbers.each do |number| %>
                  <p class="tel"><%= number.number %><span class="type"> <%= number.label %> </span></p>
                <% end %>
                <% if contact.mappable? %>
                  <p><%= link_to_google_map(contact) %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="social-media">
          <%= render 'social_media_accounts', organisation: @organisation %>
        </div>

      </div>
    </div>
  </div>

  <div class="block-11">
    <div class="inner-block">
      <%= render 'navigation', organisation: @organisation %>
    </div>
  </div>

<% end %>
