<% page_title @organisation.name %>

<%= content_tag_for :div, @organisation, class: "hcard" do %>
  <div class="g3f">
    <%= render 'header', organisation: @organisation %>
  </div>

  <div class="g3f page_detail">
    <div class="g2">
      <p class="description"><%= format_with_html_line_breaks(@organisation.description) %></p>
      <p class="about">
        <%= link_to "Read more about #{@organisation.name}", about_organisation_path(@organisation), title: "Further information about #{@organisation.name}" %>
      </p>
    </div>
    <div class="g1">
      <% roles = [@organisation.top_ministerial_role, @organisation.top_civil_servant].compact %>
      <% if @organisation.ministerial_roles.any? %>
        <section id="ministers">
          <%= render_list_of_ministerial_roles(roles) do |role| %>
            <div class="image_holder">
              <%= image_for_ministerial_role(role) %>
            </div>
            <h3>
              <% if role.is_a?(MinisterialRole) %>
                <%= link_to role.name, role %>
              <% else %>
                <%= role.name %>
              <% end %>
            </h3>
            <p class="current_appointee"><%= role.current_person_name %></p>
          <% end %>
        </section>
      <% end %>
    </div>
  </div>
<% end %>

<div class="g3f">
  <section class="org_news">
    <h1>Organisation news</h1>
    <% if @featured_news_articles.any? %>
      <section class="featured_carousel" id="featured-news-articles">
        <% @featured_news_articles.each do |news_article| %>
          <%= content_tag_for(:article, news_article) do %>
            <h2><%= link_to news_article.title, public_document_path(news_article), class: "title" %></h2>
            <p class="summary"><%= news_article.summary %></p>
            <div class="meta">
              <span class="published_at">Posted <%= time_ago(news_article.published_at, class: 'published_at') %> ago</span>
              <% news_article.policy_areas.uniq.each do |pa| %>
                <%= link_to pa.name, policy_area_path(pa), class: "policy_area tag" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </section>
    <% end %>
    <p class="further_articles all_announcements">View all <%= @organisation.name %> <%= link_to "news & speeches", announcements_organisation_path(@organisation), title: "View all #{@organisation.name} news & speeches" %></p>
  </section>

  <div class="g1 related_documents"><%= render partial: "documents/policy_areas", object: @organisation.policy_areas %></div>
  <div class="g1 related_documents"><%= render partial: "documents/policies", object: @policies, locals: { more: organisation_view_all_tag(@organisation, :policies) } %></div>
  <div class="g1 related_documents"><%= render partial: "documents/publications", object: @publications, locals: { more: organisation_view_all_tag(@organisation, :publications) } %></div>
  <div class="g1 related_documents"><%= render partial: "corporate_publications", object: @corporate_publications %></div>
  <div class="g1 related_documents"><%= render partial: "documents/speeches", object: @speeches %></div>
  <div class="g1 related_documents"><%= render partial: "documents/consultations", object: @consultations, locals: { more: organisation_view_all_tag(@organisation, :consultations) } %></div>

  <% if @organisation.child_organisations.any? %>
    <div class="g1 related_documents">
      <section id="child_organisations">
        <h1>Associated organisations</h1>
        <%= render partial: "organisations/list", locals: {organisations: @organisation.child_organisations} %>
      </section>
    </div>
  <% end %>
</div>
