<% page_title @organisation.name %>
<% page_class "organisation_homepage" %>
<%= organisation_wrapper(@organisation, class: "hcard group") do %>

  <div class="block-1">
    <div class="inner-block">
      <%= render "beta_warning", organisation: @organisation %>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <div>
        <%= render 'header', organisation: @organisation %>
      </div>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <div>
        <%= render partial: "shared/hero_rotator", locals: {news_articles: @primary_featured_editions, options: {organisational_context: true}} %>
      </div>
    </div>
  </div>

  <div class="block-4">
    <div class="inner-block">
      <div class="sidebar<% if @primary_featured_editions.any? %> sub_navigation_container<% end %>">
        <%= render 'sidebar', organisation: @organisation %>
      </div>
    </div>
  </div>

  <div class="block-5">
    <div class="inner-block">
      <ul class="secondary_featured">
        <% @secondary_featured_editions.each do |document| %>
          <%= content_tag_for :li, document, class: edition_organisation_class(document) do %>
            <div class="metadata published_or_updated">
              <%= published_or_updated(document) %>
              <%= relative_time(document.published_at, class: 'published_at') %>
            </div>
            <div><%= link_to document.title, public_document_path(document), class: "title" %></div>
            <div class="metadata">
              <span class="document_type"><%= human_friendly_edition_type(document) %></span>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="block-6">
    <div class="inner-block">
      <section id="recently_updated" class="latest_documents">
          <h1 class="label">Latest</h1>
        <%= render(partial: "shared/recently_updated",
         locals: {recently_updated: @recently_updated}
        ) if @recently_updated.present? %>
      </section>
    </div>
  </div>

  <div class="block-7">
    <div class="inner-block">
      <section id="who">
        <h1 class="label">People</h1>
        <% if @top_ministerial_role %>
          <section id="ministers">
            <h1 class="visuallyhidden">Minister</h1>
            <%= content_tag_for(:article, @top_ministerial_role) do %>
              <div class="image_holder">
                <%= @top_ministerial_role.current_person_image %>
              </div>
              <h3 class="current_appointee"><%= @top_ministerial_role.current_person_link %></h3>
              <p class="role"><%= @top_ministerial_role.link %></p>
            <% end %>
            <p class="view_all"><%= link_to 'View all ministers', ministers_organisation_path(@organisation) %></p>
          </section>
        <% end %>
        <% if @organisation.board_member_roles.any? %>
          <section id="management">
            <h1 class="visuallyhidden">Management</h1>
            <% if @top_civil_servant %>
              <%= content_tag_for(:article, @top_civil_servant) do %>
                <div class="image_holder">
                  <%= @top_civil_servant.current_person_image %>
                </div>
                <h3 class="current_appointee"><%= @top_civil_servant.current_person_link %></h3>
                <p class="role"><%= @top_civil_servant.link %></p>
              <% end %>
            <% end %>
            <p class="view_all"><%= link_to 'View management team', management_team_organisation_path(@organisation) %></p>
          </section>
        <% end %>
        <% if @organisation.military_roles.any? %>
          <section id="military">
            <h1 class="visuallyhidden">Military</h1>
            <% if @top_military_role %>
              <%= content_tag_for(:article, @top_military_role) do %>
                <div class="image_holder">
                  <%= @top_military_role.current_person_image %>
                </div>
                <h3 class="current_appointee"><%= @top_military_role.current_person_link %></h3>
                <p class="role"><%= @top_military_role.link %></p>
              <% end %>
            <% end %>
            <p class="view_all"><%= link_to "View all chiefs of staff", chiefs_of_staff_organisation_path(@organisation) %></p>
          </section>
        <% end %>
      </section>
    </div>
  </div>

  <div class="block-8">
    <div class="inner-block">
      <%= render partial: "documents/topics", object: @organisation.topics_with_content, title: "Our topics" %>
    </div>
  </div>

<% end %>
