<div class="g2">
  <%= content_tag_for :section, @organisation, :class => "hcard" do %>
    <h1 class="fn org name"><%= @organisation.name %></h1>
    <div class="adr">
      <p class="street-address"><%= @organisation.address %></p>
      <p class="postal-code"><%= @organisation.postcode %></p>
      <p><%= link_to_google_map(@organisation) %></p>
    </div>
    <p><%= mail_to @organisation.email, @organisation.email, :class => "email" %></p>
    <% @organisation.phone_numbers.each do |phone_number| %>
      <p class="tel"><span class="type"><%= phone_number.description %></span> <%= phone_number.number %></p>
    <% end %>
  <% end %>
</div>

<div class="g1 secondary">
  <%= render partial: "documents/policies", object: @policies %>
  <%= render partial: "documents/publications", object: @publications %>
  <%= render partial: "documents/news_articles", object: @news_articles %>
  <%= render partial: "documents/speeches", object: @speeches %>

  <% if @organisation.child_organisations.any? %>
    <section id="child_organisations">
      <h1>Child organisations</h1>
      <%= render partial: "organisations/list", locals: {organisations: @organisation.child_organisations} %>
    </section>
  <% end %>
  
  <% if @organisation.parent_organisations.any? %>
    <section id="parent_organisations">
      <h1>Parent organisations</h1>
      <%= render partial: "organisations/list", locals: {organisations: @organisation.parent_organisations} %>
    </section>
  <% end %>
</div>

<div class="g3">

  <div class="g-half first secondary">
    <% if @organisation.ministerial_roles.any? %>
    <section id="ministers">
      <h1>Ministers</h1>
      <%= render_list_of_ministerial_roles(@organisation.ministerial_roles) do |ministerial_role| %>
        <div class="image_holder">
          <%= image_tag ministerial_role.current_person_image_url || "/assets/blank-person.jpg" %>
        </div>
        <h3><%= link_to ministerial_role.name, ministerial_role %></h3>
        <p class="current_appointee"><%= ministerial_role.current_person_name %></p>
      <% end %>
    </section>
    <% end %>
  </div>

  <div class="g-half secondary">
    <% if @organisation.board_member_roles.any? %>
      <section id="board_members">
      <% if @organisation.permanent_secretary_board_member_roles.any? %>
        <section id="leading_board_members">
          <h1>Permanent Secretaries</h1>
          <%= render_list_of_roles(@organisation.permanent_secretary_board_member_roles, "permanent_secretary_board_member_roles") do |board_member_role| %>
            <h3><%= board_member_role.name %></h3>
            <p class="current_appointee"><%= board_member_role.current_person_name %></p>
          <% end %>
        </section>
      <% end %>
      <% if @organisation.other_board_member_roles.any? %>
        <section id="other_board_members">
          <h1>Other Board Members</h1>
          <%= render_list_of_roles(@organisation.other_board_member_roles, "other_board_member_roles") do |board_member_role| %>
            <h3><%= board_member_role.name %></h3>
            <p class="current_appointee"><%= board_member_role.current_person_name %></p>
          <% end %>
        </section>
      <% end %>
      </section>
    <% end %>
  </div>

</div>
