<%= content_tag_for :section, @organisation, :class => "hcard" do %>
  <h1 class="fn org name"><%= @organisation.name %></h1>
  <div class="adr">
    <p class="street-address"><%= @organisation.address %></p>
    <p class="postal-code"><%= @organisation.postcode %></p>
  </div>
  <p><%= mail_to @organisation.email, @organisation.email, :class => "email" %></p>
  <% @organisation.phone_numbers.each do |phone_number| %>
    <p class="tel"><span class="type"><%= phone_number.description %></span> <%= phone_number.number %></p>
  <% end %>
<% end %>

<%= render partial: "documents/policies", object: @policies %>
<%= render partial: "documents/publications", object: @publications %>
<%= render partial: "documents/news_articles", object: @news_articles %>

<% if @organisation.ministerial_roles.any? %>
<section id="ministers" class="g1">
  <h1>Ministers</h1>
  <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: @organisation.ministerial_roles} %>
</section>
<% end %>

<% if @organisation.board_member_roles.any? %>
<section id="board_members" class="g1">
  <h1>Board Members</h1>
  <%= render partial: "board_member_roles/list", locals: {board_member_roles: @organisation.board_member_roles} %>
</section>
<% end %>