<% page_title @organisation.name %>
<%= organisation_wrapper(@organisation, class: "hcard group") do %>
  <section id="organisation_disclaimer">
    <h1>BETA</h1>
    <p>This is a test website.
    <% if @organisation.url.present? %>
    The official website remains <%= link_to @organisation.url, @organisation.url %>.
    <% end %>
    </p>
  </section>

  <div class="g3f">
    <div class="g1f">
      <%= render 'header', organisation: @organisation %>
    </div>

    <div class="g2">
      <% if @featured_news_articles.any? %>
        <section class="org_news gutter">
          <h1>Top stories</h1>
          <section class="featured_carousel" id="featured-news-articles">
            <% @featured_news_articles.each do |news_article| %>
              <%= content_tag_for(:article, news_article) do %>
                <div class="img">
                  <% if news_article.images.any? %>
                    <%= image_tag(news_article.images.first.url, alt: news_article.images.first.alt_text) %>
                  <% end %>
                </div>
                <h2><%= link_to news_article.title, public_document_path(news_article), class: "title" %></h2>
                <p class="summary"><%= news_article.summary %></p>
                <div class="meta">
                  <span class="published_at">Posted <%= time_ago(news_article.published_at, class: 'published_at') %> ago</span>
                  <% news_article.policy_topics.uniq.each do |pa| %>
                    <%= link_to pa.name, policy_topic_path(pa), class: "policy_topic tag" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </section>
        </section>
      <% end %>

      <% roles = [@organisation.top_ministerial_role, @organisation.top_civil_servant].compact %>

      <% if ministerial_role = @organisation.top_ministerial_role %>
        <section id="ministers" class="g-half info">
          <h1><%= link_to 'Ministers', ministers_organisation_path(@organisation) %></h1>
          <%= content_tag_for(:article, ministerial_role) do %>
            <div class="image_holder">
              <%= image_for_ministerial_role(ministerial_role) %>
            </div>
            <h3><%= link_to ministerial_role.name, ministerial_role %></h3>
            <p class="current_appointee"><%= ministerial_role.current_person_name %></p>
          <% end %>
        </section>
      <% end %>
      <% if management_role = @organisation.top_civil_servant %>
        <section id="management" class="g-half info">
          <h1><%= link_to 'Management', management_team_organisation_path(@organisation) %></h1>
          <%= content_tag_for(:article, management_role) do %>
            <div class="image_holder">
              <%= image_for_ministerial_role(management_role) %>
            </div>
            <h3><%= management_role.name %></h3>
            <p class="current_appointee"><%= management_role.current_person_name %></p>
          <% end %>
        </section>
      <% end %>
      <%= render partial: "documents/policy_topics", object: @organisation.policy_topics, title: "Our policy topics" %>
    </div>
  </div>

  <div class="g4">
    <% if @policies.any? %>
      <div class="g1">
        <section id="policies">
          <h1><%= link_to 'Policies', policies_organisation_path(@organisation) %></h1>
          <ul>
          <% @policies.each do |policy| %>
            <%= content_tag_for(:li, policy) do %>
            <h2 class="article_title"><%= link_to policy.title, public_document_path(policy), title: "View #{policy.title}", class: "title" %></h2>
            <p class="metadata">
              <%= time_ago(policy.updated_at, class: 'updated_at') %>
            </p>
          <% end %>
          <% end %>
          </ul>
        </section>
      </div>
    <% end %>

    <% if @publications.any? %>
      <div class="g1">
        <section id="publications">
          <h1><%= link_to 'Publications', publications_organisation_path(@organisation) %></h1>
          <ul>
          <% @publications.each do |publication| %>
            <%= content_tag_for(:li, publication) do %>
            <h2 class="article_title"><%= link_to publication.title, public_document_path(publication), title: "View #{publication.title}" %></h2>
            <p class="metadata">
              <%= time_ago(publication.updated_at, class: 'updated_at') %>
            </p>
          <% end %>
          <% end %>
          </ul>
        </section>
      </div>
    <% end %>

    <% if @consultations.any? %>
      <div class="g1">
        <section id="consultations">
          <h1><%= link_to 'Consultations', consultations_organisation_path(@organisation) %></h1>
          <ul>
          <% @consultations.each do |consultation| %>
            <%= content_tag_for(:li, consultation) do %>
            <h2 class="article_title"><%= link_to consultation.title, public_document_path(consultation), title: "View #{consultation.title}" %></h2>
            <p class="metadata">
              <%= time_ago(consultation.updated_at, class: 'updated_at') %>
            </p>
          <% end %>
          <% end %>
          </ul>
        </section>
      </div>
    <% end %>

    <% if @speeches.any? %>
      <div class="g1">
        <section id="speeches">
          <h1><%= link_to 'Speeches', announcements_organisation_path(@organisation) %></h1>
          <ul>
          <% @speeches.each do |speech| %>
            <%= content_tag_for(:li, speech) do %>
            <h2 class="article_title"><%= link_to speech.title, public_document_path(speech), title: "View #{speech.title}", class: 'title' %></h2>
            <p class="metadata">
              <%= time_ago(speech.updated_at, class: 'updated_at') %>
            </p>
          <% end %>
          <% end %>
          </ul>
        </section>
      </div>
    <% end %>

  </div>

  <div class="g4">
    <% if @organisation.child_organisations.any? %>
      <section id="child_organisations" class="info">
        <h1>Associated organisations</h1>
        <% in_columns(@organisation.child_organisations, 4) do |organisation_group| %>
          <div class="g1">
            <% organisation_group.each do |organisation| %>
              <ul>
                <%= content_tag_for(:li, organisation) do %>
                  <%= if organisation.active?
                        link_to organisation.name, organisation_path(organisation)
                      else
                        organisation.name
                      end %>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
      </section>
    <% end %>
  </div>

<% end %>

