<% page_title @organisation.name %>
<% page_class "organisations-show" %>
<% atom_discovery_link_tag organisation_url(@organisation, format: :atom), "Latest activity" %>

<%= organisation_wrapper(@organisation) do %>

  <div class="block-1">
    <div class="inner-block">
      <%= render partial: 'shared/available_languages', locals: {object: @organisation} %>
      <%= render 'header', organisation: @organisation, show_mainstream_links: true %>
    </div>
  </div>

  <div class="block-2 <%= "has-social" if @organisation.social_media_accounts.any? %>">
    <div class="inner-block">
      <%= render partial: 'featured_items',
                locals: { feature_list: @feature_list,
                          recently_updated: @recently_updated,
                          organisation: @organisation } %>
      <section id="what-we-do" class="what-we-do">
        <div class="content">
          <% if @organisation.organisation_type.sub_organisation? %>
            <p class="description"><%= @organisation.description %></p>
            <div class="body">
              <%= govspeak_to_html @organisation.about_us %>
            </div>
          <% else %>
            <h1 class="label"><%= t('organisation.headings.what_we_do') %></h1>
            <div class="overview">
              <p class="description"><%= @organisation.description %></p>
              <p class="parent_organisations">
                <%= organisation_display_name_and_parental_relationship(@organisation) %><% if @organisation.agencies_and_public_bodies.any? %>,
                  supported by
                  <% agencies_and_public_bodies_count = @organisation.agencies_and_public_bodies.count %>
                  <% if agencies_and_public_bodies_count == 1 %>
                    <%= link_to "#{agencies_and_public_bodies_count} public body", organisations_path(anchor: @organisation.slug) %>.
                  <% else %>
                    <%= link_to "#{agencies_and_public_bodies_count} agencies and public bodies", organisations_path(anchor: @organisation.slug) %>.
                  <% end %><% end %>
              </p>
              <p><%= link_to t('organisation.about.read_more'), about_organisation_path(@organisation), id: 'read_more_link' %></p>
            </div>
          <% end %>
        </div>
      </section>
      <% if @organisation.social_media_accounts.any? %>
        <div class="social-media">
          <div class="content">
            <%= render 'shared/social_media_accounts', socialable: @organisation %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @topics.any? %>
    <div class="block-6">
      <div class="inner-block">
        <section id="topics">
          <h1 class="label"><%= t('organisation.headings.our_topics') %></h1>
          <%= render partial: "classifications/list_description", locals: {topics: @topics, organisation: @organisation} %>
        </section>
      </div>
    </div>
  <% end %>

  <% if @mainstream_categories.any? %>
    <div class="block-6">
      <div class="inner-block">
        <section id="mainstream_categories">
          <h1 class="label"><%= t('organisation.headings.our_mainstream_categories') %></h1>
          <%= render partial: "mainstream_categories/list_description", locals: {mainstream_categories: @mainstream_categories, organisation: @organisation} %>
        </section>
      </div>
    </div>
  <% end %>

  <% if @policies.any? %>
    <div class="block-7">
      <div class="inner-block">
        <% if @policies.any? %>
          <section id="policies" class="heading-block">
            <h1 class="label"><%= link_to t('organisation.headings.our_policies'), policies_filter_path(@organisation) %></h1>
            <div class="content">
              <%= render partial: "policies/list_description", locals: {policies: @policies} %>
              <p class="see-all">
                <%= link_to 'See all of our policies', policies_filter_path(@organisation) %>
              </p>
            </div>
          </section>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if (@non_statistics_publications + @announcements + @consultations + @statistics_publications).any? %>
    <% document_block_count = 0 %>
    <div class="block documents-grid">
      <div class="inner-block">
        <h1 class="block-title">Documents</h1>
        <% if @announcements.any? %>
          <section id="announcements" class="document-block documents-<%= document_block_count+=1 %>">
            <h1><%= t('organisation.headings.our_announcements') %></h1>
            <div class="content">
              <%= render partial: "announcements/list_description", locals: {announcements: @announcements} %>
              <p class="see-all">
                <%= link_to "See all of our announcements", announcements_filter_path(@organisation) %>
              </p>
            </div>
          </section>
        <% end %>
        <% if @consultations.any? %>
          <section id="consultations" class="document-block documents-<%= document_block_count+=1 %>">
            <h1>Our consultations</h1>
            <div class="content">
              <%= render partial: "publications/list_description", locals: {publications: @consultations} %>
              <p class="see-all">
                <%= link_to 'See all of our consultations', publications_filter_path(@organisation, publication_filter_option: 'consultations') %>
              </p>
            </div>
          </section>
        <% end %>
        <% if @non_statistics_publications.any? %>
          <section id="publications" class="document-block documents-<%= document_block_count+=1 %>">
            <h1><%= t('organisation.headings.our_publications') %></h1>
            <div class="content">
              <%= render partial: "publications/list_description", locals: {publications: @non_statistics_publications} %>
              <p class="see-all">
                <%= link_to 'See all of our publications', publications_filter_path(@organisation) %>
              </p>
            </div>
          </section>
        <% end %>
        <% if @statistics_publications.any? %>
          <section id="statistics-publications" class="document-block documents-<%= document_block_count+=1 %>">
            <h1><%= t('organisation.headings.our_statistics') %></h1>
            <div class="content">
              <%= render partial: "publications/list_description", locals: {publications: @statistics_publications} %>
              <p class="see-all">
                <%= link_to 'See all of our statistics', publications_filter_path(@organisation, publication_filter_option: 'statistics') %>
              </p>
            </div>
          </section>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if people_to_show? %>
    <div class="block-9">
      <div class="inner-block" id="people">
        <section id="who">
          <% if @ministers.any? %>
            <section id="ministers">
              <h1 class="label"><%= t('organisation.headings.our_ministers') %></h1>
              <ul>
              <% @ministers.each_with_index do |role, i| %>
                <%= render partial: "people/person",
                           locals: {
                             person: role.current_person,
                             roles: @ministerial_roles.roles_for(role.current_person),
                             hlevel: "h3",
                             extra_class: (i % 4 == 0) ? 'clear-person' : ''
                           } %>
              <% end %>
              </ul>
            </section>
          <% end %>

          <% if @military_personnel.any? %>
            <section id="military">
              <h1 class="label"><%= t('organisation.headings.our_senior_military_officials') %></h1>
              <ul>
                <% @military_personnel.each_with_index do |role, i| %>
                <%= render partial: "people/person",
                            locals: {
                              person: role.current_person,
                              roles: @military_roles.roles_for(role.current_person),
                              hlevel: "h3",
                              hide_image: false,
                              extra_class: (i % 4 == 0) ? 'clear-person' : ''
                            } %>
              <% end %>
              </ul>
            </section>
          <% end %>

          <% if @important_board_members.any? || @board_members.any? %>
            <section id="management" class="important-board-members-<%= @organisation.important_board_members %>">
              <h1 class="label"><%= t('organisation.headings.our_management') %></h1>
              <ul class="management-primary">
                <% @important_board_members.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @board_member_roles.roles_for(role.current_person),
                               hlevel: "h2"
                             } %>
                <% end %>
              </ul>
              <ul class="management-secondary">
                <% @board_members.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @board_member_roles.roles_for(role.current_person),
                               hlevel: "h2",
                               hide_image: true,
                               extra_class: extra_board_member_class(@organisation, i)
                             } %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @traffic_commissioners.any? %>
            <section id="traffic_commissioners">
              <h1 class="label"><%= t('organisation.headings.traffic_commissioners') %></h1>
              <ul>
                <% @traffic_commissioners.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @traffic_commissioner_roles.roles_for(role.current_person),
                               hlevel: "h3",
                               hide_image: false,
                               extra_class: (i % 4 == 0) ? 'clear-person' : ''
                             } %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @special_representatives.any? %>
            <section id="special_representatives">
              <h1 class="label"><%= t('organisation.headings.special_representatives') %></h1>
              <ul>
                <% @special_representatives.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @special_representative_roles.roles_for(role.current_person),
                               hlevel: "h3",
                               hide_image: false,
                               extra_class: (i % 4 == 0) ? 'clear-person' : ''
                             } %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @chief_professional_officers.any? %>
            <section id="chief_professional_officers">
              <h1 class="label"><%= t('organisation.headings.chief_professional_officers') %></h1>
              <ul>
                <% @chief_professional_officers.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @chief_professional_officer_roles.roles_for(role.current_person),
                               hlevel: "h3",
                               hide_image: false,
                               extra_class: (i % 4 == 0) ? 'clear-person' : ''
                             } %>
                <% end %>
              </ul>
            </section>
          <% end %>
        </section>
      </div>
    </div>
  <% end %>

  <% @organisation.promotional_features.each do |promotional_feature| %>
    <%= content_tag_for(:feature, promotional_feature) do %>
      <h3><%= promotional_feature.title %></h3>
      <% promotional_feature.items.each do |item| %>
        <%= content_tag_for(:div, item) do %>
          <p><%= item.summary %></p>
          <p><%= link_to item.link_text, item.link_url %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="block-10">
    <div class="inner-block">
      <div class="contact-wrapper">
        <h1 id="org-contacts" class="label"><%= t('organisation.headings.contact', name: @organisation.display_name) %></h1>
        <div class="org-contacts">
          <div class="addresses">
            <%= render partial: 'contacts/contact', collection: @organisation.home_page_contacts %>
          </div>
        </div>

        <section id="foi-contacts">
          <h1 class="label"><%= t('organisation.headings.making_foi_requests') %></h1>
          <ol class="steps">
            <li><%= t('organisation.making_foi_requests.step1_html', how_to_path: 'https://www.gov.uk/make-a-freedom-of-information-request/the-freedom-of-information-act') %></li>
            <li><%= t('organisation.making_foi_requests.step2_html', our_releases_path: publications_filter_path(@organisation, publication_type: 'foi-releases')) %></li>
            <% if @foi_contacts.any? %>
              <li><%= t('organisation.making_foi_requests.step3_html') %></li>
            <% end %>
          </ol>

          <% if @foi_contacts.any? %>
            <div class="org-contacts">
              <div class="addresses js-hide-extra-contacts">
                <%= render partial: 'contacts/contact', collection: @foi_contacts %>
              </div>
            </div>
          <% end %>
        </section>

        <% if @sub_organisations.any? %>
          <section id="high-profile-units">
            <h1 class="label">High profile groups within <%= @organisation.display_name %></h1>
            <nav class="group sub_navigation" role="navigation">
              <ul class="sub_organisations">
                <% @sub_organisations.each do |sub_organisation| %>
                  <%= content_tag_for :li, sub_organisation do %>
                    <%= link_to sub_organisation.name, organisation_path(sub_organisation) %>
                  <% end %>
                <% end %>
              </ul>
            </nav>
          </section>
        <% end %>
      </div>

      <% if @organisation.corporate_information_pages.any? %>
        <%= render partial: 'corporate_information',
                   locals: { organisation: @organisation,
                             show_corporate_reports: true } %>
      <% end %>

    </div>
  </div>


<% end %>
