<% page_title @organisation.name %>
<% page_class "organisation_homepage" %>
<%= organisation_wrapper(@organisation, class: "hcard group") do %>

  <div class="block-1">
    <div class="inner-block">
      <div>
        <%= render 'header', organisation: @organisation %>
      </div>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <div>
        <%= render partial: "shared/hero_rotator", locals: {editions: @primary_featured_editions, options: {organisational_context: true}} %>
      </div>
      <p>
        <% if @organisation.department? %>
        <%= link_to "See all our announcements", announcements_filter_path(@organisation) %>
        <% end %>
      </p>
    </div>
  </div>

    <div class="block-3">
    <div class="inner-block">
      <% if @secondary_featured_editions.any? %>
      <ul class="secondary-featured">
        <% @secondary_featured_editions.each do |document| %>
          <%= content_tag_for :li, document, class: edition_organisation_class(document) do %>
            <div class="feature-inner">
              <div class="metadata published_or_updated">
                <%= published_or_updated(document) %>
                <%= relative_time(document.published_at, class: 'published_at') %>
              </div>
              <div><%= link_to document.title, public_document_path(document), class: "title" %></div>
              <div class="summary"><%= document.summary %></div>
              <div class="metadata">
                <span class="document_type"><%= human_friendly_edition_type(document) %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    </div>
  </div>

  <div class="block-4">
    <div class="inner-block">
      <section id="recently_updated" class="latest_documents">
          <h1 class="label">Latest</h1>
        <%= render(partial: "shared/recently_updated",
         locals: {recently_updated: @recently_updated}
        ) if @recently_updated.present? %>
      </section>
    </div>
  </div>

  <div class="block-5">
    <div class="inner-block">
      <h1 class="label">What we do</h1>
      <p class="parent_organisations"><%= organisation_display_name_and_parental_relationship(@organisation) %></p>
      <p class="description"><%= @organisation.description %></p>
      <p><%= organisation_navigation_link_to "Read more about #{@organisation.acronym}", about_organisation_path(@organisation) %></p>
      <p>
      <% if @organisation.department? %>
        <%= organisation_navigation_link_to 'See all of our agencies & partners', agencies_and_partners_organisation_path(@organisation) %>
      <% end %>
      </p>
    </div>
  </div>

  <div class="block-6">
    <div class="inner-block">
      <% if @topics.any? %>
        <section id="topics">
          <h1 class="label">We focus on these topics</h1>
          <%= render partial: "topics/list_description", locals: {topics: @topics} %>
        </section>
      <% end %>
    </div>
  </div>

  <div class="block-7">
    <div class="inner-block">
      <% if @policies.any? %>
        <section id="policies" class="simple_list">
          <h1 class="label">Our policies</h1>
          <%= render partial: "policies/list_description", locals: {policies: @policies} %>
          <p class="see-all">
            <%= link_to 'See all of our policies', policies_filter_path(@organisation) %>
          </p>
        </section>
      <% end %>
    </div>
  </div>

  <div class="block-8">
    <div class="inner-block">
      <% if @publications.any? %>
        <section id="publications" class="simple_list">
          <h1 class="label">Our publications</h1>
          <%= render partial: "publications/list_description", locals: {publications: @publications} %>
          <p class="see-all">
            <%= link_to 'See all of our publications', publications_filter_path(@organisation) %>
          </p>
        </section>
      <% end %>
    </div>
  </div>

  <div class="block-9">
    <div class="inner-block">
      <section id="who">
        <h1 class="label">Our ministers</h1>
        <% if @ministers.any? %>
          <section id="ministers">
            <ul>
              <% @ministers.each do |minister| %>
                <%= content_tag_for(:li, minister) do %>
                  <h1 class="visuallyhidden">Minister</h1>
                  <div class="image_holder">
                    <%= minister.current_person_image %>
                  </div>
                  <h3 class="current-appointee"><%= minister.current_person_link %></h3>
                  <p class="role"><%= minister.link %></p>
                <% end %>
              <% end %>
            </ul>
          </section>
        <% end %>
        <% if @organisation.board_member_roles.any? %>
          <section id="management">
            <h1 class="label">Management</h1>
            <% if @top_civil_servant %>
              <%= content_tag_for(:article, @top_civil_servant) do %>
                <div class="image_holder">
                  <%= @top_civil_servant.current_person_image %>
                </div>
                <h3 class="current-appointee"><%= @top_civil_servant.current_person_link %></h3>
                <p class="role"><%= @top_civil_servant.link %></p>
              <% end %>
            <% end %>
            <p class="view_all"><%= link_to 'View management team', management_team_organisation_path(@organisation) %></p>
          </section>
        <% end %>
        <% if @organisation.military_roles.any? %>
          <section id="military">
            <h1 class="label">Military</h1>
            <% if @top_military_role %>
              <%= content_tag_for(:article, @top_military_role) do %>
                <div class="image_holder">
                  <%= @top_military_role.current_person_image %>
                </div>
                <h3 class="current-appointee"><%= @top_military_role.current_person_link %></h3>
                <p class="role"><%= @top_military_role.link %></p>
              <% end %>
            <% end %>
            <p class="view_all"><%= link_to "View all chiefs of staff", chiefs_of_staff_organisation_path(@organisation) %></p>
          </section>
        <% end %>
      </section>
    </div>
  </div>

  <div class="block-10">
    <div class="inner-block">
      <div class="social-media">
        <%= render 'social_media_accounts', organisation: @organisation %>
      </div>
    </div>
  </div>

  <div class="block-11">
    <div class="inner-block">
      <%= render 'navigation', organisation: @organisation %>
    </div>
  </div>

<% end %>
