<% page_title @organisation.name %>

<%= content_tag_for :div, @organisation, class: "hcard" do %>
  <div class="g3f">
    <%= render 'header', organisation: @organisation %>
  </div>

  <div class="g3f page_detail">
    <div class="g2">
      <p class="description"><%= format_with_html_line_breaks(@organisation.description) %></p>
      <p class="about">
        <%= link_to "Read more about #{@organisation.name}", about_organisation_path(@organisation), title: "Further information about #{@organisation.name}" %>
      </p>
    </div>
    <div class="g1">
      <% if @organisation.ministerial_roles.any? %>
        <section id="ministers">
          <%= render_list_of_ministerial_roles([@organisation.top_ministerial_role]) do |ministerial_role| %>
            <div class="image_holder">
              <%= image_for_ministerial_role(ministerial_role) %>
            </div>
            <h3><%= link_to ministerial_role.name, ministerial_role %></h3>
            <p class="current_appointee"><%= ministerial_role.current_person_name %></p>
          <% end %>
        </section>
      <% end %>
    </div>
  </div>
<% end %>

<div class="g3f">
  <section class="org_news">
    <h1>Organisation news</h1>
    <% if @featured_news_articles.any? %>
      <section class="featured_carousel" id="featured-news-articles">
        <% @featured_news_articles.each do |news_article| %>
          <%= content_tag_for(:article, news_article) do %>
            <h2><%= link_to news_article.title, public_document_path(news_article), class: "title" %></h2>
            <p class="summary"><%= news_article.summary %></p>
            <div class="meta">
              <span class="published_at">Posted <%= time_ago(news_article.published_at, class: 'published_at') %> ago</span>
              <% news_article.policy_areas.uniq.each do |pa| %>
                <%= link_to pa.name, policy_area_path(pa), class: "policy_area tag" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </section>
    <% end %>
    <p class="further_articles all_news">View all <%= @organisation.name %> <%= link_to "news", news_organisation_path(@organisation), title: "View all #{@organisation.name} news" %></p>
  </section>

  <div class="g1 related_documents"><%= render partial: "documents/policy_areas", object: @organisation.policy_areas %></div>
  <div class="g1 related_documents"><%= render partial: "documents/policies", object: @policies %></div>
  <div class="g1 related_documents"><%= render partial: "documents/publications", object: @publications %></div>
  <div class="g1 related_documents"><%= render partial: "corporate_publications", object: @corporate_publications %></div>
  <div class="g1 related_documents"><%= render partial: "documents/speeches", object: @speeches %></div>
  <div class="g1 related_documents"><%= render partial: "documents/consultations", object: @consultations %></div>

  <% if @organisation.child_organisations.any? %>
    <div class="g1 related_documents">
      <section id="child_organisations">
        <h1>Associated organisations</h1>
        <%= render partial: "organisations/list", locals: {organisations: @organisation.child_organisations} %>
      </section>
    </div>
  <% end %>
</div>

<div class="g3">
  <div class="g1 related_documents">
    <% if @organisation.board_member_roles.any? %>
      <section id="board_members">
      <% if @organisation.permanent_secretary_board_member_roles.any? %>
        <section id="permanent_secretary_board_members">
          <h1>Permanent secretaries</h1>
          <%= render_list_of_roles(@organisation.permanent_secretary_board_member_roles, "permanent_secretary_board_member_roles") do |board_member_role| %>
            <h3><%= board_member_role.name %></h3>
            <p class="current_appointee"><%= board_member_role.current_person_name %></p>
          <% end %>
        </section>
      <% end %>
      <% if @organisation.other_board_member_roles.any? %>
        <section id="other_board_members">
          <h1>Other Board Members</h1>
          <%= render_list_of_roles(@organisation.other_board_member_roles, "other_board_member_roles") do |board_member_role| %>
            <h3><%= board_member_role.name %></h3>
            <p class="current_appointee"><%= board_member_role.current_person_name %></p>
          <% end %>
        </section>
      <% end %>
      </section>
    <% end %>
  </div>
</div>
