<% page_title @organisation.name %>
<% page_class "organisations-executive-office" %>
<% bar_colour_class organisation_brand_colour_class(@organisation) %>
<% atom_discovery_link_tag atom_feed_url_for(@organisation), "Latest activity" %>

<%= organisation_wrapper(@organisation) do %>
  <header class="executive-office-header block">
    <div class="inner-block">
      <h1><%= @organisation.logo_formatted_name %></h1>
    </div>
  </header>

  <div class="block">
    <div class="inner-block floated-children">
      <%= render partial: 'featured_items',
                locals: { feature_list: @feature_list,
                          recently_updated: @recently_updated,
                          organisation: @organisation,
                          all_announcements_link: announcements_filter_path(@organisation) } %>
    </div>
  </div>

  <div class="block feature-block">
    <div class="inner-block floated-children">
      <section id="featured-topics-and-policies" class="promo">
        <div class="content">
          <h2>Featured topics and policies</h2>
          <% if @organisation.featured_topics_and_policies_list_summary.present? %>
            <p class="description"><%= format_with_html_line_breaks(@organisation.featured_topics_and_policies_list_summary) %></p>
          <% end %>
          <%= render_featured_topics_and_policies_list(@organisation.featured_topics_and_policies_list) %>
          <p><%= link_to_all_featured_policies @organisation %></p>
        </div>
      </section>

      <% if @organisation.social_media_accounts.any? %>
        <div class="social-media promo">
          <div class="content">
            <%= render 'shared/social_media_accounts', socialable: @organisation %>
          </div>
        </div>
      <% end %>

      <section class="features">
        <% @promotional_features.each do |feature| %>
          <%= content_tag_for(:div, feature, class: feature.css_classes) do %>
            <h2><%= feature.title %></h2>
            <%= render partial: 'promotional_feature_item', as: :item, collection: feature.promotional_feature_items %>
          <% end %>
        <% end %>
      </section>
    </div>
  </div>

  <div class="block">
    <div class="inner-block floated-children">
      <section class="contact-wrapper">
        <h1 id="org-contacts" class="label"><%= t('organisation.headings.contact', name: @organisation.display_name) %></h1>
        <div class="org-contacts">
          <div class="addresses">
            <%= render partial: 'contacts/contact', collection: @organisation.home_page_contacts %>
          </div>
        </div>
      </section>
      <% if @organisation.corporate_information_pages.any? %>
        <section class="corporate-information">
          <ul class="dash-list">
            <% @organisation.corporate_information_pages.each do |page| %>
              <li><%= link_to page.title, organisation_corporate_information_page_path(@organisation, page.slug) %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </div>
  </div>
<% end %>
