<% page_title @organisation.name %>
<% page_class "organisations-show" %>
<% atom_discovery_link_tag organisation_url(@organisation, format: :atom), "Latest activity" %>

<%= organisation_wrapper(@organisation) do %>

  <div class="block-1">
    <div class="inner-block">
      <%= render 'header', organisation: @organisation, show_mainstream_links: true %>
    </div>
  </div>

  <div class="block-2 <%= "has-social" if @organisation.social_media_accounts.any? %>">
    <div class="inner-block">
      <section class="organisation-news items-<%= @featured_editions.length %>" id="featured-documents">
        <% if @featured_editions.any? %>
          <%= render partial: 'shared/featured_news',
                    locals: { edition: @featured_editions.first,
                              extra_class: 'first',
                              show_meta: true,
                              image_size: :s630 } %>
          <% @featured_editions.to_a.from(1).each_with_index do |edition, i| %>
            <%= render partial: 'shared/featured_news',
                      locals: { edition: edition,
                                show_meta: true,
                                extra_class: "secondary item-#{i}" } %>
          <% end %>
        <% end %>

        <section id="recently-updated" class="latest-documents">
          <div class="content">
            <h1 class="label">Latest</h1>
            <% if @recently_updated.any? %>
              <%= render partial: "shared/recently_updated",
                          locals: {recently_updated: @recently_updated} %>
            <% else %>
              <p>No recent updates</p>
            <% end %>
            <div class="filter-feed">
              <%= link_to_feed organisation_url(@organisation, format: :atom) %>
            </div>
          </div>
        </section>
      </section>

      <section id="what-we-do" class="what-we-do">
        <div class="content">
          <% if @organisation.organisation_type.sub_organisation? %>
            <p class="description"><%= @organisation.description %></p>
            <div class="body">
              <%= govspeak_to_html @organisation.about_us %>
            </div>
          <% else %>
            <h1 class="label">What we do</h1>
            <p class="description"><%= @organisation.description %></p>
            <p class="parent_organisations">
              <%= organisation_display_name_and_parental_relationship(@organisation) %>
              <% if @organisation.department? %>,
                supported by <%= link_to "#{@organisation.agencies_and_public_bodies.count} agencies and public bodies", organisations_path(anchor: @organisation.slug) %>.
              <% end %>
            </p>
            <p><%= link_to "Read more about what we do", about_organisation_path(@organisation) %></p>
          <% end %>
        </div>
      </section>
      <% if @organisation.social_media_accounts.any? %>
        <div class="social-media">
          <div class="content">
            <%= render 'shared/social_media_accounts', socialable: @organisation %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @topics.any? %>
    <div class="block-6">
      <div class="inner-block">
        <section id="topics">
          <h1 class="label">We work on these topics</h1>
          <%= render partial: "classifications/list_description", locals: {topics: @topics, organisation: @organisation} %>
        </section>
      </div>
    </div>
  <% end %>

  <% if @policies.any? || @publications.any? || @announcements.any? %>
    <div class="block-7">
      <div class="inner-block">
        <% if @policies.any? %>
          <section id="policies" class="heading-block">
            <h1 class="label"><%= link_to 'Our policies', policies_filter_path(@organisation) %></h1>
            <div class="content">
              <%= render partial: "policies/list_description", locals: {policies: @policies} %>
              <p class="see-all">
                <%= link_to 'See all of our policies', policies_filter_path(@organisation) %>
              </p>
            </div>
          </section>
        <% end %>
        <% if @publications.any? %>
          <section id="publications" class="heading-block">
            <h1 class="label"><%= link_to 'Our publications', publications_filter_path(@organisation) %></h1>
            <div class="content">
              <%= render partial: "publications/list_description", locals: {publications: @publications} %>
              <p class="see-all">
                <%= link_to 'See all of our publications', publications_filter_path(@organisation) %>
              </p>
            </div>
          </section>
        <% end %>
        <% if @announcements.any? %>
          <section id="announcements" class="heading-block">
            <h1 class="label"><%= link_to "Our announcements", announcements_filter_path(@organisation) %></h1>
            <div class="content">
              <%= render partial: "announcements/list_description", locals: {announcements: @announcements} %>
              <p class="see-all">
                <%= link_to "See all of our announcements", announcements_filter_path(@organisation) %>
              </p>
            </div>
          </section>
          <% end %>
      </div>
    </div>
  <% end %>

  <% if people_to_show? %>
    <div class="block-9">
      <div class="inner-block" id="people">
        <section id="who">
          <% if @ministers.any? %>
            <section id="ministers">
              <h1 class="label">Our ministers</h1>
              <ul>
              <% @ministers.each_with_index do |role, i| %>
                <%= render partial: "people/person",
                            locals: {
                              person: role.current_person,
                              roles: [role],
                              hlevel: "h3",
                              extra_class: (i % 4 == 0) ? 'clear-person' : ''
                            } %>
              <% end %>
              </ul>
            </section>
          <% end %>

          <% if @military_roles.any? %>
            <section id="military">
              <h1 class="label">Our senior military officials</h1>
              <ul class="js-hide-extra-rows">
                <% @military_roles.each_with_index do |role, i| %>
                <%= render partial: "people/person",
                            locals: {
                              person: role.current_person,
                              roles: [role],
                              hlevel: "h3",
                              hide_image: false,
                              extra_class: (i % 4 == 0) ? 'clear-person' : ''
                            } %>
              <% end %>
              </ul>
            </section>
          <% end %>

          <% if @civil_servants.any? %>
            <section id="management">
              <h1 class="label">Our management</h1>
              <ul>
                <%= render partial: "people/person",
                locals: {
                  person: @civil_servants.first.current_person,
                  roles: [@civil_servants.first],
                  hlevel: "h3",
                  hide_image: false
                } %>
              </ul>

              <ul class="management-secondary js-hide-extra-rows-2">
                <% @civil_servants.to_a.from(1).each_with_index do |civil_servant, i| %>
                  <%= render partial: "people/person",
                  locals: {
                    person: civil_servant.current_person,
                    roles: [civil_servant],
                    hlevel: "h3",
                    hide_image: true,
                    extra_class: (i % 3 == 0) ? 'clear-person' : ''
                  } %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @traffic_commissioner_roles.any? %>
            <section id="traffic_commissioners">
              <h1 class="label">Traffic commissioners</h1>
              <ul class="js-hide-extra-rows">
                <% @traffic_commissioner_roles.each_with_index do |traffic_commissioner, i| %>
                  <%= render partial: "people/person",
                  locals: {
                    person: traffic_commissioner.current_person,
                    roles: [traffic_commissioner],
                    hlevel: "h3",
                    hide_image: false,
                    extra_class: (i % 4 == 0) ? 'clear-person' : ''
                  } %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @special_representatives.any? %>
            <section id="special_representatives">
              <h1 class="label">Special representatives</h1>
              <ul class="js-hide-extra-rows">
                <% @special_representatives.each_with_index do |role, i| %>
                <%= render partial: "people/person",
                            locals: {
                              person: role.current_person,
                              roles: [role],
                              hlevel: "h3",
                              hide_image: false,
                              extra_class: (i % 4 == 0) ? 'clear-person' : ''
                            } %>
              <% end %>
              </ul>
            </section>
          <% end %>
        </section>
      </div>
    </div>
  <% end %>

  <div class="block-10 vcard">
    <div class="inner-block">
      <h1 class="label">Contact <%= @organisation.display_name %></h1>
      <div id="org-contacts">
        <% addresses = @organisation.contacts.select { |c| c.address.present? } %>
        <% others = @organisation.contacts - addresses %>
        <div class="addresses js-hide-extra-rows">
          <% addresses.each do |contact| %>
            <div class="organisation_contact complex">
              <div class="contact-inner">
                <h2><%= contact.description %></h2>
                <% if contact.address.present? %>
                  <div class="adr">
                    <p class="fn org name visuallyhidden"><%= @organisation.name %></p>
                    <p class="street-address"><%= format_with_html_line_breaks(contact.address) %></p>
                    <p class="postal-code"><%= contact.postcode %></p>
                  </div>
                <% end %>
                <% if contact.email.present? %>
                  <p class="email"><span class="type">Email</span> <%= mail_to contact.email, contact.email, class: 'email' %></p>
                <% end %>
                <% if contact.contact_form_url.present? %>
                  <p class="contact_form_url"><span class="type">Contact form</span><%= link_to contact.contact_form_url.truncate(25), contact.contact_form_url %></p>
                <% end %>
                <% contact.contact_numbers.each do |number| %>
                  <p class="tel"><span class="type"><%= number.label %></span> <%= number.number %></p>
                <% end %>
              </div>
            </div>
          <% end %>

          <% others.each do |contact| %>
            <div class="organisation_contact simple">
              <div class="contact-inner">
                <h2><%= contact.description %></h2>
                <% if contact.email.present? %>
                  <p class="email"><span class="type">Email</span> <%= mail_to contact.email, contact.email, :class => "email" %></p>
                <% end %>
                <% contact.contact_numbers.each do |number| %>
                  <p class="tel"><%= number.number %><span class="type"> <%= number.label %> </span></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>


      </div>
    </div>
  </div>

  <% if @organisation.corporate_information_pages.any? %>
    <div class="block-11">
      <div class="inner-block">
        <%= render partial: 'corporate_information',
                    locals: { organisation: @organisation, show_corporate_reports: true } %>
      </div>
    </div>
  <% end %>

  <% if @sub_organisations.any? %>
    <div class="block-12">
      <div class="inner-block">
        <section id="high-profile-units">
          <h1 class="label">High profile groups within <%= @organisation.display_name %></h1>
          <nav class="group sub_navigation" role="navigation">
            <ul class="sub_organisations">
              <% @sub_organisations.each do |sub_organisation| %>
                <%= content_tag_for :li, sub_organisation do %>
                  <%= link_to sub_organisation.name, organisation_path(sub_organisation) %>
                <% end %>
              <% end %>
            </ul>
          </nav>
        </section>
      </div>
    </div>
  <% end %>

<% end %>
