<% page_title "Statistics" %>
<% page_class "statistics-index" %>
<% atom_discovery_link_tag filter_atom_feed_url, "Recent publications" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: "Statistics" } %>
  </div>
</header>

<%= render "govuk_publishing_components/components/notice", {
    title: 'This page is being replaced by <a href="/search/research-and-statistics">research and statistics search</a>'.html_safe
} %>

<%= render 'impartiality' %>

<% if params[:publication_filter_option] == "statistics"  %>
  <%= full_width_tabs [
    { label: "Published", link_to: statistics_path },
    { label: "Upcoming",  link_to: statistics_announcements_path }
  ] %>
<% end %>

<div class="filtered-index">
  <%= render partial: "documents/filter_form",
             locals: {
               document_type: :statistic,
               filters: [],
             } %>

  <div class="filter-results-block">
    <div class="inner-block">
      <%= render 'shared/feeds', atom_url: filter_atom_feed_url %>
      <div class="filter-results js-filter-results" aria-live="polite">
        <%= render_mustache('documents/filter_table', @filter.as_hash) %>
      </div>
    </div>
  </div>
</div>
