<% page_title "Statistics" %>
<% page_class "statistics-index" %>
<% atom_discovery_link_tag filter_atom_feed_url, "Recent publications" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: "Statistics" } %>
  </div>
</header>

<%= render 'impartiality' %>

<%= render 'statistics_announcements/upcoming_calendar_tabs' if params[:publication_filter_option] == "statistics"  %>

<div class="filtered-index">
  <%= render partial: "documents/filter_form",
             locals: {
               document_type: :statistic,
               filters: if Locale.current.english?
                          [
                            :keyword, :date, :department, :taxon
                          ]
                        else
                          [ ]
                        end
             } %>

  <div class="filter-results-block">
    <div class="inner-block">
      <% if Locale.current.english? %>
        <%= render partial: "documents/filter_results",
                  locals: { filter: @filter,
                            result_type: "statistics" } %>
      <% end %>
      <%= render 'shared/feeds', atom_url: filter_atom_feed_url %>
      <div class="filter-results js-filter-results" aria-live="polite">
        <%= render_mustache('documents/filter_table', @filter.as_hash) %>
      </div>
    </div>
  </div>
</div>
