<div class="row-fluid">
  <div class="span6">
    <%= form_for [:admin, @parent, @offsite_link], builder: Whitehall::FormBuilder do |form| %>
      <%= form.errors %>
      <%= form.text_field :title, label_text: "Title", required: true %>
      <%= form.text_area  :summary, label_text: "Summary", rows: 3, required: true %>
      <%= form.label :link_type, "Type", required: true %>
      <%= form.select :link_type, [["Alert", "alert"], ["Blog Post", "blog_post"], ["Campaign", "campaign"], ["Careers", "careers"], ["Service", "service"]] %>
      <%= form.text_field :url, label_text: "URL", required: true %>
      <%= form.save_or_cancel cancel: polymorphic_path([:admin, @parent, :offsite_links]) %>
    <% end %>
  </div>
</div>
