<% content_for :context, @parent.name %>
<% content_for :page_title, "Delete offsite link" %>
<% content_for :title, "Delete #{@offsite_link}" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= form_with url: [:admin, @parent, @offsite_link], method: :delete do %>
      <p class="govuk-body govuk-!-margin-bottom-7">Are you sure you want to delete "<%= @offsite_link.title %>" from "<%= @parent.name %>"?</p>

      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Delete",
          destructive: true,
        } %>
        <% if @parent.is_a?(TopicalEvent) %>
          <%= link_to("Cancel", admin_topical_event_topical_event_featurings_path(@parent) + "#non_govuk_government_links_tab", class: "govuk-link govuk-link--no-visited-state") %>
        <% else %>
          <%= link_to("Cancel", polymorphic_url([:features, :admin, @parent]) + "#non_govuk_government_links_tab", class: "govuk-link govuk-link--no-visited-state") %>
        <% end %>
      </div>
    <% end %>
  </section>
</div>
