<div class="format-advice">
  <p class="govuk-body"><strong>Use this format for:</strong> Case studies that show someone’s experience of a process covered on GOV.UK or a policy problem the government is trying to solve.</p>
</div>

<%= standard_edition_form(edition, @information, preview_design_system: true) do |form| %>
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Associations",
    heading_level: 3,
    heading_size: "l",
    id: "associations"
  } do %>
    <div class="govuk-!-margin-bottom-4">
      <%= render 'worldwide_organisation_fields', form: form, edition: edition %>
      <%= render 'world_location_fields', form: form, edition: edition %>
      <%= render 'organisation_fields', form: form, edition: edition %>
    </div>
  <% end %>
<% end %>
