<div class="format-advice">
  <p><strong>Use this format for:</strong> Case studies that show someone’s experience of a process covered on GOV.UK or a policy problem the government is trying to solve.</p>
</div>

<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>
    <fieldset>
      <legend>Associations</legend>
      <p>You'll be able to select policies, policy areas and specialist sectors later.</p>
      <%= render 'worldwide_organisation_fields', form: form, edition: edition %>
      <%= render 'world_location_fields', form: form, edition: edition %>
      <%= render 'organisation_fields', form: form, edition: edition %>
    </fieldset>
  <% end %>
<% end %>
