<div class="format-advice">
  <p><strong>Use this format for:</strong> Case studies that show someone’s experience of a process covered on GOV.UK or a policy problem the government is trying to solve.</p>
</div>

<% if current_user.can_remove_edit_tabs? %>
  <%= standard_edition_form(edition, @information) do |form| %>
    <fieldset>
      <legend>Associations</legend>
      <%= render 'worldwide_organisation_fields', form: form, edition: edition %>
      <%= render 'legacy_world_location_fields', form: form, edition: edition %>
      <%= render 'organisation_fields', form: form, edition: edition %>
    </fieldset>
  <% end %>
<% else %>
  <%= edition_editing_tabs(edition) do %>
    <%= standard_edition_form(edition, @information) do |form| %>
      <fieldset>
        <legend>Associations</legend>
        <%= render 'worldwide_organisation_fields', form: form, edition: edition %>
        <%= render 'legacy_world_location_fields', form: form, edition: edition %>
        <%= render 'organisation_fields', form: form, edition: edition %>
      </fieldset>
    <% end %>
  <% end %>
<% end %>
