<% page_title "Statistics", "Upcoming calendar" %>
<% page_class "release-announcements-index" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: "Statistics: Upcoming calendar" } %>
  </div>
</header>

<%= render 'upcoming_calendar_tabs' %>

<div class="filter-form-block">
  <div class="inner-block">
    <h2>You can use the filters to show only results that match your interests</h2>
    <%= form_for @filter, url: statistical_release_announcements_path, method: :get, html: { class: "filter-form" } do |f| %>
      <fieldset>
        <div class="filter">
          <div class="filter-inner">
            <%= f.text_field :keywords, label_text: "Contains", placeholder: "keywords" %>
          </div>
        </div>
        <div class="filter date-range-filter">
          <div class="filter-inner">
            <%= f.text_field :from_date, label_text: "Published after", placeholder: "e.g. 01/01/2013" %>
            <%= f.text_field :to_date, label_text: "Published before", placeholder: "e.g. 30/02/2013" %>
          </div>
        </div>
        <%= f.submit "Refresh results", class: "button" %>
      </fieldset>
    <%- end -%>
  </div>
</div>

<div class="filter-results-block">
  <div class="inner-block">
    <h2>This calendar of upcoming releases is maintained by the <a href="https://gss.civilservice.gov.uk/">Government Statistical Service</a> independently from government</h2>

    <%
      filter_description_context = {
        result_count: number_with_delimiter(@filter.results.total),
        pluralized_result_type: "upcoming releases",
        departments: [],
        topics: [],
        world_locations_any?: false,
        world_locations: [],
        keywords: [],
        date_from: @filter.parsed_from_date,
        date_to: @filter.parsed_to_date,
        include_world_location_news: false,
        filtering_command_and_act_papers?: false,
        filtering_command_papers_only?: false,
        filtering_act_papers_only?: false
      }
    %>
    <div class="filter-results-summary">
      <div class="selections">
        <%= render_mustache('documents/filter_selections', filter_description_context) %>
      </div>
    </div>

    <ol class="document-list">
      <%= render @filter.results %>
    </ol>

    <% if @filter.results.number_of_pages > 1 %>
      <nav id="show-more-documents" role="navigation">
        <ul class="previous-next-navigation">
          <%= next_page_link(url:  statistical_release_announcements_path(@filter.next_page_params),
                             page: @filter.page + 1,
                             of:   @filter.results.number_of_pages) if @filter.results.next_page? %>

          <%= previous_page_link(url:  statistical_release_announcements_path(@filter.previous_page_params),
                                 page: @filter.page - 1,
                                 of:   @filter.results.number_of_pages) if @filter.results.previous_page? %>
        </ul>
      </nav>
    <% end %>
  </div>
</div>
