<div class="img coverpage-thumbnail">
  <%= link_to image_tag(consultation.has_thumbnail? ? consultation.thumbnail_url : 'pub-cover.png'), public_document_path(consultation) %>
  <div class="attachments_meta">
    <span class="time_remaining"><%= consultation_time_remaining_phrase(consultation) %></span>
    <span class="last_significant_change"><%= consultation_last_significant_change(consultation) %></span>
  </div>
</div>

<div class="text">
  <h2 class="article_title"><%= link_to consultation.title, public_document_path(consultation), title: "View #{consultation.title}" %></h2>
  <p class="summary">
    <%= consultation.summary %>
  </p>
</div>
