<% if @document.response_published? %>
<section class="notice events response">
  <div class="event response_published_on">
    <%= consultation_response_phrase(@document) %>

    <div class="attachment">
      <% response = @document.published_consultation_response %>
      <% response_attachment = response.attachments.first %>
      <% response_url = consultation_response_path(@document.document) %>
      <%= link_to response_url, class: 'attachment' do %>
        <% if response_attachment && response_attachment.pdf? %>
          <%= image_tag(response_attachment.url(:thumbnail), alt: response.title) %>
        <% end %>
        <%= response.title %>
      <% end %>
      <%= render partial: 'attachment_meta', locals: {attachment: response_attachment, alternative_format_contact_email: @document.alternative_format_contact_email} %>
    </div>
  </div>
</section>
<% end %>

<section class="events heading-block">
  <h1>Events</h1>
  <div class="content">
    <div class="event opening_on"><%= consultation_opening_phrase(@document) %></div>
    <div class="event closing_on"><%= consultation_closing_phrase(@document) %></div>
  </div>
</section>

<section class="heading-block">
  <h1>Detail</h1>
  <div class="content">
    <article>
      <div class="body">
        <%= govspeak_edition_to_html @document %>
      </div>
    </article>
  </div>
</section>
