<% page_title "Consultations" %>

<div class="g3f">
  <section class="page_header consultation">
    <h1 class="page_title">Consultations</h1>
  </section>
</div>

<div class="g3f consulations">
  <% if @featured_consultations.any? %>
    <section class="featured_items group" id="featured-consultations">
      <% @featured_consultations.each do |consultation| %>
        <div class="<%= featured_grid_class(@featured_consultations.length) %>">
          <%= content_tag_for(:article, consultation) do %>
            <h2><%= link_to consultation.title, public_document_path(consultation), class: "title" %></h2>
            <p class="summary">
              <%= consultation.summary %>
            </p>
            <div class="meta">
              <span class="time_remaining"><%= consultation_time_remaining_phrase(consultation) %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>

  <div class="g3 vg">
    <section>
      <nav class="consultations_scope group">
        <%= link_to_filter('all', action: 'index') %>
        <%= link_to_filter('open', action: 'open') %>
        <%= link_to_filter('closed', action: 'closed') %>
      </nav>
      <h1>Browse <%= "#{scope_description} consultations".strip %></h1>
      <% if @consultations.empty? %>
        <p>There are no<%= scope_description %> consultations at present.</p>
      <% else %>
        <%= render partial: "consultations", object: @consultations %>
      <% end %>
    </section>
  </div>
</div>