<div class="g3">
  <nav class="consultations_scope group">
    <%= link_to_filter('all', action: 'index') %>
    <%= link_to_filter('open', action: 'open') %>
    <%= link_to_filter('closed', action: 'closed') %>
  </nav>

  <h1 class="page_title">Consultations</h1>
  <% if @consultations.empty? %>
    <p>There are no<%= scope_description %> consultations at present.</p>
  <% else %>
    <%= render partial: "consultations", object: @consultations %>
  <% end %>
</div>