<div class="g3">
  <nav class="consultations_scope group">
    <%= link_to_filter('all', action: 'index') %>
    <%= link_to_filter('open', action: 'open') %>
    <%= link_to_filter('closed', action: 'closed') %>
  </nav>

  <h1 class="page_title">Consultations</h1>
  <% if @consultations.empty? %>
    <p>There are no<%= scope_description %> consultations at present.</p>
  <% else %>
    <% if @featured_consultations.any? %>
      <ul id="featured-consultations">
        <% @featured_consultations.each do |consultation| %>
          <%= content_tag_for(:li, consultation) do %>
            <%= link_to consultation.title, public_document_path(consultation), class: "title" %>
            <p class="small">
              <%= render_datetime_microformat(consultation, :published_at) do %>
                <%= time_ago_in_words(consultation.published_at) %> ago
              <% end %>
            </p>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <%= render partial: "consultations", object: @consultations %>
  <% end %>
</div>