<% page_title "Consultations" %>
<% page_class "consultations-index" %>

<div class="g4">
  <section class="page_header consultation icon">
    <h1 class="page_title">Consultations</h1>
    <p class="explanation">Read and contribute to government thinking before it becomes policy</p>
  </section>
</div>

<% if @featured_consultations && @featured_consultations.any? %>
  <section class="consultations group four_column_list" id="featured-consultations">
    <div class="g4f">
      <div class="g1"><h1 class="label">Featured consultations</h1></div>
      <div class="g3f">
        <% article_group(@featured_consultations, groups_of: 3, class: "has_img row") do |consultation| %>
          <%= render partial: "consultation_index_item", locals: {consultation: consultation} %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<section class="consultations group four_column_list" id="<%= params[:action] %>-consultations">
  <div class="g4f">
    <div class="g1">
      <h1 class="label"><%= scope_description.capitalize %> consultations</h1>
      <nav class="consultations_scope g3 group" role="navigation">
        <%= link_to_filter('all', action: 'index') %>
        <%= link_to_filter('open', action: 'open') %>
        <%= link_to_filter('closed', action: 'closed') %>
      </nav>
    </div>
    <div class="g3f">
      <% if @consultations && @consultations.any? %>
        <% article_group(@consultations, groups_of: 3, class: "has_img row") do |consultation| %>
          <%= render partial: "consultation_index_item", locals: {consultation: consultation} %>
        <% end %>
      <% else %>
        <p class='no-content'>There are no <%= scope_description %> consultations at present.</p>
      <% end %>
    </div>
  </div>
</section>
