<% page_title @document.title, "Consultations" %>
<div class="g3">
  <h1 class="page_title title has_meta"><%= @document.title %></h1>
  <p class="meta">
    <span class="metadata">Last updated <%= time_ago(@document.published_at, class: 'published_at') %></span>
    <% @related_policies.map { |d| d.policy_areas }.flatten.uniq.each do |policy_area| %>
      <%= link_to policy_area.name, policy_area_path(policy_area), class: "policy_area", id: dom_id(policy_area) %>
    <% end %>
    <% @document.organisations.each do |organisation| %>
      <%= link_to organisation_display_name(organisation), organisation_path(organisation), class: "organisation" %>
    <% end %>
    <% @document.ministerial_roles.each do |ministerial_role| %>
      <%= link_to ministerial_role.current_person_name, ministerial_role, class: "minister" %>
    <% end %>
  </p>
</div>

<div class="g3f document_page">
  <div class="g1r">
    <section class="contextual_info">
      <h1>Notable dates</h1>
      <p class="opening_on"><%= consultation_opening_phrase(@document) %></p>
      <p class="closing_on"><%= consultation_closing_phrase(@document) %></p>
    </section>
  </div>

  <div class="g2">
    <%= render partial: 'inapplicable_nations', locals: { document: @document } %>
    <article class="document has_notice">
      <div class="body">
        <%= govspeak_to_html @document.body %>
      </div>
      <%= render partial: "attachments", locals: { document: @document } %>
    </article>
    <% if @document.published_consultation_response %>
    Response: <%= link_to "#{@document.published_consultation_response.title}", consultation_response_path(@document.document_identity) %>
    <% end %>
  </div>
</div>

<%= render partial: 'related_policies', object: @related_policies %>
