<% page_title @document.title, "Consultations" %>
<% page_class consultation_css_class(@document) %>

<div class="document-page <%= @document.type.downcase %>">
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render  partial: "documents/header", locals: {
                    document: @document,
                    header_title: @document.display_type,
                    policies: @related_policies
                  } %>
    </div>

    <% if @document.closed? %>
      <div class="consultation-alert">
        <% if @document.outcome_published? %>
          <h2>This consultation has concluded</h2>
        <% else %>
          <h2>We are analysing your feedback</h2>
          <p>Visit this page again soon to download the outcome to this public feedback.</p>
        <% end %>
      </div>
    <% end %>

  </header>

  <div class="block-2">
    <div class="inner-block">
      <% if @document.open? %>
        <div class="consultation-block <%= consultation_css_class(@document) %>">
          <div class="consultation-dates">
            <p>This consultation closes on <span><%= absolute_date(@document.closing_on, class: 'closing-on') %></span></p>
          </div>

          <%= render partial: "document_summary", locals: { document: @document } %>
        </div>
      <% else %>

        <% if @document.outcome_published? %>
          <%= content_tag_for(:div, @document.outcome, class: 'consultation-response') do %>
            <% if @document.outcome.attachments.any? %>
              <%= render partial: "documents/attachment_full_width",
                        locals: { document: @document.outcome,
                          title: "Download the full outcome",
                          published_on: @document.outcome_published_on,
                          summary: nil } %>
            <% end %>
            <% if @document.outcome.summary.present? %>
              <section class="heading-block consultation-response-summary">
                <h1>Detail of outcome</h1>
                <div class="content">
                  <article>
                    <%= govspeak_to_html @document.outcome.summary %>
                  </article>
                </div>
              </section>
            <% end %>
          <% end %>
        <% end %>

        <% if @document.public_feedback.present? %>
          <%= content_tag_for(:div, @document.public_feedback, class: 'consultation-response') do %>
            <% if @document.public_feedback.attachments.any? %>
              <%= render partial: "documents/attachment_full_width",
                        locals: { document: @document.public_feedback,
                          title: "Feedback received",
                          published_on: @document.public_feedback.published_on,
                          summary: nil } %>
            <% end %>

            <section class="heading-block consultation-response-summary">
              <h1>Detail of feedback received</h1>
              <div class="content">
                <article>
                  <%= govspeak_to_html @document.public_feedback.summary %>
                </article>
              </div>
            </section>
          <% end %>
        <% end %>

        <h2 class="original-consultation">Original consultation</h2>
        <div class="consultation-block <%= consultation_css_class(@document) %>">
          <div class="consultation-dates">
            <p>This consultation ran from <span><%= absolute_date(@document.opening_on, class: 'opening-on') %> to<br><%= absolute_date(@document.closing_on, class: 'closing-on') %></span></p>
          </div>

          <%= render partial: "document_summary", locals: { document: @document } %>
        </div>
      <% end %>

      <%= render partial: "documents/attachment_full_width",
                 locals: { document: @document, title: 'Documents' } %>

      <section class="heading-block">
        <h1>Consultation description</h1>
        <div class="content">
          <article>
            <%= govspeak_edition_to_html @document %>
          </article>
        </div>
      </section>

      <% if @document.open? && @document.has_consultation_participation? %>
        <section id="response-formats" class="heading-block participation">
          <h1>Ways to respond</h1>
          <div class="content">
            <article>
              <% if @document.consultation_participation.has_link? %>
                <p class="online"><%= link_to 'Respond online', @document.consultation_participation.link_url %></p>
              <% end %>
              <% if @document.consultation_participation.has_link? and (@document.consultation_participation.has_postal_address? or @document.consultation_participation.has_email?) %>
                <p class="or">or</p>
              <% end %>
              <% if @document.consultation_participation.has_email? or @document.consultation_participation.has_postal_address? %>
                <% if @document.consultation_participation.has_response_form? %>
                  <p class="response-form">
                    Complete a
                    <%= link_to 'response form', @document.consultation_participation.consultation_response_form.file.url %>
                    and either
                  </p>
                <% end %>
                <dl>
                  <% if @document.consultation_participation.has_email? %>
                    <dt>Email to:</dt>
                    <dd class="email"><%= mail_to @document.consultation_participation.email %></dd>
                  <% end %>
                  <% if @document.consultation_participation.has_postal_address? %>
                    <dt>Write to:</dt>
                    <dd class="postal-address"><%= format_with_html_line_breaks @document.consultation_participation.postal_address %></dd>
                  <% end %>
                </dl>
              <% end %>
            </article>
          </div>
        </section>
      <% end %>
    </div>
  </div>
  <div class="block-5">
    <div class="inner-block">
      <%= render partial: 'documents/document_footer_meta', locals: { document: @document, policies: @related_policies } %>
    </div>
  </div>
</div>
