<% page_title @document.title, "Consultations" %>
<% page_class consultation_css_class(@document) %>

<div class="document-page <%= @document.type.downcase %>">
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render  partial: "documents/header", locals: {
                    document: @document,
                    header_title: @document.display_type,
                    policies: @related_policies
                  } %>
    </div>

    <% if @document.closed? || @document.response_published? %>
      <div class="consultation-alert">
        <% if @document.closed? and not @document.response_published? %>
          <h2>We are analysing your responses</h2>
          <p>Visit this page again soon to download the outcome to this public feedback.</p>
        <% elsif @document.response_published? %>
          <h2>This consultation has concluded</h2>
        <% end %>
      </div>
    <% end %>

  </header>

  <div class="block-2">
    <div class="inner-block">
      <% if @document.open? %>
        <div class="consultation-block <%= consultation_css_class(@document) %>">
          <div class="consultation-dates">
            <p>This consultation closes on <span><%= absolute_date(@document.closing_on, class: 'closing-on') %></span></p>
          </div>
          <div class="summary">
            <div>
              <h2>Summary</h2>
              <p><%= @document.summary %></p>
            </div>
          </div>
        </div>
      <% else %>
        <% if @document.response_published? %>
          <div class="consultation-response">
            <% if @document.response.attachments.any? %>
              <%= render partial: "documents/attachment_full_width",
                        locals: { document: @document.response,
                          title: "Download the full outcome",
                          published_on: @document.response_published_on } %>
            <% end %>
            <% if @document.response.summary.present? %>
              <section class="heading-block">
                <h1>Detail of outcome</h1>
                <div class="content">
                  <article>
                    <div class="body">
                      <%= govspeak_to_html @document.response.summary %>
                    </div>
                  </article>
                </div>
              </section>
            <% end %>
          </div>
        <% end %>
        <h2 class="original-consultation">Original consultation</h2>
        <div class="consultation-block <%= consultation_css_class(@document) %>">
          <div class="consultation-dates">
            <p>This consultation ran from <span><%= absolute_date(@document.opening_on, class: 'opening-on') %> to<br><%= absolute_date(@document.closing_on, class: 'closing-on') %></span></p>
          </div>
          <div class="summary">
            <div>
              <h2>Summary</h2>
              <p><%= @document.summary %></p>
            </div>
          </div>
        </div>
      <% end %>



      <section class="heading-block">
        <h1>Consultation detail</h1>
        <div class="content">
          <article>
            <div class="body">
              <%= govspeak_edition_to_html @document %>
            </div>
          </article>
        </div>
      </section>

      <%= render partial: "documents/attachment_full_width",
                locals: { document: @document, title: 'Documents', summary: nil } %>

      <% if @document.open? && @document.has_consultation_participation? %>
        <section id="response-formats" class="participation">
          <div class="content">
            <h2>Contact us by <%= absolute_date(@document.closing_on) %></h2>
            <% if @document.consultation_participation.has_link? %>
              <p class="online"><%= link_to 'Respond online', @document.consultation_participation.link_url %></p>
            <% end %>
            <% if @document.consultation_participation.has_link? and (@document.consultation_participation.has_postal_address? or @document.consultation_participation.has_email?) %>
              <p class="or">or</p>
            <% end %>
            <% if @document.consultation_participation.has_response_form? %>
              <p class="response-form">
                Download the
                <%= link_to 'response form', @document.consultation_participation.consultation_response_form.file.url %>
                and return it using the details provided below.
              </p>
            <% end %>
            <% if @document.consultation_participation.has_email? or @document.consultation_participation.has_postal_address? %>
              <h3>Write to us:</h3>
              <dl>
                <% if @document.consultation_participation.has_email? %>
                  <dt>email</dt>
                  <dd class="email"><%= mail_to @document.consultation_participation.email %></dd>
                <% end %>
                <% if @document.consultation_participation.has_postal_address? %>
                  <dt>post</dt>
                  <dd class="postal-address"><%= format_with_html_line_breaks @document.consultation_participation.postal_address %></dd>
                <% end %>
              </dl>
            <% end %>
          </div>
        </section>
      <% end %>
    </div>
  </div>
</div>
