<%
  name ||= "attachment"
  heading_level ||= 2
  heading_size ||= "l"
  margin_bottom ||= 8
%>

<%= form.fields_for :govspeak_content do |govspeak_fields| %>

  <%= hidden_field_tag "#{name}[govspeak_content_attributes][manually_numbered_headings]", "0" %>

  <div class="govuk-!-margin-bottom-<%= margin_bottom %>">
    <%= render "govuk_publishing_components/components/checkboxes", {
      name: "#{name}[govspeak_content_attributes][manually_numbered_headings]",
      heading: "Manually numbered headings",
      heading_level:,
      heading_size:,
      hint_text: "",
      items: [
        {
          label: "Use manually numbered headings",
          value: "1",
          checked: form.object.govspeak_content.manually_numbered_headings,
          conditional: sanitize("<p>Manually number your headings using the numbering scheme below.</p><code>## 1. First heading<br />### 1.1 First sub-heading<br />### 1.2 Second sub-heading<br />### Unnumbered sub-heading</code>"),
        },
      ],
    } %>
  </div>

  <div class="govuk-!-margin-bottom-<%= margin_bottom %> app-view-attachments__form-body js-locale-switcher-field">
      <%= render "components/govspeak_editor", {
        label: {
          heading_size:,
          text: "Body (required)",
        },
        name: "#{name}[govspeak_content_attributes][body]",
        rows: 20,
        id: "#{name}_govspeak_content_body",
        value: form.object.govspeak_content.body,
        error_items: errors_for(attachment.errors, :"govspeak_content.body"),
        right_to_left: form.object.rtl_locale?,
        data_attributes: {
          image_ids: edition_image_ids,
          attachment_ids: [], # HTML attachments cannot embed Attachments from their parent Edition
        },
      } %>
  </div>

  <% if !attachment.new_record? %>
    <%= render "govuk_publishing_components/components/inset_text", {
      } do %>
      <p class="govuk-body">
        <%= link_to("Preview on website (opens in new tab)",
        attachment.url(preview: true, full_url: true),
        class: "govuk-link",
        target: "_blank", rel: "noopener") %>
      </p>
      <p class="govuk-body">
        To preview your document on GOV.UK you must save it first.
      </p>
    <% end %>
  <% end %>
<% end %>
