<%= form_for attachment, url: [:admin, typecast_for_attachable_routing(attachable), attachment], as: :attachment, html: { :class => "app-view-attachments__form", data: { module: "LocaleSwitcher ga4-visual-editor-event-handlers", "rtl-locales": Locale.right_to_left.collect(&:to_param) }}, multipart: true do |form| %>

  <% fields = capture do %>
    <%= form.fields_for :govspeak_content do |govspeak_fields| %>
      <%= hidden_field_tag "attachment[govspeak_content_attributes][manually_numbered_headings]", "0" %>

      <div class="govuk-!-margin-bottom-8">
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "attachment[govspeak_content_attributes][manually_numbered_headings]",
          heading: "Manually numbered headings",
          heading_level: 2,
          heading_size: "l",
          hint_text: "",
          items: [
            {
              label: "Use manually numbered headings",
              value: "1",
              checked: form.object.govspeak_content.manually_numbered_headings,
              conditional: sanitize("<p>Manually number your headings using the numbering scheme below.</p><code>## 1. First heading<br />### 1.1 First sub-heading<br />### 1.2 Second sub-heading<br />### Unnumbered sub-heading</code>"),
            },
          ],
        } %>
      </div>

      <div class="govuk-!-margin-bottom-8 app-view-attachments__form-body js-locale-switcher-field">
        <% if Flipflop.govspeak_visual_editor? && current_user.can_see_visual_editor_private_beta? && form.object.visual_editor %>
          <%= render "components/visual_editor", {
            label: {
              text: "Body (required)",
              heading_size: "l",
            },
            name: "attachment[govspeak_content_attributes][body]",
            rows: 20,
            id: "attachment_govspeak_content_body",
            value: form.object.govspeak_content.body,
            error_items: errors_for(attachment.errors, :"govspeak_content.body"),
            right_to_left:  form.object.rtl_locale?,
            data_attributes: {
              image_ids: @edition && @edition.images.any? ? @edition.images.map { |img| img[:id] } : [],
              attachment_ids: [], # HTML attachments cannot embed Attachments from their parent Edition
            },
            hidden_field_name: "attachment[visual_editor]",
          } %>
        <% else %>
        <%= render "components/govspeak_editor", {
          label: {
            heading_level: 2,
            heading_size: "l",
            text: "Body (required)",
          },
          name: "attachment[govspeak_content_attributes][body]",
          rows: 20,
          id: "attachment_govspeak_content_body",
          value: form.object.govspeak_content.body,
          error_items: errors_for(attachment.errors, :"govspeak_content.body"),
          right_to_left: form.object.rtl_locale?,
          data_attributes: {
            image_ids: @edition && @edition.images.any? ? @edition.images.map { |img| img[:id] } : [],
            attachment_ids: [], # HTML attachments cannot embed Attachments from their parent Edition
          },
        } %>
          <%= hidden_field_tag "attachment[visual_editor]", false %>
          <% end %>
      </div>

      <% if !attachment.new_record? %>
        <%= render "govuk_publishing_components/components/inset_text", {
          } do %>
          <p class="govuk-body">
            <%= link_to("Preview on website (opens in new tab)",
            attachment.url(preview: true, full_url: true),
            class: "govuk-link",
            target: "_blank", rel: "noopener") %>
          </p>
          <p class="govuk-body">
            To preview your document on GOV.UK you must save it first.
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render "admin/shared/attachments/form", form: do %>
    <%= fields %>
  <% end %>
<% end %>
