<% page_title @topical_event.name, "Topical Event" %>
<% page_class "topical-events-show" %>
<% atom_discovery_link_tag topic_url(@topical_event, format: 'atom'), "Latest activity on #{@topical_event.name}" %>

<%= content_tag_for(:div, @topical_event, class: "classification #{@topical_event.class.name.underscore}") do %>

  <div class="block">
    <div class="inner-block">
      <header class="page-header">
        <h1><%= image_tag "g8-2013-logo.png", alt: @topical_event.name %></h1>
        <h2><span>UK Presidency of G8 2013<span></h2>
      </header>

      <div class="page-description">
        <section id="recently-updated" class="latest-documents">
          <header>
            <h1 class="label">Latest</h1>
            <%= link_to_feed topic_url(@topical_event, format: 'atom') %>
          </header>
          <% if @recently_changed_documents.any? %>
            <%= render partial: "shared/recently_updated",
                      locals: { recently_updated: @recently_changed_documents } %>
          <% else %>
            <p>There are no updates yet.</p>
          <% end %>
        </section>
        <section class="description">
          <%= govspeak_to_html @topical_event.description %>

          <ul class="social-media-accounts">
            <li class="social_media_account" id="social_media_account_5">
              <a href="http://blogs.fco.gov.uk/digitaldiplomacy/platforms/#TW" class="social-media-link twitter">
                <span class="connect">Connect with FCO on</span> Twitter
              </a>
            </li>
            <li class="social_media_account" id="social_media_account_8">
              <a href="http://www.youtube.com/profile?user=ukforeignoffice" class="social-media-link youtube">
                <span class="connect">Connect with FCO on</span> YouTube
              </a>
            </li>
            <li class="social_media_account" id="social_media_account_9">
              <a href="http://blogs.fco.gov.uk/digitaldiplomacy/platforms/#FL" class="social-media-link flickr">
                <span class="connect">Connect with FCO on</span> Flickr
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="inner-block">
      <section class="featured-news items-4">
        <article class="policy cabinet-office secondary item-0" id="policy_55819">
          <div class="content">
            <span class="img-holder">
              <a href="/government/policies/establishing-stability-in-afghanistan" class="img" title="Read the Establishing stability in Afghanistan article"><img alt="Afghanistan: PATRICK BAZ/AFP/Getty Images" class="featured-image" src="https://assets.digital.cabinet-office.gov.uk/government/uploads/system/uploads/edition_organisation_image_data/file/238/s465_Afghanistan-final.jpg"></a>
            </span>
            <div class="text">
              <h2><a href="/government/policies/establishing-stability-in-afghanistan">Establishing stability in Afghanistan</a></h2>
              <p class="summary">How the UK is helping Afghanistan to become a more secure nation with international support. </p>
            </div>
          </div>
        </article>
        <article class="speech foreign-commonwealth-office secondary item-1" id="speech_59987">
          <div class="content">
            <span class="img-holder">
              <a href="/government/speeches/the-foreign-office-one-of-the-great-offices-of-state" class="img" title="Read the The Foreign Office, one of the great offices of state. article"><img alt="The FCO grand staircase " class="featured-image" src="https://assets.digital.cabinet-office.gov.uk/government/uploads/system/uploads/edition_organisation_image_data/file/271/s465_FCO-staircase-final.jpg"></a>
            </span>
            <div class="text">
              <h2><a href="/government/speeches/the-foreign-office-one-of-the-great-offices-of-state">The Foreign Office, one of the great offices of state.</a></h2>
              <p class="summary">The Foreign Secretary gave a speech on the Foreign and Commonwealth Office as part of the Speaker's lecture series on great offices of state.</p>
            </div>
          </div>
        </article>
        <article class="news_article foreign-commonwealth-office secondary item-2" id="news_article_59945">
          <div class="content">
            <span class="img-holder">
              <a href="/government/news/christmas-holiday-travel-advice" class="img" title="Read the Christmas Holiday Travel Advice article"><img alt="EyesWideOpen/Getty Images" class="featured-image" src="https://assets.digital.cabinet-office.gov.uk/government/uploads/system/uploads/edition_organisation_image_data/file/259/s465_Ski-final.jpg"></a>
            </span>
            <div class="text">
              <h2><a href="/government/news/christmas-holiday-travel-advice">Christmas Holiday Travel Advice</a></h2>
              <p class="summary">A few simple preparations before and during your holiday can help to make your Christmas trip safe and trouble free.</p>
            </div>
          </div>
        </article>
        <article class="policy cabinet-office secondary item-0" id="policy_55819">
          <div class="content">
            <span class="img-holder">
              <a href="/government/policies/establishing-stability-in-afghanistan" class="img" title="Read the Establishing stability in Afghanistan article"><img alt="Afghanistan: PATRICK BAZ/AFP/Getty Images" class="featured-image" src="https://assets.digital.cabinet-office.gov.uk/government/uploads/system/uploads/edition_organisation_image_data/file/238/s465_Afghanistan-final.jpg"></a>
            </span>
            <div class="text">
              <h2><a href="/government/policies/establishing-stability-in-afghanistan">Establishing stability in Afghanistan</a></h2>
              <p class="summary">How the UK is helping Afghanistan to become a more secure nation with international support. </p>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>

  <div class="block block-4">
    <div class="inner-block">
      <% if @policies.any? %>
        <section id="policies" class="policies heading-block">
          <h1 class="label">Policies</h1>
          <div class="content">
            <%= render partial: "policies/list_description", locals: {policies: @policies} %>
          </div>
        </section>
      <% end %>
      <% if @publications.any? %>
        <section id="publications" class="heading-block">
          <h1 class="label">Publications</h1>
          <div class="content">
            <%= render partial: "publications/list_description", locals: {publications: @publications} %>
            <p class="see-all">
              <%#= link_to 'See all publications', publications_filter_path(@topical_event) %>
            </p>
          </div>
        </section>
      <% end %>
      <% if @announcements.any? %>
        <section id="announcements" class="heading-block">
          <h1 class="label">Announcements</h1>
          <div class="content">
            <%= render partial: "announcements/list_description", locals: {announcements: @announcements} %>
            <p class="see-all">
              <%#= link_to "See all announcements", announcements_filter_path(@topical_event) %>
            </p>
          </div>
        </section>
      <% end %>
    </div>
  </div>

  <div class="block block-6">
    <div class="inner-block">
      <aside class="elsewhere">
        <% if @detailed_guides.any? %>
          <section id="detailed-guidance" class="title-block">
            <div class="content">
              <h1 class="label">Detailed guidance</h1>
              <ul>
                <% @detailed_guides.each do |detailed_guide| %>
                  <%= content_tag_for :li, detailed_guide do %>
                    <%= link_to detailed_guide.title, public_document_path(detailed_guide) %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </section>
        <% end %>
        <% if @related_classifications.any? %>
          <section id="related-topics" class="title-block">
            <div class="content">
              <h1 class="label">Related topics</h1>
              <ul>
                <% @related_classifications.each do |topic| %>
                  <%= content_tag_for :li, topic do %>
                    <%= link_to topic.name, topic_path(topic) %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </section>
        <% end %>
      </aside>
        <div class="meta">
          <%= render partial: 'organisations/organisations_logo_list',
                    locals: { organisations: @topical_event.organisations,
                              lead_organisations: @topical_event.lead_organisations } %>
        </div>
    </div>
  </div>
<% end %>
