<% page_title @classification.name %>
<% page_class "topical-events-show" %>
<% atom_discovery_link_tag topical_event_url(@classification, format: 'atom'), "Latest activity on #{@classification.name}" %>

<%= content_tag_for(:div, @classification, class: "classification #{@classification.class.name.underscore}") do %>

  <div class="block">
    <div class="inner-block">
      <header class="page-title">
        <% if @classification.logo_url.present? %>
          <h1><span><%= image_tag(@classification.logo_url, alt: @classification.logo_alt_text) if @classification.logo_url %></span></h1>
          <h2>
            <span><%= @classification.name %></span>
            <% if @classification.archived? %>
              <span class="archived">(Archived)</span>
            <% end %>
          </h2>
        <% else %>
          <h1 class="label">Topical event</h1>
          <h2 class="title">
            <span><%= @classification.name %></span>
            <% if @classification.archived? %>
              <span class="archived">(Archived)</span>
            <% end %>
          </h2>
        <% end %>
      </header>

      <div class="page-description">
        <%= render partial: 'shared/recently_updated',
                  locals: { recently_updated: @recently_changed_documents,
                            atom_url: classification_url(@classification, format: "atom"),
                            govdelivery_url: filter_email_signup_url(topic: @classification.slug) } %>
        <section class="description">
          <%= govspeak_to_html @classification.description %>

          <% if @classification.social_media_accounts.any? %>
            <%= render partial: 'shared/social_media_accounts',
                      locals: { socialable: @classification, followus: true } %>
          <% end %>
        </section>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="inner-block">
      <% if @featured_editions.any? %>
        <section class="featured-news items-<%= @featured_editions.length %>">
          <%= render partial: 'shared/featured_news',
                     collection: @featured_editions,
                     as: :edition,
                     locals: { image_size: :s465 } %>
        </section>
      <% end %>
    </div>
  </div>

  <div class="block">
    <div class="inner-block">
      <% if @policies.any? %>
        <section id="policies" class="policies heading-block">
          <h1 class="label">Policies</h1>
          <div class="content">
            <%= render partial: "policies/list_description", locals: {policies: @policies} %>
          </div>
        </section>
      <% end %>
      <% if @publications.any? %>
        <section id="publications" class="heading-block">
          <h1 class="label">Publications</h1>
          <div class="content">
            <%= render partial: "publications/list_description", locals: {publications: @publications} %>
            <p class="see-all">
              <%#= link_to 'See all publications', publications_filter_path(@classification) %>
            </p>
          </div>
        </section>
      <% end %>
      <% if @consultations.any? %>
        <section id="consultations" class="heading-block">
          <h1 class="label">Consultations</h1>
          <div class="content">
            <%= render partial: "publications/list_description", locals: {publications: @consultations} %>
            <p class="see-all">
              <%#= link_to 'See all consultations', publications_filter_path(@classification, publication_filter_option: 'consultations') %>
            </p>
          </div>
        </section>
      <% end %>
      <% if @announcements.any? %>
        <section id="announcements" class="heading-block">
          <h1 class="label">Announcements</h1>
          <div class="content">
            <%= render partial: "announcements/list_description", locals: {announcements: @announcements} %>
            <p class="see-all">
              <%= link_to "See all announcements", announcements_filter_path(@classification) %>
            </p>
          </div>
        </section>
      <% end %>
      <% if @detailed_guides.any? %>
        <section id="detailed-guidance" class="heading-block">
          <h1 class="label">Detailed guidance</h1>
          <div class="content">
            <ol class="document-list">
              <% @detailed_guides.each do |detailed_guide| %>
                <%= content_tag_for :li, detailed_guide, class: 'document-row' do %>
                  <h2><%= link_to detailed_guide.title, public_document_path(detailed_guide) %></h2>
                <% end %>
              <% end %>
            </ul>
          </div>
        </section>
      <% end %>
      <% if @related_classifications.any? %>
        <section id="related-topics" class="heading-block">
          <h1 class="label">Related topics</h1>
          <div class="content">
            <ol class="document-list">
              <% @related_classifications.each do |topic| %>
                <%= content_tag_for :li, topic, class: 'document-row' do %>
                  <h2><%= link_to topic.name, topic_path(topic) %></h2>
                <% end %>
              <% end %>
            </ol>
          </div>
        </section>
      <% end %>
      <section id="organisations" class="heading-block organisations">
        <h1 class="label">Who&rsquo;s involved</h1>
        <div class="content">
          <ul>
            <% @classification.lead_organisations.each do |organisation| %>
              <%= content_tag_for(:li, organisation, class: organisation.slug) do %>
                <%= link_to organisation_path(organisation),
                      class: logo_classes(class_name: organisation.organisation_logo_type.class_name, stacked: true) do %>
                  <span><%= organisation_logo_name(organisation) %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if @classification.slug == 'first-world-war-centenary' %>
              <li class="non-govuk imperial-war-museums">
                <a href="http://www.iwm.org.uk">Imperial War Museums</a>
              </li>
              <li class="non-govuk english-heritage">
                <a href="http://www.english-heritage.org.uk">English Heritage</a>
              </li>
              <li class="non-govuk commonwealth-war-graves-commission">
                <a href="http://www.cwgc.org">Commonwealth War Graves Commission</a>
              </li>
              <li class="non-govuk arts-council-england">
                <a href="http://www.artscouncil.org.uk">Arts Council England</a>
              </li>
              <li class="non-govuk bbc">
                <a href="http://www.bbc.co.uk">BBC</a>
              </li>
              <li class="non-govuk british-library">
                <a href="http://www.bl.uk">British Library</a>
              </li>
              <li class="non-govuk heritage-lottery-fund">
                <a href="http://www.hlf.org.uk/ThenAndNow">Heritage Lottery Fund</a>
              </li>
              <li class="non-govuk war-memorials-trust">
                <a href="http://www.warmemorials.org">War Memorials Trust</a>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    </div>
  </div>
<% end %>
