<% page_title @topical_event.name %>
<% page_class "topical-events-show" %>
<% atom_discovery_link_tag atom_feed_url_for(@topical_event), "Latest activity on #{@topical_event.name}" %>

<%= content_tag_for(:div, @topical_event, class: "classification #{@topical_event.class.name.underscore}") do %>

  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render partial: 'shared/heading',
                locals: { heading: "#{h(@topical_event.name)}#{' <span class="archived">(Archived)</span>' if @topical_event.archived?}".html_safe,
                          big: true, extra: true } %>
      <% if @topical_event.logo_url.present? %>
        <div class="heading-extra topical-event-logo">
          <div class="heading-inner">
            <%= image_tag(@topical_event.logo_url(:s300), alt: @topical_event.logo_alt_text) if @topical_event.logo_url %>
          </div>
        </div>
      <% end %>
      <% if @topical_event.organisations.any? %>
        <aside class="meta metadata-list">
          <div class="inner-heading">
            <dl>
              <dt><%= t('document.headings.organisations', count: @topical_event.organisations.length) %>:</dt>
              <dd>
                <%= render  partial: 'organisations/organisations_name_list',
                            locals: { organisations: @topical_event.organisations } %>
              </dd>
            </dl>
          </div>
        </aside>
      <% end %>
    </div>
  </header>

  <div class="block">
    <div class="inner-block">
      <div class="page-description">
        <section class="description">
          <%= govspeak_to_html @topical_event.description %>
          <% if @topical_event.about_page.present? %>
            <p class="read-more">
              <%= link_to @topical_event.about_page.read_more_link_text, topical_event_about_pages_path(@topical_event) %>
            </p>
          <% end %>
          <% if @topical_event.social_media_accounts.any? %>
            <%= render partial: 'shared/social_media_accounts',
                       locals: { socialable: @topical_event, followus: true } %>
          <% end %>
        </section>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="inner-block">
      <section class="featured-news items-<%= @featurings.length %>">
        <% if @featurings.any? %>
          <%= render partial: 'classifications/classification_featuring',
                   collection: @featurings %>
        <% end %>
        <%= render partial: 'shared/recently_updated',
                   locals: { recently_updated: @recently_changed_documents,
                           atom_url: atom_feed_url_for(@topical_event),
                           extra_class: 'panel',
                           see_all_link: latest_path(topics: [@classification]),
                           documents_source: 'rummager' } %>
      </section>
    </div>
  </div>

  <div class="documents-grid <%= topic_grid_size_class(@publications, @consultations, @announcements) %>">
    <div class="inner-block">
      <%= render(partial: 'shared/document_list_from_rummager', locals: { documents: @publications['results'], type: :publications, documents_count: @publications['total'] }) if @publications['results'].any? %>
      <%= render(partial: 'shared/document_list_from_rummager', locals: { documents: @consultations['results'], type: :consultations, documents_count: @consultations['total'] }) if @consultations['results'].any? %>
      <%= render(partial: 'shared/document_list_from_rummager', locals: { documents: @announcements['results'], type: :announcements, documents_count: @announcements['total'] }) if @announcements['results'].any? %>

      <% if @detailed_guides.any? %>
        <section id="detailed-guidance" class="document-block documents-<%= document_block_counter %>">
          <h1 class="label">Detailed guidance</h1>
          <div class="content">
            <ol class="document-list">
              <% @detailed_guides.each do |detailed_guide| %>
                <%= content_tag_for :li, detailed_guide, class: 'document-row' do %>
                  <h2><%= link_to detailed_guide.title, public_document_path(detailed_guide) %></h2>
                <% end %>
              <% end %>
            </ol>
          </div>
        </section>
      <% end %>
    </div>
  </div>


  <div class="block heading-block">
    <div class="inner-block">
      <% if @topical_event.lead_organisations.any? %>
        <section id="organisations" class="organisations">
          <div class="head-section">
            <h1 class="label">Who&rsquo;s involved</h1>
          </div>
          <div class="content">
            <ul>
              <% @topical_event.lead_organisations.each do |organisation| %>
                <%= content_tag_for(:li, organisation, class: organisation_brand_colour_class(organisation)) do %>
                  <%= link_to organisation_path(organisation),
                        class: logo_classes(organisation: organisation, stacked: true) do %>
                    <span><%= organisation_logo_name(organisation) %></span>
                  <% end %>
                <% end %>
              <% end %>
              <% if @topical_event.slug == 'first-world-war-centenary' %>
                <li class="non-govuk imperial-war-museums">
                  <a href="http://www.iwm.org.uk">Imperial War Museums</a>
                </li>
                <li class="non-govuk historic-england">
                  <a href="https://historicengland.org.uk">Historic England</a>
                </li>
                <li class="non-govuk commonwealth-war-graves-commission">
                  <a href="http://www.cwgc.org">Commonwealth War Graves Commission</a>
                </li>
                <li class="non-govuk arts-council-england">
                  <a href="http://www.artscouncil.org.uk">Arts Council England</a>
                </li>
                <li class="non-govuk bbc">
                  <a href="http://www.bbc.co.uk">BBC</a>
                </li>
                <li class="non-govuk british-library">
                  <a href="http://www.bl.uk">British Library</a>
                </li>
                <li class="non-govuk heritage-lottery-fund">
                  <a href="http://www.hlf.org.uk/ThenAndNow">Heritage Lottery Fund</a>
                </li>
                <li class="non-govuk war-memorials-trust">
                  <a href="http://www.warmemorials.org">War Memorials Trust</a>
                </li>
              <% end %>
            </ul>
          </div>
        </section>
      <% end %>
    </div>
  </div>
<% end %>
