<% page_title @topical_event.name %>
<% page_class "topical-events-show" %>
<% atom_discovery_link_tag atom_feed_url_for(@topical_event), t("topical_event.latest_activity", event: @topical_event.name) %>

<%= content_tag_for(:div, @topical_event, class: "classification #{@topical_event.class.name.underscore}") do %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          context: ("(Archived)" if @topical_event.archived?)&.html_safe,
          title: h(@topical_event.name)
        } %>

        <div class="govuk-!-margin-bottom-8">
          <%= render "govuk_publishing_components/components/lead_paragraph", text: strip_tags(govspeak_to_html(@topical_event_lead_description)) %>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>

        <% if @topical_event.organisations.any? %>
          <div class="govuk-!-margin-bottom-8">
            <%= render "govuk_publishing_components/components/metadata", {
              other: {
                "Organisations": sanitize(array_of_links_to_organisations(@topical_event.organisations).to_sentence)
              }
            } %>
          </div>
        <% end %>

        <% if @topical_event.logo_url.present? %>
          <%= image_tag(@topical_event.logo_url(:s300), alt: @topical_event.logo_alt_text) if @topical_event.logo_url %>
        <% end %>

        <div class="govuk-!-margin-bottom-8">
          <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
            <%= govspeak_to_html(@topical_event_secondary_description) %>
          <% end %>

          <% if @topical_event.topical_event_about_page.present? %>
            <p class="govuk-body">
              <%= link_to @topical_event.topical_event_about_page.read_more_link_text, topical_event_about_pages_path(@topical_event), class: "govuk-link" %>
            </p>
          <% end %>
        </div>

        <div class="govuk-!-margin-bottom-8">
          <% if @topical_event.social_media_accounts.any? %>
            <%= render "govuk_publishing_components/components/share_links", {
              links: @topical_event.social_media_accounts.map do |account|
                {
                  href: account.url,
                  text: account.display_name,
                  icon: account.service_name.parameterize,
                }
              end
            } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="topical-events-featured-news govuk-grid-row">
      <% if @featurings.any? %>
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/heading", {
            text: t("topical_event.headings.featured"),
            font_size: "l",
            margin_bottom: 4,
            padding: true,
            border_top: 2,
          } %>
        </div>

        <%= render partial: 'classifications/classification_featuring', collection: @featurings %>
      <% end %>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
        <%= render partial: 'shared/recently_updated', locals: {
          recently_updated: @recently_changed_documents,
          atom_url: atom_feed_url_for(@topical_event),
          see_all_link: latest_path(topical_events: [@topical_event]),
          documents_source: 'rummager'
        } %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/heading", {
          text: t("topical_event.headings.documents"),
          font_size: "l",
          margin_bottom: 3,
          padding: true,
          border_top: 2,
        } %>

        <%= render(partial: 'shared/document_list_from_rummager', locals: { documents: @publications['results'], type: :publications, documents_count: @publications['total'] }) if @publications['results'].any? %>
        <%= render(partial: 'shared/document_list_from_rummager', locals: { documents: @consultations['results'], type: :consultations, documents_count: @consultations['total'] }) if @consultations['results'].any? %>
        <%= render(partial: 'shared/document_list_from_rummager', locals: { documents: @announcements['results'], type: :announcements, documents_count: @announcements['total'] }) if @announcements['results'].any? %>

        <% if @detailed_guides.any? %>
          <%= render "govuk_publishing_components/components/heading", {
            text: t("topical_event.headings.detailed_guidance"),
            font_size: "l",
            margin_bottom: 4,
            padding: true,
            border_top: 2,
          } %>

          <%= render "govuk_publishing_components/components/document_list", {
            items: @detailed_guides.map do |detailed_guide|
              {
                link: {
                  text: detailed_guide.title,
                  path: public_document_path(detailed_guide)
                }
              }
            end
          } %>
        <% end %>

        <% if @travel_advice&.any? %>
          <%= render "govuk_publishing_components/components/heading", {
            text: t("topical_event.headings.travel_advice"),
            font_size: "l",
            margin_bottom: 4,
            padding: true,
            border_top: 2,
          } %>

          <%= render "govuk_publishing_components/components/document_list", {
            items: @travel_advice.map do |travel_advice|
              {
                link: {
                  text: travel_advice["title"],
                  path: travel_advice["base_path"]
                }
              }
            end
          } %>
        <% end %>

        <% if @topical_event.lead_organisations.any? %>
          <div class="organisations">
            <%= render "govuk_publishing_components/components/heading", {
              text: t("topical_event.headings.organisations"),
              font_size: "l",
              margin_bottom: 4,
              padding: true,
              border_top: 2,
            } %>

            <div class="govuk-grid-row">
              <% @topical_event.lead_organisations.each do |organisation| %>
                <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-7">
                  <%= render "govuk_publishing_components/components/organisation_logo", {
                    organisation: {
                      name: organisation,
                      url: organisation_path(organisation),
                      brand: organisation[:slug],
                      crest: organisation.organisation_crest,
                    }
                  } %>
                </div>
              <% end %>
            </div>

            <% if @topical_event.slug == 'first-world-war-centenary' %>
              <ul class="organisations-list govuk-clearfix">
                <li class="organisations-list__item non-govuk imperial-war-museums">
                  <a href="http://www.iwm.org.uk"><%= t("topical_event.lead_organisations.iwm") %></a>
                </li>
                <li class="organisations-list__item non-govuk historic-england">
                  <a href="https://historicengland.org.uk"><%= t("topical_event.lead_organisations.historic_england") %></a>
                </li>
                <li class="organisations-list__item non-govuk commonwealth-war-graves-commission">
                  <a href="http://www.cwgc.org"><%= t("topical_event.lead_organisations.commonwealth_war_graves_commission") %></a>
                </li>
                <li class="organisations-list__item non-govuk arts-council-england">
                  <a href="http://www.artscouncil.org.uk"><%= t("topical_event.lead_organisations.arts_council_england") %></a>
                </li>
                <li class="organisations-list__item non-govuk bbc">
                  <a href="http://www.bbc.co.uk"><%= t("topical_event.lead_organisations.bbc") %></a>
                </li>
                <li class="organisations-list__item non-govuk british-library">
                  <a href="http://www.bl.uk"><%= t("topical_event.lead_organisations.british_library") %></a>
                </li>
                <li class="organisations-list__item non-govuk heritage-lottery-fund">
                  <a href="http://www.hlf.org.uk/ThenAndNow"><%= t("topical_event.lead_organisations.heritage_lottery_fund") %></a>
                </li>
                <li class="organisations-list__item non-govuk war-memorials-trust">
                  <a href="http://www.warmemorials.org"><%= t("topical_event.lead_organisations.war_memorials_trust") %></a>
                </li>
              </ul>
            <% end %>

            <% if @topical_event.slug == '2022-events-platinum-jubilee-commonwealth-games-unboxed' %>
              <ul class="organisations-list govuk-clearfix">
                <li class="organisations-list__item non-govuk birmingham_2022_commonwealth_games">
                  <a href="https://www.gov.uk/government/organisations/birmingham-organising-committee-for-the-2022-commonwealth-games-ltd"><%= t("topical_event.lead_organisations.birmingham_2022_commonwealth_games") %></a>
                </li>
                <li class="organisations-list__item non-govuk queens_platinum_jubilee">
                  <a href="https://www.royal.uk/platinumjubilee"><%= t("topical_event.lead_organisations.queens_platinum_jubilee") %><%= t("topical_event.lead_organisations.queens_platinum_jubilee") %></a></a>
                </li>
                <li class="organisations-list__item non-govuk unboxed">
                  <a href="https://unboxed2022.uk/"><%= t("topical_event.lead_organisations.unboxed") %><%= t("topical_event.lead_organisations.unboxed") %></a>
                </li>
              </ul>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
