<% content_for :page_title, @worldwide_organisation.name %>
<% content_for :title, @worldwide_organisation.name %>
<% content_for :context, "Worldwide organisation"  %>
<% content_for :title_margin_bottom, 4 %>

<p class="govuk-body">
  <%= view_on_website_link_for @worldwide_organisation, class: "govuk-link", target: "blank" %>
</p>

<%= render "components/secondary_navigation", {
  aria_label: "Organisation navigation tabs",
  items: secondary_navigation_tabs_items(@worldwide_organisation, request.path)
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "About",
      font_size: "l",
      margin_bottom: 6,
    } %>
    <% if @worldwide_organisation.about_us.present? %>
      <%= render "components/summary_card_component", {
        title: "About us",
        rows: [
          {
            key: "Summary",
            value: @worldwide_organisation.summary,
          },
          {
            key: "Body",
            value: simple_format(truncate(@worldwide_organisation.body, length: 500), class: "govuk-!-margin-top-0"),
          },
        ].reject { |row| row[:value].blank? },
        summary_card_actions: [
          {
            label: "View",
            href: admin_edition_path(@worldwide_organisation.about_us)
          }
        ],
      } %>
    <% else %>
      <%= render "govuk_publishing_components/components/inset_text", {
        text: "No about us page."
      } %>
    <% end %>
  </div>
</div>
