<div class="g3 policy_area_view">
  <h1 class="page_title">Policy area</h1>

  <div class="g3 policy_area_overview group">
    <section class="policy_area">
      <%= content_tag_for :article, @policy_area do %>
        <h1 class="page_title name"><%= @policy_area.name %></h1>
        <p class="description"><%= @policy_area.description %></p>
      <% end %>
    </section>

    <%= render partial: "documents/recently_changed_documents", object: @recently_changed_documents[0...5] %>
  </div>

  <% if @featured_policies.any? %>
    <div class="g3">
      <section class="priority_policies">
        <h1>Government priorities</h1>
        <ul class="featured policies">
          <% @featured_policies.each do |policy| %>
            <%= content_tag_for :li, policy, class: "featured_policy" do %>
              <div class="cover">
                <%= image_tag "pub-cover.png" %>
              </div>
              <div class="description">
                <h2 class="title"><%= link_to policy.title, public_document_path(policy), title: "View #{policy.title}" %></h2>
              </div>
            <% end %>
          <% end %>
        </ul>
      </section>
    </div>
  <% end %>

  <div class="g2">
    <%= render partial: "documents/policies", object: @policies, locals: {title: "All Policies"} %>
  </div>

  <div class="g1 collection">
    <%= render partial: "related_policy_areas", object: @related_policy_areas %>
  </div>

  <div class="g1 collection">
    <%= render partial: "documents/organisations", object: @policy_area.organisations %>
  </div>
</div>
