<% page_title "Edit #{@promotional_feature.title} promotional feature" %>
<h1>Edit '<%= @promotional_feature.title %>' feature</h1>

<%= form_for [:admin, @promotional_feature.organisation, @promotional_feature], html: { class: "form-horizontal promotional_feature_item" } do |form| %>
  <%= form.errors %>

  <fieldset>
    <%= form.text_field :title, label_text: 'Feature title' %>
  </fieldset>

  <%= form.save_or_cancel(cancel: [:admin, @promotional_feature.organisation, PromotionalFeature]) %>
<% end %>
