<% content_for :page_title, @organisation.name %>
<% content_for :context, "Organisation" %>
<% content_for :title, @organisation.name %>
<% content_for :title_margin_bottom, 4 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      <%= view_on_website_link_for @organisation, class: "govuk-link", target: "blank" %>
    </p>

    <%= render "components/secondary_navigation", {
      aria_label: "Organisation navigation tabs",
      items: secondary_navigation_tabs_items(@organisation, request.path)
    } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Promotional features",
      font_size: "l",
      margin_bottom: 6,
    } %>

    <%= render "govuk_publishing_components/components/warning_text", {
      text: "Changes to promotional features appear instantly on the live site."
    } %>

    <%= render "govuk_publishing_components/components/button", {
      text: "New promotional feature",
      href: new_admin_organisation_promotional_feature_path,
      margin_bottom: 6,
    } %>

    <% if @promotional_features.many? %>
      <p class="govuk-body">
        <%= link_to "Reorder promotional features", reorder_admin_organisation_promotional_features_path(@organisation), class: "govuk-link" %>
      </p>
    <% end %>

    <% if @promotional_features.present? %>
      <div class="govuk-table--with-actions">
        <%= render "govuk_publishing_components/components/table", {
          rows: @promotional_features.map do |promotional_feature|
            [
              {
                text: promotional_feature.title
              },
              {
                text: link_to(sanitize("View #{tag.span(promotional_feature.title, class: 'govuk-visually-hidden')}"), admin_organisation_promotional_feature_path(@organisation, promotional_feature), class: "govuk-link govuk-!-margin-right-2") +
                  (link_to(sanitize("Rename #{tag.span(promotional_feature.title, class: 'govuk-visually-hidden')}"), edit_admin_organisation_promotional_feature_path(@organisation, promotional_feature), class: "govuk-link")) +
                  (link_to(sanitize("Delete #{tag.span(promotional_feature.title, class: 'govuk-visually-hidden')}"), confirm_destroy_admin_organisation_promotional_feature_path(@organisation, promotional_feature), class: "govuk-link gem-link--destructive govuk-!-margin-left-2")),
              }
            ]
          end
        } %>
      </div>
    <% else %>
      <%= render "govuk_publishing_components/components/inset_text", {
        text: "No promotional features."
      } %>
    <% end %>
  </div>
</div>
