<%= form_for [:admin, topic] do |topic_form| %>
  <%= topic_form.errors %>

  <fieldset>
    <%= topic_form.text_field :name %>
    <%= topic_form.text_area :description %>
  </fieldset>

  <fieldset id="policy_order" class="named sortable">
    <legend>Policy ordering</legend>
    <%= topic_form.fields_for :document_topics, topic.document_topics.for_type(Policy).published do |document_topic_form| %>
      <div id="<%= dom_id(document_topic_form.object.document) %>">
        <%= document_topic_form.text_field :ordering, label_text: link_to(document_topic_form.object.document.title, admin_document_path(document_topic_form.object.document)), class: "ordering" %>
        <%= document_topic_form.check_box :featured, label_text: "Featured?" %>
      </div>
    <% end %>
  </fieldset>

  <%= topic_form.save_or_cancel cancel: admin_topics_path %>
<% end %>
