<%= content_tag_for(:tr, topic) do %>
  <td class="name">
    <%= link_to topic.name, [:admin, topic], title: "Edit #{model_name.humanize.downcase} #{topic.name}" %>
  </td>
  <td class="description"><%= truncate(topic.description, length: 130, separator: ' ') %></td>
  <td class="details"><%= classification_contents_breakdown(topic) %></td>
  <td class="related">
    <ul>
      <% topic.related_classifications.each do |pa| %>
        <%= content_tag_for(:li, pa) do %>
          <%= link_to pa.name, edit_admin_topic_path(pa), title: "Edit #{model_name.humanize.downcase} #{pa.name}" %>
        <% end %>
      <% end %>
    </ul>
  </td>
<% end %>
