<div class="g2 first">
  <section>
    <h1>Edit topic</h1>
    <%= form_for [:admin, @topic] do |topic_form| %>
      <%= topic_form.errors %>

      <fieldset>
        <%= topic_form.label :name %>
        <%= topic_form.text_field :name %>
        <%= topic_form.label :description %>
        <%= topic_form.text_area :description %>
      </fieldset>

      <%= topic_form.save_or_cancel cancel: admin_topics_path %>
    <% end %>
  </section>
</div>