<% page_title @classification.name %>

<% content_for :current_tab do %>
  <table class="<%= model_name %> table">
    <tr>
      <th>Description</th>
      <td class="description"><%= @classification.description %></td>
    </tr>

    <tr>
      <th>Details</th>
      <td class="details"><%= classification_contents_breakdown(@classification) %></td>
    </tr>

    <tr>
      <th>Related</th>
      <td class="related">
        <% if @classification.related_classifications.any? %>
          <ul>
            <% @classification.related_classifications.each do |pa| %>
              <%= content_tag_for(:li, pa) do %>
                <%= link_to pa.name, [:admin, pa], title: "Edit #{model_name.humanize.downcase} #{pa.name}" %>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <em>None</em>
        <% end %>
      </td>
    </tr>
  </table>

  <div class="form-actions">
    <%= link_to "Edit", [:edit, :admin, @classification], class: "btn btn-large btn-primary"%>
  </div>
<% end %>

<%= render partial: 'tab_wrapper', locals: { model: @classification } %>
