<% page_title edition_page_title(@document), @policy.title, "Policies " %>

<%= content_tag_for :article, @policy, nil, class: "document_page #{@policy.type.downcase}" do %>
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render "documents/header",
                 document: @policy,
                 footer_meta: true,
                 header_title: 'Policy',
                 topics: @policy.topics %>
    </div>
  </header>

  <div class="block">
    <div class="inner-block">
      <div class="meta-three">
        <%= render "policies/policy_navigation" %>
      </div>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <%= render "document_contextual" %>
      <%= national_statistics_logo(@policy) %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
    <h2>Supporting detail:</h2>
      <h1 class="supporting-page-title"><%= @document.title %></h1>

      <%= render 'documents/archive_notice', document: @document, type: '' if @document.archived? %>

      <%= render "document_content" %>
    </div>
  </div>
  <div class="inner-block">
    <%= render partial: 'documents/document_footer_meta', locals: { document: @policy, policies: @related_policies } %>
  </div>
<% end %>
