<% page_title @supporting_page.title, @policy.title, "Policies " %>
<div class="g3">
  <h1 class="page_title has_meta"><%= @supporting_page.title %></h1>
  <p class="meta">
    <span class="metadata">
      Updated <%= time_ago(@policy.updated_at, class: 'updated_at') %></span>
    <% @policy.policy_areas.each do |policy_area| %>
      <%= link_to policy_area.name, policy_area_path(policy_area), class: "policy_area", id: dom_id(policy_area) %>
    <% end %>
    <% @policy.organisations.each do |organisation| %>
      <%= link_to organisation.name, organisation_path(organisation), class: "organisation" %>
    <% end %>
    <% @policy.ministerial_roles.each do |ministerial_role| %>
      <%= link_to ministerial_role.current_person_name, ministerial_role, class: "minister" %>
    <% end %>
  </p>
</div>

<div class="g3f document_page">
  <div class="g1r">
    <section class="contextual_info">
      <h1>Policy definition</h1>
      <nav class="policy_parts">
        <%= link_to_with_current @policy.title, public_document_path(@policy, anchor: 'policy_view') %>
        <% if govspeak_headers(@policy.body).any? || @related_news_articles.any? || @related_speeches.any? || @related_publications.any? || @related_consultations.any? %>
          <ol id="policy_sections">
            <% govspeak_headers(@policy.body).each do |header| %>
              <li><%= link_to header.text, public_document_path(@policy, anchor: header.id) %></li>
            <% end %>
            <% if @related_news_articles.any? %><li><%= link_to "Related news", public_document_path(@policy, anchor: "related-news-articles") %></li><% end %>
            <% if @related_speeches.any? %><li><%= link_to "Related speeches", public_document_path(@policy, anchor: "related-speeches") %></li><% end %>
            <% if @related_publications.any? %><li><%= link_to "Related publications", public_document_path(@policy, anchor: "related-publications") %></li><% end %>
            <% if @related_consultations.any? %><li><%= link_to "Related consultations", public_document_path(@policy, anchor: "related-consultations") %></li><% end %>
          </ol>
        <% end %>
      </nav>

      <% if (supporting_pages = @policy.supporting_pages).any? %>
        <h2>Supporting detail</h2>
        <nav class="supporting_pages">
          <% supporting_pages.each do |supporting_page| %>
            <%= link_to_with_current supporting_page.title, policy_supporting_page_path(@policy.document_identity, supporting_page) %>
          <% end %>
        </nav>
      <% end %>
    </section>
  </div>

  <div class="g2">
    <%= render partial: 'documents/inapplicable_nations', locals: { document: @policy } %>
    <article class="document has_notice">
      <div class="body">
        <%= govspeak_to_html @supporting_page.body %>
      </div>
    </article>
  </div>
</div>
