<% page_title edition_page_title(@supporting_page), @policy.title, "Policies " %>

<%= content_tag_for :article, @document, nil, class: "document-page #{@document.type.downcase}" do %>
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render "documents/header",
                 document: @document,
                 header_title: 'Policy',
                 topics: @document.topics %>
    </div>
  </header>

  <div class="block">
    <div class="inner-block">
      <div class="meta-three">
        <%= render "policies/policy_navigation" %>
      </div>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <%= render "document_contextual" %>
      <%= national_statistics_logo(@document) %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
    <h2>Supporting detail:</h2>
      <h1 class="supporting-page-title"><%= @supporting_page.title %></h1>

      <%= render 'documents/archive_notice', document: @supporting_page, type: '' if @supporting_page.archived? %>

      <%= render "document_content" %>
    </div>
  </div>
<% end %>
