<div class="g3">
  <section class="policy_view">
    <h1 class="title"><%= @supporting_page.title %></h1>
    <nav class="meta">
      <span class="metadata">
        Updated
        <%= render_datetime_microformat(@policy, :updated_at) do %>
          <%= time_ago_in_words(@policy.updated_at) %> ago
        <% end %>
      </span>
      <% @policy.policy_areas.each do |policy_area| %>
        <%= link_to policy_area.name, policy_area_path(policy_area), class: "policy_area" %>
      <% end %>
      <% @policy.organisations.each do |organisation| %>
        <%= link_to organisation.name, organisation_path(organisation), class: "organisation" %>
      <% end %>
      <% @policy.ministerial_roles.each do |ministerial_role| %>
        <%= link_to ministerial_role.current_person_name, ministerial_role, class: "minister" %>
      <% end %>
    </nav>

    <div class="group offering">
      <div class="g1r">
        <nav class="policy_parts">
          <h3>Policy definition</h3>
          <section>
            <%= link_to_with_current @policy.title, public_document_path(@policy, anchor: 'policy_view') %>

            <ol id="policy_sections">
              <% govspeak_headers(@policy.body).each do |header| %>
                <li><%= link_to header.text, public_document_path(@policy, anchor: header.id) %></li>
              <% end %>
              <% if @related_news_articles.any? %><li><%= link_to "Related news", public_document_path(@policy, anchor: "related-news-articles") %></li><% end %>
              <% if @related_speeches.any? %><li><%= link_to "Related speeches", public_document_path(@policy, anchor: "related-speeches") %></li><% end %>
              <% if @related_publications.any? %><li><%= link_to "Related publications", public_document_path(@policy, anchor: "related-publications") %></li><% end %>
              <% if @related_consultations.any? %><li><%= link_to "Related consultations", public_document_path(@policy, anchor: "related-consultations") %></li><% end %>
            </ol>
          </section>

          <% if (supporting_pages = @policy.supporting_pages).any? %>
            <section>
              <h3>Supporting detail</h3>
              <% supporting_pages.each do |supporting_page| %>
                <%= link_to_with_current supporting_page.title, policy_supporting_page_path(@policy.document_identity, supporting_page) %>
              <% end %>
            </section>
          <% end %>
        </nav>
      </div>

      <div class="g2 first">
        <%= render partial: 'documents/inapplicable_nations', locals: { document: @policy } %>

        <article class="document">
          <div class="body">
            <%= govspeak_to_html @supporting_page.body %>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>