<% page_title @supporting_page.title, @policy.title, "Policies " %>

<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
        <%= render  partial: "documents/header", locals: {
                    document: @document,
                    header_title: 'Policy',
                    topics: @document.topics } %>
      <section class="meta-three">
        <%= render partial: "policies/policy_navigation" %>
      </section>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <%= render partial: "document_contextual", locals: {edition: @document} %>
      <%= national_statistics_logo(@document) %>
    </div>
  </div>
  <div class="block-3">
    <div class="inner-block">
    <h1 class="supporting-page-title">Supporting detail:
      <%= @supporting_page.title %></h1>
      <%= render partial: "document_content" %>
    </div>
  </div>
</div>
