<h2>Currently featured</h2>
<p class="warning">
  Warning: changes to features appear instantly on the live site.
</p>

<% if feature_list.features.current.any? %>
  <% if feature_list.features.current.many? %>
    <p>
      To change the order of your featured documents, drag them up or down and then click "Save features order".
    </p>
  <% end %>
  <%= form_for feature_list, url: reorder_admin_feature_list_path(feature_list), method: :post do |form| %>
    <fieldset class="sortable">
      <% @feature_list.features.current.each do |feature| %>
	      <div class="well feature-list">
          <%= label_tag "ordering-#{feature.id}" do %>
          <% if feature.document && feature.document.published_edition %>
	          <div><i class="icon-align-justify" style="opacity:0.1"></i></div>
	          <div><%= link_to(feature, admin_edition_path(feature.document.published_edition)) %></div>
	          <div class="type"><%= feature.document.published_edition.type.titleize %> (document)</div>
	          <div><%=l feature.document.published_edition.major_change_published_at.to_date %></div>
	          <div>
		          <%= link_to('Unfeature', unfeature_admin_feature_list_feature_path(feature_list, feature), confirm: "Unfeature '#{feature}'?", method: :post, class: "btn btn-danger") %>
	          </div>
	        <% elsif feature.topical_event %>
	          <div><i class="icon-align-justify" style="opacity:0.1"></i></div>
	          <div><%= link_to feature.topical_event, edit_admin_topical_event_path(feature.topical_event) %></div>
	          <div class="type">Topical Event</div>
	          <div><%= l feature.topical_event.start_date.to_date %> to <%= l feature.topical_event.end_date.to_date %></div>
	          <div>
		          <%= link_to('Unfeature', unfeature_admin_feature_list_feature_path(feature_list, feature), confirm: "Unfeature '#{feature}'?", method: :post, class: "btn btn-danger") %>
	          </div>
	        <% elsif feature.offsite_link %>
	          <div><i class="icon-align-justify" style="opacity:0.1"></i></div>
	          <div><%= link_to feature.offsite_link, polymorphic_path([:edit, :admin, feature.offsite_link.parent, feature.offsite_link]) %></div>
	          <div class="type"><%= feature.offsite_link.humanized_link_type %> (offsite link)</div>
	          <div></div>
	          <div>
		          <%= link_to('Unfeature', unfeature_admin_feature_list_feature_path(feature_list, feature), confirm: "Unfeature '#{feature}'?", method: :post, class: "btn btn-danger") %>
	          </div>
	        <% else %>
	          <%= feature.document ? feature.document.latest_edition : "No edition" %>
	        <% end %>
	      <% end %>
	      <%= text_field_tag "ordering[#{feature.id}]", feature.ordering, id: "ordering-#{feature.id}", class: "ordering" %>
	    </div>
      <% end %>
    </fieldset>
    <%= form.submit "Save ordering", class: "btn btn-primary btn-large" %>
  <% end %>
<% else %>
  <p>Nothing featured yet</p>
<% end %>
