<h2>Currently featured documents</h2>
<p class="warning">
  Warning: changes to features appear instantly on the live site.
</p>

<% if feature_list.features.current.any? %>
  <p><strong>Reorder featured documents:</strong></p>
  <%= form_for feature_list, url: reorder_admin_feature_list_path(feature_list), method: :post do |form| %>
    <fieldset class="sortable">
      <% @feature_list.features.current.each do |feature| %>
        <div class="well">
          <%= label_tag "ordering-#{feature.id}" do %>
            <% if feature.document && feature.document.published_edition %>
              <%= link_to(feature, admin_edition_path(feature.document.published_edition)) %>
            <% elsif feature.topical_event %>
              <%= link_to(feature, edit_admin_topical_event_path(feature.topical_event)) %>
            <% else %>
              <%= feature.document ? feature.document.latest_edition : "No edition" %>
            <% end %>
          <% end %>

          <%= text_field_tag "ordering[#{feature.id}]", feature.ordering, id: "ordering-#{feature.id}", class: "ordering" %>
        </div>
      <% end %>
    </fieldset>
    <%= form.submit "Update feature order", class: "btn" %>
  <% end %>
<% else %>
  <p>Nothing featured yet</p>
<% end %>
