<h2>Currently featured</h2>
<p class="warning">
  Warning: changes to features appear instantly on the live site.
</p>
<p>
    Please note that you can only feature a maximum of <%= maximum_featured_documents %> documents. Any featured documents beyond this limit will not appear on the live site.
</p>
<% if feature_list.features.current.any? %>
  <% if feature_list.features.current.many? %>
    <p>
      To change the order of your featured documents, drag them up or down and then click "Save ordering".
    </p>
  <% end %>
  <%= form_for feature_list, url: update_order_admin_feature_list_path(feature_list), method: :post do |form| %>
    <fieldset class="sortable">
      <% feature_list.features.current.each do |feature| %>
        <div class="well feature-list">
          <%= label_tag "ordering-#{feature.id}" do %>
            <div class="row">
              <% if feature.document && feature.document.live_edition %>
                <div class="title col-md-6">
                  <i class="glyphicon glyphicon-align-justify add-right-margin"></i>
                  <%= link_to(feature, admin_edition_path(feature.document.live_edition)) %>
                </div>
                <div class="type col-md-2"><%= feature.document.live_edition.type.titleize %> (document)</div>
                <div class="date col-md-2"><%=localize feature.document.live_edition.major_change_published_at.to_date %></div>
                <%= content_tag_for :div, feature.document.live_edition, class: "button text-right col-md-2" do %>
                  <%= link_to('Unfeature',
                        unfeature_admin_feature_list_feature_path(feature_list, feature),
                        data: { confirm: "Unfeature '#{feature}'?" },
                        method: :post,
                        class: "btn btn-danger") %>
                <% end %>
              <% elsif feature.topical_event %>
                <div class="title col-md-6">
                  <i class="glyphicon glyphicon-align-justify add-right-margin"></i>
                  <%= link_to feature.topical_event, edit_admin_topical_event_path(feature.topical_event) %>
                </div>
                <div class="type col-md-2">Topical Event</div>
                <div class="date col-md-2"><%= topical_event_dates_string(feature.topical_event) %></div>
                <%= content_tag_for :div, feature.topical_event, class: "button text-right col-md-2" do %>
                  <%= link_to('Unfeature',
                        unfeature_admin_feature_list_feature_path(feature_list, feature),
                        data: { confirm: "Unfeature '#{feature}'?" },
                        method: :post,
                        class: "btn btn-danger") %>
                <% end %>
              <% elsif feature.offsite_link %>
                <div class="title col-md-6">
                  <i class="glyphicon glyphicon-align-justify add-right-margin"></i>
                  <%= link_to feature.offsite_link, polymorphic_path([:edit, :admin, feature.offsite_link.parent, feature.offsite_link]) %>
                </div>
                <div class="type col-md-2"><%= feature.offsite_link.humanized_link_type %> (offsite link)</div>
                <div class="date col-md-2"><%=localize feature.offsite_link.date.to_date if feature.offsite_link.date %></div>
                <%= content_tag_for :div, feature.offsite_link, class: "button text-right col-md-2" do %>
                  <%= link_to('Unfeature',
                        unfeature_admin_feature_list_feature_path(feature_list, feature),
                        data: { confirm: "Unfeature '#{feature}'?" },
                        method: :post,
                        class: "btn btn-danger") %>
                <% end %>
              <% else %>
                <div class="col-md-6">
                  <i class="glyphicon glyphicon-align-justify add-right-margin"></i>
                  <%= feature.document ? feature.document.latest_edition : "No edition" %>
                </div>
              <% end %>
            </div>
          <% end %>
          <%= text_field_tag "ordering[#{feature.id}]", feature.ordering, id: "ordering-#{feature.id}", class: "ordering" %>
        </div>
      <% end %>
    </fieldset>
    <%= form.submit "Save ordering", class: "btn btn-primary btn-lg" %>
  <% end %>
<% else %>
  <p>Nothing featured yet</p>
<% end %>
