<% page_title @group.name %>
<% page_class "group-show organisation-page" %>

<%= organisation_wrapper(@organisation) do %>
  <article>
    <div class="block-1">
      <div class="inner-block">
        <%= render partial: 'organisations/header', locals: {
              organisation: @organisation,
              link_to_organisation: true,
              languages_available: true
            } %>
      </div>
    </div>
    <div class="block-2">
      <div class="inner-block">
        <h1 class="main"><%= @group.name %></h1>
        <div class="description">
          <%= govspeak_to_html @group.description %>
        </div>
      </div>
    </div>
    <div class="block-3">
      <div class="inner-block">
        <div class="body">
          <% if @group_members.any? %>
            <h1 class="label">Members</h1>
            <ul class="group-members">
              <% @group_members.each_with_index do |(member, roles), i| %>
                <%= render partial: "people/person",
                            locals: {
                              person: member,
                              roles: roles,
                              hlevel: "h1",
                              hide_image: false,
                              extra_class: (i % 4 == 0) ? 'clear-person' : ''
                            } %>
              <% end %>
            </ul>
          <% else %>
            <p>There are no members in this group.</p>
          <% end %>
        </div>
      </div>
    </div>
  </article>
<% end %>
