<% page_title "Imports" %>

<section>
  <nav class="actions">
    <%= link_to "New import", new_admin_import_path, class: "btn new_resource" %>
  </nav>

  <h1>Imports</h1>

  <%= paginate @imports, theme: 'twitter-bootstrap' %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Started</th>
        <th>Creator</th>
        <th>Type</th>
        <th>Filename</th>
        <th>Status</th>
        <th># success</th>
        <th># errors</th>
        <th>Finished</th>
        <th>Force publish</th>
      </tr>
    </thead>
    <tbody>
      <% @imports.each do |import| %>
        <%= content_tag_for(:tr, import) do %>
          <td class="started_at">
            <%= import.import_started_at && absolute_time(import.import_started_at) %>
          </td>
          <td class="creator"><%= linked_author import.creator %></td>
          <td class="type"><%= import.data_type %></td>
          <td class="filename"><%= link_to import.original_filename, [:admin, import] %></td>
          <td class="status">
            <%= import.status %>
            <% if import.status == :new %>
              <%= button_to "Run", run_admin_import_path(import), class: "btn btn-primary" %>
            <% end %>
          </td>
          <% if import.import_started_at %>
            <td class="success_count"><%= link_to import.success_count, admin_import_path(import, anchor: "success") %></td>
            <td class="error_count"><%= link_to import.number_of_rows_with_errors, admin_import_path(import, anchor: "errors") %></td>
            <td class="finished_at">
              <%= import.import_finished_at && absolute_time(import.import_finished_at) %>
            </td>
            <td class="force_publish">
              <% unless import.status == :failed %>
                <% if import.most_recent_force_publication_attempt.present? %>
                  <%= link_to force_publication_attempt_state_and_time(import.most_recent_force_publication_attempt), force_publish_log_admin_import_path(import), title: 'View log for most recent force publication attempt' %>
                <% end %>
                <% if import.force_publishable? %>
                  <%= button_to "Force publish #{pluralize(import.force_publishable_edition_count, 'document')}", force_publish_admin_import_path(import), class: "btn btn-small btn-primary" %>
                <% else %>
                  <% if import.most_recent_force_publication_attempt.nil? || (import.most_recent_force_publication_attempt.present? && import.most_recent_force_publication_attempt.status == :failure) %>
                    <p class="alert alert-warn"><%= import.reason_for_not_being_force_publishable %></p>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= paginate @imports, theme: 'twitter-bootstrap' %>
</section>
