<% initialise_script "GOVUK.adminImportsShow" %>

<% page_title "Import of #{@import.original_filename}" %>

<%= content_tag_for :div, @import do %>
  <h1>Import of <%= @import.original_filename %></h1>
  <dl>
    <dt>Created</dt>
    <dd><%= absolute_time(@import.created_at) %></dd>
    <dt>Imported by</dt>
    <dd><%= linked_author(@import.creator) %></dd>
    <% if [:queued, :running, :finished].include?(@import.status) %>
      <dt>Queued at</dt>
      <dd><%= absolute_time(@import.import_enqueued_at) %></dd>
    <% end %>
    <% if [:running, :finished].include?(@import.status) %>
      <dt>Started at</dt>
      <dd><%= absolute_time(@import.import_started_at) %></dd>
    <% end %>
    <% if [:finished].include?(@import.status) %>
      <dt>Finished at</dt>
      <dd><%= absolute_time(@import.import_finished_at) %></dd>
    <% end %>
  </dl>

  <% if @import.status == :new %>
    <h2 class="summary">New import</h2>
    <p><%= @import.rows.size %> rows</p>
    <%= button_to "Run", run_admin_import_path(@import), class: "btn btn-large btn-primary" %>
  <% elsif @import.status == :queued %>
    <h2 class="summary">Queued</h2>
  <% else %>
    <h2 class="summary">
      Import summary:
      <%= link_to pluralize(@import.rows.count, 'row'), annotated_admin_import_path(@import), class:"download", title: "Download CSV" %>,
      <%= link_to "#{@import.documents.count} passed", annotated_admin_import_path(@import, filter: :succeeded), class:"download", title: "Download CSV" %>,
      <%= link_to "#{@import.number_of_rows_with_errors} failed", annotated_admin_import_path(@import, filter: :failed), class:"download", title: "Download CSV" %>
    </h2>

    <% if @import.missing_row_numbers.any? %>
      <p>The following rows are either still running or failed with no error message recorded: <%= @import.missing_row_numbers.join(', ') %></p>
    <% end %>

    <% if @import.document_sources.any? %>
      <p>Added <%= link_to pluralize(@import.document_sources.count, 'document'), new_document_list_admin_import_path(@import), class: 'large-data-set' %>.</p>
    <% end %>

    <% if @import.import_errors.any? %>
      <p><%= link_to pluralize(@import.import_errors.count, 'error'), error_list_admin_import_path(@import), class: 'large-data-set' %>.</p>
    <% end %>

    <% if @import.import_logs.any? %>
      <p>See the <%= link_to "import log (#{pluralize(@import.import_logs.count, 'line')})", import_log_admin_import_path(@import), class: 'large-data-set' %>.</p>
    <% end %>
  <% end %>
<% end %>
