<% page_title @worldwide_organisation.name + " translations" %>

<%= content_tag_for(:div, @worldwide_organisation) do %>
  <div class="organisation-header">
    <h1><%= @worldwide_organisation.name %></h1>
    <%= view_on_website_link_for @worldwide_organisation %>
  </div>

  <section class="organisation-details">
    <%= tab_navigation_for(@worldwide_organisation) do %>
      <h2>Translations</h2>

      <% if @worldwide_organisation.non_english_translated_locales.present? %>
        <table id="worldwide-organisations-translations" class="table table-striped table-bordered">
          <thead>
            <tr class="table-header">
              <th>Locale</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @worldwide_organisation.non_english_translated_locales.each do |locale| %>
              <tr>
                <td class="locale">
                  <%= link_to locale.native_language_name, edit_admin_worldwide_organisation_translation_path(@worldwide_organisation, locale.code) %> (<%= link_to "view", @worldwide_organisation.public_path(locale: locale.code) %>)
                </td>
                <td class="actions">
                  <%= button_to 'Delete',
                        admin_worldwide_organisation_translation_path(@worldwide_organisation, locale.code),
                        method: :delete,
                        class: "btn btn-danger",
                        data: { confirm: "Are you sure you want to delete this translation?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="no-content no-content-bordered">No translations</p>
      <% end %>

      <nav class="form-actions">
        <% if @worldwide_organisation.missing_translations.any? %>
          <%= form_tag admin_worldwide_organisation_translations_path(@worldwide_organisation), class: 'well' do %>
            <div class="form-group">
              <%= label_tag :translation_locale, 'Locale' %>
              <%= select_locale :translation_locale, @worldwide_organisation.missing_translations, class: 'form-control input-md-3' %>
            </div>
            <%= submit_tag "Create translation", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </nav>
    <% end %>
  </section>
<% end %>
