<% page_title "Detailed guidance - #{@mainstream_category.title}" %>
<% page_class "mainstream-category-show" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page-header detailed-guides">
      <h1 class="page-title"><%= @mainstream_category.title %></h1>
      <p><% if @mainstream_category.description %><%= @mainstream_category.description %><% else %>Additional detailed guidance from government departments<% end %></p>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <% if @detailed_guides.any? %>
      <ol class="guides">
        <% @detailed_guides.each do |detailed_guide| %>
          <%= content_tag_for(:li, detailed_guide, class: "guide") do %>
            <h3><%= link_to detailed_guide.title, public_document_path(detailed_guide),
                            title: "View #{detailed_guide.title}" %></h3>
            <p><%= detailed_guide.summary %></p>
          <% end %>
        <% end %>
      </ol>
    <% else %>
      <div class="no-results">
        <h2>Sorry, there are no detailed guides on <%= @mainstream_category.title %>.</h2>
      </div>
    <% end %>
  </div>
</div>
