<% page_title "Specialist guidance - #{@mainstream_category.title}" %>
<% page_class "mainstream-category-show" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page-header specialist-guides">
      <h1 class="page_title">Detailed guidance from government on <%= @mainstream_category.title %></h1>
    </header>
  </div>
</div>

<div class="block-4">
  <div class="inner-block" id="specialist-guides-container" aria-live="polite">
    <% if @specialist_guides.any? %>
      <table class="document-list">
        <thead class="visuallyhidden">
          <tr>
            <th scope="col">Title</th>
          </tr>
        </thead>
        <tbody>
        <% @specialist_guides.each do |specialist_guide| %>
          <%= content_tag_for(:tr, specialist_guide, class: "document-row") do %>
            <th scope="row" class="attribute title">
              <%= link_to specialist_guide.title, public_document_path(specialist_guide),
                  title: "View #{specialist_guide.title}" %>
            </th>
            <td class="attribute organisations">
              <%= specialist_guide.organisations.map { |o|
                organisation_display_name(o) }.to_sentence.html_safe %>
            </td>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="no-results">
        <h2>Sorry, there are no detailed guides on <%= @mainstream_category.title %>.</h2>
      </div>
    <% end %>
  </div>
</div>
