<% page_title "Notes" %>

<div class="row">
  <section class="col-md-8">
    <span class="back">
      <%= link_to 'Back', admin_edition_path(@edition) %>
    </span>

    <h1>Notes</h1>

    <%= paginate @document_remarks.query, theme: 'remarks', param_name: 'remarks_page' %>
    <%= render_editorial_remarks(@document_remarks, @edition) %>
    <%= paginate @document_remarks.query, theme: 'remarks', param_name: 'remarks_page' %>

    <%= link_to "Add note", new_admin_edition_editorial_remark_path(@edition) %>
  </section>
</div>
