<% page_title "New Editorial Remark" %>
<%= form_for [:admin, @document, @editorial_remark] do |feedback_form| %>
  <%= feedback_form.errors %>
  <%= feedback_form.text_area :body, label_text: "Reason for rejection (you can see the document at the bottom of the page)" %>
  <%= feedback_form.submit "Confirm rejection" %>
<% end %>

<%= content_tag_for(:article, @document) do %>
  <h1 class="title"><%= @document.title %></h1>
  <div class="body"><%= govspeak_to_admin_html @document.body, @document.images %></div>
<% end %>