<% content_for :page_title, "New internal note" %>
<% content_for :title, "New internal note" %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @editorial_remark)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="document_page" id="<%= dom_id(@edition) %>">
      <%= render 'admin/editions/edition', edition: @edition %>
    </section>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= form_for [:admin, @edition, @editorial_remark], url: admin_edition_editorial_remarks_path(@edition) do |feedback_form| %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Internal note",
          bold: true,
        },
        name: "editorial_remark[body]",
        id: "editorial_remark_body",
        error_items: errors_for(@editorial_remark.errors, :body),
        rows: 20,
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
            text: "Submit internal note"
          } %>
        <% end %>

        <%= link_to("Cancel", admin_edition_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
  </div>
</div>
