%h3 Typography

%h1 This is a heading 1
%h2 This is a heading 2
%h3 This is a heading 3
%h4 This is a heading 4
%h5 This is a heading 5

%p
  This is a paragraph with a
  =link_to "link", "#"
  inside it


%h5 Unordered lists
%ul
  -3.times do |i|
    %li="unordered list item #{i+1}"

%p Circle
%ul.circle
  -3.times do |i|
    %li="unordered list item #{i+1}"

%p Disc
%ul.disc
  -3.times do |i|
    %li="unordered list item #{i+1}"

%p Square
%ul.square
  -3.times do |i|
    %li="unordered list item #{i+1}"

%h5 Ordered list
%ol
  -3.times do |i|
    %li="unordered list item #{i+1}"

%hr