<div class="format-advice">
  <p><strong>Use this format for:</strong> Announcements specific to one or more world location. Don’t duplicate news published by another department.</p>
</div>

<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>
    <%= render 'inline_attachments_info', form: form, edition: edition %>

    <fieldset>
      <legend>Associations</legend>

      <div class="important-associations">
        <%= render 'policy_area_fields', form: form, edition: edition %>
      </div>

      <%= render 'topical_event_fields', form: form, edition: edition %>
      <%= render 'worldwide_organisation_fields', form: form, edition: edition, required: true %>
      <%= render 'world_location_fields', form: form, edition: edition, required: true %>
      <%= render 'specialist_sector_fields', form: form, edition: edition %>
    </fieldset>
  <% end %>
<% end %>
