<% page_title "Featured items on " + @world_location.name %>

<div class="tab-pane" id="documents">
  <% if @featured_editions.any? %>
    <h2>Featured documents</h2>
    <%= form_for [:admin, @world_location], as: :world_location do |form| %>
      <fieldset class="sortable">
        <%= form.fields_for :edition_world_locations, @featured_editions do |fe_form| %>
          <div class="well">
            <%= fe_form.text_field :ordering, label_text: link_to(fe_form.object.edition.title, admin_edition_path(fe_form.object.edition)), class: "ordering" %>
          </div>
        <% end %>
      </fieldset>
      <%= form.submit "Save", class: "btn" %>
    <% end %>
  <% end %>

  <h2>Published documents (<%= link_to "View all", admin_editions_path(world_location: @world_location.slug, state: :active) %>)</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Published</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @editions.each do |edition_world_location| %>
        <% edition = edition_world_location.edition %>
        <%= content_tag_for :tr, edition do %>
          <td class="type"><%= edition.type.titleize %></td>
          <td><%= link_to edition.title, admin_edition_path(edition) %></td>
          <td><%=l edition.major_change_published_at.to_date %></td>
          <td><%= "Featured" if edition_world_location.featured? %></td>
          <td>
            <% if edition_world_location.featured? %>
              <%= form_for(edition_world_location, url: admin_world_location_featuring_path(@world_location, edition_world_location), html: {class: "button_to"}) do |f| %>
                <%= f.hidden_field :featured, value: false %>
                <%= f.submit "Unfeature", class: "btn btn-danger" %>
              <% end %>
            <% else %>
              <%= link_to "Feature", edit_admin_world_location_featuring_path(@world_location, edition_world_location), class: "btn" %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
