<% page_title "#{@person.name} translations" %>

<%= content_tag_for(:div, @person) do %>
  <div class="person-header">
    <h1><%= @person.name %></h1>
    <%= view_on_website_link_for @person %>
  </div>
  <section class="person-details">
    <%= tab_navigation_for(@person) %>

    <% if @person.non_english_translated_locales.present? %>
      <table id="person-translations" class="table table-bordered table-striped">
        <thead>
          <tr class="table-header">
            <th>Locale</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @person.non_english_translated_locales.each do |locale| %>
            <tr>
              <td class="locale">
                <%= link_to locale.native_language_name, edit_admin_person_translation_path(@person, locale.code) %>
                (<%= link_to "view", @person.public_url(locale: locale.code) %>)
              </td>
              <td class="actions">
                <%= button_to 'Delete', admin_person_translation_path(@person, locale.code),
                      method: :delete, class: "btn btn-danger",
                      data: { confirm: "Are you sure you want to delete this translation?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="no-content no-content-bordered">No translations</p>
    <% end %>

    <nav class="form-actions">
      <% if @person.missing_translations.any? %>
        <%= form_tag admin_person_translations_path(@person), class: 'well' do %>
          <div class="form-group">
            <%= label_tag :translation_locale, 'Locale' %>
            <%= select_locale :translation_locale, @person.missing_translations, class: 'form-control input-md-3' %>
          </div>
          <%= submit_tag "Create translation", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </nav>
  </section>
<% end %>
