<% if announcer.announcements.any? %>
  <section class="announcements" id="announcements">
    <h1><%= t('announcements.heading') %></h1>
    <p>by <%= announcer.name %></p>

    <%= render 'shared/feeds', atom_url: polymorphic_url(announcer, format: "atom") %>

    <ol class="document-list">
      <% announcer.announcements.each do |announcement| %>
        <%= content_tag_for :li, announcement, class: "document-row" do %>
          <h3><%= announcement.link %></h3>
          <ul class="attributes">
            <li class="date"><%= announcement.display_date_microformat %></li>
            <li class="display-type"><%= announcement.display_type %></li>
          </ul>
        <% end %>
      <% end %>
    </ol>

    <div class="read-more">
      <%= link_to t('announcements.view_all'), :announcements %>
    </div>
  </section>
<% end %>
