<%
  extra_class ||= ""
  extra_classes =
    if defined?(edition_counter)
      extra_class + " item-#{edition_counter}"
    else
      extra_class
    end
  extra_classes << " feature"
  image_size ||= :s300
  show_meta ||= false
%>
<%= content_tag_for(:article, edition, nil, class: extra_classes.strip) do %>
  <div class="content">
    <span class="img-holder">
      <%= link_to edition.image_tag(image_size), public_document_path(edition), title: t("document.read", title: edition.title), class: 'img'%>
    </span>
    <div class="text">
      <% if show_meta %>
        <p class="meta"><%= absolute_date(edition.public_timestamp) %> &mdash; <%= t_display_type edition %></p>
      <% end %>
      <h2><%= link_to edition.title, public_document_path(edition) %></h2>
      <% unless edition.summary.blank? %>
        <p class="summary"><%= truncate(edition.summary, length: 150, separator: ' ') %></p>
      <% end %>
    </div>
  </div>
<% end %>
