<% if editions.any? %>
  <section class="<%= featured_carousel_classes(options) %>" id="featured-news-articles">
    <% editions.each do |edition| %>
      <%= content_tag_for(:article, edition, nil, class: edition_organisation_class(edition)) do %>
        <div class="img">
          <% image, alt_text = if defined?(organisation) %>
            <% edition_organisation = EditionOrganisation.find_by_edition_id_and_organisation_id(edition.id, @organisation.id) %>
            <% [edition_organisation.image && edition_organisation.image.file, edition_organisation.alt_text] %>
          <% else %>
            <% [edition.lead_image, edition.lead_image && edition.lead_image.alt_text] %>
          <% end %>
          <% if image.present? %>
            <%= image_tag(image.url, class: 'featured-image', alt: alt_text) %>
          <% else %>
            <%= image_tag('generic_image.jpg') %>
          <% end %>
        </div>
        <div class="news_body">
          <div class="meta">
            Posted
            <%= relative_time(edition.published_at, class: 'published_at') %>
          </div>
          <h2><%= link_to edition.title, public_document_path(edition), class: "title" %></h2>
          <% unless edition.summary.blank? %>
            <p class="summary"><%= truncate(edition.summary, length: 150, separator: ' ') %></p>
          <% end %>
          <div class="document-type"><%= human_friendly_edition_type(edition) %></div>
        </div>
      <% end %>
    <% end %>
  </section>
<% end %>
