<% if editions.any? %>
  <section class="<%= featured_carousel_classes(options) %>" id="featured-news-articles">
    <% editions.each do |edition| %>
      <%= content_tag_for(:article, edition, nil, class: edition_organisation_class(edition)) do %>
        <div class="img">
          <% if edition.lead_image.present? %>
            <%= image_tag(edition.lead_image.url) %>
          <% else %>
            <%= image_tag('generic_image.jpg') %>
          <% end %>
        </div>
        <div class="news_body">
          <div class="meta">
            Posted
            <%= relative_time(edition.published_at, class: 'published_at') %>
          </div>
          <h2><%= link_to edition.title, public_document_path(edition), class: "title" %></h2>
          <% unless edition.summary.blank? %>
            <p class="summary"><%= truncate(edition.summary, length: 150, separator: ' ') %></p>
          <% end %>
          <div class="document-type"><%= human_friendly_edition_type(edition) %></div>
        </div>
      <% end %>
    <% end %>
  </section>
<% end %>
