<% if news_articles.any? %>
  <section class="<%= featured_carousel_classes(options) %>" id="featured-news-articles">
    <% news_articles.each do |news_article| %>
      <%= content_tag_for(:article, news_article, nil, class: document_organisation_class(news_article)) do %>
        <div class="img">
          <% if news_article.lead_image.present? %>
            <%= image_tag(news_article.lead_image.url) %>
          <% else %>
            <%= image_tag('blank.gif', height: "1") %>
          <% end %>
        </div>
        <div class="news_body">
          <div class="meta">
            Posted
            <%= time_ago(news_article.published_at, class: 'published_at') %>
          </div>
          <h2><%= link_to news_article.title, public_document_path(news_article), class: "title" %></h2>
          <% unless news_article.summary.blank? %>
            <p class="summary"><%= truncate(news_article.summary, length: 150, separator: ' ') %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>
<% end %>
