<ol class="govuk-list document-list govuk-!-margin-bottom-6">
  <% editions.each_with_index do |edition, edition_index| %>
    <%= content_tag_for(:li, edition, class: 'document-row') do %>
      <h3>
        <%=
          link_to(
            edition.title,
            edition.public_path,
            class: "govuk-link",
            data: {
              track_category: 'navPolicyAreaLinkClicked',
              track_action: "#{local_assigns.has_key?(:heading) ? heading : "Unknown"}.#{edition_index + 1}",
              track_label: edition.public_path,
              track_options: {
                dimension28: editions.count.to_s,
                dimension29: edition.title
              }
            }
          )
        %>
      </h3>
      <ul class="attributes">
        <li class="publication-date"><%= edition.display_date_microformat %></li>
        <li class="document-type" <%= t_lang('document.type.' + edition.display_type_key, {count: 1}) %>><%= t_display_type(edition) %></li>
      </ul>
    <% end %>
  <% end %>
</ol>
