<% extra_class ||= '' %>

<section id="recently-updated" class="recently-updated <%= extra_class %>">
  <div class="content">
    <header>
      <h1 class="label"><%= t('latest_feed.title') %></h1>
    </header>
    <% if recently_updated.any? %>
      <%= render partial: "shared/recently_updated_documents",
                locals: { recently_updated: recently_updated } %>
    <% else %>
      <p><%= t('latest_feed.no_updates') %></p>
    <% end %>
    <%= render 'shared/feeds', atom_url: atom_url %>
    <% if local_assigns[:all_announcements_link] %>
      <p class="see-all">
        <%= link_to "See all our announcements", all_announcements_link %>
      </p>
    <% end %>
  </div>
</section>
