<ol class="document-list">
  <% recently_updated.each do |document| %>
    <%= content_tag_for :li, document, :recent, class: 'document-row' do %>
      <h2><%= link_to document.title, public_document_path(document) %></h2>
      <ul class="attributes">
        <li class="published-date">
          <%= published_or_updated(document) %>
          <%= absolute_date(document.public_timestamp, class: 'published-at') %>
        </li>
        <li class="display-type"><%= t_display_type(document) %></li>
      </ul>
    <% end %>
  <% end %>
</ol>
