<ul class='recently_updated'>
  <% recently_updated.each do |document| %>
    <%= content_tag_for :li, document, class: edition_organisation_class(document) do %>
      <div class="metadata published_or_updated">
        <%= published_or_updated(document) %>
        <%= time_ago(document.published_at, class: 'published_at') %>
      </div>
      <div><%= link_to document.title, public_document_path(document), class: "title" %></div>
      <div class="metadata">
        <span class="document_type"><%= human_friendly_document_type(document) %></span>
      </div>
    <% end %>
  <% end %>
</ul>
