<% followus ||= false %>
<% if socialable.social_media_accounts.any? %>
  <section>
    <% unless followus %>
      <h2 class="label"><%= t('social_media.follow_us') %></h2>
    <% end %>
    <ul class="social-media-accounts js-hide-extra-social-media">
      <% socialable.social_media_accounts.each do |account| %>
        <%= content_tag_for(:li, account) do %>
          <%= link_to account.url,
                      class: "social-media-link #{account.service_name.parameterize}" do %>
            <span class="connect">Connect with <%= account.socialable.display_name %> on</span> <%= account.display_name %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>
