<%= render "govuk_publishing_components/components/heading", {
  text: "Content",
  font_size: "l",
  margin_bottom: 3,
} %>

<div class="govuk-!-margin-bottom-6 js-locale-switcher-field">
  <%= render "govuk_publishing_components/components/character_count", {
    textarea: {
      label: {
        text: "Title (required)",
        heading_size: "m",
      },
      name: "edition[title]",
      value: edition.title,
      error_items: errors_for(edition.errors, :title),
      right_to_left: form.object.translation_rtl?,
      right_to_left_help: false,
      rows: 1,
    },
    id: "edition_title",
    maxlength: MaxLengths::TITLE,
  } %>
</div>

<% if edition.document&.live_edition.present? %>
  <div class="app-view-edit-edition__page-address govuk-!-margin-bottom-4">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Live page address",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 2,
    } %>

    <%= render "govuk_publishing_components/components/hint", {
      text: edition.document&.live_edition.public_url,
    } %>
  </div>

  <div class="js-keep-slug-form-group govuk-!-margin-bottom-6">
    <%= render "govuk_publishing_components/components/hint", {
      text: "You've changed the title of this document. Check the box below to keep the existing URL, or leave it unchecked to update the URL fo this page to match the new title when you publish this edition.",
    } %>
    <%= render "govuk_publishing_components/components/checkboxes", {
      name: "edition[keep_slug]",
      items: [
        {
          label: "Keep the current page URL",
          value: true,
        },
      ],
      description: "You've changed the title of this document. Check the box below to keep the existing URL, or leave it unchecked to update the URL fo this page to match the new title when you publish this edition.",
    } %>
  </div>
<% end %>

<div class="govuk-!-margin-bottom-6 js-locale-switcher-field">
  <%= render "govuk_publishing_components/components/character_count", {
    textarea: {
      label: {
        text: "Summary (required)",
        heading_size: "m",
      },
      name: "edition[summary]",
      value: edition.summary,
      error_items: errors_for(edition.errors, :summary),
      right_to_left: form.object.translation_rtl?,
      right_to_left_help: false,
      rows: 4,
    },
    id: "edition_summary",
    maxlength: MaxLengths::SUMMARY,
  } %>
</div>

<%= render ConfigurableContentBlocks::DefaultObject.root_block_for(edition, "documents") %>

<%= render Admin::Editions::FirstPublishedAtComponent.new(
  edition:,
  previously_published: params.dig("edition", "previously_published") == "true" || edition.previously_published == true,
  year: @edition_params.try(:dig, "first_published_at(1i)") || edition.first_published_at&.year,
  month: @edition_params.try(:dig, "first_published_at(2i)") || edition.first_published_at&.month,
  day: @edition_params.try(:dig, "first_published_at(3i)") || edition.first_published_at&.day,
  hour: @edition_params.try(:dig, "first_published_at(4i)").presence&.to_i || edition.first_published_at&.hour,
  minute: @edition_params.try(:dig, "first_published_at(5i)").presence&.to_i || edition.first_published_at&.min,
  ) %>

<%= render Admin::Editions::HistoryModeFormControls.new(edition, current_user) %>

<div class="govuk-!-margin-bottom-8">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Settings",
    font_size: "l",
    margin_bottom: 6,
  } %>

  <%= render Admin::Editions::LanguageSelectFormControl.new(edition) %>
  <%= render "accessible_attachment_field", form: form, edition: edition if edition.allows_file_attachments? %>
  <%= render "access_limiting_fields", form: form, edition: edition %>
  <%= render "scheduled_publication_fields", form: form, edition: edition %>
  <%= render "review_reminder_fields", form: form, review_reminder: edition.document.review_reminder %>
</div>
