<%= form_for form_url_for_edition(edition), as: :edition, html: { class: edition_form_classes(edition), multipart: true }, data: { module: "EditionForm LocaleSwitcher", "rtl-locales": Locale.right_to_left.collect(&:to_param) } do |form| %>
  <div class="<%= "right-to-left" if edition.rtl? %>">
    <%= form.hidden_field :lock_version %>

    <div class="govuk-!-margin-bottom-6 js-locale-switcher-field">
      <%= render "govuk_publishing_components/components/character_count", {
        textarea: {
          label: {
            text: "Title (required)",
            heading_size: "m",
          },
          name: "edition[title]",
          value: edition.title,
          error_items: errors_for(edition.errors, :title),
          right_to_left: form.object.translation_rtl?,
          right_to_left_help: false,
          rows: 1,
        },
        id: "edition_title",
        maxlength: MaxLengths::TITLE,
      } %>
    </div>

    <div class="govuk-!-margin-bottom-6 js-locale-switcher-field">
      <%= render "govuk_publishing_components/components/character_count", {
        textarea: {
          label: {
            text: "Summary (required)",
            heading_size: "m",
          },
          name: "edition[summary]",
          value: edition.summary,
          error_items: errors_for(edition.errors, :summary),
          right_to_left: form.object.translation_rtl?,
          right_to_left_help: false,
          rows: 1,
        },
        id: "edition_summary",
        maxlength: MaxLengths::SUMMARY,
      } %>
    </div>

    <% if edition.document&.slug.present? %>
      <div class="app-view-edit-edition__page-address govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Page address",
          heading_level: 3,
          font_size: "m",
          margin_bottom: 2,
        } %>

        <%= render "govuk_publishing_components/components/hint", {
          text: edition.public_url,
        } %>
      </div>
    <% end %>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Content",
      font_size: "l",
      margin_bottom: 3,
    } %>

    <%= form.hidden_field :configurable_document_type, value: @edition.configurable_document_type %>
    <% root_block = ConfigurableContentBlocks::Factory.new(@edition).build("object") %>
    <%= render(root_block, {
      schema: ConfigurableDocumentType.find(@edition.configurable_document_type).schema,
      content: @edition.block_content,
      path: ConfigurableContentBlocks::Path.new,
      right_to_left: @edition.rtl?,
      errors: @edition.errors,
      root: true,
      visible_properties: ConfigurableDocumentType.find(edition.configurable_document_type).properties_for_edit_screen("document"),
    }) %>

    <%= render Admin::Editions::FirstPublishedAtComponent.new(
      edition:,
      previously_published: params.dig("edition", "previously_published") == "true" || edition.previously_published == true,
      year: @edition_params.try(:dig, "first_published_at(1i)") || edition.first_published_at&.year,
      month: @edition_params.try(:dig, "first_published_at(2i)") || edition.first_published_at&.month,
      day: @edition_params.try(:dig, "first_published_at(3i)") || edition.first_published_at&.day,
    ) %>

    <%= render Admin::Editions::HistoryModeFormControls.new(@edition, current_user) %>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Associations",
      font_size: "l",
      margin_bottom: 3,
    } %>

    <% association_factory = ConfigurableAssociations::Factory.new(@edition) %>
    <div class="govuk-!-margin-bottom-4">
      <% association_factory.configurable_associations.each do |association| %>
        <%= render association %>
      <% end %>
    </div>

    <div class="govuk-!-margin-bottom-8">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Settings",
        font_size: "l",
        margin_bottom: 6,
      } %>

      <%= render Admin::Editions::LanguageSelectFormControl.new(@edition) %>
      <%= render "accessible_attachment_field", form: form, edition: @edition if @edition.allows_file_attachments? %>
      <%= render "access_limiting_fields", form: form, edition: @edition %>
      <%= render "scheduled_publication_fields", form: form, edition: @edition %>
      <%= render "review_reminder_fields", form: form, review_reminder: @edition.document.review_reminder %>
    </div>
    <%= standard_edition_publishing_controls(form, edition) %>
  </div>
<% end %>
