<% active_tab = @current_tab_context || edition.default_tab %>
<% allow_change_note = active_tab == edition.default_tab %>

<% edit_form = capture do %>
  <%= form_for form_url_for_edition(edition), as: :edition, html: { class: edition_form_classes(edition), multipart: true }, data: { module: "EditionForm LocaleSwitcher", "rtl-locales": Locale.right_to_left.collect(&:to_param) } do |form| %>
    <div class="<%= "right-to-left" if edition.rtl? %>">
      <%= form.hidden_field :lock_version %>
      <%= form.hidden_field :configurable_document_type, value: edition.configurable_document_type %>
      <%= hidden_field_tag :current_tab, active_tab if edition.defines_tabs? %>

      <% if active_tab == edition.default_tab %>
        <%= render "document_form_fields", form:, edition: %>
      <% else %>
        <%= render ConfigurableContentBlocks::DefaultObject.new(
          edition,
          edition.type_instance.form(active_tab).merge("root" => true),
          ConfigurableContentBlocks::Path.new,
        ) %>
      <% end %>

      <% if edition.editable? %>
        <%= standard_edition_publishing_controls(form, edition, allow_change_note:) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if !edition.editable? %>
  <fieldset class="app-view-edit-edition__read-only" disabled="disabled">
    <%= edit_form %>
  </fieldset>
<% else %>
  <%= edit_form %>
<% end %>
