<% edit_form = capture do %>
  <%= form_for form_url_for_edition(edition), as: :edition, html: { class: edition_form_classes(edition), multipart: true }, data: { module: "EditionForm LocaleSwitcher", "rtl-locales": Locale.right_to_left.collect(&:to_param) } do |form| %>
    <div class="<%= "right-to-left" if edition.rtl? %>">
      <%= form.hidden_field :lock_version %>
      <%= form.hidden_field :configurable_document_type, value: edition.configurable_document_type %>

      <%= render "document_form_fields", form:, edition: %>

      <% if edition.editable? %>
        <%= standard_edition_publishing_controls(form, edition) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if !edition.editable? %>
  <fieldset class="app-view-edit-edition__read-only" disabled="disabled">
    <%= edit_form %>
  </fieldset>
<% else %>
  <%= edit_form %>
<% end %>
