<% page_title @attachment.title %>
<% page_class "html-publications-show attachments-preview" %>

<div class="block publication-external">
  <div class="inner-block floated-children">
    <ul class="organisations-icon-list organisations">
      <% @edition.sorted_organisations.each do |organisation| %>
        <%= content_tag_for(:li, organisation, class: organisation_brand_colour_class(organisation)) do %>
          <%= link_to organisation_path(organisation),
                      class: logo_classes(organisation: organisation, size: 'medium', stacked: true) do %>
            <span><%= organisation_logo_name(organisation) %></span>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <div class="return">
      <p><%= link_to "See more information about this #{@edition.display_type}", public_document_path(@edition) %></p>
    </div>
  </div>
</div>
<header class="publication-header" id="contents">
  <div class="inner-block floated-children">
    <div class="headings">
      <%= content_tag(:p, @edition.display_type, class: 'document-type') %>
      <h1><%= @attachment.title %></h1>
      <p>
        <%= published_or_updated(@edition).titlecase %> <%= absolute_date(@edition.public_timestamp, class: 'published-at') %><br />
        <%= link_to @attachment.url(preview: params[:preview]) do %>
          <strong>Download <%= @attachment.file_extension.upcase %></strong>
          <%= number_to_human_size(@attachment.file_size) %>
        <% end %>
      </p>
    </div>
  </div>
</header>
<% if @csv_preview %>
  <div class="csv-preview">
    <div class="csv-preview-inner">
      <table>
        <thead>
          <tr>
            <% @csv_preview.headings.each do |heading| %>
              <th><%= heading %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @csv_preview.each_row do |row| %>
            <tr>
              <% row.each do |data| %>
                <td><%= data %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% if @csv_preview.truncated? %>
    <p class="truncated-message">
      This preview only shows the first 1000 rows.
      <%= link_to "Download the file to view its full contents.", @attachment.url(preview: params[:preview]) %>
    </p>
  <% end %>
<% else %>
  <p class="preview-error">
    This file could not be previewed.
    <%= link_to "Download it to view its full contents.", @attachment.url(preview: params[:preview]) %>
  </p>
<% end %>
