<% page_title @attachment.title %>
<% page_class "html-publications-show attachments-preview" %>
<%
  first_organisation = @edition.sorted_organisations.first
%>

<div class="block publication-external">
  <div class="inner-block floated-children">
    <% if first_organisation %>
      <div class="<%= organisation_brand_colour_class(first_organisation) %>">
        <%= link_to organisation_path(first_organisation),
                    class: logo_classes(organisation: first_organisation, size: 'medium', stacked: true) do %>
          <span><%= organisation_logo_name(first_organisation) %></span>
        <% end %>
      </div>
      <% # there is a bug in ERB that throws a syntax error if this is not here %>
    <% end %>
    <div class="return">
      <p><%= link_to "See more information about this #{@edition.display_type}", public_document_path(@edition) %></p>
    </div>
  </div>
</div>
<header class="publication-header" id="contents">
  <div class="inner-block floated-children">
    <div class="headings">
      <%= content_tag(:p, @edition.display_type, class: 'document-type') %>
      <h1><%= @attachment.title %></h1>
      <p>
        <%= published_or_updated(@edition).titlecase %> <%= absolute_date(@edition.public_timestamp, class: 'published-at') %><br />
        <%= link_to @attachment.url(preview: params[:preview]) do %>
          <strong>Download <%= @attachment.file_extension.upcase %></strong>
          <%= number_to_human_size(@attachment.file_size) %>
        <% end %>
      </p>
    </div>
  </div>
</header>
<% if @csv_preview %>
  <%= render(partial: 'truncated_message', locals: { attachment: @attachment }) if @csv_preview.truncated? %>
  <div class="csv-preview">
    <div class="csv-preview-inner">
      <table>
        <thead>
          <tr>
            <% @csv_preview.headings.each do |heading| %>
              <th><%= heading %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @csv_preview.each_row do |row| %>
            <tr>
              <% row.each do |data| %>
                <td><%= data %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render(partial: 'truncated_message', locals: { attachment: @attachment }) if @csv_preview.truncated? %>
<% else %>
  <p class="preview-error">
    This file could not be previewed.
    <%= link_to "Download it to view its full contents.", @attachment.url(preview: params[:preview]) %>
  </p>
<% end %>
