<% page_title @policy_advisory_group.name, "Policy advisory groups" %>
<%= content_tag_for(:div, @policy_advisory_group, :class => "policy-groups policy-advisory-groups") do %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { type: "Policy advisory group",
                        heading: @policy_advisory_group.name,
                        big: true } %>
  </div>
</header>

  <div class="block-2">
    <div class="inner-block">
      <% if @policy_advisory_group.summary.present? %>
        <section class="summary">
          <%= @policy_advisory_group.summary %>
        </section>
      <% end %>
    </div>
  </div>
  <div class="block-3 sidebar">
    <div class="inner-block">
      <section class="contextual-info js-stick-at-top-when-scrolling">
        <% if govspeak_headers(@policy_advisory_group.description).any? || @policies.any? || @policy_advisory_group.email %>
          <h1>Contents</h1>
          <nav class="policy-parts" role="navigation">
              <ol id="document_sections">
                <% govspeak_headers(@policy_advisory_group.description).each do |header| %>
                  <li><%= link_to header.text, "##{header.id}" %></li>
                <% end %>
                <% if @policies.any? %>
                  <li><%= link_to 'Policies', '#policies' %></li>
                <% end %>
                <% if @policy_advisory_group.email.present? %>
                  <li><%= link_to 'Contact details', '#contact-details' %></li>
                <% end %>
              </ol>
          </nav>
        <% end %>
      </section>
    </div>
  </div>
  <div class="block-4 content">
    <div class="inner-block">
      <% if @policy_advisory_group.description.present? %>
        <div class="description">
          <%= govspeak_with_attachments_to_html @policy_advisory_group.description, @policy_advisory_group.attachments %>
        </div>
      <% end %>
      <% if @policies.any? %>
        <h2 class="label" id="policies">Policies</h2>
        <ul class="policies">
          <% @policies.each do |policy| %>
            <%= content_tag_for :li, policy do %>
              <% link_to policy.title, public_document_path(policy) %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <% if @policy_advisory_group.email.present? %>
        <h2 class="label" id="contact-details">Contact details</h2>
        <p class="email"><%= mail_to @policy_advisory_group.email, @policy_advisory_group.email %></p>
      <% end %>
    </div>
  </div>
<% end %>
