<% page_title "Get involved" %>
<% page_class "get-involved" %>


<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: "Get involved" } %>
    <p class="intro-paragraph">Find out how you can <a href="#engage-with-government">engage with government</a> directly, and <a href="#take-part">take&nbsp;part</a> locally, nationally or internationally. You can also <a href="#related-polices">read&nbsp;policies</a> about how government is increasing participation.</p>
  </div>
</header>

<div class="block">
  <div class="inner-block floated-children">
    <h2 id="engage-with-government">Engage with government</h2>
    <section class="respond-to-consultations">
      <div class="head-section">
        <h3>Respond to consultations</h3>
      </div>
      <div class="column">
        <div class="content">
          <p>You can give your views on new or changing government policies by responding to consultations. Government departments take these responses into consideration before making decisions.</p>
        </div>
      </div>
    </section>
    <section class="consultations">
      <div class="head-section">
        <dl class="values">
          <dt><%= @open_consultation_count %></dt>
          <dd>Open consultations</dd>
          <dt><%= @closed_consultation_count %></dt>
          <dd>Closed consultations in the past 12 months</dd>
          <% if false # this count not implemented yet %>
            <dt><a href="#">29</a></dt>
            <dd>Responses in the past 12 months</dd>
          <% end %>
        </dl>
      </div>
      <div class="consultation-lists">
        <div class="consultation-closing-soon">
          <% @next_closing_consultations.each do |consultation| %>
            <h3><%= consultation.time_until_closure %></h3>
          <% end %>
          <ol class="document-list">
            <% @next_closing_consultations.each do |consultation| %>
              <%= content_tag_for(:li, consultation, class: 'document-row') do %>
                <h3><%= consultation.title %></h3>
                <ul class="attributes">
                  <li><%= link_to "Read and respond", public_document_path(consultation) %></li>
                </ul>
              <% end %>
            <% end %>
          </ol>
        </div>
        <div>
          <div class="column">
            <div class="content">
              <h3>Recently opened</h3>
              <ol class="document-list">
                <% @recently_opened_consultations.each do |consultation| %>
                  <li class="document-row">
                    <h3><%= link_to consultation.title, public_document_path(consultation) %></h3>
                    <ul class="attributes">
                      <li><%= consultation.organisations.map(&:acronym).to_sentence %></li>
                      <li>Closes <%= consultation.date_microformat(:closing_on) %></li>
                      <li><%= link_to "Respond now", public_document_path(consultation) %></li>
                    </ul>
                  </li>
                <% end %>
              </ol>
              <p class="see-all"><%= link_to("Search all consultations", publications_path(publication_filter_option: "consultations")) %></p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <h3>Recent outcomes</h3>
              <ol class="document-list">
                <% @recent_consultation_outcomes.each do |consultation| %>
                  <li class="document-row">
                    <h3><%= link_to consultation.title, public_document_path(consultation) %></h3>
                    <ul class="attributes">
                      <li><%= consultation.organisations.map(&:acronym).to_sentence %></li>
                      <li>Closed <%= consultation.date_microformat(:closing_on) %></li>
                      <li><%= link_to "See the outcome", public_document_path(consultation) %></li>
                    </ul>
                  </li>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="keyline">
    <section class="start-a-petition">
      <div class="head-section">
        <h3>Start a petition</h3>
      </div>
      <div class="column">
        <div class="content">
          <p>You can <a href="http://epetitions.direct.gov.uk/" rel="external">create an e&ndash;petition</a> to influence government and Parliament. If the petition gets at least 100,000 online signatures, it will be considered for debate in the House of Commons.</p>
        </div>
      </div>
    </section>
    <hr class="keyline">
    <section class="comment-follow">
      <div class="head-section">
        <h3>Follow a blog or social media channel</h3>
      </div>
      <div class="column">
        <div class="content">
          <p>For an instant way to interact with government departments, try their social media streams. As well as access to blogs, audio, video and more, you can comment, debate and rate.</p>
          <p class="see-all"><a href="/government/organisations/">See all government departments</a></p>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="block">
  <div class="inner-block floated-children featured-news">
    <h2 id="take-part">Take part</h2>
    <section class="take-part-pages">
      <%= render @take_part_pages %>
    </section>
    <hr class="keyline">
    <section class="more-ways">
      <div class="head-section">
        <h3>More ways to take part</h3>
      </div>
      <div class="column">
        <div class="content">
          <p>Many people are already volunteering, donating and contributing, both in the UK and abroad. If you&rsquo;d like to join them, but don&rsquo;t know where to start, here&rsquo;s a list of suggestions:</p>
          <ul class="index-list">
            <li><a href="http://www.ics-uk.org.uk/apply/" rel="external">Join the International Citizen Service (18- to 25-year-olds)</a></li>
            <li><a href="http://www.ourwatch.org.uk/get_involved/" rel="external">Take part in your local Neighbourhood Watch</a></li>
            <li><a href="http://www.bigsocietyawards.org/" rel="external">Nominate someone for a Big Society Award</a></li>
            <li><a href="/donating-to-charity">Make a donation to charity</a></li>
            <li><a href="http://schoolsonline.britishcouncil.org/programmes-and-funding/linking-programmes-worldwide/connecting-classrooms" rel="external">Link up with a school overseas </a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="block">
  <div class="inner-block floated-children">
    <section class="policies">
      <h2 id="related-polices">Related policies</h2>
      <div class="head-section">
        <div class="content">
          <p>The government wants to make it easier for people to be involved in decision&ndash;making. To find out what this means for you, take a look at the policies featured here:</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <ol class="document-list">
            <li class="document-row">
              <h3><a href="/government/policies/making-it-easier-to-set-up-and-run-a-charity-social-enterprise-or-voluntary-organisation">Making it easier to set up and run a charity, social enterprise, or voluntary organisation</a></h3>
              <ul class="attributes">
                <li>Cabinet Office</li>
                <li>Community and society</li>
              </ul>
            </li>
            <li class="document-row">
              <h3><a href="/government/policies/improving-the-transparency-and-accountability-of-government-and-its-services">Improving the transparency and accountability of government and its services</a></h3>
              <ul class="attributes">
                <li>Cabinet Office and Efficiency and Reform Group</li>
                <li>Government efficiency, transparency and accountability</li>
              </ul>
            </li>
            <li class="document-row">
              <h3><a href="/government/policies/increasing-the-number-of-academies-and-free-schools-to-create-a-better-and-more-diverse-school-system">Increasing the number of academies and free schools to create a better and more diverse school system</a></h3>
              <ul class="attributes">
                <li>Department for Education</li>
                <li>Schools</li>
              </ul>
            </li>
            <li class="document-row">
              <h3><a href="/government/policies/promoting-social-action-encouraging-and-enabling-people-to-play-a-more-active-part-in-society/supporting-pages/national-citizen-service">Promoting social action: encouraging and enabling people to play a more active part in society</a></h3>
              <ul class="attributes">
                <li>Cabinet Office</li>
                <li>Community and society</li>
              </ul>
            </li>
            <li class="document-row">
              <h3><a href="/government/policies/transforming-government-services-to-make-them-more-efficient-and-effective-for-users/supporting-pages/increasing-the-quality-of-public-services-with-commercial-models-and-public-service-mutuals">Transforming government services to make them more efficient and effective for users</a></h3>
              <ul class="attributes">
                <li>Cabinet Office and Efficiency and Reform Group</li>
                <li>Government efficiency, transparency and accountability</li>
              </ul>
            </li>
            <li class="document-row">
              <h3><a href="/government/policies/giving-people-more-power-over-what-happens-in-their-neighbourhood">Giving people more power over what happens in their neighbourhood</a></h3>
              <ul class="attributes">
                <li>DCLG</li>
                <li>Community and society</li>
              </ul>
            </li>
            <li class="document-row">
              <h3><a href="/government/policies/giving-communities-more-power-in-planning-local-development">Giving communities more power in planning local development</a></h3>
              <ul class="attributes">
                <li>DCLG</li>
                <li>Planning and building</li>
              </ul>
            </li>
            <li class="document-row">
              <h3><a href="/government/policies/promoting-social-action-encouraging-and-enabling-people-to-play-a-more-active-part-in-society">Promoting social action: encouraging and enabling people to play a more active part in society</a></h3>
              <ul class="attributes">
                <li>CO</li>
                <li>Community and society</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </div>
</div>
