<% page_title "History of Lancaster House" %>
<% page_class "home-history history-people" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <a href="government/history/">History:</a> Notable people
      </h1>
      <h2>Past Foreign Secretaries</h2>
    </header>
  </div>
</div>

<div class="block">
  <div class="inner-block floated-children">
    <h2 class="profiles">Selection of profiles</h2>
    <ol>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="past-foreign-secretaries/viscount-halifax"><%= image_tag 'history/past-foreign-secretaries/viscount-halifax.jpg', alt: 'Viscount Halifax' %></a>
          </div>
                      <h4 class="name">Earl Henry Phipps</h4>

          <h3 class="name"><a href="past-foreign-secretaries/lord-halifax">Viscount Halifax</a></h3>
          <p class="term">1938 &ndash; 1940</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="past-foreign-secretaries/austen-chamberlain"><%= image_tag 'history/past-foreign-secretaries/austen-chamberlain.jpg', alt: 'Austen Chamberlain' %></a>
          </div>
          <h3 class="name"><a href="past-foreign-secretaries/austen-chamberlain">Austen Chamberlain</a></h3>
          <p class="term">1924 &ndash; 1929</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="past-foreign-secretaries/george-nathaniel-curzon"><%= image_tag 'history/past-foreign-secretaries/george-nathaniel-curzon.jpg', alt: 'George Nathaniel Curzon' %></a>
          </div>
          <h3 class="name"><a href="past-foreign-secretaries/george-curzon">George Nathaniel Curzon</a></h3>
          <p class="term">1919 &ndash; 1924</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="past-foreign-secretaries/sir-edward-grey"><%= image_tag 'history/past-foreign-secretaries/sir-edward-grey.jpg', alt: 'Sir Edward Grey' %></a>
          </div>
          <h3 class="name"><a href="past-foreign-secretaries/edward-grey">Sir Edward Grey</a></h3>
          <p class="term">1905 &ndash; 1916</p>
        </div>
      </li>
      <li class="person person-excerpt clear-person">
        <div class="inner">
          <div class="image-holder">
            <a href="past-foreign-secretaries/lord-landsowne"><%= image_tag 'history/past-foreign-secretaries/lord-landsowne.jpg', alt: 'Lord Lansdowne' %></a>
          </div>
          <h3 class="name"><a href="past-foreign-secretaries/lord-landsowne">Lord Lansdowne</a></h3>
          <p class="term">1900 &ndash; 1905</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="past-foreign-secretaries/marquess-of-salisbury"><%= image_tag 'history/past-foreign-secretaries/marquess-of-salisbury.jpg', alt: 'Marquess of Salisbury' %></a>
          </div>
          <h3 class="name"><a href="past-foreign-secretaries/marquess-of-salisbury">Marquess of Salisbury</a></h3>
          <p class="term">1878 &ndash; 1880 / 1885 &ndash; 1886<br />
            1887 &ndash; 1892 / 1895 &ndash; 1900</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="past-foreign-secretaries/earl-granville"><%= image_tag 'history/past-foreign-secretaries/earl-granville.jpg', alt: 'Earl Granville' %></a>
          </div>
          <h3 class="name"><a href="past-foreign-secretaries/earl-granville">Earl Granville</a></h3>
          <p class="term">1851 &ndash; 1852 / 1870 &ndash; 1874<br />
            1880 &ndash; 1885</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="past-foreign-secretaries/lord-aberdeen"><%= image_tag 'history/past-foreign-secretaries/lord-aberdeen.jpg', alt: 'Lord Aberdeen' %></a>
          </div>
          <h3 class="name"><a href="past-foreign-secretaries/lord-aberdeen">Lord Aberdeen</a></h3>
          <p class="term">1828 &ndash; 1830 / 1841 &ndash; 1846</p>
        </div>
      </li>
      <li class="person person-excerpt clear-person">
        <div class="inner">
          <div class="image-holder">
            <a href="past-foreign-secretaries/charles-james-fox"><%= image_tag 'history/past-foreign-secretaries/charles-james-fox.jpg', alt: 'Charles James Fox' %></a>
          </div>
          <h3 class="name"><a href="past-foreign-secretaries/charles-james-fox">Charles James Fox</a></h3>
          <p class="term">1782 / 1783 / 1806</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="past-foreign-secretaries/lord-grenville"><%= image_tag 'history/past-foreign-secretaries/lord-grenville.jpg', alt: 'Lord Grenville' %></a>
          </div>
          <h3 class="name"><a href="past-foreign-secretaries/lord-grenville">Lord Grenville</a></h3>
          <p class="term">1791 &ndash; 1801</p>
        </div>
      </li>
    </ol>
  </div>
</div>

<div class="block">
  <div class="inner-block floated-children">
    <section class="foreign-secretaries">
      <div class="heading">
        <h3>Foreign Secretaries <span>Present &ndash; 1798</span></h3>
      </div>
      <ol>
        <li>
          <div class="inner">
            <h4 class="name">William Hague</h4>
            <p class="term">2010 &ndash; present</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">David Miliband</h4>
            <p class="term">2007 &ndash; 2010</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Margaret Beckett</h4>
            <p class="term">2006 &ndash; 2007</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Jack Straw</h4>
            <p class="term">2001 &ndash; 2006</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Robin Cook</h4>
            <p class="term">1997 &ndash; 2001</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Malcolm Rifkind</h4>
            <p class="term">1995 &ndash; 1997</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Lord Douglas Hurd</h4>
            <p class="term">1989 &ndash; 1995</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir John Major</h4>
            <p class="term">1989</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Geoffrey Howe</h4>
            <p class="term">1983 &ndash; 1989</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Lord Francis Pym</h4>
            <p class="term">1982 &ndash; 1983</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Peter Carrington</h4>
            <p class="term">1979 &ndash; 1982</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord David Owen</h4>
            <p class="term">1977 &ndash; 1979</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Anthony Crosland</h4>
            <p class="term">1976 &ndash; 1977</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord James Callaghan</h4>
            <p class="term">1974 &ndash; 1976</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Alec Douglas&ndash;Home</h4>
            <p class="term">1970 &ndash; 1974</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Lord Michael Stewart</h4>
            <p class="term">1968 &ndash; 1970</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord George Brown</h4>
            <p class="term">1966 &ndash; 1968</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Michael Stewart</h4>
            <p class="term">1965 &ndash; 1966</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Lord Patrick Gordon&ndash;Walker</h4>
            <p class="term">1964 &ndash; 1965</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Richard Austen Butler</h4>
            <p class="term">1963 &ndash; 1964</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Alec Douglas&ndash;Home</h4>
            <p class="term">1960 &ndash; 1963</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Earl Harold Macmillan</h4>
            <p class="term">1955</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Anthony Eden</h4>
            <p class="term">1951 &ndash; 1955</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Herbert Morrison</h4>
            <p class="term">1951</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Ernest Bevin</h4>
            <p class="term">1945 &ndash; 1951</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Anthony Eden</h4>
            <p class="term">1940 &ndash; 1945</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Viscount Halifax</h4>
            <p class="term">1938 &ndash; 1940</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Sir Anthony Eden</h4>
            <p class="term">1935 &ndash; 1938</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Samuel Hoare</h4>
            <p class="term">1935</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir John Simon</h4>
            <p class="term">1931 &ndash; 1935</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Marquess of Reading</h4>
            <p class="term">1931</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Arthur Henderson</h4>
            <p class="term">1929 &ndash; 1931</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Austen Chamberlain</h4>
            <p class="term">1924 &ndash; 1929</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">James Ramsay MacDonald</h4>
            <p class="term">1924</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">George Nathaniel Curzon</h4>
            <p class="term">1919 &ndash; 1924</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Earl Arthur James Balfour</h4>
            <p class="term">1916 &ndash; 1919</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Sir Edward Grey</h4>
            <p class="term">1905 &ndash; 1916</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Lansdowne</h4>
            <p class="term">1900 &ndash; 1905</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Marquess of Salisbury</h4>
            <p class="term">1895 &ndash; 1900</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Earl John Wodehouse</h4>
            <p class="term">1894 &ndash; 1895</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Earl Archibald Primrose</h4>
            <p class="term">1892 &ndash; 1894</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Marquess of Salisbury</h4>
            <p class="term">1897 &ndash; 1892</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Earl Stafford Northcote</h4>
            <p class="term">1886 &ndash; 1887</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Earl Stafford Northcote</h4>
            <p class="term">1886</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Marquess of Salisbury</h4>
            <p class="term">1885 &ndash; 1886</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Earl Granville</h4>
            <p class="term">1880 &ndash; 1885</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Marquess of Salisbury</h4>
            <p class="term">1878 &ndash; 1880</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Edward Stanley</h4>
            <p class="term">1874 &ndash; 1878</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Earl Granville</h4>
            <p class="term">1870 &ndash; 1874</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Earl George Villiers</h4>
            <p class="term">1868 &ndash; 1870</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Edward Stanley</h4>
            <p class="term">1866 &ndash; 1868</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Earl George Villiers</h4>
            <p class="term">1865 &ndash; 1866</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Earl John Russell</h4>
            <p class="term">1859 &ndash; 1865</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Earl James Harris</h4>
            <p class="term">1858 &ndash; 1859</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Earl George Villiers</h4>
            <p class="term">1853 &ndash; 1858</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Earl John Russell</h4>
            <p class="term">1852 &ndash; 1853</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Earl James Harris</h4>
            <p class="term">1852</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Earl Granville</h4>
            <p class="term">1851 &ndash; 1852</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Viscount Palmerston</h4>
            <p class="term">1846 &ndash; 1851</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Earl George Hamilton Gordon</h4>
            <p class="term">1841 &ndash; 1846</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Viscount Palmerston</h4>
            <p class="term">1835 &ndash; 1841</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Duke of Wellington</h4>
            <p class="term">1834 &ndash; 1835</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Viscount Palmerston</h4>
            <p class="term">1830 &ndash; 1834</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Earl George Hamilton Gordon</h4>
            <p class="term">1828 &ndash; 1830</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Viscount Dudley and Ward</h4>
            <p class="term">1827 &ndash; 1828</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">George Canning</h4>
            <p class="term">1822 &ndash; 1827</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Viscount Castlereagh</h4>
            <p class="term">1812 &ndash; 1822</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Marquess Richard Wellesley</h4>
            <p class="term">1809 &ndash; 1812</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Earl Henry Bathurst</h4>
            <p class="term">1809</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">George Canning</h4>
            <p class="term">1807 &ndash; 1809</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Charles Grey</h4>
            <p class="term">1806 &ndash; 1807</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Charles James Fox</h4>
            <p class="term">1806</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Earl Henry Phipps</h4>
            <p class="term">1805 &ndash; 1806</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Dudley Ryder</h4>
            <p class="term">1804</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Robert Banks Jenkinson</h4>
            <p class="term">1801 &ndash; 1804</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Lord Robert Banks Jenkinson</h4>
            <p class="term">1801 &ndash; 1804</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Grenville</h4>
            <p class="term">1791 &ndash; 1801</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Grenville</h4>
            <p class="term">1791 &ndash; 1801</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Francis Godolphin Osborne</h4>
            <p class="term">1783 &ndash; 1791</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">George Nugent Temple Grenville</h4>
            <p class="term">1783</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Charles James Fox</h4>
            <p class="term">1783</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Lord Thomas Robinson</h4>
            <p class="term">1782 &ndash; 1783</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Charles James Fox</h4>
            <p class="term">1782</p>
          </div>
        </li>
      </ol>
    </section>
  </div>
</div>

