<% page_title "" %>
<% page_class "inside_gov_homepage" %>

<section class="intro-section">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="page-title">Inside Government</h1>
    </header>

    <p class="intro">By 2014, websites of all government departments and many other public bodies will be merged into the Inside Government section of <a href="/">www.gov.uk</a>. Some have already moved, and more will be joining soon.</p>
  </div>
</section>

<section class="organisations-section">
  <div class="organisations-inner">
    <div class="departments group">
      <div class="inner-block">
        <h2>Ministerial departments</h2>

        <div class="live-count">
          <span class="organisation-count">
            <span class="live-ministerial-departments"><%= @live_ministerial_departments.length %></span> of
            <%= link_to @ministerial_department_count, organisations_path(anchor: 'departments') %>
          </span>
          are live on GOV.UK
        </div>
        <ul class="index-list">
          <% @live_ministerial_departments.each do |department| %>
            <li><%= link_to department.name, organisation_path(department) %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="agencies group">
      <div class="inner-block">
        <h2>Other departments &amp; public bodies</h2>

        <div class="live-count">
          <span class="organisation-count">
            <span class="live-other-departments"><%= @live_other_departments.length %></span> of
            <%= link_to '300+', organisations_path(anchor: 'agencies-and-public-bodies') %>
          </span>
          are live on GOV.UK
        </div>

        <ul class="index-list">
          <% @live_other_departments.each do |department| %>
            <li><%= link_to department.name, organisation_path(department) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="topics-section">
  <div class="inner-block">
    <h2>Topics</h2>
  </div>

  <div class="topics-column">
    <div class="inner-block">
      <h3>What is the government doing about&hellip;</h3>

      <p>As more organisations are added to Inside Government the topics they deal with will appear here.</p>
    </div>
  </div>

  <% @classifications.in_groups(2, false) do |classifications| %>
    <div class="topics-column">
      <div class="inner-block">
        <ul class="topics index-list">
          <% classifications.each do |classification| %>
            <%= content_tag_for(:li, classification) do %>
              <%= link_to classification.name, classification_path(classification) %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</section>

<section class="govspeak inner-block">
  <div class="information-block">
    <p>All existing web addresses will be redirected, so you don’t need to worry about changing your links and bookmarks.</p>

    <p>For more information, see the <a href="/tour#inside-government">introductory video and tour</a> or read our blog post: <a href="http://digital.cabinetoffice.gov.uk/2012/11/05/what-is-inside-government/">What is Inside Government?</a></p>
  </div>
</section>
