<% page_title "How government works" %>
<% page_class "inside_gov_how-gov-works" %>

<div id="how-government-works">
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render partial: 'shared/heading',
                locals: { big: true,
                          heading: "How government works" } %>
      <p class="intro-paragraph">In the UK, the Prime Minister leads the government with the support of the Cabinet and ministers. You can find out <a href="#who-runs-government">who runs government</a> and <a href="#how-governement-is-run">how government is run</a>, as well as learning about the <a href="#history-uk-government">history of government</a>.</p>
    </div>
  </header>

  <div class="block">
    <div class="inner-block">
      <h2 class="coalition" id="who-runs-government">Who runs government</h2>
      <div class="halves-width-section prime-minister">
        <div class="one-half">
          <div class="inner-block">
            <%= image_tag 'how-gov-works/PM_01.jpg', alt: 'The Prime Minister' %>
          </div>
        </div>
        <div class="one-half">
          <div class="inner-block">
            <h3>The Prime Minister</h3>
            <p>The <a href="/government/ministers/prime-minister">Prime Minister</a> is head of the UK government. He is ultimately responsible for all policy and decisions. He:</p>
            <ul>
              <li>oversees the operation of the Civil Service and government agencies</li>
              <li>appoints members of the government</li>
              <li>is the principal government figure in the House of Commons</li>
            </ul>
            <p>The Prime Minister is <a href="/government/people/david-cameron">David Cameron MP</a> and he is based at Number 10 Downing Street in London.</p>
            <p><a href="/government/organisations/prime-ministers-office-10-downing-street">Read more about the Prime Minister's Office, 10 Downing Street</a></p>
          </div>
        </div>
      </div>

      <hr class="keyline">

      <div class="thirds-width-section dep-prime-minister">
        <div class="two-thirds">
          <div class="inner-block">
            <h3>The Deputy Prime Minister</h3>
            <p><a href="/government/ministers/deputy-prime-minister">The Deputy Prime Minister</a>, <a href="/government/people/nick-clegg">Nick Clegg MP</a>, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.</p>
            <p>His office is part of the Cabinet Office at 70 Whitehall.</p>
            <p><a href="/government/organisations/deputy-prime-ministers-office">Read more about the Deputy Prime Minister's Office</a></p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <%= image_tag 'how-gov-works/DPM_01.jpg', alt: 'The Deputy Prime Minister' %>
          </div>
        </div>
      </div>

      <div class="thirds-width-section cabinet">
        <div class="two-thirds">
          <div class="inner-block">
            <h3>The Cabinet</h3>
            <%= image_tag 'how-gov-works/Cabinet_01.jpg', alt: 'The Cabinet' %>
            <p>The Cabinet is made up of the senior members of government.
            Every Tuesday during Parliament, members of the Cabinet
            (Secretaries of State from all departments and some other
            ministers) meet to discuss what are the most important issues for
            the government.</p>
            <p><a href="/government/ministers">See who is in the Cabinet</a></p>
          </div>
        </div>
        <div class="one-third coalition">
          <div class="inner-block">
            <h3>The coalition</h3>
            <%= image_tag 'how-gov-works/Coalition_01.jpg', alt: 'The Coalition' %>
            <p>The Conservative/Liberal Democrat coalition government was
            formed on 10 May 2010. The coalition agreement sets out a joint
            programme for government  to "rebuild the economy, unlock social
            mobility, mend the political system and give people the power to
            call the shots over the decisions that affect their lives".</p>
            <p>Read the <a href="http://www.number10.gov.uk/the-coalition/programme-for-government/" rel="external">programme for government</a> and the <a href="http://midtermreview.cabinetoffice.gov.uk/" rel="external">mid&ndash;term review</a></p>
          </div>
        </div>
      </div>
      <div class="full-width-section ministers">
          <h3>Ministers</h3>
          <div class="feature-ministers">
            <p>
              <span class="circle prime-minister"><span class="count"><a href="/government/ministers/prime-minister">01</a></span> <span class="caption">Prime Minister</span></span> + <span class="circle cabinet-ministers"><span class="count"><a href="/government/ministers/#cabinet"><%= @cabinet_minister_count %></a></span> <span class="caption">Cabinet ministers</span></span> + <span class="circle other-ministers"><span class="count"><a href="/government/ministers/#ministerial_roles"><%= @other_minister_count %></a></span> <span class="caption">Other ministers</span></span> = <span class="circle invert all-ministers"><span class="count"><a href="/government/ministers/"><%= @all_ministers_count %></a></span> <span class="caption">Total ministers</span></span>
            </p>
          </div>
          <p class="caption">Ministers are chosen by the Prime Minister from the members of the House of Commons and House of Lords. They are responsible for the actions, successes and failures of their departments.</p>
          <p><%= link_to "See full list of ministers", ministerial_roles_path %></p>
      </div>
     <h2 id="how-governement-is-run">How government is run</h2>
      <div class="thirds-width-section depts">
        <div class="one-third">
          <div class="inner-block">
            <h3>Government departments and agencies</h3>
          </div>
        </div>
        <div class="two-thirds">
          <div class="inner-block">
            <p>Departments and their agencies are responsible for putting government policy into practice.</p>
          </div>
        </div>
      </div>

      <div class="thirds-width-section depts-cont">
        <div class="one-third">
          <div class="inner-block">
            <p><span class="feature-value"><%= link_to @ministerial_department_count, organisations_path(anchor: 'departments') %></span>
              <span class="feature-caption">Ministerial departments</span>
              <span class="feature-value"><a href="/government/organisations#non-ministerial-departments"><%= @non_ministerial_department_count %></a></span>
              <span class="feature-caption">Non-ministerial departments</span>
              <span class="feature-value"><a href="/government/organisations#agencies-and-public-bodies">300+</a></span>
              <span class="feature-caption">Agencies &amp; other public bodies</span></p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h3>Government departments</h3>
            <p>Some departments, like the <a href="/government/organisations/ministry-of-defence">Ministry of Defence</a>, cover the  whole UK. Others don’t – the <a href="/government/organisations/department-for-work-pensions">Department for Work and Pensions</a> doesn't cover Northern Ireland. This is because some aspects of government are devolved to Scotland, Wales and Northern Ireland.</p>

            <p><a href="/government/organisations#non-ministerial-departments">Non-ministerial departments</a> are headed by senior civil servants and not ministers. They usually have a regulatory or inspection function like the Charity Commission.</p>

            <h3 class="with-gutter">Executive agencies</h3>
            <p>These are part of government departments and usually provide government services rather than decide policy - which is done by the department that oversees the agency.</p>

            <p>An example is the <a href="/government/organisations/driver-and-vehicle-licensing-agency">Driver and Vehicle Licensing Agency</a> (overseen by the <a href="/government/organisations/department-for-transport">Department for Transport</a>).</p>

          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h3>Other public bodies</h3>
            <p>These have varying degrees of independence but are directly accountable to ministers. There are 4 types of non-departmental public bodies (NDPBs).</p>

            <p>Executive NDPBs do work for the government in specific areas - for example, the Environment Agency.</p>

            <p>Advisory NDPBs provide independent, expert advice to ministers - for example, the Committee on Standards in Public Life.</p>

            <p>Tribunal NDPBs are part of the justice system and have jurisdiction over a specific area of law - for example, the Competition Appeal Tribunal.</p>

            <p>Independent monitoring boards are responsible for the running of prisons and treatment of prisoners - for example, Her Majesty's Inspectorate of Prisons.</p>
          </div>
        </div>
      </div>






      <div class="full-width-section civil-service">
         <h3>Civil Service</h3>
      </div>
      <div class="thirds-width-section civil-service">
        <div class="one-third">
          <div class="inner-block">
            <p class="civil-pie">Where civil<br />servants work</p>
            <table>
              <tr class="dwp"><td><strong>23%</strong></td><td><a href="/government/organisations/department-for-work-pensions"><acronym title="Department for Work &amp; Pensions">DWP</acronym></a></td></tr>
              <tr class="hmrc"><td><strong>16%</strong></td><td><a href="/government/organisations/hm-revenue-customs"><acronym title="HM Revenue &amp; Customs">HMRC</acronym></a></td></tr>
              <tr class="moj"><td><strong>16%</strong></td><td><a href="/government/organisations/ministry-of-justice"><acronym title="Ministry of Justice">MOJ</acronym></a></td></tr>
              <tr class="mod"><td><strong>14%</strong></td><td><a href="/government/organisations/ministry-of-defence"><acronym title="Ministry of Defence">MOD</acronym></a></td></tr>
              <tr class="others"><td><strong>31%</strong></td><td><a href="/government/organisations">Other departments</a></td></tr>
            </table>
            <p class="caption">Over two-thirds of civil servants work in the four largest departments.</p>
            <p class="caption">(FTE basis, source ONS, QPSES Q2 2012)</p>
          </div>
        </div>
        <div class="two-thirds">
          <div class="inner-block">
            <p>The Civil Service does the practical and administrative work of government. It is co-ordinated and managed by the Prime Minister, in his role as Minister for the Civil Service.</p>
            <p>Around half of all civil servants provide services direct to the public, including:</p>
            <ul>
              <li>paying benefits and pensions</li>
              <li>running employment services</li>
              <li>staffing prisons</li>
              <li>issuing driving licences</li>
            </ul>
            <p><a href="http://www.civilservice.gov.uk/" rel="external">Civil Service website</a></p>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
            <h4>Work for us</h4>
            <p><a href="https://jobsstatic.civilservice.gov.uk/csjobs.html/">Find and apply</a> for vacancies in departments, executive agencies and non-departmental public bodies.</p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h4>Work with us</h4>
            <p><a href="https://www.gov.uk/contracts-finder">Search Contracts Finder</a> for any government contract over £10,000 and get details of all previous tenders.</p>
          </div>
        </div>
      </div>

      <hr class="keyline">

      <div class="thirds-width-section policy">
        <div class="two-thirds">
          <div class="inner-block">
            <h3>What is a policy?</h3>
            <p>A policy is a statement of what the government is trying to achieve and why. Government policy is the sum of all the individual policies – as a whole they help to define where the government stands on broad political issues.</p>
            <p>On GOV.UK you can see all our policies and find out exactly what we are doing, who’s involved, who we’re working with (partner organisations) and who we’ve asked (consultations).</p>
            <p>See a list of all <%= link_to "policies", policies_path %> or browse by <%= link_to "topics", topics_path %></p>
          </div>
        </div>
        <div class="one-third policy-count">
          <div class="inner-block">
            <p class="circle"><span class="count"><a href="/government/policies"><%= @policy_count %></a></span> <span class="caption">Policies</span></p>
            <p>There are currently <%= @policy_count %> policies on <br>GOV.UK</p>
          </div>
        </div>
      </div>

      <hr class="keyline">

      <div class="thirds-width-section get-involved">
        <h3>Get involved</h3>
        <div class="one-third">
          <div class="inner-block">
            <h4>Engage with government</h4>
            <p>Interact with government through <a href="/government/get-involved/#engage-with-government">consultations and petitions</a> to inform and influence the decisions it makes.</p>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
            <h4>Take part</h4>
            <p><a href="/government/get-involved/#take-part">Offer your skills and energy</a> to a project in your neighbourhood, around the UK or overseas.</p>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
            <h4>Related policies</h4>
            <p>You can also <a href="/government/get-involved/#related-polices">read policies</a> about how government is increasing participation.</p>
          </div>
        </div>
        <p>Read about ways to <a href="/government/get-involved/">get involved</a>.</p>
      </div>

      <hr class="keyline">

      <div class="thirds-width-section legislation">
        <div class="one-third">
          <div class="inner-block">
            <h3>Legislation</h3>
          </div>
        </div>
        <div class="two-thirds">
          <div class="inner-block">
            <p>Laws go through several stages before they are passed by Parliament. The House of Commons and the House of Lords work together to make them.</p>
            <p>They can include:</p>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
            <h4>Draft legislation</h4>
            <p>White papers outline proposals for new laws. Green papers ask for public comments before the white paper is published.</p>

            <p>Bills are proposals for new laws or changes to existing ones. Once agreed by Parliament, they have to be approved by The Queen before becoming law.</p>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
            <h4>Acts of Parliament</h4>
            <p>These are bills which have been approved by the Commons, the Lords, and The Queen. The relevant government department is responsible for putting the act into practice.</p>
            <p><a href="http://www.legislation.gov.uk" rel="external">Visit www.legislation.gov.uk</a></p>
          </div>
        </div>
      </div>

      <hr class="keyline">

      <div class="thirds-width-section access-information">
        <div class="one-third">
          <div class="inner-block">
            <h3>Access to information</h3>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h4>Freedom of information</h4>
            <p>The Freedom of Information Act gives you the right to ask any
            public sector organisation for all the recorded information it has
            on any subject. Anyone can make a request for information –
            known as a Freedom of Information (or FOI) request.  There are no
            restrictions in your age, nationality or where you live.</p>
            <p><a href="https://www.gov.uk/make-a-freedom-of-information-request">How to make a freedom of information request</a></p>
            <p><%= link_to "See FOI releases on gov.uk", publications_filter_path(:publication_filter_option => 'foi-releases') %></p>

            <h4 class="with-gutter">Statistics</h4>
            <p>Government produces official statistics about most areas of
            public life. Statistics are used by people inside and outside
            government to make informed decisions and to measure the success of
            government policies and services. <a
              href="https://www.gov.uk/government/publications/how-national-and-official-statistics-are-assured">Find
              out about the legislation</a> that governs the publication of UK
            national and official statistics.</p>
            <p><%= link_to "See statistics publications on gov.uk", publications_filter_path(:publication_filter_option => 'statistics') %></p>

          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">

            <h4>Transparency</h4>
            <p>The government publishes information about how government works to allow you to make politicians, public services and public organisations more accountable. We are committed to publishing information about:</p>
            <ul>
              <li>how much public money has been spent on what</li>
              <li>the job titles of senior civil servants and how much they are paid</li>
              <li>how the government is doing against its objectives</li>
            </ul>
            <p><a href="http://www.number10.gov.uk/transparency/" rel="external">Read more about transparency</a></p>
            <h4 class="with-gutter">Data</h4>
            <p>Putting data in people’s hands can help them have more of a say in the reform of public services. On <a href="http://www.data.gov.uk" rel="external">data.gov.uk</a> you can easily find, review and use information about our country and communities - for example, to develop web applications.</p>
          </div>
        </div>
      </div>

      <div class="thirds-width-section gov-types">
        <div class="one-third">
          <div class="inner-block">
            <h3>Devolved government</h3>
            <p>In <a href="http://home.scotland.gov.uk/home" rel="external">Scotland</a>, <a href="http://www.wales.gov.uk/" rel="external">Wales</a> and <a href="http://www.northernireland.gov.uk/" rel="external">Northern
            Ireland</a>, devolved administrations are responsible for many domestic policy issues, and their Parliaments/Assemblies have law-making powers for those areas.</p>
            <p>Areas the Scottish Government, Welsh Government, and the Northern Ireland Executive are responsible for, include:</p>
            <ul>
              <li>health</li>
              <li>education</li>
              <li>culture</li>
              <li>the environment</li>
              <li>transport</li>
            </ul>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h3>Local government</h3>
            <p>Councils make and carry out decisions on local services. Many parts of England have 2 tiers of local government: county councils and district, borough or city councils.</p>
            <p>In some parts of the country, there’s just one tier of local government providing all the functions, known as a ‘unitary authority’. This can be a city, borough or county council – or it may just be called ‘council’. As well as these, many areas also have parish or town councils.</p>
            <p><a href="https://www.gov.uk/understand-how-your-council-works/types-of-council">Understand how your council works</a></p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h3>Parliament</h3>
            <p>Parliament is separate from government. Made up of the House of Commons and the House of Lords, its role is to:</p>
            <ul>
              <li>look at what the government is
              doing</li>
              <li>debate issues and pass new laws</li>
              <li>set taxes</li>
            </ul>
            <p>There are 650 elected MPs in the
            House of Commons.</p>
            <p><a href="http://www.parliament.uk/" rel="external">Find out about how Parliament works</a></p>
            <p>Read The Official Report at <a href="http://www.parliament.uk/business/publications/" rel="external">Hansard</a></p>
          </div>
        </div>
      </div>


      <h2 id="history-uk-government">History of government</h2>
      <div class="halves-width-section history">
        <div class="one-half">
          <div class="inner-block">
            <%= image_tag 'how-gov-works/Churchill_01.jpg', alt: 'History of government' %>
          </div>
        </div>
        <div class="one-half">
          <div class="inner-block">
            <p>Britain has one of the oldest governments in the world. Find out more about how it has worked and who has shaped it in the <a href="/government/history">history</a> section.</p>
            <p>Read about past Prime Ministers, Chancellors and Foreign Secretaries in <a href="/government/history#notable-people">notable people</a>. Learn more about historic <a href="/government/history#government-buildings">government buildings</a> on Whitehall and around the UK.</p>
            <p>You can also find links to <a href="/government/history#historical-research">historical research</a>, documents and records.</p>
          </div>
        </div>
      </div>


    </div>
  </div>




</div>
