<% page_title "How government works" %>
<% page_class "inside_gov_how-gov-works" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        title: "How government works",
      } %>
      
      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: sanitize("In the UK, the Prime Minister leads the government with the support of the Cabinet and ministers. You can find out <a class=\"govuk-link\" href=\"#who-runs-government\">who runs government</a> and <a class=\"govuk-link\" href=\"#how-government-is-run\">how government is run</a>, as well as learning about the <a class=\"govuk-link\" href=\"#history-uk-government\">history of government</a>.")
      } %>

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-9">
        <%= render "govuk_publishing_components/components/contents_list", {
          aria_label: "Pages in this guide",
          contents: [
            {
              href: "#who-runs-government",
              text: "Who runs government",
            },
            {
              href: "#how-government-is-run",
              text: "How government is run",
            },
            {
              href: "#civil-service",
              text: "Civil service",
            },
            {
              href: "#get-involved",
              text: "Get involved",
            },
            {
              href: "#legislation",
              text: "Legislation",
            },
            {
              href: "#access-to-information",
              text: "Access to information",
            },
            {
              href: "#devolved-government",
              text: "Devolved government",
            },
            {
              href: "#local-government",
              text: "Local government",
            },
            {
              href: "#parliament",
              text: "Parliament",
            },
            {
              href: "#history-uk-government",
              text: "History of government",
            }
          ]
        } %>
      </div>

      <section>
        <%= render "govuk_publishing_components/components/heading", {
          text: "Who runs government",
          id: "who-runs-government",
          font_size: "l",
          margin_bottom: 4,
        } %>
        
        <section class="govuk-!-margin-bottom-9 prime-minister">
          <%= render "govuk_publishing_components/components/heading", {
            text: "The Prime Minister",
            font_size: "m",
            heading_level: 3,
            margin_bottom: 4,
          } %>

          <p class="govuk-body">The <%= link_to("Prime Minister", "/government/ministers/prime-minister", class: "govuk-link") %> is the leader of His Majesty’s Government and is ultimately responsible for all policy and decisions.</p>
          <p class="govuk-body">The Prime Minister also:</p>

          <%= render "govuk_publishing_components/components/list", {
            extra_spacing: true,
            visible_counters: true,
            items: [
              "oversees the operation of the Civil Service and government agencies",
              "appoints members of the government",
              "is the principal government figure in the House of Commons",
            ]
          } %>

          <% if @prime_minister.present? %>
            <p class="govuk-body">The Prime Minister is <%= link_to @prime_minister.name, url_for(@prime_minister), class: "govuk-link" %>.</p>
          <% end %>

          <p class="govuk-body govuk-!-margin-bottom-8">
            <%= link_to "Read more about the Prime Minister's Office, 10 Downing Street", "/government/organisations/prime-ministers-office-10-downing-street", class: "govuk-link" %>
          </p>
          
          <% if @prime_minister.present? && @prime_minister.image_url(:s465).present? %>
            <%= image_tag @prime_minister.image_url(:s465), { alt: '', width: '465', height: '310' } %>
          <% else %>
            <%= image_tag 'how-gov-works/10_Downing_Street.jpg', alt: '', width: '465', height: '310' %>
          <% end %>
        </section>

        <section class="govuk-!-margin-bottom-9">
          <%= render "govuk_publishing_components/components/heading", {
            text: "The Cabinet",
            font_size: "m",
            heading_level: 3,
            margin_bottom: 4,
          } %>

          <p class="govuk-body">The Cabinet is made up of the senior members of government. Every week during Parliament, members of the Cabinet (Secretaries of State from all departments and some other ministers) meet to discuss the most important issues for the government.</p>
          <p class="govuk-body govuk-!-margin-bottom-8"><%= link_to("See who is in the Cabinet", "/government/ministers", class: "govuk-link") %></p>
          
          <%= image_tag 'how-gov-works/Cabinet_01.jpg', alt: '', width: '465', height: '310' %>
        </section>
      </section>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <section class="govuk-!-margin-bottom-9">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Ministers",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <% if !@is_during_reshuffle %>
          <div class="govuk-grid-row feature-ministers">
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-margin-bottom-1 govuk-heading-s">Prime Minister</p>

              <a class="govuk-link gem-c-big-number__link" href="/government/ministers/prime-minister">
                <%= render "govuk_publishing_components/components/big_number", {
                  number: 1,
                } %>

                <span class="govuk-visually-hidden">&nbsp;</span>
                <span class="govuk-visually-hidden">
                  Prime Minister
                </span>
              </a>
            </div>

            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-margin-bottom-1 govuk-heading-s">Cabinet ministers</p>
              
              <a class="govuk-link gem-c-big-number__link cabinet-ministers" href="/government/ministers#cabinet-ministers">
                <%= render "govuk_publishing_components/components/big_number", {
                  number: @cabinet_minister_count,
                } %>

                <span class="govuk-visually-hidden">&nbsp;</span>
                <span class="govuk-visually-hidden">
                  Cabinet ministers
                </span>
              </a>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-margin-bottom-1 govuk-heading-s">Other ministers</p>

              <a class="govuk-link gem-c-big-number__link other-ministers" href="/government/ministers#ministers-by-department">
                <%= render "govuk_publishing_components/components/big_number", {
                  number: @other_minister_count,
                } %>

                <span class="govuk-visually-hidden">&nbsp;</span>
                <span class="govuk-visually-hidden">
                  Other ministers
                </span>
              </a>
            </div>

            <div class="govuk-grid-column-one-half all-ministers">
              <p class="govuk-!-margin-bottom-1 govuk-heading-s">Total ministers</p>
              
              <a class="govuk-link gem-c-big-number__link all-ministers" href="/government/ministers">
                <%= render "govuk_publishing_components/components/big_number", {
                  number: @all_ministers_count,
                } %>

                <span class="govuk-visually-hidden">&nbsp;</span>
                <span class="govuk-visually-hidden">
                  Total ministers
                </span>
              </a>
            </div>
          </div>
        <% end %>

        <p class="govuk-body">Ministers are chosen by the Prime Minister from the members of the House of Commons and House of Lords. They are responsible for the actions, successes and failures of their departments.</p>
        <p class="govuk-body"><%= link_to "See full list of ministers", ministerial_roles_path, class: "govuk-link" %></p>
      </section>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <section class="govuk-!-margin-bottom-9">
        <%= render "govuk_publishing_components/components/heading", {
          text: "How government is run",
          id: "how-government-is-run",
          font_size: "l",
          margin_bottom: 4,
        } %>

        <%= render "govuk_publishing_components/components/heading", {
          text: "Government departments and agencies",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">Departments and their agencies are responsible for putting government policy into practice.</p>

            <%= render "govuk_publishing_components/components/heading", {
              text: "Government departments",
              font_size: "m",
              heading_level: 3,
              margin_bottom: 4,
            } %>

            <p class="govuk-body">Some departments, like the <%= link_to "Ministry of Defence", "/government/organisations/ministry-of-defence", class: "govuk-link" %>, cover the  whole UK. Others don’t – the <%= link_to "Department for Work and Pensions", "/government/organisations/department-for-work-pensions", class: "govuk-link" %> doesn't cover Northern Ireland. This is because some aspects of government are devolved to Scotland, Wales and Northern Ireland.</p>
            <p class="govuk-body"><%= link_to "Non-ministerial departments", "/government/organisations#non_ministerial_departments", class: "govuk-link" %> are headed by senior civil servants and not ministers. They usually have a regulatory or inspection function like the Charity Commission.</p>

            <%= render "govuk_publishing_components/components/heading", {
              text: "Executive agencies",
              font_size: "m",
              heading_level: 3,
              margin_bottom: 4,
            } %>

            <p class="govuk-body">These are part of government departments and usually provide government services rather than decide policy - which is done by the department that oversees the agency.</p>
            <p class="govuk-body">An example is the <%= link_to "Driver and Vehicle Licensing Agency", "/government/organisations/driver-and-vehicle-licensing-agency", class: "govuk-link" %> (overseen by the <%= link_to "Department for Transport", "/government/organisations/department-for-transport", class: "govuk-link" %>).</p>

            <%= render "govuk_publishing_components/components/heading", {
              text: "Other public bodies",
              font_size: "m",
              heading_level: 3,
              margin_bottom: 4,
            } %>

            <p class="govuk-body">These have varying degrees of independence but are directly accountable to ministers. There are 4 types of non-departmental public bodies (NDPBs).</p>
            <p class="govuk-body">Executive NDPBs do work for the government in specific areas - for example, the Environment Agency.</p>
            <p class="govuk-body">Advisory NDPBs provide independent, expert advice to ministers - for example, the Committee on Standards in Public Life.</p>
            <p class="govuk-body">Tribunal NDPBs are part of the justice system and have jurisdiction over a specific area of law - for example, the Competition Appeal Tribunal.</p>
            <p class="govuk-body">Independent monitoring boards are responsible for the running of prisons and treatment of prisoners - for example, Her Majesty's Inspectorate of Prisons.</p>
          </div>
        </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="depts">
                <div class="depts__item govuk-!-display-inline-block">
                  <%= render "govuk_publishing_components/components/big_number", {
                    number: @ministerial_department_count,
                    label: "Ministerial departments",
                    href: organisations_path(anchor: 'departments')
                  } %>
                </div>
                <div class="depts__item govuk-!-display-inline-block">
                  <%= render "govuk_publishing_components/components/big_number", {
                    number: @non_ministerial_department_count,
                    label: "Non-ministerial departments",
                    href: organisations_path(anchor: 'non_ministerial_departments')
                  } %>
                </div>
                <div class="depts__item govuk-!-display-inline-block">
                  <%= render "govuk_publishing_components/components/big_number", {
                    number: "300+",
                    label: "Agencies other public bodies",
                    href: organisations_path(anchor: 'agencies_and_other_public_bodies')
                  } %>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <section class="govuk-!-margin-bottom-9">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Civil Service",
          id: "civil-service",
          font_size: "l",
          margin_bottom: 4,
        } %>

        <p class="govuk-body">The Civil Service does the practical and administrative work of government. It is co-ordinated and managed by the Prime Minister, in their role as Minister for the Civil Service.</p>
        <p class="govuk-body">Around half of all civil servants provide services direct to the public, including:</p>

        <%= render "govuk_publishing_components/components/list", {
          extra_spacing: true,
          visible_counters: true,
          items: [
            "paying benefits and pensions",
            "running employment services",
            "staffing prisons",
            "issuing driving licences",
          ]
        } %>

        <p class="govuk-body">The <%= link_to "Civil Service", "/government/organisations/civil-service", class: "govuk-link" %> is on GOV.UK.</p>

        <%= render "govuk_publishing_components/components/heading", {
          text: "Work for us",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <p class="govuk-body"><%= link_to "Find and apply", "https://civilservicejobs.service.gov.uk/", class: "govuk-link" %> for vacancies in departments, executive agencies and non-departmental public bodies.</p>
        
        <%= render "govuk_publishing_components/components/heading", {
          text: "Work with us",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <p class="govuk-body"><%= link_to "Search Contracts Finder", "/contracts-finder/", class: "govuk-link" %> for any government contract over £10,000 and get details of all previous tenders.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Get involved",
          id: "get-involved",
          font_size: "l",
          margin_bottom: 4,
        } %>

        <p class="govuk-body">Read about ways to <%= link_to "get involved", "/government/get-involved/", class: "govuk-link" %>.</p>

        <%= render "govuk_publishing_components/components/heading", {
          text: "Engage with government",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <p class="govuk-body">Interact with government through <%= link_to "consultations and petitions", "/government/get-involved#engage-with-government", class: "govuk-link" %> to inform and influence the decisions it makes.</p>

        <%= render "govuk_publishing_components/components/heading", {
          text: "Take part",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <p class="govuk-body"><%= link_to "Offer your skills and energy", "/government/get-involved#take-part", class: "govuk-link" %> to a project in your neighbourhood, around the UK or overseas.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Legislation",
          id: "legislation",
          font_size: "l",
          margin_bottom: 4,
        } %>

        <p class="govuk-body">Laws go through several stages before they are passed by Parliament. The House of Commons and the House of Lords work together to make them.</p>
        <p class="govuk-body">They can include:</p>

        <%= render "govuk_publishing_components/components/heading", {
          text: "Draft legislation",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <p class="govuk-body">White papers outline proposals for new laws. Green papers ask for public comments before the white paper is published.</p>
        <p class="govuk-body">Bills are proposals for new laws or changes to existing ones. Once agreed by Parliament, they have to be approved by The Queen before becoming law.</p>

        <%= render "govuk_publishing_components/components/heading", {
          text: "Acts of Parliament",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <p class="govuk-body">These are bills which have been approved by the Commons, the Lords, and The Queen. The relevant government department is responsible for putting the act into practice.</p>
        <p class="govuk-body"><%= link_to "Visit www.legislation.gov.uk", "https://www.legislation.gov.uk", class: "govuk-link", rel: "external" %></p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Access to information",
          id: "access-to-information",
          font_size: "l",
          margin_bottom: 4,
        } %>
        
        <%= render "govuk_publishing_components/components/heading", {
          text: "Freedom of information",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <p class="govuk-body">The Freedom of Information Act gives you the right to ask any public sector organisation for all the recorded information it has on any subject. Anyone can make a request for information – known as a Freedom of Information (or FOI) request.  There are no restrictions on your age, nationality or where you live.</p>
        <p class="govuk-body"><%= link_to "How to make a freedom of information request", "/make-a-freedom-of-information-request", class: "govuk-link" %></p>
        <p class="govuk-body"><%= link_to "See FOI releases on GOV.UK", publications_filter_path(:publication_filter_option => 'foi-releases'), class: "govuk-link" %></p>

        <%= render "govuk_publishing_components/components/heading", {
          text: "Statistics",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <p class="govuk-body">Government produces Official Statistics about most areas of public life. Statistics are used by people inside and outside government to make informed decisions and to measure the success of government policies and services. <%= link_to "Find out about the legislation", "/government/statistics/how-national-and-official-statistics-are-assured", class: "govuk-link" %> that governs the publication of UK national and Official Statistics.</p>
        <p class="govuk-body"><%= link_to "See statistics publications on GOV.UK", "/search/research-and-statistics", class: "govuk-link" %></p>

        <%= render "govuk_publishing_components/components/heading", {
          text: "Transparency",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <p class="govuk-body">The government publishes information about how government works to allow you to make politicians, public services and public organisations more accountable. We are committed to publishing information about:</p>

        <%= render "govuk_publishing_components/components/list", {
          extra_spacing: true,
          visible_counters: true,
          items: [
            "how much public money has been spent on what",
            "the job titles of senior civil servants and how much they are paid",
            "how the government is doing against its objectives"
          ]
        } %>

        <p class="govuk-body"><%= link_to 'See transparency releases on GOV.UK', publications_filter_path(:publication_filter_option => 'transparency-data'), class: "govuk-link" %></p>

        <%= render "govuk_publishing_components/components/heading", {
          text: "Data",
          font_size: "m",
          heading_level: 3,
          margin_bottom: 4,
        } %>

        <p class="govuk-body">Putting data in people’s hands can help them have more of a say in the reform of public services. On <%= link_to "data.gov.uk", "https://data.gov.uk/", class: "govuk-link", rel: "external" %> you can easily find, review and use information about our country and communities - for example, to develop web applications.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Devolved government",
          id: "devolved-government",
          font_size: "l",
          margin_bottom: 4,
        } %>

        <p class="govuk-body">In <%= link_to "Scotland", "https://www.gov.scot/", class: "govuk-link", rel: "external" %>, <%= link_to "Wales", "https://www.gov.wales/", class: "govuk-link", rel: "external" %> and <%= link_to "Northern Ireland", "https://www.northernireland.gov.uk/", class: "govuk-link", rel: "external" %>, devolved administrations are responsible for many domestic policy issues, and their Parliaments/Assemblies have law-making powers for those areas.</p>
        <p class="govuk-body">Areas the Scottish Government, Welsh Government, and the Northern Ireland Executive are responsible for, include:</p>

        <%= render "govuk_publishing_components/components/list", {
          extra_spacing: true,
          visible_counters: true,
          items: [
            "health",
            "education",
            "culture",
            "the environment",
            "transport"
          ]
        } %>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Local government",
          id: "local-government",
          font_size: "l",
          margin_bottom: 4,
        } %>

        <p class="govuk-body">Councils make and carry out decisions on local services. Many parts of England have 2 tiers of local government: county councils and district, borough or city councils.</p>
        <p class="govuk-body">In some parts of the country, there’s just one tier of local government providing all the functions, known as a ‘unitary authority’. This can be a city, borough or county council – or it may just be called ‘council’. As well as these, many areas also have parish or town councils.</p>
        <p class="govuk-body"><%= link_to "Understand how your council works", "/understand-how-your-council-works/types-of-council/", class: "govuk-link" %></p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Parliament",
          id: "parliament",
          font_size: "l",
          margin_bottom: 4,
        } %>

        <p class="govuk-body">Parliament is separate from government. Made up of the House of Commons and the House of Lords, its role is to:</p>

        <%= render "govuk_publishing_components/components/list", {
          extra_spacing: true,
          visible_counters: true,
          items: [
            "look at what the government is doing",
            "debate issues and pass new laws",
            "set taxes"
          ]
        } %>        

        <p class="govuk-body">
          <%= link_to "Find out about how Parliament works", "https://www.parliament.uk/", class: "govuk-link", rel: "external" %>
        </p>

        <p class="govuk-body">Read The Official Report at <%= link_to "Hansard", "http://www.parliament.uk/business/publications/", class: "govuk-link", rel: "external" %></p>
      </section>

      <section>
        <%= render "govuk_publishing_components/components/heading", {
          text: "History of government",
          id: "history-uk-government",
          font_size: "l",
          margin_bottom: 4,
        } %>

        <p class="govuk-body">Britain has one of the oldest governments in the world. Find out more about how it has worked and who has shaped it in the <%= link_to "history", "/government/history/", class: "govuk-link" %> section.</p>
        <p class="govuk-body">Read about past Prime Ministers, Chancellors and Foreign Secretaries in <%= link_to "notable people", "/government/history#notable-people", class: "govuk-link" %>. Learn more about historic <%= link_to "government buildings", "/government/history#government-buildings", class: "govuk-link" %> on Whitehall and around the UK.</p>
        <p class="govuk-body govuk-!-margin-bottom-8">You can also find links to <%= link_to "historical research", "/government/history#historical-research", class: "govuk-link" %>, documents and records.</p>
        
        <%= image_tag 'how-gov-works/Churchill_01.jpg', alt: '', width: '465', height: '310' %>
      </section>
    </div>
  </div>
</div>
