<% page_title "How government works" %>
<% page_class "inside_gov_how-gov-works" %>

<div id="how-government-works">
  <header class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <%= render "govuk_publishing_components/components/title", {
          title: "How government works",
        } %>
        <p class="govuk-body-l">In the UK, the Prime Minister leads the government with the support of the Cabinet and ministers. You can find out <%= link_to("who runs government", "#who-runs-government", class: "govuk-link") %> and <%= link_to("how government is run", "#how-government-is-run", class: "govuk-link") %>, as well as learning about the <%= link_to("history of government", "#history-uk-government", class: "govuk-link") %>.</p>
      </div>
    </div>
  </header>

  <div class="block">
    <div class="inner-block">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Who runs government",
        id: "who-runs-government",
        heading_level: 2,
      } %>
      <div class="halves-width-section prime-minister">
        <div class="one-half">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "The Prime Minister",
              heading_level: 3,
              margin_bottom: 5,
            } %>

            <p class="govuk-body">The <%= link_to("Prime Minister", "/government/ministers/prime-minister", class: "govuk-link") %> is the leader of Her Majesty’s Government and is ultimately responsible for all policy and decisions.</p>

            <p class="govuk-body">The Prime Minister also:</p>

            <%= render "govuk_publishing_components/components/list", {
              visible_counters: true,
              items: [
                "oversees the operation of the Civil Service and government agencies",
                "appoints members of the government",
                "is the principal government figure in the House of Commons",
              ]
            } %>

            <% if @prime_minister.present? %>
              <p class="govuk-body">The Prime Minister is <%= link_to @prime_minister.name, url_for(@prime_minister), class: "govuk-link" %>.</p>
            <% end %>

            <p class="govuk-body">
              <%= link_to "Read more about the Prime Minister's Office, 10 Downing Street", "/government/organisations/prime-ministers-office-10-downing-street", class: "govuk-link" %>
            </p>
          </div>
        </div>
        <div class="one-half">
          <div class="inner-block">
            <% if @prime_minister.present? && @prime_minister.image_url(:s465).present? %>
              <%= image_tag @prime_minister.image_url(:s465), { alt: @prime_minister.name } %>
            <% else %>
              <%= image_tag 'how-gov-works/10_Downing_Street.jpg', alt: 'Number 10, Downing Street' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="halves-width-section cabinet">
        <div class="one-half">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "The Cabinet",
              heading_level: 3,
              margin_bottom: 5,
            } %>

            <p class="govuk-body">The Cabinet is made up of the senior members of government. Every week during Parliament, members of the Cabinet (Secretaries of State from all departments and some other ministers) meet to discuss the most important issues for the government.</p>

            <p class="govuk-body"><%= link_to("See who is in the Cabinet", "/government/ministers", class: "govuk-link") %></p>
          </div>
        </div>
        <div class="one-half">
          <div class="inner-block">
            <%= image_tag 'how-gov-works/Cabinet_01.jpg', alt: 'The Cabinet' %>
          </div>
        </div>
      </div>

      <div class="full-width-section ministers">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Ministers",
          heading_level: 3,
        } %>
        <% if !@is_during_reshuffle %>
          <div class="feature-ministers">
            <a href="/government/ministers/prime-minister" class="feature-ministers__item">
              <strong class="count govuk-!-font-size-48 govuk-!-font-weight-bold">1</strong>
              <span class="caption">Prime Minister</span>
            </a>
            <span class="feature-ministers__symbol">&#43;</span>
            <a href="/government/ministers#cabinet-ministers" class="feature-ministers__item cabinet-ministers">
              <strong class="count govuk-!-font-size-48 govuk-!-font-weight-bold"><%= @cabinet_minister_count %></strong>
              <span class="caption">Cabinet ministers</span>
            </a>
            <span class="feature-ministers__symbol">&#43;</span>
            <a href="/government/ministers#ministers-by-department" class="feature-ministers__item other-ministers">
              <strong class="count govuk-!-font-size-48 govuk-!-font-weight-bold"><%= @other_minister_count %></strong>
              <span class="caption">Other ministers</span>
            </a>
            <span class="feature-ministers__equals-wrapper">
              <span class="feature-ministers__symbol">&#61;</span>
              <a href="/government/ministers" class="feature-ministers__item feature-ministers__item--invert all-ministers">
                <strong class="count govuk-!-font-size-48 govuk-!-font-weight-bold"><%= @all_ministers_count %></strong>
                <span class="caption">Total ministers</span>
              </a>
            <span>
          </div>
        <% end %>

        <p class="govuk-body">Ministers are chosen by the Prime Minister from the members of the House of Commons and House of Lords. They are responsible for the actions, successes and failures of their departments.</p>

        <p class="govuk-body"><%= link_to "See full list of ministers", ministerial_roles_path, class: "govuk-link" %></p>
      </div>

      <%= render "govuk_publishing_components/components/heading", {
        text: "How government is run",
        id: "how-government-is-run",
        heading_level: 2,
        margin_bottom: 6,
      } %>
      <div class="thirds-width-section depts">
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Government departments and agencies",
              heading_level: 3,
            } %>
          </div>
        </div>
        <div class="two-thirds">
          <div class="inner-block">
            <p class="govuk-body">Departments and their agencies are responsible for putting government policy into practice.</p>
          </div>
        </div>
      </div>

      <div class="thirds-width-section depts-cont">
        <div class="one-third">
          <div class="inner-block">
            <ul class="govuk-list">
              <li class="feature-value">
                <a href="<%= organisations_path(anchor: 'departments') %>" class="feature-value__link">
                  <span class="feature-value__count"><%= @ministerial_department_count %></span>
                  <span class="feature-value__caption govuk-body-s">Ministerial departments</span>
                </a>
              </li>
              <li class="feature-value">
                <a href="<%= organisations_path(anchor: 'non-ministerial-departments') %>" class="feature-value__link">
                  <span class="feature-value__count"><%= @non_ministerial_department_count %></span>
                  <span class="feature-value__caption govuk-body-s">Non-ministerial departments</span>
                </a>
              </li>
              <li class="feature-value feature-value--small">
                <a href="<%= organisations_path(anchor: 'agencies-and-government-bodies') %>" class="feature-value__link">
                  <span class="feature-value__count">300+</span>
                  <span class="feature-value__caption govuk-body-s">Agencies &amp; other public bodies</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Government departments",
              heading_level: 3,
              margin_bottom: 3,
              font_size: 19,
            } %>

            <p class="govuk-body">Some departments, like the <%= link_to "Ministry of Defence", "/government/organisations/ministry-of-defence", class: "govuk-link" %>, cover the  whole UK. Others don’t – the <%= link_to "Department for Work and Pensions", "/government/organisations/department-for-work-pensions", class: "govuk-link" %> doesn't cover Northern Ireland. This is because some aspects of government are devolved to Scotland, Wales and Northern Ireland.</p>

            <p class="govuk-body"><%= link_to "Non-ministerial departments", "/government/organisations#non_ministerial_departments", class: "govuk-link" %> are headed by senior civil servants and not ministers. They usually have a regulatory or inspection function like the Charity Commission.</p>

            <%= render "govuk_publishing_components/components/heading", {
              text: "Executive agencies",
              heading_level: 3,
              margin_bottom: 3,
              font_size: 19,
            } %>

            <p class="govuk-body">These are part of government departments and usually provide government services rather than decide policy - which is done by the department that oversees the agency.</p>

            <p class="govuk-body">An example is the <%= link_to "Driver and Vehicle Licensing Agency", "/government/organisations/driver-and-vehicle-licensing-agency", class: "govuk-link" %> (overseen by the <%= link_to "Department for Transport", "/government/organisations/department-for-transport", class: "govuk-link" %>).</p>

          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Other public bodies",
              heading_level: 3,
              margin_bottom: 3,
              font_size: 19,
            } %>

            <p class="govuk-body">These have varying degrees of independence but are directly accountable to ministers. There are 4 types of non-departmental public bodies (NDPBs).</p>

            <p class="govuk-body">Executive NDPBs do work for the government in specific areas - for example, the Environment Agency.</p>

            <p class="govuk-body">Advisory NDPBs provide independent, expert advice to ministers - for example, the Committee on Standards in Public Life.</p>

            <p class="govuk-body">Tribunal NDPBs are part of the justice system and have jurisdiction over a specific area of law - for example, the Competition Appeal Tribunal.</p>

            <p class="govuk-body">Independent monitoring boards are responsible for the running of prisons and treatment of prisoners - for example, Her Majesty's Inspectorate of Prisons.</p>
          </div>
        </div>
      </div>

      <hr class="keyline">

      <div class="thirds-width-section civil-service">
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Civil Service",
              heading_level: 3,
              margin_bottom: 5,
            } %>
          </div>
        </div>
        <div class="two-thirds">
          <div class="inner-block">
            <p class="govuk-body">The Civil Service does the practical and administrative work of government. It is co-ordinated and managed by the Prime Minister, in their role as Minister for the Civil Service.</p>

            <p class="govuk-body">Around half of all civil servants provide services direct to the public, including:</p>

            <%= render "govuk_publishing_components/components/list", {
              visible_counters: true,
              items: [
                "paying benefits and pensions",
                "running employment services",
                "staffing prisons",
                "issuing driving licences",
              ]
            } %>

            <p class="govuk-body">The <%= link_to "Civil Service", "/government/organisations/civil-service", class: "govuk-link" %> is on GOV.UK.</p>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Work for us",
              heading_level: 4,
              margin_bottom: 2,
              font_size: 19,
            } %>

            <p class="govuk-body"><%= link_to "Find and apply", "https://civilservicejobs.service.gov.uk/", class: "govuk-link" %> for vacancies in departments, executive agencies and non-departmental public bodies.</p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Work with us",
              heading_level: 4,
              margin_bottom: 2,
              font_size: 19,
            } %>

            <p class="govuk-body"><%= link_to "Search Contracts Finder", "/contracts-finder/", class: "govuk-link" %> for any government contract over £10,000 and get details of all previous tenders.</p>
          </div>
        </div>
      </div>

      <hr class="keyline">

      <div class="thirds-width-section get-involved">
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Get involved",
              heading_level: 3,
              margin_bottom: 5,
            } %>
          </div>
        </div>

        <div class="two-thirds">
          <div class="inner-block">
            <p class="govuk-body">Read about ways to <%= link_to "get involved", "/government/get-involved/", class: "govuk-link" %>.</p>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Engage with government",
              heading_level: 4,
              margin_bottom: 2,
              font_size: 19,
            } %>

            <p class="govuk-body">Interact with government through <%= link_to "consultations and petitions", "/government/get-involved#engage-with-government", class: "govuk-link" %> to inform and influence the decisions it makes.</p>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Take part",
              heading_level: 4,
              margin_bottom: 2,
              font_size: 19,
            } %>

            <p class="govuk-body"><%= link_to "Offer your skills and energy", "/government/get-involved#take-part", class: "govuk-link" %> to a project in your neighbourhood, around the UK or overseas.</p>
          </div>
        </div>
      </div>

      <hr class="keyline">

      <div class="thirds-width-section legislation">
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Legislation",
              heading_level: 3,
              margin_bottom: 5,
            } %>
          </div>
        </div>
        <div class="two-thirds">
          <div class="inner-block">
            <p class="govuk-body">Laws go through several stages before they are passed by Parliament. The House of Commons and the House of Lords work together to make them.</p>

            <p class="govuk-body">They can include:</p>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Draft legislation",
              heading_level: 4,
              margin_bottom: 2,
              font_size: 19,
            } %>

            <p class="govuk-body">White papers outline proposals for new laws. Green papers ask for public comments before the white paper is published.</p>

            <p class="govuk-body">Bills are proposals for new laws or changes to existing ones. Once agreed by Parliament, they have to be approved by The Queen before becoming law.</p>
          </div>
        </div>

        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Acts of Parliament",
              heading_level: 4,
              margin_bottom: 2,
              font_size: 19,
            } %>

            <p class="govuk-body">These are bills which have been approved by the Commons, the Lords, and The Queen. The relevant government department is responsible for putting the act into practice.</p>

            <p class="govuk-body"><%= link_to "Visit www.legislation.gov.uk", "https://www.legislation.gov.uk", class: "govuk-link", rel: "external" %></p>
          </div>
        </div>
      </div>

      <hr class="keyline">

      <div class="thirds-width-section access-information">
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Access to information",
              heading_level: 3,
              margin_bottom: 5,
            } %>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Freedom of information",
              heading_level: 4,
              margin_bottom: 2,
              font_size: 19,
            } %>

            <p class="govuk-body">The Freedom of Information Act gives you the right to ask any public sector organisation for all the recorded information it has on any subject. Anyone can make a request for information – known as a Freedom of Information (or FOI) request.  There are no restrictions on your age, nationality or where you live.</p>

            <p class="govuk-body"><%= link_to "How to make a freedom of information request", "/make-a-freedom-of-information-request", class: "govuk-link" %></p>

            <p class="govuk-body"><%= link_to "See FOI releases on GOV.UK", publications_filter_path(:publication_filter_option => 'foi-releases'), class: "govuk-link" %></p>

            <%= render "govuk_publishing_components/components/heading", {
              text: "Statistics",
              heading_level: 4,
              margin_bottom: 2,
              font_size: 19,
            } %>

            <p class="govuk-body">Government produces Official Statistics about most areas of public life. Statistics are used by people inside and outside government to make informed decisions and to measure the success of government policies and services. <%= link_to "Find out about the legislation", "/government/statistics/how-national-and-official-statistics-are-assured", class: "govuk-link" %> that governs the publication of UK national and Official Statistics.</p>

            <p class="govuk-body"><%= link_to "See statistics publications on GOV.UK", "/search/research-and-statistics", class: "govuk-link" %></p>

          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Transparency",
              heading_level: 4,
              margin_bottom: 2,
              font_size: 19,
            } %>

            <p class="govuk-body">The government publishes information about how government works to allow you to make politicians, public services and public organisations more accountable. We are committed to publishing information about:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>how much public money has been spent on what</li>
              <li>the job titles of senior civil servants and how much they are paid</li>
              <li>how the government is doing against its objectives</li>
            </ul>

            <p class="govuk-body"><%= link_to 'See transparency releases on GOV.UK', publications_filter_path(:publication_filter_option => 'transparency-data'), class: "govuk-link" %></p>

            <%= render "govuk_publishing_components/components/heading", {
              text: "Data",
              heading_level: 4,
              margin_bott2m: 4,
              font_size: 19,
            } %>

            <p class="govuk-body">Putting data in people’s hands can help them have more of a say in the reform of public services. On <%= link_to "data.gov.uk", "https://data.gov.uk/", class: "govuk-link", rel: "external" %> you can easily find, review and use information about our country and communities - for example, to develop web applications.</p>
          </div>
        </div>
      </div>

      <div class="thirds-width-section gov-types">
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Devolved government",
              heading_level: 3,
              margin_bottom: 5,
            } %>

            <p class="govuk-body">In <%= link_to "Scotland", "https://www.gov.scot/", class: "govuk-link", rel: "external" %>, <%= link_to "Wales", "https://www.gov.wales/", class: "govuk-link", rel: "external" %> and <%= link_to "Northern Ireland", "https://www.northernireland.gov.uk/", class: "govuk-link", rel: "external" %>, devolved administrations are responsible for many domestic policy issues, and their Parliaments/Assemblies have law-making powers for those areas.</p>

            <p class="govuk-body">Areas the Scottish Government, Welsh Government, and the Northern Ireland Executive are responsible for, include:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>health</li>
              <li>education</li>
              <li>culture</li>
              <li>the environment</li>
              <li>transport</li>
            </ul>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Local government",
              heading_level: 3,
              margin_bottom: 5,
            } %>

            <p class="govuk-body">Councils make and carry out decisions on local services. Many parts of England have 2 tiers of local government: county councils and district, borough or city councils.</p>

            <p class="govuk-body">In some parts of the country, there’s just one tier of local government providing all the functions, known as a ‘unitary authority’. This can be a city, borough or county council – or it may just be called ‘council’. As well as these, many areas also have parish or town councils.</p>

            <p class="govuk-body"><%= link_to "Understand how your council works", "/understand-how-your-council-works/types-of-council/", class: "govuk-link" %></p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Parliament",
              heading_level: 3,
              margin_bottom: 5,
            } %>

            <p class="govuk-body">Parliament is separate from government. Made up of the House of Commons and the House of Lords, its role is to:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>look at what the government is doing</li>
              <li>debate issues and pass new laws</li>
              <li>set taxes</li>
            </ul>

            <p class="govuk-body">
              <%= link_to "Find out about how Parliament works", "https://www.parliament.uk/", class: "govuk-link", rel: "external" %>
            </p>

            <p class="govuk-body">Read The Official Report at <%= link_to "Hansard", "http://www.parliament.uk/business/publications/", class: "govuk-link", rel: "external" %></p>
          </div>
        </div>
      </div>

      <%= render "govuk_publishing_components/components/heading", {
        text: "History of government",
        id: "history-uk-government",
        heading_level: 2,
        margin_bottom: 3,
      } %>
      <div class="halves-width-section history">
        <div class="one-half">
          <div class="inner-block">
            <%= image_tag 'how-gov-works/Churchill_01.jpg', alt: 'History of government' %>
          </div>
        </div>
        <div class="one-half">
          <div class="inner-block">
            <p class="govuk-body">Britain has one of the oldest governments in the world. Find out more about how it has worked and who has shaped it in the <%= link_to "history", "/government/history/", class: "govuk-link" %> section.</p>

            <p class="govuk-body">Read about past Prime Ministers, Chancellors and Foreign Secretaries in <%= link_to "notable people", "/government/history#notable-people", class: "govuk-link" %>. Learn more about historic <%= link_to "government buildings", "/government/history#government-buildings", class: "govuk-link" %> on Whitehall and around the UK.</p>

            <p class="govuk-body">You can also find links to <%= link_to "historical research", "/government/history#historical-research", class: "govuk-link" %>, documents and records.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
