<% page_title @attachment.title %>
<% page_class "html-publications-show attachments-preview" %>
<% initialise_script "GOVUK.AttachmentsPreview", el: '.attachments-preview' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-3 govuk-!-margin-top-6">
    <%- @edition.organisations.each do |organisation| %>
      <%= render "govuk_publishing_components/components/organisation_logo", {
        organisation: {
          name: organisation_logo_name(organisation),
          url: organisation.public_path,
          brand: organisation.organisation_brand_colour ? organisation.organisation_brand_colour.class_name : nil,
          crest: organisation.organisation_logo_type.class_name,
        }
      } %>
    <%- end -%>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body"><%= link_to "See more information about #{with_this_determiner(@edition.display_type.downcase)}", @edition.public_url, class: "govuk-link" %></p>
  </div>
</div>

<main role="main" id="content">
  <%= render "govuk_publishing_components/components/inverse_header", {} do %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/title", {
          context: @edition.display_type,
          title: @attachment.title,
          inverse: true,
        } %>

        <p class="govuk-body publication-header__updated">
          <%= published_or_updated(@edition).titlecase %> <%= absolute_date(@edition.public_timestamp, class: 'published-at') %><br />
          <%= link_to @attachment.url(preview: params[:preview]), class: "govuk-link publication-header__download-link" do %>
            <strong><%= t("support.download") %> <%= @attachment.file_extension.upcase %></strong> <%= number_to_human_size(@attachment.file_size) %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <% if @csv_preview %>
        <%= render(partial: 'truncated_message', locals: { csv_preview: @csv_preview, attachment: @attachment }) if @csv_preview.truncated? %>
        <div class="csv-preview">
          <div class="csv-preview__inner">
            <%= render "govuk_publishing_components/components/table", {
              head: @csv_preview.headings.map do |heading|
                {
                  text: heading
                }
              end,
              rows: @csv_preview.rows,
            } %>
          </div>
        </div>
        <%= render(partial: 'truncated_message', locals: { csv_preview: @csv_preview, attachment: @attachment }) if @csv_preview.truncated? %>
      <% else %>
        <p class="govuk-body"> <%= t("attachment.csv.cannot_preview")%> <%= link_to t("attachment.csv.download"), @attachment.url(preview: params[:preview]), class: "govuk-link" %></p>
      <% end %>
    </div>
  </div>
</main>
