<% page_title parent_taxon[:title], "UK and the world" %>

<div class="block world-locations">
  <div class="inner-block">
    <%=
      render(
        partial: 'govuk_component/beta_label',
        locals: {
          message: 'This is a test version of the layout of this page.'
        }
      )
    %>
    <%= render partial: 'govuk_component/breadcrumbs',
      locals: {
        breadcrumbs: [
          {
            title: "Home",
            url: "/",
            is_page_parent: false
          },
          {
            title: "World",
            url: "/government/world",
            is_page_parent: true
          },
          {
            title: @world_location.name,
            is_current_page: true
          }
        ],
        collapse_on_mobile: true
      }
    %>
    <div class="taxon-page">
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="govuk-title length-long">
            <h1>
              <%= parent_taxon[:title] %>
            </h1>
            <p><%= parent_taxon[:description] %></p>
          </div>
        </div>
        <div class="column-one-third">
          <div class="available-languages">
            <ul>
              <% sorted_locales(@world_location.translated_locales).each.with_index do |locale, i| %>
                <li class="translation<%= ' last' if i == @world_location.translated_locales.length-1 %>">
                  <% if locale == I18n.locale %>
                    <span><%= native_language_name_for(locale) %></span>
                  <% else %>
                    <a lang="<%= locale %>" href="/government/world/<%= @world_location.slug %>.<%= locale %>?ABTest-WorldwidePublishingTaxonomy=A">
                      <%= native_language_name_for(locale) %>
                    </a>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="grid-row child-topic-contents">
        <div class="column-two-thirds">
          <div class="topic-content">
            <div data-module="accordion-with-descriptions" class="js-hidden">
              <div class="subsection-wrapper">
                <% b_variant_page_content[:taxonomy].each_with_index do |taxon, section_index| %>
                  <div class="subsection js-subsection" id="<%= taxon[:base_path] %>" data-track-count="accordionSection">
                    <div class="subsection-header js-subsection-header">
                      <h2 class="subsection-title js-subsection-title"><%= taxon[:title] %></h2>
                      <p class="subsection-description"><%= taxon[:description] %></p>
                    </div>
                    <div class="subsection-content js-subsection-content" id="subsection_content_<%= section_index + 1 %>">
                      <ol class="subsection-list">
                        <% taxon[:tagged_content].each_with_index do |content_item, content_index| %>
                          <li class="subsection-list-item">
                            <%= link_to(content_item[:title], content_item[:base_path]) %>
                            <p><%= content_item[:description] %></p>
                          </li>
                        <% end %>
                      </ol>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
