<% page_title "History of the UK government" %>
<% page_class "home-history" %>


<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: "History of the UK&nbsp;government".html_safe } %>
    <p class="intro-paragraph">In this section you can read short biographies of <a href="#notable-people">notable people</a> and explore the history of <a href="#government-buildings">government buildings</a>. You can also search our <a href="#documents-records">online records</a> and read <a href="#articles-and-blog-posts">articles and blog posts</a> by historians.</p>
  </div>
</header>

<div class="block introduction">
  <div class="inner-block floated-children">
    <hr class="keyline">
    <div class="column copy">
      <div class="content">
        <h2>Why is history important?</h2>
        <p class="intro">Governments are remembered for their leaders and the course they set for their country. The British government has a long and fascinating history, and exploring its past can help us understand how it is run today.</p>
        <p>The information here provides a starting point for research. It includes objective factual content and research carried out by independent and civil service historians.</p>
      </div>
    </div>
    <div class="column image">
      <figure class="content">
        <%= image_tag 'history/horse-guards-vintage.jpg', alt: 'Introduction to history of government' %>
        <figcaption>Thomas Shotter Boys &ndash; A View of the Horse Guards from Whitehall. Government Art Collection.</figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="block">
  <div class="inner-block floated-children">
    <hr class="keyline">
    <div class="column">
      <div class="content">
        <%= image_tag 'how-gov-works/Churchill_01.jpg', alt: 'History of government' %>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h2 id="notable-people">Notable people</h2>
        <p>You can find out about the life and achievements of those who have led the government as Prime Minister, alongside those who have held the roles of Chancellor and Foreign Secretary.</p>
        <ul>
          <li><%= link_to 'Prime Ministers', historic_appointments_path('past-prime-ministers') %></li>
          <li><a href="/government/history/past-chancellors">Chancellors</a></li>
          <li><a href="/government/history/past-foreign-secretaries/">Foreign Secretaries</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="block government-buildings">
  <div class="inner-block floated-children">
    <hr class="keyline">
    <div class="column">
      <div class="content">
        <h2 id="government-buildings">Government buildings</h2>
        <p>Number 10 Downing Street is the best known government building, but there are others that  play a role in the day-to-day business of government and have had a significant role in our history.</p>
        <p>You can take learn more about the background and take tours of several of the buildings used by government on Whitehall and around the UK.</p>
        <ul>
          <li><a href="/government/history/10-downing-street">10 Downing Street</a></li>
          <li><a href="/government/history/11-downing-street">11 Downing Street</a></li>
          <li><a href="/government/history/king-charles-street">King Charles Street (FCO)</a></li>
          <li><a href="/government/history/lancaster-house">Lancaster House (FCO)</a></li>
          <li><a href="http://webarchive.nationalarchives.gov.uk/20121109023330/http://www.mod.uk/DefenceInternet/AboutDefence/History/HistoryOfTheOldWarOffice/ModMainBuilding.htm" rel="external">Ministry of Defence, Whitehall</a></li>
          <li><a href="/government/history/1-horse-guards">1 Horse Guards</a></li>
          <li><a href="/hillsborough-castle">Hillsborough Castle</a></li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <%= image_tag 'history/government-buildings.jpg', alt: 'Government buildings' %>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="inner-block floated-children">
    <hr class="keyline">
    <div class="column">
      <div class="content">
        <%= image_tag 'history/historical-documents.jpg', alt: 'Historical documents' %>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h2 id="documents-records">Documents and records</h2>
        <p>The National Archives is preserving UK government information from letters and treaties to web pages Cabinet papers. You can search the archive, or browse the themed collections.</p>
        <p>You can also explore the Government Art Collection online, which contains over 13,500 works of art, mainly from British artists.</p>
        <ul>
          <li><a href="http://www.nationalarchives.gov.uk/webarchive/" rel="external">The National Archives: UK Government Web Archive</a></li>
          <li><a href="http://www.number10.gov.uk/history-and-tour/government-art-collection-at-number-10/" rel="external">Government Art Collection</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="inner-block floated-children">
    <div class="column">
      <hr class="keyline">
      <div class="content" id="articles-and-blog-posts">
        <h2>Articles and blog posts</h2>
        <p>Some government departments, including Number 10 and the Foreign and Commonwealth Office, write or commission articles and research to improve our knowledge of the history of the British government.</p>
        <p>Find out more on the <a href="http://history.blog.gov.uk">history of government blog</a>.</p>
      </div>
    </div>
    <div class="column">
      <hr class="keyline">
      <div class="content">
        <h2>More sources</h2>
        <p>Many institutions in the UK, including universities, museums and libraries, hold information about the history of our government. The following websites may be useful for further research:</p>
        <ul>
          <li><a href="http://www.parliament.uk/about/living-heritage/" rel="external">Parliament - Living Heritage</a></li>
          <li><a href="http://www.bl.uk/" rel="external">The British Library</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
