<% page_title "Specialist guidance" %>
<% page_class "specialist-guides-index" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page-header specialist-guides icon">
      <h1 class="page_title">Specialist guidance</h1>
      <% if params[:group_by] == 'organisations' %>
        <p>
          Grouped by Organisation. View list
          <%= link_to "grouped by Topic", specialist_guides_path %>
        </p>
      <% else %>
        <p>
          Grouped by Topics. View list
          <%= link_to "grouped by Organisation", specialist_guides_path(group_by: 'organisations') %>
        </p>
      <% end %>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <section id="specialist_guides" class="announcements group">
      <% @grouped_published_specialist_guides.each do |group| %>
        <%= content_tag_for(:div, group) do %>
          <h2><%= group.name %></h2>
          <ul>
            <% group.published_specialist_guides.each do |specialist_guide| %>
              <%= content_tag_for(:li, specialist_guide, class: "specialist-guide") do %>
                <%= link_to specialist_guide.title, public_document_path(specialist_guide) %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
