<% page_title "Specialist guidance" %>
<% page_class "specialist-guides-index" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page-header specialist-guides">
      <h1 class="page_title">Specialist guidance</h1>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <div class="filter-block">
      <h2>Filter</h2>
      <%= form_tag specialist_guides_path, method: :get, id: "specialist-guides-filter" do %><%# this ID used by Javascript %>
        <fieldset>
          <legend class="visuallyhidden">Filter specialist guides</legend>
          <div class="filter">
            <div class="filter-inner">
              <%= label_tag "departments", "Department", class: "visuallyhidden" %>
              <%= select_tag :departments, organisation_filter_options(@filter.all_organisations(:specialist_guide), @filter.selected_organisations), size: 5, multiple: true, class: "multi-row-select" %>
            </div>
          </div>
          <div class="filter">
            <div class="filter-inner">
              <%= label_tag "topics", "Topic", class: "visuallyhidden" %>
              <%= select_tag :topics, topic_filter_options(@filter.all_topics, @filter.selected_topics), size: 5, multiple: true, class: "multi-row-select" %>
            </div>
          </div>
          <div class="filter">
            <div class="filter-inner">
              <%= label_tag "keywords", "Contains", class: 'title' %>
              <%= text_field_tag :keywords, @filter.keywords, placeholder: "keywords" %>

              <div class="submit">
                <%= submit_tag "Refresh", class: "button" %>
              </div>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

<div class="block-4">
  <div class="inner-block filter-results" id="specialist-guides-container" aria-live="polite"><%# this ID used by Javascript %>
    <% if @filter.documents.any? %>
      <table class="document-list" id="specialist-guides-list"><%# this ID used by Javascript %>
        <thead class="visuallyhidden">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Topic</th>
          </tr>
        </thead>
        <tbody>
        <% @filter.documents.each do |specialist_guide| %>
          <%= content_tag_for(:tr, specialist_guide, class: "document-row") do %>
            <th scope="row" class="title attribute">
              <%= link_to specialist_guide.title, public_document_path(specialist_guide),
                  title: "View #{specialist_guide.title}" %>
              <em class="meta organisation"><%= specialist_guide.organisations.map { |o|
                organisation_display_name(o) }.to_sentence.html_safe %></em>
            </th>
            <td class="attribute topic">
              <%= specialist_guide.topics.map(&:name).first %>
            </td>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <%= paginate @filter.documents %>
    <% else %>
      <div class="no-results">
        <h2>There are no matching specialist guides.</h2>
        <p>Try making your search broader and try again.</p>
      </div>
    <% end %>
  </div>
</div>
