<% page_title "Search" %>
<% page_class "specialist-guides-search" %>

<div class="block-1">
  <div class="inner-block">
    <%= form_tag search_specialist_guides_path, method: :get, id: 'search-form', class: 'search-form' do %>
      <fieldset>
        <legend class="visuallyhidden">Search gov.uk</legend>
        <%= label_tag :q, results_count_for(@total_results) %>
        <%= text_field_tag :q, @search_term, class: 'search-box' %>
        <%= submit_tag "Search", class: 'button' %>
      </fieldset>
    <% end %>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <% if @total_results > 0 %>
      <aside class="filters group js-search-filter">
        <h2 class="visuallyhidden">Filter by Section</h2>
        <ul>
          <li data-filter="*">
          <a href="#" class="active">All results <span><%= @total_results %></span><span class="visuallyhidden"> results</span></a>
          </li>
          <% if @results.length %>
            <li data-filter="js-section-guidance">
              <a href="#">Specialist guidance <span><%= @results.length %></span><span class="visuallyhidden"> results</span></a>
            </li>
          <% end %>
          <% if @mainstream_results.length %>
            <li data-filter="js-section-mainstream">
              <a href="#">Elsewhere on GOV.UK <span><%= @mainstream_results.length %></span><span class="visuallyhidden"> results</span></a>
            </li>
          <% end %>
        </ul>
      </aside>
    <% end %>
  </div>
</div>

<div class="block-4">
  <div class="inner-block">
    <% if @total_results > 0 %>
      <ul class="search-results">
        <% @results.each do |result| %>
          <li class="result js-search-result js-section-guidance <%= result["format"] %>">
            <h3><%= link_to result["title"], result["link"] %></h3>
            <% if result["highlight"] %>
              <p class="highlight"><%= search_highlight(result["highlight"]) %></p>
            <% end %>
            <span class="meta"><%= result['format'] && result["format"].humanize %></span>
          </li>
        <% end %>
        <% @mainstream_results.each do |result| %>
          <li class="result js-search-result js-section-mainstream <%= result["format"] %>">
            <h3><%= link_to result["title"], result["link"] %></h3>
            <% if result["highlight"] %>
              <p class="highlight"><%= search_highlight(result["highlight"]) %></p>
            <% end %>
            <span class="meta"><%= result['format'] && result["format"].humanize %></span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>We couldn't find any relevent results for you. Try making your search broader and try again</p>
    <% end %>
  </div>
</div>
