<% page_title @document.title, "Specialist guidance" %>
<% page_class "specialist-guides-show" %>

<div class="document_page <%= @document.type.downcase %><%= ' js-paginate-document' if @document.paginate_body %>">
  <div class="block-1">
    <div class="inner-block">
      <%= render partial: "document_metadata" %>
      <section class="page-header">
        <%= render  partial: 'organisations/organisations_logo_list',
                    locals: {
                      organisations: @document.organisations,
                      extra_class: 'single-line',
                      external_links: true,
                      remove_line_breaks: true
                    } %>
        <%= render partial: "title", locals: {
          topics: @topics,
          document: @document
        }%>
        <% if @document.published_related_specialist_guides.any? %>
          <p class="more-like-this"><a href="#more-like-this">more like this</a></p>
        <% end %>
      </section>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <%= render partial: "document_contextual", locals: {edition: @document} %>
      <%= national_statistics_logo(@document) %>
    </div>
  </div>
  <div class="block-3">
    <div class="inner-block">
      <%= render partial: "document_content" %>
    </div>
  </div>
  <div class="block-4">
    <div class="inner-block">
      <% if @document.published_related_specialist_guides.any? %>
        <section id="more-like-this" class="more-like-this">
          <h1>Similar specialist guidance</h1>
          <ul class="related_specialist_guides">
            <% @document.published_related_specialist_guides.each do |specialist_guide| %>
              <%= content_tag_for(:li, specialist_guide) do %>
                <%= link_to specialist_guide.title, public_document_path(specialist_guide), title: "View #{specialist_guide.title}", class: "title" %>
              <% end %>
            <% end %>
          </ul>
        </section>
      <% end %>
    </div>
  </div>
 </div>
