<header class="page-header">
  <%= content_tag :div, class: "worldwide-office-name" do %>
    <%= content_tag :h1 do %>
      <span class="<%= logo_classes(class_name: 'single-identity', size: 'large', stacked: true) %>">
        <span><%= format_with_html_line_breaks(h(worldwide_office.logo_formatted_name)) %></span>
      </span>
    <% end %>
  <% end %>
  <aside class="worldwide-office-social-media-links">
    <div class="social-media">
      <div class="content">
        <%= render 'shared/social_media_accounts', socialable: worldwide_office, followus: true %>
      </div>
    </div>
  </aside>
</header>
