<%= content_tag_for(:div, worldwide_office, :class => 'worldwide-office') do %>
  <div class="worldwide-office-detail">
    <div class="content">
      <% worldwide_office.sponsoring_organisations.each do |organisation| %>
        <%= content_tag_for(:div, organisation, :class => 'sponsoring-organisation') do %>
          <span class="<%= logo_classes(class_name: 'single-identity', size: 'medium', stacked: false) %>">
            <%= organisation.name %>
          </span>
        <% end %>
      <% end %>
      <h2><%= link_to worldwide_office.name, worldwide_office %></h2>
      <p><%= worldwide_office.summary %></p>
      <p><%=  link_to 'Find out more', worldwide_office %></p>
    </div>
  </div>

  <%= render('contacts/contact', contact: worldwide_office.main_contact) if worldwide_office.main_contact.present? %>
<% end %>
