<% page_title @worldwide_organisation.name %>
<% page_class "corporate-information-pages-show-worldwide-organisation" %>

<%= render partial: 'worldwide_organisations/header', locals: { organisation: @worldwide_organisation, link_to_organisation: true, object_for_translation: @worldwide_office } %>
<article class="block article">
  <div class="inner-block floated-children">
    <% headers = govspeak_headers(@worldwide_office.access_and_opening_times_body) %>
    <% if headers.any? %>
      <nav>
        <div class="content">
          <h1 lang="en">Contents</h1>
          <ol>
            <% headers.each do |header| %>
              <li><%= link_to header.text, "##{header.id}" %></li>
            <% end %>
          </ol>
        </div>
      </nav>
    <% end %>
    <div class="main-body">
      <div class="content">
        <h1 class="main"><%= @worldwide_office.title %></h1>

        <div class="contact-us">
          <%= render partial: 'contacts/contact', locals: { contact: @worldwide_office.contact, hide_title: true } %>
        </div>

        <div class="body">
          <%= govspeak_to_html(@worldwide_office.access_and_opening_times_body) %>
        </div>
      </div>
    </div>
  </div>
</article>
