<% page_title @worldwide_office.name %>
<% page_class "worldwide-offices-show" %>

<div class='worldwide-office'>
  <div class="block-1">
    <div class="inner-block">
      <%= render 'header', worldwide_office: @worldwide_office, show_mainstream_links: true %>
    </div>
  </div>

  <div class="block-1">
    <div class="inner-block">
      <section>
        <article class="document">
          <p class="sponsoring-organisations">
            Part of <%= @worldwide_office.sponsoring_organisations.map {|o| link_to(o.name, o, class: "sponsoring-organisation") }.to_sentence.html_safe %>
          </p>

          <div class="summary">
            <div class="content">
              <%= @worldwide_office.summary %>
            </div>
          </div>

          <div class="description">
            <div class="content">
              <%= govspeak_to_html @worldwide_office.description %>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>

  <% if @main_contact %>
    <div class="block-10 vcard">
      <div class="inner-block">
        <section class="contact-wrapper contact-us">
          <h1 class="label">Contact us</h1>
          <div id="org-contacts">
            <%= render @main_contact, is_main: true %>
            <%= render @other_contacts %>
          </div>
        </section>
      </div>
    </div>
  <% end %>
</div>

