<%= form_for [:admin, worldwide_organisation,worldwide_office], html: {class: "form-horizontal"} do |office_form| %>
  <%= office_form.errors %>
  <fieldset class="contact">
    <%= office_form.fields_for(:contact) do |contact_form| %>
      <%= contact_form.text_field :title, horizontal: true %>
      <%= contact_form.text_area :comments, rows: 2, horizontal: true, placeholder: "Optional instructions for this contact e.g. opening hours, rules of use…" %>
      <div class="control-group">
        <%= office_form.label :worldwide_office_type_id, 'Office type', class: "control-label" %>
        <div class="controls">
          <%= office_form.select :worldwide_office_type_id,
              grouped_options_for_select(
                worldwide_office_type_options,
                office_form.object.worldwide_office_type_id || WorldwideOfficeType::Other.id
              ),
              {},
              class: ['chzn-select'],
              data: { placeholder: "Choose office type..." } %>
        </div>
      </div>
      <%= render partial: 'admin/contacts/embed_details_for_form', locals: { contact: office_form.object.contact } %>
      <%= render partial: 'admin/contacts/contact_type_details_form', locals: { contact_form: contact_form } %>
      <div class="control-group">
        <p class="radio-label control-label">Feature on home page?</p>
        <div class="controls">
          <% if worldwide_organisation.is_main_office?(office_form.object) %>
            <p>Yes (as the main office)</p>
          <% else %>
            <%= office_form.labelled_radio_button('yes', :show_on_home_page, '1', checked: worldwide_organisation.office_shown_on_home_page?(office_form.object)) %>
            <%= office_form.labelled_radio_button('no', :show_on_home_page, '0', checked: !worldwide_organisation.office_shown_on_home_page?(office_form.object)) %>
          <% end %>
        </div>
      </div>

      <fieldset class="services">
        <legend>Services</legend>
        <% WorldwideService.all.group_by{|ws| ws.service_type}.each do |service_type, services| %>
          <div class="control-group">
            <p class="control-label"><%= service_type.name %></p>
            <div class="controls">
              <% services.each do |service| %>
                <label class="checkbox">
                  <%= check_box_tag 'worldwide_office[service_ids][]', service.id, office_form.object.services.include?(service) %>
                  <%= service.name %>
                </label>
              <% end %>
            </div>
          </div>
        <% end %>
      </fieldset>

      <%= render partial: 'admin/contacts/form_fields', locals: { contact_form: contact_form } %>
    <% end %>
  </fieldset>

  <%= office_form.save_or_cancel(cancel: admin_worldwide_organisation_path(worldwide_organisation)) %>
<% end %>
