<%= form_for worldwide_office, url: worldwide_office.persisted? ? admin_worldwide_organisation_office_path(worldwide_organisation, worldwide_office) : admin_worldwide_organisation_offices_path(worldwide_organisation), html: {class: "form-horizontal"} do |office_form| %>
  <%= office_form.errors %>
  <fieldset class="contact">
    <%= office_form.fields_for(:contact) do |contact_form| %>
      <%= contact_form.text_field :title, horizontal: true %>
      <%= contact_form.text_area :comments, rows: 2, horizontal: true, placeholder: "Optional instructions for this contact e.g. opening hours, rules of use…" %>

      <fieldset class="services">
        <legend>Services</legend>
        <% WorldwideService.all.group_by{|ws| ws.service_type}.each do |service_type, services| %>
          <div class="control-group">
            <p class="control-label"><%= service_type.name %></p>
            <div class="controls">
              <% services.each do |service| %>
                <label class="checkbox">
                  <%= check_box_tag 'worldwide_office[service_ids][]', service.id, office_form.object.services.include?(service) %>
                  <%= service.name %>
                </label>
              <% end %>
            </div>
          </div>
        <% end %>
      </fieldset>

      <%= render partial: 'admin/contacts/form_fields', locals: { contact_form: contact_form } %>
    <% end %>
  </fieldset>

  <%= office_form.save_or_cancel(cancel: admin_worldwide_organisation_path(worldwide_organisation)) %>
<% end %>