<%= content_tag_for(:tr, worldwide_office) do %>
  <td>
    <% if worldwide_organisation.is_main_office?(worldwide_office) %>
      <strong><%= link_to worldwide_office.title, [:edit, :admin, worldwide_organisation, worldwide_office] %> (Main office)</strong>
    <% else %>
      <%= link_to worldwide_office.title, [:edit, :admin, worldwide_organisation, worldwide_office] %>
    <% end %>
  </td>

  <td>
    [Contact:<%= worldwide_office.contact.id %>]
  </td>

  <td>
    <% if worldwide_organisation.is_main_office?(worldwide_office) %>
      Yes (as main office)
    <% elsif worldwide_organisation.office_shown_on_home_page?(worldwide_office) %>
      Yes
    <% else %>
      No
    <% end %>
  </td>

  <td>
    <% if worldwide_office.access_and_opening_times.present? %>
      Custom info
      <%= link_to 'Edit access info', [:edit, :admin, worldwide_organisation, worldwide_office, :access_and_opening_time], class: 'btn' %>
    <% elsif worldwide_office.default_access_and_opening_times.present? %>
      Using default
      <%= link_to 'Customise access info', [:edit, :admin, worldwide_organisation, worldwide_office, :access_and_opening_time], class: 'btn' %>
    <% else %>
      <%= link_to 'Add custom access info', [:edit, :admin, worldwide_organisation, worldwide_office, :access_and_opening_time], class: 'btn' %>
    <% end %>
  </td>

  <td>
    <%= button_to 'Delete', [:admin, worldwide_organisation, worldwide_office], method: 'delete', class: 'btn btn-small btn-danger', confirm: "Delete office '#{worldwide_office.title}'?" %>

    <% unless worldwide_organisation.is_main_office?(worldwide_office) %>
      <%= button_to 'Set as main office', set_main_office_admin_worldwide_organisation_path(worldwide_organisation, worldwide_organisation: {main_office_id: worldwide_office.id}), method: :put, class: 'btn btn-info' %>
    <% end %>
  </td>
<% end %>
