<% page_title "Worldwide office" %>

<nav class="actions">
  <%= link_to "Create Worldwide office", new_admin_worldwide_office_path, class: "btn new_resource", title: "Create a Worldwide Office" %>
</nav>

<h1>Worldwide offices</h1>

<table class="worldwide_office table table-striped">
  <thead>
    <tr>
      <th width="40%">Name</th>
      <th width="15%">Translations</th>
      <th width="35%">Summary</th>
    </tr>
  </thead>
  <tbody>
    <% @worldwide_offices.each do |worldwide_office| %>
      <%= content_tag_for(:tr, worldwide_office) do %>
        <td class="name">
          <%= link_to worldwide_office.name, admin_worldwide_office_path(worldwide_office), title: "View #{worldwide_office.name}" %><br/>
        </td>
        <td><%= link_to "Manage translations", admin_worldwide_office_translations_path(worldwide_office), title: "Manage translations of #{worldwide_office.name}" %></td>
        <td><%= worldwide_office.summary %></td>
      <% end %>
    <% end %>
    <% if @worldwide_offices.empty? %>
      <tr>
        <td colspan="3">No worldwide offices have been created.</td>
      </tr>
    <% end %>
  </tbody>
</table>
