<% page_title @worldwide_organisation.name %>

<%= content_tag_for(:div, @worldwide_organisation) do %>
  <div class="organisation-header">
    <h1><%= @worldwide_organisation.name %></h1>
    <%= view_on_website_link_for @worldwide_organisation %>
  </div>

  <section class="organisation-details">
    <%= tab_navigation_for(@worldwide_organisation) do %>
      <h2>Offices</h2>
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#manage-all" data-toggle="tab">All</a></li>
          <li><a href="#on-home-page" data-toggle="tab">Order on home page</a></li>
        </ul>
        <div class="tab-content add-top-margin">
          <div class="tab-pane active" id="manage-all">
            <% if @worldwide_organisation.offices.any? %>
              <%= render @worldwide_organisation.offices, worldwide_organisation: @worldwide_organisation %>
            <% else %>
              <p class="no-content no-content-bordered">No offices</p>
            <% end %>

            <div class="form-actions">
              <%= link_to "Add", new_admin_worldwide_organisation_worldwide_office_path(@worldwide_organisation), class: "btn btn-lg btn-primary"%>
            </div>
          </div>

          <div class="tab-pane" id="on-home-page">
            <% if @worldwide_organisation.offices.any? %>
              <h3>Main office</h3>
              <div class="well">
                <%= @worldwide_organisation.main_office.title %> <br/>(always shown first)
              </div>

              <h3>Other offices</h3>
              <p>Drag up and down to re-order then click "Update office list order" at the bottom of the form</p>
              <p class="warning">Warning: changes to offices appear instantly on the live site.</p>
              <%= form_tag [:reorder_for_home_page, :admin, @worldwide_organisation, WorldwideOffice], method: :post do %>
                <fieldset class="sortable">
                  <% @worldwide_organisation.home_page_offices.each.with_index do |office, idx| %>
                    <div class="well">
                      <%= label_tag "ordering-#{office.id}" do %>
                        <%= office.title %>
                      <% end %>

                      <%= text_field_tag "ordering[#{office.id}]", idx, id: "ordering-#{office.id}", class: "ordering" %>
                    </div>
                  <% end %>
                </fieldset>
                <div class="form-actions">
                  <%= submit_tag "Update office list order", class: "btn btn-primary" %>
                </div>
              <% end %>
            <% else %>
              <p>No offices</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
<% end %>
