<% page_title @worldwide_office.name %>

<%= content_tag_for(:div, @worldwide_office) do %>
  <div class="row-fluid organisation-header">
    <div class="span8">
      <h1><%= @worldwide_office.name %></h1>
      <%= link_to "View on website", url_for(@worldwide_office) %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 organisation-details">
      <section>
        <%= worldwide_office_tab_navigation do %>
          <article class="document">
            <p class="sponsoring-organisations">
              Part of <%= @worldwide_office.sponsoring_organisations.map {|o| link_to(o.name, [:admin, o]) }.to_sentence.html_safe %>
            </p>

            <div class="summary">
              <div class="content">
                <%= @worldwide_office.summary %>
              </div>
            </div>

            <div class="body description">
              <div class="content govspeak">
                <%= govspeak_to_html @worldwide_office.description %>
              </div>
            </div>
          </article>
        <% end %>

        <div class="form-actions">
          <%= link_to "Edit", edit_admin_worldwide_office_path(@worldwide_office), class: "btn btn-large btn-primary"%>
        </div>
      </section>
    </div>
  </div>
<% end %>