<% page_title "#{@response.friendly_name.capitalize} for: #{@edition.title}" %>
<% page_class "response" %>

<div class="span8">
  <section>
      <h1><%= @response.friendly_name.capitalize %> for consultation</h1>

    <%= consultation_editing_tabs(@edition) do %>

      <% if @response.persisted? %>
        <div class="summary">
          <h3><%= @response.friendly_name.capitalize %> summary</h3>
          <%= govspeak_to_html @response.summary %>
          <p>Published on <%= @response.published_on.to_s(:long_ordinal) %></p>
        </div>

        <ul class="actions">
          <li><%= link_to "Edit #{@response.friendly_name}", [:edit, :admin, @edition, @response.singular_routing_symbol] %></li>
        </ul>

        <h3>Attachments (optional)</h3>
        <ul class="actions">
          <li><%= link_to 'Upload new attachment', new_admin_response_attachment_path(@response) %></li>
        </ul>
        <%= render('admin/attachments/attachments', attachable: @response) if @response.attachments.any? %>

      <% else %>
        <p class="alert alert-info">
          <%= consulation_response_help_text(@response) %>
        </p>

        <%= render partial: 'form', locals: { consultation: @edition, consultation_response: @response } %>
      <% end %>
    <% end %>
  </section>
</div>

<% unless @response.persisted? %>
  <div class="span4">
    <%= render partial: "admin/editions/govspeak_help", 
    locals: { hide_inline_attachments_help: !@edition.allows_inline_attachments?, show_attachments_tab_help: true } %>
  </div>
<% end %>