<% page_title "Response for: #{@edition.title}" %>
<% page_class "response" %>

<div class="span8">
  <section>
    <h1>Responses for <%= @edition.title %></h1>

    <%= consultation_editing_tabs(@edition) do %>

      <% if @response %>
        <div class="summary">
          <h2>Response summary</h2>
          <%= govspeak_to_html @response.summary %>
        </div>
      <% end %>

      <ul class="actions">
        <% if @response %>
          <li><%= link_to 'Upload new attachment', new_admin_response_attachment_path(@response) %></li>
          <li><%= link_to 'Edit response', edit_admin_consultation_response_path(@edition) %></li>
        <% else %>
          <li><%= link_to 'Add a response', new_admin_consultation_response_path(@edition) %></li>
        <% end %>
      </ul>

      <%= render('admin/attachments/attachments', attachable: @response) if @response && @response.attachments.any? %>
    <% end %>
  </section>
</div>
