<% page_title @html_version.title %>
<% page_class "html-publications-show" %>

<div class="block publication-external">
  <div class="inner-block floated-children">
    <ul class="organisations-icon-list organisations">
      <% @document.organisations.each do |organisation| %>
        <%= content_tag_for(:li, organisation, class: organisation.slug) do %>
          <%= link_to organisation_path(organisation),
                      class: logo_classes(class_name: organisation.organisation_logo_type.class_name, size: 'medium', stacked: true) do %>
            <span><%= organisation.logo_formatted_name %></span>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <div class="return">
      <p><%= link_to "See more information about this publication", public_document_path(@document) %></p>
    </div>
  </div>
</div>
<header class="publication-header" id="contents">
  <div class="inner-block floated-children">
    <div class="headings">
      <h1>
        <%= content_tag(:span, @document.display_type, class: 'document-type') %>
        <%= @html_version.title %>
      </h1>
      <p><%= published_or_updated(@document).titlecase %> <%= absolute_date(@document.public_timestamp, class: 'published-at') %></p>
    </div>
    <nav class="in-page-navigation">
      <h2>Contents</h2>
      <ol>
        <% govspeak_headers(@html_version.body).each do |header| %>
          <li><%= link_to header.text, "##{header.id}" %></li>
        <% end %>
      </ol>
    </nav>
  </div>
</header>
<div class="block publication-content">
  <div class="inner-block floated-children">
    <%= govspeak_to_html @html_version.body, @document.images, numbered_heading_level: ['h2','h3'] %>
  </div>
</div>
<div class="js-back-to-content back-to-content">
  <a href="#contents">Contents</a>
</div>
<div class="js-back-to-content-stop"></div>
