<% page_title @document.title %>
<% page_class "html-publications-show" %>

<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <section class="page-header js-hide-extra-logos">
        <ul class="organisations-icon-list">
          <% @document.organisations.each do |organisation| %>
            <%= content_tag_for(:li, organisation, class: organisation.slug) do %>
              <%= link_to organisation_path(organisation),
                          class: logo_classes(class_name: organisation.organisation_logo_type.class_name, size: 'medium') do %>
                <span><%= organisation.logo_formatted_name %></span>
              <% end %>
            <% end %>
          <% end %>
        </ul>
        <h1 class="page_title has_meta"><%= @document.title %></h1>
        <div class="page-meta">
          <p class="summary"><%= link_to 'Back to publication page', public_document_path(@document) %></p>
        </div>
      </section>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <article class="document">
        <div class="body govspeak">
          <%= bare_govspeak_to_html @html_version.body, [] %>
        </div>
      </article>
    </div>
  </div>
</div>
