<% prefix = "call_for_evidence_#{call_for_evidence_response.singular_routing_symbol}" %>

<%= form_for [:admin, call_for_evidence, call_for_evidence_response], url: [:admin, call_for_evidence, call_for_evidence_response.singular_routing_symbol] do |form| %>

  <%= render "components/datetime_fields", {
    fieldset_legend: "Published on (required)",
    prefix: prefix,
    field_name: "published_on",
    date_only: true,
    error_items: errors_for(call_for_evidence_response.errors, :published_on),
    year: {
      value: params.dig("#{prefix}", "published_on(1i)") || call_for_evidence_response.published_on&.year,
      id: "#{prefix}_published_on_1i",
      name: "#{prefix}[published_on(1i)]",
      label: "Year",
      width: 4,
    },
    month: {
      value: params.dig("#{prefix}", "published_on(2i)") || call_for_evidence_response.published_on&.month,
      id: "#{prefix}_published_on_2i",
      name: "#{prefix}[published_on(2i)]",
      label: "Month",
      width: 2,
    },
    day: {
      value: params.dig("#{prefix}", "published_on(3i)") || call_for_evidence_response.published_on&.day,
      id: "#{prefix}_published_on_3i",
      name: "#{prefix}[published_on(3i)]",
      label: "Day",
      width: 2,
    },
  } %>

  <%= render "components/govspeak_editor", {
    label: {
      heading_size: "l",
      text: "Summary (required)",
    },
    name: "call_for_evidence_#{call_for_evidence_response.singular_routing_symbol}[summary]",
    rows: 20,
    id: "call_for_evidence_#{call_for_evidence_response.singular_routing_symbol}_summary",
    value: call_for_evidence_response.summary,
    error_items: errors_for(form.object.errors, :summary),
    data_attributes: {
      alternative_format_provider_id: @edition && @edition.alternative_format_provider_id ? @edition.alternative_format_provider_id : current_user.organisation.try(:id),
    },
  } %>

  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", { text: "Save" } %>

    <%= link_to("Cancel", "#{admin_edition_path(call_for_evidence)}/#{call_for_evidence_response.singular_routing_symbol.to_s}", class: "govuk-link govuk-link--no-visited-state") %>
  </div>
<% end %>
