<% page_title "Email alert subscription" %>
<% page_class "email-signup-show" %>

<header class="block email-header">
  <div class="inner-block">
    <h1>Email alert subscription</h1>
    <h2>Use the filters to subscribe to email alerts</h2>
    <p>(You can subscribe to multiple alerts by clicking &lsquo;Add another alert&rsquo;)</p>
  </div>
</header>

<div class="block">
  <div class="inner-block">
    <%= form_for @email_signup, html: { class: "signup-form js-email-signup" } do |form| %>
      <% form.object.alerts.each do |alert| %>
        <fieldset class="notification">
          <div class="fieldset-inner">
            <%= form.fields_for :alerts, alert, index: nil do |alert_form| %>
              <div class="field"><div class="field-inner">
                <%= alert_form.label :content_type, 'I want' %>
                <%= alert_form.select :content_type, document_type_options_for_email_signup %>
              </div></div>
              <div class="field"><div class="field-inner">
                <%= alert_form.label :topic, 'about' %>
                <%= alert_form.select :topic, topic_options_for_email_signup %>
              </div></div>
              <div class="field"><div class="field-inner">
                <%= alert_form.label :organisation, 'by' %>
                <%= alert_form.select :organisation, organisation_options_for_email_signup %>
              </div></div>
              <div class="field info4local"><div class="field-inner">
                <%= alert_form.check_box :info_for_local, label_text: ' Only include results relevant to local government' %>
                <p>This replaces info4local</p>
              </div></div>
            <% end %>
          </div>
        </fieldset>
      <% end %>
      <div class="duplicate-fields">
        <%= submit_tag 'Add another alert', name: 'duplicate', class: 'js-duplicate' %>
      </div>

      <div class="submit">
        <%= button_tag 'Create subscription' %>
        <p>You can enter your email address on the next page to complete the subscription</p>
      </div>
    <% end %>
  </div>
</div>


