<% page_title "Email alert subscription" %>
<% page_class "email-signup-show" %>

<header class="block email-header">
  <div class="inner-block">
    <h1>Email alert subscription</h1>
    <h2>Use the filters to subscribe to email alerts</h2>
    <p>(You can subscribe to multiple alerts by clicking &lsquo;Add another alert&rsquo;)</p>
  </div>
</header>

<div class="block">
  <div class="inner-block">
    <%= form_for @email_signup, html: { class: "signup-form js-email-signup" } do |form| %>
      <fieldset class="notification">
        <div class="fieldset-inner">
          <div class="field"><div class="field-inner">
            <label for="content-types">I want</label>
            <select id="content-types" name="content_type">
              <option>all types of document</option>
              <%= document_type_filter_options %>
            </select>
          </div></div>
          <div class="field"><div class="field-inner">
            <label for="topics">about</label>
            <select id="topics" name="topics">
              <%= options_for_select([['any topic', 'all']] + @classifications.map { |o| [o.name, o.slug] }) %>
            </select>
          </div></div>
          <div class="field"><div class="field-inner">
            <label for="organisation">by</label>
            <select id="organisation" name="organisation">
              <option value="all">all organisations</option>
              <optgroup label="Ministerial departments">
                <%= options_for_select(@live_ministerial_departments.map { |o| [o.name, o.slug] }) %>
              </optgroup>
              <optgroup label="Other departments &amp; public bodies">
                <%= options_for_select(@live_other_departments.map { |o| [o.name, o.slug] }) %>
              </optgroup>
            </select>
          </div></div>
          <div class="field info4local"><div class="field-inner">
            <label for="info-for-local"><input type="checkbox" name="info-for-local" id="info-for-local"> Only include results relevant to local government</label>
            <p>This replaces info4local</p>
          </div></div>
        </div>
      </fieldset>
      <div class="duplicate-fields">
        <%= submit_tag 'Add another alert', name: 'duplicate', class: 'js-duplicate' %>
      </div>

      <div class="submit">
        <%= button_tag 'Create subscription' %>
        <p>You can enter your email address on the next page to complete the subscription</p>
      </div>
    <% end %>
  </div>
</div>


