<% page_title @policy_team.name, "Policy teams" %>
<%= content_tag_for(:div, @policy_team, :class => "policy-teams") do %>
  <div class="block-1">
    <div class="inner-block">
      <section class="page-header">
        <h1><%= @policy_team.name %></h1>
      </section>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <section class="contextual-info js-stick-at-top-when-scrolling">
        <h1>Contents</h1>
        <nav class="policy-parts" role="navigation">
          <% if govspeak_headers(@policy_team.description).any? %>
            <ol id="document_sections">
              <% govspeak_headers(@policy_team.description).each do |header| %>
                <li><%= link_to header.text, "##{header.id}" %></li>
              <% end %>
              <% if @policies.any? %>
                <li><%= link_to 'Policies', '#policies' %></li>
              <% end %>
              <% if @policy_team.email %>
                <li><%= link_to 'Contact Details', '#contact-details' %></li>
              <% end %>
            </ol>
          <% end %>
        </nav>
      </section>
    </div>
  </div>
  <div class="block-3">
    <div class="inner-block">
      <% if @policy_team.description.present? %>
        <div class="description">
          <%= govspeak_to_html @policy_team.description %>
        </div>
      <% end %>
      <% if @policies.any? %>
        <h2 class="label" id="policies">Policies</h2>
        <ul class="policies">
          <% @policies.each do |policy| %>
            <%= content_tag_for :li, policy do %>
              <% link_to policy.title, public_document_path(policy) %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <h2 class="label" id="contact-details">Contact details</h2>
      <p class="email"><%= mail_to @policy_team.email, @policy_team.email %></p>
    </div>
  </div>
<% end %>
