<%
  clear_class = if local_assigns.include?(:contact_counter) and contact_counter % 3 == 0
    " clear-contact"
  else
    ""
  end
%>
<%= content_tag_for(:div, contact, class: "#{'main' if local_assigns[:is_main]}#{clear_class}") do %>
  <div class="content">
    <h2><%= contact.title %></h2>

    <% if contact.comments.present? %>
      <p class="comments"><%= format_with_html_line_breaks(h(contact.comments)) %></p>
    <% end %>

    <% if contact.has_postal_address? %>
      <div class="contact-inner">
        <%= render_hcard(contact) %>
      </div>
    <% end %>

    <% if contact.email.present? || contact.contact_form_url.present? || contact.contact_numbers.any? %>
      <div class="email-url-number">
        <% if contact.email.present? %>
          <p class="email">
            <span class="type">Email</span>
            <%= mail_to contact.email, contact.email, class: 'email' %>
          </p>
        <% end %>
        <% if contact.contact_form_url.present? %>
          <p class="contact_form_url">
            <span class="type">Contact form</span>
            <%= link_to contact.contact_form_url.truncate(25), contact.contact_form_url %>
          </p>
        <% end %>
        <% contact.contact_numbers.each do |number| %>
          <p class="tel">
            <span class="type"><%= number.label %></span>
            <%= number.number %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
