<%
  heading_tag ||= 'h2'
  extra_class = []
  if local_assigns.include?(:contact_counter) and contact_counter % 3 == 0
    extra_class << "clear-contact"
  end
  extra_class << 'main' if local_assigns[:is_main]
  extra_class << 'contact' unless contact.is_a? Contact
  extra_class << 'postal-address' if contact.has_postal_address?
%>
<%= content_tag_for(:div, contact, class: extra_class.join(' ')) do %>
  <div class="content">
    <% unless local_assigns[:hide_title] %><%= content_tag heading_tag, contact.title %><% end %>

    <div class="vcard contact-inner">
      <% if contact.has_postal_address? %>
        <%= render_hcard_address(contact) %>
      <% end %>

      <% if contact.email.present? || contact.contact_form_url.present? || contact.contact_numbers.any? %>
        <div class="email-url-number">
          <% if contact.email.present? %>
            <p class="email">
              <span class="type"><%= t('contact.email') %></span>
              <%= mail_to contact.email, contact.email, class: 'email' %>
            </p>
          <% end %>
          <% if contact.contact_form_url.present? %>
            <p class="contact_form_url">
              <span class="type"><%= t('contact.contact_form') %></span>
              <%= link_to contact.contact_form_url.truncate(25), contact.contact_form_url %>
            </p>
          <% end %>
          <% contact.contact_numbers.each do |number| %>
            <p class="tel">
              <span class="type"><%= number.label %></span>
              <%= number.number %>
            </p>
          <% end %>
        </div>
      <% end %>

      <% if contact.comments.present? %>
        <p class="comments"><%= format_with_html_line_breaks(h(contact.comments)) %></p>
      <% end %>

      <% if contact.is_a?(WorldwideOffice) && contact.access_and_opening_times_body.present? %>
        <%= link_to'Access and opening times', [contact.worldwide_organisation, contact] %>
      <% end %>
    </div>
  </div>
<% end %>
