<%= content_tag_for(:div, contact, class: "contact-section", lang: local_assigns[:lang] ? lang : nil) do %>
  <% unless local_assigns[:hide_title] %>
    <%= render "govuk_publishing_components/components/heading", {
      text: contact.title,
      heading_level: 3,
      font_size: "s",
      margin_bottom: 2,
    } %>
  <% end %>

  <div class="govuk-grid-row">
    <% if contact.has_postal_address? %>
      <address class="govuk-body govuk-grid-column-one-third contact-section__address">
        <%= render_hcard_address(contact) %>
      </address>
    <% end %>

    <% if contact.email.present? || contact.contact_form_url.present? || contact.contact_numbers.any? %>
      <div class="govuk-grid-column-one-third">
        <% if contact.email.present? %>
          <p class="govuk-body govuk-!-margin-bottom-4">
            <%= t('contact.email') %><br />
            <%= mail_to contact.email, contact.email, class: "govuk-link" %>
          </p>
        <% end %>

        <% if contact.contact_form_url.present? %>
          <p class="govuk-body govuk-!-margin-bottom-4">
            <%= t('contact.contact_form') %><br />
            <%= link_to contact.contact_form_url.truncate(25), contact.contact_form_url, class: "govuk-link" %>
          </p>
        <% end %>

        <% contact.contact_numbers.each do |number| %>
          <p class="govuk-body govuk-!-margin-bottom-4">
            <%= number.label %> <br />
            <span dir="ltr"><%= number.number %></span>
          </p>
        <% end %>
      </div>
    <% end %>

    <% if contact.comments.present? %>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body"><%= auto_link(format_with_html_line_breaks(h(contact.comments)), html: { class: "govuk-link" }) %></p>
      </div>
    <% end %>
  </div>

  <% if contact.is_a?(WorldwideOffice) && contact.access_and_opening_times.present? %>
    <%
      fallback = t_fallback('contact.access_and_opening_times')
      lang = fallback if fallback && fallback != I18n.locale
    %>
    <%= link_to t('contact.access_and_opening_times'), [contact.worldwide_organisation, contact], class: "govuk-link", lang: lang %>
  <% end %>
<% end %>
