<%= render "govuk_publishing_components/components/heading", {
  text: "Currently featured",
} %>

<%= render "govuk_publishing_components/components/inset_text", {
  text: "You can feature up to #{maximum_featured_documents} pages.",
} %>

<% if featured.many? %>
  <p class="govuk-body">
    <%= link_to "Reorder pages", reorder_path, class: "govuk-link" %>
  </p>
<% end %>

<% if featured.present? %>
  <div class="app-view-features__table govuk-!-margin-bottom-8">
    <%= table(nil, live) %>
  </div>
<% else %>
  <p class="govuk-body">
    There are currently no featured pages.
  </p>
<% end %>

<% if remaining.present? %>
  <div class="app-view-features__table">
    <%= table(pluralize(remaining.count, "remaining featured page"), remaining) %>
  </div>
<% end %>
