<% unless attachment.accessible? %>
  <div class="accessibility-warning">
    <% help_block_id = "attachment-#{attachment.id}-accessibility-help" %>
    <strong>This file may not be accessible,
      <%= link_to "request an accessible version", "##{help_block_id}", role: "aria-describedby", :class => "help-request" %>.
    </strong>
    <%= content_tag :div, id: help_block_id, :class => "help-block" do %>
      <p>To request this document in an alternative format such as braille or audio please email 
        <%= alternative_format_order_link attachment, alternative_format_contact_email %>
        quoting the title ("<%= attachment.title %>") 
        <% if attachment.isbn.present? || attachment.unique_reference.present? || attachment.command_paper_number.present? %>
          and product code/ISBN (
            <% if attachment.isbn.present? %> 
              ISBN: <%= attachment.isbn %>
            <% end %>
            <% if attachment.unique_reference.present? %> 
              Unique reference: <%= attachment.unique_reference %>
            <% end %>
            <% if attachment.command_paper_number.present? %> 
              Command paper number: <%= attachment.command_paper_number %>
            <% end %>
          ) 
        <% end %>
        of the publication, and your address and telephone number.
      </p>
    <% end %>
  </div>
<% end %>
