<%
  extra_description ||= ""
  published_on ||= ""
  help_block_id = "attachment-#{attachment.id}-accessibility-help"
  if attachment.accessible?
    attachment_link_options = {}
  else
    attachment_link_options = { "aria-describedby" => help_block_id }
  end
%>
<%= content_tag_for(:section, attachment, class: "embedded") do %>
  <div class="attachment-thumb">
    <%= link_to attachment.url, attachment_link_options.merge({ class: 'thumbnail' }) do %>
      <%= attachment_thumbnail(attachment) unless defined?(hide_thumbnail) && hide_thumbnail %>
    <% end %>
  </div>
  <div class="attachment-details">
    <h3 class="title"><%= link_to attachment.title, attachment.url, attachment_link_options %></h3>
    <% unless extra_description.empty? %>
      <p class="extra-description"><%= extra_description %></p>
    <% end %>
    <p class="metadata">
      <% if attachment.isbn.present? or attachment.unique_reference.present? or attachment.command_paper_number.present? or attachment.hoc_paper_number.present? %>
        <span class="references">
          <%= t('attachment.headings.reference') %>: <%= attachment_reference(attachment) %>
        </span>
      <% end %>
      <% if attachment.unnumbered_command_paper? || attachment.unnumbered_hoc_paper? %>
        <span class="unnumbered-paper">
          <% if attachment.unnumbered_command_paper? %>
            <%= t('attachment.headings.unnumbered_command_paper') %>
          <% else %>
            <%= t('attachment.headings.unnumbered_hoc_paper') %>
          <% end %>
        </span>
      <% end %>
      <% unless published_on.blank? %>
        <span class="changed"><%= t('attachment.headings.published') %>: <%= absolute_date(published_on) %></span>
      <% end %>
      <%= attachment_attributes(attachment) %>
    </p>
    <% if attachment.order_url.present? %>
      <p>
        <%= link_to t('attachment.headings.order_a_copy'), attachment.order_url,
            class: "order_url", title: t('attachment.headings.order_a_copy_full') %>
        <% if attachment.price %>
          (<span class="price"><%= number_to_currency(attachment.price, unit: "&pound;") %></span>)
        <% end %>
      </p>
    <% end %>
    <% unless attachment.accessible? %>
      <div class="accessibility-warning js-toggle-accessibility-warning" id="<%= help_block_id %>">
        <h3><%= t('attachment.accessibility.heading') %>
          <span class="toggler"><%= t('attachment.accessibility.request_a_different_format') %></span>
        </h3>
        <p class="help-block">
          <%= t('attachment.accessibility.full_help_html',
                email: alternative_format_order_link(attachment, alternative_format_contact_email),
                title: attachment.title,
                references: attachment_references(attachment)) %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
