<%
  published_on ||= ""
  help_block_id = "attachment-#{attachment.id}-accessibility-help"
  thumbnail_link_options = { "aria-hidden" => true, class: 'thumbnail', tabindex: '-1'}

  title_link_options = {}
  title_link_options['rel'] = 'external' if attachment.external?
  title_link_options["aria-describedby"] = help_block_id unless attachment.accessible?
  title_link_options["class"] = "govuk-link"

  # This partial is rendered when sending to the publishing-api, so needs to
  # work outside of a request/controller context. The preview param, which exists
  # to bust cache and view a specific edition, isn't applicable when publishing
  # to publishing-api.
  preview = controller.nil? ? nil : params[:preview]
%>
<%= content_tag_for(:section, attachment.becomes(Attachment), class: attachment.external? ? "hosted-externally" : "embedded") do %>
  <div class="attachment-thumb">
    <% unless defined?(hide_thumbnail) && hide_thumbnail %>
      <%= link_to_unless previewable?(attachment), attachment_thumbnail(attachment), attachment.url(preview: preview), thumbnail_link_options %>
    <% end %>
  </div>
  <div class="attachment-details">
    <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><%= link_to_unless previewable?(attachment), attachment.title, attachment.url(preview: preview), title_link_options %></h3>
    <p class="govuk-body metadata">
      <% if attachment.isbn.present? or attachment.unique_reference.present? or attachment.command_paper_number.present? or attachment.hoc_paper_number.present? %>
        <span class="references">
          <%= t('attachment.headings.reference') %>: <%= attachment_reference(attachment) %>
        </span>
      <% end %>
      <% if attachment.unnumbered_command_paper? || attachment.unnumbered_hoc_paper? %>
        <span class="unnumbered-paper">
          <% if attachment.unnumbered_command_paper? %>
            <%= t('attachment.headings.unnumbered_command_paper') %>
          <% else %>
            <%= t('attachment.headings.unnumbered_hoc_paper') %>
          <% end %>
        </span>
      <% end %>
      <% unless published_on.blank? %>
        <span class="changed"><%= t('attachment.headings.published') %>: <%= absolute_date(published_on) %></span>
      <% end %>
      <% if previewable?(attachment) %>
        <span class="preview">
          <strong>
            <%= link_to "View online", preview_path_for_attachment(attachment), class: "govuk-link" %>
          </strong>
        </span>
        <span class="download">
          <%= link_to attachment.url(preview: preview), class: "govuk-link" do %>
            <strong><%= t("support.download") %> <%= attachment.file_extension.upcase %></strong>
            <%= number_to_human_size(attachment.file_size) %>
          <% end %>
        </span>
      <% else %>
        <%= attachment_attributes(attachment) %>
      <% end %>
    </p>
    <% if attachment.is_official_document? %>
      <%= link_to t('attachment.headings.order_a_copy'), "#{Plek.website_root}/guidance/how-to-buy-printed-copies-of-official-documents",
            class: "govuk-link order_url", title: t('attachment.headings.order_a_copy_full') %>
    <% end %>

    <% if attachment.opendocument? %>
      <p class="govuk-body opendocument-help">
        <%= t('attachment.opendocument.help_html') %>
      </p>
    <% end %>

    <% unless attachment.accessible? %>
      <div data-module="toggle" class="accessibility-warning" id="<%= help_block_id %>">
        <p class="govuk-body"><%= t('attachment.accessibility.intro') %></p>
        <%= render "govuk_publishing_components/components/details", {
          title: t('attachment.accessibility.request_a_different_format'),
          data_attributes: {
            track_category: "Accessible Format Request",
            track_action: "FormatRequestClicked",
            track_label: attachment.title,
            module: "govuk-details"
          }
        } do %>
          <%= t('attachment.accessibility.full_help_html',
          email: alternative_format_order_link(attachment, alternative_format_contact_email),
          title: attachment.title,
          references: attachment_references(attachment)) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
