<h3 class='document-type'><%= humanized_content_type(attachment.file_extension) %></h3>
<span class='document-size'>
  <%= number_to_human_size(attachment.file_size)%><% if attachment.number_of_pages.present? %>, <%= pluralize(attachment.number_of_pages, 'page')%><% end %>
</span>

<% if attachment.opendocument? %>
  <p class="opendocument-help">
    <%= t('attachment.opendocument.help_html') %>
  </p>
<% end %>

<% unless attachment.accessible? %>
  <div class="accessibility-warning js-toggle-accessibility-warning" id="<%= help_block_id %>">
    <h2><%= t('attachment.accessibility.heading') %>
      <span class="toggler"><%= t('attachment.accessibility.request_a_different_format') %></span>
    </h2>
    <p class="help-block">
      <%= t('attachment.accessibility.full_help_html',
        email: alertnative_order_email,
        title: attachment.title,
        references: attachment_references(attachment)) %>
    </p>
  </div>
<% end %>
