<% raise "alternative_format_contact_email not defined" unless defined?(alternative_format_contact_email) %>
<%= content_tag_for(:div, attachment, class: "embedded") do %>
  <%= link_to(attachment.url, class: "title download") do %>
    <% if attachment.pdf? %>
      <%= image_tag(attachment.url(:thumbnail), alt: "") %>
    <% else %>
      <%= image_tag('pub-cover.png', alt: "") %>
    <% end %>
    <%= attachment.title %>
  <% end %>
  <p>
    <span class="type"><%= humanized_content_type(attachment.file_extension) %></span>,
    <span class="file-size"><%= number_to_human_size(attachment.file_size) %></span><% if attachment.number_of_pages.present? %>,
      <span class="page-length"><%= pluralize(attachment.number_of_pages, "page") %></span><% end %>
  </p>
  <p>
    <% if attachment.isbn.present? or attachment.unique_reference.present? or attachment.command_paper_number.present? %>
      Ref:
    <% end %>
    <%= attachment_reference(attachment) %>
  </p>
  <% if attachment.order_url.present? %>
    <p>
      <%= link_to "Order a copy", attachment.order_url,
          class: "order_url", title: "Order a copy of the publication" %>
      <% if attachment.price %>
        (<span class="price"><%= number_to_currency(attachment.price, unit: "&pound;") %></span>)
      <% end %>
    </p>
  <% end %>
  <%= link_to 'Download attachment', attachment.url, class: "download-button" %>
  <%= render partial: 'documents/attachment_accessibility_warning.html.erb', locals: {attachment: attachment, alternative_format_contact_email: alternative_format_contact_email} %>
<% end %>
