<dt class="change-notes-title"><%= t('change_notes.page_history') %>:</dt>
<% if document.pre_publication? %>
  <dd>Preview</dd>
<% else %>
  <% history = document.change_history %>
  <% if history.newly_published? %>
    <dd class="change-notes"><%= t('change_notes.published_at', date: absolute_date(history.most_recent_change, class: 'published-at')).html_safe %></dd>
  <% else %>
    <dd class="js-toggle-change-notes change-notes">
      <%= t('change_notes.updated_at', date: absolute_date(history.most_recent_change, class: 'published-at')).html_safe %>
      <div class="overlay js-hidden" id="change-notes">
        <dl>
          <% history.each do |change| %>
            <dt class="note"><%= change.note %></dt>
            <dd class="time"><%= absolute_time(change.public_timestamp, class: 'published-at') %></dd>
          <% end %>
        </dl>
      </div>
    </dd>
  <% end %>
<% end %>
