<% unless defined?(filters); filters = []; end %>
<% document_type_plural = document_type.to_s.pluralize %>
<div class="filter-block">
  <h2><%= t('document_filters.description').html_safe %></h2>
  <form method="get" action="<%= send(:"#{document_type_plural}_path") %>" id="document-filter" class="js-document-filter">
    <fieldset>
      <legend class="visuallyhidden">Filter <%= document_type_plural %></legend>

      <% if filters.include? :keyword %>
        <div class="filter" id="keyword-filter">
          <div class="filter-inner">
            <%= label_tag "keywords", "Contains", class: 'title' %>
            <%= text_field_tag :keywords, @filter.keywords, placeholder: "keywords" %>
          </div>
        </div>
      <% end %>

      <% if filters.include? :publication_type %>
        <div class="filter" id="publication-type-filter">
          <div class="filter-inner">
            <div class="publication-type">
              <%= label_tag "publication_filter_option", "Publication type", class: "title" %>
              <%= select_tag :publication_filter_option, publication_type_filter_options(@filter.selected_publication_filter_option), class: "single-row-select" %>
            </div>
          </div>
        </div>
      <% end %>

      <% if filters.include? :announcement_type %>
        <div class="filter" id="announcement-type-filter">
          <div class="filter-inner">
            <div class="announcement-type">
              <%= label_tag "announcement_filter_option", "Announcement type", class: "title" %>
              <%= select_tag :announcement_filter_option, announcement_type_filter_options(@filter.selected_announcement_filter_option), class: "single-row-select" %>
            </div>
          </div>
        </div>
      <% end %>

      <% if filters.include? :topic %>
        <div class="filter" id="topic-filter">
          <div class="filter-inner">
            <%= label_tag "topics", "Topic" %>
            <%= select_tag "topics[]", topic_filter_options(@filter.selected_topics), class: "single-row-select", id: "topics" %>
          </div>
        </div>
      <% end %>

      <% if filters.include? :department %>
        <div class="filter" id="department-filter">
          <div class="filter-inner">
            <%= label_tag "departments", "Department" %>
            <%= select_tag "departments[]", organisation_filter_options(@filter.selected_organisations), class: "single-row-select", id: "departments" %>
          </div>
        </div>
      <% end %>

      <% if filters.include? :official_document_status %>
        <div class="filter" id="official-document-status-articles-filter">
          <div class="filter-inner">
            <%= label_tag :official_document_status, "Official document status" %>
            <%= select_tag :official_document_status, official_document_status_filter_options(@filter.selected_official_document_status), class: "single-row-select" %>
          </div>
        </div>
      <% end %>

      <% if Whitehall.world_feature? %>
        <% if filters.include? :locations %>
          <div class="filter" id="location-filter">
            <div class="filter-inner">
              <div class="publication-type">
                <%= label_tag "world_locations", t('document_filters.world_locations.label'), class: "title" %>
                <%= select_tag "world_locations[]", locations_options(document_type, @filter.selected_locations), class: "single-row-select", id: "world_locations" %>
              </div>
            </div>
          </div>
        <% end %>

        <% if filters.include? :include_world_location_news %>
          <div class="filter" id="include-world-location-news-articles-filter">
            <div class="filter-inner checkbox">
              <%= label_tag "include_world_location_news", "Include local news from UK embassies and other world organisations" %>
              <%= check_box_tag :include_world_location_news, '1', @filter.include_world_location_news %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if filters.include? :date %>
        <div class="filter" id="date-range-filter">
          <div class="filter-inner">
            <%= label_tag "from_date", "Published after" %>
            <%= text_field_tag :from_date, @filter.date_from, placeholder: "e.g. 01/01/2013" %>
            <%= label_tag "to_date", "Published before" %>
            <%= text_field_tag :to_date, @filter.date_to, placeholder: "e.g. 30/02/2013" %>
          </div>
        </div>
      <% end %>
      <div class="filter" id="filter-submit">
        <div class="filter-inner">
          <div class="submit">
            <%= submit_tag "Refresh results", class: "button" %>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
