<% unless defined?(filters); filters = []; end %>
<% document_type_plural = document_type.to_s.pluralize %>
<div class="filter-form-block">
  <div class="inner-block">
    <h2><%= t('document_filters.description').html_safe %></h2>
    <form method="get" action="<%= send(:"#{document_type_plural}_path") %>" id="document-filter" class="js-document-filter filter-form">
      <fieldset>
        <legend class="visuallyhidden">Filter <%= document_type_plural %></legend>

        <% if filters.include? :locations %>
          <div class="filter">
            <%= label_tag "world_locations", t('document_filters.world_locations.label'), class: "title" %>
            <%= select_tag "world_locations[]", locations_options(@filter.selected_locations), class: "govuk-select", id: "world_locations" %>
          </div>
        <% end %>

        <%= submit_tag "Refresh results", class: "button" %>
      </fieldset>
    </form>
  </div>
</div>
