<div class="filter-block">
  <h2>You can use the filters to show only results that match your interests</h2>
  <form method="get" action="<%= send(:"#{document_type.to_s.pluralize}_path") %>" id="document-filter" class="js-document-filter">
    <fieldset>
      <legend class="visuallyhidden">Filter <%= document_type.to_s.pluralize %></legend>

      <div class="filter" id="keyword-filter">
        <div class="filter-inner">
          <%= label_tag "keywords", "Contains", class: 'title' %>
          <%= text_field_tag :keywords, @filter.keywords, placeholder: "keywords" %>
        </div>
      </div>

      <div class="filter">
        <div class="filter-inner">
          <% if defined?(filter_by_publication_type) && filter_by_publication_type %>
            <div class="publication-type">
              <%= label_tag "publication_filter_option", "Publication type", class: "title" %>
              <%= select_tag :publication_filter_option, publication_type_filter_options(@filter.publication_types_for_filter, @filter.selected_publication_filter_option), class: "single-row-select" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter">
        <div class="filter-inner">
          <%= label_tag "topics", "Topic" %>
          <%= select_tag :topics, topic_filter_options(@filter.all_topics_with(document_type), @filter.selected_topics), size: 5, multiple: true, class: "multi-row-select" %>
        </div>
      </div>
      <div class="filter">
        <div class="filter-inner">
          <%= label_tag "departments", "Department" %>
          <%= select_tag :departments, organisation_filter_options(@filter.all_organisations_with(document_type), @filter.selected_organisations), size: 5, multiple: true, class: "multi-row-select" %>
        </div>
      </div>

      <div class="filter">
        <div class="filter-inner">
          <% if defined?(filter_by_date) and filter_by_date %>
            <div class="date-range">
              <h3>Published</h3>
              <% ['before', 'after'].each do |direction| %>
                <%= label_tag "direction_#{direction}", class: 'checkbox'  do %>
                  <%= radio_button_tag :direction, direction, direction == @filter.direction %>
                  <%= direction.humanize %>
                <% end %>
              <% end %>
              <%= label_tag "date", "Date", class: "visuallyhidden" %>
              <%= select_tag :date, options_for_select(recent_month_filter_options(24, @filter.date)), include_blank: false, class: "single-row-select" %>
            </div>
          <% end %>
          <div class="submit">
          <%= submit_tag "Refresh results", class: "button" %>
        </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
