<%
  header_title ||= ""
%>
<section class="document-page-header">
  <h1 class="page_title">
    <span class="inner">
      <span class="label"><%= header_title %></span>
      <span class="title"><%= document.title %></span>
    </span>
  </h1>
  <aside class="meta">
    <dl>
      <dt class="organisations visuallyhidden">Organisations:</dt>
      <dd class="organisations">
        <%= render  partial: 'organisations/organisations_logo_list',
                    locals: { organisations: document.organisations,
                              lead_organisations: document.lead_organisations } %>
      </dd>
      <%= render  partial: 'document_extra_metadata',
                  locals: { document: document } %>
      <%= render  partial: 'documents/change_notes',
                  locals: { document: document } %>
      <% if local_assigns.include?(:policies) && policies && policies.any? %>
        <dt><%= policies.length == 1 ? "Policy" : "Policies" %>:</dt>
        <dd class="policies js-hide-other-links"><%= list_of_links_to_policies(policies) %></dd>
      <% end %>
      <% if local_assigns.include?(:topics) && topics.any? %>
        <dt><%= topics.length == 1 ? "Topic" : "Topics" %>:</dt>
        <dd class="js-hide-other-links"><%= list_of_links_to_topics(topics) %></dd>
      <% end %>
      <% if !(document.respond_to?(:statistics?) && document.statistics?) %>
        <% if document.respond_to?(:ministerial_roles) && document.ministerial_roles.any? %>
          <dt><%= document.ministerial_roles.length == 1 ? "Minister" : "Ministers" %>:</dt>
          <dd class="js-hide-other-links"><%= list_of_links_to_ministers(document.ministerial_roles) %></dd>
        <% end %>
        <% if document.respond_to?(:delivery_title) %>
          <dt><%= document.delivery_title %>:</dt>
          <dd class="person"><%= link_to_person document.role_appointment.person %></dd>
        <% end %>
      <% end %>
      <% if document.has_operational_field? %>
        <dt>Field of operation:</dt>
        <%= content_tag_for :dd, document.operational_field do %>
          <%= link_to document.operational_field.name, document.operational_field %>
        <% end %>
      <% end %>
      <% if document.respond_to?(:role_appointments) && document.role_appointments.any? %>
        <dt><%= document.role_appointments.length == 1 ? "Minister" : "Ministers" %>:</dt>
        <dd><%= list_of_links_to_role_appointments(document.role_appointments) %></dd>
      <% end %>
      <% if document.respond_to?(:world_locations) && document.world_locations.any? %>
        <dt><%= document.world_locations.length == 1 ? "World location" : "World locations" %>:</dt>
        <dd class="document-world-locations js-hide-other-links"><%= list_of_links_to_world_locations_once_world_goes_live(document.world_locations) %></dd>
      <% end %>
      <% if document.respond_to?(:inapplicable_nations) && document.inapplicable_nations.any? %>
        <dt>Applies to:</dt>
        <dd><%= only_applies_to_nations_list(document) %></dd>
      <% end %>
      <% if document.respond_to?(:policy_team) && document.policy_team %>
        <dt>Policy team:</dt>
        <%= content_tag_for :dd, document.policy_team do %>
          <%= link_to document.policy_team.name, document.policy_team %>
        <% end %>
      <% end %>
      <% if document.respond_to?(:part_of_series?) && document.part_of_series? %>
        <dt>Series:</dt>
        <dd><%= link_to document.document_series.name, organisation_document_series_path(document.document_series.organisation, document.document_series) %></dd>
      <% end %>
      <% if document.respond_to?(:statistical_data_sets) && document.statistical_data_sets.any? %>
        <dt>Live data:</dt>
        <dd class="live-data"><%= list_of_links_to_statistical_data_sets(document.published_statistical_data_sets) %></dd>
      <% end %>
    </dl>
    <%= national_statistics_logo(document) %>
  </aside>
</section>
