<%
  header_title ||= ""
  policies ||= nil
  topics ||= []
  primary_mainstream_category ||= nil
  specialist_tag_finder = SpecialistTagFinder.new(@document)
%>
<%= render partial: 'shared/heading',
          locals: { type: add_sector_name(header_title, specialist_tag_finder.primary_sector_tag),
                    heading: add_subsector_name(document.title, specialist_tag_finder.primary_subsector_tag),
                    extra: true } %>

<%= render('documents/archive_notice', document: document, type: document.format_name) if document.archived? %>

<div class="heading-extra">
  <div class="inner-heading">
    <%= render partial: 'shared/available_languages', locals: {object: document} %>
    <%= national_statistics_logo(document) %>
  </div>
</div>
<%= render 'documents/metadata', document: document,
                                 policies: policies,
                                 topics: topics,
                                 primary_mainstream_category: primary_mainstream_category,
                                 specialist_tag_finder: specialist_tag_finder %>
