<%
  header_title ||= ""
  policies ||= nil
  topics ||= []
%>
<%= render partial: 'shared/heading',
          locals: { type: add_sector_name(header_title),
                    heading: add_subsector_name(document.title),
                    extra: true } %>

<%= render('documents/archive_notice', document: document, type: document.format_name) if document.archived? %>

<div class="heading-extra">
  <div class="inner-heading">
    <%= render partial: 'shared/available_languages', locals: {object: document} %>
    <%= national_statistics_logo(document) %>
  </div>
</div>
<%= render partial: 'documents/metadata', locals: { document: document, policies: policies, topics: topics, sectors: specialist_sector_tags } %>
