<aside class="meta metadata-list">
  <div class="inner-heading">
    <dl>
      <% if (from = from_metadata(document)).any? %>
        <dt><%= t('document.headings.from') %>:</dt>
        <dd class="js-hide-extra-metadata"><%= from.to_sentence.html_safe %></dd>
      <% end %>

      <%= render  partial: 'documents/change_notes',
                  locals: { document: document, footer_meta: footer_meta } %>

      <% if (part_of = part_of_metadata(document, specialist_tag_finder)).any? %>
        <dt><%= t('document.headings.part_of') %>:</dt>
        <dd class="js-hide-extra-metadata"><%= part_of.to_sentence.html_safe %></dd>
      <% end %>

      <% if document.respond_to?(:inapplicable_nations) && document.inapplicable_nations.any? %>
        <dt><%= t('document.headings.applies_to_nations') %>:</dt>
        <dd class="inapplicable-nations"><%= only_applies_to_nations_list(document) %></dd>
      <% end %>
    </dl>
  </div>
</aside>
