<%
  policies ||= []
  topics ||= []
%>
<aside class="meta">
  <div class="inner-heading">
    <dl>
      <% if document.organisations.any?  %>
        <dt><%= t('document.headings.organisations', count: document.organisations.length) %>:</dt>
        <dd>
          <%= render  partial: 'organisations/organisations_name_list',
                      locals: { organisations: document.sorted_organisations,
                                lead_organisations: document.lead_organisations } %>
        </dd>
      <% end %>
      <%= render  partial: 'document_extra_metadata',
                  locals: { document: document } %>
      <%= render  partial: 'documents/change_notes',
                  locals: { document: document } %>

      <% document_metadata(document, policies, topics).each do |metadata| %>
        <dt><%= metadata[:title] %>:</dt>
        <dd class="js-hide-other-links<% if metadata[:classes] %> <%= metadata[:classes].join(" ") %><% end %>"><%= metadata[:data].to_sentence.html_safe %></dd>
      <% end %>

    </dl>
  </div>
</aside>
