<aside class="meta">
  <div class="inner-heading">
    <dl>
      <dt><%= t('document.headings.organisations', count: document.organisations.length) %>:</dt>
      <dd>
        <%= render  partial: 'organisations/organisations_name_list',
                    locals: { organisations: document.sorted_organisations,
                              lead_organisations: document.lead_organisations } %>
      </dd>
      <%= render  partial: 'document_extra_metadata',
                  locals: { document: document } %>
      <%= render  partial: 'documents/change_notes',
                  locals: { document: document } %>
      <% if local_assigns.include?(:policies) && policies && policies.any? %>
        <dt><%= t('document.headings.policies', count: policies.length) %>:</dt>
        <dd class="policies js-hide-other-links"><%= list_of_links_to_policies(policies) %></dd>
      <% end %>
      <% if local_assigns.include?(:topics) && topics.any? %>
        <dt><%= t('document.headings.topics', count: topics.length) %>:</dt>
        <dd class="js-hide-other-links"><%= list_of_links_to_topics(topics) %></dd>
      <% end %>
      <% if document.respond_to?(:topical_events) && document.topical_events.any? %>
        <dt><%= t('document.headings.topical_events', count: document.topical_events.length) %>:</dt>
        <dd class="js-hide-other-links"><%= list_of_links_to_topical_events(document.topical_events) %></dd>
      <% end %>
      <% if !(document.respond_to?(:statistics?) && document.statistics?) %>
        <% if document.respond_to?(:ministerial_roles) && document.ministerial_roles.any? %>
          <dt><%= t('document.headings.ministers', count: document.ministerial_roles.length) %>:</dt>
          <dd class="js-hide-other-links"><%= list_of_links_to_ministers(document.ministerial_roles) %></dd>
        <% end %>
        <% if document.respond_to?(:delivered_by_minister?) %>
          <dt><%= t_delivery_title(document) %>:</dt>
          <% if document.person_override? %>
          <dd class="person"><%= document.person_override %></dd>
          <% else %>
            <dd class="person"><%= link_to_person document.role_appointment.person %></dd>
          <% end %>
        <% end %>
      <% end %>
      <% if document.has_operational_field? %>
        <dt><%= t('document.headings.field_of_operation') %>:</dt>
        <%= content_tag_for :dd, document.operational_field do %>
          <%= link_to document.operational_field.name, document.operational_field %>
        <% end %>
      <% end %>
      <% if document.respond_to?(:role_appointments) && document.role_appointments.any? %>
        <dt><%= t('document.headings.ministers', count: document.role_appointments.length) %>:</dt>
        <dd><%= list_of_links_to_role_appointments(document.role_appointments) %></dd>
      <% end %>
      <% if document.respond_to?(:world_locations) && document.world_locations.any? %>
        <dt><%= t('document.headings.world_locations', count: document.world_locations.length) %>:</dt>
        <dd class="document-world-locations js-hide-other-links"><%= list_of_links_to_world_locations(document.world_locations) %></dd>
      <% end %>
      <% if document.respond_to?(:worldwide_organisations) && document.worldwide_organisations.any? %>
        <dt><%= t('document.headings.worldwide_organisations', count: document.worldwide_organisations.length) %>:</dt>
        <dd class="document-worldwide-organisations js-hide-other-links"><%= list_of_links_to_worldwide_organisations(document.worldwide_organisations) %></dd>
      <% end %>
      <% if document.respond_to?(:inapplicable_nations) && document.inapplicable_nations.any? %>
        <dt><%= t('document.headings.applies_to_nations') %>:</dt>
        <dd><%= only_applies_to_nations_list(document) %></dd>
      <% end %>
      <% if document.respond_to?(:policy_team) && document.policy_team %>
        <dt><%= t('document.headings.policy_team') %>:</dt>
        <%= content_tag_for :dd, document.policy_team do %>
          <%= link_to document.policy_team.name, document.policy_team %>
        <% end %>
      <% end %>
      <% if document.respond_to?(:policy_advisory_groups) && document.policy_advisory_groups.any? %>
        <dt><%= t('document.headings.advisory_groups') %>:</dt>
        <dd class="document-policy-advisory-groups js-hide-other-links"><%= list_of_links_to_policy_advisory_groups(document.policy_advisory_groups) %></dd>
      <% end %>
      <% if document.respond_to?(:part_of_series?) && document.part_of_series? %>
        <dt><%= t('document.headings.document_series') %>:</dt>
        <dd class="js-hide-other-links"><%= list_of_links_to_document_series(document) %></dd>
      <% end %>
      <% if document.respond_to?(:statistical_data_sets) && document.statistical_data_sets.any? %>
        <dt><%= t('document.headings.live_data') %>:</dt>
        <dd class="live-data"><%= list_of_links_to_statistical_data_sets(document.published_statistical_data_sets) %></dd>
      <% end %>
    </dl>
  </div>
</aside>
