<% if policies.any? %>
  <section id="policies">
    <h1><%= defined?(title) ? title : "Policies" %></h1>
    <ul class="policies">
      <% policies.each do |policy| %>
        <%= content_tag_for(:li, policy) do %>
          <%= link_to policy.title, public_document_path(policy), title: "View #{policy.title}", class: "title" %>
          <p class="metadata">
            Updated
            <%= render_datetime_microformat(policy, :updated_at) do %>
              <%= time_ago_in_words(policy.updated_at) %> ago
            <% end %>
          </p>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>