<%
  extra_class ||= ""
  show_type ||= true
%>
<% if recently_changed_documents.any? %>
  <section id="recently-changed" class="latest-documents">
    <h1 class="label"><%= title %></h1>
    <ol class="document-list lead-in <%= extra_class %>">
      <% recently_changed_documents.each do |document| %>
        <%= content_tag_for :li, document, class: 'document-row' do %>
          <h3><%= link_to document.title, public_document_path(document) %></h3>
          <ul class="attributes">
            <li class="date">
              <%= published_or_updated(document).titleize %>
              <%= absolute_date((document.public_timestamp).to_datetime, class: 'published-at') %>
            </li>
            <li class="display-type"><%= document.display_type %></li>
            <li class="organisations">
              <%= document.sorted_organisations.map { |o|
                organisation_display_name(o) }.to_sentence.html_safe %>
            </li>
        </ul>
        <% end %>
      <% end %>
    </ol>
  </section>
<% end %>
