<% if recently_changed_documents.any? %>
  <section id="recently-changed" class="latest_documents simple_list">
    <h1 class="label"><%= title %></h1>
    <ul class="">
      <% recently_changed_documents.each do |document| %>
        <%= content_tag_for :li, document do %>
          <%= link_to document.title, public_document_path(document), class: "title" %>
          <div class="metadata">
            <span class="document_type"><%= human_friendly_edition_type(document) %></span>, <span class="published_or_updated"><%= published_or_updated(document).titleize %> <%= time_ago(document.published_at, class: 'published_at') %></span>
          </div>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>