%h1 Government Department
%p
  So far you can view published policies, and if you
  =link_to "login", login_path
  you can write your own.
%section.resource_list
  %h1 Published policies
  %table#published_policies
    %thead
      %tr
        %th Title
        %th Author
        %th Type
    %tbody
      - @documents.each do |document|
        = content_tag_for(:tr, document) do
          %td.title= link_to document.published_edition.title, document_path(document), title: "View #{document.published_edition.title}"
          %td.author= document.published_edition.author.name
          %td.type= document.type
      - if @documents.empty?
        %tr
          %td{colspan: 2} Our authors have not published any policies at present.