<% page_title @document.title, "Documents" %>
<div class="g4f document_page <%= @document.type.downcase %>">
  <div class="g4">
    <section class="page_header icon">
      <h2 class="label"><%= header_title %></h2>
      <h1 class="page_title has_meta"><%= @document.title %></h1>
    </section>
    <div class="g1f">
      <%= render partial: "document_metadata" %>
      <%= render partial: "document_contextual" %>
    </div>
    <div class="g2 document_view">
      <%= render partial: "document_content" %>
    </div>
    <div class="g1f">
      <%= render partial: "documents/document_related", locals: {
        document: @document,
        recently_changed_documents: @recently_changed_documents,
        policy_topics: @policy_topics,
        related_policies: @related_policies
      } %>
    </div>
  </div>
</div>