<div class="g2 first">
  <section class="document_view">
    <h1 class="title"><%= @document.title %></h1>
    <div class="body">
      <%= govspeak_to_html @document.body %>
    </div>
    <% if @document.allows_attachment? %>
      <p class="attachment"><%= link_to_attachment(@document.attachment) %></p>
    <% end %>
  </section>

  <% if @document.allows_supporting_documents? && @document.supporting_documents.any? %>
    <section class="supporting_documents">
      <h1>Supporting documents</h1>
      <ul>
        <% @document.supporting_documents.each do |supporting_document| %>
          <%= content_tag_for :li, supporting_document do %>
            <%= link_to supporting_document.title, document_supporting_document_path(@document.document_identity, supporting_document) %>
          <% end %>
        <% end %>
      </ul>
    </section>
  <% end %>
</div>

<% if @document.topics.any? %>
  <section id="topics" class="g1">
    <h1>Topics</h1>
    <%= render partial: "topics/list", locals: {topics: @document.topics} %>
  </section>
<% end %>

<% if @document.organisations.any? %>
  <section id="organisations" class="g1">
    <h1>Organisations</h1>
    <%= render partial: "organisations/list", locals: {organisations: @document.organisations} %>
  </section>
<% end %>

<% if @document.ministerial_roles.any? %>
<section id="ministers_responsible" class="g1">
  <h1>Ministers</h1>
  <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: @document.ministerial_roles} %>
</section>
<% end %>

<% if @document.respond_to?(:inapplicable_nations) %>
  <section id="inapplicable_nations" class="g1">
    <p>This policy does not apply to <%= @document.inapplicable_nations.map(&:name).sort.to_sentence %>.</p>
  </section>
<% end %>

<% if @document.type == 'Policy' && @document.related_documents.any? %>
  <section id="related-documents" class="g1">
    <h1>Related publications</h1>
    <ul>
      <% @document.documents_related_with.published.each do |related_document| %>
        <%= content_tag_for :li, related_document do %>
          <%= link_to related_document.title, document_path(related_document.document_identity) %>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>