<%= render partial: "page_title" %>
<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <section class="page_header icon">
        <h2 class="label"><%= header_title %></h2>
        <%= render partial: "title" %>
      </section>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <%= render partial: "document_metadata" %>
      <%= render partial: "document_contextual", locals: {edition: @document} %>
      <%= national_statistics_logo(@document) %>
    </div>
  </div>
  <div class="block-3">
    <div class="inner-block">
      <%= render partial: "document_content" %>
    </div>
  </div>
  <div class="block-4">
    <div class="inner-block">
      <%= render partial: "documents/document_related", locals: {
        document: @document,
        recently_changed_documents: @recently_changed_documents,
        topics: @topics,
        related_policies: @related_policies
      } %>
    </div>
  </div>
</div>
