<p>back to <%= link_to 'documents', documents_path %></p>

<div class="document_view">
  <h1 class="title"><%= @published_edition.title %></h1>
  <div class="body">
    <%= govspeak_to_html @published_edition.body %>
  </div>
  <p class="attachment"><%= link_to_attachment(@published_edition.attachment) %></p>
  <p class="written_by">Written by <span class="author"><%= @published_edition.author.name %></span></p>
</div>

<% if @published_edition.topics.any? %>
  <section id="related_topics">
    <h1>Related topics</h1>
    <ul class="topics">
    <% @published_edition.topics.each do |topic| %>
      <li class="topic"><%= link_to topic.name, topic_path(topic) %></li>
    <% end %>
    </ul>
  </section>
<% end %>