<% page_title @document.title, "Documents" if page_title.empty? %>

<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <section class="page-header icon">
      <%= render  partial: "title",
                  locals: {
                    document: @document,
                    header_title: header_title,
                    hide_extra_organisations: true
                  } %>
      </section>
      <%= render  partial: "document_metadata",
                  locals: {
                    document: @document,
                    topics: @topics
                  } %>
    </div>
  </div>

  <div class="block-2 ">
    <div class="inner-block">
      <%= render partial: "document_contextual", locals: {edition: @document} %>
      <%= national_statistics_logo(@document) %>
    </div>
  </div>
  
  <div class="block-3">
    <div class="inner-block">
      <%= render partial: "document_content" %>
    </div>
  </div>
  <div class="block-4">
    <div class="inner-block">
      <%= render partial: "documents/document_related", locals: {
        document: @document,
        recently_changed_documents: @recently_changed_documents,
        topics: @topics,
        related_policies: @related_policies
      } %>
    </div>
  </div>
</div>
