<div class="g2 first">
  <section class="document_view">
    <h1 class="title"><%= @document.title %></h1>
    <div class="body">
      <%= govspeak_to_html @document.body %>
    </div>
    <p class="attachment"><%= link_to_attachment(@document.attachment) %></p>
  </section>
</div>

<% if @document.topics.any? %>
  <section id="topics" class="g1">
    <h1>Topics</h1>
    <%= render partial: "topics/list", locals: {topics: @document.topics} %>
  </section>
<% end %>

<% if @document.organisations.any? %>
  <section id="organisations" class="g1">
    <h1>Organisations</h1>
    <%= render partial: "organisations/list", locals: {organisations: @document.organisations} %>
  </section>
<% end %>

<% if @document.ministerial_roles.any? %>
<section id="ministers_responsible" class="g1">
  <h1>Ministers</h1>
  <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: @document.ministerial_roles} %>
</section>
<% end %>