<%
  header_title ||= ""
%>
<% page_title @document.title, "Documents" if page_title.blank? %>

<article class="document-page <%= @document.type.downcase %>">
  <header class="block heading-block">
    <div class="inner-block floated-children">
      <%= render  partial: 'header',
                  locals: {
                    header_title: header_title,
                    document: @document,
                    policies: @related_policies
                  } %>
    </div>
  </header>

  <div class="block-2 ">
    <div class="inner-block">
      <%= render partial: "document_summary", locals: { document: @document } %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <%= render partial: "document_sidebar", locals: { document: @document } %>
    </div>
  </div>
  <div class="block-4">
    <div class="inner-block">
      <div class="document body">
        <%= govspeak_to_html @document.body, @document.images %>
      </div>
    </div>
  </div>
</article>
