<% if edition.force_published? %>
  <div class="alert alert-error force_published">
    <p><strong>Warning</strong> This edition was force published and has not yet been reviewed by a second pair of eyes.</p>

    <% if can?(:approve, edition) %>
      <p><%= link_to "View this on the website", preview_document_path(@edition), target: '_blank' %> and check everything thoroughly.</p>
      <p><%= approve_retrospectively_edition_button(edition) %></p>
    <% else %>
      <p> Please have an editor other than the original publisher review the document to clear this warning.</p>
    <% end %>
  </div>
<% end %>
<% if edition.pre_publication? %>

  <% if edition.is_a?(Publication) && edition.statistics_announcement.present? %>
    <div class="alert alert-info announced-publication">
      <p>
        This publication has been announced for publication <%= edition.statistics_announcement.display_release_date %>.
        <%= link_to 'Edit announcement', [:edit, :admin, edition.statistics_announcement] %>
      </p>
    </div>
  <% end %>

  <% if edition.scheduled_publication.present? %>
    <div class="alert alert-info scheduled-publication">
      <% if edition.scheduled? %>
        <p>Scheduled for publication on <%= l edition.scheduled_publication, format: :long %>. </p>
      <% else %>
        <p>Scheduled publication proposed for <%= l edition.scheduled_publication, format: :long %>. </p>
      <% end %>
    </div>
  <% end %>

<% end %>

<% if warn_about_lack_of_contacts_in_body?(edition) %>
  <div class="alert alert-info no-contacts">
    <p>This press release has no contact information embedded in the
        body. You may want to edit it and add some.</p>
  </div>
<% end %>

