<% error_keys = edition.errors.keys %>
<% error_class = "alert-danger form-errors field_with_errors" %>

<fieldset class="js-toggle-notice <%= error_class if error_keys.include?(:transition_content_notice) %>">

  <legend class="add-bottom-margin">
    Add a current state or post transition content notice
  </legend>

  <p>Read the <a href="https://www.gov.uk/guidance/content-design/helping-users-prepare-for-change#preparing-users-for-changes-related-to-the-end-of-the-transition-period-with-the-eu" target="_blank" rel="noopener noreferrer">guidance on post-transition content</a> (opens in a new tab).</p>

  <div class="notice-radio <%= error_class if error_keys.include?(:transition_content_notice) %>">
    <%= radio_button_tag :transition_content_notice, :no_notice, !edition.show_brexit_no_deal_content_notice && !edition.show_brexit_current_state_content_notice %>
    <%= label_tag "transition_content_notice_no_notice", "No notice required for this page" %>
  </div>

  <div class="notice-radio <%= error_class if error_keys.include?(:transition_content_notice) %>">
    <%= radio_button_tag :transition_content_notice, :current_state, true, :data => { :controls => "current-state-notice" } %>
    <%= label_tag "transition_content_notice_current_state", "Show 2020 current state content notice" %>
  </div>

  <div class="toggle-notice-controlled js-toggle-notice-controlled js-hidden" id="current-state-notice">
    <p>Add links to post-transition guidance, which will appear in the call-out box.</p>
    <p>Use full URLs for external websites, for example: https://www.example.com.</p>
    <%= form.fields_for :brexit_current_state_content_notice_links do |links_fields| %>
      <div class="well">
        <%= links_fields.text_field :title, label_text: 'Link text' %>
        <%= links_fields.text_field :url,  label_text: 'URL' %>
      </div>
    <% end %>
  </div>

  <div class="notice-radio <%= error_class if error_keys.include?(:transition_content_notice) %>">
    <%= radio_button_tag :transition_content_notice, :no_deal, edition.show_brexit_no_deal_content_notice, :data => { :controls => "no-deal-notice" } %>
    <%= label_tag "transition_content_notice_no_deal", "Show 2021 post-transition content notice" %>
  </div>

  <div class="toggle-notice-controlled js-toggle-notice-controlled js-hidden" id="no-deal-notice">
    <p>Add links to the current state guidance, which will appear in the call-out box.</p>
    <p>Use full URLs for external websites, for example: https://www.example.com.</p>
    <%= form.fields_for :brexit_no_deal_content_notice_links do |links_fields| %>
      <div class="well">
        <%= links_fields.text_field :title, label_text: 'Link text' %>
        <%= links_fields.text_field :url,  label_text: 'URL' %>
      </div>
    <% end %>
  </div>
</fieldset>
