<fieldset class="js-change-notes">
  <h3 class="remove-top-margin">To save this document please complete the following</h3>
  <p class="remove-bottom-margin">Select an option:</p>
  <div class="radio">
    <%= form.label :minor_change_true do %>
      <%= form.radio_button(:minor_change, true) %>
      <strong>Update the document silently</strong> – for minor changes like fixes to typos, links, GOV.UK style or metadata
    <% end %>
  </div>
  <div class="radio">
    <%= form.label :minor_change_false do %>
      <%= form.radio_button(:minor_change, false) %>
      <strong>Alert the public to what’s changed</strong> – for important changes to the content or attached files
    <% end %>
  </div>
  <div class="js-change-notes-section">
    <div class="form-group">
      <%= form.text_area(:change_note, rows: 4, placeholder: 'Input text to display publicly on the live site and in email alerts', label_text:'Public change note', class: 'form-control') %>
    </div>
  </div>
</fieldset>
