<fieldset class="js-change-notes">
  <h3 class="remove-top-margin">Do users need to know the content has changed?</h3>
  <p class="hint change-note-hint"> Telling users when published information changes is important for transparency.</p>

  <% if edition.allows_attachments? && edition.changed_attachments.any? %>
    <div class="alert alert-info">
      <h4> Attachments you've added, changed or deleted </h4>
      <ul class="govuk-list">
        <% label_classes = {created: "label-success", updated: "label-warning", deleted: "label-danger"} %>
        <% edition.changed_attachments.each do |attachment| %>
          <li>
            <%= "#{attachment.attachment.title} - #{attachment.attachment.readable_type} attachment" %>
            <%= tag.span attachment.status, class: ["label", label_classes[attachment.status]] %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="radio">
    <%= form.label :minor_change_false do %>
      <%= form.radio_button(:minor_change, false) %>
      <strong>Yes - information has been added, updated or removed</strong>
      <p class="hint">A change note will be published on the page and emailed to users subscribed to email alerts. The ‘last updated’ date will change.</p>
    <% end %>
  </div>
  <div class="js-change-notes-section">
    <%= form.label :change_note do %>
      Describe the change for users
      <p class="hint change-note-hint">Tell users what has changed, where and why. Write in full sentences, leading with the most important words. For example, "College A has been removed from the registered sponsors list because its licence has been suspended." <br>Read the <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#change-notes" target="_blank">guidance about change notes (opens in a new tab)</a>.</p>
      <%= form.text_area(:change_note, label: false, rows: 4) %>
    <% end %>
    </div>
  <div class="radio">
    <%= form.label :minor_change_true do %>
      <%= form.radio_button(:minor_change, true) %>
      <strong>No – it’s a minor edit that does not change the meaning</strong>
      <p class="hint">This includes fixing a typo or broken link, a style change or similar. Users signed up to email alerts will not get notified and the ‘last updated’ date will not change.</p>
    <% end %>
  </div>
</fieldset>
