<section class="document conflict">
  <article>
    <h1 class="title"><%= edition.title %></h1>
    <pre class="body">
      <%= edition.body %>
    </pre>
    <% if edition.allows_attachments? %>
      <% edition.attachments.each do |attachment| %>
        <p class="attachment"><%= link_to_attachment(attachment) %></p>
      <% end %>
    <% end %>
    <%= render partial: "authors", locals: { edition: edition } %>
  </article>

  <section>
    <h1>Organisations</h1>
    <% if edition.organisations.any? %>
      <%= render partial: "organisations/list", locals: {organisations: edition.organisations} %>
    <% else %>
      <p>This document isn't assigned to any organisations.</p>
    <% end %>
  </section>

  <% if edition.can_be_associated_with_policy_topics? %>
    <section>
      <h1>Policy topics</h1>
      <% if edition.policy_topics.any? %>
        <%= render partial: "policy_topics/list", locals: {policy_topics: edition.policy_topics} %>
      <% else %>
        <p>This document isn't assigned to any policy topics.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_ministers? %>
    <section>
      <h1>Ministers</h1>
      <% if edition.ministerial_roles.any? %>
        <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: edition.ministerial_roles} %>
      <% else %>
        <p>This document isn't assigned to any ministers.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_countries? %>
    <section>
      <h1>Countries</h1>
      <% if edition.countries.any? %>
        <%= render partial: "countries/list", locals: {countries: edition.countries} %>
      <% else %>
        <p>This document isn't assigned to any countries.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_apply_to_subset_of_nations? %>
    <section>
      <h1>Excluded Nations</h1>
      <% if edition.nation_inapplicabilities.any? %>
        <%= render partial: "nation_inapplicabilities/list", locals: {nation_inapplicabilities: edition.nation_inapplicabilities} %>
      <% else %>
        <p>This document is applicable to all nations.</p>
      <% end %>
    </section>
  <% end %>

</section>
