<section class="document conflict">
  <article>
    <h1 class="title"><%= edition.title %></h1>
    <pre class="body">
      <%= edition.body %>
    </pre>
    <% if edition.allows_attachments? %>
      <% edition.attachments.each do |attachment| %>
        <p class="attachment"><%= link_to_attachment(attachment, preview: true) %></p>
      <% end %>
    <% end %>
  </article>

  <% if edition.can_be_related_to_organisations? %>
    <section>
      <h1>Organisations</h1>
      <% if edition.organisations.any? %>
        <%= render partial: "admin/organisations/organisations_name_list", locals: {organisations: edition.sorted_organisations} %>
      <% else %>
        <p>This document isn't assigned to any organisations.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_related_to_policies? %>
    <section>
      <h1>Related policies</h1>
      <% if edition.related_policies.any? %>
        <%= render partial: "admin/editions/related_policies", locals: {policies: edition.related_policies} %>
      <% else %>
        <p>This document doesn't have any related policies.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_topics? %>
    <section>
      <h1>Topics</h1>
      <% if edition.topics.any? %>
        <%= render partial: "classifications/list", locals: {topics: edition.topics} %>
      <% else %>
        <p>This document isn't assigned to any topics.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_ministers? %>
    <section>
      <h1>Ministers</h1>
      <% if edition.ministerial_roles.any? %>
        <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: edition.ministerial_roles} %>
      <% else %>
        <p>This document isn't assigned to any ministers.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_world_locations? %>
    <section>
      <h1>World locations</h1>
      <% if edition.world_locations.any? %>
        <%= render partial: "world_locations/list", locals: {world_locations: edition.world_locations} %>
      <% else %>
        <p>This document isn't assigned to any world locations.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_apply_to_subset_of_nations? %>
    <section>
      <h1>Excluded nations</h1>
      <% if edition.nation_inapplicabilities.any? %>
        <%= render partial: "nation_inapplicabilities/list", locals: {nation_inapplicabilities: edition.nation_inapplicabilities} %>
      <% else %>
        <p>This document is applicable to all nations.</p>
      <% end %>
    </section>
  <% end %>

</section>
