<%
  hide_inline_attachments_help ||= false
  show_attachments_tab_help ||= false
  show_footnote_help ||= false
  show_stat_headline_help ||= false
  link_check_report ||= nil
  govspeak_link_errors ||= []
%>

<h2 class="govuk-heading-l">Govspeak help</h2>

<% if govspeak_link_errors.any? %>
  <section id='link-errors' class='alert alert-danger'>
    <h3 class="govuk-heading-m">Link errors</h3>

    <p class="govuk-body">You will not be able to publish this document until these are fixed.</p>

    <dl>
      <% govspeak_link_errors.each do |link_error| %>
        <dt><%= link_error[:link] %></dt>
        <dd data-start='<%= link_error[:start] %>' data-end='<%= link_error[:end] %>'>
          <%= link_error[:fix] %>
        </dd>
      <% end %>
    </dl>
  </section>
  <% initialise_script "GOVUK.govspeakLinkErrors", selector: '#link-errors' %>
<% end %>

<% if link_check_report.present? %>
  <%= render 'admin/link_check_reports/link_check_report', report: link_check_report %>
<% end %>

<div data-module="gem-track-click" data-track-category="formatting-help" data-track-action="formatting-help-link" data-track-selector="a[data-toggle]">
  <h3 class="govuk-heading-m">Formatting</h3>
  <p class="govuk-body">For details, read the <%=link_to("guide to using Markdown", "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown", class: "govuk-link") %>
  <%= render "govuk_publishing_components/components/accordion", {
    heading_level: 4,
    items: [
      {
        heading: {
          text: "Paste and convert to Markdown"
        },
        content: {
          html: sanitize("<p class='govuk-body'>You can paste formatted text into the body field and Whitehall publisher will try to convert it into GOV.UK’s version of Markdown, Govspeak.</p>
          <p>This works best when copy and pasting from text editing software like Word or Google Docs. It is less likely to recognise formatting from PDFs.</p>
          <p>It will convert:</p>
          <ul class='gem-c-list govuk-list govuk-list--bullet'>
            <li>headings</li>
            <li>bullets</li>
            <li>numbered lists</li>
            <li>links</li>
            <li>email links</li>
          </ul>
          <p>Other formatting, such as tables, will be removed and only plain text pasted. You’ll need to write the Markdown for these separately.</p>")
        },
      },
      {
        heading: {
          text: "Headings"
        },
        content: {
          html: sanitize(
"<pre>
## Top level heading – H2
### Second level heading – H3
#### Third level heading – H4
Don’t use a single # – this is H1
and is for the title only
</pre>"
          )
        },
      },
      {
        heading: {
          text: "Links"
        },
        content: {
          html: sanitize(
"<p>All documents created in the publisher – publications, news, speeches, detailed guides etc – should be linked to using absolute admin paths or full public URLs:</p>
<pre>
[an admin path](/government/admin/policies/12345)
[a public URL](https://www.gov.uk/government/policies/example-policy)
</pre>
<p>All content created under an organisation tab – collection pages, topics, organisations, people, roles etc – should be linked to using the full, public URLs:</p>
<pre>[link text](https://www.gov.uk/government/topics/climate-change)</pre>
<pre class=''>[link text](https://www.gov.uk/government/topics/climate-change)</pre>
<p>For external websites, use the full URL including http://:</p>
<pre>[link text](http://www.example.com)</pre>
<h4 class='govuk-heading-s'>Linking to paragraphs</h4>
<p>
  If you want to link to specific paragraphs within a document, you need to mark the paragraph as linkable
  by placing an anchor tag <strong>below</strong> the paragraph:
</p>
<pre>
Stocks of some fish species are very low. For example, stocks of European Eel have declined by about 95% over the last 30 years.
{:#eel-decline}
</pre>
<p>The paragraph can then be linked to from the same document:</p>
<pre>[Sample link text](#eel-decline)</pre>
<p>or from another document:</p>
<pre>[Sample link text](https://www.gov.uk/government/policies/managing-freshwater-fisheries#eel-decline)</pre>
"

          )
        },
      },
      {
        heading: {
          text: "Bullets"
        },
        content: {
          html: sanitize(
"<pre>
* item 1
* item 2
* item 3
</pre>")
        },
      },
      {
        heading: {
          text: "Numbered lists"
        },
        content: {
          html: sanitize(
"<pre>
1. item 1
2. item 2
3. item 3
</pre>")
        }
      },
      {
        heading: {
          text: "Images"
        },
        content: {
          html: sanitize(
"<p>First upload your image(s), then:</p>
<pre>!!<em>n</em></pre>
<p>eg for the first image:</p>
<pre>!!1</pre>")
        }
      },
      {
        heading: {
          text: "Video links"
        },
        content: {
          html: sanitize(
"<p>Use the title of the video and the URL of the YouTube page that shows the video for watching. Don’t use the embed code or the ‘Share this video’ URL:</p>
<pre>[title of video](youtube-video-url)</pre>
<p>Only YouTube videos will work at present:</p>
<pre>[The Queen’s Diamond Jubilee Concert](http://www.youtube.com/watch?v=OXHPWmnycno)</pre>
<p>The title text does not show. The video will display in an embedded media player automatically.</p>")
        }
      },
      *([{
        heading: {
          text: "Attachments"
        },
        content: {
          html: (render "govspeak_attachments_help", show_attachments_tab_help: show_attachments_tab_help)
        }
      }] unless hide_inline_attachments_help),
      {
        heading: {
          text: "Tables"
        },
        content: {
          html: sanitize(
"<p>Insert tables by splitting your content into cells using the pipe (|) character. </p>
<pre>
|  name   |  colour |
|---------|---------|
| apple   | green   |
| banana  | yellow  |</pre>

<p>Add row titles by putting a hashtag (#) character directly next to the pipe (|) at the start of the row:</p>

  <pre>
|             | Fruit | Vegetables |
|-------------|-------|------------|
|# per gram   |   5p  |     8p     |
|# per kilo   |   7p  |     6p     |
  </pre>

<p>Right align a column by including a colon at the end of a separator, eg <code>|---:|</code>. In the example below the cost column will be right aligned.</p>
<pre>
|  name   |  cost  |
|---------|-------:|
| apple   | 0.45   |
| banana  | 0.32   |
| guava   | 10.32  |
</pre>")
        }
      },
      {
        heading: {
          text: "Charts"
        },
        content: {
          html: sanitize(
"<p>Numeric data can be shown as a simple bar chart. Grouped bars are used for multiple columns.</p>
<pre>Department   | Short Speeches | Long Speeches
-|-|-
Department 1 | 6              | 6
Department 2 | 6              | 8
Department 3 | 18             | 2
{barchart}</pre>
<p>Stacked bars can be created. The final column is used to display the total.</p>
<pre>Department | Short Speeches | Long Speeches | Total
-|-|-|-
Dept 1     | 6              | 6             | 12
Dept 2     | 6              | 8             | 14
Dept 3     | 18             | 2             | 20
{barchart stacked}</pre>
<p>Large graphs can be displayed compactly to save space.</p>
<pre>Department   | Short Speeches | Long Speeches
-|-|-
Department 1 | 6              | 6
Department 2 | 6              | 8
Department 3 | 18             | 2
Department 4 | 5              | 4
Department 4 | 7              | 7
Department 6 | 11             | 1
{barchart compact}</pre>
<p>If you include negative values, you must indicate this.</p>
<pre>Department   | Change in Number of Buildings
-|-
Department 1 | -12
Department 1 | 3
Department 1 | -4
Department 1 | 2
{barchart negative}</pre>
<p>All effects can be combined.</p>")
        }
      },
      {
        heading: {
          text: "Call to action"
        },
        content: {
          html: sanitize(
"<pre>$CTA
[Use the trade tariff tool to find commodity codes.](https://www.gov.uk/trade-tariff)
$CTA</pre>")
        }
      },
      {
        heading: {
          text: "Abbreviations and acronyms"
        },
        content: {
          html: sanitize(
"<p>The first time you use an abbreviation or acroynm, write it out in full.</p>
<p>Add the <a href='https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown#acronyms'>acronym Markdown</a> at the end of the body copy leaving one empty line space above it, as in the following example.</p>
<pre>Example content that includes a three-letter acronym (TLA).

*[TLA]: three-letter acronym</pre>
<p>When a user hovers their mouse over a <abbr title='three-letter acronym'>TLA</abbr>, they will see it written in full.</p>")
        }
      },
      {
        heading: {
          text: "Blockquotes"
        },
        content: {
          html: sanitize(
"<pre>Introduction to the quote:

> First paragraph of the quote.
>
> Second paragraph of the quote.</pre>
<p>The > in the line space is important. If you leave it out you will get 2 separate quotes, not 1 running quote.</p>")
        }
      },
      {
        heading: {
          text: "Addresses"
        },
        content: {
          html: sanitize(
"<pre>$A
Address
Only
Here
$A</pre>
<p>You can also embed contact information:</p>
<pre>[Contact:<em>n</em>]</pre>
<p>(n is the ID of the contact you want to embed.)</p>
<p>You can find the ID on the list of contacts for an #{link_to 'organisation', admin_organisations_path} or #{link_to 'worldwide organisation', admin_worldwide_organisations_path} or you can type ‘[Contact: ’ and then type a keyword to find your contact (if it exists).</p>
<p>If it doesn’t exist you will have to add it (see your ‘Publishing explained’ guidance). </p>
")
        }
      },
      *([{
        heading: {
          text: "Footnotes"
        },
        content: {
          html: sanitize(
"<pre>Footnotes can be added[^1].

[^1]: And then later defined.</pre>
<p>
  You can add a footnote marker to a document using [^<em>i</em>] where <em>i</em> is the footnote number or label. Each of these tags should have corresponding footnote content, defined with [^<em>i</em>]: <em>The footnote content</em>. The footnote content will always appear at the end of the document regardless of where they are in the markdown.
</p>
<p>
  Footnote content can hold more than one paragraph by indenting the content 4 spaces:
</p>

<pre>[^1]:
This is some footnote content and is indented 4 spaces.

This paragraph is also indented, so will be considered part of the footnote content.</pre>")
        }
      }] if show_footnote_help),
      *([{
        heading: {
          text: "Statistic headlines"
        },
        content: {
          html: (sanitize(
"<p>Use statistic headlines to highlight important numbers in your content. Displays a statistic as a large number with a description. The statistic and description must make sense when read aloud.</p>
<pre>{stat-headline}
*13.8bn* years since the big bang
{/stat-headline}</pre>"
          ))
        }
      }] if show_stat_headline_help),
    ]
  } %>
</div>
