  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#document" data-toggle="tab">Document</a></li>
      <% if @edition.change_note_required? %>
        <li><a href="#change-note" data-toggle="tab">Change note</a></li>
      <% end %>
      <% if @edition.allows_supporting_pages? %>
        <li><a href="#supporting_pages" data-toggle="tab">Supporting pages <span class="badge"><%= @edition.supporting_pages.count %></span></a></li>
      <% end %>
      <% if @edition.translatable? %>
        <li><a href="#translations" data-toggle="tab">Translations <span class="badge"><%= @edition.translations.count - 1 %></span></a></li>
      <% end %>
      <% if @edition.allows_attachments? %>
        <li><a href="#attachments" data-toggle="tab">Attachments <span class="badge"><%= @edition.attachments.count %></span></a></li>
      <% end %>
      <li><a href="#associations" data-toggle="tab">Associations</a></li>
      <li><a href="#document-sources" data-toggle="tab">Old URLs</a></li>
    </ul>
    <div class="tab-content">
      <section class="document_page tab-pane active" id="document">
        <%= render partial: 'edition', locals: { edition: @edition } %>

        <% if @edition.is_a?(Consultation) && @edition.outcome.present? %>
          <section class="consultation_response">
            <h1>Consultation outcome</h1>
            <p class="published_date"><%= consultation_outcome_published_phrase(@edition.outcome) %></p>
            <% if @edition.outcome.summary.present? %>
              <span class="summary"><%= @edition.outcome.summary %></span>
            <% end %>
            <% if @edition.outcome.attachments.any? %>
              <ul class="attachments">
                <% @edition.outcome.attachments.each do |attachment| %>
                  <li class="attachment">
                    <%= link_to attachment.title, attachment.file.url, class: 'title' %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </section>
        <% end %>

      </section>
      <% if @edition.change_note_required? %>
        <section id="change-note" class="tab-pane">
          <h1>Change note</h1>
          <p><% if @edition.minor_change? %>
              This is a minor change
          <% elsif @edition.change_note.blank? %>
              None
          <% else %>
              <%= @edition.change_note %>
          <% end %></p>
        </section>
      <% end %>
      <% if @edition.allows_supporting_pages? %>
        <section class="tab-pane supporting_pages" id="supporting_pages">
          <h1>Supporting pages
          <% if @edition.editable? %>
            <span class="add_supporting_page pull-right"> <%= link_to new_admin_edition_supporting_page_path(@edition), title: "Add supporting page to #{@edition.title}", class: "btn btn-primary" do %>
              <i class="icon-plus-sign icon-white"></i> Add
            <% end %>
            </span>
          <% end %>
          </h1>

        <% @edition.supporting_pages.each do |supporting_page| %>
          <%= content_tag_for :section, supporting_page do %>
            <p><%= link_to supporting_page.title, admin_supporting_page_path(supporting_page) %></p>
            <%= render partial: "admin/supporting_pages/supporting_page", object: supporting_page %>
          <% end %>
        <% end %>
      </section>
    <% end %>
    <% if @edition.translatable? %>
      <section class="tab-pane translations" id="translations">
        <h1>Translations</h1>
        <% if @edition.editable? %>
          <section>
            <nav class="actions">
              <% if @edition.missing_translations.any? %>
                <%= form_tag admin_edition_translations_path(@edition) do %>
                  <%= label_tag :translation_locale, 'Locale' %>
                  <%= select_locale :translation_locale, @edition.missing_translations %>
                  <%= submit_tag "Add translation", class: "btn btn-primary" %>
                <% end %>
              <% end %>
            </nav>
          </section>
        <% end %>
        <% @edition.non_english_translations.each do |translation| %>
          <p><%= Locale.new(translation.locale).english_language_name %> translation</p>
          <%= content_tag_for :section, translation, class: "document_page locale-#{translation.locale}" do %>
            <nav class="actions">
              <% if @edition.editable? %>
                <%= link_to "Edit", edit_admin_edition_translation_path(@edition, translation.locale), class: "btn" %>
              <% end %>
              <% if @edition.deletable? %>
                <%= button_to "Delete", admin_edition_translation_path(@edition, translation.locale), method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to delete this translation?" %>
              <% end %>
            </nav>
            <%= content_tag :article, class: "document#{" right-to-left" if Locale.find_by_code(translation.locale).rtl?}" do %>
              <h2 class="title"><%= translation.title %></h2>
              <p class="summary"><%= translation.summary %></p>
              <p class="body"><%= govspeak_to_admin_html(translation.body) %></p>
            <% end %>
          <% end %>
        <% end %>
      </section>
    <% end %>
    <% if @edition.allows_attachments? %>
      <section class="tab-pane" id="attachments">
        <h1>Attachments</h1>
        <% if @edition.attachments.any? %>
          <ol class="existing-attachments">
            <% @edition.attachments.each do |attachment| %>
              <li class="clearfix well">
                <%= attachment_thumbnail(attachment) %>
                <span class="title"><%= attachment.title %></span>
                <span class="file">File: <%= link_to attachment.filename, attachment.url %></span>
                <%= attachment_metadata_tag(attachment) %>
              </li>
            <% end %>
          </ol>
        <% else %>
          <p>No attachments</p>
        <% end %>
      </section>
    <% end %>
    <section class="tab-pane" id="associations">
      <h1>Associations</h1>
      <%= render partial: "outbound_links", locals: { edition: @edition } %>

      <%= render partial: "inbound_links", locals: { edition: @edition } %>

      <% if @edition.respond_to?(:policy_team) && @edition.policy_team %>
        <section id="policy_team">
          <h1>Who's working on this?</h1>
          <p class="name"><%= @edition.policy_team.name %></p>
          <% if @edition.policy_team.email.present? %>
            <p><%= mail_to @edition.policy_team.email, @edition.policy_team.email %></p>
          <% end %>
        </section>
      <% end %>

      <% if @edition.can_apply_to_subset_of_nations? %>
        <section>
          <h1>Excluded nations</h1>
          <% if @edition.nation_inapplicabilities.any? %>
            <%= render partial: "nation_inapplicabilities/list", locals: {nation_inapplicabilities: @edition.nation_inapplicabilities} %>
          <% else %>
            <p>This document applies to the whole of the UK.</p>
          <% end %>
        </section>
      <% end %>

      <% if @edition.can_be_related_to_policies? %>
        <section>
          <h1>Related policies</h1>
          <% if @edition.related_policies.any? %>
            <%= render partial: "admin/editions/related_policies", locals: {policies: @edition.related_policies} %>
          <% else %>
            <p>This document doesn't have any related policies.</p>
          <% end %>
        </section>
      <% end %>

      <% if @edition.images.any? %>
        <section class="images">
          <h1>Images</h1>
          <% @edition.images.each do |image| %>
            <%= image_tag image.url, id: dom_id(image) %>
          <% end %>
        </section>
      <% end %>

      <% if @edition.can_be_grouped_in_series? %>
        <section>
          <h1>Document series</h1>
          <% if @edition.document_series.any? %>
          <% @edition.document_series.each do |document_series| %>
              <%= content_tag_for :p, document_series do %>
                <%= link_to document_series.name, admin_organisation_document_series_path(document_series.organisation, document_series) %>
              <% end %>
            <% end %>
          <% else %>
            <p>This document is not associated with any series.</p>
          <% end %>
        </section>
      <% end %>

      <% if @edition.can_apply_to_local_government? %>
        <section>
          <h1>Relevant to local government</h1>
          <p>
          Local government content: <%= @edition.relevant_to_local_government ? 'Yes' : 'No'%>
          </p>
        </section>
      <% end %>
    </section>

    <section class="tab-pane" id="document-sources">
      <% if current_user.can_import? %>
        <h1>Old URLs (one per line)</h1>
          <%= form_tag admin_edition_document_sources_path(@edition), method: :put do %>
            <%= text_area_tag :document_sources, @edition.document.document_sources.map(&:url).join("\n"), rows: 30 %>
            <%= submit_tag "Update", class: "btn-primary btn-large" %>
          <% end %>
      <% else %>
        <h1>Old URLs</h1>
        <ul>
          <% @edition.document.document_sources.map(&:url).each do |url| %>
            <li><%= url %></li>
          <% end %>
        </ul>
      <% end %>
    </section>
  </div>
</div>
