<section class="edition-view-edit-buttons">
  <% if @edition.publicly_visible? %>
    <%= link_to "View on website", public_document_url(@edition), class: 'btn btn-lg btn-primary public_version', target: '_blank' %>
  <% elsif @edition.translatable? && @edition.available_in_multiple_languages? %>
    <%= render 'admin/shared/bootstrap/button_dropdown',
                button_text: 'Preview on website',
                links: translation_preview_links(@edition) %>
  <% else %>
    <%= link_to "Preview on website", preview_document_url(@edition), class: 'btn btn-lg btn-primary preview_version', target: '_blank' %>
  <% end %>

  <% if @edition.editable? %>
    <%= edit_edition_button(@edition) %>
  <% elsif @edition.is_latest_edition? and @edition.published? %>
    <%= redraft_edition_button(@edition) %>
  <% end %>
  <% if @edition.publicly_visible? %>
      <%= content_data_button(@edition) %>
  <% end %>
</section>

<% if @edition.has_enabled_shareable_preview? %>
  <section>
    <%
    utm_uri = preview_document_url_with_auth_bypass_token(@edition)
    %>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="glyphicon glyphicon-smaller-than-text glyphicon-chevron-down add-right-margin"></i>
            Share document preview
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body" data-module="track-button-click" data-track-category="pageElementInteraction" data-track-action="CopyDocumentPreview">
            <p>Send this preview link to someone so they can see the content and how the document will appear on GOV.UK.</p>
            <p>No password is needed and anyone with the preview link can view it. You're responsible for who you share draft documents with. </p>
            <p>The preview link will expire on <%= Date.today.next_month.strftime('%-d %B %Y') %> or when the document is published.</p>
            <input class="form-control form-group-lg" type="text" readonly="readonly" value="<%= utm_uri %>" /><br>
            <%= link_to "Copy link", "#", id: "copy_preview_link", title: "Copy preview link", class: "btn btn-default btn-lg copy-to-clipboard" %><br>

            <% if !@edition.publicly_visible? %>
              <br>
              <p>Reset and generate a new preview link if you've shared the preview with the wrong person or if the link has expired. This will disable the previous preview link.</p>
              <%= link_to "Generate new link", update_bypass_id_admin_edition_path(@edition), class: 'btn btn-lg btn-default', method: :patch %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<% content_for :before_pageview_js do %>
 <% custom_track_dimensions(@edition, @edition_taxons).each do |k,v| %>
 GOVUKAdmin.setDimension(<%= k %>, '<%= v %>');
 <% end %>
<% end %>
