<% initialise_script 'GOVUK.AdminRenameAttachments', form_id: '#attachment_form' %>
<%= form_tag [:update_many, :admin, typecast_for_attachable_routing(@edition), Attachment], method: :put, id: 'attachment_form', remote: true, class: 'form-inline' %>

<table class="table">
<thead>
  <tr>
    <th>Title</th>
    <th>Filename</th>
    <th></th>
  </tr>
</thead>
<% @edition.attachments.each do |attachment| %>
  <tr>
    <td id='<%= "js-attachment-#{attachment.id}" %>' class="control-group">
      <%= fields_for 'attachments[]', attachment, builder: ActionView::Helpers::FormBuilder do |f| %>
        <%= f.text_field :title %>
      <% end %>
    </td>
    <td class="attachment-filename"><%= link_to_attachment(attachment, preview: !@edition.published?, truncate: @edition.imported?) %></td>
    <td class="virus-status"><%= attachment_virus_status(attachment) %></td>
    <!--<td><%= attachment_metadata_tag(attachment) %></td>-->
  </tr>
<% end %>
</table>
<div class="inline-submit notices">
  <%= submit_tag "Save attachments", class: "btn btn-primary" %>
</div>
</form>
