<section class="responses">
  <% if edition.all_completed_fact_check_requests.any? %>
  <h1>Responses</h1>
  <ul id="completed_fact_check_requests">
    <% edition.all_completed_fact_check_requests.includes(:edition).each do |fact_check_request| %>
      <%= content_tag_for(:li, fact_check_request) do %>
        <div class="details">
          <span class="from"><%= fact_check_request.email_address %></span>
          <span class="time"><%= distance_of_time_in_words_to_now(fact_check_request.updated_at) %> ago</span>
        </div>
        <div class="comments">
          <%= format_in_paragraphs fact_check_request.comments %>
          <% unless fact_check_request.edition == edition %>
            <p>(This refers to an older edition.)</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </ul>
  <% else %>
    <p>Document doesn&#x27;t have any fact checking responses yet.</p>
  <% end %>
</section>
<section class="pending">
  <% if edition.fact_check_requests.pending.any? %>
  <h1>Pending requests</h1>
  <ul id="pending_fact_check_requests">
    <% edition.fact_check_requests.pending.each do |fact_check_request| %>
      <li class="fact_check_request pending">
        <div class="details">
          <span class="from"><%= fact_check_request.email_address %></span>
          <span class="time">(<%= distance_of_time_in_words_to_now(fact_check_request.updated_at) %> ago)</span>
        </div>
      </li>
    <% end %>
  </ul>
  <% end %>
</section>