<%
  filter_by ||= [:title, :author, :world_location, :type, :state, :date]
%>
<nav class="editions-filter">
  <h2>Filter list by:</h2>
  <% if filter_by.include?(:title) %>
    <div class="filter-grouping">
      <h3>Title or slug</h3>
      <%= form_tag("", method: :get, id: 'title_filter') do %>
        <%= pass_through_filter_options_as_hidden_fields(@filter, :organisation, :type, :state, :author, :world_location, :from_date, :to_date) %>
        <input type="search" id="search_title" name="title" value="<%= @filter.options[:title] %>" placeholder="Search title">
      <% end %>
    </div>
  <% end %>
  <% if filter_by.include?(:author) %>
    <div class="filter-grouping">
      <h3>Author</h3>
      <%= form_tag("", method: :get, class: "js-edition-select-filter", id: 'author_filter') do %>
        <%= select_tag  :author,
                        options_for_select(admin_author_filter_options(current_user), @filter.options[:author]),
                        class: 'chzn-select',
                        include_blank: true,
                        data: { placeholder: "All authors" } %>
        <%= pass_through_filter_options_as_hidden_fields(@filter, :type, :state, :world_location, :from_date, :to_date) %>
        <%= submit_tag "Go", class: "btn js-hidden" %>
      <% end %>

      <h3>or organisation</h3>
      <%= form_tag("", method: :get, class: "js-edition-select-filter", id: 'organisation_filter') do %>
        <%= select_tag  :organisation,
                        options_for_select(admin_organisation_filter_options(current_user), @filter.options[:organisation]),
                        class: 'chzn-select',
                        include_blank: true,
                        data: { placeholder: "All organisations" } %>
        <%= pass_through_filter_options_as_hidden_fields(@filter, :type, :state, :world_location, :from_date, :to_date) %>
        <%= submit_tag "Go", class: "btn js-hidden" %>
      <% end %>
    </div>
  <% end %>

  <% if filter_by.include?(:world_location) %>
    <div class="filter-grouping">
      <h3>World location</h3>
      <%= form_tag("", method: :get, class: "js-edition-select-filter", id: 'world_location_filter') do %>
        <%= select_tag  :world_location,
                        options_for_select(admin_world_location_filter_options(current_user), @filter.options[:world_location]),
                        class: 'chzn-select',
                        include_blank: true,
                        data: { placeholder: "All locations" } %>
        <%= pass_through_filter_options_as_hidden_fields(@filter, :type, :state, :author, :from_date, :to_date) %>
        <%= submit_tag "Go", class: "btn js-hidden" %>
      <% end %>
    </div>
  <% end %>

  <% if filter_by.include?(:type) %>
    <div class="filter-grouping">
      <h3>Document type</h3>
      <%= form_tag("", method: :get, class: "js-edition-select-filter", id: 'type_filter') do  %>
        <%= select_tag :type,
                        filter_edition_type_options_for_select(current_user, @filter.options[:type]),
                        class: 'chzn-select-no-search',
                        include_blank: true,
                        data: { placeholder: "All types"} %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :organisation, :world_location_ids, :state, :author, :from_date, :to_date) %>
          <%= submit_tag "Go", class: "btn js-hidden" %>
      <% end %>
    </div>
  <% end %>

  <% if filter_by.include?(:state) %>
    <div class="filter-grouping">
      <h3>State</h3>
      <%= form_tag("", method: :get, class: "js-edition-select-filter", id: 'state_filter') do  %>
        <%= select_tag :state,
                        options_for_select(admin_state_filter_options, @filter.options[:state]),
                        class: 'chzn-select-no-search',
                        data: { placeholder: "All states"} %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :organisation, :world_location_ids, :type, :author, :from_date, :to_date) %>
          <%= submit_tag "Go", class: "btn js-hidden" %>
      <% end %>
    </div>
  <% end %>

  <% if filter_by.include?(:date) %>
    <div class="filter-grouping">
      <h3>Date (last updated)</h3>
      <%= form_tag("", method: :get, class: "date-filter") do  %>
        <%= label_tag :from_date, "From" %>
        <%= text_field_tag :from_date, @filter.options[:from_date], class: 'date' %>
        <%= label_tag :to_date, "To" %>
        <%= text_field_tag :to_date, @filter.options[:to_date], class: 'date' %>
        <%= pass_through_filter_options_as_hidden_fields(@filter, :organisation, :world_location_ids, :state, :author, :type) %>
        <%= submit_tag "Go", class: "btn js-hidden" %>
      <% end %>
    </div>
  <% end %>
</nav>

