<%
  filter_by ||= [:title, :author, :world_location, :type, :state]
%>
<nav class="well" style="padding: 8px 0;">
  <ul class="nav nav-list">
    <% if filter_by.include?(:title) %>
      <li class="nav-header">Filter by Title or Slug</li>
      <li>
        <%= form_tag("", method: :get, class: "pull-left") do %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :organisation, :type, :state, :author, :world_location_ids) %>
          <input type="search" id="search_title" name="title" value="<%= @filter.options[:title] %>" placeholder="Search title">
        <% end %>
      </li>
    <% end %>

    <% if filter_by.include?(:author) %>
      <li class="nav-header">Filter by Author</li>
      <%= link_to_filter('Me', {locale: params[:locale], author: current_user, organisation: nil}, @filter, title: "Show documents by me") %>
      <%= link_to_filter('My department', {locale: params[:locale], author: nil, organisation: current_user.organisation}, @filter, title: "Show documents by my department") %>

      <li class="organisation-filter <%= active_filter_unless_values_match_class(@filter, :organisation, current_user.organisation_id) %>">
        <%= form_tag("", method: :get) do %>
          <%= select_tag :organisation, options_from_collection_for_select(Organisation.with_translations(:en).all - [current_user.organisation], 'id', 'select_name', @filter.options[:organisation]), class: 'chzn-select', include_blank: true, data: { placeholder: "Other organisations..." } %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :type, :state, :world_location_ids) %>
          <%= submit_tag "Go", class: "btn" %>
        <% end %>
      </li>
      <%= link_to_filter('Everyone', {locale: params[:locale], author: nil, organisation: nil}, @filter, title: "Show documents by everyone") %>
      <li class="author-filter <%= active_filter_unless_values_match_class(@filter, :author, current_user.id.to_s) %>">
        <%= form_tag("", method: :get) do %>
          <%= select_tag :author, options_from_collection_for_select(User.all - [current_user], 'id', 'name', @filter.options[:author]), class: 'chzn-select', include_blank: true, data: { placeholder: "Other authors..." } %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :type, :state, :world_location_ids) %>
          <%= submit_tag "Go", class: "btn" %>
        <% end %>
      </li>
    <% end %>

    <% if filter_by.include?(:world_location) %>
      <li class="nav-header">Filter by World locations</li>
      <% if current_user.world_locations.any? %>
        <%= link_to_filter('My Locations', {world_location_ids: current_user.world_locations.map(&:id)}, @filter, title: "Show documents for your locations") %>
      <% end %>
      <%= link_to_filter('Everywhere', {locale: params[:locale], world_location_ids: "all"}, @filter, title: "Show documents for all locations") %>
      <li class="world-location-filter <%= active_filter_unless_values_match_class(@filter, :world_location_ids, 'all', current_user.world_locations.map(&:id)) %>">
        <%= form_tag("", method: :get) do  %>
          <%= select_tag :world_location_ids,
                         options_from_collection_for_select(WorldLocation.ordered_by_name, 'id', 'name', @filter.options[:world_location_ids]),
                         multiple: true,
                         class: 'chzn-select',
                         data: { placeholder: "World locations..."} %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :organisation, :type, :state, :author) %>
          <%= submit_tag "Go", class: "btn" %>
        <% end %>
      </li>
    <% end %>

    <% if filter_by.include?(:type) %>
      <li class="nav-header">Filter by Kind</li>
      <%= link_to_filter 'All', {locale: params[:locale], type: nil}, @filter, title: "Show all kinds of document" %>
      <%= link_to_filter 'Policies', {locale: params[:locale], type: 'policy'}, @filter, title: "Show only policies" %>
      <%= link_to_filter 'Publications', {locale: params[:locale], type: 'publication'}, @filter, title: "Show only publications" %>
      <%= link_to_filter 'News articles', {locale: params[:locale], type: 'news_article'}, @filter, title: "Show only news articles" %>
      <%= link_to_filter 'Consultations', {locale: params[:locale], type: 'consultation'}, @filter, title: "Show only consultations" %>
      <%= link_to_filter 'Speeches', {locale: params[:locale], type: 'speech'}, @filter, title: "Show only speeches" %>
      <%= link_to_filter 'Detailed guide', {locale: params[:locale], type: 'detailed_guide'}, @filter, title: "Show only detailed guides" %>
      <%= link_to_filter 'Worldwide priorities', {locale: params[:locale], type: 'worldwide_priorities'}, @filter, title: "Show only worldwide priorities" %>
      <%= link_to_filter 'World location news article', {locale: params[:locale], type: 'world_location_news_article'}, @filter, title: "Show only worldwide priorities" %>
      <%= link_to_filter 'Case studies', {locale: params[:locale], type: 'case_studies'}, @filter, title: "Show only case studies" %>
      <%= link_to_filter 'Statistical data sets', {locale: params[:locale], type: 'statistical_data_sets'}, @filter, title: "Show only statistical data sets" %>
      <% if current_user.can_handle_fatalities? %>
        <%= link_to_filter 'Fatality notices', {locale: params[:locale], type: 'fatality_notices'}, @filter, title: "Show only fatality notices" %>
      <% end %>
    <% end %>

    <% if filter_by.include?(:state) %>
      <li class="nav-header">Filter by state</li>
      <% document_type = (@filter.options[:type] || "document").pluralize %>
      <%= link_to_filter 'All', {locale: params[:locale], state: :active}, @filter, title: "Show #{document_type} in any workflow state" %>
      <%= link_to_filter 'Imported (pre-draft)', {locale: params[:locale], state: :imported}, @filter, title: "Show only imported pre-draft #{document_type}" %>
      <%= link_to_filter 'Drafts', {locale: params[:locale], state: :draft}, @filter, title: "Show only draft #{document_type}" %>
      <%= link_to_filter 'Submitted', {locale: params[:locale], state: :submitted}, @filter, title: "Show only submitted #{document_type}" %>
      <%= link_to_filter 'Rejected', {locale: params[:locale], state: :rejected}, @filter, title: "Show only rejected #{document_type}" %>
      <%= link_to_filter 'Scheduled', {locale: params[:locale], state: :scheduled}, @filter, title: "Show only scheduled #{document_type}" %>
      <%= link_to_filter 'Published', {locale: params[:locale], state: :published}, @filter, title: "Show only published #{document_type}" %>
      <%= link_to_filter 'Force Published <br/>(not reviewed)'.html_safe, {locale: params[:locale], state: :force_published}, @filter, title: "Show only force published #{document_type}" %>
    <% end %>
  </ul>
</nav>
