<%
  filter_by ||= [:title, :author, :world_location, :type, :state, :date]
%>
<nav class="well" style="padding: 8px 0;">
  <ul class="nav nav-list">
    <% if filter_by.include?(:title) %>
      <li class="nav-header">Filter by Title or Slug</li>
      <li>
        <%= form_tag("", method: :get, class: "pull-left") do %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :organisation, :type, :state, :author, :world_location_ids, :from_date, :to_date) %>
          <input type="search" id="search_title" name="title" value="<%= @filter.options[:title] %>" placeholder="Search title">
        <% end %>
      </li>
    <% end %>
    <% if filter_by.include?(:author) %>
      <li class="nav-header">Filter by Organisation</li>
      <li class="organisation-filter">
        <%= form_tag("", method: :get) do %>
          <%= select_tag :organisation, admin_organisation_filter_options(@filter, current_user), class: 'chzn-select', include_blank: true, data: { placeholder: "All organisations" } %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :type, :state, :world_location_ids, :from_date, :to_date) %>
          <%= submit_tag "Go", class: "btn" %>
        <% end %>
      </li>

      <li class="nav-header">Filter by Author</li>
      <li class="author-filter">
        <%= form_tag("", method: :get) do %>
          <%= select_tag :author, admin_author_filter_options(@filter, current_user), class: 'chzn-select', include_blank: true, data: { placeholder: "All authors" } %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :type, :state, :world_location_ids, :from_date, :to_date) %>
          <%= submit_tag "Go", class: "btn" %>
        <% end %>
      </li>
    <% end %>

    <% if filter_by.include?(:world_location) %>
      <li class="nav-header">Filter by World locations</li>
      <% if current_user.world_locations.any? %>
        <%= link_to_filter('My Locations', {world_location_ids: current_user.world_locations.map(&:id)}, @filter, title: "Show documents for your locations") %>
      <% end %>
      <%= link_to_filter('Everywhere', {locale: params[:locale], world_location_ids: "all"}, @filter, title: "Show documents for all locations") %>
      <li class="world-location-filter <%= active_filter_unless_values_match_class(@filter, :world_location_ids, 'all', current_user.world_locations.map(&:id)) %>">
        <%= form_tag("", method: :get) do  %>
          <%= select_tag :world_location_ids,
                         options_from_collection_for_select(WorldLocation.ordered_by_name, 'id', 'name', @filter.options[:world_location_ids]),
                         multiple: true,
                         class: 'chzn-select',
                         data: { placeholder: "World locations..."} %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :organisation, :type, :state, :author, :from_date, :to_date) %>
          <%= submit_tag "Go", class: "btn" %>
        <% end %>
      </li>
    <% end %>

    <% if filter_by.include?(:type) %>
      <li class="nav-header">Filter by Kind</li>
      <%= link_to_filter 'All', {locale: params[:locale], type: nil}, @filter, title: "Show all kinds of document" %>
      <li class="edition-kind-filter">
        <%= form_tag("", method: :get) do  %>
          <%= select_tag :type,
                          options_for_select(filter_options_for_edition(current_user), @filter.options[:type]),
                          class: 'chzn-select',
                          include_blank: true,
                          data: { placeholder: "Kind..."} %>
            <%= pass_through_filter_options_as_hidden_fields(@filter, :organisation, :world_location_ids, :state, :author, :from_date, :to_date) %>
            <%= submit_tag "Go", class: "btn" %>
          <% end %>
      </li>
    <% end %>

    <% if filter_by.include?(:state) %>
      <li class="nav-header">Filter by state</li>
      <% document_type = (@filter.options[:type] || "document").pluralize %>
      <%= link_to_filter 'All', {locale: params[:locale], state: :active}, @filter, title: "Show #{document_type} in any workflow state" %>
      <%= link_to_filter 'Imported (pre-draft)', {locale: params[:locale], state: :imported}, @filter, title: "Show only imported pre-draft #{document_type}" %>
      <%= link_to_filter 'Drafts', {locale: params[:locale], state: :draft}, @filter, title: "Show only draft #{document_type}" %>
      <%= link_to_filter 'Submitted', {locale: params[:locale], state: :submitted}, @filter, title: "Show only submitted #{document_type}" %>
      <%= link_to_filter 'Rejected', {locale: params[:locale], state: :rejected}, @filter, title: "Show only rejected #{document_type}" %>
      <%= link_to_filter 'Scheduled', {locale: params[:locale], state: :scheduled}, @filter, title: "Show only scheduled #{document_type}" %>
      <%= link_to_filter 'Published', {locale: params[:locale], state: :published}, @filter, title: "Show only published #{document_type}" %>
      <%= link_to_filter 'Force Published <br/>(not reviewed)'.html_safe, {locale: params[:locale], state: :force_published}, @filter, title: "Show only force published #{document_type}" %>
    <% end %>

    <% if filter_by.include?(:date) %>
      <li class="nav-header">Filter by date (last updated)</li>
      <li class="date-filter">
        <%= form_tag("", method: :get) do  %>
          <%= label_tag :from_date, "From" %>
          <%= text_field_tag :from_date, @filter.options[:from_date], class: 'date' %>
          <%= label_tag :to_date, "To" %>
          <%= text_field_tag :to_date, @filter.options[:to_date], class: 'date' %>
          <%= pass_through_filter_options_as_hidden_fields(@filter, :organisation, :world_location_ids, :state, :author, :type) %>
          <%= submit_tag "Go", class: "btn" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
