<% if edition.published_major_version.nil? %>
  <fieldset class="first_published_date well">
  <p class="required">This document <span>*</span></p>
  <%= form.label :document_new_true, class: 'radio' do %>
    <%= form.radio_button(:document_new, true, disabled: edition.imported?) %>
    has never been published before. It is new.
  <% end %>

  <%= form.label :document_new_false, class: 'radio' do %>
    <%= form.radio_button(:document_new, false, disabled: edition.imported?) %>
    has previously been published on another website..
  <% end %>

  <div class="js-show-first-published">
    <% if edition.imported? %>
      <%= form.label :first_published_at, "First published <span>*</span>".html_safe, class: 'required extra-label' %>
    <% else %>
      <%= form.label :first_published_at, "Its original publication date was <span>*</span>".html_safe, class: 'required extra-label' %>
    <% end %>
    <%= form.datetime_select :first_published_at, { include_blank: true, start_year: Date.today.year, end_year: 1945 }, { class: 'date' } %>
    <% if !edition.imported? %><span class="explanation">Only complete this field if the document is not new.</span><% end %>
  </div>
  </fieldset>
<% else %>
  <fieldset class="first_published_date">
  <p>First published</p>
  <p class="existing-first-published"><span><%= edition.first_published_at.strftime('%I:%M%P, %d %B %Y') %></span> <a href="#">Edit date</a></p>
  <div class="edit">
    <%= form.datetime_select :first_published_at, { start_year: Date.today.year, end_year: 1945 }, { class: 'date js_first_published_at_edit' } %>
  </div>
  </fieldset>
<% end %>

