<div class="gem-c-date-input govuk-date-input govuk-datetime <%= 'govuk-form-group--error' if errors_for_input(edition.errors, :first_published_at).present? %>">
  <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-4">Date</h3>

  <div class="gem-c-hint govuk-hint govuk-!-margin-bottom-2">
    For example, 01 August 2022
  </div>

  <% if errors_for_input(edition.errors, :first_published_at).present? %>
    <p class="gem-c-error-message govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> <%= errors_for_input(edition.errors, :first_published_at) %>
    </p>
  <% end %>

  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label for="edition_first_published_at_3i" class="gem-c-label govuk-label">Day</label>
      <%= select_day edition.first_published_at&.day, { include_blank: true, prefix: "edition", field_name: "first_published_at(3i)" } %>
    </div>
  </div>

  <div class="govuk-date-input__item govuk-datetime-month">
    <div class="govuk-form-group">
      <label for="edition_first_published_at_2i" class="gem-c-label govuk-label">Month</label>
      <%= select_month edition.first_published_at&.month, { include_blank: true, prefix: "edition", field_name: "first_published_at(2i)" } %>
    </div>
  </div>

  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label for="edition_first_published_at_1i" class="gem-c-label govuk-label">Year</label>
      <%= select_year edition.first_published_at&.year, { include_blank: true, start_year: 1997, end_year: Date.today.year + 5, prefix: "edition", field_name: "first_published_at(1i)" } %>
    </div>
  </div>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-4">Time</h3>

  <div class="gem-c-hint govuk-hint govuk-!-margin-bottom-2">
    For example, 09:30 or 19:30
  </div>

  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label for="edition_first_published_at_4i" class="gem-c-label govuk-label">Hour</label>
      <%= select_hour edition.first_published_at&.hour, { include_blank: true, prefix: "edition", field_name: "first_published_at(4i)" } %>
    </div>
  </div>

  <p class="govuk-body govuk-date-input__item"> :</p>

  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label for="edition_first_published_at_5i" class="gem-c-label govuk-label">Minute</label>
      <%= select_minute edition.first_published_at&.min, { include_blank: true, prefix: "edition", field_name: "first_published_at(5i)" } %>
    </div>
  </div>
</div>
