<%= form_for [:admin, edition] do |edition_form| %>
  <% if edition.errors.any? %>
    <p>To save the edition please fix the following issues:</p>
    <ul id="errors">
      <% edition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <fieldset>
    <%= edition_form.hidden_field :lock_version %>
    <%= hidden_field_tag :document_type, edition.document_type %>
    <%= edition_form.label :title %>
    <%= edition_form.text_field :title, disabled: disabled %>
    <%= edition_form.label :body, 'Policy' %>
    <%= edition_form.text_area :body, disabled: disabled %>
    <%= edition_form.label :attach_file, 'Attachment' %>
    <%= edition_form.file_field :attach_file, disabled: disabled %>
    <% unless edition.new_record? %>
      <p class="attachment"><%= link_to_attachment(edition.attachment) %></p>
    <% end %>
  </fieldset>
  <fieldset>
    <%= edition_form.label :organisation_ids, 'Organisations' %>
    <%= edition_form.select :organisation_ids, options_from_collection_for_select(Organisation.all, 'id', 'name', edition.organisation_ids), {}, multiple: true %>
  </fieldset>
  <fieldset>
    <%= edition_form.label :topic_ids, 'Topics' %>
    <%= edition_form.select :topic_ids, options_from_collection_for_select(Topic.all, 'id', 'name', edition.topic_ids), {}, multiple: true %>
  </fieldset>
  <% unless disabled %>
    <%= edition_form.submit 'Save' %>
    <span class="or_cancel">
      or
      <%= link_to 'cancel', (edition.new_record? ? admin_editions_path : admin_edition_path(edition)) %>
    </span>
  <% end %>
<% end %>