= form_for [:admin, edition] do |edition_form|
  - if edition.errors.any?
    %p To save the edition please fix the following issues:
    %ul#errors
      - edition.errors.full_messages.each do |msg|
        %li= msg

  = edition_form.hidden_field :lock_version
  = hidden_field_tag :document_type, edition.document_type
  = edition_form.label :title
  = edition_form.text_field :title, disabled: disabled
  = edition_form.label :body, 'Policy'
  = edition_form.text_area :body, disabled: disabled
  = edition_form.label :attachment
  = edition_form.file_field :attachment, disabled: disabled
  %p.attachment= link_to_attachment(edition.attachment)
  - unless disabled
    = edition_form.submit 'Save'
    %span.or_cancel
      or
      =link_to 'cancel', (edition.new_record? ? admin_editions_path : admin_edition_path(edition))