<%= content_tag :fieldset, id: "image_fields", class: "images multiple_file_uploads#{' right-to-left' if edition.rtl?}" do %>
  <legend>Images</legend>
  <% i = 0 %>
  <%= form.fields_for :images do |images_fields| %>
    <% if images_fields.object.new_record? %>
      <div class="file_upload well">
        <h3>New image</h3>
        <%= images_fields.fields_for :image_data do |image_data_fields| %>
          <%= image_data_fields.upload :file %>
        <% end %>
        <%= images_fields.text_field :alt_text, label_text: 'Alt text' %>
        <%= images_fields.text_area :caption, rows: 2 %>
      </div>
    <% else %>
      <% i += 1 %>
      <div class="image">
        <%= images_fields.hidden_field :id %>
        <div class="image-container">
          <%= image_tag(images_fields.object.url) %>
        </div>
        <div class="fields-container">
          <%= images_fields.text_field :alt_text, label_text: 'Alt text' %>
          <%= images_fields.text_area :caption, rows: 2 %>
          <% checkbox_args = nested_attribute_destroy_checkbox_options(images_fields, label_text: "(uncheck to remove)") %>
          <%= images_fields.check_box :_destroy, *checkbox_args  %>
        </div>
          <% if edition.image_disallowed_in_body_text?(i) %>
            <p>This image is shown automatically, and is not available for use inline in the body.</p>
          <% else %>
            <p>Markdown to use:
              <input type="text" readonly="readonly" value="!!<%= i %>" />
            </p>
          <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
