<div class="govuk-!-margin-bottom-8">
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: edition.allows_image_attachments? ? "Images and Attachments" : "Attachments",
    heading_size: "l",
    id: "edition_alternative_format_provider",
    error_message: errors_for_input(edition.errors, :alternative_format_provider)
  } do %>
    <% if edition.new_record? %>
      <p class="govuk-body">
        <% if edition.allows_image_attachments? %>
          To add images and attachments you must save the document first. After
          saving, use the tabs at the top of the page to upload, edit and
          delete images and attachments.
        <% else %>
          If you’d like to add an attachment to this document, please save
          it first. You’ll then find a tab at the top of the page that you
          can use to upload, edit and delete attachments.
        <% end %>
      </p>
    <% else %>
      <% if edition.allows_image_attachments? %>
        <p class="govuk-body">
          Use the tabs at the top of the page to upload, edit and delete images
          and attachments.
        </p>
      <% end %>
    <% end %>
    <% if edition.respond_to?(:alternative_format_provider) %>
      <div class="govuk-form-group gem-c-select">
        <label class="govuk-label govuk-label--m govuk-!-font-weight-bold" for="alternative_format_provider_id">
          Email address for ordering attachment files in an alternative format <%= "(required)" if edition.alternative_format_provider_required? %>
        </label>

        <div id="alternative-format-provider-hint" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
          If the email address you need isn’t here, it should be added to the relevant Department or Agency
        </div>

        <select name="edition[alternative_format_provider_id]" id="edition_alternative_format_provider_id" class="govuk-select" aria-describedby="alternative-format-provider-hint">
          <option></option>
          <% taggable_alternative_format_providers_container.each do |name, id| %>
            <option
              value="<%= id %>"
              <%="disabled='disabled'" if name.end_with?('(-)') %>
              <%="selected" if (id == edition.alternative_format_provider_id || (edition.alternative_format_provider_id.blank? && id == current_user.organisation.try(:id))) %>>
              <%= name %>
            </option>
          <% end %>
        </select>
      </div>
    <% end %>
  <% end %>
</div>
