<fieldset class="excluded_nations">
  <legend>Excluded nations</legend>
  <%= form.fields_for :nation_inapplicabilities do |ni_fields| %>
    <%= content_tag_for(:div, ni_fields.object.nation, class: 'control-group') do %>
      <div class="control">
        <%= ni_fields.check_box :excluded, label_text: ni_fields.object.nation.name, checked: ni_fields.object.excluded? %>
      </div>
      <div class="control">
        <%= ni_fields.text_field :alternative_url %>
        <%= ni_fields.hidden_field :nation_id %>
      </div>
    <% end %>
  <% end %>
</fieldset>
