<nav class="actions">
  <% if edition.published? %>
    <div class="public_version">
      <p>View <%= link_to edition.title, public_document_url(edition) %> on public website</p>
    </div>
  <% end %>
  <% if edition.previewable? %>
    <div class="preview_version">
      <p>Preview <%= link_to edition.title, preview_document_url(edition) %> on public website</p>
    </div>
  <% end %>
  <% if edition.force_published? %>
    <div class="alert alert-error force_published">
      <p>This edition was force published, and has not yet been reviewed by a
      second pair of eyes. </p>

      <% if edition.approvable_retrospectively_by?(current_user) %>
        <%= approve_retrospectively_edition_button(edition) %>
      <% end %>
    </div>
  <% end %>

  <% if !edition.is_latest_edition? %>
    <%= most_recent_edition_button(edition) %>
  <% elsif edition.editable? %>
    <%= edit_edition_button(edition) %>
  <% elsif edition.published? %>
    <%= redraft_edition_button(edition) %>
  <% end %>

  <% if @edition.publishable_by?(current_user, assuming_presence_of_change_note: true) %>
    <%= publish_edition_form(@edition) %>
  <% elsif @edition.publishable_by?(current_user, force: true, assuming_presence_of_change_note: true) %>
    <%= publish_edition_form(@edition, force: true) %>
  <% end %>

  <%= submit_edition_button(edition) if edition.submittable? %>
  <%= reject_edition_button(edition) if edition.rejectable_by?(current_user) %>
  <%= delete_edition_button(edition) if edition.deletable? %>
  <% if edition.published? && edition.is_a?(Consultation) %>
    <%= show_or_add_consultation_response_button(edition) %>
  <% end %>
</nav>
