<nav class="actions">
  <% if !edition.is_latest_edition? && !edition.latest_edition.accessible_by?(current_user) %>
    <div class="alert alert-info access-limited-latest-edition">
      <p>This isn't the most recent edition of this document - you are
         unable to view the most recent edition because it can only be
         accessed by members of the producing organisation.</p>
    </div>
  <% end %>
  <% if edition.force_published? %>
    <div class="alert alert-error force_published">
      <p>This edition has not yet been reviewed by a
        second pair of eyes. </p>

      <% if edition.approvable_retrospectively_by?(current_user) %>
        <%= approve_retrospectively_edition_button(edition) %>
      <% end %>
    </div>
  <% end %>
  <% if edition.pre_publication? && edition.scheduled_publication.present? %>
    <div class="alert alert-info scheduled-publication">
      <% if edition.scheduled? %>
        <p>Scheduled for publication on <%= l edition.scheduled_publication, format: :long %>. </p>
      <% else %>
        <p>Scheduled publication proposed for <%= l edition.scheduled_publication, format: :long %>. </p>
      <% end %>
    </div>
  <% end %>
  <% if warn_about_lack_of_contacts_in_body?(edition) %>
    <div class="alert alert-info no-contacts">
      <p>This press release has no contact information embedded in the
         body. You may want to edit it and add some.</p>
    </div>
  <% end %>

  <% if edition.published? %>
    <%= link_to "View", public_document_url(edition), class: 'btn btn-primary public_version', target: '_blank' %>
  <% end %>
  <% if edition.previewable? %>
    <%= link_to "Preview", preview_document_path(edition), class: 'btn btn-primary preview_version', target: '_blank' %>
  <% end %>

  <% if !edition.is_latest_edition? %>
    <%= most_recent_edition_button(edition) if edition.latest_edition.accessible_by?(current_user) %>
  <% elsif edition.editable? %>
    <%= edit_edition_button(edition) %>
  <% elsif edition.published? %>
    <%= redraft_edition_button(edition) %>
  <% end %>

  <% if @edition.imported? %>
    <%= convert_to_draft_edition_form(@edition) %>
  <% end %>

  <% if @edition.unschedulable_by?(current_user) %>
    <%= unschedule_edition_button(@edition) %>
  <% end %>

  <% if @edition.schedulable_by?(current_user) %>
    <%= schedule_edition_form(@edition) %>
  <% elsif @edition.schedulable_by?(current_user, force: true) %>
    <%= schedule_edition_form(@edition, force: true) %>
  <% end %>

  <%= submit_edition_button(edition) if edition.submittable? %>

  <% if @edition.publishable_by?(current_user, assuming_presence_of_change_note: true) %>
    <%= publish_edition_form(@edition) %>
  <% elsif @edition.publishable_by?(current_user, force: true, assuming_presence_of_change_note: true) %>
    <%= render partial: "admin/edition_workflow/force_publish_modal", locals: { extra_css_classes: "hide" } %>
    <%= publish_edition_form(@edition, force: true) %>
  <% end %>

  <%= reject_edition_button(edition) if edition.rejectable_by?(current_user) %>
  <%= delete_edition_button(edition) if edition.deletable? %>
  <%= unpublish_edition_button(edition) if edition.unpublishable_by?(current_user) %>
</nav>
<% if @edition.edition_to_diff_against %>
<br/>
<p>
<%= link_to "See what's changed", diff_admin_edition_path(@edition, audit_trail_entry_id: @edition.edition_to_diff_against.id) %>
</p>
<% end %>
