<nav class="actions">
  <% if edition.published? %>
    <div class="public_version">
      <p>View <%= link_to edition.title, public_document_url(edition) %> on public website</p>
    </div>
  <% end %>

  <% if !edition.is_latest_edition? %>
    <%= most_recent_edition_button(edition) %>
  <% elsif edition.editable? %>
    <%= edit_edition_button(edition) %>
  <% elsif edition.published? %>
    <%= redraft_edition_button(edition) %>
  <% end %>

  <%= submit_edition_button(edition) if edition.submittable? %>
  <%= reject_edition_button(edition) if edition.rejectable_by?(current_user) %>
  <%= delete_edition_button(edition) if edition.deletable? %>
  <% if edition.published? && edition.is_a?(Consultation) %>
    <%= show_or_add_consultation_response_button(edition) %>
  <% end %>
  <span class="back">
    back to
    <% if edition.submitted? %>
      <%= link_to 'submitted documents', admin_documents_path(state: :submitted) %>
    <% elsif edition.draft? %>
      <%= link_to 'draft documents', admin_documents_path(state: :draft) %>
    <% elsif edition.published? %>
      <%= link_to 'published documents', admin_documents_path(state: :published) %>
    <% end %>
  </span>
</nav>
