<nav class="actions">
  <% if edition.published? %>
    <div class="public_version">
      <p>View <%= link_to edition.title, public_document_url(edition) %> on public website</p>
    </div>
  <% end %>
  <% if edition.previewable? %>
    <div class="preview_version">
      <p>Preview <%= link_to edition.title, preview_document_path(edition) %> on public website</p>
    </div>
  <% end %>
  <% if edition.force_published? %>
    <div class="alert alert-error force_published">
      <p>This edition has not yet been reviewed by a
        second pair of eyes. </p>

      <% if edition.approvable_retrospectively_by?(current_user) %>
        <%= approve_retrospectively_edition_button(edition) %>
      <% end %>
    </div>
  <% end %>
  <% if edition.pre_publication? && edition.scheduled_publication.present? %>
    <div class="alert alert-info scheduled-publication">
      <% if edition.scheduled? %>
        <p>Scheduled for publication on <%= l edition.scheduled_publication, format: :long %>. </p>
      <% else %>
        <p>Scheduled publication proposed for <%= l edition.scheduled_publication, format: :long %>. </p>
      <% end %>
    </div>
  <% end %>

  <% if !edition.is_latest_edition? %>
    <%= most_recent_edition_button(edition) %>
  <% elsif edition.editable? %>
    <%= edit_edition_button(edition) %>
  <% elsif edition.published? %>
    <%= redraft_edition_button(edition) %>
  <% end %>

  <% if @edition.ready_to_convert_to_draft? %>
    <%= convert_to_draft_edition_form(@edition) %>
  <% end %>
  <% if @edition.unschedulable_by?(current_user) %>
    <%= unschedule_edition_button(@edition) %>
  <% end %>
  <% if @edition.schedulable_by?(current_user) %>
    <%= schedule_edition_form(@edition) %>
  <% elsif @edition.schedulable_by?(current_user, force: true) %>
    <%= schedule_edition_form(@edition, force: true) %>
  <% end %>
  <% if @edition.publishable_by?(current_user, assuming_presence_of_change_note: true) %>
    <%= publish_edition_form(@edition) %>
  <% elsif @edition.publishable_by?(current_user, force: true, assuming_presence_of_change_note: true) %>
    <%= publish_edition_form(@edition, force: true) %>
  <% end %>

  <%= submit_edition_button(edition) if edition.submittable? %>
  <%= reject_edition_button(edition) if edition.rejectable_by?(current_user) %>
  <%= delete_edition_button(edition) if edition.deletable? %>
  <%= unpublish_edition_button(edition) if edition.unpublishable_by?(current_user) %>
</nav>
