<tr id="user-need-id-<%= need["content_id"] %>">
  <td class="description">
    As a <%= need["details"]["role"] %>,<br>
    I need to <%= need["details"]["goal"] %>,<br>
    So that <%= need["details"]["benefit"] %>
  </td>
  <td>
    <%= link_to "View need in Maslow", Whitehall.maslow.need_page_url(need["content_id"]), class: "maslow-url" %>
  </td>
</tr>
