<% if edition.can_be_related_to_organisations? %>
  <fieldset class="named organisations">
    <div class="row">

      <fieldset class="named col-md-6 lead-organisations">
        <legend>Lead organisations</legend>

        <% 0.upto(3) do |index| %>
          <div class="form-group">
            <%= form.label "edition[lead_organisation_ids][]" do %>
              <div class="add-label-margin">
                <%= "Organisation #{index+1}" %>
              </div>
              <% selected_organisation_id = lead_organisation_id_at_index(edition, index) %>
              <div class="normal">
                <% cache_if selected_organisation_id.nil?, "#{taggable_organisations_cache_digest}-lead" do %>
                  <%= select_tag "edition[lead_organisation_ids][]",
                                  options_for_select(taggable_organisations_container,selected_organisation_id),
                                  include_blank: true,
                                  multiple: false,
                                  class: 'chzn-select-non-ie form-control',
                                  data: { placeholder: "Choose a lead organisation which produced this document…" },
                                  id: "edition_lead_organisation_ids_#{index + 1}" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </fieldset>

      <fieldset class="named col-md-6 supporting-organisations">
        <legend>Supporting organisations</legend>
        <% 0.upto(5) do |index| %>
          <%= form.label "edition[supporting_organisation_ids][]" do %>
            <div class="form-group">
              <div class="add-label-margin">
                <%= "Organisation #{index+1}" %>
              </div>
              <div class="normal">
                <% selected_organisation_id = supporting_organisation_id_at_index(edition, index) %>
                <% cache_if selected_organisation_id.nil?, "#{taggable_organisations_cache_digest}-supporting" do %>
                  <%= select_tag "edition[supporting_organisation_ids][]",
                                  options_for_select(taggable_organisations_container,selected_organisation_id),
                                  include_blank: true,
                                  multiple: false,
                                  class: 'chzn-select-non-ie form-control',
                                  data: { placeholder: "Choose a supporting organisation which produced this document…" },
                                  id: "edition_supporting_organisation_ids_#{index + 1}" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </fieldset>
    </div>
  </fieldset>
<% end %>
