<section>
  <h1>This page links to</h1>

  <section>
    <h2>Organisations</h2>
    <% if edition.organisations.any? %>
      <%= render partial: "admin/organisations/organisations_name_list", locals: { organisations: edition.sorted_organisations } %>
    <% else %>
      <p>This document isn't assigned to any organisations.</p>
    <% end %>
  </section>

  <% if edition.respond_to?(:operational_field) %>
    <section>
      <h2>Field of operation</h2>
      <p><%= edition.operational_field.name %></p>
    </section>
  <% end %>

  <% if edition.respond_to?(:alternative_format_provider) %>
    <section>
      <h2>Alternative format provider</h2>
        <% if edition.alternative_format_provider %>
          <p>
            <%= link_to edition.alternative_format_provider.name, organisation_path(edition.alternative_format_provider) %><br />
            Contact email:
            <% if edition.alternative_format_contact_email.present? %>
              <%= edition.alternative_format_contact_email %> - <%= link_to "edit", admin_organisation_path(edition.alternative_format_provider) %>
            <% else %>
              <strong>not set</strong> - <%= link_to "set here", admin_organisation_path(edition.alternative_format_provider) %>
            <% end %>
          </p>
        <% else %>
          <p><strong>not set</strong></p>
        <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_topics? %>
    <section>
      <h2>Topics</h2>
      <% if edition.topics.any? %>
        <%= render partial: "classifications/list", locals: {topics: edition.topics} %>
      <% else %>
        <p>This document isn't assigned to any topics.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_topical_events? %>
    <section>
      <h2>Topical events</h2>
      <% if edition.topical_events.any? %>
        <%= render partial: "classifications/list", locals: {topics: edition.topical_events} %>
      <% else %>
        <p>This document isn't assigned to any topical events.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.respond_to?(:mainstream_categories) %>
    <section>
      <h2>Detailed guidance category</h2>
      <% if edition.mainstream_categories.any? %>
        <ul>
          <% edition.mainstream_categories.each do |mainstream_category| %>
            <li><%= mainstream_category.parent_title %> &gt; <%= link_to mainstream_category.title, mainstream_category_path(mainstream_category) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>This document isn't assigned to any mainstream categories.</p>
      <% end %>
    </section>
  <% end %>


  <% if edition.respond_to?(:related_detailed_guides) %>
    <section>
      <h2>Detailed guides</h2>
      <% if edition.related_detailed_guides.any? %>
        <%= render partial: "detailed_guides/list", locals: {detailed_guides: edition.related_detailed_guides} %>
      <% else %>
        <p>This document isn't assigned to any detailed guides.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_ministers? %>
    <section>
      <h2>Ministers</h2>
      <% if edition.ministerial_roles.any? %>
        <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: edition.ministerial_roles.includes(:translations)} %>
      <% else %>
        <p>This document isn't assigned to any ministers.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.respond_to?(:role_appointments) %>
    <section>
      <h2>Ministerial appointments</h2>
      <% if edition.role_appointments.any? %>
        <%= render partial: "admin/role_appointments/list", locals: {role_appointments: edition.role_appointments} %>
      <% else %>
        <p>This document isn't assigned to any ministerial appointments.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_world_locations? %>
    <section>
      <h2>World locations</h2>
      <% if edition.world_locations.any? %>
        <%= render partial: "admin/world_locations/list", locals: {world_locations: edition.world_locations} %>
      <% else %>
        <p>This document isn't assigned to any world locations.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_worldwide_organisations? %>
    <section>
      <h2>World Organisations</h2>
      <% if edition.worldwide_organisations.any? %>
        <ul>
          <% edition.worldwide_organisations.each do |worldwide_organisation| %>
          <li><%= link_to worldwide_organisation.name, worldwide_organisation_path(worldwide_organisation) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>This document isn't assigned to any world organisations.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_worldwide_priorities? %>
    <section>
      <h2>Worldwide priorities</h2>
      <% if edition.worldwide_priorities.any? %>
        <ul id="related-priorities">
          <%= render partial: 'worldwide_priority', collection: edition.worldwide_priorities %>
        </ul>
      <% else %>
        <p>This document doesn't have any related worldwide priorities.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_statistical_data_sets? %>
    <section>
      <h2>Statistical data sets</h2>
      <% if edition.statistical_data_sets.any? %>
        <ul>
          <%= render partial: "admin/statistical_data_sets/list", collection: edition.statistical_data_sets %>
        </ul>
      <% else %>
        <p>This document isn't associated with any statistical data sets.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_related_to_mainstream_content? %>
    <section class="related_mainstream_content">
      <h2>Related Mainstream Content</h2>
      <% if edition.related_mainstream_content_url.present? || edition.additional_related_mainstream_content_url.present? %>
        <ul>
          <% if edition.related_mainstream_content_url.present? %>
            <li><%= link_to edition.related_mainstream_content_title, edition.related_mainstream_content_url %></li>
          <% end %>
          <% if edition.additional_related_mainstream_content_url.present? %>
            <li><%= link_to edition.additional_related_mainstream_content_title, edition.additional_related_mainstream_content_url %></li>
          <% end %>
        </ul>
      <% else %>
        <p>This document doesn't have any related mainstream content.</p>
      <% end %>
    </section>
  <% end %>
</section>
