<section>
  <h1>This page links to</h1>

  <section>
    <h2>Organisations</h2>
    <% if edition.organisations.any? %>
      <%= render partial: "organisations/organisations_name_list", locals: {organisations: edition.organisations} %>
    <% else %>
      <p>This document isn't assigned to any organisations.</p>
    <% end %>
  </section>

  <% if edition.respond_to?(:alternative_format_provider) %>
    <section>
      <h2>Alternative format provider</h2>
        <% if edition.alternative_format_provider %>
          <p>
            <%= link_to edition.alternative_format_provider.name, organisation_path(edition.alternative_format_provider) %><br />
            Contact email:
            <% if edition.alternative_format_contact_email.present? %>
              <%= edition.alternative_format_contact_email %> - <%= link_to "edit", admin_organisation_path(edition.alternative_format_provider) %>
            <% else %>
              <strong>not set</strong> - <%= link_to "set here", admin_organisation_path(edition.alternative_format_provider) %>
            <% end %>
          </p>
        <% else %>
          <p><strong>not set</strong></p>
        <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_topics? %>
    <section>
      <h2>Topics</h2>
      <% if edition.topics.any? %>
        <%= render partial: "topics/list", locals: {topics: edition.topics} %>
      <% else %>
        <p>This document isn't assigned to any topics.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.respond_to?(:mainstream_category) %>
    <section>
      <h2>Detailed guidance category</h2>
      <% if edition.mainstream_category.present? %>
        <p><%= edition.mainstream_category.parent_title %> &gt; <%= link_to edition.mainstream_category.title, edition.mainstream_category %></p>
      <% else %>
        <p>This document isn't assigned to any topics.</p>
      <% end %>
    </section>
  <% end %>


  <% if edition.respond_to?(:related_specialist_guides) %>
    <section>
      <h2>Specialist Guides</h2>
      <% if edition.related_specialist_guides.any? %>
        <%= render partial: "specialist_guides/list", locals: {specialist_guides: edition.related_specialist_guides} %>
      <% else %>
        <p>This document isn't assigned to any specialist guides.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_ministers? %>
    <section>
      <h2>Ministers</h2>
      <% if edition.ministerial_roles.any? %>
        <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: edition.ministerial_roles} %>
      <% else %>
        <p>This document isn't assigned to any ministers.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_associated_with_countries? %>
    <section>
      <h2>Countries</h2>
      <% if edition.countries.any? %>
        <%= render partial: "admin/countries/list", locals: {countries: edition.countries} %>
      <% else %>
        <p>This document isn't assigned to any countries.</p>
      <% end %>
    </section>
  <% end %>

  <% if edition.can_be_related_to_mainstream_content? %>
    <section class="related_mainstream_content">
      <h2>Related Mainstream Content</h2>
      <% if edition.related_mainstream_content_url.present? || edition.additional_related_mainstream_content_url.present? %>
        <ul>
          <% if edition.related_mainstream_content_url.present? %>
            <li><%= link_to edition.related_mainstream_content_title, edition.related_mainstream_content_url %></li>
          <% end %>
          <% if edition.additional_related_mainstream_content_url.present? %>
            <li><%= link_to edition.additional_related_mainstream_content_title, edition.additional_related_mainstream_content_url %></li>
          <% end %>
        </ul>
      <% else %>
        <p>This document doesn't have any related mainstream content.</p>
      <% end %>
    </section>
  <% end %>
</section>
