<div class="govuk-form-group">
  <label class="gem-c-label govuk-label govuk-!-font-weight-bold" for="publication_type_id">
    Publication type
  </label>
  <select class="govuk-select govuk-select gem-c-select__select--full-width" id="publication_type_id" name="publication_type_id">
    <optgroup label="Common types">
      <% PublicationType.primary.each do |publication_type| %>
        <option value=<%= publication_type.id %> <%= "selected" if edition.publication_type == publication_type %>><%=publication_type.singular_name %></option>
      <% end %>
    <optgroup/>
    <optgroup label="Less common types">
      <% PublicationType.less_common.each do |publication_type| %>
        <option value=<%= publication_type.id %> <%= "selected" if edition.publication_type == publication_type %>><%=publication_type.singular_name %></option>
      <% end %>
    <optgroup/>
    <optgroup label="Use discouraged">
      <% PublicationType.use_discouraged.each do |publication_type| %>
        <option value=<%= publication_type.id %> <%= "selected" if edition.publication_type == publication_type %>><%=publication_type.singular_name %></option>
      <% end %>
    <optgroup/>
  </select>
</div>
