<fieldset>
  <legend>Scheduled publication</legend>
  <%= hidden_field_tag :scheduled_publication_active, 0, id: "" %>
  <div class="checkbox">
    <%= label_tag :scheduled_publication_active, nil, class: [:checkbox, "js-toggle-scheduled-publication-date-picker"] do %>
      <%= check_box_tag :scheduled_publication_active, "1", params[:scheduled_publication_active] == "1" || form.object.scheduled_publication.present? %> Schedule for publication
    <% end %>
  </div>
  <div class="scheduled_publication form-group form-inline">
    <%= form.label :scheduled_publication %><br />
    <%= form.datetime_select :scheduled_publication, {default: Time.zone.parse(Time.zone.now.strftime("%Y-%m-%d 09:30")), minute_step: SCHEDULED_PUBLISHING_PRECISION_IN_MINUTES}, {class: 'date form-control'} %>
  </div>
</fieldset>
