<% show_export = true if show_export.nil? %>
<h1>
  <%= "#{@filter.page_title}" %>
</h1>
<% if @filter.editions.blank? %>
  <div class="add-top-margin no-content no-content-bordered">
    No documents found
  </div>
<% else %>
  <div class="row">
    <div class="col-md-7">
      <%= paginate @filter.editions, theme: 'twitter-bootstrap-3' %>
    </div>
    <div class="col-md-5">
      <div class="publishing-stats">
        <% if @filter.show_stats %>
          <div class="stat">
            <%= pluralize(number_with_delimiter(@filter.published_count), "published document") %>
          </div>
          <div class="stat">
            <%= number_with_delimiter(@filter.force_published_count) %> force published
          </div>
          <div class="stat">
            <%= @filter.force_published_percentage %>% force published
          </div>
          <% else %>
          <div class="stat">
            <%= pluralize(number_with_delimiter(@filter.editions.total_count), "document") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="table-header">
        <% unless @filter.hide_type %>
          <th class="type">Type</th>
        <% end %>
        <th class="title">Title</th>
        <th class="updated-by">Updated by</th>
        <th class="updated">Updated</th>
        <% if viewing_all_active_editions? %>
          <th class="state">State</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @filter.editions.each do |edition| %>
        <%= content_tag_for(:tr, edition, class: ('force_published' if edition.force_published?)) do %>
          <% unless @filter.hide_type %>
            <td class="type"><%= edition_type(edition) %></td>
          <% end %>
          <td class="title">
            <span class="title"><%= link_to edition.title, admin_edition_path(edition), title: "View document #{edition.title}" %></span>
            <% if edition.non_english_edition? %>
              (<%= edition.primary_locale %>)
            <% end %>
            <% # TODO: remove unpublishing information once we have a separate state for unpublished editions
              if edition.unpublishing.present? %>
              unpublished <%= time_ago_in_words(edition.unpublishing.created_at) %> ago
            <% end %>
            <% if edition.force_published? %>
              <span class="force_published label label-danger">not reviewed</span>
            <% end %>
            <% if edition.access_limited? %>
              <span class="access_limited label label-danger">limited access</span>
            <% end %>
            <% if edition.link_check_reports.any? && edition.link_check_reports.last.completed? %>
              <% if edition.link_check_reports.last.broken_links %>
                <span class="has-broken-links label label-primary">has broken links</span>
              <% elsif edition.link_check_reports.last.caution_links %>
                <span class="has-link-warnings label label-info">has link warnings</span>
              <% end %>
            <% end %>
          </td>
          <td class="author"><%= linked_author(edition.last_author) %></td>
          <td class="updated"><span title="<%= edition.updated_at %>"><%= time_ago_in_words edition.updated_at %> ago</span></td>
          <% if viewing_all_active_editions? %>
            <td class="state"><%= admin_edition_state_text(edition) %></td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-7">
      <%= paginate @filter.editions, theme: 'twitter-bootstrap-3' %>
    </div>
    <div class="col-md-5">
      <% if show_export && can?(:export, Edition) %>
        <div class="publishing-stats">
          <%= link_to "Export as CSV", "#{confirm_export_admin_editions_path}?#{@filter.options.to_param}" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
