<div class="speed-tag">
  <% unless @edition.valid_as_draft? %>
    <div class="alert">
      <strong>This edition cannot be converted to draft yet</strong>

      <ul>
        <% @edition.errors_as_draft.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @edition.document.document_sources.empty? %>
    <p>Document sources:</p>
    <ul>
      <% @edition.document.document_sources.each do |document_source| %>
        <li><%= link_to truncate(document_source.url, length: 90), document_source.url, title: document_source.url, target: '_new' %></li>
      <% end %>
    </ul>
  <% end %>


  <%= form_for [:admin, @edition], as: :edition, builder: Admin::EditionsHelper::EditionFormBuilder do |form| %>

    <%= form.text_field :title %>
    <div class="title-length-info">Title text should be 65 characters or fewer and the slug will be truncated past 150. <span class="count"></span></div>

    <%= form.text_area :summary, rows: 2, class: 'js-summary-length-counting', data: { 'count-message-threshold' => 140, 'count-message-selector' => '.summary-length-info' } %>
    <div class="summary-length-info">Summary text should be 140 characters or fewer. <span class="count"></span></div>

    <%= form.text_area :body, class: "previewable" %>

    <%= form.label :organisation_ids, 'Organisations:' %>
    <%= form.select :organisation_ids, options_from_collection_for_select(Organisation.scoped.includes(:translations), 'id', 'name', @edition.organisation_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose organisations which produced this document..." } %>

    <%= render partial: 'required_fields_for_imported_editions', locals: { form: form, edition: form.object } %>

    <% if @edition.can_be_grouped_in_collections? %>
      <%= render partial: 'document_collection_fields', locals: { form: form, edition: form.object } %>
    <% end %>

    <% if @edition.can_be_associated_with_role_appointments? %>
      <div class="row-fluid">
        <h3>Ministers</h3>
        <% @edition.organisations.map(&:ministerial_role_appointments).flatten.each do |role_appointment| %>
          <% if role_appointment.current_at(@edition.first_published_at) %>
            <label class="checkbox">
              <%= check_box_tag 'edition[role_appointment_ids][]', role_appointment.id, @edition.role_appointments.include?(role_appointment) %>
              <%= RoleAppointmentPresenter.new(role_appointment, self).person.name %>
              <span class="muted"><%= role_appointment(role_appointment) %></span>
            </label>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @edition.can_be_associated_with_ministers? && (ministerial_roles = @edition.organisations.flat_map(&:ministerial_roles)).any? %>
      <div class="row-fluid">
        <h3>Ministers</h3>
        <% ministerial_roles.each do |role| %>
          <label class="checkbox">
            <%= check_box_tag 'edition[ministerial_role_ids][]', role.id, @edition.ministerial_roles.include?(role) %>
            <%= RolePresenter.new(role, self).current_person.name %>
            <span class="muted"><%= RolePresenter.new(role, self).name %></span>
          </label>
        <% end %>
      </div>
    <% end %>

    <% if @edition.can_be_related_to_policies? %>
      <div class="row-fluid">
        <h3>Related policies</h3>
        <% policies_for_editions_organisations(@edition).each do |policy| %>
          <label class="checkbox">
            <%= check_box_tag 'edition[related_policy_ids][]', policy.id, @edition.related_policies.include?(policy) %>
            <%= policy.title %><% if policy.topics.any? %>
            <span class="muted"><%= policy.topics.map(&:name).to_sentence%></span>
            <% end %>
          </label>
        <% end %>
      </div>
      <div class="row-fluid">
        <%= label_tag 'edition[related_policy_ids][]', 'Additional policies' %>
        <%= select_tag 'edition[related_policy_ids][]',
          options_from_collection_for_select(
            related_policy_options_excluding(policies_for_editions_organisations(@edition)),
            :first, :last, @edition.related_policy_ids),
          include_blank: true,
          multiple: true,
          class: 'chzn-select',
            data: { placeholder: "Choose from other policies..."}
        %>
      </div>
    <% end %>

    <% if @edition.can_be_associated_with_topics? %>
      <div class="row-fluid">
        <h3>Topics</h3>
        <%= render partial: 'topic_fields', locals: { form: form, edition: @edition } %>
      </div>
    <% end %>

    <% if @edition.can_be_associated_with_world_locations? %>
      <div class="row-fluid">
        <h3>World locations</h3>
        <%= render partial: 'world_location_fields', locals: { form: form, edition: @edition } %>
      </div>
    <% end %>

    <%= submit_tag "Save", class: 'btn btn-primary' %>
    <%= submit_tag "Save & Show Next", class: 'btn btn-primary', name: "speed_save_next" %>
    <%= submit_tag "Save, Convert to Draft & Show Next", class: 'btn btn-success', name: "speed_save_convert" %>
  <% end %>
</div>
