<div class='speed-tag'>
  <% unless @edition.document.document_sources.empty? %>
    <p>Document sources:</p>
    <ul>
      <% @edition.document.document_sources.each do |document_source| %>
        <li><%= link_to truncate(document_source.url, length: 90), document_source.url, title: document_source.url %></li>
      <% end %>
    </ul>
  <% end %>


  <%= form_for [:admin, @edition], as: :edition, builder: Admin::EditionsHelper::EditionFormBuilder do |form| %>
    <%= form.label :organisation_ids, 'Organisations:' %>
    <%= form.select :organisation_ids, options_from_collection_for_select(Organisation.all, 'id', 'name', @edition.organisation_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose organisations which produced this document..." } %>
    <%= render partial: 'required_fields_for_imported_editions', locals: { form: form, edition: form.object } %>
    <% if @edition.can_be_associated_with_role_appointments? %>
      <div class="row-fluid">
        <h3>Ministers</h3>
        <% @edition.organisations.map(&:ministerial_role_appointments).flatten.each do |role_appointment| %>
          <% if role_appointment.current_at(@edition.first_published_at) %>
            <label class='checkbox'>
              <%= check_box_tag 'edition[role_appointment_ids][]', role_appointment.id, @edition.role_appointments.include?(role_appointment) %>
              <%= RoleAppointmentPresenter.new(role_appointment).person.name %>
              <span class='muted'><%= role_appointment(role_appointment) %></span>
            </label>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if @edition.can_be_associated_with_ministers? %>
      <div class="row-fluid">
        <h3>Ministers</h3>
        <% @edition.organisations.map(&:ministerial_roles).flatten.each do |role| %>
          <label class='checkbox'>
            <%= check_box_tag 'edition[ministerial_role_ids][]', role.id, @edition.ministerial_roles.include?(role) %>
            <%= RolePresenter.new(role).current_person.name %>
            <span class='muted'><%= RolePresenter.new(role).name %></span>
          </label>
        <% end %>
      </div>
    <% end %>
    <% if @edition.can_be_related_to_policies? %>
      <div class="row-fluid">
        <h3>Related policies</h3>
        <% @edition.organisations.map(&:published_policies).flatten.each do |policy| %>
          <label class='checkbox'>
            <%= check_box_tag 'edition[related_document_ids][]', policy.document_id, @edition.related_documents.include?(policy.document) %>
            <%= policy.title %><br/>
          </label>
        <% end %>
      </div>
    <% end %>

    <% if @edition.can_be_associated_with_world_locations? %>
      <h3>World Locations</h3>
      <%= render partial: 'world_location_fields', locals: { form: form, edition: @edition } %>
    <% end %>

    <%= submit_tag "Save", class: 'btn btn-primary' %>
  <% end %>
</div>
