<div class="speed-tag">
  <% unless @edition.valid_as_draft? %>
    <div class="alert alert-danger">
      <strong>This edition cannot be saved because:</strong>

      <ul>
        <% @edition.errors_as_draft.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @edition.document.document_sources.empty? %>
    <p>Document sources:</p>
    <ul>
      <% @edition.document.document_sources.each do |document_source| %>
        <li><%= link_to truncate(document_source.url, length: 90), document_source.url, title: document_source.url, target: '_new' %></li>
      <% end %>
    </ul>
  <% end %>


  <%= form_for [:admin, @edition], as: :edition do |form| %>

    <%= form.text_field :title %>
    <div class="title-length-info">Title text should be 65 characters or fewer and the slug will be truncated past 150. <span class="count"></span></div>

    <%= form.text_area :summary, rows: 2, class: 'js-summary-length-counting', data: { 'count-message-threshold' => 160, 'count-message-selector' => '.summary-length-info' } %>
    <div class="summary-length-info">Summary text should be 160 characters or fewer. <span class="count"></span></div>

    <%= form.text_area :body, rows: 20, class: "previewable" %>

    <%= form.label :lead_organisation_ids, 'Lead Organisations:' %>
    <%= form.select :lead_organisation_ids, options_for_select(taggable_organisations_container, @edition.lead_organisation_ids), {}, multiple: true, class: 'chzn-select form-control', data: { placeholder: "Choose organisations which produced this document…" } %>

    <%= render partial: 'required_fields_for_imported_editions', locals: { form: form, edition: form.object } %>

    <% if @edition.can_be_grouped_in_collections? %>
      <%= render partial: 'document_collection_fields', locals: { form: form, edition: form.object } %>
    <% end %>

    <% if @edition.can_be_associated_with_role_appointments? %>
      <h3>Ministers</h3>
      <% @edition.organisations.map(&:ministerial_role_appointments).flatten.each do |role_appointment| %>
        <% if role_appointment.current_at(@edition.first_published_at) %>
          <label class="checkbox">
            <%= check_box_tag 'edition[role_appointment_ids][]', role_appointment.id, @edition.role_appointments.include?(role_appointment) %>
            <%= RoleAppointmentPresenter.new(role_appointment, self).person.name %>
            <span class="text-muted"><%= text_for_role_appointment(role_appointment) %></span>
          </label>
        <% end %>
      <% end %>
    <% end %>

    <% if @edition.can_be_associated_with_topics? %>
      <h3>Policy Areas</h3>
      <%= render partial: 'policy_area_fields', locals: { form: form, edition: @edition } %>
    <% end %>

    <% if @edition.can_be_associated_with_world_locations? %>
      <h3>World locations</h3>
      <%= render partial: 'world_location_fields', locals: { form: form, edition: @edition } %>
    <% end %>

    <%= submit_tag "Save", class: 'btn btn-primary', name: "speed_save" %>
    <%= submit_tag "Save, convert to draft and next", class: 'btn btn-success', name: "speed_save_convert" %>
  <% end %>
</div>
