<%= content_tag :fieldset, class: ("right-to-left" if edition.rtl?) do %>
  <%= form.hidden_field :lock_version %>
  <% if form.object.document %>
  <%= form.text_field :slug, disabled: true %>
  <% end %>
  <%= form.text_field :title %>
  <div class="title-length-info">Title text should be 65 characters or fewer and the slug will be truncated past 150. <span class="count"></span></div>

  <%= form.text_area :summary, rows: 2, class: 'js-summary-length-counting', data: { 'count-message-threshold' => 140, 'count-message-selector' => '.summary-length-info' } %>
  <div class="summary-length-info">Summary text should be 140 characters or fewer. <span class="count"></span></div>

  <%= form.text_area :body, class: "previewable" %>

  <%= render partial: "additional_significant_fields", locals: {form: form, edition: form.object} %>
<% end %>

<% if form.object.allows_image_attachments? %>
  <%= render partial: "image_fields", locals: {form: form, edition: form.object} %>
<% end %>
