<%= content_tag :fieldset, class: ("right-to-left" if edition.rtl?) do %>
  <%= render "subtype_fields", form: form, edition: form.object %>
  <%= render "locale_fields", form: form, edition: edition %>

  <%= form.hidden_field :lock_version %>
  <% if form.object.document %>
  <%= form.text_field :slug, disabled: true %>
  <% end %>
  <%= form.text_field :title, required: true %>
  <div class="title-length-info">Title text should be 65 characters or fewer and the slug will be truncated past 150. <span class="count"></span></div>

  <%= form.text_area :summary, rows: 2, class: 'js-summary-length-counting', data: { 'count-message-threshold' => 140, 'count-message-selector' => '.summary-length-info' }, required: form.object.summary_required? %>
  <div class="summary-length-info">Summary text should be 140 characters or fewer. <span class="count"></span></div>

  <%= form.text_area :body, class: "previewable", rows: 20, cols: 9000, required: form.object.body_required? %>

  <%= render partial: "additional_significant_fields", locals: {form: form, edition: form.object} %>

  <% if (edition.document and edition.document.published?) and can?(:mark_political, edition) %>
    <%= form.check_box :political, label_text: "Associate with government of the time (currently set to #{edition.government.name}).", class: 'political-status' %>
    <p><a href='https://www.gov.uk/guidance/how-to-publish-on-gov-uk/creating-and-updating-pages#history-mode'>Read the history mode guidance</a> for more information as to what this means.</p>
  <% end %>
<% end %>

<%= render partial: 'first_published_at', locals: { form: form, edition: edition } %>

<% if form.object.allows_image_attachments? %>
  <%= render partial: "image_fields", locals: {form: form, edition: form.object} %>
<% end %>
