<% page_title "Export: #{@filter.page_title}"  %>

<div class="row">
  <section class="col-md-8">
    <h1>Export as CSV</h1>
    <p>Please confirm you want to export the documents list. The following will be emailed to <strong><%= current_user.email %></strong>:</p>
    <ul>
      <li><%= @filter.page_title %></li>
    </ul>
    <% if Whitehall.integration_or_staging? %>
      <p class="warning">Warning: in staging and integration environments, if you are not on the permitted recipients list for GOV.UK Notify, this email will not be exported.</p>
    <% end %>
    <%= form_tag "#{export_admin_editions_path}?#{@filter.options.to_param}" %>
      <%= submit_tag "Export as CSV", class: 'btn btn-primary' %>

      <%= link_to "Cancel and return to list", "#{admin_editions_path}?#{@filter.options.to_param}", class: 'btn btn-default' %>
    </form>
  </section>
</div>
