<% content_for :page_title, "Export: #{@filter.page_title}" %>
<% content_for :title, "Export CSV" %>
<% content_for :context, @filter.page_title %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Please confirm you want to export the documents list to "<%= current_user.email %>"</p>

    <% if Whitehall.integration_or_staging? %>
      <%= render "govuk_publishing_components/components/warning_text", {
        text: "In staging and integration environments, if you are not on the permitted recipients list for GOV.UK Notify, this email will not be exported."
      } %>
    <% end %>

    <%= form_with url: "#{export_admin_editions_path}?#{@filter.options.to_param}" %>
      <div class="govuk-button-group govuk-!-margin-top-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Export CSV",
          data_attributes: {
            module: "gem-track-click",
            "track-category": "form-button",
            "track-action": "edition-csv-export-button",
            "track-label": "Export CSV"
          }
        } %>

        <%= link_to("Cancel", "#{admin_editions_path}?#{@filter.options.to_param}", class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    </form>
  </div>
</div>
