<% page_title "Export: #{@filter.page_title}"  %>

<div class="row">
  <section class="col-md-8">
    <h1>Export as CSV</h1>
    <p>Please confirm you want to export the documents list. Documents that have been moved to Content Publisher will not be exported. The following will be emailed to <strong><%= current_user.email %></strong>:</p>
    <ul>
      <li><%= @filter.page_title %></li>
    </ul>
    <%= form_tag "#{export_admin_editions_path}?#{@filter.options_for_export.to_param}" %>
      <%= submit_tag "Export as CSV", class: 'btn btn-primary' %>

      <%= link_to "Cancel and return to list", "#{admin_editions_path}?#{@filter.options.to_param}", class: 'btn btn-default' %>
    </form>
  </section>
</div>
