<% page_title "Unpublish: #{@edition.title}"  %>

  <div class="span8">
    <section>
      <h1>Unpublish <%= @edition.type.titleize %></h1>

      <%= form_tag unpublish_admin_edition_path(@edition, lock_version: @edition.lock_version) do %>
        <%= fields_for :unpublishing do |unpublish| %>
          <%= unpublish.hidden_field :document_type %>
          <%= unpublish.hidden_field :slug %>
          <%= unpublish.label :unpublishing_reason_id, "Reason for unpublishing" %>
          <%= unpublish.select :unpublishing_reason_id, options_from_collection_for_select(UnpublishingReason.all, :id, :name) %>
          <%= unpublish.text_area :explanation, label_text: 'Further explanation', rows: 5, class: "previewable"  %>
          <p class="alert alert-info">Note: This explanation is shown on the public page of this <%= @edition.type.titleize.downcase %> when it is unpublished.</p>
          <%= unpublish.text_field :alternative_url, label_text: 'Alternative URL' %>
          <%= unpublish.check_box :redirect, label_text: 'Redirect to URL automatically?' %>
          <%= submit_tag 'Unpublish', class: "btn btn-danger" %>
          <span class="or_cancel"> or <%= link_to 'cancel', [:admin, @edition] %></span>
        <% end %>
      <% end %>
    </section>
  </div>
