<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_edition_path(@edition)
  } %>
<% end %>
<% content_for :context, @edition.title %>
<% content_for :page_title, "Compare versions: #{@edition.title}" %>
<% content_for :title, "Compare versions" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">This page shows changes to the title, summary and body in this edition. It does not show changes to attachments or associations.</p>

    <div class="govuk-!-margin-bottom-5">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Title",
        margin_bottom: 3
      } %>

      <div class="govuk-body app-view-audit-trail__history-comparison">
        <%= diff_html(@audit_trail_entry.title, @edition.title) %>
      </div>
    </div>

    <div class="govuk-!-margin-bottom-5">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Summary",
        margin_bottom: 3
      } %>

      <div class="govuk-body app-view-audit-trail__history-comparison">
        <%= diff_html(@audit_trail_entry.summary, @edition.summary) %>
      </div>
    </div>

    <div class="govuk-!-margin-bottom-5">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Body",
        margin_bottom: 3
      } %>

      <div class="govuk-body app-view-audit-trail__history-comparison">
        <%= diff_html(@audit_trail_entry.body, @edition.body) %>
      </div>
    </div>
  </div>
</div>
