<% page_title "Editing: " + @edition.title %>
<% if @conflicting_edition %>
  <div class="first">
    <section>
      <h1>Edit <%= @edition.type.titleize %></h1>

      <div class="alert">
        <p>This document has been updated by another user since you started editing it.</p>
        <p>Please review conflicts between the two versions and incorporate any changes before pressing save again.</p>
      </div>

      <div class="conflicting new g-half first">
        <h2>Your version</h2>
        <%= render partial: "form", locals: {edition: @edition} %>
      </div>

      <div class="conflicting latest g-half">
        <h2>Current saved version</h2>
        <%= render partial: "conflict", locals: {edition: @conflicting_edition} %>
      </div>

    </section>
  </div>
<% else %>
  <div class="span8">
    <section>
      <h1>Edit <%= @edition.type.titleize %></h1>

      <%= render partial: "recent_openings", locals: {edition: @edition, recent_openings: @recent_openings} %>
      <%= render partial: "form", locals: {edition: @edition} %>
    </section>
  </div>

  <div class="span4">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#govspeak" data-toggle="tab">Formatting Help</a></li>
        <li>
          <a href="#history" data-toggle="tab">
            History & Notes
            <span class="badge"><%= @edition.audit_trail.length %></span>
          </a>
        </li>
        <% if @edition.can_be_fact_checked? %>
          <li>
            <a href="#fact-checking" data-toggle="tab">
              Fact checking
              <span class="badge badge-warning"><%= @edition.fact_check_requests.pending.count %></span>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="govspeak">
          <section>
            <%= render partial: "govspeak_help" %>
          </section>
        </div>
        <div class="tab-pane" id="history">
          <section class="container audit-trail">
            <h1>Activity</h1>
            <ul>
            <%= render :partial => "audit_trail_entry", :collection => @edition.audit_trail.reverse %>
            </ul>
          </section>
        </div>
        <% if @edition.can_be_fact_checked? %>
          <div class="tab-pane" id="fact-checking">
            <section>
              <%= render partial: 'fact_check_responses', locals: {edition: @edition}  %>
            </section>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
