<% page_title "Editing: " + @edition.title %>
<% if @conflicting_edition %>
  <section>
    <h1>Edit <%= @edition.type.titleize %></h1>

    <div class="alert alert-warning">
      <p>This document has been updated by another user since you started editing it.</p>
      <p>Please review conflicts between the two versions and incorporate any changes before pressing save again.</p>
    </div>

    <div class="row-fluid">
      <div class="conflicting new span6">
        <h2>Your version</h2>
        <%= render partial: "form", locals: {edition: @edition} %>
      </div>

      <div class="conflicting latest span6">
        <h2>Current saved version</h2>
        <%= render partial: "conflict", locals: {edition: @conflicting_edition} %>
      </div>
    </div>
  </section>
<% else %>
  <div class="span8">
    <section>
      <h1>Edit <%= @edition.type.titleize %></h1>

      <%= render partial: "recent_openings", locals: {edition: @edition, recent_openings: @recent_openings} %>
      <%= render partial: "form", locals: {edition: @edition} %>
    </section>
  </div>

  <div class="span4">
    <div class="sidebar tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#govspeak_help" data-toggle="tab">Formatting Help</a></li>
        <li>
          <a href="#history" data-toggle="tab">
            History & Notes
            <span class="badge"><%= @edition.audit_trail.length %></span>
          </a>
        </li>
        <% if @edition.can_be_fact_checked? %>
          <li>
            <a href="#fact-checking" data-toggle="tab">
              Fact checking
              <span class="badge badge-warning"><%= @edition.fact_check_requests.pending.count %></span>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <section class="tab-pane active govspeak_help" id="govspeak_help">
          <%= render partial: "govspeak_help" %>
        </section>
        <section class="audit-trail tab-pane" id="history">
          <h1>Activity</h1>
          <ul>
          <%= render :partial => "audit_trail_entry", :collection => @edition.audit_trail.reverse %>
          </ul>
        </section>

        <% if @edition.can_be_fact_checked? %>
          <section class="tab-pane fact_checking" id="fact-checking">
            <h1>Fact checking</h1>
            <%= render partial: 'fact_check_responses', locals: {edition: @edition}  %>
          </section>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
