<% page_title "Editing: #{@edition.title}"  %>
<% if @conflicting_edition %>
  <section>
    <h1><%= edition_edit_headline(@edition) %></h1>

    <div class="alert alert-warning">
      <p>This document has been updated by another user since you started editing it.</p>
      <p>Please review conflicts between the two versions and incorporate any changes before pressing save again.</p>
    </div>

    <div class="row">
      <div class="conflicting new col-md-6">
        <h2>Your version</h2>
        <%= render "form", edition: @edition %>
      </div>

      <div class="conflicting latest col-md-6">
        <h2>Current saved version</h2>
        <%= render "conflict", edition: @conflicting_edition %>
      </div>
    </div>
  </section>
<% else %>
  <div class="row">
    <div class="col-md-8">
      <section>
        <h1><%= edition_edit_headline(@edition) %></h1>

        <%= render('similar_slug_warning') if show_similar_slugs_warning?(@edition) %>
        <%= render "recent_openings", edition: @edition, recent_openings: @recent_openings %>
        <%= render "form", edition: @edition %>
      </section>
    </div>

    <div class="col-md-4">
      <%= sidebar_tabs edition_tabs(@edition, remarks_count: @edition_remarks.length, history_count: @edition_history.total_count, editing: true) do |tabs| %>
        <%= tabs.pane class: "govspeak_help", id: "govspeak_help" do %>
          <%= render "govspeak_help", hide_inline_attachments_help: !@edition.allows_inline_attachments?,
                                      show_attachments_tab_help: true,
                                      govspeak_link_errors: force_publisher.govspeak_link_errors,
                                      link_check_report: LinkCheckerApiService.has_links?(@edition) ? @edition.link_check_reports.last : nil %>

          <%= render "words_to_avoid_guidance" %>
          <h3 class="style-title">Style</h3>
          <p>For style, see the <a href="https://www.gov.uk/guidance/style-guide">style guide</a></p>
        <% end %>

        <%= tabs.pane class: "audit-trail", id: "notes" do %>
          <h1>Notes</h1>
          <p>To add a remark, save your changes.</p>
          <%= link_to "Add new remark", new_admin_edition_editorial_remark_path(@edition), class: "btn btn-default add-remark" %>
          <%= render_editorial_remarks_in_sidebar(@edition_remarks, @edition) %>
        <% end %>

        <%= tabs.pane class: "audit-trail", id: "history" do %>
          <div class="audit-trail-page">
            <h1>Activity</h1>
            <%= paginate @edition_history, theme: 'audit_trail' %>
            <ul class="list-unstyled">
              <%= render partial: "audit_trail_entry", collection: @edition_history %>
            </ul>
            <%= paginate @edition_history, theme: 'audit_trail' %>
          </div>
        <% end %>

        <% if @edition.can_be_fact_checked? %>
          <%= tabs.pane class: "fact_checking", id: "fact_checking" do %>
            <h1>Fact checking</h1>
            <%= render partial: 'fact_check_responses', locals: {edition: @edition}  %>
            <p>To send a fact check request, save your changes.</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
