<% content_for :page_title, "Edit #{@edition.format_name}"%>
<% content_for :back_link, (render "govuk_publishing_components/components/back_link", {
    href: admin_edition_path(@edition)
  })
%>
<% content_for :error_summary, render('shared/error_summary', object: @edition.becomes(Edition), class_name: @edition.class.name.demodulize.underscore.humanize.downcase) %>
<% content_for :banner, render("recent_openings", edition: @edition, recent_openings: @recent_openings) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      context: @edition.title,
      title: "Editing #{@edition.format_name}"
    } %>

    <% if @conflicting_edition %>
      <%= render "govuk_publishing_components/components/error_alert", {
        message: "This document has been updated by another user since you started editing it.",
        description: "Please review conflicts between the two versions and incorporate any changes before pressing save again."
      } %>

      <h2 class="govuk-heading-l">Your version</h2>
      <% if [Publication, CaseStudy, CorporateInformationPage].include?(@edition.class) %>
        <%= render "form", edition: @edition %>
      <% else %>
        <%= render "legacy_form", edition: @edition %>
      <% end %>

      <h2 class="govuk-heading-l">Current saved version</h2>
      <%= render "legacy_conflict", edition: @conflicting_edition %>
    <% else %>
      <div class="row">
        <div class="col-md-8">
          <section>
            <% if [Publication, CaseStudy, CorporateInformationPage].include?(@edition.class) %>
              <%= render "form", edition: @edition %>
            <% else %>
              <%= render "legacy_form", edition: @edition %>
            <% end %>
          </section>
        </div>
      </div>
    <% end %>
  </div>
</div>
