<% page_title "Editing: " + @edition.title %>
<% if @conflicting_document %>
  <div class="first">
    <section>
      <h1>Edit <%= @edition.type.titleize %></h1>

      <div class="alert">
        <p>This document has been updated by another user since you started editing it.</p>
        <p>Please review conflicts between the two versions and incorporate any changes before pressing save again.</p>
      </div>

      <div class="conflicting new g-half first">
        <h2>Your version</h2>
        <%= render partial: "form", locals: {document: @edition} %>
      </div>

      <div class="conflicting latest g-half">
        <h2>Current saved version</h2>
        <%= render partial: "conflict", locals: {document: @conflicting_document} %>
      </div>

    </section>
  </div>
<% else %>
  <div class="g3">
    <div class="g2 first">
      <section>
        <h1>Edit <%= @edition.type.titleize %></h1>

        <%= render partial: "recent_openings", locals: {document: @edition, recent_openings: @recent_openings} %>
        <%= render partial: "form", locals: {document: @edition} %>
        <%= render partial: "govspeak_help" %>
      </section>
    </div>

    <div class="g1">
      <section class="container audit-trail">
        <h1>Activity</h1>
        <ul>
        <%= render :partial => "audit_trail_entry", :collection => @edition.audit_trail.reverse %>
        </ul>
      </section>
    </div>
  </div>
  
  <div class="g3">
    <%= render partial: 'fact_check_responses', locals: {document: @edition}  %>
  </div>
<% end %>
