%h1 Edit policy
- if @conflicting_edition
  .conflicting.new
    = render partial: "form", locals: {disabled: false, edition: @edition}
  .conflicting.latest
    = render partial: "form", locals: {disabled: true, edition: @conflicting_edition}
- else
  = render partial: "form", locals: {disabled: false, edition: @edition}
  %hr
  %section
    %h1 Request fact checking
    = form_for [:admin, @edition, FactCheckRequest.new] do |f|
      = f.label :email_address, 'Email address'
      = f.text_field :email_address
      = f.submit 'Request fact checking'