<% content_for :page_title, "#{@edition.editable? ? 'Edit' : 'View'} #{@edition.format_name}" %>
<% content_for :title, "#{@edition.editable? ? 'Editing' : 'Viewing'}  #{@edition.format_name}" %>
<% content_for :context, @edition.title %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @edition, parent_class: "edition")) %>
<% content_for :banner, render("recent_openings", edition: @edition, recent_openings: @recent_openings) %>

<% unless @edition.editable? %>
  <% content_for :back_link do %>
    <%= render "govuk_publishing_components/components/back_link", {
      href: admin_edition_path(@edition),
    } %>
  <% end %>
<% end %>

<% if @conflicting_edition %>
  <div class="govuk-grid-row">
    <%= render "govuk_publishing_components/components/error_alert", {
      message: "This document has been updated by another user since you started editing it.",
      description: "Please review conflicts between the two versions and incorporate any changes before pressing save again.",
    } %>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Your version</h2>
      <%= render "form", edition: @edition %>
    </div>

    <div class="govuk-grid-column-one-half conflict">
      <h2 class="govuk-heading-l">Current saved version</h2>
      <%= render "conflict", edition: @conflicting_edition %>
    </div>
  </div>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "components/secondary_navigation", {
        aria_label: "Document navigation",
        items: secondary_navigation_tabs_items(@edition, request.path),
      } if @edition.editable? %>

      <% unless @edition.editable? %>
        <%= render "govuk_publishing_components/components/inset_text", {} do %>
          This is a read-only view of the current (<%= @edition.state %>) edition. To edit, please return to the summary page and choose ‘Create new edition’.
        <% end %>
      <% end %>

      <%= render "form", edition: @edition %>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render "govuk_publishing_components/components/tabs", {
       disable_ga4: true,
       tabs: [
         {
           id: "govspeak_tab",
           label: "Help",
           content: simple_formatting_sidebar(
             hide_inline_attachments_help: !@edition.allows_inline_attachments?,
             show_attachments_tab_help: true,
             link_check_report: LinkCheckerApiService.has_links?(@edition, convert_admin_links: false) ? @edition.link_check_report : nil,
           ),
         },
         {
           id: "history_tab",
           label: "History",
           content: tag.div(
             render(Admin::Editions::DocumentHistoryTabComponent.new(
               edition: @edition,
               document_history: @document_history,
               editing: true,
             )),
             data: { module: "document-history-paginator" },
           ),
         },
         *([{
           id: "fact_checking_tab",
           label: "Fact checking",
           content: render(Admin::Editions::FactCheckingTabComponent.new(edition: @edition)),
         }] if @edition.can_be_fact_checked?),
       ],
      } %>
    </div>
  </div>
<% end %>
