%h1 Edit policy
- if @conflicting_edition
  .conflicting.new
    = render partial: "form", locals: {disabled: false, edition: @edition}
  .conflicting.latest
    = render partial: "form", locals: {disabled: true, edition: @conflicting_edition}
- else
  = render partial: "form", locals: {disabled: false, edition: @edition}
  %hr
  %section
    %h1 Request fact checking
    = form_for [:admin, @edition, FactCheckRequest.new] do |f|
      = f.label :email_address, 'Email address'
      = f.text_field :email_address
      = f.submit 'Request fact checking'

    - if @edition.fact_check_requests.completed.any?
      %h2 Completed requests
      %ul#fact_check_requests
        - @edition.fact_check_requests.completed.each do |fact_check_request|
          %li.fact_check_request
            .details
              %span.from= fact_check_request.email_address
              on
              %span.time= fact_check_request.updated_at.to_s(:long_ordinal)
            .comments= format_in_paragraphs fact_check_request.comments