<% page_title @filter.page_title %>
<section class="editions-index">
  <div class="row-fluid">
    <div class="span3">
      <%= render partial: 'filter_options' %>
    </div>

    <div class="collection span9">
      <h1>
        <%= "#{@filter.page_title}" %>
      </h1>
      <div class="span7">
        <%= paginate @filter.editions, theme: 'twitter-bootstrap' %>
      </div>
      <div class="span4">
        <p class="publishing-stats">
          <% if @filter.show_stats %>
            Published
            <span class="badge"><%= @filter.published_count %></span>
            Force Published
            <span class="badge badge-important"><%= @filter.force_published_count %></span>
            <span class="badge badge-important"><%= @filter.force_published_percentage %>%</span>
          <% else %>
            Documents
            <span class="badge"><%= @filter.editions.total_count %></span>
          <% end %>
        </p>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="type">Type</th>
            <th class="title">Title</th>
            <th class="updated-by">Updated by</th>
            <th class="updated">Updated</th>
            <% if viewing_all_active_editions? %>
              <th class="state">State</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% if @filter.editions.blank? %>
            <tr>
              <td colspan="5">No documents have been found.</td>
            </tr>
          <% end %>
          <% @filter.editions.each do |edition| %>
            <%= content_tag_for(:tr, edition, class: ('force_published' if edition.force_published?)) do %>
              <td class="type"><%= edition.display_type %></td>
              <td class="title">
                <span class="title"><%= link_to edition.title, admin_edition_path(edition), title: "View document #{edition.title}" %></span>
                <% if edition.non_english_edition? %>
                  (<%= edition.locale %>)
                <% end %>
                <% if edition.force_published? %>
                  <span class="force_published label label-important">not reviewed</span>
                <% end %>
                <% if edition.access_limited? %>
                  <span class="access_limited label label-important">limited access</span>
                <% end %>
                <% if edition.has_supporting_pages? %>
                  <div class="supporting_pages additional_information well">
                    <h4>Supporting Pages</h4>
                    <ul>
                      <% edition.supporting_pages.each do |supporting_page| %>
                      <li><%= link_to supporting_page.title, admin_supporting_page_path(supporting_page) %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </td>
              <td class="author"><%= linked_author(edition.last_author) %></td>
              <td class="updated"><%= time_ago_in_words edition.updated_at %> ago</td>
              <% if viewing_all_active_editions? %>
                <td class="state"><%= edition.state.humanize %></td>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @filter.editions, theme: 'twitter-bootstrap' %>
    </div>
  </div>
</section>
