<% page_title @filter.page_title %>
<section class="documents">
  <div class="row-fluid">
    <div class="span2">
      <div class="btn-group">
        <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
          Create new document
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Policy", new_admin_policy_path, title: "Create Policy" %></li>
          <li><%= link_to "Publication", new_admin_publication_path, title: "Create Publication" %></li>
          <li><%= link_to "News Article", new_admin_news_article_path, title: "Create News Article" %></li>
          <% if current_user.can_handle_fatalities? %>
            <li><%= link_to "Fatality Notice", new_admin_fatality_notice_path, title: "Create Fatality Notice" %></li>
          <% end %>
          <li><%= link_to "Consultation", new_admin_consultation_path, title: "Create Consultation" %></li>
          <li><%= link_to "Speech", new_admin_speech_path, title: "Create Speech" %></li>
          <li><%= link_to "Detailed Guide", new_admin_detailed_guide_path, title: "Create Detailed Guide" %></li>
          <li><%= link_to "International Priority", new_admin_international_priority_path, title: "Create International Priority" %></li>
          <li><%= link_to "Case Study", new_admin_case_study_path, title: "Create Case Study" %></li>
          <li><%= link_to "Statistical Data Set", new_admin_statistical_data_set_path, title: "Create Statistical Data Set" %></li>
        </ul>
      </div>

      <nav class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Filter by Title</li>
          <li>
            <%= form_tag("", method: :get, class: "pull-left") do %>
              <%= hidden_field_tag :organisation, params[:organisation] if params[:organisation] %>
              <%= hidden_field_tag :type, params[:type] if params[:type] %>
              <%= hidden_field_tag :state, params[:state] if params[:state] %>
              <%= hidden_field_tag :author, params[:author] if params[:author] %>
              <input type="search" id="search_title" name="title" value="<%= params[:title] %>" placeholder="Search title">
            <% end %>
          </li>
          <li class="nav-header">Filter by Author</li>
          <%= link_to_filter('Me', {author: current_user, organisation: nil}, title: "Show documents by me") %>
          <%= link_to_filter('My department', {author: nil, organisation: current_user.organisation}, title: "Show documents by my department") %>

          <li class="organisation-filter <%= (params[:organisation] && params[:organisation] != current_user.organisation_id) ? 'active' : nil %>">
            <%= form_tag("", method: :get) do %>
              <%= select_tag :organisation, options_from_collection_for_select(Organisation.all - [current_user.organisation], 'id', 'name', params[:organisation]), class: 'chzn-select', include_blank: true, data: { placeholder: "Other organisations..." } %>
              <%= hidden_field_tag :type, params[:type] if params[:type] %>
              <%= hidden_field_tag :state, params[:state] if params[:state] %>
              <%= submit_tag "Go", class: "btn" %>
            <% end %>
          </li>
          <%= link_to_filter('Everyone', {author: nil, organisation: nil}, title: "Show documents by everyone") %>
          <li class="author-filter <%= (params[:author] && params[:author] != current_user.id.to_s) ? 'active' : nil %>">
            <%= form_tag("", method: :get) do %>
              <%= select_tag :author, options_from_collection_for_select(User.all - [current_user], 'id', 'name', params[:author]), class: 'chzn-select', include_blank: true, data: { placeholder: "Other authors..." } %>
              <%= hidden_field_tag :type, params[:type] if params[:type] %>
              <%= hidden_field_tag :state, params[:state] if params[:state] %>
              <%= submit_tag "Go", class: "btn" %>
            <% end %>
          </li>

          <li class="nav-header">Filter by Kind</li>
          <%= link_to_filter 'All', {type: nil}, title: "Show all kinds of document" %>
          <%= link_to_filter 'Policies', {type: 'policy'}, title: "Show only policies" %>
          <%= link_to_filter 'Publications', {type: 'publication'}, title: "Show only publications" %>
          <%= link_to_filter 'News articles', {type: 'news_article'}, title: "Show only news articles" %>
          <%= link_to_filter 'Consultations', {type: 'consultation'}, title: "Show only consultations" %>
          <%= link_to_filter 'Speeches', {type: 'speech'}, title: "Show only speeches" %>
          <%= link_to_filter 'Detailed guide', {type: 'detailed_guide'}, title: "Show only detailed guides" %>
          <%= link_to_filter 'International priorities', {type: 'international_priorities'}, title: "Show only international priorities" %>
          <%= link_to_filter 'Case studies', {type: 'case_studies'}, title: "Show only case studies" %>
          <%= link_to_filter 'Statistical data sets', {type: 'statistical_data_sets'}, title: "Show only statistical data sets" %>
          <% if current_user.can_handle_fatalities? %>
            <%= link_to_filter 'Fatality notices', {type: 'fatality_notices'}, title: "Show only fatality notices" %>
          <% end %>

          <li class="nav-header">Filter by state</li>
          <% document_type = (params[:type] || "document").pluralize %>
          <%= link_to_filter 'All', {state: :active}, title: "Show #{document_type} in any workflow state" %>
          <%= link_to_filter 'Imported (pre-draft)', {state: :imported}, title: "Show only imported pre-draft #{document_type}" %>
          <%= link_to_filter 'Drafts', {state: :draft}, title: "Show only draft #{document_type}" %>
          <%= link_to_filter 'Submitted', {state: :submitted}, title: "Show only submitted #{document_type}" %>
          <%= link_to_filter 'Rejected', {state: :rejected}, title: "Show only rejected #{document_type}" %>
          <%= link_to_filter 'Scheduled', {state: :scheduled}, title: "Show only scheduled #{document_type}" %>
          <%= link_to_filter 'Published', {state: :published}, title: "Show only published #{document_type}" %>
        </ul>
      </nav>
    </div>

    <div class="collection span10">
      <h1><%= @filter.page_title %></h1>

      <%= paginate @filter.editions, theme: 'twitter-bootstrap' %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="type">Type</th>
            <th>Title</th>
            <th>Creator</th>
            <th>Updated</th>
            <% if viewing_all_active_editions? %>
              <th>State</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% if @filter.editions.blank? %>
            <tr>
              <td colspan="5">No documents have been found.</td>
            </tr>
          <% end %>
          <% @filter.editions.each do |edition| %>
            <%= content_tag_for(:tr, edition, class: ('force_published' if edition.force_published?)) do %>
              <td class="type"><%= edition.type.titleize %></td>
              <td class="title">
                <span class="title"><%= link_to edition.title, admin_edition_path(edition), title: "View document #{edition.title}" %></span>
                <% if edition.force_published? %>
                  <span class="force_published label label-important">not reviewed</span>
                <% end %>
                <% if edition.access_limited? %>
                  <span class="access_limited label label-important">limited access</span>
                <% end %>
                <% if edition.has_supporting_pages? %>
                  <div class="supporting_pages additional_information well">
                    <h4>Supporting Pages</h4>
                    <ul>
                      <% edition.supporting_pages.each do |supporting_page| %>
                      <li><%= link_to supporting_page.title, admin_supporting_page_path(supporting_page) %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </td>
              <td class="author"><%= linked_author(edition.creator) %></td>
              <td class="updated"><%= time_ago_in_words edition.updated_at %> ago</td>
              <% if viewing_all_active_editions? %>
                <td class="state"><%= edition.state.humanize %></td>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @filter.editions, theme: 'twitter-bootstrap' %>
    </div>
  </div>
</section>
