<% page_title @edition.title, @edition.format_name %>
<% page_class "edition-show-locked" %>

<div class="row" data-module="track-button-click" data-track-category="button-pressed" data-track-action="<%= @edition.format_name.parameterize(separator: '-') %>-button">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1 class="jumbotron-header">Moved to Content Publisher</h1>
      <p>This document has been moved from Whitehall to Content Publisher. Information about it in Whitehall may now be out of date.</p>
      <p>You can now edit this document in Content Publisher.</p>
      <%= content_publisher_button(@edition) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="page-header col-md-8">
    <%= render "govuk_publishing_components/components/title", {
      title: @edition.title
    } %>
    <p class="lead"><%= @edition.summary %></p>
    <dl class="clearfix dl-horizontal">
      <dt>Type of document:</dt>
      <dd><%= edition_type(@edition) %></dd>
      <dt>Organisations:</dt>
      <dd><%= joined_list(@edition.organisations.map { |o| o.name }) %></dd>
    </dl>
    <% if @edition.non_english? %>
      <p><em>(This document is <%=@edition.primary_language_name %>-only)</em></p>
    <% end %>
  </div>
  <div class="col-md-8 edition-metadata">
    <section  >
      <% if @edition.publicly_visible? %>
        <%= link_to "View on website", public_document_url(@edition), class: 'btn btn-lg btn-primary public_version', target: '_blank' %>
        <%= content_data_button(@edition) %>
      <% end %>
    </section>
  </div>
</div>
