%p.inset
  back to
  =link_to 'submitted policies', submitted_admin_editions_path

.policy
  %h1.title= @edition.title
  %div.body
    = format_in_paragraphs @edition.body
  %p.attachment= link_to_attachment(@edition.attachment)
  %p.written_by
    Written by
    %span.author= @edition.author.name

%div
  - if @edition.publishable_by?(current_user)
    = form_for [:admin, @edition], {url: publish_admin_edition_path(@edition)} do |edition_form|
      = edition_form.hidden_field :lock_version
      = edition_form.submit "Publish", title: "Public #{@edition.title}"