<% page_title @edition.title, @edition.format_name %>
<% page_class "edition-show" %>
<% initialise_script "GOVUK.adminEditionShow" %>

<div class="row-fluid">
  <div class="<%= @edition.imported? ? "span6" : "span8" %> edition-metadata">
    <%= render partial: 'show_metadata' %>
  </div>

  <div class="<%= @edition.imported? ? "span6" : "span4" %> edition-sidebar">
    <section>
      <% if @edition.imported? %>
        <%= convert_to_draft_edition_form(@edition) %>
      <% end %>

      <% if @edition.can_unschedule? && can?(:update, @edition) %>
        <%= unschedule_edition_button(@edition) %>
      <% end %>

      <% if @edition.schedulable? && can?(:publish, @edition) %>
        <%= schedule_edition_form(@edition) %>
      <% elsif @edition.force_schedulable? && can?(:force_publish, @edition) %>
        <%= schedule_edition_form(@edition, force: true) %>
      <% end %>

      <%= submit_edition_button(@edition) if @edition.can_submit? %>

      <% if publisher.can_perform? && can?(:publish, @edition) %>
        <%= publish_edition_form(@edition) %>
      <% elsif force_publisher.can_perform? && can?(:force_publish, @edition) %>
        <%= render partial: "admin/edition_workflow/force_publish_modal", locals: { extra_css_classes: "hide" } %>
        <%= publish_edition_form(@edition, force: true) %>
      <% end %>

      <%= reject_edition_button(@edition) if @edition.can_reject? && can?(:reject, @edition) %>
      <%= delete_edition_button(@edition) if @edition.can_delete? %>
      <% if @edition.can_unpublish? && can?(:unpublish, @edition) %>
        <%= link_to 'Archive or unpublish', confirm_unpublish_admin_edition_path(@edition, lock_version: @edition.lock_version), class: "btn btn-danger" %>
      <% end %>
    </section>

    <% if force_publisher.can_transition? && !force_publisher.can_perform? %>
      <section class='alert'>
        <p>You can't force-publish this edition because:</p>
        <ul>
          <% force_publisher.failure_reasons.each do |reason| %>
            <li><%= reason %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <%= render partial: "history_state", locals: { edition: @edition } %>
    <% if @edition.imported? %>
      <%= render partial: 'speed_tagging' %>
    <% else %>
      <%= sidebar_tabs edition_tabs(@edition, remarks_count: @edition_remarks.length, history_count: @edition_history.total_count), class: 'remarks-history' do |tabs| %>
        <%= tabs.pane class: "audit-trail", id: "notes" do %>
          <h1>Notes</h1>
          <%= link_to "Add new remark", new_admin_edition_editorial_remark_path(@edition), class: "btn add-remark" %>
          <%= render_editorial_remarks_in_sidebar(@edition_remarks, @edition) %>
        <% end %>

        <%= tabs.pane class: "audit-trail", id: "history" do %>
          <div class="audit-trail-page">
            <h1>Activity</h1>
            <%= paginate @edition_history, theme: 'audit_trail' %>
            <ul>
              <%= render partial: "audit_trail_entry", collection: @edition_history %>
            </ul>
            <%= paginate @edition_history, theme: 'audit_trail' %>
          </div>
        <% end %>

        <% if @edition.can_be_fact_checked? %>
          <%= tabs.pane class: "fact_checking", id: "fact_checking" do %>
            <h1>Fact checking</h1>
            <%= render partial: 'fact_check_responses', locals: {edition: @edition}  %>
            <section class="request">
              <h1>Send request</h1>
              <%= form_for [:admin, @edition, FactCheckRequest.new] do |f| %>
                <%= f.text_field :email_address %>
                <%= f.text_area :instructions, cols: nil, rows: nil, label_text: "Extra instructions" %>
                <%= f.submit 'Send request', class: "btn" %>
              <% end %>
            </section>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

