<% page_title @edition.title, @edition.format_name %>

<div class="span8 document-preview">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li><p class="guidance">Please review all content:</p></li>
      <li class="active"><a href="#document" data-toggle="tab">Document</a></li>
      <% if @edition.change_note_required? %>
        <li><a href="#change-note" data-toggle="tab">Change note</a></li>
      <% end %>
      <% if @edition.notes_to_editors.present? %>
        <li><a href="#notes_to_editors" data-toggle="tab">Notes to editors</a></li>
      <% end %>
      <% if @edition.allows_supporting_pages? %>
        <li><a href="#supporting_pages" data-toggle="tab">Supporting pages <span class="badge"><%= @edition.supporting_pages.count %></span></a></li>
      <% end %>
      <% if @edition.allows_attachments? %>
        <li><a href="#attachments" data-toggle="tab">Attachments <span class="badge"><%= @edition.attachments.count %></span></a></li>
      <% end %>
      <li><a href="#associations" data-toggle="tab">Associations</a></li>
      <li><a href="#document-sources" data-toggle="tab">Old URLs</a></li>
    </ul>
    <div class="tab-content">
      <section class="document_page tab-pane active" id="document">
        <%= render partial: 'edition', locals: { edition: @edition } %>

        <% if @edition.is_a?(Consultation) && @edition.response.present? %>
          <section class="consultation_response">
            <h1>Consultation response</h1>
            <p class='published_date'><%= consultation_response_published_phrase(@edition.response) %></p>
            <% if @edition.response.summary.present? %>
              <span class="summary"><%= @edition.response.summary %></span>
            <% end %>
            <% if @edition.response.attachments.any? %>
              <ul class="attachments">
                <% @edition.response.attachments.each do |attachment| %>
                  <li class="attachment">
                    <%= link_to attachment.title, attachment.file.url, class: 'title' %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </section>
        <% end %>

      </section>
      <% if @edition.change_note_required? %>
        <section id="change-note" class="tab-pane">
          <h1>Change note</h1>
          <p><% if @edition.minor_change? %>
              This is a minor change
          <% elsif @edition.change_note.blank? %>
              None
          <% else %>
              <%= @edition.change_note %>
          <% end %></p>
        </section>
      <% end %>
      <% if @edition.notes_to_editors.present? %>
        <section class="tab-pane" id="notes_to_editors">
          <h1>Notes to editors</h1>
          <%= govspeak_to_html @edition.notes_to_editors %>
        </section>
      <% end %>
      <% if @edition.allows_supporting_pages? %>
        <section class="tab-pane supporting_pages" id="supporting_pages">
          <h1>Supporting pages
          <% if @edition.editable? %>
            <span class="add_supporting_page pull-right"> <%= link_to new_admin_edition_supporting_page_path(@edition), title: "Add supporting page to #{@edition.title}", class: "btn btn-primary" do %>
              <i class="icon-plus-sign icon-white"></i> Add
            <% end %>
            </span>
          <% end %>
          </h1>

          <% @edition.supporting_pages.each do |supporting_page| %>
            <%= content_tag_for :section, supporting_page do %>
              <p><%= link_to supporting_page.title, admin_supporting_page_path(supporting_page) %></p>
              <%= render partial: "admin/supporting_pages/supporting_page", object: supporting_page %>
            <% end %>
          <% end %>
        </section>
      <% end %>
      <% if @edition.allows_attachments? %>
        <section class="tab-pane" id="attachments">
          <h1>Attachments</h1>
          <% if @edition.attachments.any? %>
            <ul>
              <% @edition.attachments.each do |attachment| %>
                <%= content_tag_for :li, attachment do %>
                  <%= link_to(attachment.url) do %>
                    <%= attachment_thumbnail(attachment) %>
                    <%= attachment.title %>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            <p>No attachments</p>
          <% end %>
        </section>
      <% end %>
      <section class="tab-pane" id="associations">
        <h1>Associations</h1>
        <%= render partial: "outbound_links", locals: { edition: @edition } %>

        <%= render partial: "inbound_links", locals: { edition: @edition } %>

        <% if @edition.respond_to?(:policy_team) && @edition.policy_team %>
          <section id="policy_team">
            <h1>Who's working on this?</h1>
            <p class="name"><%= @edition.policy_team.name %></p>
            <p><%= mail_to @edition.policy_team.email, @edition.policy_team.email %></p>
          </section>
        <% end %>

        <% if @edition.can_apply_to_subset_of_nations? %>
          <section>
            <h1>Excluded nations</h1>
            <% if @edition.nation_inapplicabilities.any? %>
              <%= render partial: "nation_inapplicabilities/list", locals: {nation_inapplicabilities: @edition.nation_inapplicabilities} %>
            <% else %>
              <p>This document applies to the whole of the UK.</p>
            <% end %>
          </section>
        <% end %>

        <% if @edition.can_be_related_to_policies? %>
          <section>
            <h1>Related policies</h1>
            <% if @edition.related_policies.any? %>
              <%= render partial: "admin/editions/related_policies", locals: {policies: @edition.related_policies} %>
            <% else %>
              <p>This document doesn't have any related policies.</p>
            <% end %>
          </section>
        <% end %>

        <% if @edition.images.any? %>
          <section class="images">
            <h1>Images</h1>
            <% @edition.images.each do |image| %>
              <%= image_tag image.url, id: dom_id(image) %>
            <% end %>
          </section>
        <% end %>

        <% if @edition.can_be_grouped_in_series? %>
          <section>
            <h1>Document series</h1>
            <% if document_series = @edition.document_series %>
              <%= content_tag_for :p, document_series do %>
                <%= link_to document_series.name, admin_organisation_document_series_path(document_series.organisation, document_series) %>
              <% end %>
            <% else %>
              <p>This document is not associated with any series.</p>
            <% end %>
          </section>
        <% end %>
      </section>
      <section class="tab-pane" id="document-sources">
        <% if current_user.can_import? %>
          <h1>Old URLs (one per line)</h1>
            <%= form_tag admin_edition_document_sources_path(@edition), method: :put do %>
              <%= text_area_tag :document_sources, @edition.document.document_sources.map(&:url).join("\n"), rows: 30 %>
              <%= submit_tag "Update", class: "btn-primary btn-large" %>
            <% end %>
        <% else %>
          <h1>Old URLs</h1>
          <ul>
            <% @edition.document.document_sources.map(&:url).each do |url| %>
              <li><%= url %></li>
            <% end %>  
          </ul>
        <% end %>
      </section>
    </div>
  </div>
</div>

<div class="span4">

  <span class="back">
    back to <%= link_to 'document list', admin_editions_path %>
  </span>

  <%= render partial: "rejected_by", locals: { edition: @edition } %>
  <%= render partial: 'navigation', locals: { edition: @edition } %>

  <% if @edition.is_a?(Speech) %>
    <%= render partial: 'speech_details' %>
  <% end %>

  <%= sidebar_tabs edition_tabs(@edition) do |tabs| %>
    <%= tabs.pane class: "audit-trail", id: "history" do %>
      <h1>Activity</h1>
      <%= link_to "Add new remark", new_admin_edition_editorial_remark_path(@edition), class: "btn add-remark" %>
      <ul>
      <%= render partial: "audit_trail_entry", collection: @edition.audit_trail.reverse %>
      </ul>
    <% end %>

    <% if @edition.can_be_fact_checked? %>
      <%= tabs.pane class: "fact_checking", id: "fact_checking" do %>
        <h1>Fact checking</h1>
        <%= render partial: 'fact_check_responses', locals: {edition: @edition}  %>
        <section class="request">
          <h1>Send request</h1>
          <%= form_for [:admin, @edition, FactCheckRequest.new] do |f| %>
            <%= f.text_field :email_address %>
            <%= f.text_area :instructions, cols: nil, rows: nil, label_text: "Extra instructions" %>
            <%= f.submit 'Send request', class: "btn" %>
          <% end %>
        </section>
      <% end %>
    <% end %>
  <% end %>
</div>
