<% page_title @edition.title, @edition.format_name %>

<% if @edition.imported? %>

  <div class="span6 document-preview">
    <%= render partial: 'document_preview' %>
  </div>

  <div class="span6">
    <h2 class="pull-right"><%= edition_description(@edition) %></h2>

    <%= render partial: 'navigation', locals: { edition: @edition } %>
    <%= render partial: "rejected_by", locals: { edition: @edition } %>

    <%= render partial: 'speed_tagging' %>
  </div>

<% else %>

  <div class="span8 document-preview">
    <%= render partial: 'document_preview' %>
  </div>

  <div class="span4">
    <h2 class="pull-right"><%= edition_description(@edition) %></h2>

    <%= render partial: 'navigation', locals: { edition: @edition } %>
    <%= render partial: "rejected_by", locals: { edition: @edition } %>

    <% if @edition.is_a?(Speech) %>
      <%= render partial: 'speech_details' %>
    <% end %>

    <%= sidebar_tabs edition_tabs(@edition, remarks_count: @edition_remarks.length, history_count: @edition_history.total_count) do |tabs| %>
      <%= tabs.pane class: "audit-trail", id: "notes" do %>
        <h1>Notes</h1>
        <%= link_to "Add new remark", new_admin_edition_editorial_remark_path(@edition), class: "btn add-remark" %>
        <ul>
          <%= render partial: "audit_trail_entry", collection: @edition_remarks %>
        </ul>
      <% end %>

      <%= tabs.pane class: "audit-trail", id: "history" do %>
        <div class="audit-trail-page">
          <h1>Activity</h1>
          <%= paginate @edition_history, theme: 'audit_trail' %>
          <ul>
            <%= render partial: "audit_trail_entry", collection: @edition_history %>
          </ul>
          <%= paginate @edition_history, theme: 'audit_trail' %>
        </div>
      <% end %>

      <% if @edition.can_be_fact_checked? %>
        <%= tabs.pane class: "fact_checking", id: "fact_checking" do %>
          <h1>Fact checking</h1>
          <%= render partial: 'fact_check_responses', locals: {edition: @edition}  %>
          <section class="request">
            <h1>Send request</h1>
            <%= form_for [:admin, @edition, FactCheckRequest.new] do |f| %>
              <%= f.text_field :email_address %>
              <%= f.text_area :instructions, cols: nil, rows: nil, label_text: "Extra instructions" %>
              <%= f.submit 'Send request', class: "btn" %>
            <% end %>
          </section>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
