=render partial: 'index_heading'

%section.resource_list
  %h1 Submitted
  %table#submitted_policies
    %thead
      %tr
        %th Title
        %th Author
        %th.actions Actions
    %tbody
    - @editions.each do |edition|
      %tr.policy
        %td.title= link_to edition.title, admin_edition_path(edition), title: "Show #{edition.title}"
        %td.author= edition.author.name
        %td.actions
          = link_to 'Edit', edit_admin_edition_path(edition), title: "Edit #{edition.title}"
