<%= form.errors %>

<fieldset>
<%= form.text_field :name %>
<p class="english-name original-translation">English: <%= english_worldwide_office.name %></p>
</fieldset>

<fieldset>
<%= form.text_area :summary %>
<p class="english-summary original-translation">English: <%= english_worldwide_office.summary %></p>
</fieldset>

<fieldset>
<%= form.text_area :description %>
<p class="english-description original-translation">English: <%= english_worldwide_office.description %></p>
</fieldset>

<fieldset>
<%= form.text_area :services %>
<p class="english-services original-translation">English: <%= english_worldwide_office.services %></p>
</fieldset>

<%= form.save_or_cancel cancel: admin_world_worldwide_office_translations_path(english_worldwide_office) %>
