<% content_for :context, "Manage #{add_indefinite_article @content_block_document.block_type.humanize}" %>
<% content_for :title, "Where the change will appear" %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_object_store.new_content_object_store_content_block_edition_path(@content_block_document.id),
  } %>
<% end %>

<p class="govuk-body">The new <%= @content_block_document.block_type.humanize.downcase %> will appear on the following content after you publish the change.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
          ContentObjectStore::ContentBlock::Document::Show::HostEditionsTableComponent.new(
            caption: "Content it appears in",
            host_content_items: @host_content_items,
            ),
          ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= form_with(
              url: content_object_store.content_object_store_content_block_workflow_path(
                edition_id: @content_block_edition.id,
                step: ContentObjectStore::ContentBlock::Editions::WorkflowController::UPDATE_BLOCK_STEPS[:review_links],
              ),
              method: :put,
            ) do %>
          <div class="govuk-button-group govuk-!-margin-bottom-6">
            <%= render "govuk_publishing_components/components/button", {
              text: "Save and continue",
              name: "save_and_continue",
              value: "Save and continue",
              type: "submit",
            } %>
            <%= link_to("Cancel", content_object_store.content_object_store_content_block_documents_path, class: "govuk-link") %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
