<h2 class="govuk-heading-l">History</h2>

<% if editing %>
  <p class="govuk-body">To add an internal note, save your changes.</p>
<% end %>

<p class="govuk-body"><%= link_to("Add internal note", new_admin_edition_editorial_remark_path(edition), class: "govuk-body govuk-link") %></p>

<%= render "govuk_publishing_components/components/inset_text", {
  text: sanitize("History and notes have been merged. #{tag.a('Read more about the change', href: admin_whats_new_path)}")
} %>

<%= paginate(@document_history, theme: 'history', editing:) %>

<% if entries_on_newer_editions.present? %>
  <div class="app-view-editions__newer-edition-entries">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">On newer editions</h3>

    <%= render "govuk_publishing_components/components/list", {
      margin_bottom: entries_on_previous_editions.present? ? 8 : 0,
      items: entries_on_newer_editions.map do |entry|
        render_entry(entry)
      end
    } %>
  </div>
<% end %>

<% if entries_on_current_edition.present? %>
  <div class="app-view-editions__current-edition-entries">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">On this edition</h3>

    <%= render "govuk_publishing_components/components/list", {
      margin_bottom: entries_on_previous_editions.present? ? 8 : 0,
      items: entries_on_current_edition.map do |entry|
        render_entry(entry)
      end
    } %>
  </div>
<% end %>

<% if entries_on_previous_editions.present? %>
  <div class="app-view-editions__previous-edition-entries">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">On previous editions</h3>

    <%= render "govuk_publishing_components/components/list", {
      items: entries_on_previous_editions.map do |entry|
        render_entry(entry)
      end
    } %>
  </div>
<% end %>

<%= paginate(@document_history, theme: 'history', editing:) %>
