<h2 class="govuk-heading-l">History</h2>

<% if editing %>
  <p class="govuk-body">To add an internal note, save your changes.</p>
<% end %>

<p class="govuk-body">
  <%= link_to("Add internal note",
    new_admin_edition_editorial_remark_path(edition),
    class: "govuk-body govuk-link govuk-link--no-visited-state",
    data: {
      module: "gem-track-click",
      "track-category": "button-pressed",
      "track-action": "#{edition.class.name.demodulize.underscore.dasherize}-button",
      "track-label": "Add new remark",
    }) %>
  </p>

<%= form_with url: false, method: :get, class: 'js-filter-form', data: {'remote-pagination' => document_history_admin_edition_path(edition)} do |form| %>
  <%= form.hidden_field :editing, value: editing %>
  <%= render "govuk_publishing_components/components/select", {
    id: "document_history_filter",
    name: "only",
    label: "Show",
    heading_size: "s",
    full_width: true,
    options: [
      {
        text: "Everything",
        value: "",
        selected: document_history.only.blank?,
      },
      {
        text: "Internal notes",
        value: "internal_notes",
        selected: document_history.only == "internal_notes",
      },
      {
        text: "Document history",
        value: "history",
        selected: document_history.only == "history",
      }
    ],
  } %>
  <%= render "govuk_publishing_components/components/button", { text: "Filter" } %>
<% end %>

<%= paginate(@document_history, theme: 'history', editing:) %>

<% if entries_on_newer_editions.present? %>
  <div class="app-view-editions__newer-edition-entries">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">On newer editions</h3>

    <%= render "govuk_publishing_components/components/list", {
      margin_bottom: entries_on_previous_editions.present? ? 8 : 0,
      items: entries_on_newer_editions.map do |entry|
        render_entry(entry)
      end
    } %>
  </div>
<% end %>

<% if entries_on_current_edition.present? %>
  <div class="app-view-editions__current-edition-entries">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">On this edition</h3>

    <%= render "govuk_publishing_components/components/list", {
      margin_bottom: entries_on_previous_editions.present? ? 8 : 0,
      items: entries_on_current_edition.map do |entry|
        render_entry(entry)
      end
    } %>
  </div>
<% end %>

<% if entries_on_previous_editions.present? %>
  <div class="app-view-editions__previous-edition-entries">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">On previous editions</h3>

    <%= render "govuk_publishing_components/components/list", {
      items: entries_on_previous_editions.map do |entry|
        render_entry(entry)
      end
    } %>
  </div>
<% end %>

<%= paginate(@document_history, theme: 'history', editing:) %>
