<%= form.errors %>

<fieldset>
<%= form.text_field :name %>
<p class="english-name original-translation">English: <%= english_location.name %></p>
</fieldset>

<fieldset>
<%= form.text_field :title %>
<p class="english-title original-translation">English: <%= english_location.title %></p>
</fieldset>

<fieldset>
<%= form.text_area :mission_statement %>
<p class="english-mission-statement original-translation">English: <%= english_location.mission_statement %></p>
</fieldset>
<%= form.save_or_cancel cancel: admin_world_location_translations_path(english_location) %>
