<% page_title "Edit translation for: #{@english_world_location.name}" %>

<h1>Edit '<%= @translation_locale.native_language_name %> (<%= @translation_locale.english_language_name %>)' translation for: <%= @english_world_location.name %></h1>

<%= form_for @translated_world_location, url: admin_world_location_translation_path(@translated_world_location, translation_locale), method: :put do |form| %>
  <%= form.errors %>

  <%= form.translated_text_field :name %>
  <%= form.translated_text_field :title %>
  <%= form.translated_text_area :mission_statement, row: 20 %>

  <%= form.save_or_cancel cancel: admin_world_location_translations_path(@translated_world_location) %>
<% end %>
