<% page_title "Edit translation for: #{@english_world_location.name}" %>

<h1>Edit '<%= @translation_locale.native_language_name %> (<%= @translation_locale.english_language_name %>)' translation for: <%= @english_world_location.name %></h1>

<%= form_for @translated_world_location, url: admin_world_location_translation_path(@translated_world_location, translation_locale), method: :put do |form| %>
  <%= form.errors %>

  <fieldset>
  <%= form.text_field :name %>
  <p class="english-name original-translation">English: <%= @english_world_location.name %></p>
  </fieldset>

  <fieldset>
  <%= form.text_field :title %>
  <p class="english-title original-translation">English: <%= @english_world_location.title %></p>
  </fieldset>

  <fieldset>
  <%= form.text_area :mission_statement %>
  <p class="english-mission-statement original-translation">English: <%= @english_world_location.mission_statement %></p>
  </fieldset>
  <%= form.save_or_cancel cancel: admin_world_location_translations_path(@english_world_location) %>
<% end %>
