<% page_title @world_location.name + " translations" %>
<% page_class "world-location-translations-index" %>

<%= content_tag_for(:div, @world_location) do %>
  <div class="world-location-header">
    <h1>
      <span class="name"><%= @world_location.name %></span>
      &ldquo;<span class="title"><%= @world_location.title %></span>&rdquo;
    </h1>
    <p><%= view_on_website_link_for @world_location %></p>
  </div>
  <section class="world-location-details">
    <%= tab_navigation_for(@world_location) %>

    <% if @world_location.non_english_translated_locales.present? %>
      <table id="world-location-translations" class="table table-bordered table-striped">
        <thead>
          <tr class="table-header">
            <th>Locale</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @world_location.non_english_translated_locales.each do |locale| %>
            <tr>
              <td class="locale">
                <%= link_to locale.native_language_name, edit_admin_world_location_translation_path(@world_location, locale.code) %> (<%= link_to "view", world_location_news_index_path(@world_location, locale: locale) %>)
              </td>
              <td class="actions">
                <%= button_to 'Delete',
                      admin_world_location_translation_path(@world_location, locale.code),
                      method: :delete,
                      class: "btn btn-danger",
                      data: { confirm: "Are you sure you want to delete this translation?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="no-content no-content-bordered">No translations</p>
    <% end %>
    <div class="form-actions">
      <% if @world_location.missing_translations.any? %>
        <%= form_tag admin_world_location_translations_path(@world_location), class: 'well' do %>
          <div class="form-group">
            <%= label_tag :translation_locale, 'Locale' %>
            <%= select_locale :translation_locale, @world_location.missing_translations, class: 'form-control input-md-3' %>
          </div>
          <%= submit_tag "Create translation", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </section>
<% end %>
