
<%= form.text_field :title, label_text: 'Item title (optional)' %>
<%= form.text_field :title_url, label_text: 'Item title url (optional)' %>
<%= form.text_area :summary, rows: 4 %>

<% if current_user.can_add_youtube_urls_to_promotional_features? %>
  <div class="publishing-controls">
    <fieldset class="image-and-youtube-radios">
      <legend>Image or YouTube video</legend>

      <p>Upload an image or input a YouTube video url for the promotional feature item</p>

      <%= form.labelled_radio_button(
        "Image",
        :image_or_youtube_video_url,
        "image",
        checked: form.object.image.present? || params.dig("promotional_feature", "promotional_feature_items_attributes", "0", "image_or_youtube_video_url") == "image"
      ) %>

      <div class="form-group image-fields">
        <%= image_tag(form.object.image.url(:s300)) if form.object.image_url %>
        <%= form.upload :image, label_text: 'Item image (must be 960px by 640px)' %>
        <%= form.text_field :image_alt_text, label_text: "Image description (alt text)" %>
      </div>

      <%= form.labelled_radio_button(
        "YouTube video",
        :image_or_youtube_video_url,
        "youtube_video_url",
        checked: form.object.youtube_video_url.present? || params.dig("promotional_feature", "promotional_feature_items_attributes", "0", "image_or_youtube_video_url") == "youtube_video_url"
      ) %>

      <div class="youtube-video-url-fields form-group">
        <%= form.text_field :youtube_video_url, label_text: "YouTube video URL" %>
        <p class="hint add-bottom-margin">For example https://www.youtube.com/watch?v=MSmotCRFFMc</p>

        <%= form.text_field :youtube_video_alt_text, label_text: "YouTube video description (alt text)" %>
      </div>
    </fieldset>
  </div>
<% else %>
  <div class="form-group">
    <%= image_tag(form.object.image.url(:s300)) if form.object.image_url %>
  </div>
  <%= form.upload :image, label_text: 'Item image (must be 960px by 640px)' %>
  <%= form.text_field :image_alt_text, label_text: "Image description (alt text)" %>
<% end %>

<div class="js-duplicate-fields">
  <legend>Feature item links</legend>

  <%= form.fields_for :links, form.object.links do |link| %>
    <div class="js-duplicate-fields-set well">
      <%= link.text_field :url %>
      <%= link.text_field :text %>
      <%= link.hidden_field :_destroy, class: 'js-hidden-destroy' %>
    </div>
  <% end %>
</div>
