<%= content_tag_for(:section, promotional_feature_item, class: 'well') do %>
  <% unless promotional_feature_item.image.s300.url.blank? %>
    <%= image_tag promotional_feature_item.image.s300.url, alt: promotional_feature_item.image_alt_text %>
  <% end %>

  <% if promotional_feature_item.youtube_video_url.present? %>
    <p>
      <%= link_to promotional_feature_item.youtube_video_url, promotional_feature_item.youtube_video_url %>
    </p>
  <% end %>

  <% if promotional_feature_item.title.present? %>
    <p><%= link_to_unless promotional_feature_item.title_url.blank?, promotional_feature_item.title, promotional_feature_item.title_url %></p>
  <% end %>
  <p>
    <%=format_with_html_line_breaks promotional_feature_item.summary %>
  </p>
  <p>
    <% promotional_feature_item.links.each do |link| %>
      &mdash; <%= link_to link.text, link.url %><br />
    <% end %>
  </p>

  <%= link_to "Edit", edit_admin_organisation_promotional_feature_item_path(@organisation, @promotional_feature, promotional_feature_item), class: "btn btn-default"%>
  <%= link_to "Delete", confirm_destroy_admin_organisation_promotional_feature_item_path(@organisation,@promotional_feature, promotional_feature_item), class: 'btn btn-danger btn-sm' %>
<% end %>
