<section class="contextual_info">
  <h1>More information</h1>
  <ul class="details">
    <li>
      <span class="type"><%= @document.genus %></span> delivered by
      <span class="ministerial_role"><%= link_to @document.role, @document.role %></span>
    </li>
    <li class="delivered_on">
      <%= @document.delivered_on.to_s(:long_ordinal) %>
    </li>
    <% if @document.location %>
      <li class="location">
        <%= @document.location %>
      </li>
    <% end %>
    <% if @document.explanation %>
      <li class="explanation">
        <%= @document.explanation %>
      </li>
    <% end %>
  </ul>
  <div class="img"><%= image_for_person @document.person %></div>
</section>
