<% page_title @document.title, "Speeches" %>
<div class="g3">
  <h1 class="page_title title has_meta"><%= @document.title %></h1>
  <p class="meta">
    <span class="metadata">Last updated <%= time_ago(@document.published_at, class: 'published_at') %></span>
    <% @related_policies.map { |d| d.policy_areas }.flatten.uniq.each do |policy_area| %>
      <%= link_to policy_area.name, policy_area_path(policy_area), class: "policy_area", id: dom_id(policy_area) %>
    <% end %>
    <% @document.countries.each do |country| %>
      <%= link_to country.name, country_path(country), class: "country", id: dom_id(country) %>
    <% end %>
  </p>
</div>

<div class="g3f document_page">
  <div class="g1r">
    <section class="contextual_info">
      <h1>Notable dates</h1>
      <p class="details">
        <span class="type"><%= @document.speech_type.name %></span> for speech delivered by
        <span class="ministerial_role"><%= link_to @document.role_appointment.role, @document.role_appointment.role %></span> on
        <span class="delivered_on"><%= @document.delivered_on.to_s(:long_ordinal) %></span> at
        <span class="location"><%= @document.location %></span>
      </p>
    </section>
  </div>
  <div class="g2 document_view">
    <article class="document">
      <div class="body">
        <%= govspeak_to_html @document.body %>
      </div>
    </article>
  </div>
</div>

<%= render partial: 'related_policies', object: @related_policies %>
