<% page_title @document.title, "Speeches" %>
<div class="g3f">
  <section class="page_header speech">
    <h1 class="page_title title has_meta"><%= @document.title %></h1>
    <div class="meta">
      <%= announcement_metadata(@document) %>
      <% @related_policies.map { |d| d.policy_topics }.flatten.uniq.each do |policy_topic| %>
        <%= link_to policy_topic.name, policy_topic_path(policy_topic), class: "policy_topic tag", id: dom_id(policy_topic) %>
      <% end %>
      <% @document.countries.each do |country| %>
        <%= link_to country.name, country_path(country), class: "country tag", id: dom_id(country) %>
      <% end %>
    </div>
  </section>
</div>

<div class="g3f document_page">
  <div class="g1r">
    <section class="contextual_info">
      <h1>Notable dates</h1>
      <p class="details">
        <span class="type"><%= @document.speech_type.name %></span> for speech delivered by
        <span class="ministerial_role"><%= link_to @document.role_appointment.role, @document.role_appointment.role %></span> on
        <span class="delivered_on"><%= @document.delivered_on.to_s(:long_ordinal) %></span> at
        <span class="location"><%= @document.location %></span>
      </p>
    </section>
  </div>
  <div class="g2 document_view">
    <article class="document">
      <div class="body">
        <%= govspeak_to_html @document.body, @document.images %>
      </div>
    </article>
  </div>
</div>

<%= render partial: 'related_policies', object: @related_policies %>
