<% page_title @document.title, "International Priorities" %>
<div class="g3">
  <h1 class="page_title title has_meta"><%= @document.title %></h1>
  <p class="meta">
    <span class="metadata">Last updated <%= time_ago(@document.published_at, class: 'published_at') %></span>
    <% @document.organisations.each do |organisation| %>
      <%= link_to organisation.name, organisation_path(organisation), class: "organisation", id: dom_id(organisation) %>
    <% end %>
    <% @document.countries.each do |country| %>
      <%= link_to country.name, country_path(country), class: "country", id: dom_id(country) %>
    <% end %>
  </p>
</div>

<div class="g3f document_page">
  <div class="g1r">
  </div>
  <div class="g2 document_view">
    <article class="document">
      <div class="body">
        <%= govspeak_to_html @document.body %>
      </div>
    </article>
  </div>
</div>
