<% if contactable.contacts.any? %>
  <% contactable.contacts.each do |contact| %>
    <%= content_tag_for(:div, contact) do %>
      <h3><%= contact.description %></h3>
      <dl class="dl-horizontal">
        <%= definition("Address", contact.address) %>
        <%= definition("Postcode", contact.postcode) %>
        <%= definition("Email", contact.email) { |email| mail_to(email) } %>
        <%= definition("Contact form url", contact.contact_form_url) { |url| link_to(url) } %>
        <% contact.contact_numbers.each do |cn| %>
          <%= definition(cn.label, cn.number) %>
        <% end %>
      </dl>
      <p><%= link_to "Edit", edit_admin_contact_path(contact, contactable: contactable), class: "btn btn-large btn-primary"%>
      </p>
    <% end %>
  <% end %>
<% else %>
  <p>No contacts</p>
<% end %>