<%= content_tag_for(:div, contact, class: 'well') do %>
  <h3><%= contact.title %></h3>

  <div class="vcard">
    <%= render_hcard_address(contact) %>
  </div>
  <%= content_tag(:dl, class: "dl-horizontal") do %>
    <% contact.contact_numbers.each do |cn| %>
      <%= definition(cn.label, cn.number) %>
    <% end %>
    <% if contact.contact_form_url.present? %>
      <%= definition('Contact form', link_to(contact.contact_form_url.truncate(25), contact.contact_form_url)) %>
    <% end %>
    <% if contact.email.present? %>
      <%= definition('Email', contact.email) %>
    <% end %>
    <%= definition('Contact type', contact.contact_type.name) %>
    <%= definition('Markdown to use', "[Contact:#{contact.id}]") %>
    <% if contactable.respond_to? :home_page_contacts %>
      <%= definition('On home page?', contact_shown_on_home_page_text(contact.contactable, contact)) %>
    <% end %>
  <% end %>
  <% if contact.comments.present? %>
    <p class="comments"><%= format_with_html_line_breaks(h(contact.comments)) %></p>
  <% end %>

  <%= button_to "Delete", [:admin, contactable, contact], method: "delete", class: "btn btn-small btn-danger", confirm: "Delete contact '#{contact.title}' from #{contactable.class.name.underscore.humanize.downcase} '#{contactable.name}'?" %>
  <%= link_to icon("Edit"), edit_polymorphic_path([:admin, contactable, contact]), class: "btn btn-small" %>
  <% if contactable.respond_to? :home_page_contacts %>
    <% unless contact.foi? %>
      <% if contactable.contact_shown_on_home_page?(contact) %>
        <%= button_to "Remove from home page", [:remove_from_home_page, :admin, contactable, contact], class: 'btn btn-small' %>
      <% else %>
        <%= button_to "Add to home page", [:add_to_home_page, :admin, contactable, contact], class: 'btn btn-small' %>
      <% end %>
    <% end %>
  <% end %>
  <% if contact.missing_translations.any? %>
    <a href="#add-translation-modal" id="open-add-translation-modal" class="btn btn-small" data-toggle="modal"><i class="icon-plus-sign"></i> Add translation</a>
    <div id="add-translation-modal" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Add translation</h3>
      </div>
      <%= form_tag([:admin, contactable, contact, :translations]) do %>
        <div class="modal-body">
          <%= label_tag :translation_locale, 'Locale' %>
          <%= select_locale :translation_locale, contact.missing_translations %>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <%= submit_tag "Add translation", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% contact.non_english_localised_models([:contact_numbers]).each do |translated_contact| %>
    <hr />
    <h3><small><%= translated_contact.translation_locale.native_and_english_language_name %> translation</small></h3>

    <h3><%= translated_contact.title %></h3>

    <div class="vcard">
      <%= render_hcard_address(translated_contact) %>
    </div>

    <%= content_tag(:dl, class: "dl-horizontal") do %>
      <% translated_contact.contact_numbers.each do |cn| %>
        <%= definition(cn.label, cn.number) %>
      <% end %>
      <% if contact.email.present? %>
        <%= definition('Email', contact.email) %>
      <% end %>
    <% end %>

    <%= button_to "Delete", [:admin, contactable, contact, translated_contact.translation_locale], method: "delete", class: "btn btn-small btn-danger", confirm: "Delete '#{translated_contact.translation_locale.native_and_english_language_name}' translation from contact '#{contact.title}'?" %>
    <%= link_to icon("Edit"), edit_polymorphic_path([:admin, contactable, contact, translated_contact.translation_locale]), class: "btn btn-small" %>
  <% end %>
<% end %>
