<div class="govuk-!-margin-bottom-8 app-view-contacts__address">
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Address",
    heading_level: 2,
    heading_size: "l"
  } do %>
    <div class="govuk-!-margin-bottom-4">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Recipient"
        },
        name: "#{name}[recipient]",
        id: "#{id}_recipient",
        heading_size: "m",
        hint: "Organisation, division, team, unit or person name",
        value: contact_form.object.recipient,
        error_items: errors_for(contact_form.object.errors, :recipient)
      } %>
    </div>

    <div class="govuk-!-margin-bottom-4">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Street address"
        },
        name: "#{name}[street_address]",
        id: "#{id}_street_address",
        heading_size: "m",
        value: contact_form.object.street_address,
        error_items: errors_for(contact_form.object.errors, :street_address)
      } %>
    </div>

    <div class="govuk-!-margin-bottom-4">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Town or city"
        },
        name: "#{name}[locality]",
        id: "#{id}_locality",
        heading_size: "m",
        value: contact_form.object.locality,
        error_items: errors_for(contact_form.object.errors, :locality)
      } %>
    </div>

    <div class="govuk-!-margin-bottom-4">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "State or county"
        },
        name: "#{name}[region]",
        id: "#{id}_region",
        heading_size: "m",
        value: contact_form.object.region,
        error_items: errors_for(contact_form.object.errors, :region)
      } %>
    </div>

    <div class="govuk-!-margin-bottom-4">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Postal code"
        },
        name: "#{name}[postal_code]",
        id: "#{id}_postal_code",
        heading_size: "m",
        value: contact_form.object.postal_code,
        error_items: errors_for(contact_form.object.errors, :postal_code)
      } %>
    </div>

    <%
      options = [{value: "", text: ""}]
      options.concat(WorldLocation.geographical.map do |location|
        {
          value: location.id,
          text: location.name,
          selected: contact_form.object.country_id == location.id
        }
      end)
    %>

    <div class="govuk-!-margin-bottom-0">
      <%= render "govuk_publishing_components/components/select", {
        id: "#{id}_country_id",
        name: "#{name}[country_id]",
        label: "Country",
        full_width: true,
        heading_size: "m",
        error_message: errors_for_input(contact_form.object.errors, :country_id),
        options: options
      } %>
    </div>
  <% end %>
</div>

<div class="govuk-!-margin-bottom-8 app-view-contacts__phone">
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Phone numbers",
    heading_level: 2,
    heading_size: "l",
  } do %>
    <div data-module="AddAnother" data-add-text="Add phone number">
      <%= contact_form.fields_for :contact_numbers, contact_form.object.contact_numbers do |contact_number_form| %>
        <div class=" js-duplicate-fields-set govuk-!-margin-bottom-4">
          <%= render "govuk_publishing_components/components/input", {
            label: {
              text: "Label"
            },
            name: "#{name}[contact_numbers_attributes][#{contact_number_form.index}][label]",
            id: "#{id}_contact_numbers_attributes_#{contact_number_form.index}_label",
            heading_size: "m",
            value: contact_number_form.object.label
          } %>

          <%= render "govuk_publishing_components/components/input", {
            label: {
              text: "Number"
            },
            name: "#{name}[contact_numbers_attributes][#{contact_number_form.index}][number]",
            id: "#{id}_contact_numbers_attributes_#{contact_number_form.index}_number",
            heading_size: "m",
            value: contact_number_form.object.number
          } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
