<% page_title @contactable.name %>
<div class="row-fluid organisation-header">
  <div class="span8">
    <h1><%= @contactable.name %></h1>
    <%= link_to "View on website", @contactable %>
  </div>
</div>

<%= tab_navigation_for(@contactable, 'tabs-left') do %>
  <h2>Contacts</h2>
  <%= render(@contactable.contacts, contactable: @contactable) || content_tag(:p, 'No contacts') %>
  <div class="form-actions">
    <%= link_to icon("Add"), new_polymorphic_path([:admin, @contactable, Contact.new]), class: "btn btn-large btn-primary"%>
  </div>

<% end %>