<% content_for :context, "Contacts" %>
<% content_for :page_title, "Reorder contacts" %>
<% content_for :title, "Reorder contacts" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with model: @contact, url: [:reorder_for_home_page, :admin, @contactable, Contact] do %>
      <%= render "govuk_publishing_components/components/hint", {
        text: "Use the up and down buttons to reorder pages, or select and hold on a page to reorder using drag and drop.",
        margin_bottom: 4,
      } %>
      <%= render "govuk_publishing_components/components/reorderable_list", {
        items: @contactable.home_page_contacts.map do |contact|
          {
            id: contact.id,
            title: contact.title
          }
        end
      } %>

      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Update order",
        } %>
        <%= link_to("Cancel", [:admin, @contactable, Contact], class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
