<div class="format-advice">
  <p class="govuk-body"><strong>Use this format for:</strong> Initial fatality notices and subsequent obituaries of forces and MOD personnel. Don’t publish a news story which duplicates this announcement.</p>
</div>

<%= standard_edition_form(edition, @information, preview_design_system: true) do |form| %>
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Associations",
    heading_level: 3,
    heading_size: "l"
  } do %>
    <p class="govuk-body">You'll be able to specialist sectors later.</p>

    <div class="govuk-!-margin-bottom-4">
      <%= render 'organisation_fields', form: form, edition: edition %>
      <%= render 'appointment_fields', form: form, edition: edition %>
      <%= render 'operational_field_fields', form: form, edition: edition %>
    </div>
  <% end %>

  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Roll call info (displays on the field of operation) (required)",
    heading_level: 3,
    heading_size: "l"
  } do %>
    <%= render "govuk_publishing_components/components/textarea", {
      label: {
        text: "Introduction (required)",
        heading_size: "m",
      },
      value: edition.roll_call_introduction,
      name: "edition[roll_call_introduction]",
      id: "edition_roll_call_introduction",
      error_items: errors_for(edition.errors, :roll_call_introduction),
      rows: 2
    } %>

    <h4 class="govuk-heading-m">Casualties (required)</h4>

    <div data-module="AddAnother" data-add-text="Add another person" class="govuk-!-margin-bottom-4">
      <%= form.fields_for :fatality_notice_casualties do |fatality_form| %>
        <div class="js-duplicate-fields-set govuk-!-margin-top-4">
          <%= render "govuk_publishing_components/components/textarea", {
            label: {
              text: "Personal details",
              bold: true,
            },
            value: fatality_form.object.personal_details,
            name: "edition[fatality_notice_casualties_attributes][#{fatality_form.index}][personal_details]",
            id: "edition_fatality_notice_casualties_#{fatality_form.index}_personal_details",
            rows: 2
          } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
