<%= render "govuk_publishing_components/components/heading", {
  text: "Select a lead image",
  font_size: "l",
  padding: true,
} %>

<% if block.content.blank? && block.rendered_default_image_url %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Default lead image",
    font_size: "m",
    heading_level: 2,
    margin_bottom: 2,
  } %>

  <%= render "govuk_publishing_components/components/hint", {
    text: block.default_hint_text,
    margin_bottom: 3,
  } %>

  <div class="app-c-edition-images-lead-image-component__default_lead_image govuk-!-margin-bottom-4">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <img src="<%= block.rendered_default_image_url %>" alt="Default lead image" class="app-view-edition-resource__preview">
      </div>
    </div>
  </div>
<% end %>

<%= render "govuk_publishing_components/components/select", {
  id: block.path.form_control_id,
  label: block.title + (block.required ? " (required)" : ""),
  name: block.path.form_control_name,
  options: block.select_options,
  hint: block.custom_hint_text,
  heading_size: "m",
  full_width: true,
  error_items: errors_for(block.edition.errors, block.path.validation_error_attribute.to_sym),
} %>
