<% page_title "Edit " + @classification.name %>

<div class="span8">
  <section>
    <h1>Edit <%= human_friendly_model_name.downcase %></h1>
    <p class="warning">Warning: changes to <%= human_friendly_model_name.downcase %>s appear instantly on the live site.</p>
    <%= render partial: "form", locals: {classification: @classification, show_instantly_live_warning: true} %>
  </section>
</div>

<div class="sidebar span4">
  <section class="display_heading">
    <h1>Delete <%= human_friendly_model_name.downcase %></h1>
    <% if @classification.destroyable? %>
      <%= button_to 'Delete', admin_topic_path(@classification), method: :delete, confirm: "Are you sure you want to delete: #{@classification} ?", class: 'btn btn-danger' %>
    <% else %>
      <div class="policies_preventing_destruction">
        <p>This topic can't be deleted as it has associated policies:</p>
        <ul>
          <% policies_preventing_destruction(@classification).each do |policy| %>
            <li><%= policy %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </section>
</div>
