<% page_title model_name.humanize.pluralize %>

<h1><%= model_name.humanize.pluralize %></h1>
<p class="warning remove-top-margin">Do not create <%= model_class.name.underscore.humanize.downcase %>s without consulting GDS.</p>
<%= link_to "Create #{model_name.humanize.downcase}", [:new, :admin, model_name], class: "btn new_resource", title: "Create a #{model_name.humanize.downcase}" %>

<table class="<%= model_name %> table table-striped table-bordered add-top-margin">
  <%= render 'table_header' %>

  <tbody>
    <%= render @classifications %>
  </tbody>
</table>
