<% page_title @edition.title, "Consultation Response" %>
<div class="g3f">
  <div class="g2 first">
    <%= render partial: 'navigation', locals: { edition: @edition } %>
    <%= render partial: "rejected_by", locals: { edition: @edition } %>
    <section class="document_view">
      <%= render partial: 'document', locals: { edition: @edition } %>
      <% if @edition.notes_to_editors.present? %>
        <section id="notes_to_editors">
          <h1>Notes to editors</h1>
          <%= govspeak_to_html @edition.notes_to_editors %>
        </section>
      <% end %>
    </section>

    <%= render partial: "admin/edition_publishing/form", locals: { edition: @edition } %>
  </div>

  <div class="g1">
    <section class="container">
      <h1>Consultation</h1>
      <%= content_tag_for :p, @edition.consultation do %>
        This is a response to the consultation
        <%= link_to @edition.consultation.title, admin_consultation_path(@edition.consultation) %>
      <% end %>
    </section>
  </div>
</div>

<div class="g3f">
  <%= render partial: 'fact_check_responses', locals: {edition: @edition} %>
</div>
