<% page_title "Edit " + @country.name %>
<div class="g2 first">
  <section>
    <h1>Edit country</h1>
    <%= form_for([:admin, @country]) do |form| %>
      <%= form.text_area :description %>

      <%= render partial: 'admin/documents/govspeak_help' %>
      <fieldset>
        <%= form.text_area :about, class: 'previewable', help: true %>
      </fieldset>

      <%= form.check_box :active,
                label_text: "Active (can visitors click through from the country list?)" %>

      <fieldset>
        <legend>Embassy contact details</legend>
        <%= form.text_area :embassy_address, rows: 4 %>
        <%= form.text_field :embassy_telephone %>
        <%= form.text_field :embassy_email %>
      </fieldset>

      <%= form.submit "Save" %>
    <% end %>
  </section>
</div>
<% if @news_articles.any? %>
  <div class="g3 first">
    <section>
      <h2>News Articles</h2>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Published</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @news_articles.each do |news_article| %>
            <%= content_tag_for(:tr, news_article) do %>
              <td><%= link_to news_article.title, admin_document_path(news_article) %></td>
              <td><%= time_ago_in_words news_article.updated_at %> ago</td>
              <td>
                <% association = news_article.document_countries.where(country_id: @country).first %>
                <%= form_for([:admin, association], html: {class: "button_to"}) do |f| %>
                  <% if association.featured? %>
                    <%= f.hidden_field :featured, value: false %>
                    <%= f.submit "No longer feature" %>
                  <% else %>
                    <%= f.hidden_field :featured, value: true %>
                    <%= f.submit "Feature" %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
<% end %>