<div class="broken-links-report">
  <% if links_report.new_record? %>
    <section class='alert alert-info'>
      <p>Check edition for broken links. The report will take a few moments to complete.</p>
      <%= render 'admin/links_reports/form', reportable: links_report.link_reportable, button_text: 'Find broken links' %>
    </section>
  <% elsif links_report.in_progress? %>
    <section class='alert alert-info'>
      <p class="loading-spinner">
        Broken link report in progress, links are being checked. Please wait.
        <%= link_to "Refresh",
                    admin_edition_links_report_path(links_report.link_reportable, links_report),
                    class: 'js-broken-links-refresh js-hidden',
                    remote: true %>
      </p>
    </section>
  <% elsif links_report.broken_links? %>
    <section class='alert'>
      <p>We've found some links that may not be responding:</p>
      <ul>
        <% links_report.broken_links.each do |link| %>
          <li><%= link_to link.truncate(50), link, title: link %></li>
        <% end %>
      </ul>
      <%= render 'admin/links_reports/form', reportable: links_report.link_reportable, button_text: 'Check again' %>
    </section>
  <% else %>
    <section class='alert alert-success'>
      <p><span class="icon icon-ok"></span> Edition contains no broken links.</p>
      <%= render 'admin/links_reports/form', reportable: links_report.link_reportable, button_text: 'Check again' %>
    </section>
  <% end %>
</div>
