<% page_title @html_attachment.title %>
<% page_class "html-publications-show" %>

<div class="block publication-external">
  <div class="inner-block floated-children">
    <ul class="organisations-icon-list organisations">
      <% @edition.sorted_organisations.each do |organisation| %>
        <%= content_tag_for(:li, organisation, class: organisation_brand_colour_class(organisation)) do %>
          <%= link_to organisation_path(organisation),
                      class: logo_classes(organisation: organisation, size: 'medium', stacked: true) do %>
            <span><%= organisation_logo_name(organisation) %></span>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <div class="return">
      <p><%= link_to t('attachment.see_more', :document_type => t("document.type.#{@edition.display_type_key}.one")), public_document_path(@edition) %></p>
    </div>
  </div>
</div>
<header class="publication-header" id="contents">
  <div class="inner-block floated-children">
    <div class="headings">
      <%= content_tag(:p, t("document.type.#{@edition.display_type_key}.one"), class: 'document-type') %>
      <h1><%= @html_attachment.title %></h1>
      <p><%= published_or_updated(@edition).titlecase %> <%= absolute_date(@edition.public_timestamp, class: 'published-at') %></p>
    </div>
    <nav class="in-page-navigation">
      <h2><%= t('document.contents') %></h2>
      <%= content_tag :ol, class: ('unnumbered' if @html_attachment.manually_numbered_headings?) do %>
        <% html_attachment_govspeak_headers(@html_attachment).each do |header| %>
          <li><%= link_to header.text, "##{header.id}" %></li>
        <% end %>
      <% end %>
    </nav>
  </div>
</header>
<div class="block publication-content">
  <div class="inner-block floated-children">
    <%= govspeak_to_html @html_attachment.body, @edition.images, govspeak_options_for_html_attachment(@html_attachment) %>
  </div>
</div>
<div class="js-back-to-content back-to-content">
  <a href="#contents"><%= t('document.contents') %></a>
</div>
<div class="js-back-to-content-stop"></div>
