<div class="format-advice">
  <p><strong>Use this format for:</strong> Detailed background or information about an action government is taking in relation to a policy.</p>
</div>

<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>

    <div class="js-external-url-set">
      <%= render 'inline_attachments_info', form: form, edition: edition %>
    </div>

    <fieldset>
      <legend>Associations</legend>
      <%= render 'admin/shared/policy_fields', form: form, edition: edition %>
      <%= render partial: 'specialist_sector_fields', locals: { form: form, edition: edition } %>
    </fieldset>
  <% end %>
<% end %>
