<% page_title "Edit #{@supporting_page.title}", "Supporting page for #{@supporting_page.document_title}" %>
<h1>Edit supporting page <%= @supporting_page.title %></h1>

<div class="row-fluid">
  <div class="span8">
    <section>
      <% if @conflicting_supporting_page %>
        <div class="row-fluid">
          <div class="conflicting new span6">
            <%= render partial: "form", locals: {disabled: false, supporting_page: @supporting_page} %>
          </div>
          <div class="conflicting latest span6">
            <%= render partial: "form", locals: {disabled: true, supporting_page: @conflicting_supporting_page} %>
          </div>
        </div>
      <% else %>
        <%= render partial: "form", locals: {disabled: false, supporting_page: @supporting_page} %>
      <% end %>
    </section>
  </div>

  <div class="span4">
    <%= render partial: "sidebar" %>
  </div>
</div>