<%= render "govuk_publishing_components/components/heading", {
  text: "Uploaded images",
  font_size: "l",
} %>

<% if can_have_lead_image? %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Lead image",
    font_size: "m",
    padding: true
  } %>

  <%= render "govuk_publishing_components/components/details", {
        title: "Using a lead image",
      } do %>
    <% lead_image_guidance %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <% if lead_image %>
    <div class="govuk-grid-column-one-third">
      <img src="<%= lead_image[:url] %>" alt="<%= lead_image[:preview_alt_text] %>" class="app-view-edition-images__image">
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><strong>Caption: </strong><%= lead_image[:caption] %></p>
      <p class="govuk-body"><strong>Alt text: </strong><%= lead_image[:alt_text] %></p>
    </div>
  <% end %>

  <% if lead_image || @edition.type == "CaseStudy" %>
    <%= form_with(url: update_image_display_option_admin_edition_path(@edition), method: :patch) do |form| %>
      <div class="app-view-edition-images__actions govuk-grid-column-full govuk-button-group">
        <% if @edition.type == "CaseStudy" %>
          <%= hidden_field_tag "edition[image_display_option]", new_image_display_option %>
          <%= render "govuk_publishing_components/components/button", {
            text: update_image_display_option_button_text,
            secondary_solid: true,
            margin_bottom: 4
          } %>
        <% end %>

        <% if lead_image %>
          <% lead_image[:links].each do |link| %><%= link %><% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>

<%= render "govuk_publishing_components/components/heading", {
  text: "Images available to use in document",
  font_size: "m",
  padding: true
} %>

<% if document_images %>
  <%= render "govuk_publishing_components/components/inset_text", {
    text: "Copy the image markdown code to add images to the document body.",
    margin_top: 0
  } %>

  <ul class="govuk-list">
    <% document_images.each do |image| %>
      <li class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img src="<%= image[:url] %>" alt="<%= image[:preview_alt_text] %>" class="app-view-edition-images__image">
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body"><strong>Caption: </strong><%= image[:caption] %></p>
          <p class="govuk-body"><strong>Alt text: </strong><%= image[:alt_text] %></p>
          <%= render "govuk_publishing_components/components/copy_to_clipboard", {
            label: tag.strong("Markdown code:"),
            copyable_content: image[:markdown],
            button_text: "Copy Markdown"
          } %>
        </div>
        <div class="app-view-edition-images__actions govuk-grid-column-full govuk-button-group">
          <% image[:links].each do |link| %><%= link %><% end %>
        </div>
      </li>
      <% if image != document_images.last %>
        <li aria-hidden="true"><hr class="app-view-edition-images__section-break govuk-section-break govuk-section-break--visible"></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p class="govuk-body">No images uploaded</p>
<% end %>
