<% if edition.configurable_document_type.present? %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Select a lead image",
    font_size: "l",
    padding: true,
  } %>

  <%= form_for [:admin, edition], as: :edition do |form| %>
    <% root_block = ConfigurableContentBlocks::Factory.new(edition).build("object") %>
    <%= render(root_block, {
      schema: ConfigurableDocumentType.find(edition.configurable_document_type).schema,
      content: edition.block_content,
      path: ConfigurableContentBlocks::Path.new,
      right_to_left: edition.rtl?,
      errors: edition.errors,
      root: true,
      tab: "images",
    }) %>

    <div class="govuk-button-group">
      <%= render "govuk_publishing_components/components/button", {
        text: "Save",
        value: "save",
        name: "save",
      } %>
    </div>
   <% end %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: "Uploaded images",
  font_size: "l",
} %>

<%
  # legacy, non-config-driven lead image behaviour
  unless edition.configurable_document_type.present?
%>
  <%= render Admin::EditionImages::LeadImageComponent.new(edition: edition) %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: "Images available to use in document",
  font_size: "m",
  padding: true,
} %>

<% if document_images.present? %>
  <%= render "govuk_publishing_components/components/inset_text", {
    text: "Copy the image markdown code to add images to the document body.",
    margin_top: 0,
  } %>

  <ul class="govuk-list">
    <% document_images.each do |image| %>
      <%= render Admin::EditionImages::ImageComponent.new(edition: edition, image: image, last_image: image == document_images.last) %>
    <% end %>
  </ul>
<% else %>
  <p class="govuk-body">No images uploaded</p>
<% end %>
