<%
  show_instantly_live_warning ||= false
  show_consult_gds_warning ||= false
%>

<% role_type = role.type %>
<%= form_for [:admin, role.becomes(Role)], as: :role do |form| %>
  <%= form.errors %>

  <fieldset>
    <%= form.text_field :name %>
    <%= form.label :type %>
    <%= form.select :type, grouped_options_for_select(role_type_options, role_type_option_value_for(role, role_type)) %>
    <%= form.label :organisation_ids, 'Organisations' %>
    <%= form.select :organisation_ids, options_from_collection_for_select(Organisation.with_translations(:en).all, 'id', 'select_name', role.organisation_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose organisations..." } %>
    <%= form.label :whip_organisation_id, 'Whip Organisation' %>
    <%= form.select :whip_organisation_id, options_from_collection_for_select(Whitehall::WhipOrganisation.all, 'id', 'name', role.whip_organisation_id),  { include_blank: true } %>
    <%= form.label :role_payment_type_id, 'Payment options' %>
    <%= form.select :role_payment_type_id, options_from_collection_for_select(RolePaymentType.all, :id, :name, form.object.role_payment_type_id), { include_blank: true } %>
    <%= form.label :attends_cabinet_type_id, 'Attends cabinet options' %>
    <%= form.select :attends_cabinet_type_id, options_from_collection_for_select(RoleAttendsCabinetType.all, :id, :name, form.object.attends_cabinet_type_id), { include_blank: true } %>

    <%= form.label :worldwide_organisation_ids, 'Worldwide organisations' %>
    <%= form.select :worldwide_organisation_ids, options_from_collection_for_select(WorldwideOrganisation.all, 'id', 'name', role.worldwide_organisation_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose worldwide organisations..." } %>
  </fieldset>

  <fieldset>
    <%= form.text_area :responsibilities, class: "previewable" %>
  </fieldset>
  <p class="warning">
    <% if show_instantly_live_warning %>
      Warning: changes to roles appear instantly on the live site.
    <% end %>
    <% if show_consult_gds_warning %>
      Do not create ministerial roles without consulting GDS.
    <% end %>
  </p>
  <%= form.save_or_cancel cancel: admin_roles_path %>
<% end %>
