<%
  show_instantly_live_warning ||= false
  show_consult_gds_warning ||= false
%>

<%= form_for role, as: :role, url: role_url_for(role) do |form| %>
    <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Role title (required)",
          heading_size: "l"
        },
        value: role.name,
        name: "role[name]",
        id: "role_name",
        type: "text",
        error_items: errors_for(role.errors, :name)
    }
    %>

    <%= render "govuk_publishing_components/components/select", {
      id: "role_type",
      label: "Role type (required)",
      heading_size: "l",
      name: "role[role_type]",
      options:
        [{ value: nil, text: nil }] + role_type_options.map do |group, name_vs_type|
          name_vs_type.map do |name, type|
            {
              text: name,
              value: type,
              selected: role.role_type == type
            }
          end
        end.flatten,
      error_message: errors_for_input(role.errors, :type)
    } %>

    <%= render "components/autocomplete", {
      id: "role_organisation_ids",
      label: {
        text: "Organisations",
        heading_size: "l"
      },
      name: "role[organisation_ids][]",
      select: {
        options:  options_from_collection_for_select(Organisation.with_translations(:en), 'id', 'select_name', role.organisation_ids),
        multiple: true
      }
    } %>

    <%= render "govuk_publishing_components/components/select", {
      id: "role_whip_organisation_id",
      label: "Whip Organisation",
      heading_size: "l",
      name: "role[whip_organisation_id]",
      options: ([nil] + Whitehall::WhipOrganisation.all).map do |whip_organisation|
          {
            text: whip_organisation&.label,
            value: whip_organisation&.id,
            selected: whip_organisation&.id == role.whip_organisation_id
          }
        end
    } %>

    <%= render "govuk_publishing_components/components/select", {
      id: "role_role_payment_type_id",
      label: "Payment options",
      heading_size: "l",
      name: "role[role_payment_type_id]",
      options: ([nil] + RolePaymentType.all).map do |role_payment_type|
        {
          text: role_payment_type&.name,
          value: role_payment_type&.id,
          selected: role.role_payment_type_id == role_payment_type&.id
        }
      end
    } %>

    <%= render "govuk_publishing_components/components/select", {
      id: "role_attends_cabinet_type_id",
      label: "Attends cabinet options",
      heading_size: "l",
      name: "role[attends_cabinet_type_id]",
      options: ([nil] + RoleAttendsCabinetType.all).map do |role_attends_cabinet_type|
        {
          text: role_attends_cabinet_type&.name,
          value: role_attends_cabinet_type&.id,
          selected: role.attends_cabinet_type_id == role_attends_cabinet_type&.id
        }
      end
    } %>

    <%= render "components/autocomplete", {
      id: "role_worldwide_organisation_ids",
      label: {
        text: "Worldwide organisations",
        heading_size: "l"
      },
      name: "role[worldwide_organisation_ids][]",
      select: {
        options:  options_from_collection_for_select(WorldwideOrganisation.all, 'id', 'name', role.worldwide_organisation_ids),
        multiple: true
      }
    } %>

    <%= render "components/govspeak-editor", {
      label: {
        text: "Responsibilities",
        heading_size: "l"
      },
      id: "role_responsibilities",
      name: "role[responsibilities]",
      value: role.responsibilities_without_markup,
      rows: 20
    } %>

    <%= render "govuk_publishing_components/components/warning_text", {
      text: "Changes to roles appear instantly on the live site."
    } if show_instantly_live_warning %>

    <%= render "govuk_publishing_components/components/warning_text", {
      text: "Do not create ministerial roles without consulting GDS."
    } if show_consult_gds_warning %>

    <div class="govuk-button-group">
      <%= render "govuk_publishing_components/components/button", {
        text: "Save",
        name: "save",
        value: "Save",
        type: "submit"
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Save and continue",
        name: "save_and_continue",
        value: "Save and continue",
        type: "submit",
        secondary: true
      } %>
      <%= link_to("Cancel", admin_roles_path, class: "govuk-link") %>
    </div>
<% end %>
