<%= form_for [:admin, role.becomes(Role)], as: :role do |form| %>
  <%= form.errors %>

  <fieldset>
    <%= form.text_field :name %>
    <%= form.label :type %>
    <%= form.select :type, options_from_collection_for_select([MinisterialRole, BoardMemberRole].map { |s| [s.name, s.humanized_type] }, :first, :last, role.class.name) %>
    <%= form.check_box :cabinet_member, label_text: "Cabinet member? (only applies to Ministers)" %>
    <%= form.check_box :permanent_secretary, label_text: "Permanent secretary? (only applies to Board Members)" %>
    <%= form.label :organisation_ids, 'Organisations' %>
    <%= form.select :organisation_ids, options_from_collection_for_select(Organisation.all, 'id', 'name', role.organisation_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose organisations..." } %>
  </fieldset>

  <fieldset>
    <%= form.text_area :responsibilities, class: "previewable" %>
  </fieldset>

  <% if role.persisted? %>
    <h3>Appointees</h3>

    <%= link_to "New appointment", new_admin_role_role_appointment_path(role, make_current: true), class: "btn" %>
    <%= render partial: "admin/role_appointments/list", locals: {role_appointments: role.role_appointments} %>
    <%= link_to "Add previous appointment", new_admin_role_role_appointment_path(role), class: "btn" %>
  <% end %>

  <%= form.save_or_cancel cancel: admin_roles_path %>
<% end %>
