<% page_title "Edit #{@role.name}"  %>
<div class="span8">
  <section>
    <h1>Edit role</h1>
    <p class="warning">Warning: changes to roles appear instantly on the live site.</p>
    <%= render partial: "form", locals: {role: @role, show_instantly_live_warning: true} %>
  </section>
</div>

<div class="span4">
  <%= sidebar_tabs appointments: "Appointments", govspeak_help: "Help" do |tabs| %>
    <%= tabs.pane id: "appointments" do %>
      <h1>Appointments</h1>
      <p><%= link_to "Add previous appointment", new_admin_role_role_appointment_path(@role), class: "btn" %></p>
      <%= render partial: "admin/role_appointments/list", locals: {role_appointments: @role.role_appointments} %>
      <p><%= link_to "New appointment", new_admin_role_role_appointment_path(@role, make_current: true), class: "btn" %></p>
    <% end %>
    <%= tabs.pane class: "govspeak_help", id: "govspeak_help" do %>
      <%= render partial: "admin/editions/govspeak_help" %>
    <% end %>
  <% end %>
</div>
