<section class="resource_list">
  <div class="collection">

    <nav class="actions">
      <%= link_to "Create Role", new_admin_role_path, class: "button new_resource", title: "Create a Role" %>
    </nav>

    <h1>Roles</h1>

    <table class="roles">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Leader</th>
          <th>Organisations</th>
          <th>Currently Appointed</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
          <%= content_tag_for(:tr, role) do %>
            <td class="name"><%= link_to role.name, edit_admin_role_path(role), title: "Edit role #{role.name}" %></td>
            <td class="type"><%= role.humanized_type %></td>
            <td class="leader"><%= role.leader? ? "Yes" : "No" %></td>
            <td class="organisations"><%= role.organisation_names %></td>
            <td class="person"><%= role.current_person_name %></td>
            <td class="delete">
              <% if role.destroyable? %>
                <%= button_to 'delete', admin_role_path(role), method: :delete %>
              <% else %>
                <span>Cannot delete</span>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>