<% page_title "Roles" %>

<nav class="actions">
  <%= link_to "Create role", new_admin_role_path, class: "btn new_resource", title: "Create a Role" %>
  <p class="warning">Do not create ministerial roles without consulting GDS.</p>
</nav>

<h1>Roles</h1>

<table class="roles table table-striped">
  <thead>
    <tr>
      <th width="30%">Name</th>
      <th width="15%">Organisations</th>
      <th>Role type</th>
      <th>Currently appointed</th>
      <th>Translations</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <%= content_tag_for(:tr, role) do %>
        <td class="name"><%= link_to role.name, edit_admin_role_path(role), title: "Edit role #{role.name}" %></td>
        <td class="organisations"><%= role.organisation_names %></td>
        <td class="role_type"><%= role_type_option_value_for(role, role.type).humanize %></td>
        <td class="person"><%= role.current_person_name %></td>
        <td class="translations">
          <% if role.worldwide? %>
            <%= link_to "Manage translations", admin_role_translations_path(role), title: "Manage translations of #{role.name}" %>
          <% end %>
        </td>
        <td class="delete">
          <% if role.destroyable? %>
            <%= button_to 'delete', admin_role_path(role), method: :delete, class: 'btn btn-danger', confirm: "Are you sure you wish to remove this role?" %>
          <% else %>
            <span>Cannot delete</span>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
