<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_document_collection_groups_path(@collection),
  } %>
<% end %>
<% content_for :page_title, @group.heading %>
<% content_for :title, @group.heading %>
<% content_for :context, @collection.title %>
<% content_for :title_margin_bottom, 4 %>

<% if unavailable_document_count(@group.memberships).positive? %>
  <%= render "unavailable_document_banner", unavailable_document_count: unavailable_document_count(@group.memberships) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= view_on_website_link_for @collection, url: { draft: true }, class: "govuk-link", target: "blank" %>
    </p>

    <%= render "components/secondary_navigation", {
      aria_label: "Document collection group navigation",
      items: secondary_navigation_tabs_items(@group, request.path),
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full app-view-document-collection-group-memberships-index__heading ">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Documents",
          margin_bottom: 6,
        } %>
        <ul class="govuk-list">
          <li>
            <%= link_to "Add document", admin_document_collection_group_search_options_path(@collection, @group), class: "govuk-link" %>
          </li>

          <% if @group.memberships.many? %>
            <li>
              <%= link_to "Reorder document", reorder_admin_document_collection_group_document_collection_group_memberships_path(@collection, @group), class: "govuk-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if @group.memberships.present? %>
      <div class="govuk-table--with-actions app-view-document-collection-group-memberships-index__table">
        <%= render "govuk_publishing_components/components/table", {
          rows: @group.memberships.map do |membership|
            [
              { text: document_collection_group_member_title(membership) },
              { text: document_collection_group_member_links(@collection, @group, membership) },
            ]
          end,
        } %>
      </div>
    <% else %>
      <%= render "govuk_publishing_components/components/warning_text", {
        text: "There are no documents inside this group",
      } %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <% end %>
  </div>
</div>
