<% modal ||= false %>

<% if modal %>
  <div id="unwithdraw-modal" class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Are you sure you want to unwithdraw this?</h3>
        </div>
        <div class="modal-body">
          <p>This will create a new edition and immediately publish it. This will not trigger email alerts.</p>
        </div>
        <%= form_tag unwithdraw_admin_edition_path(@edition, lock_version: @edition.lock_version), class: 'unwithdraw-form' do %>
          <div class="modal-footer">
            <%= submit_tag 'Unwithdraw', class: "btn btn-danger" %> <%= link_to 'Cancel', [:admin, @edition], class: 'btn btn-default add-left-margin' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h1>Are you sure you want to unwithdraw this?</h1>
  <%= form_tag unwithdraw_admin_edition_path(@edition, lock_version: @edition.lock_version), class: 'unwithdraw-form' do %>
    <p>This will create a new edition and immediately publish it. This will not trigger email alerts.</p>
    <%= submit_tag 'Unwithdraw', class: "btn btn-danger" %> <%= link_to 'Cancel', [:admin, @edition], class: 'btn btn-default add-left-margin' %>
  <% end %>
<% end %>
