<% page_title "Unpublish: #{@edition.title}"  %>
<% page_class "edition-unpublish" %>
<%= initialise_script "GOVUK.enhanceUnpublishingForm", selector: '#new_unpublishing' %>

  <div class="span10">
    <section>
      <h1><%= @edition.title %></h1>

      <%= form_for @unpublishing, url: unpublish_admin_edition_path(@edition, lock_version: @edition.lock_version) do |form| %>
        <div class="field_with_errors">
        </div>

        <h2>Do you want to archive or unpublish this document?</h2>

        <fieldset>
          <%= form.labelled_radio_button "<strong>Archive:</strong> no longer current government policy/activity".html_safe, :unpublishing_reason_id, UnpublishingReason::Archived.id %><br />
          <%= form.labelled_radio_button "<strong>Unpublish:</strong> published in error".html_safe, :unpublishing_reason_id, UnpublishingReason::PublishedInError.id %><br />
          <%= form.labelled_radio_button "<strong>Unpublish:</strong> consolidated into another GOV.UK page".html_safe, :unpublishing_reason_id, UnpublishingReason::Consolidated.id %><br />
        </fieldset>

        <fieldset>
          <div class="js_alt_url">
            <%= form.text_field :alternative_url, label_text: '<strong>Alternative URL</strong>'.html_safe %>
            <span class="auto_redirect">This will be automatically redirected</span>
          </div>

          <div class="js_redirect">
            <%= form.check_box :redirect, label_text: 'Redirect to URL automatically?' %>
          </div>
        </fieldset>

        <fieldset>
          <div class="js_explanation">
            <%= form.text_area :explanation, label_text: '<strong>Public explanation</strong> (this is shown on the live site)'.html_safe, rows: 5, class: "previewable"  %>
          </div>
        </fieldset>

        <%= form.submit 'Unpublish', class: "btn btn-danger" %>
        <span class="or_cancel"> or <%= link_to 'cancel', [:admin, @edition] %></span>
      <% end %>
    </section>
  </div>
