<% content_for :page_title, "#{@edition.title}: Withdraw or unpublish" %>
<% content_for :title, "Withdraw or unpublish" %>
<% content_for :context, @edition.title %>
<% content_for :error_summary, render('shared/error_summary', object: @unpublishing, parent_class: @unpublishing.reason_as_class, class_name: @unpublishing.edition.format_name, verb: "withdraw or unpublish") %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_edition_path(@edition)
  } %>
<% end %>

<%
  unpublish_reasons = {
    withdrawn: {
      id: UnpublishingReason::Withdrawn.id,
      value: UnpublishingReason::Withdrawn,
      label: "Withdraw: no longer current government policy/activity"
    },
    published_in_error: {
      id: UnpublishingReason::PublishedInError.id,
      value: UnpublishingReason::PublishedInError,
      label: "Unpublish: published in error",
    },
    consolidated: {
      id: UnpublishingReason::Consolidated.id,
      value: UnpublishingReason::Consolidated,
      label: "Unpublish: consolidated into another GOV.UK page",
    },
  }

  withdrawal_public_explanation_field = render("components/govspeak-editor", {
    label: {
      text: "Public explanation",
      bold: true,
    },
    hint: "This is shown on the live site",
    name: "unpublishing[explanation]",
    id: "withdrawal_explanation",
    value: @unpublishing.explanation,
    error_items: errors_for(@unpublishing.errors, :explanation)
  })
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" data-module="unpublish-display-conditions">
    <%= render "govuk_publishing_components/components/radio", {
      name: "unpublishing_reason",
      heading: "Do you want to unpublish or withdraw this document?",
      description: sanitize('Learn more about withdrawing and unpublishing content on our <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/unpublishing-and-archiving" class="govuk-link" target="_blank">publishing guide</a>.'),
      items: [
        {
          value: unpublish_reasons[:published_in_error][:id],
          text: unpublish_reasons[:published_in_error][:label],
          checked: @unpublishing.unpublishing_reason == unpublish_reasons[:published_in_error][:value],
        },
        {
          value: unpublish_reasons[:consolidated][:id],
          text: unpublish_reasons[:consolidated][:label],
          checked: @unpublishing.unpublishing_reason == unpublish_reasons[:consolidated][:value],
        },
        :or,
        {
          value: unpublish_reasons[:withdrawn][:id],
          text: unpublish_reasons[:withdrawn][:label],
          checked: @unpublishing.unpublishing_reason == unpublish_reasons[:withdrawn][:value],
        },
      ],
    } %>

    <div class="unpublish-withdraw-form-wrapper js-unpublish-withdraw-form__withdrawal">
      <%= form_for @unpublishing, url: unpublish_admin_edition_path(@edition, lock_version: @edition.lock_version), data: {
        module: "unpublish-tracking",
        "unpublish-reason-label": unpublish_reasons[:withdrawn][:label],
      } do |form| %>
        <%= hidden_field_tag 'unpublishing[unpublishing_reason_id]', unpublish_reasons[:withdrawn][:id] %>

        <% if @previous_withdrawals.any? %>
          <%
            items = @previous_withdrawals.map do |withdrawal|
              {
                value: withdrawal.id,
                text: absolute_date(withdrawal.unpublished_at),
                hint_text: withdrawal.explanation,
                checked: (params["previous_withdrawal_id"] == withdrawal.id.to_s),
              }
            end

            items << :or

            items << {
              value: "new",
              text: "This is a new withdrawal",
              conditional: withdrawal_public_explanation_field,
              checked: (params["previous_withdrawal_id"] == "new"),
            }
          %>
          <%= render "govuk_publishing_components/components/radio", {
            name: "previous_withdrawal_id",
            heading: "Do you need to reuse a previous withdrawal?",
            description: sanitize("
              <p class=\"govuk-body\">You should only reuse a previous withdrawal date and public explanation if you have:</p>
              <ul class=\"govuk-list govuk-list--bullet\">
                <li>updated file attachments to mark them ‘withdrawn’</li>
                <li>made a minor edit, for example fixing a broken link</li>
                <li>fixed an error or mistake in the content which existed when it was originally withdrawn</li>
              </ul>
            "),
            items: items,
            error_items: errors_for(@unpublishing.errors, :previous_withdrawal_id)
          } %>
        <% else %>
          <%= withdrawal_public_explanation_field %>
        <% end %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Withdraw",
          destructive: true,
        } %>
      <% end %>
    </div>

    <div class="unpublish-withdraw-form-wrapper js-unpublish-withdraw-form__published-in-error">
      <%= form_for @unpublishing, url: unpublish_admin_edition_path(@edition, lock_version: @edition.lock_version), data: {
        module: "unpublish-tracking",
        "unpublish-reason-label": unpublish_reasons[:published_in_error][:label],
      } do |form| %>
        <%= hidden_field_tag 'unpublishing[unpublishing_reason_id]', unpublish_reasons[:published_in_error][:id] %>

        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: "Alternative URL",
            bold: true,
          },
          name: "unpublishing[alternative_url]",
          id: "published_in_error_alternative_url",
          value: @unpublishing.alternative_url,
          error_items: errors_for(@unpublishing.errors, :alternative_url)
        } %>
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "unpublishing[redirect]",
          items: [
            {
              label: "Redirect to URL automatically?",
              value: 1,
              checked: @unpublishing.redirect,
            }
          ]
        } %>

        <%= render "components/govspeak-editor", {
          label: {
            text: "Public explanation",
            bold: true,
          },
          hint: "This is shown on the live site",
          name: "unpublishing[explanation]",
          id: "published_in_error_explanation",
          value: @unpublishing.explanation,
          error_items: errors_for(@unpublishing.errors, :explanation)
        } %>

        <%= render "govuk_publishing_components/components/button", {
          text: "Unpublish",
          destructive: true,
        } %>
      <% end %>
    </div>

    <div class="unpublish-withdraw-form-wrapper js-unpublish-withdraw-form__consolidated">
      <%= form_for @unpublishing, url: unpublish_admin_edition_path(@edition, lock_version: @edition.lock_version), data: {
        module: "unpublish-tracking",
        "unpublish-reason-label": unpublish_reasons[:consolidated][:label],
      } do |form| %>
        <%= hidden_field_tag 'unpublishing[unpublishing_reason_id]', unpublish_reasons[:consolidated][:id] %>

        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: "Alternative URL",
            bold: true,
          },
          id: "consolidated_alternative_url",
          name: "unpublishing[alternative_url]",
          hint: "This will be automatically redirected",
          value: @unpublishing.alternative_url,
          error_items: errors_for(@unpublishing.errors, :alternative_url)
        } %>

        <%= render "govuk_publishing_components/components/button", {
          text: "Unpublish",
          destructive: true,
        } %>
      <% end %>
    </div>
  </div>
</div>
