<% page_title "Force publish: #{@edition.title}"  %>
<h1>Why are you force publishing this?</h1>
<p class="lead"><%= @edition.title %></p>
<p class="alert alert-warning">You should only force publish documents when no other editor is available to review and publish your work, for example out of hours or in an emergency.</p>
<%= form_tag force_publish_admin_edition_path(@edition, lock_version: @edition.lock_version), class: 'well force-publish-form' do %>

  <div class="form-group">
    <%= label_tag :reason, 'Reason for force publishing' %>
    <%= text_field_tag :reason, nil, {class: 'form-control input-md-6'} %>
  </div>

  <%= submit_tag "Force publish", class: "btn btn-warning" %> <%= link_to 'Cancel', [:admin, @edition], class: 'btn btn-default add-left-margin' %>
<% end %>
