<% page_title "Unpublish: #{@edition.title}"  %>
<% page_class "edition-unpublish" %>
<%= initialise_script "GOVUK.enhanceUnpublishingForm", selector: '#new_unpublishing' %>

  <div class="span10">
    <section>
      <h1><%= @edition.title %></h1>


      <h2>Do you want to archive or unpublish this document?</h2>

      <div class="js-unpublishing-reason">
        <%= label_tag "unpublishing_reason_id_#{UnpublishingReason::Archived.id}" do %>
          <%= radio_button_tag :unpublishing_reason_id, UnpublishingReason::Archived.id, (@unpublishing.unpublishing_reason == UnpublishingReason::Archived) %>
          <strong>Archive:</strong> no longer current government policy/activity
        <% end %>
        <%= label_tag "unpublishing_reason_id_#{UnpublishingReason::PublishedInError.id}" do %>
          <%= radio_button_tag :unpublishing_reason_id, UnpublishingReason::PublishedInError.id, (@unpublishing.unpublishing_reason == UnpublishingReason::PublishedInError) %>
          <strong>Unpublish:</strong> published in error
        <% end %>
        <%= label_tag "unpublishing_reason_id_#{UnpublishingReason::Consolidated.id}" do %>
          <%= radio_button_tag :unpublishing_reason_id, UnpublishingReason::Consolidated.id, (@unpublishing.unpublishing_reason == UnpublishingReason::Consolidated) %>
          <strong>Unpublish:</strong> consolidated into another GOV.UK page
        <% end %>
      </div>

      <%= form_for  @unpublishing,
                    url: unpublish_admin_edition_path(@edition, lock_version: @edition.lock_version),
                    html: {
                      id: 'js-archive-form',
                      class: ('js-hidden' unless @unpublishing.unpublishing_reason == UnpublishingReason::Archived)
                    } do |form| %>

        <%= hidden_field_tag 'unpublishing[unpublishing_reason_id]', UnpublishingReason::Archived.id %>
        <fieldset>
            <%= label_tag 'archived_explanation', '<strong>Public explanation</strong> (this is shown on the live site) <span>*</span>'.html_safe, class: 'required' %>
            <%= text_area_tag 'unpublishing[explanation]', @unpublishing.explanation, rows: 5, class: "previewable", id: 'archived_explanation'  %>
        </fieldset>
        <fieldset>
          <%= form.submit 'Archive', class: "btn btn-danger" %> <span class="or_cancel"> or <%= link_to 'cancel', [:admin, @edition] %></span>
        </fieldset>
      <% end %>


      <%= form_for  @unpublishing,
                    url: unpublish_admin_edition_path(@edition, lock_version: @edition.lock_version),
                    html: {
                      id: 'js-published-in-error-form',
                      class: ('js-hidden' unless @unpublishing.unpublishing_reason == UnpublishingReason::PublishedInError)
                    } do |form| %>

        <%= hidden_field_tag 'unpublishing[unpublishing_reason_id]', UnpublishingReason::PublishedInError.id %>
        <fieldset>
          <%= form.text_field :alternative_url, label_text: '<strong>Alternative URL</strong>'.html_safe, id: 'published_in_error_alternative_url' %>
          <%= form.check_box :redirect, label_text: 'Redirect to URL automatically?' %>
        </fieldset>

        <fieldset>
            <%= label_tag 'published_in_error_explanation', '<strong>Public explanation</strong> (this is shown on the live site)'.html_safe %>
            <%= text_area_tag 'unpublishing[explanation]', @unpublishing.explanation, rows: 5, class: "previewable", id: 'published_in_error_explanation'  %>
        </fieldset>

        <fieldset>
          <%= form.submit 'Unpublish', class: "btn btn-danger" %> <span class="or_cancel"> or <%= link_to 'cancel', [:admin, @edition] %></span>
        </fieldset>
      <% end %>


      <%= form_for  @unpublishing,
                    url: unpublish_admin_edition_path(@edition, lock_version: @edition.lock_version),
                    html: {
                      id: 'js-consolidated-form',
                      class: ('js-hidden' unless @unpublishing.unpublishing_reason == UnpublishingReason::Consolidated )
                    } do |form| %>

        <%= hidden_field_tag 'unpublishing[unpublishing_reason_id]', UnpublishingReason::Consolidated.id %>
        <fieldset>
          <%= form.text_field :alternative_url, label_text: '<strong>Alternative URL</strong>'.html_safe, required: true, id: 'consolidated_alternative_url' %>
          <span class="auto_redirect">This will be automatically redirected</span>
        </fieldset>

        <fieldset>
          <%= form.submit 'Unpublish', class: "btn btn-danger" %> <span class="or_cancel"> or <%= link_to 'cancel', [:admin, @edition] %></span>
        </fieldset>
      <% end %>
    </section>
  </div>
