<% page_title @operational_field.name %>
<% page_class "operational-field-show" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        context: "British fatalities",
        title: "Operations in #{@operational_field.name}",
      } %>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-padding-top-8 govuk-!-padding-left-0 govuk-!-padding-bottom-8">
      <%= render "govuk_publishing_components/components/organisation_logo", {
        organisation: {
          name: sanitize("Ministry<br>of Defence"),
          url: "/government/organisations/ministry-of-defence",
          brand: "ministry-of-defence",
          crest: "mod"
        }
      } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render "govuk_publishing_components/components/contents_list", {
        contents: @contents_menu
      } %>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
      <section id="field-of-operation">
        <% unless @operational_field.description.blank? %>
          <%= render "govuk_publishing_components/components/heading", {
            text: "Field of operation",
            margin_bottom: 2,
          } %>
          <%= govspeak_to_html @operational_field.description %>
        <% end %>
        <div class="govuk-!-margin-top-7 govuk-!-padding-bottom-3">
          <% if @fatality_notices.any? %>
            <%= render "govuk_publishing_components/components/heading", {
              text: "Fatalities",
              id: "fatalities",
              margin_bottom: 4,
            } %>
            <ul class="govuk-list">
              <% @fatality_notices.each do |fatality_notice| %>
                <%= content_tag_for :li, fatality_notice, class: "fatality-notice govuk-!-padding-top-2 govuk-!-padding-bottom-3" do %>
                  <% unless fatality_notice.roll_call_introduction.blank? %>
                  <p class="govuk-body">
                    <%= fatality_notice.roll_call_introduction %>
                  </p>
                  <% end %>
                      <ul class="govuk-list govuk-list--spaced govuk-!-padding-left-4">
                        <% if fatality_notice.fatality_notice_casualties.any? %>
                          <% fatality_notice.fatality_notice_casualties.each do |casualty| %>
                            <%= content_tag_for :li, casualty, class: 'govuk-list--bullet' do %>
                              <%= link_to casualty.personal_details, public_document_url(fatality_notice, locale: I18n.default_locale), class: "govuk-link" %>
                            <% end %>
                          <% end %>
                        <% else %>
                          <li class="govuk-list--bullet"><%= link_to fatality_notice.title, public_document_url(fatality_notice), class: "govuk-link" %></li>
                        <% end %>
                      </ul>
                      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2">
                <% end %>
              <% end %>
            </ul>
          <% else %>
            <p class="govuk-body"><%= t("fatality_notice.none_added") %></p>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>
