<% page_title @operational_field.name %>
<% page_class "operational-field-page" %>

<div class="block-1">
  <div class="inner-block">
    <section class="document-page-header">
      <header class="page-header">
      <h1 class="page_title">
        <span class="inner">
          <span class="label">British fatalities</span>
          <span class="title"><%= @operational_field.name %></span>
        </span>
      </h1>
        <aside class="meta">
          <dl>
            <dd class="organisations">
              <%= render  partial: 'organisations/organisations_logo_list',
                        locals: { organisations: [@organisation] } %>
            </dd>
          </dl>
        </aside>
      </header>
    </section>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <div class="contextual-info js-stick-at-top-when-scrolling">
      <nav>
        <h1>Contents</h1>
        <ol>
          <% unless @operational_field.description.blank? %>
            <li><a href="#field-of-operation">Field of operation</a></li>
          <% end %>
          <% govspeak_headers(@operational_field.description).each do |header| %>
            <li><%= link_to header.text, "##{header.id}" %></li>
          <% end %>
          <% if @fatality_notices.any? %>
            <li><a href="#fatalities">Fatalities</a></li>
          <% end %>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section id="field-of-operation" class="group">

      <% unless @operational_field.description.blank? %>
        <h2>Field of operation</h2>
        <div class="description">
          <%= govspeak_to_html @operational_field.description %>
        </div>
      <% end %>

      <div class="fatalities">
        <% if @fatality_notices.any? %>
          <h2 id="fatalities">Fatalities</h2>
          <table class="document-list">
            <thead class="visuallyhidden">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <% @fatality_notices.each do |fatality_notice| %>
                <%= content_tag_for :tr, fatality_notice, class: "document-row" do %>
                  <th scope="row" class="title attribute"><%= fatality_notice.link %></th>
                  <td class="date attribute"><%= fatality_notice.display_date_microformat %></td>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>There have been no fatality notices added for this field of operation yet.</p>
        <% end %>
      </div>

    </section>
  </div>
</div>
