<% page_title @operational_field.name %>
<% page_class "operational-field-show" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { type: 'British fatalities',
                        heading: "Operations in #{@operational_field.name}" } %>
    <div class="heading-extras">
      <div class="inner-heading">
        <%= render partial: 'organisations/organisations_logo_list',
                  locals: { organisations: [@organisation] } %>
    </div>                        
  </div>
</header>

<div class="block-2">
  <div class="inner-block">
    <div class="contextual-info js-stick-at-top-when-scrolling">
      <nav>
        <h1>Contents</h1>
        <ol>
          <% unless @operational_field.description.blank? %>
            <li><a href="#field-of-operation">Field of operation</a></li>
          <% end %>
          <% govspeak_headers(@operational_field.description).each do |header| %>
            <li><%= link_to header.text, "##{header.id}" %></li>
          <% end %>
          <% if @fatality_notices.any? %>
            <li><a href="#fatalities">Fatalities</a></li>
          <% end %>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section id="field-of-operation" class="group">

      <% unless @operational_field.description.blank? %>
        <h2>Field of operation</h2>
        <div class="description">
          <%= govspeak_to_html @operational_field.description %>
        </div>
      <% end %>

      <div class="fatalities">
        <% if @fatality_notices.any? %>
          <h2 id="fatalities">Fatalities</h2>
          <ul>
            <% @fatality_notices.each do |fatality_notice| %>
              <%= content_tag_for :li, fatality_notice, class: 'fatality-notice' do %>
                <% unless fatality_notice.roll_call_introduction.blank? %>
                  <h3 class="summary">
                    <%= fatality_notice.roll_call_introduction %>
                  </h3>
                <% end %>
                <ul class="casualties">
                <% if fatality_notice.fatality_notice_casualties.any? %>
                    <% fatality_notice.fatality_notice_casualties.each do |casualty| %>
                      <%= content_tag_for :li, casualty, class: 'casualty' do %>
                        <%= link_to casualty.personal_details, public_document_url(fatality_notice) %>
                      <% end %>
                    <% end %>
                <% else %>
                  <li class="casualty"><%= link_to fatality_notice.title, public_document_url(fatality_notice) %></li>
                <% end %>
                </ul>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <p>There have been no fatality notices added for this field of operation yet.</p>
        <% end %>
      </div>

    </section>
  </div>
</div>
