<div class="format-advice">
  <p class="govuk-body"><strong>Use this format for:</strong> Consultations (officially “documents requiring collective agreement across government”, including calls for evidence).</p>

  <p class="govuk-body">Check you have read the current <%= link_to "consultation principles", "https://www.gov.uk/government/publications/consultation-principles-guidance", class: "govuk-link" %>.</p>
</div>

<%= standard_edition_form(edition, @information, preview_design_system: true) do |form| %>
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: ""
  } do %>
    <%= form.hidden_field :external, value: "0" %>

    <%= render "govuk_publishing_components/components/checkboxes", {
      name: "edition[external]",
      heading: "Held on another website",
      heading_level: 3,
      heading_size: "l",
      no_hint_text: true,
      error_items: errors_for(edition.errors, :external),
      items: [
        {
          label: "This #{edition.class.name.humanize.downcase} is held on another website",
          value: 1,
          checked: edition.external,
          bold: true,
          conditional: render("govuk_publishing_components/components/input", {
            label: {
              text: "External link URL",
              bold: true,
            },
            name: "edition[external_url]",
            id: "edition_external_url",
            value: edition.external_url,
            error_items: errors_for(edition.errors, :external_url)
          })
        }
      ]
    } %>
  <% end %>

  <div class="js-external-url-set">
    <%= render "govuk_publishing_components/components/fieldset", {
      legend_text: "Ways to respond",
      heading_level: 3,
      heading_size: "l"
    } do %>
      <% call_for_evidence_participation = edition.call_for_evidence_participation || edition.build_call_for_evidence_participation %>
      <%= hidden_field_tag "edition[call_for_evidence_participation_attributes][id]", call_for_evidence_participation.id %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Link URL",
          bold: true,
        },
        name: "edition[call_for_evidence_participation_attributes][link_url]",
        id: "edition_call_for_evidence_participation_link_url",
        value: call_for_evidence_participation.link_url,
        error_items: errors_for(call_for_evidence_participation.errors, :link_url),
      } %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Email",
          bold: true,
        },
        name: "edition[call_for_evidence_participation_attributes][email]",
        id: "edition_call_for_evidence_participation_email",
        value: call_for_evidence_participation.email,
        error_items: errors_for(call_for_evidence_participation.errors, :email),
      } %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Postal address",
          bold: true,
        },
        name: "edition[call_for_evidence_participation_attributes][postal_address]",
        id: "edition_call_for_evidence_participation_postal_address",
        value: call_for_evidence_participation.postal_address,
        error_items: errors_for(call_for_evidence_participation.errors, :postal_address),
        rows: 4,
      } %>
      <% call_for_evidence_response_form = call_for_evidence_participation.call_for_evidence_response_form || call_for_evidence_participation.build_call_for_evidence_response_form %>
      <% call_for_evidence_response_form_data = call_for_evidence_response_form.call_for_evidence_response_form_data || call_for_evidence_response_form.build_call_for_evidence_response_form_data %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Downloadable response form title",
          bold: true,
        },
        name: "edition[call_for_evidence_participation_attributes][call_for_evidence_response_form_attributes][title]",
        id: "edition_call_for_evidence_participation_call_for_evidence_response_form_title",
        value: call_for_evidence_response_form.title,
        error_items: errors_for(call_for_evidence_response_form.errors, :title),
      } %>
      <% if call_for_evidence_response_form.call_for_evidence_response_form_data.try(:persisted?) %>
        <div class="attachment">
          <p class="govuk-body">Current data: <%= link_to File.basename(call_for_evidence_response_form.call_for_evidence_response_form_data.file.path), call_for_evidence_response_form.call_for_evidence_response_form_data.file.url, class: "govuk-link" %></p>

          <%= hidden_field_tag "edition[call_for_evidence_participation_attributes][call_for_evidence_response_form_attributes][call_for_evidence_response_form_data_attributes][file_cache]", call_for_evidence_response_form_data.file_cache %>
          <%= hidden_field_tag "edition[call_for_evidence_participation_attributes][call_for_evidence_response_form_attributes][call_for_evidence_response_form_data_attributes][id]", call_for_evidence_response_form_data.id %>
          <%= hidden_field_tag "edition[call_for_evidence_participation_attributes][call_for_evidence_response_form_attributes][id]", call_for_evidence_response_form.id %>

          <%= render "govuk_publishing_components/components/radio", {
            heading: "Actions:",
            name: "edition[call_for_evidence_participation_attributes][call_for_evidence_response_form_attributes][attachment_action]",
            id: "edition_call_for_evidence_participation_call_for_evidence_response_form_attachment_action",
            error_items: errors_for(call_for_evidence_response_form.errors, :attachment_action),
            items: [
              {
                value: "keep",
                text: "Keep",
                checked: ["keep", nil].include?(params.dig("edition", "call_for_evidence_participation_attributes", "call_for_evidence_response_form_attributes", "attachment_action")),
              },
              {
                value: "remove",
                text: "Remove",
                checked: params.dig("edition", "call_for_evidence_participation_attributes", "call_for_evidence_response_form_attributes", "attachment_action") == "remove",
              },
              {
                value: "replace",
                text: "Replace",
                checked: params.dig("edition", "call_for_evidence_participation_attributes", "call_for_evidence_response_form_attributes", "attachment_action") == "replace",
                conditional: render("govuk_publishing_components/components/file_upload", {
                    label: {
                      text: "Replacement"
                    },
                    name: "edition[call_for_evidence_participation_attributes][call_for_evidence_response_form_attributes][call_for_evidence_response_form_data_attributes][file]",
                    id: "edition_call_for_evidence_participation_attributes_call_for_evidence_response_form_call_for_evidence_response_form_data_file",
                    error_items: errors_for(call_for_evidence_response_form_data.errors, :file),
                  }
                )
              }
            ]
          } %>
        </div>
      <% else %>
        <%= render "govuk_publishing_components/components/file_upload", {
          label: {
            text: "File",
            bold: true,
          },
          name: "edition[call_for_evidence_participation_attributes][call_for_evidence_response_form_attributes][call_for_evidence_response_form_data_attributes][file]",
          id: "edition_call_for_evidence_participation_call_for_evidence_response_form_call_for_evidence_response_form_data_file",
          error_items: errors_for(call_for_evidence_response_form_data.errors, :file),
        } %>
        <% if call_for_evidence_response_form_data.file_cache.present? %>
          <%= hidden_field_tag "edition[call_for_evidence_participation_attributes][call_for_evidence_response_form_attributes][call_for_evidence_response_form_data_attributes][file_cache]", call_for_evidence_response_form_data.file_cache %>

          <p class="govuk-body already-uploaded"><%= "#{File.basename(call_for_evidence_response_form_data.file_cache)} already uploaded" %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="js-external-url-set">
    <%= render 'html_version_fields', form: form, edition: edition %>
    <%= render 'inline_attachments_info', form: form, edition: edition %>
  </div>

  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Associations",
    heading_level: 3,
    heading_size: "l",
    id: "associations"
  } do %>
    <div class="js-external-url-set">
      <%= render 'appointment_fields', form: form, edition: edition %>
    </div>

    <%= render 'topical_event_fields', form: form, edition: edition %>
    <%= render 'nation_fields', form: form, edition: edition %>
    <%= render 'organisation_fields', form: form, edition: edition %>
  <% end %>
<% end %>
