<%
  show_instantly_live_warning ||= false
  show_consult_gds_warning ||= false
%>

<%= form_for [:admin, organisation], as: :organisation do |organisation_form| %>
  <%= organisation_form.errors %>
  <fieldset>
    <%= organisation_form.text_field :name %>
    <%= organisation_form.text_field :acronym %>
    <%= organisation_form.text_area :logo_formatted_name, rows: "4", style: "width: auto" %>
    <%= organisation_form.label :organisation_logo_type_id, 'Logo Crest' %>
    <%= organisation_form.select :organisation_logo_type_id, options_from_collection_for_select(OrganisationLogoType.all, "id", "title", organisation.organisation_logo_type_id), {}, class: 'chzn-select', data: { placeholder: "Choose logo crest..."} %>
    <%= organisation_form.fields_for :default_news_image do |image_fields| %>
      <%= render partial: "admin/shared/default_news_image_fields", locals: {image_fields: image_fields} %>
    <% end %>
    <%= organisation_form.text_area :description, class: "previewable" %>
    <%= organisation_form.text_field :url %>
    <%= organisation_form.label :organisation_type_id, "Organisation type" %>
    <%= organisation_form.select :organisation_type_id, options_from_collection_for_select(OrganisationType.in_listing_order, "id", "name", organisation.organisation_type_id), {include_blank: true}, class: 'chzn-select', data: { placeholder: "Choose the organisation type..." } %>
    <%= organisation_form.text_field :alternative_format_contact_email, label_text: "Email address for ordering publications or consultations in alternative formats" %>
    <%= organisation_form.label :govuk_status, "Status on gov.uk" %>
    <%= organisation_form.select :govuk_status, [["Currently live", "live"], ["Coming soon", "joining"], ["Exempt from joining", "exempt"], ["Currently transitioning", "transitioning"]], {}, class: 'chzn-select' %>
  </fieldset>
  <fieldset>
    <legend>Associations</legend>
    <%= hidden_field_tag "organisation[parent_organisation_ids][]", "", id: "organisation_parent_organisation_ids_default" %>
    <%= organisation_form.label :parent_organisation_ids, 'Sponsoring departments' %>
    <%= organisation_form.select :parent_organisation_ids, options_from_collection_for_select(Organisation.departments - [organisation_form.object], 'id', 'name', organisation.parent_organisation_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose associated departments..." } %>
    <% organisation_form.object.organisation_classifications.each do |ot| %>
      <%= label_tag "organisation_topic_ids_#{ot.ordering}" do %>
        Topic <%= ot.ordering + 1 %>
        <%= select_tag "organisation[organisation_classifications_attributes][][classification_id]", options_from_collection_for_select(Classification.all, 'id', 'name', ot.classification_id), include_blank: true, multiple: false, class: 'chzn-select', data: { placeholder: "Choose topics..."}, id: "organisation_topic_ids_#{ot.ordering}" %>
        <%= hidden_field_tag "organisation[organisation_classifications_attributes][][ordering]", ot.ordering %>
        <%= hidden_field_tag "organisation[organisation_classifications_attributes][][id]", ot.id %>
      <% end %>
    <% end %>
  </fieldset>

  <%= render partial: 'admin/shared/mainstream_link_fields', locals: { form: organisation_form } %>

  <fieldset>
    <%= organisation_form.text_area :about_us, class: "previewable" %>
  </fieldset>

  <% if current_user.gds_editor? && @management_organisation_roles.any? %>
    <fieldset id="board_member_count">
      <legend>Number of important members of the managment team</legend>
      <%= organisation_form.select :important_board_members, (1..@management_organisation_roles.length) %>
    </fieldset>
  <% end %>

  <p class="warning">
    <% if show_instantly_live_warning %>
      Warning: changes to organisations appear instantly on the live site.
    <% end %>
    <% if show_consult_gds_warning %>
      Do not create organisations without consulting GDS.
      <% end %>
  </p>
  <%= organisation_form.save_or_cancel(cancel: (@organisation.persisted? ? admin_organisation_path(@organisation) : admin_organisations_path)) %>
<% end %>
