<%= form_for [:admin, organisation], as: :organisation do |organisation_form| %>
  <%= organisation_form.errors %>
  <fieldset>
    <%= organisation_form.text_field :name %>
    <%= organisation_form.text_field :acronym %>
    <%= organisation_form.text_area :logo_formatted_name, rows: "4", style: "width: auto" %>
    <%= organisation_form.text_area :description %>
    <%= organisation_form.text_field :url %>
    <%= organisation_form.check_box :active,
          label_text: "Active (can visitors click through from the organisation list?)" %>
  </fieldset>
  <fieldset>
    <%= organisation_form.label :organisation_type_id, "Organisation type" %>
    <%= organisation_form.select :organisation_type_id, options_from_collection_for_select(OrganisationType.all, "id", "name", organisation.organisation_type_id), {include_blank: true}, class: 'chzn-select', data: { placeholder: "Choose the organisation type..." } %>
  </fieldset>
  <fieldset>
    <%= organisation_form.label :parent_organisation_ids, 'Associated departments' %>
    <%= organisation_form.select :parent_organisation_ids, options_from_collection_for_select(Organisation.all - [organisation_form.object], 'id', 'name', organisation.parent_organisation_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose associated departments..." } %>
  </fieldset>
  <fieldset>
    <%= organisation_form.label :policy_topic_ids, 'Policy topics' %>
    <%= organisation_form.select :policy_topic_ids, options_from_collection_for_select(PolicyTopic.all, 'id', 'name', organisation.policy_topic_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose policy topics..."} %>
  </fieldset>
  <fieldset class="named contacts">
    <legend>Contacts</legend>
    <%= organisation_form.fields_for :contacts do |contacts_form| %>
      <%= render partial: "contacts_form", object: contacts_form %>
    <% end %>
    <div class="empty_fields">
      <%= organisation_form.fields_for :contacts, Contact.new do |contacts_form| %>
        <%= render partial: "contacts_form", object: contacts_form %>
      <% end %>
    </div>
  </fieldset>
  <%= render partial: "admin/documents/govspeak_help" %>
  <fieldset>
    <%= organisation_form.text_area :about_us, class: "previewable", :help => true %>
  </fieldset>

  <% if @ministerial_organisation_roles.any? %>
    <fieldset id="minister_ordering" class="sortable">
      <legend>Minister ordering</legend>
      <%= organisation_form.fields_for :organisation_roles, @ministerial_organisation_roles do |organisation_role_form| %>
        <div>
          <%= organisation_role_form.text_field :ordering, label_text: "#{organisation_role_form.object.role.name}, #{organisation_role_form.object.role.current_person_name}", class: "ordering" %>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <%= organisation_form.save_or_cancel cancel: admin_organisations_path %>
<% end %>