<%
  prefix ||= nil
%>
<%= content_tag_for(:tr, organisation, prefix) do %>
  <td class="acronym">
    <% if organisation.acronym.present? %>
      <%= link_to organisation.acronym, admin_organisation_path(organisation), title: "View #{organisation.acronym}" %>
    <% end %>
  </td>
  <td class="name"><%= link_to organisation.name, admin_organisation_path(organisation), title: "View #{organisation.name}" %></td>
  <td><%= organisation.organisation_type.name %></td>
  <td><%= organisation.govuk_status %></td>
  <td>
    <%= link_to '[gov.uk]', organisation_path(organisation) %>
    <% if organisation.govuk_status != 'live' %>
      <%= link_to '[current site]', organisation.url %>
    <% end %>
  </td>
<% end %>
