<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Published</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% editions.each do |edition| %>
    <%= content_tag_for :tr, edition do %>
    <td class="type"><%= edition.type.titleize %></td>
    <td><%= link_to edition.title, admin_edition_path(edition) %></td>
    <td><%=localize edition.major_change_published_at.to_date %></td>
    <% association = edition.association_with_organisation(organisation) %>
    <td><%= "Featured" if association.featured? %></td>
    <td>
      <% if association.featured? %>
      <%= form_for([:admin, association], html: {class: "button_to"}) do |f| %>
      <%= f.hidden_field :featured, value: false %>
      <%= f.submit "Unfeature", class: "btn btn-danger" %>
      <% end %>
      <% else %>
      <%= link_to "Feature", edit_admin_edition_organisation_path(association), class: "btn btn-default" %>
      <% end %>
    </td>
    <% end %>
    <% end %>
  </tbody>
</table>
