<% if @organisation.persisted? %>
  <div class="sidebar">
    <section class="display_heading">
      <h1>Delete organisation</h1>
      <% if @organisation.destroyable? %>
        <%= button_to('delete',
                      admin_organisation_path(@organisation),
                      method: :delete,
                      confirm: "Are you sure you want to delete #{@organisation.name}?",
                      class: 'btn btn-danger') %>
      <% else %>
        <p>Cannot delete</p>
      <% end %>
    </section>
  </div>
<% end %>

<%
  tabs = @organisation.persisted? ? {news_articles: "News articles"} : {}
  tabs[:govspeak_help] = "Formatting Help"
%>
<%= sidebar_tabs tabs do %>
  <% if @organisation.persisted? %>
    <section class="tab-pane active" id="news_articles">
      <% if @news_articles.any? %>
        <h1>News articles</h1>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Published</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @news_articles.each do |news_article| %>
              <%= content_tag_for(:tr, news_article) do %>
                <td><%= link_to news_article.title, admin_edition_path(news_article) %></td>
                <td><%= time_ago_in_words news_article.updated_at %> ago</td>
                <td>
                  <% association = news_article.edition_organisations.where(organisation_id: @organisation).first %>
                  <%= form_for([:admin, association], html: {class: "button_to"}) do |f| %>
                    <% if association.featured? %>
                      <%= f.hidden_field :featured, value: false %>
                      <%= f.submit "No longer feature", class: "btn btn-mini" %>
                    <% else %>
                      <%= f.hidden_field :featured, value: true %>
                      <%= f.submit "Feature", class: "btn btn-mini" %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>There are no news articles for this organisation.</p>
      <% end %>
    </section>
    <section class="tab-pane" id="govspeak_help">
  <% else %>
    <section class="tab-pane active" id="govspeak_help">
  <% end %>
    <%= render partial: "admin/editions/govspeak_help" %>
  </section>
<% end %>
