<% page_title @organisation.name %>
<div class="row-fluid organisation-header">
  <div class="span8">
    <h1><%= @organisation.name %></h1>
    <%= link_to "View on website", organisation_path(@organisation) %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 organisation-details">
    <section>
      <%= tab_navigation_for(@organisation) do %>
        <%= link_to "New series", new_admin_organisation_document_series_path(@organisation), class: "btn pull-right" %>

        <h2>Document series</h2>
        <table class="table">
          <% @document_series.each do |document_series| %>
            <tr><th><%= link_to document_series.name, admin_organisation_document_series_path(@organisation, document_series) %></th>
              <td><%= pluralize(document_series.documents.count, "documents") %></tr>
          <% end %>
        </table>
      <% end %>
    </section>
  </div>
</div>
