<% page_title "Organisations" %>
<nav class="actions">
  <%= link_to "Create Organisation", new_admin_organisation_path, class: "btn new_resource", title: "Create an Organisation" %>
</nav>

<h1>Organisation</h1>

<table class="organisations table table-striped">
  <thead>
    <tr>
      <th>Acronym</th>
      <th>Name</th>
      <th>Status</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <% @organisations.each do |organisation| %>
      <%= content_tag_for(:tr, organisation) do %>
        <td class="acronym">
          <% if organisation.acronym.present? %>
            <%= link_to organisation.acronym, admin_organisation_path(organisation), title: "View #{organisation.acronym}" %>
          <% end %>
        </td>
        <td class="name"><%= link_to organisation.name, admin_organisation_path(organisation), title: "View #{organisation.name}" %></td>
        <td><%= organisation.govuk_status %></td>
        <td><%= link_to organisation.url %></td>
      <% end %>
    <% end %>
    <% if @organisations.empty? %>
      <tr>
        <td colspan="3">No organisation have been created.</td>
      </tr>
    <% end %>
  </tbody>
</table>
