<% page_title @organisation.name %>
<div class="organisation-header">
  <h1><%= @organisation.name %></h1>
  <%= view_on_website_link_for @organisation %>
</div>

<section class="organisation-details">
  <%= tab_navigation_for(@organisation) do %>
    <h2>Edit people</h2>
    <p>Drag up and down to re-order then click save at the bottom of the form</p>
    <p class="warning">Warning: changes to organisations appear instantly on the live site.</p>
    <%= form_for [:admin, @organisation], as: :organisation do |organisation_form| %>
      <div id="role_ordering" class="row">
        <% if @ministerial_organisation_roles.any? %>
          <div class="col-md-4">
            <fieldset id="minister_ordering" class="sortable">
              <legend>Minister ordering</legend>
              <%= organisation_role_ordering_fields(organisation_form, @ministerial_organisation_roles) %>
            </fieldset>
          </div>
        <% end %>

        <% if @special_representative_organisation_roles.any? %>
          <div class="col-md-4">
            <fieldset id="special_representative_ordering" class="sortable">
              <legend>Special representative ordering</legend>
              <%= organisation_role_ordering_fields(organisation_form, @special_representative_organisation_roles) %>
            </fieldset>
          </div>
        <% end %>

        <% if @management_organisation_roles.any? %>
          <div class="col-md-4">
            <fieldset id="board_member_ordering" class="sortable">
              <legend>Management team ordering</legend>
              <%= organisation_role_ordering_fields(organisation_form, @management_organisation_roles) %>
            </fieldset>
          </div>
        <% end %>

        <% if @traffic_commissioner_organisation_roles.any? %>
          <div class="col-md-4">
            <fieldset id="traffic_commissioner_ordering" class="sortable">
              <legend>Traffic commissioner ordering</legend>
              <%= organisation_role_ordering_fields(organisation_form, @traffic_commissioner_organisation_roles) %>
            </fieldset>
          </div>
        <% end %>

        <% if @chief_professional_officer_roles.any? %>
          <div class="col-md-4">
            <fieldset id="chief_professional_officer_ordering" class="sortable">
              <legend>Chief professional officer ordering</legend>
              <%= organisation_role_ordering_fields(organisation_form, @chief_professional_officer_roles) %>
            </fieldset>
          </div>
        <% end %>

        <% if @military_organisation_roles.any? %>
          <div class="col-md-4">
            <fieldset id="military_ordering" class="sortable">
              <legend>Military ordering</legend>
              <%= organisation_role_ordering_fields(organisation_form, @military_organisation_roles) %>
            </fieldset>
          </div>
        <% end %>
      </div>

      <%= organisation_form.save_or_cancel(cancel: (@organisation.persisted? ? admin_organisation_path(@organisation) : admin_organisations_path)) %>
    <% end %>
  <% end %>
</section>
