<% page_title @organisation.name %>
<div class="row-fluid organisation-header">
  <div class="span8">
    <h1><%= @organisation.name %></h1>
    <%= link_to "View on website", organisation_path(@organisation) %>
  </div>
  <div class="span4">
    <%= link_to "Edit", edit_admin_organisation_path(@organisation), class: "btn btn-large btn-primary pull-right"%>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 organisation-details">
    <section>
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
          <li><a href="#contacts" data-toggle="tab">Contacts</a></li>
          <li><a href="#about-us" data-toggle="tab">About Us</a></li>
          <li><a href="#people" data-toggle="tab">People</a></li>
          <li><a href="#documents" data-toggle="tab">Featured documents</a></li>
          <li><a href="#document_series" data-toggle="tab">Document Series</a></li>
          <li><a href="#corporate_information_pages" data-toggle="tab">Corporate Information Pages</a></li>
        </ul>
        <div class="tab-content">
          <%= render partial: "admin/organisations/tabs/details" %>
          <%= render partial: "admin/organisations/tabs/contacts" %>
          <%= render partial: "admin/organisations/tabs/about_us" %>
          <%= render partial: "admin/organisations/tabs/people" %>
          <%= render partial: "admin/organisations/tabs/documents" %>
          <%= render partial: "admin/organisations/tabs/document_series" %>
          <%= render partial: "admin/organisations/tabs/corporate_information_pages" %>
        </div>
      </div>
    </section>
  </div>
</div>
