<% page_title @organisation.name %>
<div class="row-fluid organisation-header">
  <div class="span8">
    <h1><%= @organisation.name %></h1>
    <%= link_to "View on website", organisation_path(@organisation), target: "blank" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 organisation-details">
    <section>
      <%= tab_navigation_for(@organisation) do %>
        <h2>Details</h2>
        <table class="table">
          <tr><th>Type</th><td><%= @organisation.organisation_type.name %></td></tr>
          <tr><th>Acronym</th><td><%= @organisation.acronym %></td></tr>
          <tr><th>URL</th><td><%= link_to @organisation.url, @organisation.url %></td></tr>
          <tr><th>gov.uk status</th><td><%= @organisation.govuk_status.titleize %></td></tr>
          <tr><th>Description</th><td><%= govspeak_to_html @organisation.description %></td></tr>
          <tr><th>Email address for ordering attached files in an alternative format</th><td><%= @organisation.alternative_format_contact_email %></td></tr>
          <tr><th>Sponsoring organisations</th><td>
            <% if @organisation.parent_organisations.any? %>
              <%= @organisation.parent_organisations.map {|o| link_to(o.name, [:admin, o]) }.to_sentence.html_safe %>
            <% else %>
              None
            <% end %>
          </td></tr>
          <tr><th>Topics and topical events</th><td>
            <% if @organisation.classifications.any? %>
              <%= @organisation.classifications.map {|t| link_to(t.name, [:edit, :admin, t]) }.to_sentence.html_safe %>
            <% else %>
              None
            <% end %>
          </td></tr>
          <tr class="mainstream_categories"><th>Detailed guidance categories</th><td>
            <% if @organisation.mainstream_categories.any? %>
              <%= @organisation.mainstream_categories.map { |mc| "#{mc.title} (#{mc.parent_title})" }.to_sentence.html_safe %>
            <% else %>
              None
            <% end %>
          </td></tr>
          <% @organisation.social_media_accounts.each do |sma| %>
            <tr><th><%= sma.social_media_service.name %></th><td><%= link_to sma.url, sma.url %></td></tr>
          <% end %>
          <tr><th>Crest</th><td><%= @organisation.organisation_logo_type.title %></td></tr>
          <tr>
            <th>Brand colour</th>
            <td>
              <% if @organisation.organisation_brand_colour %>
                <%= @organisation.organisation_brand_colour.title %>
              <% else %>
                None
              <% end %>
            </td>
          </tr>
          <tr><th>Analytics identifier</th><td><%= @organisation.analytics_identifier %></td></tr>
          <tr><th>Top tasks</th>
            <td>
              <% if @organisation.top_tasks.any? %>
                <ul>
                  <% @organisation.top_tasks.each do |link| %>
                    <li><%= link_to link.title, link.url %></li>
                  <% end %>
                </ul>
              <% else %>
                None
              <% end %>
            </td>
          </tr>
          <% if @organisation.default_news_image %>
          <tr><th>Default news image</th><td><%= image_tag @organisation.default_news_image.file.url(:s300) %></td></tr>
          <% end %>
          <% if @organisation.closed? && @organisation.closed_at %>
            <tr><th>Organisation closed on</th><td><%= absolute_date(@organisation.closed_at) %></td></tr>
          <% end %>
        </table>

        <div class="form-actions">
          <%= link_to "Edit", edit_admin_organisation_path(@organisation), class: "btn btn-large btn-primary"%>
        </div>
      <% end %>
    </section>
  </div>
</div>
