<% page_title @organisation.name %>
<div class="row-fluid organisation-header">
  <div class="span8">
    <h1><%= @organisation.name %></h1>
    <%= link_to "View on website", organisation_path(@organisation) %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 organisation-details">
    <section>
      <div class="tabbable">
        <%= render partial: "admin/organisations/tabs/navigation", locals: {organisation: @organisation}  %>
        <div class="tab-content">
          <%= render partial: "admin/organisations/tabs/details" %>
          <%= render partial: "admin/organisations/tabs/contacts" %>
          <%= render partial: "admin/organisations/tabs/social_media_accounts" %>
          <%= render partial: "admin/organisations/tabs/about_us" %>
          <%= render partial: "admin/organisations/tabs/groups" %>
          <%= render partial: "admin/organisations/tabs/people" %>
          <%= render partial: "admin/organisations/tabs/document_series" %>
          <%= render partial: "admin/organisations/tabs/corporate_information_pages" %>
        </div>
      </div>
    </section>
  </div>
</div>
