<% page_title "Edit translation for: #{@english_role.name}" %>

<h1>Edit ‘<%= @translation_locale.native_language_name %> (<%= @translation_locale.english_language_name %>)’ translation for: <%= @english_role.name %></h1>

<div class="row">
  <div class="col-md-8">
    <%= form_for @translated_role, as: :role, url: admin_role_translation_path(@translated_role, translation_locale), method: :put, html: {class: 'well'} do |form| %>
      <%= form.errors %>

      <%= form.translated_text_field :name %>
      <%= form.translated_text_area :responsibilities, rows: 20 %>

      <%= form.save_or_cancel cancel: admin_role_translations_path(@translated_role) %>
    <% end %>
  </div>
</div>
