<% content_for :context, @context %>
<% content_for :title, "Add #{add_indefinite_article @group.singularize}" %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: @back_link,
  } %>
<% end %>

<% if flash[:error] %>
  <%= render ContentBlockManager::ContentBlockEdition::New::ErrorSummaryComponent.new(
    error_message: flash[:error],
    ) %>
<% end %>

<%= form_with url: @redirect_path, method: :post do %>
  <%= hidden_field_tag :object_type, "" %>
  <%= hidden_field_tag :group, @group %>

  <%= render ContentBlockManager::ContentBlock::Document::EmbeddedObjects::New::SelectSubschemaComponent.new(
    heading: content_for(:page_title),
    heading_caption: content_for(:context),
    error_message: flash[:error],
    schemas: @subschemas,
    ) %>

  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", {
      text: "Save and continue",
      name: "save_and_continue",
      value: "Save and continue",
      type: "submit",
    } %>
    <%= render "govuk_publishing_components/components/button", {
      text: "Cancel",
      name: "cancel",
      value: "cancel",
      href: @back_link,
      secondary_solid: true,
    } %>
  </div>
<% end %>
