<section id="<%= type %>" class="document-block documents-<%= document_block_counter %>">
  <h1 class="label"><%= type.to_s.capitalize %></h1>
  <div class="content">
    <%= render partial: "shared/list_description", locals: { editions: documents } %>
    <p class="see-all">
      <%= link_to "See all #{type.to_s.humanize.downcase}", public_send("#{type}_filter_path", @classification) %>
    </p>
  </div>
</section>
