<%
   heading ||= type.to_s.humanize
   filter_option = (heading == "Publications") ? "all" : heading.downcase
%>
<section id="<%= heading.downcase %>" class="document-block documents-<%= document_block_counter %>">
  <h2 class="govuk-heading-l"><%= heading %></h2>
  <div class="content">
    <%= render partial: "shared/list_description", locals: { heading: heading, editions: documents } %>
    <p class="govuk-body">
    <%-
      see_more_url = public_send(
        "#{type}_filter_path",
        @classification,
        publication_filter_option: filter_option
      )
    %>
    <%=
      link_to(
        "See all #{heading.downcase}",
        see_more_url,
        class: "govuk-link",
        data: {
          track_category: 'navPolicyAreaLinkClicked',
          track_action: "#{heading}.#{documents.count + 1}",
          track_label: see_more_url,
          track_options: {
            dimension28: documents.count.to_s,
            dimension29: "See all #{heading.downcase}"
          }
        }
      )
    %>
    </p>
  </div>
</section>
