<% page_title "Edit " + @world_location.name %>

<div class="span8 world-locations-edit-span">
  <section>
    <h1>Edit world location</h1>
    <%= form_for([:admin, @world_location]) do |form| %>
      <%= form.label :world_location_type_id, 'Type' %>
      <%= form.select :world_location_type_id, options_from_collection_for_select(WorldLocationType.all, :id, :name, form.object.world_location_type_id) %>
      <%= form.text_area :description %>

      <fieldset>
        <%= form.text_area :about, class: 'previewable' %>
      </fieldset>

      <%= form.check_box :active,
                label_text: "Active (can visitors click through from the world location list?)" %>

      <fieldset>
        <legend>Embassy contact details</legend>
        <%= form.text_area :embassy_address, rows: 4 %>
        <%= form.text_field :embassy_telephone %>
        <%= form.text_field :embassy_email %>
      </fieldset>

      <%= form.save_or_cancel cancel: admin_world_locations_path %>
    <% end %>
  </section>
</div>

<div class="span4 world-locations-edit-span">
  <%= sidebar_tabs news_articles: "News articles", govspeak_help: "Formatting Help" do |tabs| %>
    <%= tabs.pane id: "news_articles" do %>
      <% if @news_articles.any? %>
        <h1>News articles</h1>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th width="75%">Title</th>
              <th width="16%">Published</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @news_articles.each do |news_article| %>
              <%= content_tag_for(:tr, news_article) do %>
                <td><%= link_to news_article.title, admin_edition_path(news_article) %></td>
                <td><%= time_ago_in_words news_article.updated_at %> ago</td>
                <td>
                  <% association = news_article.edition_world_locations.where(world_location_id: @world_location).first %>
                  <%= form_for([:admin, association], html: {class: "button_to"}) do |f| %>
                    <% if association.featured? %>
                      <%= f.hidden_field :featured, value: false %>
                      <%= f.submit "No longer feature", class: "btn btn-mini" %>
                    <% else %>
                      <%= f.hidden_field :featured, value: true %>
                      <%= f.submit "Feature", class: "btn btn-mini" %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No published news articles.</p>
      <% end %>
    <% end %>
    <%= tabs.pane class: "govspeak_help", id: "govspeak_help" do %>
      <%= render partial: "admin/editions/govspeak_help" %>
    <% end %>
  <% end %>
</div>
