<% page_title "Featured items on " + @world_location.name %>

<%= content_tag_for(:div, @world_location) do %>
  <div class="world-location-header">
    <h1>
      <span class="name"><%= @world_location.name %></span>
      &ldquo;<span class="title"><%= @world_location.title %></span>&rdquo;
    </h1>
    <p><%= link_to "View on website", world_location_news_index_path(@world_location, {locale: params[:locale]}.merge(cachebust_url_options)) %></p>
  </div>
  <section class="world-location-details">
    <%= tab_navigation_for(@world_location) %>
    <%= render @feature_list, filter_by: [:title, :type, :world_location] %>
  </section>
<% end %>
