<%= form_tag search_path, method: :get do %>
  <%= label_tag "q", "Text" %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<% if search_performed? %>
  <div class="search_results">
    <p class="count"><%= pluralize(@documents.count, "document") %> matched your query.</p>
    <% if @documents.any? %>
      <ul class="documents">
        <% @documents.each do |document| %>
          <%= content_tag_for(:li, document) do %>
            <%= link_to document.title, public_document_path(document) %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>