<% page_title sanitize(t("world_location.content.heading").gsub!(/&nbsp;/, " ")) %>
<% page_class "govuk-width-container world-locations-index index-list-page" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="js-filter-list">
      <%= render "govuk_publishing_components/components/title", {
        title: sanitize(t("world_location.content.heading"))
      } %>

      <p class="govuk-body"><%= t('world_location.content.find_out') %></p>

      <form class="js-filter-form">
        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t("world_location.headings.search"),
          },
          name: "help-and-services-in",
          id: "help-and-services-in",
        } %>
      </form>
    </header>
  </div>
</div>

<div class="world-locations">
  <% @world_locations.each do |type, locations| %>
    <section id="<%= I18n.t("world_location.type.#{type}", count: 2).parameterize %>" class="world-location-type js-filter-block">
      <header class="type-heading">
        <h2 class="world-locations__heading"><%= type.pluralize %></h2>
        <p class="govuk-body"><span class="js-filter-count"><%= locations.length %></span> <span class="govuk-visually-hidden">locations</span></p>
      </header>
      <div class="content">
        <% if type == "world_location" %>
          <% group_and_sort(locations).each do |letter, locations| %>
            <div class="js-filter-block">
              <h3 class="letter"><%= letter %></h3>
              <ol class="govuk-list location-list">
                <% locations.each do |location| %>
                  <%= render partial: 'world_location',
                        locals: { world_location: location,
                                  options: { class: 'js-filter-item',
                                    "data-filter-terms" => "#{location.name} #{location.slug}" } } %>
                <% end %>
              </ol>
            </div>
          <% end %>
        <% else %>
          <ol class="govuk-list location-list">
            <% locations.each do |location| %>
              <%= render partial: 'world_location',
                        locals: { world_location: location,
                                  options: { class: 'js-filter-item',
                                    "data-filter-terms" => "#{location.name} #{location.slug}" } } %>
            <% end %>
          </ol>
        <% end %>
      </div>
    </section>
  <% end %>

  <p class="govuk-body"><%= t('world_location.content.complete_list', href: link_to(t('world_location.content.list_link'), "/government/publications/list-of-foreign-office-posts", class: "govuk-link")).html_safe %></p>

  <div class="js-filter-no-results">
    <p class="govuk-body"><%= t("document_filters.world_locations.no_locations_filter") %></p>
  </div>
</div>
