<% page_title "UK and the world" %>
<% page_class "world-locations-index" %>

<div class="block">
  <div class="inner-block">
    <header class="page-title">
      <hgroup>
        <h1>Worldwide</h1>
        <h2>See what the UK is doing&nbsp;overseas</h2>
      </hgroup>
      <p>What place or international organisation are you looking for?</p>
    </header>
  </div>
</div>

<div class="block world-locations">
  <div class="inner-block">
    <% @world_locations.each do |type, locations| %>
      <section id="<%= type.name.pluralize.parameterize %>" class="world-location-type">
        <header class="type-heading">
          <h1><%= type.name %></h1>
          <p><%= locations.length %> <span class="visuallyhidden">locations</span></p>
        </header>
        <div class="content">
          <% if type === WorldLocationType::Country %>
            <% locations.group_by {|location| location.name.first.upcase }.sort.each do |letter, locations| %>
              <h2 class="letter"><%= letter %></h2>
              <ol class="location-list">
                <% locations.each do |location| %>
                  <%= render partial: 'world_location',
                            locals: { world_location: location } %>
                <% end %>
              </ol>
            <% end %>
          <% else %>
            <ol class="location-list">
              <% locations.each do |location| %>
                <%= render partial: 'world_location',
                          locals: { world_location: location } %>
              <% end %>
            </ol>
          <% end %>
        </div>
      </section>
    <% end %>
  </div>
</div>

