<% page_title "UK and the world" %>
<% page_class "world-locations-index" %>

<div>
  <div class="block-1">
    <div class="inner-block">
      <header class="page-header world-locations">
        <h1 class="page_title">UK and the world</h1>
        <p class="explanation">The UK government&rsquo;s priorities and interests overseas</p>
      </header>
    </div>
  </div>

  <% if @featured_world_location %>
  <div class="block-2">
    <div class="inner-block">
      <%= content_tag_for(:div, @featured_world_location, class: 'featured') do %>
        <%= image_tag 'spain.png', alt: 'World location image - Spain' %>
        <h2><%= link_to @featured_world_location.name, world_location_path(@featured_world_location), class: "name" %></h2>
        <p class="summary description">
          <%= @featured_world_location.description %>
        </p>
      <% end %>
    </div>
  </div>
  <% end %>


  <div class="block-3">
    <div class="inner-block">
      <section class="simple-alphabetical-list" id="world-locations">
        <h1 class="label">All countries, territories &amp; delegations</h1>
        <% @world_locations.group_by {|wl| wl.name.first.upcase }.sort.in_groups_of(3, false) do |row| %>
          <% row.each do |letter, world_locations_group| %>
            <div class="alphabetical-row" id="world_locations_<%= letter.downcase %>">
              <h2 class="alphabetical-list-letter"><%= letter %></h2>
              <%= render partial: "list", locals: { world_locations: world_locations_group } %>
            </div>
          <% end %>
        <% end %>
      </section>
    </div>
  </div>
</div>
