<% page_title @world_location.world_location_news.title, "UK and the world" %>
<% page_class "world-locations-show" %>
<% atom_discovery_link_tag atom_feed_url_for(@world_location), t("feeds.latest_activity") %>

<% if world_location_survey_url(@world_location) %>
  <% initialise_script('GOVUK.CustomUserSatisfactionSurvey', surveyUrl: world_location_survey_url(@world_location)) %>
<% end %>

<%= content_tag_for(:article, @world_location) do %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          context: t_world_location(@world_location),
          title: @world_location.world_location_news.title,
        } %>
      </div>
      <aside class="govuk-grid-column-one-third govuk-!-margin-top-8 govuk-!-margin-bottom-8">
          <%= render 'shared/available_languages', object: @world_location %>
          <%= render 'shared/featured_links', links: @world_location.world_location_news.featured_links.only_the_initial_set %>
      </aside>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('world_location.headings.featured'),
          font_size: "l",
          margin_bottom: 4,
          padding: true,
          border_top: 2,
        } %>
        <div class="featured-news items-<%= @feature_list.current_feature_count %>" id="featured-documents">
          <% if @feature_list.any_current_features? %>
          <div class="govuk-grid-row govuk-!-padding-bottom-8">
            <%= render partial: 'shared/featured',
              collection: @feature_list.current_featured,
              as: :feature
            %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-7">
        <%= render partial: 'shared/recently_updated',
          locals: {
            recently_updated: @recently_updated,
            atom_url: atom_feed_url_for(@world_location),
            see_all_link: latest_path(world_locations: [@world_location])
          }
        %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-7">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('world_location.headings.mission'),
          padding: true,
          border_top: 2,
          font_size: "l"
        } %>
        <p class="govuk-body">
          <span class="mission_statement"><%= govspeak_to_html(@world_location.world_location_news.mission_statement) %></span>
        </p>
      </div>
    </div>

  <% if (@non_statistics_publications + @announcements + @statistics_publications).any? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('world_location.headings.documents'),
          padding: true,
          border_top: 2,
          font_size: "l"
        } %>
        <% if @announcements.any? %>
          <div id="announcements" class="document-block documents-<%= document_block_counter %>">
            <%= render "govuk_publishing_components/components/heading", {
              text: t('world_location.headings.announcements'),
              padding: true,
            } %>
            <div class="content">
              <%= render partial: "shared/list_description", locals: { editions: @announcements } %>
              <p class="govuk-body">
                <%= link_to t_see_all_our(:announcement), announcements_filter_path(@world_location, include_world_location_news: '1'), class: "govuk-link" %>
              </p>
            </div>
          </div>
        <% end %>
        <% if @non_statistics_publications.any? %>
          <div id="publications" class="document-block documents-<%= document_block_counter %>">
            <%= render "govuk_publishing_components/components/heading", {
              text: t('world_location.headings.publications'),
              padding: true,
              border_top: 2,
              font_size: "m"
            } %>
            <div class="content">
              <%= render partial: "shared/list_description", locals: { editions: @non_statistics_publications } %>
              <p class="govuk-body">
                <%= link_to t_see_all_our(:publication), publications_filter_path(@world_location), class: "govuk-link" %>
              </p>
            </div>
          </div>
        <% end %>
        <% if @statistics_publications.any? %>
          <div id="statistics-publications" class="document-block documents-<%= document_block_counter %>">
            <%= render "govuk_publishing_components/components/heading", {
              text: t('world_location.headings.statistics'),
              padding: true,
              border_top: 2,
              font_size: "m"
            } %>
            <div class="content">
              <%= render partial: "shared/list_description", locals: { editions: @statistics_publications } %>
              <p class="govuk-body">
                <%= link_to t_see_all_our(:statistics), publications_filter_path(@world_location, publication_filter_option: 'statistics'), class: "govuk-link" %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: t('world_location.headings.organisations'),
            padding: true,
            border_top: 2,
            font_size: "m"
          } %>
          <%= render partial: 'worldwide_organisations/worldwide_organisation', collection: @worldwide_organisations %>
      </div>
    </div>
<% end %>
  </div>
