<% page_title "Feature document" %>

<h2>Feature ‘<%= @edition_organisation.edition.title %>’ within ‘<%= @edition_organisation.organisation.name %>’</h2>

<div class="row">
  <div class="col-md-6">
    <%= form_for [:admin, @edition_organisation], builder: Whitehall::FormBuilder do |form| %>
      <%= form.errors %>
      <%= form.hidden_field :featured %>
      <%= form.fields_for :image do |image_fields| %>
        <%= image_fields.upload :file, label_text: "Select a 960px wide and 640px tall image to be shown when featuring" %>
      <% end %>
      <%= form.text_field :alt_text, label_text: "Image description (alt text)" %>
      <%= form.save_or_cancel cancel: admin_organisation_path(@edition_organisation.organisation) %>
    <% end %>
  </div>
</div>
