<% page_title @take_part_page.title %>
<% page_class "take-part-pages-show" %>

<%= content_tag_for(:div, @take_part_page) do %>
  <article>
    <div class="block">
      <div class="inner-block">
        <header class="page-header">
          <h1>
            <span class="label">Take part</span>
            <span class="title"><%= @take_part_page.title %></span>
          </h1>
        </header>
      </div>
    </div>
    <div class="block-1">
      <div class="inner-block">
        <span class="img-holder">
          <%= image_tag(@take_part_page.image_url(:s300), alt: @take_part_page.image_alt_text) %>
        </span>

        <% if govspeak_headers(@take_part_page.body).any? %>
          <nav class="js-stick-at-top-when-scrolling">
            <h1>Contents</h1>
            <ol>
              <% govspeak_headers(@take_part_page.body).each do |header| %>
                <li><%= link_to header.text, "##{header.id}" %></li>
              <% end %>
            </ol>
          </nav>
        <% end %>
      </div>
    </div>
    <div class="block-2">
      <div class="inner-block">
        <p class="description">
          <%= format_with_html_line_breaks(@take_part_page.summary) %>
        </p>
        <div class="body">
          <%= govspeak_to_html @take_part_page.body %>
        </div>
      </div>
    </div>
  </article>
<% end %>
