<% if @tagged_editions.present? %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="table-header">
        <th>Type</th>
        <th>Title</th>
        <th>Published</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @tagged_editions.each do |edition| %>
          <%= content_tag_for :tr, edition do %>
            <td class="type"><%= edition.type.titleize %></td>
            <td><%= link_to edition.title, admin_edition_path(edition) %></td>
            <td><%=localize edition.major_change_published_at.to_date %></td>
            <% featuring = @topical_event.featuring_of(edition) %>
            <td><%= "Featured" if featuring %></td>
            <td>
              <% if featuring %>
                <%= form_for([:admin, @topical_event, featuring], method: :delete, html: {class: "button_to"}) do |f| %>
                  <%= f.submit "Unfeature", class: "btn btn-danger" %>
                <% end %>
              <% else %>
                <%= link_to "Feature", polymorphic_path([:new, :admin, @topical_event, :topical_event_featuring], edition_id: edition.id), class: "btn btn-default" %>
              <% end %>
            </td>
          <% end %>
        <% end %>
    </tbody>
  </table>
  <%= paginate @tagged_editions, theme: 'twitter-bootstrap-3' %>
<% else %>
  <div class="add-top-margin no-content no-content-bordered">
    No documents found
  </div>
<% end %>
