<div class="well feature-list">
  <%= label_tag "ordering[#{topical_event_featuring.id}]" do %>
    <div class="row">
      <% if topical_event_featuring.offsite? %>
        <div class="title col-md-6">
          <i class="glyphicon glyphicon-align-justify add-right-margin"></i>
          <%= link_to(topical_event_featuring.title, polymorphic_path([:edit, :admin, topical_event_featuring.topical_event, topical_event_featuring.offsite_link])) %>
        </div>
        <div class="type col-md-2"><%= topical_event_featuring.offsite_link.link_type.titleize %> (offsite link)</div>
        <div class="date col-md-2"><%=localize topical_event_featuring.offsite_link.date.to_date if topical_event_featuring.offsite_link.date %></div>
        <div class="button col-md-2 text-right">
          <%= link_to('Unfeature',
                polymorphic_path([:admin, topical_event_featuring.topical_event, topical_event_featuring]),
                data: { confirm: "Unfeature ‘#{topical_event_featuring.title}’?" },
                method: :delete,
                class: "btn btn-danger") %>
        </div>
      <% else %>
        <div class="title col-md-6">
          <i class="glyphicon glyphicon-align-justify add-right-margin"></i>
          <%= link_to(topical_event_featuring.title, admin_edition_path(topical_event_featuring.edition)) %>
        </div>
        <div class="type col-md-2"><%= topical_event_featuring.edition.type.titleize %> (document)</div>
        <div class="date col-md-2"><%=localize topical_event_featuring.edition.major_change_published_at.to_date %></div>
        <div class="button col-md-2 text-right">
          <%= link_to('Unfeature',
                polymorphic_path([:admin, topical_event_featuring.topical_event, topical_event_featuring]),
                data: { confirm: "Unfeature ‘#{topical_event_featuring.title}’?" },
                method: :delete,
                class: "btn btn-danger") %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= text_field_tag "ordering[#{topical_event_featuring.id}]", topical_event_featuring.ordering, class: "ordering js-hidden" %>
</div>
