<div class="timeline__item">
  <div class="timeline__header">
    <% if is_latest %>
      <span class="timeline__latest">Latest</span>
      <br>
    <% end %>
    <h2 class="timeline__title"><%= title %></h2>
    <p class="timeline__byline">by <%= byline %></p>
  </div>

  <p class="timeline__date">
    <%= date %>
  </p>

  <% if version.field_diffs.present? %>
    <div class="timeline__diff-table">
      <%= render "govuk_publishing_components/components/details", {
        title: "Details of changes",
        open: is_latest,
      } do %>
        <% capture do %>
          <%= render ContentBlockManager::ContentBlock::Document::Show::DocumentTimeline::FieldChangesTableComponent.new(
            version:,
            schema:,
            ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div>
    <% if internal_change_note.present? %>
      <div class="timeline__note timeline__note--internal">
        <h2 class="timeline__title">Internal note</h2>
        <p class="govuk-body"><%= internal_change_note %></p>
      </div>
    <% end %>

    <% if change_note.present? %>
      <div class="timeline__note timeline__note--public">
        <h2 class="timeline__title">Public note</h2>
        <p class="govuk-body"><%= change_note %></p>
      </div>
    <% end %>
  </div>
</div>
