<fieldset>
  <%= form.fields_for :attachments do |attachment_fields| %>
    <% if attachment_fields.object.new_record? %>
      <%= attachment_fields.label :file, 'Attachment' %>
      <%= attachment_fields.file_field :file %>
      <%= attachment_fields.hidden_field :file_cache %>
    <% end %>
  <% end %>

  <% unless form.object.new_record? %>
    <%= form.fields_for :document_attachments do |attachment_fields| %>
      <p class="attachment">
        <% checkbox_args = nested_attribute_destroy_checkbox_options(attachment_fields) %>
        <% label_text = link_to_attachment(attachment_fields.object.attachment) + " (uncheck to remove)" %>
        <% checkbox_args[0].merge!(label_text: label_text) %>
        <%= attachment_fields.check_box :_destroy, *checkbox_args  %>
      </p>
    <% end %>
  <% end %>
</fieldset>