<section class="document conflict">
  <article class="document_view">
    <h1 class="title"><%= document.title %></h1>
    <pre class="body">
      <%= document.body %>
    </pre>
    <% if document.allows_attachments? %>
      <% document.attachments.each do |attachment| %>
        <p class="attachment"><%= link_to_attachment(attachment) %></p>
      <% end %>
    <% end %>
    <p class="written_by">Written by <span class="author"><%= document.creator.name %></span></p>
  </article>

  <section class="container">
    <h1>Organisations</h1>
    <% if document.organisations.any? %>
      <%= render partial: "organisations/list", locals: {organisations: document.organisations} %>
    <% else %>
      <p>This document isn't assigned to any organisations.</p>
    <% end %>
  </section>

  <% if document.can_be_associated_with_topics? %>
    <section class="container">
      <h1>Topics</h1>
      <% if document.topics.any? %>
        <%= render partial: "topics/list", locals: {topics: document.topics} %>
      <% else %>
        <p>This document isn't assigned to any topics.</p>
      <% end %>
    </section>
  <% end %>

  <% if document.can_be_associated_with_ministers? %>
    <section class="container">
      <h1>Ministers</h1>
      <% if document.ministerial_roles.any? %>
        <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: document.ministerial_roles} %>
      <% else %>
        <p>This document isn't assigned to any ministers.</p>
      <% end %>
    </section>
  <% end %>

  <% if document.can_be_associated_with_countries? %>
    <section class="container">
      <h1>Countries</h1>
      <% if document.countries.any? %>
        <%= render partial: "countries/list", locals: {countries: document.countries} %>
      <% else %>
        <p>This document isn't assigned to any countries.</p>
      <% end %>
    </section>
  <% end %>

  <% if document.can_apply_to_subset_of_nations? %>
    <section class="container">
      <h1>Excluded Nations</h1>
      <% if document.nation_inapplicabilities.any? %>
        <%= render partial: "nation_inapplicabilities/list", locals: {nation_inapplicabilities: document.nation_inapplicabilities} %>
      <% else %>
        <p>This document is applicable to all nations.</p>
      <% end %>
    </section>
  <% end %>

</section>
