<section class="resource_list">
  <div class="group">
    <nav class="actions create_buttons">
      <span>Create new</span>
      <%= link_to "Policy", new_admin_policy_path, class: "button new_resource", title: "Create Policy" %>
      <%= link_to "Publication", new_admin_publication_path, class: "button new_resource", title: "Create Publication" %>
      <%= link_to "News Article", new_admin_news_article_path, class: "button new_resource", title: "Create News Article" %>
      <%= link_to "Consultation", new_admin_consultation_path, class: "button new_resource", title: "Create Consultation" %>
      <%= link_to "Speech", new_admin_speech_path, class: "button new_resource", title: "Create Speech" %>
    </nav>

    <nav class="author_scope group">
      <%= link_to_filter('by everyone', author: nil, organisation: nil) %>
      <%= link_to_filter('by my department', author: nil, organisation: current_user.organisation) %>
      <%= link_to_filter('by me', author: current_user, organisation: nil) %>
    </nav>
  </div>

  <div class="collection">

    <nav class="filter group">
      <div class="type group">
        <%= link_to_filter 'all', filter: nil %>
        <%= link_to_filter 'policies', filter: 'policy' %>
        <%= link_to_filter 'publications', filter: 'publication' %>
        <%= link_to_filter 'news articles', filter: 'news_article' %>
        <%= link_to_filter 'consultations', filter: 'consultation' %>
        <%= link_to_filter 'speeches', filter: 'speech' %>
      </div>

      <div class="state group">
        <%= link_to_filter 'drafts', action: :draft %>
        <%= link_to_filter 'submitted', action: :submitted %>
        <%= link_to_filter 'rejected', action: :rejected %>
        <%= link_to_filter 'published', action: :published  %>
      </div>
    </nav>

    <table class="documents">
      <thead>
        <tr>
          <th class="type">Type</th>
          <th>Title</th>
          <th>Creator</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <% documents.each do |document| %>
          <%= content_tag_for(:tr, document) do %>
            <td class="type"><%= document.type.titleize %></td>
            <td class="title">
              <h2><%= link_to document.title, admin_document_path(document), title: "View document #{document.title}" %></h2>
              <% if document.has_supporting_documents? %>
                <div class="supporting_documents additional_information">
                  <h3>Supporting Documents</h3>
                  <ul>
                    <% document.supporting_documents.each do |supporting_document| %>
                    <li><%= link_to supporting_document.title, admin_supporting_document_path(supporting_document) %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </td>
            <td class="author"><%= document.creator.name %></td>
            <td class="updated"><%= time_ago_in_words document.updated_at %> ago</td>
          <% end %>
        <% end %>
        <% if documents.blank? %>
          <tr>
            <td colspan="4">No <%= (params[:filter].present? ? params[:filter].humanize.pluralize.downcase : 'documents') %> have been <%= empty_documents_list_verb(document_state) %>.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>