<nav class="actions">
  <%= render partial: "link_to_public_document", locals: {document: document} %>
  <% if document.editable? %>
    <%= edit_document_button(document) %>
  <% else document.published? %>
    <%= redraft_document_button(document) %>
  <% end %>

  <%= submit_document_button(document) if document.submittable? %>
  <% if document.publishable_by?(current_user) %>
    <%= publish_document_button(document) %>
  <% elsif document.force_publishable_by?(current_user) %>
    <%= force_publish_document_button(document) %>
  <% end %>
  <%= link_to "Reject", new_admin_document_editorial_remark_path(document), class: "button" if document.rejectable_by?(current_user) %>
  <%= delete_document_button(document) if document.deletable? %>

  <span class="back">
    back to
    <% if document.submitted? %>
      <%= link_to 'submitted documents', submitted_admin_documents_path %>
    <% elsif document.draft? %>
      <%= link_to 'draft documents', draft_admin_documents_path %>
    <% elsif document.published? %>
      <%= link_to 'published documents', published_admin_documents_path %>
    <% end %>
  </span>
</nav>
