<nav class="actions">
  <%= render partial: "link_to_public_document", locals: {document: document} %>
  <% if !document.is_latest_edition? %>
    <%= most_recent_edition_button(document) %>
  <% elsif document.editable? %>
    <%= edit_document_button(document) %>
  <% elsif document.published? %>
    <%= redraft_document_button(document) %>
  <% end %>

  <%= submit_document_button(document) if document.submittable? %>
  <%= link_to "Reject", new_admin_document_editorial_remark_path(document), class: "button" if document.rejectable_by?(current_user) %>
  <%= delete_document_button(document) if document.deletable? %>
  <% if document.published? && document.is_a?(Consultation) %>
    <%= show_or_add_consultation_response_button(document) %>
  <% end %>
  <span class="back">
    back to
    <% if document.submitted? %>
      <%= link_to 'submitted documents', submitted_admin_documents_path %>
    <% elsif document.draft? %>
      <%= link_to 'draft documents', draft_admin_documents_path %>
    <% elsif document.published? %>
      <%= link_to 'published documents', published_admin_documents_path %>
    <% end %>
  </span>
</nav>
