<nav class="actions">
  <% if document.editable_by?(current_user) %>
    <%= link_to 'Edit', edit_admin_document_path(document), title: "Edit #{document.title}", :class => "button" %>
  <% else document.published? %>
    <%= button_to 'Create new draft', revise_admin_document_path(document), title: "Create new draft" %>
  <% end %>
  <% if document.submittable_by?(current_user) %>
    <%= form_for [:admin, document], {url: submit_admin_document_path(document), method: :post} do |submit_form| %>
      <%= submit_form.submit "Submit to 2nd pair of eyes" %>
    <% end %>
  <% end %>
  <% if document.publishable_by?(current_user) %>
    <%= form_for [:admin, document], {as: :document, url: publish_admin_document_path(document), method: :post} do |document_form| %>
      <%= document_form.hidden_field :lock_version %>
      <%= document_form.submit "Publish", title: "Publish #{document.title}" %>
    <% end %>
  <% end %>
  <span class="back">
    back to
    <% if document.submitted? %>
      <%= link_to 'submitted documents', submitted_admin_documents_path %>
    <% elsif document.draft? %>
      <%= link_to 'draft documents', admin_documents_path %>
    <% elsif document.published? %>
      <%= link_to 'published documents', published_admin_documents_path %>
    <% end %>
  </span>
</nav>
