<nav class="actions">
  <%= render partial: "link_to_public_document", locals: {document: document} %>
  <% if document.editable_by?(current_user) %>
    <%= link_to 'Edit', edit_admin_document_path(document), title: "Edit #{document.title}", :class => "button" %>
  <% else document.published? %>
    <%= button_to 'Create new draft', revise_admin_document_path(document), title: "Create new draft" %>
  <% end %>
  <% if document.submittable_by?(current_user) %>
    <%= form_for [:admin, document], {url: submit_admin_document_path(document), method: :post} do |submit_form| %>
      <%= submit_form.submit "Submit to 2nd pair of eyes" %>
    <% end %>
  <% end %>
  <% if document.publishable_by?(current_user) %>
    <%= form_for [:admin, document], {as: :document, url: admin_document_publishing_path(document), method: :post} do |document_form| %>
      <%= document_form.hidden_field :lock_version %>
      <% submit_options = {title: "Publish #{document.title}"}
         if document.has_supporting_documents?
           submit_options[:confirm] = "Have you checked the #{document.supporting_documents.count} supporting documents?"
         end
      %>
      <%= document_form.submit "Publish", submit_options %>
    <% end %>
  <% end %>
  <% if document.deletable? %>
    <%= button_to 'Delete', admin_document_path(document), method: :delete, title: "Delete", confirm: "Are you sure you want to delete the document?" %>
  <% end %>
  <span class="back">
    back to
    <% if document.submitted? %>
      <%= link_to 'submitted documents', submitted_admin_documents_path %>
    <% elsif document.draft? %>
      <%= link_to 'draft documents', admin_documents_path %>
    <% elsif document.published? %>
      <%= link_to 'published documents', published_admin_documents_path %>
    <% end %>
  </span>
</nav>
