<h1 class="title"><%= document.title %></h1>
<% unless document.summary.blank? %>
  <div class="summary">
    <%= document.summary %>
  </div>
<% end %>
<div class="body">
  <% if document.images.any? %>
    <% image = document.images.first %>
    <figure class="image">
      <div class="img"><%= image_tag(image.url, alt: image.alt_text) %></div>
      <% if image.caption.present? %>
        <figcaption><%= image.caption %></figcaption>
      <% end %>
    </figure>
  <% end %>
  <%= govspeak_to_admin_html document.body, document.images %>
</div>