<h1 class="title"><%= document.title %></h1>
<% unless document.summary.blank? %>
  <div class="summary">
    <%= document.summary %>
  </div>
<% end %>
<div class="body">
  <% if document.respond_to?(:image) && document.image.present? %>
    <figure class="image">
      <div class="img"><%= image_tag(document.image_url, alt: document.image_alt_text) %></div>
      <% if document.image_caption.present? %>
        <figcaption><%= document.image_caption %></figcaption>
      <% end %>
    </figure>
  <% end %>
  <%= govspeak_to_admin_html document.body %>
</div>