<% if document.allows_supporting_pages? %>
  <section class="supporting_pages">
    <h1>Supporting pages</h1>
    <ul class="group">
      <% document.supporting_pages.each do |supporting_page| %>
        <%= content_tag_for :li, supporting_page do %>
          <%= link_to admin_supporting_document_path(supporting_page) do %>
            <span class="title"><%= supporting_page.title %></span>
            <span class="body"><%= truncate(supporting_page.body, { length: 100 }) %></span>
          <% end %>
        <% end %>
      <% end %>

      <% if document.editable? %>
        <li class="add_supporting_page"><%= link_to 'Add', new_admin_document_supporting_document_path(document), title: "Add supporting page to #{document.title}", :class => "button" %></li>
      <% end %>
    </ul>
  </section>
<% end %>
