<div class="g2 first">
  <section class="document">
    <%= render partial: 'navigation', locals: { document: @document } %>
    <%= render partial: "rejected_by", locals: { document: @document } %>
    <%= render partial: 'document', locals: { document: @document } %>
    <% if @document.notes_to_editors.present? %>
      <section id="notes_to_editors">
        <h1>Notes to editors</h1>
        <%= govspeak_to_html @document.notes_to_editors %>
      </section>
    <% end %>
  </section>

  <%= render partial: 'supporting_documents', locals: { document: @document } %>
  <%= render partial: "editorial_remarks", locals: { document: @document } %>
</div>

<div class="g1">
  <section class="container">
    <h1>Organisations</h1>
    <% if @document.organisations.any? %>
      <%= render partial: "organisations/list", locals: {organisations: @document.organisations} %>
    <% else %>
      <p>This document isn't assigned to any organisations.</p>
    <% end %>
  </section>

  <% if @document.can_be_associated_with_topics? %>
    <section class="container">
      <h1>Policy Areas</h1>
      <% if @document.topics.any? %>
        <%= render partial: "topics/list", locals: {topics: @document.topics} %>
      <% else %>
        <p>This document isn't assigned to any policy areas.</p>
      <% end %>
    </section>
  <% end %>

  <section class="container">
    <h1>Ministers</h1>
    <% if @document.ministerial_roles.any? %>
      <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: @document.ministerial_roles} %>
    <% else %>
      <p>This document isn't assigned to any ministers.</p>
    <% end %>
  </section>

  <% if @document.can_be_associated_with_countries? %>
    <section class="container">
      <h1>Countries</h1>
      <% if @document.countries.any? %>
        <%= render partial: "countries/list", locals: {countries: @document.countries} %>
      <% else %>
        <p>This document isn't assigned to any countries.</p>
      <% end %>
    </section>
  <% end %>

  <% if @document.can_apply_to_subset_of_nations? %>
    <section class="container">
      <h1>Excluded Nations</h1>
      <% if @document.nation_inapplicabilities.any? %>
        <%= render partial: "nation_inapplicabilities/list", locals: {nation_inapplicabilities: @document.nation_inapplicabilities} %>
      <% else %>
        <p>This document applies to the whole of the UK.</p>
      <% end %>
    </section>
  <% end %>

  <% if @document.can_be_related_to_other_documents? %>
    <section class="container">
      <h1>Related Documents</h1>
      <% if @document.related_documents.any? %>
        <%= render partial: "admin/documents/related", locals: {related_documents: @document.related_documents} %>
      <% else %>
        <p>This document doesn't have any related documents.</p>
      <% end %>
    </section>
  <% end %>
</div>

<div class="group">&nbsp;</div>
<%= render partial: 'fact_check_responses', locals: {document: @document}  %>