<div class="g2 first">
  <section class="document">
    <nav class="actions">
      <% if @document.editable_by?(current_user) %>
        <%= link_to 'Edit', edit_admin_document_path(@document), title: "Edit #{@document.title}", :class => "button" %>
        <%= link_to 'Add supporting document', new_admin_document_supporting_document_path(@document), title: "Add supporting document to #{@document.title}", :class => "button" %>
      <% else @document.published? %>
        <%= button_to 'Create new draft', revise_admin_document_path(@document), title: "Create new draft" %>
      <% end %>
      <% if @document.submittable_by?(current_user) %>
        <%= form_for [:admin, @document], {url: submit_admin_document_path(@document), method: :put} do |submit_form| %>
          <%= submit_form.submit "Submit to 2nd pair of eyes" %>
        <% end %>
      <% end %>
      <% if @document.publishable_by?(current_user) %>
        <%= form_for [:admin, @document], {as: :document, url: publish_admin_document_path(@document)} do |document_form| %>
          <%= document_form.hidden_field :lock_version %>
          <%= document_form.submit "Publish", title: "Publish #{@document.title}" %>
        <% end %>
      <% end %>
      <span class="back">
        back to
        <% if @document.submitted? %>
          <%= link_to 'submitted documents', submitted_admin_documents_path %>
        <% elsif @document.draft? %>
          <%= link_to 'draft documents', admin_documents_path %>
        <% elsif @document.published? %>
          <%= link_to 'published documents', published_admin_documents_path %>
        <% end %>
      </span>
    </nav>

    <article class="document_view">
      <h1 class="title"><%= @document.title %></h1>
      <div class="body">
        <%= govspeak_to_html @document.body %>
      </div>
      <p class="attachment"><%= link_to_attachment(@document.attachment) %></p>
      <p class="written_by">Written by <span class="author"><%= @document.author.name %></span></p>
    </article>
  </section>

  <% if @document.supporting_documents.any? %>
    <section class="supporting_documents">
      <h1>Supporting documents</h1>
      <ul>
        <% @document.supporting_documents.each do |supporting_document| %>
          <%= content_tag_for :li, supporting_document do %>
            <%= link_to supporting_document.title, admin_supporting_document_path(supporting_document) %>
          <% end %>
        <% end %>
      </ul>
    </section>
  <% end %>
</div>

<div class="g1">
  <section class="container">
    <h1>Organisations</h1>
    <% if @document.organisations.any? %>
      <%= render partial: "organisations/list", locals: {organisations: @document.organisations} %>
    <% else %>
      <p>This document isn't assigned to any organisations.</p>
    <% end %>
  </section>
</div>

<div class="g1">
  <section class="container">
    <h1>Topics</h1>
    <% if @document.topics.any? %>
      <%= render partial: "topics/list", locals: {topics: @document.topics} %>
    <% else %>
      <p>This document isn't assigned to any topics.</p>
    <% end %>
  </section>
</div>

<div class="g1">
  <section class="container">
    <h1>Ministers</h1>
    <% if @document.ministerial_roles.any? %>
      <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: @document.ministerial_roles} %>
    <% else %>
      <p>This document isn't assigned to any ministers.</p>
    <% end %>
  </section>
</div>