<div class="g2 first">
  <section class="document">
    <%= render partial: 'navigation', locals: { document: @document } %>
    <%= render partial: 'document', locals: { document: @document } %>
  </section>

  <%= render partial: 'supporting_documents', locals: { document: @document } %>
</div>

<div class="g1">
  <section class="container">
    <h1>Organisations</h1>
    <% if @document.organisations.any? %>
      <%= render partial: "organisations/list", locals: {organisations: @document.organisations} %>
    <% else %>
      <p>This document isn't assigned to any organisations.</p>
    <% end %>
  </section>

  <% if @document.can_be_associated_with_topics? %>
    <section class="container">
      <h1>Topics</h1>
      <% if @document.topics.any? %>
        <%= render partial: "topics/list", locals: {topics: @document.topics} %>
      <% else %>
        <p>This document isn't assigned to any topics.</p>
      <% end %>
    </section>
  <% end %>

  <section class="container">
    <h1>Ministers</h1>
    <% if @document.ministerial_roles.any? %>
      <%= render partial: "ministerial_roles/list", locals: {ministerial_roles: @document.ministerial_roles} %>
    <% else %>
      <p>This document isn't assigned to any ministers.</p>
    <% end %>
  </section>

  <% if @document.respond_to?(:inapplicable_nations) %>
    <section class="container">
      <h1>Excluded Nations</h1>
      <% if @document.inapplicable_nations.any? %>
        <%= render partial: "nations/list", locals: {nations: @document.inapplicable_nations} %>
      <% else %>
        <p>This document is applicable to all nations.</p>
      <% end %>
    </section>
  <% end %>

  <% if @document.can_be_related_to_other_documents? %>
    <section class="container" id="related-documents">
      <h1>Related Documents</h1>
      <% if @document.related_documents.any? %>
        <ul>
          <% @document.related_documents.each do |related_document| %>
            <%= content_tag_for :li, related_document do %>
              <%= link_to "[#{related_document.type.titleize}] #{related_document.title_with_state}", admin_document_path(related_document) %>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p>This document doesn't have any related documents.</p>
      <% end %>
    </section>
  <% end %>
</div>

<div class="cf">&nbsp;</div>

<div class="g2 first">
  <%= render partial: 'fact_check_responses', locals: {document: @document}  %>
</div>

<div class="g1<%= @document.fact_check_requests.completed.any? ? '' : ' first' %>">
  <section class="fact_checking container">
    <h1 class="downplay">Request fact checking</h1>
    <%= form_for [:admin, @document, FactCheckRequest.new] do |f| %>
      <%= f.text_field :email_address %>
      <%= f.text_area :instructions, cols: nil, rows: nil, label: "Extra instructions" %>
      <%= f.submit 'Send request' %>
    <% end %>
  </section>
</div>