<%= content_tag_for(:li, edition, class: "document-row") do %>
  <label>
    <%= check_box_tag(:selected, '1', false, class: 'checkbox') %>
    <%= edition.title %>
  </label>
  (<%= link_to 'view page', admin_edition_path(edition) %>)
  <ul class="metadata">
    <li>
      Last changed: <%= render_datetime_microformat(edition, :public_timestamp) { edition.public_timestamp.to_date.to_s(:long_ordinal) } %>
    </li>
    <li>
      <%= edition.organisations.map { |o| organisation_display_name(o) }.to_sentence.html_safe %>
    </li>
    <li>
      <%= edition.display_type %>
    </li>
  </ul>
<% end %>
