<%= content_tag_for(:dl, social_media_account, class: "dl-horizontal") do %>
  <%= definition('Title', social_media_account.title) if social_media_account.title.present? %>
  <%= definition(social_media_account.service_name, social_media_account.url) do |url| %>
    <p><%= link_to url, url %></p>
    <%= button_to "Delete",
          [:admin, socialable, social_media_account],
          method: "delete",
          class: "btn btn-sm btn-danger",
          data: { confirm: "Delete '#{social_media_account.service_name}' social media account from #{socialable.class.name.underscore.humanize.downcase} '#{socialable.name}'?" } %>
    <%= link_to icon("Edit"), edit_polymorphic_path([:admin, socialable, social_media_account]), class: "btn btn-default add-left-margin" %>
    <% social_media_account.socialable.non_english_translated_locales.each do |locale| %>
      <%= link_to icon("Edit #{locale.native_and_english_language_name}"), edit_polymorphic_path([:admin, socialable, social_media_account], locale: locale), class: "btn btn-default add-left-margin" %>
    <% end %>
  <% end %>
<% end %>
