<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_organisations_path
  } %>
<% end %>
<% content_for :page_title, @socialable.name %>
<% content_for :title, @socialable.name %>
<% content_for :context, organisation_context_block(current_user, @socialable) %>
<% content_for :title_margin_bottom, 4 %>

<p class="govuk-body">
  <%= view_on_website_link_for @socialable, class: "govuk-link" %>
</p>

<%= render "components/secondary_navigation", {
  aria_label: "Organisation navigation tabs",
  items: secondary_navigation_tabs_items(@socialable, request.path)
} %>

<%= render "govuk_publishing_components/components/heading", {
  text: "Social media accounts",
  font_size: "l",
  margin_bottom: 6,
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/button", {
      text: "Create new account",
      href: new_polymorphic_path([:admin, @socialable, SocialMediaAccount]),
      margin_bottom: 6,
      data_attributes: {
        module: "gem-track-click",
        "track-category": "form-button",
        "track-action": "social-media-accounts-button",
        "track-label": "Create new account"
      }
    } %>

    <% if @social_media_accounts.present? %>
      <% @social_media_accounts.each do |social_media_account| %>
        <%= render Admin::SocialMediaAccounts::Index::SummaryCardComponent.new(socialable: @socialable, social_media_account: social_media_account) %>
      <% end %>
    <% else %>
      <%= render "govuk_publishing_components/components/inset_text", {
        text: "No social media accounts"
      } %>
    <% end %>
  </div>
</div>
