<% page_title @socialable.name %>
<div class="organisation-header">
  <h1><%= @socialable.name %></h1>
  <%= view_on_website_link_for @socialable %>
</div>
<section class="organisation-details">
  <%= tab_navigation_for(@socialable) do %>
    <h2>Social media accounts</h2>

    <% if @social_media_accounts.present? %>
      <% @social_media_accounts.each do |social_media_account| %>
        <%= render "legacy_social_media_account", social_media_account: social_media_account, socialable: @socialable %>
      <% end %>
    <% else %>
      <%= content_tag(:p, 'No social media accounts') %>
    <% end %>

    <div class="form-actions">
      <%= link_to "Add", new_polymorphic_path([:admin, @socialable, SocialMediaAccount]), class: "btn btn-lg btn-primary"%>
    </div>
  <% end %>
</section>
