<% page_title t("organisation.embassies.find_an_embassy_title") %>
<% page_class "worldwide-organisations embassies-index govuk-width-container" %>
<%= render "govuk_publishing_components/components/title", {
  context: "Worldwide",
  title: t("organisation.embassies.find_an_embassy_title"),
} %>
<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
      <aside class="govuk-grid-column-one-quarter">
        <%= render "govuk_publishing_components/components/heading", {
          text: raw("<span class=\" govuk-visually-hidden\">Countries ordered from </span> A–Z"),
          font_size: "l",
          margin_bottom: 6,
        } %>
      </aside>
      <section class="govuk-grid-column-three-quarters">
        <ol class="govuk-list govuk-list--spaced">
          <% @embassies_by_location.each do |embassy| -%>
          <li class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <%= render "govuk_publishing_components/components/heading", {
                text: embassy.name, margin_bottom: 1
              } %>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <% if !embassy.special_case? && embassy.offices.empty? %>
                <p class="govuk-body"><%= embassy.text %></p>
              <% else %>
                <ul class="govuk-list govuk-list--spaced govuk-!-margin-top-0">
                  <% if embassy.special_case? || embassy.has_remote_service? %>
                  <li>
                    <p class="govuk-body">
                      <%= embassy.text %>
                    </p>
                    <%= embassy.embassy_path %>
                  </li>
                  <% else %>
                    <%= render partial:"organisation", collection: embassy.consular_services_organisations %>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <% end %>
        </ol>
      </section>
  </div>
</div>
