<% page_title "#{@document_collection.name}", "Document collection" %>

<%= link_to "Back to #{@document_collection.organisation.name}", admin_organisation_path(@document_collection.organisation) %>

<h1><%= @document_collection.name %></h1>

<% if @document_collection.editions.any? %>
  <ul>
    <% @document_collection.editions.each do |edition| %>
      <%= content_tag_for :li, edition do %>
        <%= document_collection_edition_with_state(edition) %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No associated editions</p>
<% end %>

<%= link_to "Edit", edit_admin_organisation_document_collection_path(@document_collection.organisation, @document_collection), class: "btn" %>
