<div class="inside_gov_home">
  <% page_title "" %>
  <% page_class "inside_gov" %>
  <div class="g4f">
    <h1 class="page_title">Welcome to <span>Inside Government</span>, the best place to find out how government works, see what it’s doing and get involved.</h1>
    
    <div class="g1">
      <p><span>Inside Government</span> keeps you up to date with the UK government’s <a href="/news-and-speeches">news</a>, <a href="/policy-topics">policies</a>, <a href="/publications">publications</a> and <a href="/consultations">consultations</a>. You can also find information  about <a href="/ministers">government ministers</a>, <a href="/organisations">departments and organisations</a> and the UK’s interests and policies in the <a href="/world">rest of the world</a>.</p>
      
    <p class="beta-site"><strong>BETA </strong>This is a live test site, with ten departments keeping it up to date for six weeks.</p>
    <p class="beta-site"><%= link_to "Take the tour", tour_path %></p>
      <!--section>
        <p>Information about all UK government organisations, including their policies, publications, speeches and the latest news.</p>

        <p>This is a beta test, and is not complete. Over time this site will replace many of the websites which are currently run by government organisations at separate web addresses.</p>
      </section-->

      
    </div>

    <div class="g2">
      <section>
      
        <ul class='recently_updated'>
          <% @recently_updated.each do |document| %>
            <%= content_tag_for :li, document, class: document_organisation_class(document) do %>
          
              <div class="published_document"><%= link_to document.title, public_document_path(document), class: "title" %></div>
              <% document.organisations[0,1].each do |organisation| %>
                <%= content_tag_for :div, organisation do %> by
                  <%= link_to organisation.logo_formatted_name, organisation_path(organisation) %>
                <% end %>
              <% end %>
              <div class="metadata">
                <span class="document_type"><%= human_friendly_document_type(document) %></span>
              </div>
              <div class="metadata published_or_updated">
                <%= published_or_updated(document) %>
                <%= time_ago(document.published_at, class: 'published_at') %>
              </div>
            <% end %>
          <% end %>
        </ul>
        <%= link_to image_tag('feed-icon.png'), atom_feed_path, class: 'feed_icon' %>
      </section>
    </div>
  </div>
</div>
