<div class="inside_gov_home">
  <% page_title "" %>
  <% page_class "inside_gov" %>
  <div class="g4f">
    <div class="g3">
      <header class="page_header">
        <h1 class="page_title">Welcome to <span>Inside Government</span></h1>
      </header>
      <section>
        <p class="introduction">Simplifying things for people who are personally or professionally interested in how government works and what it is doing.</p>

        <p class="beta-site"><strong>BETA </strong>This is a live test site, with 10 departments keeping it up to date for 6 weeks.</p>
        <p class="beta-site"><%= link_to "Take the tour", tour_path %> or <%= link_to "read the blog post", "http://digital.cabinetoffice.gov.uk/2012/02/28/introducing-the-next-phase-of-the-gov-uk-beta/" %></p>
      </section>

      <section>
        <h1 class="label">Latest</h1>
        <ul class='recently_updated'>

          <% @recently_updated.each do |document| %>
              <%= content_tag_for :li, document, class: document_organisation_class(document) do %>
                <% document.organisations[0,1].each do |organisation| %>
                <%= content_tag_for :div, organisation do %>
                  <%= link_to organisation.logo_formatted_name, organisation_path(organisation) %>
                <% end %>
              <% end %>

              <div class="published_document"><%= link_to document.title, public_document_path(document), class: "title" %></div>
              <div class="metadata">
                <span class="document_type"><%= human_friendly_document_type(document) %>, </span>
              </div>
              <div class="metadata published_or_updated">
                <%= published_or_updated(document) %>
                <%= time_ago(document.published_at, class: 'published_at') %>
              </div>
            <% end %>
          <% end %>
        </ul>
        <%= link_to image_tag('feed-icon.png'), atom_feed_path, class: 'feed_icon' %>
      </section>
    </div>
    <div class="g1">
      <section>
        <h1><a href="#">Find out more or something here</a></h1>
        <h2>Sections</h2>
        <ul>
          <li>
            <h3>News</h3>
            <p>The latest news and speeches from across</p>
          </li>
          <li>
            <h3>Policy</h3>
            <p>Plans for changes to the law. Because there are a lot of them, we group policies into topic areas, so that all laws about housing can be found together.</p>
          </li>
          <li>
            <h3>Publications</h3>
            <p>Papers and documents produced by the government. You can filter the papers by the policy topic they relate to.</p>
          </li>
          <li>
            <h3>Consultations</h3>
            <p>Read and contribute to government thinking before it becomes policy.</p>
          </li>
          <li>
            <h3>Ministers</h3>
            <p>All the government ministers, with brief biographies and description of ministerial.</p>
          </li>
          <li>
            <h3>Departments</h3>
            <p>Rather than building and maintaining sites individually, each department will have its own section within INSIDE GOVERNMENT. Here you can follow what a particular department is up to.</p>
          </li>
          <li>
            <h3>UK &amp; the world</h3>
            <p>The UK government's priorities and interests overseas, country by country.</p>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
