<% page_title "Home" %>
<div class="g3">
  <section>
    <h1>Recently updated</h1>
    <ul>
      <% @recently_updated.each do |document| %>
        <%= content_tag_for :li, document do %>
          <div><%= link_to document.title, public_document_path(document), class: "title" %></div>
          <% if document.summary.present? %>
            <p class="summary"><%= document.summary %></p>
          <% end %>
          <div class="metadata">
            <span class="document_type"><%= human_friendly_document_type(document) %></span>
            published
            <%= time_ago(document.published_at, class: 'published_at') %>
          </div>
        <% end %>
      <% end %>
    </ul>
  </section>
</div>