<div class="inside_gov_home">
  <% page_title "" %>
  <% page_class "inside_gov" %>
  <div class="g4f">
    <div class="g3">
      <header class="page_header">
        <h1 class="page_title">Welcome to <span>Inside Government</span></h1>
      </header>
      <section>
        <p class="introduction">Simplifying things for people who are personally or professionally interested in how government works and what it is doing.</p>

        <p class="beta-site"><strong>BETA </strong>This is a live test site, with 10 departments keeping it up to date for 6 weeks.</p>
        <p class="beta-site"><%= link_to "Take the tour", tour_path %> or <%= link_to "read the blog post", "http://digital.cabinetoffice.gov.uk/2012/02/28/introducing-the-next-phase-of-the-gov-uk-beta/" %></p>
      </section>

      <section>
        <h1 class="label">Latest</h1>
        <ul class='recently_updated'>

          <% @recently_updated.each do |document| %>
              <%= content_tag_for :li, document, class: document_organisation_class(document) do %>
                <% document.organisations[0,1].each do |organisation| %>
                <%= content_tag_for :div, organisation do %>
                  <%= link_to organisation.logo_formatted_name, organisation_path(organisation) %>
                <% end %>
              <% end %>

              <div class="published_document"><%= link_to document.title, public_document_path(document), class: "title" %></div>
              <div class="metadata">
                <span class="document_type"><%= human_friendly_document_type(document) %>, </span>
              </div>
              <div class="metadata published_or_updated">
                <%= published_or_updated(document) %>
                <%= time_ago(document.published_at, class: 'published_at') %>
              </div>
            <% end %>
          <% end %>
        </ul>
        <%= link_to image_tag('feed-icon.png'), atom_feed_path, class: 'feed_icon' %>
      </section>
    </div>
  </div>
  <div class="g1">
    <section>
      <h1>Find out more or something here</h1>
      <p>Hello world</p>
    </section>
  </div>
</div>
