<div id="content" class="g4f">
  <% page_title "Tour" %>
  <% page_class "inside_gov_tour" %>
  <section class="page-header g4f">
    <h1 class="page-title g4">INSIDE GOVERNMENT Tour</h1>
    <p class="g4">Welcome to the 6-week test of the ‘Inside government’ section of GOV.UK. This is a public ‘beta’ of a better way to present information about the workings of government - news, policies, consultations etc.</p>
  </section>
  <section class="g4f">
    <h2 class="g4">Quick overview and featured announcements</h2>
    <%= image_tag "tour-home-page-screenshot.jpg", alt: "Home page screenshot", class: "g2" %>
    <div class="g2">
      <p>The front page starts you off with a quick overview of everything that’s going on in government. The latest updates of any kind on the site plus the featured announcements of the day. In the future we intend that this will update in real time.</p>
    </div>

    <h2 class="g4">Department and agency homepages - clear and consistent</h2>
    <%= image_tag "tour-organisations-screenshot.jpg", alt: "Departments and agencies screenshot", class: "g2" %>
    <div class="g2">
      <p>Every department has its own home page and an overview of its material. They all sit on the same platform and have common navigational and design approaches, which means you should be able to find your way around pretty easily. A little thing - every department has its own colour, these relate to the ‘latest activity’ column on the front page.</p>
    </div>

    <h2 class="g4">Everything you need to know about policy - on a page</h2>
    <%= image_tag "tour-policy-screenshot.jpg", alt: "Policy screenshot", class: "g2" %>
    <div class="g2">
      <p>There are now pages that provide policy overviews across government. They aim to tell you everything you need to know about each policy, updated in real time with all the news and publications that relate to it. We’ve approached these pages in an ‘encyclopedic’ format; policies link to each other and are grouped into meaningful topics, not organised by department. In future we intend that you will be able to get notifications when these pages change -  and you can already get a clear view of what changes have been made.</p>
    </div>

    <h2 class="g4">The UK and the World - everything in one place</h2>
    <%= image_tag "tour-uk-and-the-world-screenshot.jpg", alt: "UK and the world screenshot", class: "g2" %>
    <div class="g2">
      <p>We’ve also created a space that gathers information about the UK government’s interests and policies relating to the rest of the world. This is a shared area where departments like the Foreign Office, Ministry of Defence and the Department for International Development will pool information about their work overseas.</p>
    </div>

    <h2 class="g4">Better tools for publishing</h2>
    <div class="g2">
      <p>The public facing aspects of the site are just half the story. We’ve also built a new publishing system to make things easier and more efficient for the editors and publishers across Whitehall.</p>
    </div>

    <h2 class="g4">Custom-built for government</h2>
    <%= image_tag "tour-create-buttons-screenshot.jpg", alt: "Create button screenshot", class: "g2" %>
    <div class="g2">
      <p>Our system is custom-made for the kinds of material government produces - things like speeches, news and consultations - and effortlessly captures the relationships between those things and the ministers and organisations responsible for them.</p>
    </div>

    <h2 class="g4">Ready for any change</h2>
    <div class="g2">
      <p>Under the hood, there’s a data model which reflects how government is structured. That means changes to who ministers are or how departments and agencies are structured can be applied right across the site in seconds.</p>
    </div>

    <h2 class="g4">Smart features to help publishers</h2>
    <%= image_tag "tour-fact-checking-screenshot.jpg", alt: "Fact checking screenshot", class: "g2" %>
    <div class="g2">
      <p>We’ve introduced features like our built-in fact-checking tool to make the process of producing content smoother. And we’ve built the system to be ‘noisy’ rather than restrictive - users get warned as opposed to prevented from doing things they shouldn’t. We’ve tried to make the software as simple, flexible and intuitive as possible - and our users have been saying nice things about it.</p>
    </div>

    <h2 class="g4">Feedback</h2>
    <%= image_tag "tour-feedback-screenshot.jpg", alt: "Feedback screenshot", class: "g2" %>
    <div class="g2">
      <p>It’s a beta, so we’d love your <a href="/feedback">feedback</a>.</p>
    </div>
  </section>
</div>