<% page_title "About #{@country.name}" %>

<%= content_tag_for(:div, @country) do %>
  <%= render "beta_warning", country: @country %>

  <div class="g4">
    <header class="page_header countries">
      <h1 class="country name page_title"><%= @country.name %></h1>
    </header>
  </div>

  <div class="g4f">
    <div class="g1 sidebar">
      <%= render 'navigation', country: @country %>
      <section id="about_us" class="info">
        <h1 class="label">About us</h1>
        <p class="about">
          <span class="description"><%= format_with_html_line_breaks(@country.description) %></span>
          <a href="<%= about_country_path(@country) %>" title='<%= "Further information about #{@country.name}" %>'>Read more<span class="visuallyhidden"> about <%= @country.name %></span>.</a>
        </p>
      </section>
    </div>

    <div class="g3f document_page">
      <div class="g2 document_view">
        <article class="document">
          <div class="body">
            <%= govspeak_to_html @country.about %>
          </div>
        </article>
      </div>
    </div>
  </div>
<% end %>