<% page_title "UK and the world" %>
<% page_class "countries-index" %>

<div class="g3f">
  <section class="g3 page_header countries">
    <h1 class="page_title">UK and the world</h1>
    <p class="explanation">The UK government&rsquo;s priorities and interests overseas</p>
  </section>

  <% if @featured_countries.any? %>
    <section class="featured_items" id="featured-countries">
      <div class="g4f">
        <div class="g1">
          <h1 class="label">Featured</h1>
        </div>
        <div class="g3">
          <% @featured_countries.each do |featured_country| %>
            <div class="<%= featured_grid_class(@featured_countries.length) %>">
              <%= content_tag_for(:article, featured_country) do %>
                <h2><%= link_to featured_country.name, country_path(featured_country), class: "name" %></h2>
                <p class="summary description">
                  <%= featured_country.description %>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>

</div>

<div class="g3f">
  <%= render partial: "grouped_list", locals: {countries: @countries} %>
</div>