<% page_title @country.name, "UK in the world" %>

<div class="g3f country">
  <section class="page_header countries">
    <h1 class="country page_title"><%= @country.name %></h1>
  </section>
  <% if @country.embassy_address.present? %>
    <section class="embassy_contact_details">
      <h1>Embassy</h1>
      <p class="embassy_address"><%= safe_join(@country.embassy_address.split("\n"), "<br/>".html_safe) %></p>
      <p class="embassy_telephone"><%= @country.embassy_telephone %></p>
      <p class="embassy_email"><%= mail_to @country.embassy_email %></p>
    </section>
  <% end %>
</div>

<div class="g1 related_documents">
  <%= render partial: "documents/international_priorities", object: @international_priorities %>
</div>
<div class="g1 related_documents">
  <%= render partial: "documents/news_articles", object: @news_articles %>
</div>
<div class="g1 related_documents">
  <%= render partial: "documents/speeches", object: @speeches %>
</div>
<div class="g1 related_documents">
  <%= render partial: "documents/policies", object: @policies %>
</div>
<div class="g1 related_documents">
  <%= render partial: "documents/publications", object: @publications %>
</div>