<% page_title @country.name, "UK and the world" %>
<% page_class "countries_homepage" %>
<%= content_tag_for(:div, @country) do %>
  <div class="block-1">
    <div class="inner-block">
      <%= render "beta_warning", country: @country %>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <header class="page-header countries <% if @featured_news_articles.any? %>with_featured<% end %>">
        <h1 class="country name page_title"><%= @country.name %></h1>
      </header>
    </div>
  </div>

  <% if @featured_news_articles.any? %>
  <div class="block-3">
    <div class="inner-block">
    <%= render partial: "shared/hero_rotator", locals: {editions: @featured_news_articles, options: {country_context: true}} %>
    </div>
  </div>
  <% end %>

  <div class="block-4">
    <div class="inner-block">
      <div class="sidebar <% if @featured_news_articles.any? %>sub_navigation_container<% end %>">
        <%= render 'navigation', country: @country %>
        <section id="about_us" class="info">
          <h1 class="label">About us</h1>
          <p class="about">
            <span class="description"><%= format_with_html_line_breaks(@country.description) %></span>
            <a href="<%= about_country_path(@country) %>" title='<%= "Further information about #{@country.name}" %>'>Read more<span class="visuallyhidden"> about <%= @country.name %></span>.</a>
          </p>
        </section>
      </div>
    </div>
  </div>

  <div class="block-5">
    <div class="inner-block">
      <% if @news_articles.any? %>
            <%= article_section("News", @news_articles, {id: 'news_articles', class: 'latest_documents'}) do |news_article| %>
              <h2 class="article_title"><%= link_to news_article.title, public_document_path(news_article), title: "View #{news_article.title}", class: "title" %></h2>
              <span class="metadata">
                Updated <%= relative_time(news_article.updated_at, class: 'updated_at') %>
              </span>
            <% end %>
      <% end %>
    </div>
  </div>

  <div class="block-6">
    <div class="inner-block">
      <% if @international_priorities.any? %>
          <%= article_section("Priorities", @international_priorities, {id: 'international_priorities', class: 'latest_documents', article_wrapper_class: ''}) do |international_priorities| %>
            <h2 class="article_title"><%= link_to international_priorities.title, public_document_path(international_priorities), title: "View #{international_priorities.title}", class: "title" %></h2>
            <span class="metadata">
              Updated <%= relative_time(international_priorities.updated_at, class: 'updated_at') %>
            </span>
          <% end %>
      <% end %>

        <% if @speeches.any? %>
        <%= article_section("Speeches", @speeches, {id: 'speeches', class: 'latest_documents'}) do |speech| %>
          <h2 class="article_title"><%= link_to speech.title, public_document_path(speech), title: "View #{speech.title}", class: "title" %></h2>
          <span class="metadata">
            Updated <%= relative_time(speech.updated_at, class: 'updated_at') %>
          </span>
        <% end %>
  <% end %>

  <% if @policies.any? %>
        <%= article_section("Policies", @policies, {id: 'policies', class: 'latest_documents'}) do |policy| %>
          <h2 class="article_title"><%= link_to policy.title, public_document_path(policy), title: "View #{policy.title}", class: "title" %></h2>
          <span class="metadata">
            Updated <%= relative_time(policy.updated_at, class: 'updated_at') %>
          </span>
        <% end %>
  <% end %>

  <% if @publications.any? %>
        <%= article_section("Publications", @publications, {id: 'publications', class: 'latest_documents'}) do |publication| %>
          <h2 class="article_title"><%= link_to publication.title, public_document_path(publication), title: "View #{publication.title}", class: "title" %></h2>
          <span class="metadata">
            Updated <%= relative_time(publication.updated_at, class: 'updated_at') %>
          </span>
        <% end %>
  <% end %>
    </div>
  </div>

  <div class="block-7">
    <div class="inner-block">
      <% if @country.embassy_address.present? %>
        <section class="vcard info embassy_contact_details">
          <h1 class="fn org name label">UK contacts in <%= @country.name %></h1>
          <div class="adr">
            <p class="embassy_address street-address"><%= safe_join(@country.embassy_address.split("\n"), "<br/>".html_safe) %></p>
          </div>
          <p class="embassy_telephone tel">
            <span class="type">Telephone</span>:
            <span class="value"><%= @country.embassy_telephone %></span>
          </p>
          <p class="embassy_email email"><%= mail_to @country.embassy_email %></p>
        </section>
      <% end %>
    </div>
  </div>
<% end %>
