<% page_title @country.name, "UK in the world" %>

<div class="g3f country">
  <section class="page_header countries">
    <h1 class="country page_title"><%= @country.name %></h1>
  </section>
  <section class="page_detail">
    <div class="g3">
      <% if @country.embassy_address.present? %>
        <div class="embassy_contact_details ">
          <section class="vcard">
            <h1 class="fn org name">UK Embassy in <%= @country.name %></h1>
            <div class="adr">
              <p class="embassy_address street-address"><%= safe_join(@country.embassy_address.split("\n"), "<br/>".html_safe) %></p>
            </div>
            <p class="embassy_telephone tel">
              <span class="type">Telephone</span>:
              <span class="value"><%= @country.embassy_telephone %></span>
            </p>
            <p class="embassy_email email"><%= mail_to @country.embassy_email %></p>
          </section>
        </div>
      <% end %>
    </div>
  </section>
</div>

<div class="g2">
  <p class="about">
    <%= link_to "Read more about #{@country.name}", about_country_path(@country), title: "Further information about #{@country.name}" %>
  </p>
</div>

<div class="g1 related_documents">
  <%= render partial: "documents/international_priorities", object: @international_priorities %>
</div>
<div class="g1 related_documents">
  <%= render partial: "documents/news_articles", object: @news_articles %>
</div>
<div class="g1 related_documents">
  <%= render partial: "documents/speeches", object: @speeches %>
</div>
<div class="g1 related_documents">
  <%= render partial: "documents/policies", object: @policies %>
</div>
<div class="g1 related_documents">
  <%= render partial: "documents/publications", object: @publications %>
</div>