<% content_for :page_title, "New document" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: admin_new_document_options_path, data: {
      module: "ga4-form-setup ga4-form-tracker ga4-link-setup ga4-link-tracker",
    } do %>
      <%= render "govuk_publishing_components/components/radio", {
        heading: "New document",
        heading_level: 1,
        name: "new_document_options",
        id: "new_document_options",
        items: new_document_type_list,
      } %>
      <%= render "govuk_publishing_components/components/inset_text", {
        text: sanitize("Check the #{link_to("content types guidance", "#{Plek.website_root}/guidance/content-design/content-types", class: "govuk-link")}" +
                         " if you need more help in choosing a content type."),
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", { text: "Next" } %>

        <%= link_to("Cancel", root_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
