<% content_for :page_title, "#{@edition.title}: Topic taxonomy tags" %>
<% content_for :context, @edition.title %>
<% content_for :title, "Topic taxonomy tags" %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_edition_path(@edition)
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-8">
      <p class="govuk-body">The topic taxonomy groups content based on what it’s about.</p>
      <p class="govuk-body">Choose the tag or tags that best describe what this content is about.</p>
      <p class="govuk-body">You can use the whole topic taxonomy. There's no limit to the number of tags you can choose.</p>
      <p class="govuk-body"><%= link_to "Find out more about tagging to the topic taxonomy", "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/creating-and-updating-pages#add-topic-tagging", class: "govuk-link", target: "_blank" %> (open in new tab)</p>
    </div>
    <div class="govuk-!-margin-bottom-8">
      <p class="govuk-body"><%= link_to "Suggest a new tag", "#{Whitehall.support_url}/taxonomy_new_topic_request/new", class: "govuk-link", target: "_blank" %> (open in new tab)</p>
      <p class="govuk-body"><%= link_to "Suggest a change to a tag", "#{Whitehall.support_url}/taxonomy_change_topic_request/new", class: "govuk-link", target: "_blank" %> (open in new tab)</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Selected topics",
      margin_bottom: 2,
    } %>

    <%= form_for @tag_form, url: admin_edition_tags_path(@edition), method: :put, data: {
      module: "track-selected-taxons"
    } do |form| %>
      <%= form.hidden_field :previous_version %>

      <% if @topic_taxonomy.ordered_taxons_transformed(@tag_form.selected_taxons).count() %>
        <%= render partial: "/components/miller-columns", locals: {
          id: "taxonomy_tag_form[taxons]",
          items: @topic_taxonomy.ordered_taxons_transformed(@tag_form.selected_taxons),
        } %>
      <% else %>
        <p class="govuk-body">No taxons available</p>
      <% end %>

      <%= form.hidden_field "invisible_taxons", value: @tag_form.invisible_taxons.join(",") %>

      <%= render "govuk_publishing_components/components/details", {
        title: "Changes are applied to a live page as soon as you update the tags"
      } do %>
        If this content has already been published and you add new topics, then the last published edition will appear on those topic pages immediately, before you publish a new edition.
      <% end %>

      <div class="govuk-button-group govuk-!-margin-top-7">
        <%= render "govuk_publishing_components/components/button", {
          text: "Update tags",
          name: "save",
          value: "save",
          data_attributes: {
              module: 'gem-track-click',
              track_category: 'form-button',
              track_label: "Save tagging changes",
              track_action: "taxonomy-tag-form-button",
          }
        } %>

        <%= render "govuk_publishing_components/components/button", {
          text: "Update and review specialist topic tags",
          name: "legacy_tags",
          value: "legacy_tags",
          secondary_solid: true,
          data_attributes: {
            module: 'gem-track-click',
            track_category: 'form-button',
            track_label: "Save and review specialist topic tagging",
            track_action: "taxonomy-tag-form-button",
          }
        } %>
      </div>
    <% end %>
  </div>
</div>
