<% page_title "Edit topics: " + @edition.title %>

<div class="row">
  <h1><%= @edition.title %></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Topics (new taxonomy)</h2>
    <p>Topics categorise content on GOV.UK by subject area.</p>
    <p>Choose the topic(s) that best describe what this content is about.</p>
    <p>You can use the whole taxonomy. There's no limit to the number of topics you can choose.</p>
    <hr>

    <%= form_for @tag_form, url: admin_edition_tags_path(@edition), method: :put do |form| %>
      <%= form.hidden_field :previous_version %>

      <div class="form-group"
           data-module="taxonomy-tree-checkboxes"
           data-content-id="<%= @edition.content_id %>"
           data-content-format="<%= @edition.content_store_document_type %>"
           data-content-public-path="<%= public_document_path(@edition) %>">

        <%= render partial: "/admin/shared/tagging/taxonomy", locals: { selected_taxons: @tag_form.selected_taxons, level_one_taxons: @topic_taxonomy.ordered_taxons } %>

      </div>

      <%= form.hidden_field "invisible_draft_taxons", value: @tag_form.invisible_taxons.join(",") %>

      <p>
        <%= link_to "Suggest a new topic",
          "#{Whitehall.support_url}/taxonomy_new_topic_request/new",
          class: "feedback-link"
        %>
        or
        <%= link_to "Suggest a change to a topic",
          "#{Whitehall.support_url}/taxonomy_change_topic_request/new",
          class: "feedback-link"
        %>
      </p>


      <h2>Selected topics</h2>
      <div class="content content-bordered hidden" data-module="breadcrumb-preview">
      </div>


      <div class="info alert alert-info" role="alert">
        <strong>Info:</strong> Topics are applied to all editions of a
        document. This means changes will be reflected on the live
        site if there's a published edition.
      </div>
      <div class="publishing-controls well">
        <div class="form-actions" data-module="track-button-click" data-track-category="form-button" data-track-action="taxonomy-tag-form-button">
          <%= form.submit('Save topic changes', name: "save", class: "btn btn-lg btn-success") %>
          <%= form.submit('Save and review legacy tagging', name: "legacy_tags", class: "btn btn-lg btn-primary") %>
          <span class="or_cancel">
            or
            <%= link_to('cancel', admin_edition_path(@edition)) %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
