= form_for [:admin, @policy] do |policy_form|
  - if @policy.errors.any?
    %p To save the policy please fix the following issues:
    %ul#errors
      - @policy.errors.full_messages.each do |msg|
        %li= msg

  = policy_form.label :title
  = policy_form.text_field :title
  = policy_form.label :body, 'Policy'
  = policy_form.text_area :body
  = labelled_check_box :policy, :submitted, 'Submit to second set of eyes'
  = policy_form.submit 'Save'
  %span.or_cancel
    or
    =link_to 'cancel', admin_policies_path