<div class="format-advice">
  <p><strong>Use this format for:</strong> A plain English definition of an outcome government is working to achieve and the specific actions it’s taking. Related content (news etc) should be associated to policies.</p>
</div>

<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>
    <fieldset>
      <legend>Associations</legend>

      <div class="important-associations">
        <%= render 'topic_fields', form: form, edition: edition %>
      </div>

      <%= render 'appointment_fields', form: form, edition: edition %>
      <%= render 'topical_event_fields', form: form, edition: edition %>
      <%= render 'world_location_fields', form: form, edition: edition %>
      <%= render 'organisation_fields', form: form, edition: edition %>
      <%= render 'specialist_sector_fields', form: form, edition: edition %>
    </fieldset>

    <fieldset>
      <legend>Who's working on this?</legend>
      <%= render 'policy_group_fields', form: form, edition: edition %>
    </fieldset>

    <%= render 'nation_fields', form: form, edition: edition %>

    <%= render 'local_government_fields', form: form, edition: edition %>
  <% end %>
<% end %>
