%p.inset
  back to
  =link_to 'submitted policies', submitted_admin_policies_path

.policy
  %h1.title= @policy.title
  %div.body
    = @policy.body.split("\n\n").collect{|paragraph| "<p>#{paragraph}</p>" }.join.html_safe
  %p.written_by
    Written by
    %span.author= @policy.author.name

%div
  = form_for [:admin, @policy], {:url => publish_admin_policy_path(@policy)} do |policy_form|
    = policy_form.hidden_field :lock_version
    = policy_form.submit "Publish", :title => "Public #{@policy.title}"