<div class="person-profile">
  <div class="inner">
    <div class="info govuk-!-padding-0">
      <%= image_tag image, alt: image_alt, loading: "lazy" %>
      <dl class="govuk-!-padding-3">
        <dt class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Lived</dt>
          <dd class="govuk-body-s"><%= lived %></dd>
        <dt class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Dates in office</dt>
          <dd class="govuk-body-s"><%= dates_in_office %></dd>
        <dt class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Political party</dt>
          <dd class="govuk-body-s"><%= political_party %></dd>
        <dt class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Interesting facts</dt>
          <dd class="govuk-body-s govuk-!-margin-bottom-0"><%= interesting_facts.html_safe %></dd>
      </dl>
    </div>
  </div>
</div>
