<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/breadcrumbs", {
      breadcrumbs: [
        {
          title: "Home",
          url: "/"
        },
        {
          title: "History of the UK Government",
          url: "/government/history"
        }
      ]
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      context: "Past Foreign Secretaries",
      title: current_person,
    } %>
    <%= render "govuk_publishing_components/components/lead_paragraph", {
      text: time_active,
    } %>
    <%= render "govuk_publishing_components/components/lead_paragraph", {
      text: lead_paragraph,
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="/Users/chrisyoong/govuk/whitehall/app/views/past_foreign_secretaries/_show_person.html.erb">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">  
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= image_tag image, class: "govuk-!-margin-bottom-4 govuk-!-width-full", alt: "", loading: "lazy"%>
      </div>
    </div>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Lived",
      font_size: "m",
      margin_bottom: 1,
    } %>
    <p class="govuk-body"><%= lived %></p>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Dates in office",
      font_size: "m",
      margin_bottom: 1,
    } %>
    <p class="govuk-body"><%= dates_in_office %></p>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Political party",
      font_size: "m",
      margin_bottom: 1,
    } %>
    <p class="govuk-body"><%= political_party %></p>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Interesting facts",
      font_size: "m",
      margin_bottom: 1,
    } %>
    <p class="govuk-body"><%= interesting_facts %></p>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Biography",
      font_size: "m",
      margin_bottom: 1,
    } %>
    <%= yield %>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Further reading",
      font_size: "m",
      margin_bottom: 1,
    } %>
    <%= render "govuk_publishing_components/components/list", {
      visible_counters: true,
      items: further_reading,
    } %>
  </div>
</div>

  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/related_navigation", {
      content_item: past_foreign_secretary_nav
    } %>
    <p class="govuk-body">
      <a class="govuk-link" href="/government/history/past-foreign-secretaries">View all past foreign secretaries</a>
    </p>
  </div>
