<% page_title "Past Foreign Secretaries" %>
<% page_class "historic-people-index" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <a href="/government/history">History</a>
      </h1>
      <h2>Past Foreign Secretaries</h2>
    </header>
  </div>
</div>

<div class="block featured-profiles">
  <div class="inner-block floated-children">
    <h2 class="profiles">Selection of profiles</h2>
    <ol>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="/government/history/past-foreign-secretaries/edward-wood" class="img"><%= image_tag 'history/past-foreign-secretaries/viscount-halifax.jpg', alt: 'Edward Frederick Lindley Wood, Viscount Halifax' %></a>
          </div>
          <h3 class="name"><a href="/government/history/past-foreign-secretaries/edward-wood">Edward Frederick Lindley Wood, Viscount&nbsp;Halifax</a></h3>
          <p class="term">1938 &ndash; 1940</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="/government/history/past-foreign-secretaries/austen-chamberlain" class="img"><%= image_tag 'history/past-foreign-secretaries/austen-chamberlain.jpg', alt: 'Sir Austen Chamberlain' %></a>
          </div>
          <h3 class="name"><a href="/government/history/past-foreign-secretaries/austen-chamberlain">Sir Austen Chamberlain</a></h3>
          <p class="term">1924 &ndash; 1929</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="/government/history/past-foreign-secretaries/george-curzon" class="img"><%= image_tag 'history/past-foreign-secretaries/george-nathaniel-curzon.jpg', alt: 'George Nathaniel Curzon, Marquess of Kedleston' %></a>
          </div>
          <h3 class="name"><a href="/government/history/past-foreign-secretaries/george-curzon">George Nathaniel Curzon, Marquess of&nbsp;Kedleston</a></h3>
          <p class="term">1919 &ndash; 1924</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="/government/history/past-foreign-secretaries/edward-grey" class="img"><%= image_tag 'history/past-foreign-secretaries/sir-edward-grey.jpg', alt: 'Sir Edward Grey, Viscount Grey of Fallodon' %></a>
          </div>
          <h3 class="name"><a href="/government/history/past-foreign-secretaries/edward-grey">Sir Edward Grey, Viscount Grey of&nbsp;Fallodon</a></h3>
          <p class="term">1905 &ndash; 1916</p>
        </div>
      </li>
      <li class="person person-excerpt clear-person">
        <div class="inner">
          <div class="image-holder">
            <a href="/government/history/past-foreign-secretaries/henry-petty-fitzmaurice" class="img"><%= image_tag 'history/past-foreign-secretaries/lord-landsowne.jpg', alt: 'Henry Petty-Fitzmaurice, Marquess of Lansdowne' %></a>
          </div>
          <h3 class="name"><a href="/government/history/past-foreign-secretaries/henry-petty-fitzmaurice">Henry Petty&ndash;Fitzmaurice, Marquess of Lansdowne</a></h3>
          <p class="term">1900 &ndash; 1905</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="/government/history/past-foreign-secretaries/robert-cecil" class="img"><%= image_tag 'history/past-foreign-secretaries/marquess-of-salisbury.jpg', alt: 'Robert Cecil, Marquess of Salisbury' %></a>
          </div>
          <h3 class="name"><a href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil, Marquess of Salisbury</a></h3>
          <p class="term">1878 &ndash; 1880 / 1885 &ndash; 1886<br />
            1887 &ndash; 1892 / 1895 &ndash; 1900</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="/government/history/past-foreign-secretaries/george-gower" class="img"><%= image_tag 'history/past-foreign-secretaries/earl-granville.jpg', alt: 'George Leveson Gower, Earl Granville' %></a>
          </div>
          <h3 class="name"><a href="/government/history/past-foreign-secretaries/george-gower">George Leveson Gower, Earl Granville</a></h3>
          <p class="term">1851 &ndash; 1852 / 1870 &ndash; 1874<br />
            1880 &ndash; 1885</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="/government/history/past-foreign-secretaries/george-gordon" class="img"><%= image_tag 'history/past-foreign-secretaries/lord-aberdeen.jpg', alt: 'George Hamilton Gordon, Earl of Aberdeen' %></a>
          </div>
          <h3 class="name"><a href="/government/history/past-foreign-secretaries/george-gordon">George Hamilton Gordon, Earl of Aberdeen</a></h3>
          <p class="term">1828 &ndash; 1830 / 1841 &ndash; 1846</p>
        </div>
      </li>
      <li class="person person-excerpt clear-person">
        <div class="inner">
          <div class="image-holder">
            <a href="/government/history/past-foreign-secretaries/charles-fox" class="img"><%= image_tag 'history/past-foreign-secretaries/charles-james-fox.jpg', alt: 'Charles James Fox' %></a>
          </div>
          <h3 class="name"><a href="/government/history/past-foreign-secretaries/charles-fox">Charles James Fox</a></h3>
          <p class="term">1782 / 1783 / 1806</p>
        </div>
      </li>
      <li class="person person-excerpt">
        <div class="inner">
          <div class="image-holder">
            <a href="/government/history/past-foreign-secretaries/william-grenville" class="img"><%= image_tag 'history/past-foreign-secretaries/lord-grenville.jpg', alt: 'William Wyndham Grenville, Lord Grenville' %></a>
          </div>
          <h3 class="name"><a href="/government/history/past-foreign-secretaries/william-grenville">William Wyndham Grenville, Lord&nbsp;Grenville</a></h3>
          <p class="term">1791 &ndash; 1801</p>
        </div>
      </li>
    </ol>
  </div>
</div>

<div class="block">
  <div class="inner-block floated-children foreign-secretaries">
    <section>
      <div class="heading">
        <h3>Foreign Secretaries <span>1782 &ndash; present</span></h3>
      </div>
      <ol>
        <li>
          <div class="inner">
            <h4 class="name"><a href="/government/people/william-hague">William Hague</a></h4>
            <p class="term">2010 &ndash; present</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">David Miliband</h4>
            <p class="term">2007 &ndash; 2010</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Margaret Beckett</h4>
            <p class="term">2006 &ndash; 2007</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Jack Straw</h4>
            <p class="term">2001 &ndash; 2006</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Robin Cook</h4>
            <p class="term">1997 &ndash; 2001</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Malcolm Rifkind</h4>
            <p class="term">1995 &ndash; 1997</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Douglas Hurd, Lord Hurd of Westwell</h4>
            <p class="term">1989 &ndash; 1995</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir John Major</h4>
            <p class="term">1989</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Geoffrey Howe, Lord Howe of Aberavon</h4>
            <p class="term">1983 &ndash; 1989</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Francis Pym, Lord Pym of Sandy</h4>
            <p class="term">1982 &ndash; 1983</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord Peter Carrington, Baron Carrington</h4>
            <p class="term">1979 &ndash; 1982</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Dr David Owen, Lord Owen of the City of Plymouth</h4>
            <p class="term">1977 &ndash; 1979</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Anthony Crosland</h4>
            <p class="term">1976 &ndash; 1977</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">James Callaghan, Lord Callaghan of Cardiff</h4>
            <p class="term">1974 &ndash; 1976</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Alec Douglas&ndash;Home, Lord Home of the Hirsel</h4>
            <p class="term">1970 &ndash; 1974</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Michael Stewart, Lord Stewart of Fulham</h4>
            <p class="term">1968 &ndash; 1970</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">George Brown, Lord George&ndash;Brown of Jevington</h4>
            <p class="term">1966 &ndash; 1968</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Michael Stewart, Lord Stewart of Fulham</h4>
            <p class="term">1965 &ndash; 1966</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Patrick Gordon&ndash;Walker, Lord Gordon&ndash;Walker of Leyton</h4>
            <p class="term">1964 &ndash; 1965</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Richard Austen Butler, Lord Butler of Saffron Walden</h4>
            <p class="term">1963 &ndash; 1964</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Alec Douglas&ndash;Home, Lord Home of the Hirsel</h4>
            <p class="term">1960 &ndash; 1963</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">John Selwyn Brooke Lloyd, Lord Selwyn&ndash;Lloyd</h4>
            <p class="term">1955 &ndash; 1960</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Harold Macmillan, Earl of Stockton</h4>
            <p class="term">1955</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Anthony Eden, Earl of Avon</h4>
            <p class="term">1951 &ndash; 1955</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Herbert Morrison, Lord Morrison of Lambeth</h4>
            <p class="term">1951</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Ernest Bevin</h4>
            <p class="term">1945 &ndash; 1951</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Anthony Eden, Earl of Avon</h4>
            <p class="term">1940 &ndash; 1945</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/edward-wood">Edward Frederick Lindley Wood, Viscount Halifax</a></h4>
            <p class="term">1938 &ndash; 1940</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Anthony Eden, Earl of Avon</h4>
            <p class="term">1935 &ndash; 1938</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Sir Samuel Hoare, Viscount Templewood</h4>
            <p class="term">1935</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Sir John Simon, Viscount Simon</h4>
            <p class="term">1931 &ndash; 1935</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Rufus Isaacs, Marquess of Reading</h4>
            <p class="term">1931</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Arthur Henderson</h4>
            <p class="term">1929 &ndash; 1931</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/austen-chamberlain">Sir Austen Chamberlain</a></h4>
            <p class="term">1924 &ndash; 1929</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">James Ramsay MacDonald</h4>
            <p class="term">1924</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name"><a href="past-foreign-secretaries/george-curzon">George Nathaniel Curzon, Marquess of&nbsp;Kedleston</a></h4>
            <p class="term">1919 &ndash; 1924</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Arthur James Balfour, Earl of Balfour</h4>
            <p class="term">1916 &ndash; 1919</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/edward-grey">Sir Edward Grey, Viscount Grey of Fallodon</a></h4>
            <p class="term">1905 &ndash; 1916</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/henry-petty-fitzmaurice">Henry Petty&ndash;Fitzmaurice, Marquess of Lansdowne</a></h4>
            <p class="term">1900 &ndash; 1905</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil, Marquess of Salisbury</a></h4>
            <p class="term">1895 &ndash; 1900</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">John Wodehouse, Earl of Kimberley</h4>
            <p class="term">1894 &ndash; 1895</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Archibald Primrose, Earl of Rosebery</h4>
            <p class="term">1892 &ndash; 1894</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil, Marquess of Salisbury</a></h4>
            <p class="term">1897 &ndash; 1892</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Stafford Northcote, Earl of Iddesleigh</h4>
            <p class="term">1886 &ndash; 1887</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Archibald Primrose, Earl of Rosebery</h4>
            <p class="term">1886</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil, Marquess of Salisbury</a></h4>
            <p class="term">1885 &ndash; 1886</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/george-gower">George Leveson Gower, Earl Granville</a></h4>
            <p class="term">1880 &ndash; 1885</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil, Marquess of Salisbury</a></h4>
            <p class="term">1878 &ndash; 1880</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Lord Edward Stanley, Earl of Derby</h4>
            <p class="term">1874 &ndash; 1878</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/george-gower">George Leveson Gower, Earl Granville</a></h4>
            <p class="term">1870 &ndash; 1874</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">George Villiers, Earl of Clarendon</h4>
            <p class="term">1868 &ndash; 1870</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Lord Edward Stanley, Earl of Derby</h4>
            <p class="term">1866 &ndash; 1868</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">George Villiers, Earl of Clarendon</h4>
            <p class="term">1865 &ndash; 1866</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord John Russell, Earl Russell</h4>
            <p class="term">1859 &ndash; 1865</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">James Harris, Earl of Malmesbury</h4>
            <p class="term">1858 &ndash; 1859</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">George Villiers, Earl of Clarendon</h4>
            <p class="term">1853 &ndash; 1858</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Lord John Russell, Earl Russell</h4>
            <p class="term">1852 &ndash; 1853</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">James Harris, Earl of Malmesbury</h4>
            <p class="term">1852</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/george-gower">George Leveson Gower, Earl Granville</a></h4>
            <p class="term">1851 &ndash; 1852</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Henry John Temple, Viscount Palmerston</h4>
            <p class="term">1846 &ndash; 1851</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/george-gordon">George Hamilton Gordon, Earl of Aberdeen</a></h4>
            <p class="term">1841 &ndash; 1846</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Henry John Temple, Viscount Palmerston</h4>
            <p class="term">1835 &ndash; 1841</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Arthur Wellesley, Duke of Wellington</h4>
            <p class="term">1834 &ndash; 1835</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Henry John Temple, Viscount Palmerston</h4>
            <p class="term">1830 &ndash; 1834</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/george-gordon">George Hamilton Gordon, Earl of Aberdeen</a></h4>
            <p class="term">1828 &ndash; 1830</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">John William Ward, Viscount Dudley and Ward</h4>
            <p class="term">1827 &ndash; 1828</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">George Canning</h4>
            <p class="term">1822 &ndash; 1827</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Robert Stewart, Viscount Castlereagh</h4>
            <p class="term">1812 &ndash; 1822</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Richard Wellesley, Marquess Wellesley</h4>
            <p class="term">1809 &ndash; 1812</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Henry Bathurst, Earl Bathurst</h4>
            <p class="term">1809</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">George Canning</h4>
            <p class="term">1807 &ndash; 1809</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Charles Grey, Lord Howick</h4>
            <p class="term">1806 &ndash; 1807</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/charles-fox">Charles James Fox</a></h4>
            <p class="term">1806</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Henry Phipps, Lord Mulgrave</h4>
            <p class="term">1805 &ndash; 1806</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Dudley Ryder, Lord Harrowby</h4>
            <p class="term">1804</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">Robert Banks Jenkinson, Lord Hawkesbury</h4>
            <p class="term">1801 &ndash; 1804</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/william-grenville">William Wyndham Grenville, Lord&nbsp;Grenville</a></h4>
            <p class="term">1791 &ndash; 1801</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Francis Godolphin Osborne, Marquess of Carmarthen</h4>
            <p class="term">1783 &ndash; 1791</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name">George Nugent Temple Grenville, Earl Temple</h4>
            <p class="term">1783</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/charles-fox">Charles James Fox</a></h4>
            <p class="term">1783</p>
          </div>
        </li>
        <li>
          <div class="inner">
            <h4 class="name">Thomas Robinson, Lord Grantham</h4>
            <p class="term">1782 &ndash; 1783</p>
          </div>
        </li>
        <li class="clear-person">
          <div class="inner">
            <h4 class="name"><a href="/government/history/past-foreign-secretaries/charles-fox">Charles James Fox</a></h4>
            <p class="term">1782</p>
          </div>
        </li>
      </ol>
    </section>
  </div>
</div>

