<%
  show_instantly_live_warning ||= false
  show_consult_gds_warning ||= false
%>

<%= form_for [:admin, person] do |person_form| %>
  <%= person_form.errors %>

  <fieldset>
    <%= person_form.check_box :privy_counsellor, label_text: 'Rt Hon?' %>
    <%= person_form.text_field :title %>
    <%= person_form.text_field :forename %>
    <%= person_form.text_field :surname %>
    <%= person_form.text_field :letters %>
  </fieldset>
  <fieldset class="image">
    <%= person_form.label :image, 'Image' %>
    <% if person.image_url %>
      <%= image_tag person.image_url %>
    <% end %>
    <div class="form-group">
      <%= person_form.file_field :image %>
    </div>
  </fieldset>
  <fieldset>
    <%= person_form.text_area :biography, rows: 20, class: "previewable" %>
  </fieldset>

  <div class="alert alert-info">
    <p>The full biography will show only if a person has been appointed to a <%= link_to "current role", admin_roles_path, class: 'link-inherit' %>.</p>
    <p>A person without a current role will show just the first paragraph.</p>
  </div>

  <p class="warning">
    <% if show_instantly_live_warning %>
      Warning: changes to people appear instantly on the live site.
    <% end %>
    <% if show_consult_gds_warning %>
      Do not create ministerial people without consulting GDS.
    <% end %>
  </p>
  <%= person_form.save_or_cancel cancel: admin_people_path %>
<% end %>
