<% header_title ||= t_display_type(@document) %>
<% page_title @document.title, "Worldwide Priorities" %>

<article class="<%= @document.type.downcase %>">
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render(partial: 'documents/header', locals: { header_title: header_title, document: @document }) %>
    </div>
  </header>

  <%= render(partial: 'navigation', locals: { worldwide_priority: @document }) if show_navigation? %>

  <div class="block-2">
    <div class="inner-block">
      <div class="feeds">
        <%= render partial: "recently_changed_documents", object: @related_editions, locals: { title: "Latest on this priority" } %>
        <%= paginate @related_editions %>
      </div>
    </div>
  </div>
</article>
