<% page_title "Worldwide Priorities" %>
<% page_class "worldwide-priorities-index" %>

<header class="block heading-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: "Worldwide priorities" } %>
  </div>
</header>

<div class="block-2">
  <div class="inner-block">
    <section class="simple-alphabetical-list" id="worldwide_priorities">
      <% @worldwide_priorities.group_by {|ip| ip.title.first.upcase }.sort.in_groups_of(3, false) do |row| %>
        <% row.each do |letter, worldwide_priorities_group| %>
          <div class="alphabetical-row" id="worldwide_priorities_<%= letter.downcase %>">
            <h2 class="alphabetical-list-letter"><%= letter %></h2>
            <ul class="worldwide_priorities">
              <% worldwide_priorities_group.each do |worldwide_priority| %>
                <%= content_tag_for(:li, worldwide_priority) do %>
                  <%= link_to worldwide_priority.title, public_document_path(worldwide_priority), title: "View #{worldwide_priority.title}", class: "title" %>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
