<% header_title ||= t_display_type(@document) %>
<% page_title @document.title, "Worldwide Priorities" %>

<article class="document-page <%= @document.type.downcase %>">
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render(partial: 'documents/header', locals: { header_title: header_title, document: @document }) %>
    </div>
  </header>

  <%= render(partial: 'navigation', locals: { worldwide_priority: @document }) if show_navigation? %>

  <div class="block-3">
    <div class="inner-block">
      <section class="contextual-info policy-parts js-stick-at-top-when-scrolling">
        <h1>Contents</h1>
        <nav role="navigation">
          <% if govspeak_headers(@document.body).any? %>
            <ol id="document_sections">
              <% govspeak_headers(@document.body).each do |header| %>
                <li><%= link_to header.text, public_document_path(@document, anchor: header.id) %></li>
              <% end %>
            </ol>
          <% end %>
        </nav>
      </section>
    </div>
  </div>

  <div class="block-4">
    <div class="inner-block">
      <div class="document body">
        <%= govspeak_to_html @document.body, @document.images %>
      </div>
    </div>
  </div>
</article>
