<article class="document_view">
  <%= render partial: "standard_elements", locals: { document: document } %>

  <p>Publication date: <span class="publication_date"><%= document.publication_date.to_s(:long_ordinal) %></span></p>
  <p>Unique reference: <span class="unique_reference"><%= document.unique_reference %></span></p>
  <p>ISBN: <span class="isbn"><%= document.isbn %></span></p>
  <p>Research? <span class="research"><%= yes_or_no(document.research?) %></span></p>
  <p>Corporate Publication? <span class="corporate_publication"><%= yes_or_no(document.corporate_publication?) %></span></p>
  <p>Order URL: <%= order_link(document) %></p>
  <%= render partial: "authors", locals: { document: document } %>

  <h3>Attachments:</h3>
  <%= render partial: "documents/attachments", locals: { document: document }  %>
</article>
