<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>
    <%= form.hidden_field :statistics_announcement_id %>

    <%= render partial: 'external_fields', locals: { form: form, edition: edition } %>
    <div class="js-external-url-set">
      <%= render partial: 'inline_attachments_info', locals: { form: form, edition: edition } %>
      <%= render partial: 'html_version_fields', locals: { form: form, edition: edition } %>
    </div>

    <fieldset>
      <legend>Associations</legend>
      <%= render partial: 'related_policy_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'topic_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'specialist_sector_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'minister_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'topical_event_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'world_location_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'worldwide_priority_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'statistical_data_set_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'nation_fields', locals: { form: form, edition: edition } %>
    </fieldset>

    <%= render partial: 'first_published_at', locals: { form: form, edition: edition } %>
  <% end %>
<% end %>
