<% page_title @organisation.name %>
<div class="row-fluid organisation-header">
  <div class="span8">
    <h1><%= @organisation.name %></h1>
    <%= link_to "View on website", url_for(@organisation) %>
  </div>
</div>


<div class="row-fluid">
  <div class="span12 organisation-details">
    <section>
      <%= tab_navigation_for(@organisation) do %>
        <div class="row-fluid">
          <%= render 'search_results' %>
        </div>
        <% if @organisation.unused_corporate_information_page_types.any? %>
          <div><%= link_to "New corporate information page", new_polymorphic_path([:admin, @organisation, CorporateInformationPage.new]), class: "btn"%></div>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
