<% page_title @organisation.name %>
<div class="organisation-header">
  <h1><%= @organisation.name %></h1>
  <%= view_on_website_link_for @organisation %>
</div>

<section class="organisation-details">
  <%= tab_navigation_for(@organisation) do %>
    <%= render partial: 'legacy_search_results', locals: { show_export: false } %>
    <% if @organisation.unused_corporate_information_page_types.any? %>
      <div><%= link_to "New corporate information page", new_polymorphic_path([:admin, @organisation, CorporateInformationPage.new]), class: "btn btn-default" %></div>
    <% end %>
  <% end %>
</section>
