<%
  logo_size ||= 'large'
  show_featured_links ||= false
  link_to_organisation ||= false
  languages_available ||= false
%>

<header class="page-header">
  <div class="logo">
    <%= render "govuk_publishing_components/components/title", {
      title: organisation_logo(organisation, linked: link_to_organisation, size: logo_size)
    } %>

    <% if organisation.type.sub_organisation? %>
      <p class="govuk-body parent-organisations">
        <%= t("organisation.support.part_of") %>
        <%=
          organisation.parent_organisations.map { |parent_org|
            link_to parent_org.name, parent_org.public_path, class: "govuk-link"
          }.to_sentence.html_safe
        %>
      </p>
    <% elsif organisation.court_or_hmcts_tribunal? %>
      <p class="govuk-body parent-organisations">
        <%= t("organisation.support.administered_by") %>
        <%=
          organisation.parent_organisations.map { |parent_org|
            link_to parent_org.name, parent_org.public_path, class: "govuk-link"
          }.to_sentence.html_safe
        %>
      </p>
    <% end %>
  </div>

  <%= content_tag_if_not_empty :aside, class: "heading-extra" do %>
    <% if languages_available %>
      <%= render partial: 'shared/available_languages', locals: {object: @organisation} %>
    <% end %>
    <% if show_featured_links %>
      <%= render 'shared/featured_links', links: organisation.visible_featured_links %>
      <% if organisation.has_services_and_information_link? %>
        <p class="govuk-body see-all">
          <%= link_to "All #{organisation_display_name(organisation)} services and information".html_safe,
                      "/government/organisations/#{@organisation.slug}/services-information", class: "govuk-link" %>
        </p>
      <% end %>
    <% end %>
  <% end %>

</header>
