<% page_title "About ", @organisation.name %>
<% page_class "organisations-about organisation-page" %>

<%= organisation_wrapper(@organisation) do %>
  <article id="what-we-do-article">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= render_corporate_info_header_for(@organisation) %>

        <% contents_list_items = [] %>
        <% contents_list_items << { href: "#corporate-info", text: t('organisation.headings.corporate_information') } if has_any_transparency_pages?(@organisation) %>
        <% contents_list_items << { href: "#corporate-reports", text: t('organisation.headings.corporate_reports') } if @corporate_publications.any? %>

        <% if contents_list_items.any? %>
          <%= render "govuk_publishing_components/components/contents_list", {
            contents: contents_list_items,
            underline_links: true,
          } %>
        <% end %>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <%= content_tag :p, class: 'govuk-body homepage-link' do %>
          <%= link_to "#{@organisation.name} homepage", @organisation.public_path, class: "govuk-link" %>
        <% end %>
        <aside class="organisation-top-tasks">
          <%= render partial: 'shared/available_languages', locals: {object: @organisation, linkable: [:about, @organisation]} %>
        </aside>
        <% if has_any_transparency_pages?(@organisation) %>
          <%= render partial: "corporate_information",
                     locals: { organisation: @organisation, show_access_our_information_header: true } %>
        <% end %>
        <% if @corporate_publications.any? %>
          <section class="corporate-publications" id="corporate-reports">
            <h2 class="govuk-heading-l"><%= t('organisation.headings.corporate_reports') %></h2>
            <ul class="govuk-list">
              <% @corporate_publications.each do |publication| %>
                <%= content_tag_for :li, publication, class: 'item' do %>
                  <h3 class="title"><%= link_to publication.title, publication.public_path, class: "govuk-link" %></h3>
                  <span class="metadata">
                    <%= absolute_date(publication.public_timestamp) %>
                  </span>
                <% end %>
              <% end %>
            </ul>
          </section>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
