<% page_title @corporate_information_page.title, @organisation.name %>
<% page_class "corporate-information-pages-show organisation-page" %>

<%= organisation_wrapper(@organisation) do %>
  <article>
    <div class="block-1">
      <div class="inner-block">
        <%= render_corporate_info_header_for(@organisation, @corporate_information_page) %>
        <%= render 'shared/govspeak_header_contents', markdown: @corporate_information_page.body %>
      </div>
    </div>
    <div class="block-2">
      <div class="inner-block">
        <%= content_tag :p, class: 'homepage-link' do %>
          <%= link_to "#{@organisation.name} homepage", organisation_path(@organisation) %>
        <% end %>
        <aside class="organisation-mainstream-links">
          <%= render partial: 'shared/available_languages', locals: {object: @corporate_information_page } %>
        </aside>
        <h1 class="main"><%= @corporate_information_page.title %></h1>
        <p class="description">
          <%= @corporate_information_page.summary %>
        </p>
        <div class="body">
          <%= govspeak_edition_to_html @corporate_information_page %>
        </div>
      </div>
    </div>
  </article>
<% end %>
