<% page_title @corporate_information_page.title, @organisation.name %>
<% page_class "corporate-information-pages-show organisation-page" %>

<%= organisation_wrapper(@organisation) do %>
  <article>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= render_corporate_info_header_for(@organisation, @corporate_information_page) %>

        <% headers = govspeak_headers(@corporate_information_page.body) %>
        <% if headers.any? %>
          <%= render "govuk_publishing_components/components/contents_list", {
            contents: headers.map { |h| {text: h.text, href:"##{h.id}"} },
            underline_links: true,
          } %>
        <% end %>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <%= render 'shared/available_languages', object: @corporate_information_page %>
        <%= content_tag :p, class: 'govuk-body homepage-link' do %>
          <%= link_to "#{@organisation.name} homepage", @organisation.public_path(locale: I18n.default_locale), class: "govuk-link" %>
        <% end %>
        <%= render "govuk_publishing_components/components/title", {
          title: @corporate_information_page.title,
        } %>
        <p class="govuk-body description">
          <%= @corporate_information_page.summary %>
        </p>
        <div class="body">
          <%= govspeak_edition_to_html @corporate_information_page %>
        </div>
      </div>
    </div>
  </article>
<% end %>
