<%= form_for [:admin, policy_area] do |policy_area_form| %>
  <%= policy_area_form.errors %>

  <fieldset>
    <%= policy_area_form.text_field :name %>
    <%= policy_area_form.text_area :description %>
  </fieldset>

  <fieldset>
    <%= policy_area_form.label :related_policy_area_ids, "Related policy areas" %>
    <%= policy_area_form.select :related_policy_area_ids, options_from_collection_for_select(PolicyArea.all - [policy_area], 'id', 'name', policy_area.related_policy_area_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose related policy areas..."} %>
  </fieldset>

  <fieldset id="policy_order" class="named sortable">
    <legend>Policy ordering</legend>
    <%= policy_area_form.fields_for :document_policy_areas, policy_area.document_policy_areas.for_type(Policy).published do |document_policy_area_form| %>
      <% policy = document_policy_area_form.object.policy %>
      <div id="<%= dom_id(policy) %>">
        <%= document_policy_area_form.text_field :ordering, label_text: link_to(policy.title, admin_document_path(policy)), class: "ordering" %>
        <p>
          <%= [pluralize(Publication.published.related_to(policy).count, "publication"),
               pluralize(NewsArticle.published.related_to(policy).count, "news article")].to_sentence %>
        </p>
        <%= document_policy_area_form.check_box :featured, label_text: "Featured?" %>
      </div>
    <% end %>
  </fieldset>

  <%= policy_area_form.save_or_cancel cancel: admin_policy_areas_path %>
<% end %>
