<section class="resource_list">
  <div class="collection">

    <nav class="actions">
      <%= link_to "Create Policy Area", new_admin_policy_area_path, class: "button new_resource", title: "Create a Policy Area" %>
    </nav>

    <h1>Policy Areas</h1>

    <table class="policy_areas">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Details</th>
          <th>Featured</th>
        </tr>
      </thead>
      <tbody>
        <% @policy_areas.each do |policy_area| %>
          <%= content_tag_for(:tr, policy_area, class: policy_area_css_classes(policy_area)) do %>
            <td class="name"><%= link_to policy_area.name, edit_admin_policy_area_path(policy_area), title: "Edit policy area #{policy_area.name}" %></td>
            <td class="description"><%= policy_area.description %></td>
            <td class="details">
              <%= policy_area.document_breakdown.map { |key, count|
                pluralize count, key
               }.to_sentence %>
            </td>
            <td class="actions">
              <% if policy_area.featured? %>
                <%= button_to 'No Longer Feature', unfeature_admin_policy_area_path(policy_area), method: :post %>
              <% else %>
                <%= button_to 'Feature Policy Area', feature_admin_policy_area_path(policy_area), method: :post %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>