<% page_title "Statistical data sets" %>
<% page_class "statistical-data-sets-list" %>

<header class="block heading-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: "Statistical data sets" } %>
  </div>
</header>

<div class="block-1">
  <div class="inner-block">
    <section class="simple-alphabetical-list">
      <% @alphabetically_grouped_data_sets.each do |letter, data_set_group| %>
        <div class="alphabetical-row" id="statistical_data_set_<%= letter.downcase %>">
          <h2 class="alphabetical-list-letter"><%= letter %></h2>
          <ul>
          <% data_set_group.each do |data_set| %>
            <%= content_tag_for :li, data_set do %>
              <%= data_set.link %>
            <% end %>
          <% end %>
          </ul>
        </div>
      <% end %>
    </section>
  </div>
</div>
