<% page_title @document.title, "Statistical data sets" %>
<% page_class "statistical-data-set" %>
<%= analytics_for_organisations @document.organisations %>

<div class="document-page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <%= render  partial: 'header',
                  locals: {
                    header_title: "Statistical data set",
                    document: @document,
                    policies: @related_policies
                  } %>
      <%= render partial: "document_summary", locals: { document: @document } %>
    </div>
  </div>
  <div class="block-2 ">
    <div class="inner-block">
      <div class="contextual-info js-stick-at-top-when-scrolling">
        <nav>
          <h1>Contents</h1>
          <ol>
            <% govspeak_headers(@document.body).each do |header| %>
              <li><%= link_to header.text, "##{header.id}" %></li>
            <% end %>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <div class="document body">
        <%= govspeak_edition_to_html @document %>
      </div>
    </div>
  </div>
</div>


