<% page_title @document.title, "Statistical data sets" %>
<% page_class "statistical-data-set" %>

<div class="document-page <%= @document.type.downcase %>">
  <header class="block heading-block">
    <div class="inner-block floated-children">
      <%= render  partial: 'header',
                  locals: {
                    header_title: "Statistical data set",
                    document: @document,
                    policies: @related_policies
                  } %>
      <%= render partial: "document_summary", locals: { document: @document } %>
    </div>
  </header>

  <div class="block-2 ">
    <div class="inner-block">
      <% if govspeak_headers(@document.body).any? %>
        <div class="contextual-info js-stick-at-top-when-scrolling">
          <nav>
            <h1>Contents</h1>
            <ol>
              <% govspeak_headers(@document.body).each do |header| %>
                <li><%= link_to header.text, "##{header.id}" %></li>
              <% end %>
            </ol>
          </nav>
        </div>
      <% end %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <div class="document body">
        <%= govspeak_edition_to_html @document %>
      </div>
    </div>
  </div>
</div>


