<% content_for :page_title, "#{@organisation.name}" %>
<% content_for :title, @organisation.name %>
<% content_for :context, current_user.organisation == @organisation ? "My organisation" : "Organisation" %>
<% content_for :title_margin_bottom, 4 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      <%= view_on_website_link_for @organisation, class: "govuk-link" %>
    </p>

    <%= render "components/secondary_navigation", {
      aria_label: "Organisation navigation tabs",
      items: secondary_navigation_tabs_items(@organisation, request.path)
    } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if @organisation.non_english_translated_locales.present? %>
      <div class="govuk-table--with-actions">
        <%= render "govuk_publishing_components/components/table", {
          head: [
            {
              text: "Locale"
            },
            {
              text: tag.span("Actions", class: "govuk-visually-hidden"),
            }
          ],
          rows: @organisation.non_english_translated_locales.map do |locale|
            [
              {
                text: locale.native_and_english_language_name
              },
              {
                text: link_to(sanitize("View #{tag.span(locale.native_and_english_language_name, class: 'govuk-visually-hidden')}"), @organisation.public_url(draft: true, locale: locale.code), class: "govuk-link") +
                  link_to(sanitize("Edit #{tag.span(locale.native_and_english_language_name, class: 'govuk-visually-hidden')}"), edit_admin_organisation_translation_path(@organisation, locale.code), class: "govuk-link govuk-!-margin-left-2") +
                  link_to(sanitize("Delete #{tag.span(locale.native_and_english_language_name, class: 'govuk-visually-hidden')}"), confirm_destroy_admin_organisation_translation_path(@organisation, locale.code), class: "govuk-link gem-link--destructive govuk-!-margin-left-2")
              }
            ]
          end
        } %>
      </div>
    <% else %>
      <%= render "govuk_publishing_components/components/inset_text", {
        text: "No translations."
      } %>
    <% end %>

    <% if @organisation.missing_translations.any? %>
      <%= form_with url: admin_organisation_translations_path(@organisation) do %>
        <%= render "govuk_publishing_components/components/select", {
          id: "translation_locale",
          name: "translation_locale",
          label: "Locale",
          heading_size: "l",
          options: @organisation.missing_translations.map do |locale|
            {
              value: locale.code,
              text: Locale.coerce(locale).native_and_english_language_name,
            }
          end
        } %>

        <%= render "govuk_publishing_components/components/button", {
          text: "Create new translation",
          data_attributes: {
            module: "gem-track-click",
            "track-category": "form-button",
            "track-action": "organisations-translations-button",
            "track-label": "Create new translation"
          }
        } %>
      <% end %>
    <% end %>
  </div>
</div>
