<% page_title @organisation.name %>
<div class="organisation-header">
  <h1><%= @organisation.name %></h1>
  <%= link_to "View on website", organisation_path(@organisation) %>
</div>
<section class="organisation-details">
  <%= tab_navigation_for(@organisation) do %>
    <h2 class="add-bottom-margin">Governance groups</h2>
    <%= link_to "Add Governance group", new_admin_organisation_group_path(@organisation), class: "btn btn-default add-bottom-margin" %>
    <% if @organisation.groups.any? %>
      <table class="groups table table-bordered table-striped">
        <thead>
          <tr class="table-header">
            <th width="15%">Name</th>
            <th width="70%">Members</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @organisation.groups.each do |group| %>
            <%= content_tag_for(:tr, group) do %>
              <td class="name"><%= link_to group.name, edit_admin_organisation_group_path(@organisation, group), title: "Edit group #{group.name}" %></td>
              <td class="members"><%= group.members.map { |p| link_to p.name, edit_admin_person_path(p) }.to_sentence.html_safe %></td>
              <td class="delete">
                <% if group.destroyable? %>
                  <%= button_to 'Delete',
                        admin_organisation_group_path(@organisation, group),
                        method: :delete,
                        class: 'btn btn-danger',
                        data: { confirm: "Are you sure you wish to remove this group?" } %>
                <% else %>
                  <span>Cannot delete</span>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No groups exist yet.</p>
    <% end %>
  <% end %>
</section>
