<%= form_for [:admin, policy_topic] do |policy_topic_form| %>
  <%= policy_topic_form.errors %>

  <fieldset>
    <%= policy_topic_form.text_field :name %>
    <%= policy_topic_form.text_area :description %>
  </fieldset>

  <fieldset>
    <%= policy_topic_form.label :related_policy_topic_ids, "Related policy topics" %>
    <%= policy_topic_form.select :related_policy_topic_ids, options_from_collection_for_select(PolicyTopic.all - [policy_topic], 'id', 'name', policy_topic.related_policy_topic_ids), {}, multiple: true, class: 'chzn-select', data: { placeholder: "Choose related policy topics..."} %>
  </fieldset>

  <fieldset id="policy_order" class="named sortable">
    <legend>Policy ordering</legend>
    <%= policy_topic_form.fields_for :policy_topic_memberships, policy_topic.policy_topic_memberships.for_type(Policy).published do |policy_topic_membership_form| %>
      <% policy = policy_topic_membership_form.object.policy %>
      <div id="<%= dom_id(policy) %>">
        <%= policy_topic_membership_form.text_field :ordering, label_text: link_to(policy.title, admin_edition_path(policy)), class: "ordering" %>
        <p>
          <%= [pluralize(Publication.published.related_to(policy).count, "publication"),
               pluralize(NewsArticle.published.related_to(policy).count, "news article")].to_sentence %>
        </p>
        <%= policy_topic_membership_form.check_box :featured, label_text: "Featured?" %>
      </div>
    <% end %>
  </fieldset>

  <%= policy_topic_form.save_or_cancel cancel: admin_policy_topics_path %>
<% end %>
