<% page_title 'Edit legacy URL redirects' %>

<span class="back">
  <%= link_to 'Back', admin_edition_path(@edition) %>
</span>

<h1>Edit legacy URL redirects</h1>

<div class="row">
  <div class="col-md-8">
    <%= form_tag admin_edition_document_sources_path(@edition), method: :patch do %>
      <p>Enter one URL per line.</p>
      <div class="form-group">
        <%= text_area_tag :document_sources, @edition.document.document_sources.map(&:url).join("\n"), rows: 20, class: 'form-control add-bottom-margin' %>
        <%= submit_tag "Save", class: "btn btn-success" %> <%= link_to 'Cancel', [:admin, @edition], class: 'btn btn-default add-left-margin' %>
      </div>
    <% end %>
  </div>
</div>
