<% content_for :page_title, "Edit legacy URL redirects" %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @edition.title %></span>
    <%= form_tag admin_edition_document_sources_path(@edition), method: :patch do %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          is_page_heading: true,
          heading_size: "xl",
          text: "Edit legacy URL redirects"
        },
        hint: "Enter one URL per line.",
        name: "document_sources",
        id: "document_sources",
        value: @edition.document.document_sources.map(&:url).join("\n"),
        rows: 20
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
          margin_bottom: 8
        } %>

        <%= link_to("Cancel", [:admin, @edition], class: "govuk-link") %>
      </div>
    <% end %>
  </div>
</div>
