<% page_title "Edit " + @user.name, "Users" %>
<section class="user">
  <h1>Edit settings</h1>
  <%= form_for @user, as: :user, url: admin_user_path(@user), html: { method: :put } do |form| %>
    <%= form.errors %>

    <% if @user.editable_by?(current_user) %>
      <%= form.label :world_location_ids, "Select the world locations" %>
      <%= form.select :world_location_ids,
                      options_from_collection_for_select(WorldLocation.ordered_by_name, 'id', 'name', form.object.world_location_ids),
                      { include_blank: true },
                      multiple: true,
                      class: 'chzn-select',
                      data: { placeholder: "World locations..."} %>


    <% end %>

    <%= form.save_or_cancel cancel: admin_user_path(@user) %>
  <% end %>
</section>
