<% page_title "Users" %>
<h1>Users</h1>

<table class="table table-striped table-bordered add-top-margin">
  <thead>
    <tr class="table-header">
      <th width="40%">Name</th>
      <th width="20%">Role</th>
      <th width="40%">Organisation</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <%= content_tag_for(:tr, user) do %>
        <td class="name">
          <%= link_to user.name, admin_user_path(user), title: "View #{user.name}" %><br>
          <%= mail_to user.email %>
        </td>
        <td class="role">
          <%= user.role %>
        </td>
        <td class="Organisation">
          <%= user.organisation_name %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
