<% page_title @user.name, "Users" %>
<section class="user">
  <nav class="actions">
    <%= link_to "Edit", edit_admin_user_path, title: "Edit Settings", class: "button" %>
  </nav>
  <div class="settings">
    <h1>Settings</h1>

    <h2>Name</h2>
    <p class="name"><%= @user.name %></p>

    <h2>Role</h2>
    <p class="role"><%= @user.role %></p>

    <h2>Organisation</h2>
    <p class="organisation"><%= @user.organisation_name %></p>

    <h2>Email Address</h2>
    <p class="email"><%= @user.email %></p>
  </div>
</section>