<% content_for :context, @worldwide_office.title %>
<% content_for :page_title, "Delete #{@translation_locale.native_and_english_language_name} translation" %>
<% content_for :title, "Delete translation" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= form_with url: admin_worldwide_organisation_worldwide_office_translation_path(@worldwide_organisation, @worldwide_office, @translation_locale), method: :delete do %>
      <p class="govuk-body govuk-!-margin-bottom-7">
        Are you sure you want to delete the "<%= @translation_locale.native_and_english_language_name %>" translation for "<%= @worldwide_office.title %>"?
      </p>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Delete",
          destructive: true,
          data_attributes: {
            module: "gem-track-click",
            "track-category": "form-button",
            "track-action": "worldwide-office-translations-button",
            "track-label": "Delete"
          }
        } %>
        <%= link_to("Cancel", admin_worldwide_organisation_worldwide_offices_path(@worldwide_organisation), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </section>
</div>
