<% page_title "Edit translation for: #{@edition.title}" %>

<h1>Edit '<%= @translation_locale.native_language_name %> (<%= @translation_locale.english_language_name %>)' translation for: <%= @edition.title %></h1>

<div class="row-fluid">
  <div class="span8">
    <section>
      <%= form_for @translated_edition, as: :edition, url: admin_edition_translation_path(@translated_edition), method: :put do |form| %>
        <%= form.errors %>

        <%= form.text_field :title %>
        <p class="original-translation">
          English:
          <span class="english-title"><%= @english_edition.title %></span>
        </p>

        <%= form.text_area :summary, rows: 2, cols: 40 %>
        <p class="original-translation">
          English:
          <span class="english-summary"><%= @english_edition.summary %></span>
        </p>

        <%= form.text_area :body %>
        <p class="original-translation">
          English:
          <span class="english-body"><%= @english_edition.body %></span>
        </p>

        <%= form.save_or_cancel %>
      <% end %>
    </section>
  </div>
</div>
