<% content_for :context, @edition.title %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @edition, parent_class: "edition")) %>
<% content_for :page_title, "Edit translation for: #{@edition.title}" %>
<% content_for :title, "#{@translation_locale.native_language_name} (#{@translation_locale.english_language_name}) translation" %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= form_for @translated_edition, as: :edition, url: admin_edition_translation_path(@translated_edition, translation_locale), method: :put do |form| %>

      <% unless @edition.is_a?(CorporateInformationPage) %>
        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: "Translated title (required)",
          },
          name: "edition[title]",
          id: "edition_title",
          heading_level: 2,
          heading_size: "l",
          value: @translated_edition.title,
          error_items: errors_for(form.object.errors, :title),
        } %>

        <h3 class="app-view-edition-translation__english-content govuk-heading-m govuk-!-margin-bottom-2">English title content:</h3>
        <p class="app-view-edition-translation__english-content govuk-body govuk-!-margin-bottom-8"><%= @edition.title %></p>
      <% end %>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          heading_size: "l",
          text: "Translated summary#{' (required)' unless @edition.is_a?(CorporateInformationPage)}",
        },
        name: "edition[summary]",
        id: "edition_summary",
        value: @translated_edition.summary,
        rows: 2,
        error_items: errors_for(form.object.errors, :summary),
      } %>

      <h3 class="app-view-edition-translation__english-content govuk-heading-m govuk-!-margin-bottom-2">English summary content:</h3>
      <p class="app-view-edition-translation__english-content govuk-body govuk-!-margin-bottom-8"><%= @edition.summary %></p>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          heading_size: "l",
          text: "Translated body (required)",
        },
        name: "edition[body]",
        id: "edition_body",
        value: @translated_edition.body,
        rows: 20,
        error_items: errors_for(form.object.errors, :body),
      } %>

      <h3 class="app-view-edition-translation__english-content govuk-heading-m govuk-!-margin-bottom-2">English body content:</h3>
      <p class="app-view-edition-translation__english-content govuk-body govuk-!-margin-bottom-8"><%= @edition.body %></p>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save"
        } %>

        <%= link_to("Cancel", admin_cancel_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </section>

  <section class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/tabs", {
      tabs: [
        {
          id: "govspeak_tab",
          label: "Help",
          content: simple_formatting_sidebar(
            hide_inline_attachments_help: !@edition.allows_inline_attachments?,
            show_attachments_tab_help: true,
          )
        },
        {
          id: "history_tab",
          label: "History",
          content: render(Admin::Editions::DocumentHistoryTabComponent.new(edition: @edition, document_history: @document_history, editing: true))
        },
        *([{
          id: "fact_checking_tab",
          label: "Fact checking",
          content: ""
        }] if @edition.can_be_fact_checked?)
      ]
    } %>
  </section>
</div>
