<% page_title "Edit translation for: #{@edition.title}" %>

<h1>Edit '<%= @translation_locale.native_language_name %> (<%= @translation_locale.english_language_name %>)' translation for: <%= @edition.title %></h1>

<div class="row-fluid">
  <div class="span8">
    <section>
      <%= form_for @translated_edition, as: :edition, url: admin_edition_translation_path(@translated_edition), method: :put do |form| %>
        <%= form.errors %>

        <%= form.text_field :title %>
        <%= form.text_area :summary, rows: 2, cols: 40 %>
        <%= form.text_area :body %>

        <%= form.save_or_cancel %>
      <% end %>
    </section>
  </div>
</div>
