<% page_title "Edit translation for: #{@edition.title}" %>

<h1>Edit ‘<%= @translation_locale.native_language_name %> (<%= @translation_locale.english_language_name %>)’ translation for: <%= @edition.title %></h1>

<div class="row">
  <div class="col-md-8">
    <section>
      <%= form_for @translated_edition, as: :edition, url: admin_edition_translation_path(@translated_edition, translation_locale), method: :put do |form| %>
        <%= form.errors %>

        <%= form.translated_text_field :title unless @translated_edition.is_a? CorporateInformationPage %>
        <%= form.translated_text_area :summary, rows: 2, cols: 40 %>
        <%= form.translated_text_area :body, rows: 20 %>

        <%= form.save_or_cancel %>
      <% end %>
    </section>
  </div>
</div>
