<% content_for :context, @edition.title %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @edition, parent_class: "edition")) %>
<% content_for :page_title, "Edit translation for: #{@edition.title}" %>
<% content_for :title, "#{@translation_locale.native_language_name} (#{@translation_locale.english_language_name}) translation" %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= form_for @translated_edition, as: :edition, url: admin_edition_translation_path(@translated_edition, translation_locale), method: :put do |form| %>

      <% unless @edition.is_a?(CorporateInformationPage) %>
        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: "Translated title (required)",
          },
          name: "edition[title]",
          id: "edition_title",
          heading_level: 2,
          heading_size: "l",
          value: @translated_edition.title,
          error_items: errors_for(form.object.errors, :title),
        } %>

        <h3 class="edit_edition__english-content govuk-heading-m govuk-!-margin-bottom-2">English title content:</h3>
        <p class="edit_edition__english-content govuk-body govuk-!-margin-bottom-8"><%= @edition.title %></p>
      <% end %>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          heading_size: "l",
          text: "Translated summary#{' (required)' unless @edition.is_a?(CorporateInformationPage)}",
        },
        name: "edition[summary]",
        id: "edition_summary",
        value: @translated_edition.summary,
        rows: 2,
        error_items: errors_for(form.object.errors, :summary),
      } %>

      <h3 class="edit_edition__english-content govuk-heading-m govuk-!-margin-bottom-2">English summary content:</h3>
      <p class="edit_edition__english-content govuk-body govuk-!-margin-bottom-8"><%= @edition.summary %></p>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          heading_size: "l",
          text: "Translated body (required)",
        },
        name: "edition[body]",
        id: "edition_body",
        value: @translated_edition.body,
        rows: 20,
        error_items: errors_for(form.object.errors, :body),
      } %>

      <h3 class="edit_edition__english-content govuk-heading-m govuk-!-margin-bottom-2">English body content:</h3>
      <p class="edit_edition__english-content govuk-body govuk-!-margin-bottom-8"><%= @edition.body %></p>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save"
        } %>

        <%= link_to("Cancel", admin_cancel_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </section>

  <%= sidebar_tabs edition_tabs(
    @edition,
    remarks_count: @document_remarks.total_count,
    history_count: @document_history.total_count,
    editing: true,
  ) do |tabs| %>

    <%= tabs.pane class: "govspeak_help", id: "govspeak_help" do %>
      <%= render partial: "admin/editions/govspeak_help",
                 locals: { hide_inline_attachments_help: !@edition.allows_inline_attachments?, show_attachments_tab_help: true } %>
    <% end %>

    <%= tabs.pane class: "audit-trail", id: "notes" do %>
      <h1>Notes</h1>
      <p>To add a remark, save your changes.</p>
      <%= link_to "Add new remark", new_admin_edition_editorial_remark_path(@edition), class: "btn btn-default add-remark" %>
      <%= paginate @document_remarks.query, theme: 'remarks', param_name: 'remarks_page' %>
      <%= render_editorial_remarks(@document_remarks, @edition) %>
      <%= paginate @document_remarks.query, theme: 'remarks', param_name: 'remarks_page' %>
    <% end %>

    <%= tabs.pane class: "audit-trail", id: "history" do %>
      <div class="audit-trail-page">
        <h1>Activity</h1>
        <%= paginate @document_history.query, theme: 'audit_trail' %>
        <ul class="list-unstyled">
          <%= render partial: "admin/editions/audit_trail_entry", collection: @document_history.audit_trail %>
        </ul>
        <%= paginate @document_history.query, theme: 'audit_trail' %>
      </div>
    <% end %>
      <% if @edition.can_be_fact_checked? %>
        <%= tabs.pane class: "fact_checking", id: "fact_checking" do %>
          <h1>Fact checking</h1>
          <%= render partial: 'admin/editions/fact_check_responses', locals: {edition: @edition}  %>
          <p>To send a fact check request, save your changes.</p>
        <% end %>
      <% end %>
  <% end %>
</div>
