<% content_for :page_title, "Add translation" %>

<%= render "govuk_publishing_components/components/back_link", {
  href: admin_edition_path(@edition)
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      context: @edition.title,
      title: "Add translation"
    } %>

    <%= form_with url: admin_edition_translations_path(@edition.id) do |form| %>
      <%= render "govuk_publishing_components/components/select", {
        id: "translation_locale",
        label: "Choose language",
        full_width: true,
        options: options_for_locales(@edition.missing_translations).map do |language, value|
          {
            text: language,
            value: value,
          }
        end
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Next"
      } %>
    <% end %>
  </div>
</div>
