<% content_for :page_title, "Set main office for #{@worldwide_organisation.name}" %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @worldwide_organisation)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @worldwide_organisation, url: set_main_office_admin_worldwide_organisation_path(@worldwide_organisation), method: :put do |form| %>
      <% if @worldwide_organisation.offices.count <= 5 %>
        <%= render "govuk_publishing_components/components/radio", {
          name: "worldwide_organisation[main_office_id]",
          id: "worldwide_organisation_main_office_id",
          heading: "Set main office",
          heading_caption: @worldwide_organisation.name,
          heading_level: 1,
          items: @worldwide_organisation.offices.sort_by(&:title).map do |office|
            {
              value: office.id,
              text: office.title,
              checked: office == @worldwide_organisation.main_office
            }
          end
        } %>
      <% else %>
        <div class="app-view-worldwide-organisations-choose-main-office__select govuk-!-margin-bottom-8">
          <span class="govuk-caption-xl"><%= @worldwide_organisation.name %></span>

          <%= render "govuk_publishing_components/components/select", {
            name: "worldwide_organisation[main_office_id]",
            id: "worldwide_organisation_main_office_id",
            label: "Set main office",
            full_width: true,
            heading_size: "xl",
            is_page_heading: true,
            options: @worldwide_organisation.offices.sort_by(&:title).map do |office|
              {
                value: office.id,
                text: office.title,
                selected: office == @worldwide_organisation.main_office
              }
            end
          } %>
        </div>
      <% end %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
          data_attributes: {
            module: "gem-track-click",
            "track-category": "form-button",
            "track-action": "worldwide-organisation-set-main-office-button",
            "track-label": "Save"
          }
        } %>

        <%= link_to "Cancel", admin_worldwide_organisation_worldwide_offices_path(@worldwide_organisation), class:"govuk-link govuk-link--no-visited-state" %>
      </div>
    <% end %>
  </div>
</div>
