<% page_title "Worldwide organisation" %>

<nav class="actions">
  <%= link_to "Create worldwide organisation", new_admin_worldwide_organisation_path, class: "btn new_resource", title: "Create a worldwide office" %>
</nav>

<h1>Worldwide organisations</h1>

<table class="worldwide_organisation table table-striped">
  <thead>
    <tr>
      <th width="40%">Name</th>
      <th width="15%">Translations</th>
      <th width="20%">Location(s)</th>
      <th width="15%">Sponsor(s)</th>
    </tr>
  </thead>
  <tbody>
    <% if @worldwide_organisations.any? %>
      <% @worldwide_organisations.each do |worldwide_organisation| %>
        <%= content_tag_for(:tr, worldwide_organisation) do %>
          <td class="name">
            <%= link_to worldwide_organisation.name, admin_worldwide_organisation_path(worldwide_organisation), title: "View #{worldwide_organisation.name}" %>
          </td>
          <td>
              <% if worldwide_organisation.non_english_translated_locales.any? %>
                <%= worldwide_organisation.non_english_translated_locales.map do |locale|
                  link_to("#{locale.english_language_name} (#{locale.native_language_name})", edit_admin_worldwide_organisation_translation_path(worldwide_organisation, locale.code))
                end.to_sentence.html_safe %>
              <% else %>
                none
              <% end %>
          </td>
          <td><%= worldwide_organisation.world_locations.map {|l| link_to(l.name, [:admin, l])}.to_sentence.html_safe %></td>
          <td><%= worldwide_organisation.sponsoring_organisations.map {|o| link_to(o.acronym, [:admin, o])}.to_sentence.html_safe %></td>
        <% end %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3">No worldwide organisations have been created.</td>
      </tr>
    <% end %>
  </tbody>
</table>
