<% page_title @worldwide_organisation.name %>
<div class="row-fluid organisation-header">
  <div class="span8">
    <h1><%= @worldwide_organisation.name %></h1>
    <%= link_to "View on website", url_for(@worldwide_organisation) %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 organisation-details">
    <section>
      <%= worldwide_organisation_tab_navigation do %>
        <%= render partial: "admin/social_media_accounts/social_media_account_list", locals: {socialable: @worldwide_organisation} %>
      <% end %>

      <div class="form-actions">
        <%= link_to "Add", new_admin_social_media_account_path(socialable_type: @worldwide_organisation.class.name, socialable_id: @worldwide_organisation), class: "btn btn-large btn-primary"%>
      </div>

    </section>
  </div>
</div>
