<fieldset id="<%= parent_type %>_attachment_fields" class="attachments multiple_file_uploads tabbable">
  <legend><%= defined?(legend) ? legend : "Attachments" %></legend>

  <% i = 0 %>
  <%= form.fields_for :attachments do |attachment_fields| %>
    <% if attachment_fields.object.new_record? %>
      <div class="file_upload well">
        <h3>New attachment</h3>
        <%= attachment_fields.text_field :title, required: false %>

        <% if edition.allows_attachment_references? %>
          <%= render 'admin/attachments/reference_fields', edition: edition, form: attachment_fields %>
        <% end %>

        <%= attachment_fields.fields_for :attachment_data do |attachment_data_fields| %>
          <%= attachment_data_fields.label :file, nil, required: false %>
          <%= attachment_data_fields.file_field :file %>

          <%= attachment_fields.check_box :accessible, label_text: "Attachment is accessible" %>
          <% if attachment_data_fields.object.file_cache.present? %>
            <span class="already_uploaded"><%= File.basename(attachment_data_fields.object.file_cache) %> already uploaded</span>
          <% end %>
          <%= attachment_data_fields.hidden_field :file_cache %>
        <% end %>
      </div>
    <% else %>
      <div class="well" id="attachment_<%= attachment_fields.object.id %>">
        <%= attachment_fields.text_field :title %>
        <% if edition.allows_attachment_references? %>
          <%= render 'admin/attachments/reference_fields', edition: edition, form: attachment_fields %>
        <% end %>
        <%= attachment_fields.check_box :accessible, label_text: "Attachment is accessible" %>

        <div class="attachment">
          <p>Current data: <%= link_to_attachment(attachment_fields.object) %></p>
          <p>Actions: <%= attachment_action_fields(attachment_fields) %></p>
          <%= replacement_attachment_data_fields(attachment_fields) %>
        </div>
        <% if edition.allows_inline_attachments? %>
          <p>Markdown to use:</p>
          <input type="text" readonly="readonly" name="markdown" value="!@<%= i += 1 %>" />
          <p>or</p>
          <input type="text" readonly="readonly" name="markdown_inline" value="[InlineAttachment:<%= i %>]" />
        <% end %>
      </div>
    <% end %>
  <% end %>
</fieldset>
