<fieldset class="named top-tasks form-horizontal js-duplicate-fields">
  <legend>Top tasks</legend>
  <p class="alert alert-info">Only the first <%= TopTask::DEFAULT_INITIAL_SET_SIZE %> top tasks will be shown on the public site.</p>

  <%= form.fields_for(:top_tasks, form.object.top_tasks.sort_by { |ml| ml.created_at || Time.current }) do |top_task_form| %>
    <div class="js-duplicate-fields-set well">
      <%= top_task_form.text_field :title, horizontal: true %>
      <%= top_task_form.text_field :url, horizontal: true %>
      <%= top_task_form.hidden_field :_destroy, class: 'js-hidden-destroy' %>
    </div>
  <% end %>
</fieldset>
