<div id="<%= id %>" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Add translation</h3>
      </div>
      <%= form_tag(form_path) do %>
        <div class="modal-body">
          <div class="form-group">
            <%= label_tag :translation_locale, "Locale" %>
            <%= select_locale :translation_locale, locales, class: "form-control input-md-4" %>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default add-right-margin" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <%= submit_tag "Add translation", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
