<div data-module="broken-links-report">
  <% if report.new_record? %>
    <%= render "components/inset_prompt", {
      description: capture do %>
        <p class="govuk-body">Check this document for broken links. The report will take a few moments to complete.</p>
        <%= render partial: 'admin/link_check_reports/form', locals: {
          reportable: report.link_reportable,
          button_text: 'Check for broken links',
          secondary_quiet: true
        } %>
      <% end
    } %>
  <% elsif report.in_progress? %>
    <%= render "components/inset_prompt", {
      description: capture do %>
        <p class="govuk-body">Broken link report in progress.</p>
        <p class="govuk-body">
          <%= link_to "Check progress",
            admin_edition_link_check_report_path(report.link_reportable, report),
            class: 'govuk-link js-broken-links-refresh' %>
        </p>
      <% end
    } %>
  <% elsif report.broken_links.any? || report.caution_links.any? %>
    <%= render "components/inset_prompt", {
      title: t("broken_links.title"),
      description: capture do %>
        <% report.links.sort_by(&:status).group_by(&:status).each do |status, links| %>
          <% next unless %w(broken caution).include? status %>

          <p class="govuk-body"><%= t "broken_links.#{status}.subheading" %></p>

          <ul class="govuk-list app-view-edition-summary__broken-links-report">
            <% links.each do |link| %>
              <li>
                <%= link_to link.uri.truncate(50), link.uri, title: link.uri, class: 'govuk-link' %>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      See more details about this link
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p class="govuk-body"><%= link.problem_summary %></p>
                    <% if link.suggested_fix %>
                      <p class="govuk-body">Suggested fix: <%= link.suggested_fix %></p>
                    <% end %>
                  </div>
                </details>
              </li>
            <% end %>
          </ul>
        <% end %>
        <% if LinkCheckerApiService.has_admin_draft_links?(report.link_reportable) %>
          <p class="govuk-body">It also contains links to draft documents that weren't checked.</p>
        <% end %>
        <%= render partial: 'admin/link_check_reports/form', locals: {
          reportable: report.link_reportable,
          button_text: 'Check again'
        } %>
      <% end,
      error: true
    } %>
  <% else %>
    <%= render "components/inset_prompt", {
      description: capture do %>
        <p class="govuk-body">
          This document contains no broken links.
        </p>
        <% if LinkCheckerApiService.has_admin_draft_links?(report.link_reportable) %>
          <p class="govuk-body">
            It contains links to draft documents that weren't checked.
          </p>
        <% end %>
        <%= render partial: 'admin/link_check_reports/form', locals: {
          reportable: report.link_reportable,
          button_text: 'Check again',
          secondary_quiet: true
        } %>
      <% end
    } %>
  <% end %>
</div>
