<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_document_collection_group_document_collection_group_memberships_path(@collection, @group),
  } %>
<% end %>
<% content_for :page_title, "Add document" %>
<% content_for :title, "Add document" %>
<% content_for :context, @group.heading %>
<% content_for :title_margin_bottom, 4 %>

<%
  search_options = [
    {
      value: "url",
      text: "Search via URL"
    }, {
      value: "title-or-slug",
      text: "Search via title or slug",
      hint_text: "This only applies to documents made in Whitehall publisher"
    },
  ]
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: admin_document_collection_group_search_options_path(@collection, @group) do %>
      <%= render "govuk_publishing_components/components/radio", {
        heading: "Search options",
        name: "search_option",
        id: "search_option",
        heading_size: "l",
        items: search_options
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Next",
          data_attributes: {
            module: "gem-track-click",
            "track-category": "form-button",
            "track-action": "document-collection-search-options-next-button",
            "track-label": "Next"
          }
        } %>

        <%= link_to("Cancel", admin_document_collection_group_document_collection_group_memberships_path(@collection, @group), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
