<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_document_collection_group_document_collection_group_memberships_path(@collection, @group),
  } %>
<% end %>
<% content_for :page_title, "Add document" %>

<%
  search_options = [
    {
      value: "url",
      text: "By URL",
    },
    {
      value: "title",
      text: "By title",
    },
  ]
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-view-document_collection_group_document_search">
    <%= form_with url: admin_document_collection_group_search_options_path(@collection, @group) do %>
      <%= render "govuk_publishing_components/components/radio", {
        name: "search_option",
        heading: "Add document",
        heading_caption: @group.heading,
        heading_level: 1,
        id: "search_option",
        items: search_options,
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Next",
        } %>

        <%= link_to("Cancel", admin_document_collection_group_document_collection_group_memberships_path(@collection, @group), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
