<div class="row">
  <div class="col-md-8">
    <section>
      <%= form_for translated_contact, as: :contact, url: form_path, method: :put do |form| %>
        <%= form.errors %>

        <%= form.translated_text_field :title %>
        <%= form.translated_text_area :comments, rows: 20 %>

        <%= form.translated_text_field :recipient %>
        <%= form.translated_text_area :street_address, rows: 20 %>
        <%= form.translated_text_field :locality %>
        <%= form.translated_text_field :region %>

        <%= form.translated_text_field :email %>
        <%= form.translated_text_field :contact_form_url %>

        <%= form.fields_for :contact_numbers, translated_contact.contact_numbers do |number_form| %>
          <fieldset class="contact_number well">
            <%= number_form.translated_text_field :label %>
            <%= number_form.translated_text_field :number %>
          </fieldset>
        <% end %>

        <%= form.save_or_cancel cancel: cancel_path %>
      <% end %>
    </section>
  </div>
  <div class="col-md-4">
    <%= legacy_simple_formatting_sidebar %>
  </div>
</div>
