<% page_title "Edit translation for #{@contact.title}" %>

<h1>Edit '<%= translation_locale.native_language_name %> (<%= translation_locale.english_language_name %>)' translation for: <%= @contact.title %></h1>

<div class="row-fluid">
  <div class="span8">
    <section>
      <%= form_for @translated_contact, as: :contact, url: admin_organisation_contact_translation_path(@contactable, @translated_contact), method: :put do |form| %>
        <%= form.errors %>

        <%= form.translated_text_field :title %>
        <%= form.translated_text_area :comments %>
        <%= form.translated_text_field :recipient %>
        <%= form.translated_text_area :street_address %>
        <%= form.translated_text_field :locality %>
        <%= form.translated_text_field :region %>
        <%= form.translated_text_field :email %>
        <%= form.translated_text_field :contact_form_url %>

        <%= form.save_or_cancel cancel: admin_organisation_contacts_path(@contactable) %>
      <% end %>
    </section>
  </div>
  <div class="span4">
    <%= simple_formatting_sidebar %>
  </div>
</div>
