<%= content_tag_for(:tr, historical_account) do %>
  <td>
    <%= historical_account.roles.collect(&:name).to_sentence %>
  </td>
  <td>
    <%= historical_account.summary %>
  </td>
  <td class="actions">
    <%= link_to 'View', historic_appointment_path(person), class: "btn btn-default" %>
    <%= link_to 'Edit', edit_admin_person_historical_account_path(person, historical_account), class: "btn btn-default" %>
    <%= button_to 'Delete',
          admin_person_historical_account_path(person, historical_account),
          method: :delete,
          class: "btn btn-danger",
          data: { confirm: "Are you sure you want to delete this historical account?" } %>
  </td>
<% end %>
