<% if @consultation.respond_to?(:organisations) && @consultation.organisations.any? %>
  <section id="document_organisations">
    <h1 class="visuallyhidden">Organisations</h1>
    <ul class="organisations">
    <% @consultation.organisations.each do |organisation| %>
      <%= content_tag_for(:li, organisation, :class => organisation_logo_classes(organisation)) do %>
        <span><%= link_to format_with_html_line_breaks(h(organisation.logo_formatted_name)), organisation_path(organisation), class: "organisation" %></span>
      <% end %>
    <% end %>
    </ul>
  </section>
<% end %>

<% if @consultation.respond_to?(:ministerial_roles) && @consultation.ministerial_roles.any? %>
  <section id="document_ministers">
    <ul class="ministers">
      <h1 class="visuallyhidden">Ministers</h1>
      <% @consultation.ministerial_roles.each do |role| %>
        <li>
          <h3 class="current_appointee"><%= link_to  role.current_person_name, role, class: "minister" %></h3>
          <p class="role"><%= role.name %></p>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

<% if @policy_topics && @policy_topics.any? %>
  <section id="document_topics">
    <h1>Topics</h1>
    <ul class="topics">
      <% @policy_topics.each do |policy_topic| %>
        <li>
          <%= link_to policy_topic.name, policy_topic_path(policy_topic), class: "policy_topic", id: dom_id(policy_topic) %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= render partial: 'related_policies', object: @related_policies %>