<% page_title @document.title + " (Response)", "Consultations"  %>
<div class="g4 document_page <%= @document.type.downcase %>">
  <div class="g3">
    <section class="page_header">
      <h2 class="label">Consultation response</h2>
      <p>Everything you need to know about this consultation response</p>
      <h1 class="page_title has_meta"><%= @document.title %></h1>
    </section>

    <div class="g1f">
      <%= render partial: "document_metadata" %>
      <%= render partial: "document_contextual" %>
    </div>

    <div class="g2 document_view">
      <%= render partial: "document_content" %>
    </div>
  </div>

  <div class="g1">
    <%= render partial: "document_related" %>
  </div>
</div>