<% page_title @document.title + " (Response)", "Consultations"  %>
<% page_class 'consultation-response'  %>

<div class="g4f document_page <%= @document.type.downcase %>">
  <div class="g3f">
    <section class="page_header icon">
      <h2 class="label">Consultation response</h2>
      <h1 class="page_title has_meta"><%= @document.title %></h1>
    </section>

    <div class="g1f">
      <%= render partial: "document_metadata" %>
      <%= render partial: "document_contextual" %>
    </div>

    <div class="g2 document_view">
      <%= render partial: "document_content" %>
    </div>
  </div>

  <div class="g1">
    <%= render partial: "document_related" %>
  </div>
</div>