<% page_title @document.title + " (Response)", "Consultations"  %>

<div class="g3f">
  <section class="page_header policy">
    <h1 class="page_title title has_meta"><%= @document.title %></h1>
    <div class="meta">
      <span class="metadata">Last updated <%= time_ago(@document.published_at, class: 'published_at') %></span>
      <% @related_policies.map { |d| d.policy_areas }.flatten.uniq.each do |policy_area| %>
        <%= link_to policy_area.name, policy_area_path(policy_area), class: "policy_area tag", id: dom_id(policy_area) %>
      <% end %>
      <% @consultation.organisations.each do |organisation| %>
        <%= link_to organisation_display_name(organisation), organisation_path(organisation), class: "organisation tag" %>
      <% end %>
      <% @consultation.ministerial_roles.each do |ministerial_role| %>
        <%= link_to ministerial_role.current_person_name, ministerial_role, class: "minister tag" %>
      <% end %>
    </div>
  </section>
</div>

<div class="g3f document_page">
  <div class="g1r">
    <section class="contextual_info">
      <h1>Original consultation</h1>
      <%= link_to @consultation.title, public_document_path(@consultation) %>
    </section>
  </div>

  <div class="g2">
    <%= render partial: 'inapplicable_nations', locals: { document: @consultation } %>
    <article class="document has_notice">
      <div class="body">
        <%= govspeak_to_html @document.body, @document.images %>
      </div>
      <%= render partial: "attachments", locals: { document: @document } %>
    </article>
  </div>
</div>

<%= render partial: 'related_policies', object: @related_policies %>