<% page_title @document.title + " (Response)", "Consultations"  %>
<% page_class 'consultation-response'  %>

<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <%= render partial: "document_metadata", locals: {
        document: @document,
        header_title: "Consultation response",
        topics: @topics
      } %>
      <section class="page-header icon">
        <%= render partial: "title" %>
      </section>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <%= render partial: "document_contextual", locals: {edition: @document} %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
    <div class="document_view">
      <%= render partial: "document_content" %>
    </div>
    </div>
  </div>
  <div class="block-4">
    <div class="inner-block">
      <%= render partial: "document_related", locals: {
          document: @document.consultation,
          topics: @topics,
          related_policies: @related_policies
        } %>
    </div>
  </div>
</div>
