<% page_title @document.title + " (Response)", "Consultations"  %>
<div class="g4 <%= @document.type.downcase %>">
  <div class="g3">
    <%= document_page_header("Consultation response", "Everything you need to know about this consultation response") %>
    <%= render partial: "document_metadata" %>
    <div class="g1f">
      <%= render partial: "document_contextual" %>
    </div>

    <div class="g2 document_view">
      <%= render partial: "document_content" %>
    </div>
  </div>

  <div class="g1">
    <%= render partial: "document_related" %>
  </div>
</div>