<% page_title @document.title + " (Response)", "Consultations"  %>
<% page_class 'consultation-response'  %>

<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <section class="page_header icon">
      <hgroup>
        <h2 class="label">Consultation response</h2>
        <h1 class="page_title has_meta"><%= @document.title %></h1>
      </hgroup>
      </section>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <%= render partial: "document_metadata" %>
      <%= render partial: "document_contextual" %>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
    <div class="document_view">
      <%= render partial: "document_content" %>
    </div>
    </div>
  </div>
  <div class="block-4">
    <div class="inner-block">
      <%= render partial: "document_related", locals: {
          document: @document.consultation,
          policy_topics: @policy_topics,
          related_policies: @related_policies
        } %>
    </div>
  </div>
</div>