<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">

    <!-- http://t.co/dKP3o1e -->
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <%= meta_description_tag %>

    <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item %>

    <title><%= page_title %></title>
    <%-
      stylesheet_base = local_assigns[:stylesheet] || "base"
      stylesheet_base += "-rtl" if right_to_left?
    -%>
    <!--[if gt IE 9]><!--><%= stylesheet_link_tag "frontend/#{stylesheet_base}.css", integrity: true, crossorigin: 'anonymous' %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "frontend/#{stylesheet_base}-ie6.css" %><script>var ieVersion = 6;</script><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "frontend/#{stylesheet_base}-ie7.css" %><script>var ieVersion = 7;</script><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "frontend/#{stylesheet_base}-ie8.css" %><script>var ieVersion = 8;</script><![endif]-->
    <!--[if IE 9]><%= stylesheet_link_tag "frontend/#{stylesheet_base}-ie9.css" %><script>var ieVersion = 9;</script><![endif]-->
    <%= stylesheet_link_tag "frontend/print.css", media: "print", integrity: true, crossorigin: 'anonymous' %>
    <%= csrf_meta_tags %>
    <%= atom_discovery_link_tag %>
  </head>
  <body class="website government<%= " #{local_assigns[:extra_body_class]}" if local_assigns[:extra_body_class] %>">
    <% unless local_assigns[:show_breadcrumbs] %><div class="header-context group"><!-- deliberately empty --></div><% end %>
    <div id="whitehall-wrapper-slimmer">
      <div id="whitehall-wrapper">
        <%= yield %>
      </div>
      <%= render 'govuk_publishing_components/components/feedback' %>
    </div>
    <%= javascript_include_tag "application", integrity: true, crossorigin: 'anonymous' %>
    <%= javascript_tag(yield :javascript_initialisers) %>
  </body>
</html>
