<% environment_style = GovukAdminTemplate.environment_style %>
<% environment_label = GovukAdminTemplate.environment_label %>

<% content_for :app_title, 'GOV.UK Whitehall' %>
<% content_for :page_title, page_title %>
<% content_for :favicon do %>
  <%= favicon_link_tag environment_style ?
    "admin/favicon-#{environment_style}.png" : "admin/favicon.png" %>
<% end %>

<% content_for :head do %>
  <% if ENV["GOOGLE_TAG_MANAGER_ID"] %>
    <%= render "govuk_publishing_components/components/google_tag_manager_script", {
      gtm_id: ENV["GOOGLE_TAG_MANAGER_ID"],
      gtm_auth: ENV["GOOGLE_TAG_MANAGER_AUTH"],
      gtm_preview: ENV["GOOGLE_TAG_MANAGER_PREVIEW"]
    } %>
  <% end %>
  <%= stylesheet_link_tag "admin_legacy.css", integrity: false %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :navbar do %>
  <%= render "shared/header", admin_template: true %>
  <% if t('admin.whats_new.show_banner') %>
    <div class="govuk-design-system-styling">
      <div class="<%= yield(:full_width) === "true" ? "app-width-container--full-width" : "container" %>">
        <%= render "shared/phase_banner", tracking_module: "track-link-click" %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :content do %>
  <% if content_for?(:page_class) %>
    <div class="<%= yield(:page_class) %>">
  <% end %>

  <%= yield %>

  <% if content_for?(:page_class) %>
    </div>
  <% end %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag "admin_legacy" %>
  <% initialise_script "GOVUK.adminGlobalInitialiser" %>
  <%= javascript_tag(yield :javascript_initialisers) %>
<% end %>

<% if user_signed_in? && current_user.has_email? %>
  <% content_for :before_pageview_js do %>
    GOVUKAdmin.setDimension(8, "<%= current_user.organisation_slug.present? ? current_user.organisation_slug : '(not set)' %>")
  <% end %>
<% end %>

<%# use the govuk_admin_template layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
