<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- http://t.co/dKP3o1e -->
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="width=device-width, target-densitydpi=160dpi, initial-scale=1" name="viewport">

    <title>Government Departments</title>
    <%= stylesheet_link_tag "admin" %>
    <%= csrf_meta_tags %>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="admin">
    <header class="cf masthead">
      <nav>
        <%= link_to "Document publisher", logged_in? ? admin_documents_path : login_path %>
        <%= link_to "Organisations", logged_in? ? admin_organisations_path : login_path %>
      </nav>
      <%= render partial: "shared/session" if show_session_controls? %>
    </header>

    <section class="notices">
      <%= render partial: "shared/notices" %>
    </section>

    <section class="cf wrapper">
      <%= yield %>
    </section>
    <%= javascript_include_tag "application" %>
  </body>
</html>
