<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- http://t.co/dKP3o1e -->
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title><%= page_title %></title>
    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "admin.css" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "admin-ie6.css" %><script>var ieVersion = 6;</script><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "admin-ie7.css" %><script>var ieVersion = 7;</script><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "admin-ie8.css" %><script>var ieVersion = 8;</script><![endif]-->

    <%= csrf_meta_tags %>
    <%= favicon_link_tag "admin/favicon-#{GovukAdminTemplate.environment_style}.png" %>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body class="environment-<%= GovukAdminTemplate.environment_style %>">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <header class="masthead">
      <div class="masthead-details container-fluid">
        <ul class="list-inline pull-left">
          <li>
            <div class="environment-message">
              <%= GovukAdminTemplate.environment_label %>
            </div>
          </li>
          <li><%= link_to "Dashboard", admin_root_path %></li>
          <li><%= link_to "View website", Whitehall.public_root, class: "open_website" %></li>
        </ul>
        <ul class="list-inline pull-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to current_user.name, admin_user_path(current_user), id: "#user_settings" %>
            </li>
            <li>
              <%= link_to "Logout", "/auth/gds/sign_out" %>
            </li>
          <% end %>
          <%= admin_users_header_link  %>
          <%= admin_imports_header_link %>
        </ul>
      </div>
      <ul id="global-nav" class="masthead-tabs unstyled">
        <li class="masthead-tab-item js-create-new create-new">
          <a href="#new-document-menu" class="toggler" id="new-document-label">New document</a>
          <%= document_creation_dropdown %>
        </li>
        <%= admin_documents_header_link %>
        <%= admin_statistics_announcements_link if user_can_see_stats_announcements? %>
        <%= admin_featured_header_link %>
        <%= admin_user_organisation_header_link %>
        <li class="js-more-nav masthead-tab-item">
          <a href="#more-links-menu" id="more-links-label" class="toggler">More</a>
          <ul id="more-links-menu" class="masthead-menu masthead-menu-right js-hidden unstyled" role="menu" aria-labelledby="more-links-label">
            <%= admin_organisations_header_menu_link %>
            <%= admin_policy_groups_header_menu_link %>
            <%= admin_roles_header_menu_link %>
            <%= admin_people_header_menu_link %>
            <%= admin_topics_header_menu_link %>
            <%= admin_topical_events_header_menu_link %>
            <%= admin_worldwide_organisations_header_menu_link %>
            <%= admin_world_locations_header_menu_link %>
            <%= admin_fields_of_operation_header_menu_link %>
            <%= admin_email_curation_queue_header_menu_link %>
            <%= admin_cabinet_ministers_header_menu_link %>
            <%= admin_get_involved_header_menu_link %>
            <%= admin_sitewide_settings_header_menu_link %>
          </ul>
        </li>
      </ul>
      <section class="notices">
        <%= render partial: "shared/notices" %>
      </section>
    </header>

    <div class="container-fluid <%= content_for?(:page_class) ? yield(:page_class) : '' %>">
      <section class="row-fluid">
        <%= yield %>
      </section>
    </div>

    <%= javascript_include_tag "admin" %>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-26179049-6', 'alphagov.co.uk');
        ga('send', 'pageview');
      </script>
    <% end %>
    <%= render_mustache_templates if Rails.env.development? %>
    <% initialise_script "GOVUK.adminGlobalInitialiser" %>
    <%= javascript_tag(yield :javascript_initialisers) %>
  </body>
</html>
