<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- http://t.co/dKP3o1e -->
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title><%= page_title %></title>
    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "admin.css" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "admin-ie6.css" %><script>var ieVersion = 6;</script><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "admin-ie7.css" %><script>var ieVersion = 7;</script><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "admin-ie8.css" %><script>var ieVersion = 8;</script><![endif]-->

    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <ul class="nav website">
            <li class="brand"><%= link_to "Dashboard", admin_root_path %></li>
            <li class="brand"><%= link_to "View website", website_home_url, class: "open_website" %></li>
          </ul>

          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to current_user.name, admin_user_path(current_user), id: "#user_settings" %>
              </li>
              <li>
                <%= link_to "Logout", "/auth/gds/sign_out" %>
              </li>
            <% end %>
            <%= admin_users_header_link  %>
            <%= admin_imports_header_link %>
          </ul>
        </div>

         <div id="global-nav">
            <nav class="nav-collapse">
              <ul class="nav">
                <li class="js-create-new create-new">
                  <a href="#navigation" class="toggler">New document</a>
                  <%= document_creation_dropdown %>
                </li>
                <%= admin_documents_header_link %>
                <%= admin_featured_header_link %>
                <%= admin_user_organisation_header_link %>
                <li class="js-more-nav"><a href="#navigation" class="toggler">More</a>
                  <ul class="more-nav right js-hidden">
                    <%= admin_organisations_header_link %>
                    <%= admin_policy_teams_header_link %>
                    <%= admin_policy_advisory_groups_header_link %>
                    <%= admin_roles_header_link %>
                    <%= admin_people_header_link %>
                    <%= admin_topics_header_link %>
                    <%= admin_topical_events_header_link %>
                    <%= admin_worldwide_organisations_header_link %>
                    <%= admin_world_locations_header_link %>
                    <%= admin_fields_of_operation_header_link %>
                    <%= admin_cabinet_ministers_link %>
                    <%= admin_get_involved_link %>
                  </ul>
                </li>
              </ul>
            </nav><!--/.nav-collapse -->
          </div>

      </div>

      <section class="notices">
        <%= render partial: "shared/notices" %>
      </section>
    </header>

    <div class="container-fluid <%= content_for?(:page_class) ? yield(:page_class) : '' %>">
      <section class="row-fluid">
        <%= yield %>
      </section>
    </div>

    <%= javascript_include_tag "admin" %>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26179049-5']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
    <%= render_mustache_templates if Rails.env.development? %>
  </body>
</html>
