<% environment = GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment %>

<% if ENV["GOOGLE_TAG_MANAGER_ID"] %>
  <% content_for :head do %>
    <%= render "govuk_publishing_components/components/google_tag_manager_script", {
      gtm_id: ENV["GOOGLE_TAG_MANAGER_ID"],
      gtm_auth: ENV["GOOGLE_TAG_MANAGER_AUTH"],
      gtm_preview: ENV["GOOGLE_TAG_MANAGER_PREVIEW"],
    } %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% content_for :head do %>
    <meta name="custom-dimension:8" content="<%= current_user.organisation_slug.presence || "(not set)" %>">
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_admin",
  product_name: "Whitehall Publisher",
  environment: environment,
  browser_title: ("Error: " if yield(:error_summary).present?).to_s + sanitize((yield(:page_title).presence || yield(:title))) do %>

  <!-- This element exists to initialise the JS module that configures custom Analytics behaviour -->
  <div data-module="app-analytics"></div>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <% if show_new_header? %>
    <%= render partial: "shared/header" %>
  <% else %>
    <div class="legacy-whitehall">
      <div class="environment-<%= environment %> navbar-wrapper">
        <%= render partial: "shared/legacy_header" %>
      </div>
    </div>
  <% end %>

  <div class="govuk-width-container">
    <%= render "shared/phase_banner", {
        show_feedback_banner: t("admin.feedback.show_banner"),
        ga4_tracking: true,
      } %>

    <%= yield(:back_link) %>
    <%= yield(:breadcrumbs) %>

    <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank? && yield(:breadcrumbs).blank? %>" id="main-content" role="main">

      <%= render Admin::FlashNoticeComponent.new(message: flash[:notice], html_safe: flash["html_safe"]) if flash[:notice] %>
      <%= render Admin::FlashAlertComponent.new(message: flash[:alert], html_safe: flash["html_safe"]) if flash[:alert] && yield(:error_summary).blank? %>

      <% column_width = yield(:page_full_width).present? ? "full" : "two-thirds" %>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-<%= column_width %>">
          <%= yield(:error_summary) %>
        </div>
      </div>

      <% if yield(:error_summary).blank? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-<%= column_width %>">
            <%= yield(:banner) %>
          </div>
        </div>
      <% end %>

      <% if yield(:title).present? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-<%= column_width %>">
            <%= render "govuk_publishing_components/components/title", {
              context: yield(:context),
              title: yield(:title),
              margin_top: 0,
              margin_bottom: yield(:title_margin_bottom).present? ? yield(:title_margin_bottom).to_i : nil,
            } %>
          </div>

          <% if yield(:page_full_width).blank? %>
            <div class="govuk-grid-column-one-third app-grid-column--align-right">
              <%= yield(:title_side) %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: [
      {
        title: "Support and feedback",
        items: [
          {
            href: Plek.external_url_for("support"),
            text: "Raise a support request",
          },
          {
            href: "https://www.gov.uk/government/content-publishing",
            text: "How to write, publish, and improve content",
          },
        ],
      },
    ],
  } %>
<% end %>
