<% environment = GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment %>

<% if user_signed_in? %>
  <% content_for :head do %>
    <meta name="custom-dimension:8" content="<%= current_user.organisation_slug.presence || '(not set)' %>">
  <% end %>
<% end %>

<%= render 'govuk_publishing_components/components/layout_for_admin',
  product_name: "Whitehall Publisher",
  environment: environment,
  browser_title: yield(:page_title).presence || yield(:title) do %>

  <!-- This element exists to initialise the JS module that configures custom Analytics behaviour -->
  <div data-module="app-analytics"></div>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <div class="legacy-whitehall">
    <div class="environment-<%= environment %> navbar-wrapper">
      <%= render partial: "shared/header" %>
    </div>
  </div>

  <div class="govuk-width-container">
    <% if t('admin.whats_new.show_banner') %>
      <%= render "shared/whats_new_banner" %>
    <% end %>

    <%= yield(:back_link) %>
    <%= yield(:breadcrumbs) %>

    <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank? && yield(:breadcrumbs).blank?%>" id="main-content" role="main">
      <% if flash["notice"].present? %>
        <div data-module="auto-track-event" data-track-category="flash-message" data-track-action="alert-success" data-track-label="<%= flash["notice"] %>">
          <%= render "govuk_publishing_components/components/success_alert", {
            message: flash["notice"]
          } %>
        </div>
      <% end %>

      <% if flash["alert"].present? && yield(:error_summary).blank? %>
        <div data-module="auto-track-event" data-track-category="flash-message" data-track-action="alert-danger" data-track-label="<%= flash["alert"] %>">
          <%= render "govuk_publishing_components/components/error_alert", {
            message: flash["alert"].html_safe
          } %>
        </div>
      <% end %>

      <%= yield(:error_summary) %>


      <% if yield(:error_summary).blank? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= yield(:banner) %>
          </div>
        </div>
      <% end %>

      <% if yield(:title).present? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= render "govuk_publishing_components/components/title", {
              context: yield(:context),
              title: yield(:title),
              margin_top: 0,
              margin_bottom: yield(:title_margin_bottom).present? ? yield(:title_margin_bottom).to_i : nil,
            } %>
          </div>
          <div class="govuk-grid-column-one-third app-grid-column--align-right">
            <%= yield(:title_side) %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: [
      {
        title: "Support and feedback",
        items: [
          {
            href: Plek.external_url_for("support"),
            text: "Raise a support request"
          },
          {
            href: "https://www.gov.uk/government/content-publishing",
            text: "How to write, publish, and improve content"
          }
        ]
      }
    ]
  } %>
<% end %>
