<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <!-- http://t.co/dKP3o1e -->
    <meta content='True' name='HandheldFriendly'>
    <meta content='320' name='MobileOptimized'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <title><%= page_title %></title>
    <%= stylesheet_link_tag "frontend/base.css" %>
    <%= csrf_meta_tags %>
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <%= auto_discovery_link_tag :atom, atom_feed_url, :title => 'Recent updates' %>

  </head>
  <body class="website government">
    <div class="header-context group"><!-- deliberately empty --></div>
    <div id="whitehall-wrapper">
      <nav class="group" id="global-nav" role="navigation">
        <div class="inner">
          <ul>
            <li id="inside_gov_link"><%= main_navigation_link_to "Inside government", home_path, class: "home" %></li>
            <li><%= main_navigation_link_to "News", announcements_path, class: "primary" %></li>
            <li><%= main_navigation_link_to "Topics", topics_path, class: "primary" %></li>
            <li><%= main_navigation_link_to "Publications", publications_path, class: "primary" %></li>
            <li><%= main_navigation_link_to "Consultations", consultations_path %></li>
            <li><%= main_navigation_link_to "Ministers", ministerial_roles_path %></li>
            <li><%= main_navigation_link_to "Departments", organisations_path %></li>
            <li><%= main_navigation_link_to "UK & the world", countries_path %></li>
          </ul>
        </div>
      </nav>
      <div id="content"></div>
      <div id="page" class="<%= content_for?(:page_class) ? yield(:page_class) : '' %>" >
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "application", defer: true %>
  </body>
</html>
