<%= render :layout => 'layouts/frontend_base' do %>
  <% unless explore_menu_testable? %>
    <nav id="proposition-menu" class="no-proposition-name" aria-label="Departments and policy navigation">
      <ul id="proposition-links" data-module="gem-track-click">
        <li>
          <%= main_navigation_link_to "Departments",
              organisations_path,
              data: {
                track_category: "headerClicked",
                track_action: "departmentsLink",
                track_label: organisations_path,
                track_dimension: "Departments",
                track_dimension_index: "29",
              }
          %>
        </li>
        <li>
          <%= main_navigation_link_to "Worldwide",
              world_locations_path(locale: :en),
              data: {
                track_category: "headerClicked",
                track_action: "worldwideLink",
                track_label: world_locations_path(locale: :en),
                track_dimension: "Worldwide",
                track_dimension_index: "29",
              }
          %>
        </li>
        <li>
          <%= main_navigation_link_to "How government works",
              how_government_works_path,
              data: {
                track_category: "headerClicked",
                track_action: "governmentactivityLink",
                track_label: how_government_works_path,
                track_dimension: "How government works",
                track_dimension_index: "29",
              }
          %>
        </li>
        <li>
          <%= main_navigation_link_to "Get involved",
              get_involved_path,
              data: {
                track_category: "headerClicked",
                track_action: "governmentactivityLink",
                track_label: get_involved_path,
                track_dimension: "Get involved",
                track_dimension_index: "29",
              }
          %>
        </li>
        <% consultations_path = CGI::escapeHTML('/search/policy-papers-and-consultations?content_store_document_type[]=open_consultations&content_store_document_type[]=closed_consultations') %>
        <li class="clear-child">
          <a href="<%= consultations_path %>"
             data-track-category="headerClicked"
             data-track-action="governmentactivityLink"
             data-track-label="<%= consultations_path %>"
             data-track-dimension="Consultations"
             data-track-dimension-index="29">
            Consultations
          </a>
        </li>
        <li>
          <a href="/search/research-and-statistics"
             data-track-category="headerClicked"
             data-track-action="governmentactivityLink"
             data-track-label="/search/research-and-statistics"
             data-track-dimension="Statistics"
             data-track-dimension-index="29">
            Statistics
          </a>
        </li>
        <li>
          <a href="/search/news-and-communications"
             data-track-category="headerClicked"
             data-track-action="governmentactivityLink"
             data-track-label="/search/news-and-communications"
             data-track-dimension="News and communications"
             data-track-dimension-index="29">
            News and communications
          </a>
        </li>
      </ul>
    </nav>
  <% end %>
  <main id="content" role="main" class="whitehall-content"<%= " lang=#{I18n.locale.to_s}" unless I18n.locale == :en %>>
    <div id="page" class="<%= content_for?(:page_class) ? yield(:page_class) : '' %>" >
      <%= yield %>
      <%= render_mustache_templates if Rails.env.development? %>
    </div>
  </main>
<% end %>
