<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <!-- http://t.co/dKP3o1e -->
    <meta content='True' name='HandheldFriendly'>
    <meta content='320' name='MobileOptimized'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <title><%= page_title %></title>
    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "frontend/base.css" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "frontend/base-ie6.css" %><script>var ieVersion = 6;</script><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "frontend/base-ie7.css" %><script>var ieVersion = 7;</script><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "frontend/base-ie8.css" %><script>var ieVersion = 8;</script><![endif]-->
    <%= stylesheet_link_tag "frontend/print.css", media: "print" %>
    <%= csrf_meta_tags %>
    <%= atom_discovery_link_tag %>

  </head>
  <body class="website government">
    <div class="header-context group"><!-- deliberately empty --></div>
    <div id="whitehall-wrapper">
      <div id="whitehall-inner">
        <div class="js-toggle-nav" id="global-nav">
          <div class="inner">
            <span class="home"><%= link_to "Inside Government", root_path %></span>
            <span class="jump-link"><a href="#navigation" class="toggler">menu</a></span>
            <nav role="navigation" class="content">
              <ul id="navigation">
                <li><%= main_navigation_link_to 'How government works', how_government_works_path %></li>
                <li><%= main_navigation_link_to "Departments", organisations_path %></li>
                <li><%= main_navigation_link_to "Topics", topics_path %></li>
                <li><%= main_navigation_link_to "Policies", policies_path %></li>
                <li><span class="toggler <%= main_navigation_documents_class %>">Documents</span>
                  <ul class="subtype content js-hidden">
                    <li><%= main_navigation_link_to "Publications", publications_path %></li>
                    <li><%= main_navigation_link_to "Announcements", announcements_path %></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div id="content"></div>
        <div class="progress-bar js-progress-bar js-hidden" id="progress-bar" data-join-count="<%= joined_ministerial_department_count %>">
          <div class="bar"><div class="joined" style="width: <%= joined_ministerial_department_percent %>"></div></div>
          <p>
            <%= joined_ministerial_department_count %> of <%= ministerial_department_count %>
            ministerial departments have moved their corporate websites to GOV.UK.
            <%= progress_bar_link %>
          </p>
        </div>
        <div id="page" class="<%= content_for?(:page_class) ? yield(:page_class) : '' %>" >
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application", defer: true %>
  </body>
</html>
