<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <!-- http://t.co/dKP3o1e -->
    <meta content='True' name='HandheldFriendly'>
    <meta content='320' name='MobileOptimized'>
    <meta content='width=device-width, target-densitydpi=160dpi, initial-scale=1' name='viewport'>

    <title>Government Departments</title>
    <%= stylesheet_link_tag "website" %>
    <%= csrf_meta_tags %>
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="website">
    <div class="header-context government group">
      <nav class="group" role="navigation">
        <%= link_to "Home", root_path, class: "home" %>
        <%= link_to "News & speeches", announcements_path %>
        <%= link_to "Policy areas", policy_areas_path %>
        <%= link_to "Publications", publications_path %>
        <%= link_to "Consultations", open_consultations_path %>
        <%= link_to "Ministers", ministerial_roles_path %>
        <%= link_to "Organisations", organisations_path %>
        <%= link_to "UK in the world", countries_path %>
      </nav>
    </div>
    <div id="wrapper">
      <div id="content" class="group">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "application", defer: true %>
  </body>
</html>
