<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <!-- http://t.co/dKP3o1e -->
    <meta content='True' name='HandheldFriendly'>
    <meta content='320' name='MobileOptimized'>
    <meta content='width=device-width, target-densitydpi=160dpi, initial-scale=1' name='viewport'>

    <title><%= page_title %></title>
    <%= stylesheet_link_tag "website" %>
    <%= csrf_meta_tags %>
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <%= auto_discovery_link_tag :atom, atom_feed_url, :title => 'Recent updates' %>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="website government">
    <div class="header-context group"><!-- deliberately empty --></div>
    <div id="wrapper">
      <nav class="group" id="global-nav" role="navigation">
        <div class="inner">
          <%= main_navigation_link_to "Inside government", root_path, class: "home" %>
          <%= main_navigation_link_to "News & speeches", announcements_path, class: "primary" %>
          <%= main_navigation_link_to "Policy topics", policy_topics_path, class: "primary" %>
          <%= main_navigation_link_to "Publications", publications_path, class: "primary" %>
          <%= main_navigation_link_to "Consultations", open_consultations_path %>
          <%= main_navigation_link_to "Ministers", ministerial_roles_path %>
          <%= main_navigation_link_to "Departments & agencies", organisations_path %>
          <%= main_navigation_link_to "UK and the world", countries_path %>
        </div>
      </nav>
      <div id="content" class="group">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "application", defer: true %>
  </body>
</html>
