<div class="historic-people-list">
  <%# TODO: remove the govuk-!-padding-0 when re-implement this template with components/grid layout %>
  <div class="govuk-!-padding-0">
    <a href="#contents" class="js-showhide contents-toggle govuk-link">Show past <%= @role.name.pluralize %></a>
    <div id="contents">
      <h3>
        <span><%= previous_appointments_with_unique_people.size %></span>
        <%= link_to_unless_current "Past #{@role.name.pluralize}", historic_appointments_path(role.historic_param), class: "govuk-link" %>
      </h3>
      <ol class="govuk-list">
        <% previous_appointments_with_unique_people.each do |role_appointment| %>
          <li>
            <% if role_appointment.has_historical_account? %>
              <%= link_to_unless_current role_appointment.person.name, historic_appointment_path(role_appointment.person), class: "govuk-link" %>
            <% else %>
              <%= role_appointment.person.name %>
            <% end %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
