<% page_title "Past #{@role.name.pluralize}" %>
<% page_class "historic-appointments historic-appointments-index govuk-width-container" %>

<%= render "govuk_publishing_components/components/breadcrumbs", {
  collapse_on_mobile: true,
  breadcrumbs: [
    {
      title: "Home",
      url: "/",
    },
    {
      title: "How government works",
      url: "/government/how-government-works",
    },
    {
      title: "History of the UK government",
      url: "/government/history",
    },
  ]
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/title", {
      context: "History",
      title: "Past #{@role.name.pluralize}",
    } %>
  </div>
</div>

<%# 21st century section %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "21st century",
      padding: true,
      border_top: 2,
      font_size: "l"
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<% @recent_appointments.in_groups_of(4, false) do |people| %>
  <div class="govuk-grid-row govuk-!-margin-bottom-4" role="list">
    <%= render partial: 'role_appointment', collection: people, 
      locals: { 
        role: @role,  
      } %>  
  </div>
<% end %>

<%# 20th century section %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "20th century",
      padding: true,
      border_top: 2,
      font_size: "l",
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div role="list">
  <% @twentieth_century_appointments.in_groups_of(4, false) do |people| %>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <%= render partial: 'role_appointment', collection: people, 
        locals: { 
          role: @role,  
        } %>  
    </div>
  <% end %>
</div>

<%# 18th & 19th centuries section %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: "18th & 19th centuries",
        padding: true,
        border_top: 2,
        font_size: "l",
        margin_bottom: 2,
      } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div role="list">
  <% @eighteenth_and_nineteenth_century_appointments.in_groups_of(4, false) do |people| %>
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <%= render partial: 'role_appointment', collection: people, 
      locals: { 
        role: @role,  
      } %>  
  </div>
  <% end %>
</div>
