<% page_title "Past #{@role_title}" %>
<% page_class "historic-appointments historic-appointments-index" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics"><%= link_to 'History', histories_path %></h1>
      <h2>Past <%= @role_title %></h2>
    </header>
  </div>
</div>

<%= render partial: 'role_appointments_list', locals: { role: @role, role_title: @role_title } %>

<div class="block featured-profiles">
  <div class="inner-block floated-children">
    <% [@recent_appointments, @nineteenth_century_appointments, @eighteenth_century_appointments].each do |year_block| %>
      <div class="year-block">
        <h2 class="profiles"><%= year_range_for(year_block) %></h2>
        <ol>
          <%= render partial: 'role_appointment', collection: year_block, locals: { role: @role } %>
        </ol>
      </div>
    <% end %>
  </div>
</div>
