<% page_title "Past Chancellors" %>
<% page_class "historic-appointments historic-appointments-index historical-past-chancellors govuk-width-container" %>
<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    {
      title: "Home",
      url: "/"
    },
    {
      title: "History of the UK Government",
      url: "/government/history"
    }
  ]
} %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "govuk_publishing_components/components/title", {
      context: "History",
      title: "Past Chancellors of the Exchequer",
    } %>
  </div>
</div>

<%# 21st century section %>
<div class="govuk-grid-row historic-people-index__section-row-header">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "21st century",
      padding: true,
      border_top: 2,
      font_size: "l"
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<%= render partial: "past_chancellors_person", 
  locals: { 
    past_chancellors_person: @twentyfirst_century_chancellors
} %>

<%# 20th century section %>
<div class="govuk-grid-row historic-people-index__section-row-header">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "20th century",
      padding: true,
      border_top: 2,
      font_size: "l"
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<%= render partial: "past_chancellors_person", 
  locals: { 
    past_chancellors_person: @twentieth_century_chancellors
} %>
<%# / 20th century section %>

<%# 19th century section %>
<div class="govuk-grid-row historic-people-index__section-row-header">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "19th century",
      padding: true,
      border_top: 2,
      font_size: "l"
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<%= render partial: "past_chancellors_person", 
  locals: { 
    past_chancellors_person: @nineteenth_century_chancellors
} %>
<%# / 19th century section %>

<%# 18th century section %>
<div class="govuk-grid-row historic-people-index__section-row-header">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "18th century",
      padding: true,
      border_top: 2,
      font_size: "l"
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

 <%= render partial: "past_chancellors_person", 
  locals: { 
    past_chancellors_person: @eighteenth_century_chancellors
} %>

<%# / 18th century section %>

<%# 16th & 17th centuries section %>
<div class="govuk-grid-row historic-people-index__section-row-header">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "16th & 17th centuries",
      padding: true,
      border_top: 2,
      font_size: "l"
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

 <%= render partial: "past_chancellors_person", 
  locals: { 
    past_chancellors_person: @sixteenth_and_seventeenth_century_chancellors
  } %> 

<%# / 16th & 17th centuries section %>
