<% page_title "Past Chancellors" %>
<% page_class "historic-appointments historic-appointments-index historical-past-chancellors govuk-width-container" %>
<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    {
      title: "Home",
      url: "/"
    },
    {
      title: "History of the UK Government",
      url: "/government/history"
    }
  ]
} %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "govuk_publishing_components/components/title", {
      context: "History",
      title: "Past Chancellors of the Exchequer",
    } %>
  </div>
</div>

<div id="modern-appointments">
  <%# 21st century section %>
  <div class="govuk-grid-row historic-people-index__section-row-header">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: "21st century",
        padding: true,
        border_top: 2,
        font_size: "l"
      } %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>

  <ol class="govuk-grid-row historical-past-chancellors__section-row govuk-list govuk-!-margin-bottom-0">
    <li class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Sajid Javid",
        heading_level: 3,
        font_size: "s"
      } %>
      <p class="govuk-body">2019 to 2020</p>
    </li>
    <li class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Philip Hammond",
        heading_level: 3,
        font_size: "s"
      } %>
      <p class="govuk-body">2016 to 2019</p>
    </li>
    <li class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "George Osborne",
        heading_level: 3,
        font_size: "s"
      } %>
      <p class="govuk-body">2010 to 2016</p>
    </li>
    <li class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Alistair Darling",
        heading_level: 3,
        font_size: "s"
      } %>
      <p class="govuk-body">2007 to 2010</p>
    </li>
  </ol>

  <%# 20th century section %>
  <div class="govuk-grid-row historic-people-index__section-row-header">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: "20th century",
        padding: true,
        border_top: 2,
        font_size: "l"
      } %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>

  <div role="list">
    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Gordon Brown",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1997 to 2007</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Kenneth Clarke",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1993 to 1997</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Norman Lamont",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1990 to 1993</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "John Major",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1989 to 1990</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Nigel Lawson",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1983 to 1989</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Geoffrey Howe",
          heading_level: 3,
          font_size: "s"
        } %>
      <p class="govuk-body">1979 to 1983</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Denis Healey",
          heading_level: 3,
          font_size: "s"
        } %>
      <p class="govuk-body">1974 to 1979</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Anthony Barber",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1970 to 1974</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Ian Macleod",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1970</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Roy Jenkins",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1967 to 1970</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "James Callaghan",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1964 to 1967</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Reginald Maudling",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1962 to 1964</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Selwyn Lloyd",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1960 to 1962</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Derick Heathcoat-Amory",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1958 to 1960</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Peter Thorneycroft",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1957 to 1958</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Harold Macmilla",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1955 to 1957</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Rab Butler",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1951 to 1955</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Hugh Gaitskell",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1960 to 1962</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Stafford Cripps",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1947 to 1950</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Hugh Dalton",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1945 to 1947</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir John Anderson",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1943 to 1945</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Kingsley Wood",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1940 to 1943</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir John Simon",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1937 to 1940</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Neville Chamberlain",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1931 to 1937</p>
        <p class="govuk-body">1923 to 1924</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Philip Snowden",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1929 to 1931</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Winston Churchill",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1924 to 1929</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Philip Snowden",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1924</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Robert Horne",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1921 to 1922</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Austen Chamberlain",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1919 to 1922</p>
        <p class="govuk-body">1903 to 1905</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Bonar Law",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1916 to 1919</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Reginald McKenna",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1924</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "David Lloyd George",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1908 to 1915</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "H. H. Asquith",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1905 to 1908</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Charles Ritchie",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1902 to 1903</p>
      </div>
    </div>
  </div>
  <%# / 20th century section %>

  <%# 19th century section %>
  <div class="govuk-grid-row historic-people-index__section-row-header">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: "19th century",
        padding: true,
        border_top: 2,
        font_size: "l"
      } %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>

  <div role="list">
    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Michael Hicks Beach, Bt",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1895 to 1902</p>
        <p class="govuk-body">1885 to 1886</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir William Vernon Harcourt",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1892 to 1895</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "George Goschen",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1887 to 1892</p>
        <p class="govuk-body">1886</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Lord Randolph Churchill",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1886</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Hugh Childers",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1882 to 1885</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "William Gladstone",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1880 to 1882</p>
        <p class="govuk-body">1873 to 1874</p>
        <p class="govuk-body">1859 to 1866</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Stafford Henry Northcote, Bt",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1874 to 1880</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Robert Lowe",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1868 to 1873</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "George Ward Hunt",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1868</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Benjamin Disraeli",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1866 to 1868</p>
        <p class="govuk-body">1858 to 1859</p>
        <p class="govuk-body">1852</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir George Cornewall Lewis, Bt",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1855 to 1858</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "William Gladstone",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1852 to 1855</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Charles Wood",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1846 to 1852</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Henry Goulburn",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1841 to 1846</p>
        <p class="govuk-body">1828 to 1830</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Francis Baring",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1839 to 1841</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Thomas Spring Rice",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1835 to 1839</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Robert Peel, Bt",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1834 to 1835</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Viscount Althorp",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1830 to 1834</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "John Charles Herries",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1827 to 1828</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "The Lord Tenterden",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1827</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "The Lord Tenterden",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1827</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "George Canning",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1827</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Hon. Frederick John Robinson",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1823 to 1827</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Nicholas Vansittart",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1812 to 1823</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Spencer Perceval",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1807 to 1812</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Lord Henry Petty",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1806 to 1807</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "William Pitt the Younger",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1804 to 1806</p>
        <p class="govuk-body">1783 to 1801</p>
        <p class="govuk-body">1782 to 1783</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Henry Addington",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1801 to 1804</p>
      </div>
    </div>
  </div>
  <%# / 19th century section %>

  <%# 18th century section %>
  <div class="govuk-grid-row historic-people-index__section-row-header">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: "18th century",
        padding: true,
        border_top: 2,
        font_size: "l"
      } %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>

  <div role="list">
    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Lord John Cavendish",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1783</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Lord North",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1767 to 1782</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Charles Townshend",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1766 to 1767</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "William Dowdeswell",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1765 to 1766</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "George Grenville",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1763 to 1765</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Francis Dashwood",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1762 to 1763</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Viscount Barrington",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1761 to 1762</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Henry Bilson Legge",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1757 to 1761</p>
        <p class="govuk-body">1756 to 1757</p>
        <p class="govuk-body">1754 to 1755</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Lord Mansfield",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1757</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir George Lyttleton",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1755 to 1756</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir William Lee",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1754</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Henry Pelham",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1743 to 1754</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Samuel Sandys",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1742 to 1743</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Robert Walpole",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1721 to 1742</p>
        <p class="govuk-body">1715 to 1717</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir John Pratt",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1721</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "John Aislabie",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1718 to 1721</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Viscount Stanhope",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1717 to 1718</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Richard Onslow",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1714 to 1715</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir William Wyndhan",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1713 to 1714</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Robert Benson",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1711 to 1713</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Robert Harley",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1710 to 1711</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir John Smith",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1708 to 1710</p>
        <p class="govuk-body">1699 to 1701</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Henry Boyle",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1701 to 1708</p>
      </div>
    </div>

  </div>
  <%# / 18th century section %>

  <%# 16th & 17th centuries section %>
  <div class="govuk-grid-row historic-people-index__section-row-header">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: "16th & 17th centuries",
        padding: true,
        border_top: 2,
        font_size: "l"
      } %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>

  <div role="list">
    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Charles Montagu",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1694 to 1699</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Richard Hampden",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1690 to 1694</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Henry Booth",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1689 to 1690</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir John Ernle",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1676 to 1689</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir John Duncombe",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1672 to 1676</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Lord Ashley",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1661 to 1672</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Edward Hyde",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1642 to 1646</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir John Colepepper",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1642 to 1643</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Lord Cottington",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1629 to 1642</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Lord Barrett",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1628 to 1629</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Richard Weston",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1621 to 1628</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Fulke Greville",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1614 to 1621</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Julius Caesar",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1604 to 1614</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Earl of Dunbar",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1603 to 1606</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir John Fortescue",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1589 to 1603</p>
      </div>
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Walter Mildmay",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1566 to 1589</p>
      </div>
    </div>

    <div class="govuk-grid-row historical-past-chancellors__section-row">
      <div class="govuk-grid-column-one-quarter" role="listitem">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Sir Richard Sackville",
          heading_level: 3,
          font_size: "s"
        } %>
        <p class="govuk-body">1559 to 1566</p>
      </div>
    </div>
  </div>
  <%# / 16th & 17th centuries section %>

</div>
