<% page_title "History of #{@person.name}" %>
<% page_class "govuk-width-container" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/breadcrumbs", {
      breadcrumbs: [
        {
          title: "Home",
          url: "/"
        },
        {
          title: "History of the UK Government",
          url: "/government/history"
        }
      ]
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      context: "Past #{@role.name.pluralize}",
      title: @person.name,
    } %>

    <%= render "govuk_publishing_components/components/lead_paragraph", {
      text: "#{@historical_account.political_membership} #{@historical_account.previous_dates_in_office}",
    } %>
    <%= render "govuk_publishing_components/components/lead_paragraph", {
      text: @historical_account.summary,
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      <% if @person.image_url %>
        <%= image_tag @person.image_url, class: "govuk-!-margin-bottom-4 govuk-!-width-full", alt: "", loading: "lazy"%>
      <% end %>
      </div>
    </div>

    <% @historical_account.appointment_info_array.each do |info| %>
      <% unless info[:text].blank? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: info[:title],
          font_size: "m",
          margin_bottom: 1,
        } %>
        <p class="govuk-body"><%= info[:text] %></p>
      <% end %>
    <% end %>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Biography",
      font_size: "m",
      margin_bottom: 1,
    } %>

    <%= govspeak_to_html @historical_account.body %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/related_navigation", {
      content_item: previous_appointments_list,
    } %>

    <p class="govuk-body">
      <a class="govuk-link" href="/government/history/<%= @role.historic_param %>">See all Past <%= @role.name.pluralize %></a>
    </p>
  </div>
</div>
