<%
topics ||= []
related_policies ||= nil
%>

<% if document.respond_to?(:organisations) && document.organisations.any? %>
  <section id="document-organisations">
    <h1 class="visuallyhidden">Organisations</h1>
    <ul class="organisations">
    <% document.organisations.each do |organisation| %>
      <%= content_tag_for(:li, organisation, :class => organisation_logo_classes(organisation)) do %>
        <span class="organisation-logo-small">
          <%= link_to organisation.logo_formatted_name, organisation_path(organisation) %>
        </span>
      <% end %>
    <% end %>
    </ul>
  </section>
<% end %>

<% if document.respond_to?(:ministerial_roles) && document.ministerial_roles.any? %>
  <section id="document-ministers">
    <ul class="ministers">
      <h1 class="visuallyhidden">Ministers</h1>
      <p><%= list_of_links_to_ministers(document.ministerial_roles) %></p>
    </ul>
  </section>
<% end %>

<% if document.respond_to?(:policy_team) && document.policy_team %>
  <section id="policy_team" class="simple_list">
    <h1 class="visuallyhidden">Who's working on this?</h1>
    <%= content_tag_for :p, document.policy_team do %>
      <%= link_to document.policy_team.name, document.policy_team %>
    <% end %>
  </section>
<% end %>

<%= render partial: 'documents/topics', locals: { topics: topics } %>

<% if document.respond_to?(:countries) && document.countries.any? %>
  <section id="document_countries" class="simple_list">
    <h1 class="label">UK &amp; the world</h1>
    <ul class="countries">
    <% document.countries.each do |country| %>
      <li>
        <%= link_to country.name, country_path(country), class: "country", id: dom_id(country) %>
      </li>
    <% end %>
    </ul>
  </section>
<% end %>

<% if related_policies %>
  <%= render partial: 'related_policies', object: related_policies %>
<% end %>
