<%
topics ||= []
related_policies ||= nil
%>

<% if document.respond_to?(:organisations) && document.organisations.any? %>
  <section id="document-organisations">
    <h1 class="visuallyhidden">Organisations</h1>
    <%= render partial: 'organisations/organisations_logo_list',
               locals: {
                organisations: document.organisations,
                extra_class: 'single-line',
                remove_line_breaks: true
              } %>
  </section>
<% end %>

<% if document.respond_to?(:ministerial_roles) && document.ministerial_roles.any? %>
  <section id="document-ministers">
    <ul class="ministers">
      <h1 class="visuallyhidden">Ministers</h1>
      <p><%= list_of_links_to_ministers(document.ministerial_roles) %></p>
    </ul>
  </section>
<% end %>

<% if document.respond_to?(:policy_team) && document.policy_team %>
  <section id="policy_team" class="simple_list">
    <h1 class="visuallyhidden">Who's working on this?</h1>
    <%= content_tag_for :p, document.policy_team do %>
      <%= link_to document.policy_team.name, document.policy_team %>
    <% end %>
  </section>
<% end %>

<%= render partial: 'documents/topics', locals: { topics: topics } %>

<% if related_policies %>
  <%= render partial: 'related_policies', object: related_policies %>
<% end %>
