<section class="policy_view">
  <h1 class="title"><%= policy.title %></h1>
  <nav class="meta">
    <% policy.policy_areas.each do |policy_area| %>
      <%= link_to policy_area.name, policy_area_path(policy_area), class: "policy_area" %>
    <% end %>
    <% policy.organisations.each do |organisation| %>
      <%= link_to organisation.name, organisation_path(organisation), class: "organisation" %>
    <% end %>
    <% policy.ministerial_roles.each do |ministerial_role| %>
      <%= link_to ministerial_role.current_person_name, ministerial_role, class: "minister" %>
    <% end %>
  </nav>

  <div class="group offering">
    <div class="g1r">
      <nav class="policy_parts">
        <h3>On this page</h3>
        <%= link_to_with_current policy.title, public_document_path(policy, anchor: 'policy_view') %>
        <ol id="policy_sections">
        <% govspeak_headers(policy.body).each do |header| %>
        <li><%= link_to header.text, public_document_path(policy, anchor: header.id) %></li>
        <% end %>
        </ol>
        <h3>Supporting detail</h3>
        <% policy.supporting_pages.each do |supporting_page| %>
          <%= link_to_with_current supporting_page.title, policy_supporting_page_path(policy.document_identity, supporting_page) %>
        <% end %>
      </nav>
    </div>

    <div class="g2 first">
      <%= render partial: 'documents/inapplicable_nations', locals: { document: policy } %>

      <article class="document">
        <div class="body">
          <%= govspeak_to_html document.body %>
        </div>
      </article>
    </div>
  </div>
</section>