<% page_title @policy.title, "Activity" %>
<% page_class "policies-activities" %>
<% atom_discovery_link_tag activity_policy_url(@policy.document, format: "atom"), %{Latest activity on "#{@policy.title}"} %>

<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
        <%= render partial: "documents/header", locals: {
          document: @document,
          header_title: 'Policy',
          topics: @document.topics } %>
      <section class="meta-three">
        <%= render partial: "policy_navigation" %>
    </section>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <div class="feeds">
        <%= link_to_feed activity_policy_url(@policy.document, format: "atom") %>
        <% unless @document.govdelivery_url.blank? %>
          <%= link_to @document.govdelivery_url, class: 'govdelivery' do %>
            <span class="visuallyhidden">Email</span> newsletter
          <% end %>
        <% end %>
      </div>
      <%= render partial: "recently_changed_documents",
                object: @recently_changed_documents,
                locals: { title: "Latest on this policy" } %>
    </div>
  </div>
</div>
