<% page_title @policy.title, "Activity" %>
<% page_class "policies-activities" %>

<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <%= render partial: "document_metadata" %>
      <section class="page-header">
        <%= render partial: "title", locals: { document: @document } %>
      </section>
      <section class="meta-three">
        <%= render partial: "document_related", locals: {
          document: @document
        } %>
        <%= render partial: "policy_navigation" %>
    </section>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <%= render partial: "recently_changed_documents",
                object: @recently_changed_documents,
                locals: { title: "Latest on this policy" } %>
    </div>
  </div>
</div>
