<% page_title @policy.title, "Activity" %>
<% page_class "policies-activities" %>
<% atom_discovery_link_tag activity_policy_url(@policy.document, format: "atom"), %{Latest activity on "#{@policy.title}"} %>

<div class="document_page <%= @document.type.downcase %>">
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render  partial: "documents/header", locals: {
                  document: @document,
                  header_title: 'Policy',
                  topics: @document.topics } %>
    </div>
  </header>

  <div class="block">
    <div class="inner-block">
      <div class="meta-three">
        <%= render partial: "policy_navigation" %>
      </div>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <%= render 'shared/feeds', atom_url: activity_policy_url(@policy.document, format: "atom") %>
      <%= render partial: "recently_changed_documents",
                object: @recently_changed_documents,
                locals: { title: "Latest on this policy" } %>
      <%= paginate @recently_changed_documents %>
    </div>
  </div>
</div>
