<% page_title "Policies" %>
<% page_class "policies-index document-filter-page" %>


<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: t('policies.heading') } %>
  </div>
</header>

<div class="block-2 filter-form">
  <div class="inner-block">
    <% if Locale.current.english? %>
      <%= render partial: "documents/filter_form",
                 locals: {
                   document_type: :policy,
                   filters: [ :keyword, :department, :topic, :relevant_to_local_government ]
                 } %>
    <% else %>
      <%= render partial: "documents/filter_form", locals: { document_type: :policy } %>
    <% end %>
  </div>
</div>

<div class="block-3 filtered-results">
  <div class="inner-block">
    <% if Locale.current.english? %>
      <%= render partial: "documents/filter_results",
                locals: { filter: @filter,
                          result_type: "policy" } %>
    <% end %>

    <div class="filter-results js-filter-results" aria-live="polite">
      <%= render_mustache('documents/filter_table', @filter.as_hash) %>
    </div>
  </div>
</div>
