<% page_title @policy.title, "Policies" %>
<% meta_description @policy.summary %>

<div class="document_page <%= @document.type.downcase %>">
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render  partial: "documents/header", locals: {
                  document: @document,
                  header_title: 'Policy',
                  topics: @document.topics } %>
    </div>
  </header>

  <div class="block">
    <div class="inner-block">
      <div class="meta-three<% unless @show_navigation %> no-navigation<% end %>">
        <% if @show_navigation %>
          <%= render partial: "policy_navigation" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <%= render partial: "document_contextual" %>
      <%= national_statistics_logo(@document) %>
    </div>
  </div>
  <div class="block-3">
    <div class="inner-block">
      <%= render partial: "document_content" %>
      <% if @document.case_studies.any? %>
        <%= render partial: "case_studies/case_studies", locals: {case_studies: @document.case_studies} %>
      <% end %>
    </div>
  </div>
</div>
