<% page_title @policy.title, "Policies" %>
<%= render partial: "page_title" %>
<div class="document_page <%= @document.type.downcase %>">
  <div class="block-1">
    <div class="inner-block">
      <%= render partial: "document_metadata" %>
      <section class="page-header">
        <%= render partial: "title" %>
      </section>
      <section class="meta-three">
        <%= render partial: "document_related", locals: {
          document: @document
        } %>
        <%= render partial: "policy_navigation" %>
    </section>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <%= render partial: "document_contextual" %>
      <%= national_statistics_logo(@document) %>
    </div>
  </div>
  <div class="block-3">
    <div class="inner-block">
      <%= render partial: "document_content" %>
      <% if @document.case_studies.any? %>
        <%= render partial: "case_studies", locals: {document: @document} %>
      <% end %>
    </div>
  </div>
  <div class="block-4">
    <div class="inner-block">
    </div>
  </div>
</div>
