<% page_title @policy.title, "Policies" %>
<div class="g4 policy">
  <div class="g3">
    <section class="page_header">
      <h1>Policy definition</h1>
      <p>Everything you need to know about this policy</p>
    </section>
    
    <section>
      <h1 class="page_title has_meta"><%= @policy.title %></h1>
      <div class="meta g1f">
        <span class="metadata link-to-change-notes">
          Updated <%= time_ago(@policy.updated_at, class: 'updated_at') %>
        </span>

        <section class="change_notes">
          <h1>Policy change notes</h1>
          <ul>
            <% change_history(@policy).each do |edition| %>
              <li class="group">
                <%= time_ago(edition[:published_at], class: 'published_at') %>
                <p><%= edition[:change_note] %></p>
              </li>
            <% end %>
          </ul>
        </section>          
      </div>
        
      <div class="g2">
        <%= render partial: 'documents/inapplicable_nations', locals: { document: @policy } %>
      </div>  
    </section>
            
      <div class="g1f">
        <section class="contextual_info">
          <h1>Jump to section</h1>
          <nav class="policy_parts">
            <%= link_to_with_current @policy.title, public_document_path(@policy, anchor: 'policy_view') %>
            <% if govspeak_headers(@policy.body).any? || @related_news_articles.any? || @related_speeches.any? || @related_publications.any? || @related_consultations.any? %>
              <ol id="policy_sections">
                <% govspeak_headers(@policy.body).each do |header| %>
                  <li><%= link_to header.text, public_document_path(@policy, anchor: header.id) %></li>
                <% end %>
                <% if @related_news_articles.any? %><li><%= link_to "Related news", public_document_path(@policy, anchor: "related-news-articles") %></li><% end %>
                <% if @related_speeches.any? %><li><%= link_to "Related speeches", public_document_path(@policy, anchor: "related-speeches") %></li><% end %>
                <% if @related_publications.any? %><li><%= link_to "Related publications", public_document_path(@policy, anchor: "related-publications") %></li><% end %>
                <% if @related_consultations.any? %><li><%= link_to "Related consultations", public_document_path(@policy, anchor: "related-consultations") %></li><% end %>
              </ol>
            <% end %>
          </nav>

          <% if (supporting_pages = @policy.supporting_pages).any? %>
            <h2>Supporting detail</h2>
            <nav class="supporting_pages">
              <% supporting_pages.each do |supporting_page| %>
                <%= link_to_with_current supporting_page.title, policy_supporting_page_path(@policy.document_identity, supporting_page) %>
              <% end %>
            </nav>
          <% end %>
        </section>
      </div>

      <div class="g2 document_view">

        <article class="document has_notice">
          <div class="body">
            <%= govspeak_to_html @document.body, @document.images %>
          </div>

          <% if @related_news_articles.any? %>
            <section id="related-news-articles">
              <h1>Related news</h1>
              <ul>
                <% @related_news_articles.each do |related_document| %>
                  <%= content_tag_for :li, related_document do %>
                    <%= link_to related_document.title, public_document_path(related_document) %>
                  <% end %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @related_speeches.any? %>
            <section id="related-speeches">
              <h1>Related speeches</h1>
              <ul>
                <% @related_speeches.each do |speech| %>
                  <%= content_tag_for :li, speech do %>
                    <%= link_to speech.title, public_document_path(speech) %>
                  <% end %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @related_publications.any? %>
            <section id="related-publications">
              <h1>Related publications</h1>
              <ul>
                <% @related_publications.each do |related_document| %>
                  <%= content_tag_for :li, related_document do %>
                    <%= link_to related_document.title, public_document_path(related_document) %>
                  <% end %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @related_consultations.any? %>
            <section id="related-consultations">
              <h1>Related consultations</h1>
              <ul>
                <% @related_consultations.each do |related_document| %>
                  <%= content_tag_for :li, related_document do %>
                    <%= link_to related_document.title, public_document_path(related_document) %>
                  <% end %>
                <% end %>
              </ul>
            </section>
          <% end %>

        </article>
      </div>
    </div>
    
    <div class="g1">
      <% if @policy.organisations.any? %>
        <section id="document_organisations">
          <h1 class="visuallyhidden">Organisations</h1>
          <ul class="organisations">
          <% @policy.organisations.each do |organisation| %>
            <%= content_tag_for(:li, organisation, :class => organisation_logo_classes(organisation)) do %>
              <%= link_to organisation.name, organisation_path(organisation)  %>
            <% end %>
          <% end %>
          </ul>
        </section>
      <% end %>
    
      <% if @policy.ministerial_roles.any? %>
        <section id="document_ministers">
          <ul class="ministers">
            <h1 class="visuallyhidden">Ministers</h1>
            <% @policy.ministerial_roles.each do |role| %>
              <li>
                <h3 class="current_appointee"><%= link_to  role.current_person_name, role, class: "minister" %></h3>
                <p class="role"><%= role.name %></p>
              </li>
            <% end %>
          </ul>
        </section>
      <% end %>
      
      <% if @policy.policy_topics.any? %>
        <section id="document_topics">
          <h1>Topics</h1>
          <ul class="topics">
            <% @policy.policy_topics.each do |policy_topic| %>
              <li>
                <%= link_to policy_topic.name, policy_topic_path(policy_topic), class: "policy_topic", id: dom_id(policy_topic) %>
              </li>
            <% end %>
          </ul>
        </section>
      <% end %>
      
      <% if @policy.countries.any? %>
        <section id="document_countries">
          <h1>Countries this policy affects</h1>
          <ul class="countries">
          <% @policy.countries.each do |country| %>
            <li>
              <%= link_to country.name, country_path(country), class: "country", id: dom_id(country) %>
            </li>
          <% end %>
          </ul>
        </section>
      <% end %>
    
      <%= render partial: "documents/recently_changed_documents", object: @recently_changed_documents, locals: { title: "Latest on this policy" } %>
      
    </div>
</div>