<div class="g2"><%= render partial: 'document', locals: { document: @document } %></div>

<div class="g1">
  <%= render partial: 'topics', locals: { document: @document } %>

  <%= render partial: 'organisations', locals: { document: @document } %>

  <%= render partial: 'ministerial_roles', locals: { document: @document } %>

  <%= render partial: 'inapplicable_nations', locals: { document: @document } %>

  <% if @related_publications.any? %>
    <section id="related-publications">
      <h1>Related publications</h1>
      <ul>
        <% @related_publications.each do |related_document| %>
          <%= content_tag_for :li, related_document do %>
            <%= link_to related_document.title, public_document_path(related_document) %>
          <% end %>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @related_consultations.any? %>
    <section id="related-consultations">
      <h1>Related consultations</h1>
      <ul>
        <% @related_consultations.each do |related_document| %>
          <%= content_tag_for :li, related_document do %>
            <%= link_to related_document.title, public_document_path(related_document) %>
          <% end %>
        <% end %>
      </ul>
    </section>
  <% end %>
</div>
